<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:g="http://santander.com.br/functions">
                
<h:body style="padding-left: 5px; padding-right: 5px; padding-top: 5 px;"> 

	
    <h:form jsfc="h:form" id="mnu1">
    	<p:commandButton id="redirect" action="#{MenuMbsPrimeBBean.redirect}" style="display: none" immediate="true">
    		<p:inputText id="commandMenu" type="hidden" value=""/>
    	</p:commandButton>
    	    	
    	<p:tieredMenu style="width:200px" model="#{MenuMbsPrimeBBean.modelMenu}"></p:tieredMenu>
    	
    	<p:remoteCommand name="cadTramiteClean" action="#{tramiteMenuBean.cleanSession}" />
	</h:form>
</h:body>
</ui:composition>