<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/templates/template.xhtml">
	
		<ui:define name="content" >
 <h:head>
 </h:head>
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/theme.css.xhtml?ln=primefaces-luna-blue" />
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/fa/font-awesome.css.xhtml?ln=primefaces&amp;v=6.3-SNAPSHOT" />
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/css/sh.css.xhtml?ln=showcase" />
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/css/nanoscroller.css.xhtml?ln=showcase" />
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/css/primeflex.css.xhtml?ln=showcase" />
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/primeicons/primeicons.css.xhtml?ln=primefaces&amp;v=6.3-SNAPSHOT" />
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/components.css.xhtml?ln=primefaces&amp;v=6.3-SNAPSHOT" />
<link type="text/css" rel="stylesheet" href="https://www.primefaces.org/showcase/javax.faces.resource/css/layout.css.xhtml?ln=showcase" />
 <h:body>	
    <p:menubar>
    	<p:menuitem value="Liberação" url="#" icon="fa fa-key" />
    	<p:menuitem value="Consulta Solicitações" url="#" icon="fa fa-search" />
    	<p:menuitem value="Consulta Movimento" url="#" icon="fa fa-search" />
    </p:menubar>

	<h:form>
		<p:messages autoUpdate="true" />
		
	    <h:panelGrid columns="2" cellpadding="5">	        
	        <p:outputLabel for="dateMov" value="Data Movimento (mm/aaaa): "/>
	        <p:inputMask id="dateMov" value="#{arquivoRO.dateMov}" mask="99/9999" required="true">
	        	<p:clientValidator event="change" />
	        </p:inputMask>
	    	
		    <p:outputLabel for="area" value="Area " />
	        <p:selectOneMenu id="area" required="true" requiredMessage="Por favor escolha uma opção" value="#{arquivoRO.area}" effect="fold">
	            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
	            <f:selectItems value="#{arquivoRO.areas}" />
	        </p:selectOneMenu>
	        <p:commandButton value="Submit" id="btnSubmit"  validateClient="true" action="#{arquivoRO.btnSubmit}" />
        </h:panelGrid>
        <p:dialog id="dlg1" widgetVar="dlg1" minHeight="40">
		    <h:outputText value="Arquivo RO Liberado"/>
		</p:dialog>
	</h:form>
 </h:body>
 </ui:define>
 </ui:composition>