<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">
	
		<ui:define name="content" >
			
			<h:form 
			name="frmEventoDetalheCCredito" 
			id="frmEventoDetalheCCredito" 
			method="post">
		<p:inputText type="hidden" name="hdnCdCanal" id="hdnCdCanal" value="strCdCanal" />
		<p:inputText type="hidden" name="hdnSeqCartao" id="hdnSeqCartao" value="strSeqCartao" />
		<p:inputText type="hidden" name="hdnSeqEvento" id="hdnSeqEvento" value="strSeqEvento" />
		<p:inputText type="hidden" name="hdnSeqConta" id="hdnSeqConta" value="strSeqConta" />
		<table width="100%" border="0" style="background-color:red; color:White">
			<tr>
				<td colspan="2">Eventos > <!-- Request.Querystring("qsEvento") --> > <!-- Request.Querystring("qsCanal") -->
				</td>
				<td><b>Nï¿½ OS:&nbsp;&nbsp;<!-- strNrSeqOs --></b></td>
			</tr>
			<tr>
				<td colspan="6"><b>Detalhes do Cartï¿½o de Crï¿½dito</b></td>
			</tr>
			<tr>
				<td><b>Titular:&nbsp;&nbsp;<!-- strTitular  --></b></td>
				<td><b>Nï¿½ Cartï¿½o:&nbsp;&nbsp;<!-- strCartao --></b></td>
				<td><b>CPF/CNPJ:&nbsp;&nbsp;<!-- strCPF_CNPJ --></b></td>
			</tr>
			<tr style="background-color: red; height:1px;">
				<td colspan="8"></td>
			</tr>
		</table>
		<table>
			<tr style="height:3px">
				<td></td>
			</tr>
		</table>
		<!-- DADOS INICIAIS -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color:red; height:1px">
				<td></td>
			</tr>
			<tr style="background-color:red; color:White; height:20px">
				<td valign="middle">
					&nbsp;<h:graphicImage align="absmiddle" src="../images/seta_vermelha.gif" /> &nbsp;<b>Dadoss 
						Iniciais</b>
				</td>
			</tr>
		</table>
		<p:fieldset>
			<table width="100%" border="0">
				<tr>
					<td width="17%">Data Emissao:</td>
					<td width="18%"><p:inputText styleClass="txtReadyOnly" id="txtDtEmissao" name="txtDtEmissao" type="text" style="width:80px" value="strDtEmissao"
										   readonly="true"/></td>
					<td width="23%">Data Ativaï¿½ï¿½o:</td>
					<td width=""><p:inputText styleClass="txtReadyOnly" id="txtDtAtivacao" name="txtDtAtivacao" type="text" style="width:80px" value="strDtAtivacao" readonly="true"/></td>
				</tr>
				<tr>
					<td width="">Data Cancelamento:</td>
					<td><p:inputText styleClass="txtReadyOnly" 
							   id="txtDtCancelamento" 
							   name="txtDtCancelamento"
							   type="text" 
							   style="width:80px" 
							   value="strDtCancel"
							   readonly="true"/></td>
					<td>Log Colaborador Solicitante:</td>
					<td><p:inputText styleClass="txtReadyOnly" 
							   id="txtLogColaborador"
							   name="txtLogColaborador" 
							   type="text" 
							   style="width:80px" 
							   value="strLoginColab"
							   readonly="true"/></td>
				</tr>
				<tr>
					<td>Endereï¿½o Enviado:</td>
					<td colspan="3"><p:inputText styleClass="txtReadyOnly" 
										   id="txtEndEnviado" 
										   name="txtEndEnviado"
										   type="text" 
										   style="width:250px" 
										   value="#{pessoa.strEndEnviado}"
										   readonly="true"/></td>
				</tr>
			</table>
			<hr style="color:gray" />
			<table>
				<tr>
                    <td width="23%">styleClassifica&ccedil;&atilde;o da Fraude </td>
                    <td>
                      <select
								name="CboClafFrau" 
								id="CboClafFrau" 
								onchange="MostraDivCboClafFrau('CboClafFrau','divCSegClafFrau')">
                       <!-- fnCarregaClafFrau() --> 
                      </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="divCSegClafFrau"><!-- style="display:<%if CInt("0" & intFragClafFrau) <> CInt("1") then Response.Write "none" End If" -->
                         
			                <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p:fieldset style="font-weight:strong" legend="Ponto de Venda">
                                        <table width="" border="0">
                                            <tr>
                                            <td  width="60">No. PV:</td>
                                                <td>
                                                    <p:inputText 
															id="txtAgenClieAjud" 
															name="txtAgenClieAjud" 
															type="text" 
															style="width:60px" 
															maxlength="4" 
															onKeyPress="BlockKeybord()" 
															value="strAgenClieAjud
													"/>&nbsp;&nbsp;</td>
                                                <td>    
                                                    <h:graphicImage 
														id="imgPV" 
														src="imagens/lupa.gif" 
														style="cursor:hand" 
														alt="Pesquisar" 
														onClick="PesquisarPV()" 
														/></td>
                                            </tr>
                                        </table>
                                        <table id="tbPV" width="100%" border="0" cellpadding="0" cellspacing="0">    
                                            <tr height="20" style="background:gray; color:White; font-weight:bold">
                                                <td width="20%">&nbsp;Rede</td>
                                                <td width="40%">Regional</td>
                                                <td width="">PV</td>
                                            </tr>    
                                            
                                        </table>
                                        <p:inputText 
											id="txtHdCD_UOR" 
											name="txtHdCD_UOR" 
											type="hidden" 
											/>
                                        <p:inputText 
											id="txtHdNM_UOR" 
											name="txtHdNM_UOR" 
											type="hidden" 
											/>
                                        <p:inputText 
											id="txtHdTP_UOR" 
											name="txtHdNM_UOR" 
											type="hidden" 
											/>
                                        </p:fieldset>        
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                  </tr>
			</table>
		</p:fieldset>
		<table>
			<tr style="height:3px">
				<td></td>
			</tr>
		</table>
		<!-- EXTRATO -->
			<table width="100%" border="0" cellpadding="1" cellspacing="1" id="Table1">
				<tr style="background-color:red; height:1px">
					<td></td>
				</tr>
				<tr style="background-color:red; color:White; height:20px">
					<td valign="middle">
						&nbsp;<h:graphicImage align="absmiddle" src="imagens/seta_vermelha.gif" /> &nbsp;<b>Extrato</b>
					</td>
				</tr>
			</table>
			<p:fieldset styleClass="PanelTitle">
				<table id="Table2">
					<tr>
						<td>Nï¿½ Conta:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
								   id="txtNrConta" 
								   name="txNrConta"
								   value="strConta"
								   type="text" 
								   readonly="true"
								   /></td>
						<td>Tipo Conta:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
									id="txtTpConta" 
									name="txtTpConta"
									type="text" 
									value="strTpConta"
									readonly="true"
									/></td>
					</tr>
					<tr>
						<td>Data Abertura:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
						           id="txtDtAbertura" 
						           name="txtDtAbertura" 
						           type="text" 
						           value="strDtAbertura"
						           readonly="true"
								   /></td>
						<td>Gerente:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
								   id="txtNmGerente" 
								   name="txtNmGerente" 
								   type="text" 
								   value="strNmGerente"
								   readonly="true"
								   /></td>
					</tr>
				</table>
			</p:fieldset>
		<table id="Table3">
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>
		<!-- FRAGILIZAï¿½ï¿½O  -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color:red; height:1px">
				<td></td>
			</tr>
			<tr style="background-color:red; color:White; height:20px">
				<td valign="middle">
					&nbsp;<h:graphicImage align="absmiddle" src="imagens/seta_vermelha.gif" /> &nbsp;<b>Fragilizaï¿½ï¿½o 
						do Cartï¿½o de Crï¿½dito (POC)</b>
				</td>
			</tr>
		</table>
		<p:fieldset>
			<table>
				<tr>
					<td>Local:<br />
						<select
							id="cboLocal" 
							name="cboLocal" 
							onchange="MostraDivCbo('cboLocal','divFragil')">
							<!-- fnCarregaLocaFragil()	 -->
						</select>
					</td>
				</tr>
			</table>
			<div id="divFragil"> <!-- style="<%if CInt("0" & intFragLocal) = 0 Then Response.Write "display:none" End If"> -->
				<table>
					<tr>
						<td>Horï¿½rio Compreendido:</td>
						<td colspan="3">
							<p:inputText id="txtHrCompInicio" 
							       name="txtHrCompInicio" 
							       type="text" 
							       style="width:40px"
							       maxlength="4"
							       onkeypress="BlockKeybord()"
							       onBlur="return fnValidaHora(this)"
							       value="strFragHrInicio"
								   />&nbsp;ï¿½&nbsp; 
							<p:inputText id="txtHrCompFinal" 
							       name="txtHrCompFinal" 
							       type="text" 
							       style="width:40px"
							       maxlength="4"
							       onkeypress="BlockKeybord()"
							       onBlur="return fnValidaHora(this)"
							       value="strFragHrFinal"
								   />
						</td>
					</tr>
					<tr>
						<td>Cï¿½digo Agï¿½ncia:</td>
						<td><p:inputText id="txtCodAgencia" 
						           name="txtCodAgencia" 
						           type="text" 
						           maxlength="4"
						           style="width:40px"
						           value="strFragCodAgen"
								   /></td>
						<td>Descriï¿½ï¿½o Agï¿½ncia:</td>
						<td><p:inputText id="txtDescrAgencia" 
						           name="txtDescrAgencia" 
						           type="text" 
						           maxlength="30"
						           style="width:130px"
						           value="strFragNmAgen"/></td>
					</tr>
					<tr>
						<td>Data Ocorrï¿½nia POC:</td>
						<td><p:inputText id="txtDtOcorrencia" 
						           name="txtDtOcorrencia" 
						           type="text" 
						           value="strFragDtOcorr"
						           readonly="true"
								   />&nbsp;
						           <h:graphicImage 
										align="absbottom" 
										src="imagens/calendario.gif" 
										alt="Calendario" 
										style="cursor:hand;" 
										onclick="displayCalendar(document.forms[0].txtDtOcorrencia,'dd/mm/yyyy',this)"
										/></td>
						<td>Nï¿½ Terminal:</td>
						<td><p:inputText id="txtNrTerminal" 
						           name="txtNrTerminal" 
						           type="text" 
						           onkeypress="BlockKeybord()"
						           maxlength="6"
						           value="strFragNrTerm"
								   /></td>
					</tr>
					<tr>
						<td>Possui Sensor:</td>
						<td>
							<select
								id="cboSensor" 
								name="cboSensor">
								<option 
									value="0" >
									<!-- <%if CBool(blnFragSensor) = False Then response.Write "selected" End If> -->
									Nï¿½o
								</option>
								<option 
									value="1" >
									<!-- <%if CBool(blnFragSensor) = True Then response.Write "selected" End If>  -->
									Sim
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Outros:</td>
						<td><p:inputText id="txtOutros" 
						           name="txtOutros" 
						           type="text" 
						           maxlength="30"
						           value="strFragOutros"
								   /></td>
					</tr>
				</table>
			</div>
		</p:fieldset>
		<table>
			<tr style="height:3px">
				<td></td>
			</tr>
		</table>
		<!-- DADOS DO LOCAL DA FRAUDE -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color:red; height:1px">
				<td></td>
			</tr>
			<tr style="background-color:red; color:White; height:20px">
				<td valign="middle">
					&nbsp;<h:graphicImage align="absmiddle" src="imagens/seta_vermelha.gif" /> &nbsp;<b>Local 
						da Fraude</b>
				</td>
			</tr>
		</table>
		<p:fieldset>
			<table width="100%" border="0">
				<tr>
					<td width="15%">Local da Ocorrï¿½ncia:</td>
					<td width="18%"><p:inputText id="txtFraudeLocal" 
					                       name="txtFraudeLocal"
					                       type="text" 
					                       style="width:180px" 
					                       maxlength="30"
					                       value="strLocalFraude"/></td>
										<td width="">Valor:</td>
					<td><p:inputText id="txtFraudeValor"
					           name="txtFraudeValor" 
					           type="text" 
					           style="width:80px;text-align:right" 
					           onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
					           maxlength="14"
					           value="strValorFraude"/></td>
                       
				</tr>
				<tr>
					<td >Data:</td>
					<td><p:inputText id="txtFraudeDt"
					            name="txtFraudeDt" 
					            type="text" 
					            style="width:80px" 
					            value="strDtFraude"
					            readonly="true"
								/>&nbsp;
								<h:graphicImage 
								align="absbottom" 
								src="imagens/calendario.gif" 
								alt="Calendario" 
								style="cursor:hand;" 
								onclick="displayCalendar(document.forms[0].txtFraudeDt,'dd/mm/yyyy',this);"
								/></td>

					<td>Saldo Devedor:</td>
					<td><p:inputText id="txtFraudeSldDevedor"
					           name="txtFraudeSldDevedor" 
					           type="text" 
					           style="width:80px;text-align:right" 
					           onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
					           maxlength="14"
					           value="strSldDevFraude"/></td>
				</tr>
				<tr>
					<td>Estabelecimentos:</td>
					<td colspan="3"><p:inputText id="txtFraudeEstab"
					                       name="txtFraudeEstab" 
					                       type="text" 
					                       style="width:270px" 
					                       maxlength="30"
					                       value="strEstabFraude"/></td>
				</tr>
			</table>
		</p:fieldset>
		
		
		
		<!--#include file="../Inc/HY_Contestacao.inc"-->
		</h:form>
			
			
		</ui:define>
		
		
</ui:composition> 