<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">
    <h:body>
  
        <ui:composition template="/template/template.xhtml">
  
            <ui:define name="content">
                Aqui é onde deve ser inserido as paginas que forem desenvolvi
            </ui:define>
  
        </ui:composition>
  
    </h:body>
  
</html>