<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title>HY - Ocorrências Especiais</title>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_calendar.css" media="screen" />
	<h:outputScript name="javascript/hy_calendario.js" />
	<h:outputScript name="javascript/hy_funcoes.js" />
	<h:outputScript name="javascript/formchek.js" />
	<script type="text/javascript">
		//<![CDATA[
			/* parent.parent.rodape.location.replace('HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar@Voltar/Voltar');*/
			
			window.onload = function ()
			{
				AtualizaTotais();
				CarregaTblContaIP();
			}
			
			function Resize()
			{
				window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;	
			}
					
			 function Voltar()
			 {
				history.back();
			 }
					
			function MostraDivCbo(strIdObj, strDivId1)
			{
				var cbo = document.getElementById(strIdObj);
				var div1 = document.getElementById(strDivId1);
			    
				if(cbo || div1)
					if(cbo.value == 0)
						div1.style.display = 'none';            
					else
						div1.style.display = 'block';           
			     
			     
				Resize();       
			}
			
			function CarregaTblContaIP()
			{
				RemoveContas();
				
				var strRetorno;
				var strXML;
				var xmlHTTP;
				var arrLinhas;
				var arrColunas;
				
				xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				xmlHTTP.Open('POST', 'HY_CadastroOs_IBanking_exe.asp?TpAcao=Consultar', false);
				strXML = '<root>' +
				  		 '<CANAL>#{cadastroOsIbankingBean.strNrSeqId}</CANAL>' +
						 '</root>';
				
				xmlHTTP.Send(strXML);
				strRetorno = xmlHTTP.responseText;
				arrLinhas = strRetorno.split("|");
					
				var j = 0;
					
				while (j < arrLinhas.length)
				{	
					if (arrLinhas[j] != "")
					{
					
						arrColunas = arrLinhas[j].split(";");
						
						var tbl   = document.getElementById('TblContaIP');
						var linhaAtual = tbl.rows.length;
						var linha = tbl.insertRow(linhaAtual);
						var coluna = linha.insertCell(0);
							    
						if ((linhaAtual - 1)%2!=0)coluna.setAttribute("className", "TTT");                
						coluna.setAttribute("align", "left");
						coluna.innerHTML = '<p:inputText   name="txtContaIP" id="txtContaIP" maxlength="10" onkeypress="BlockKeybord()" value="' + arrColunas[1] + '" readonly="true" />' +
										   '&nbsp;<h:graphicImage height="17" style="cursor:hand" align="absmiddle" src="../images/btn_excluir_ib.gif" alt="Excluir" onclick="ExcluirConta(' + arrColunas[0] + ', ' + arrColunas[1] + ', ' + linhaAtual + ');" />';
			
			
					}
					j+=1;
				}
				Resize();
			}
			
			function InsereConta()
			{
				var tbl   = document.getElementById('TblContaIP');
				var linhaAtual = tbl.rows.length;
				var linha = tbl.insertRow(linhaAtual);
				var coluna = linha.insertCell(0);
					if ((linhaAtual - 1)%2!=0)coluna.setAttribute("className", "TTT");                
					coluna.setAttribute("align", "left");
					coluna.innerHTML = '<p:inputText   name="txtContaIP" id="txtContaIP" maxlength="10" onkeypress="BlockKeybord()" value="" />';
				Resize();
			}    
			
			function RemoveContas()
			{
				var tbl   = document.getElementById('TblContaIP');
				
				var qtdLinhas = tbl.rows.length;
				for(var i=0;i<=qtdLinhas;i++)
				{
					if (tbl.rows.length > 0)
					{
						tbl.deleteRow(0);
					}		
				}
				
				var linhaAtual = tbl.rows.length;
				var linha = tbl.insertRow(linhaAtual);
				var coluna = linha.insertCell(0);
				
				coluna.style.cssText = "width:20%; background:gray; color:White; font-weight:bold";
				coluna.setAttribute("align", "left");
				coluna.innerHTML = 'Contas';
				
				var coluna = linha.insertCell(1);
				coluna.setAttribute("align", "left");
				coluna.innerHTML = '<p:inputText id="btnAdicionar" type="button" value="Adicionar" onclick="InsereConta()" name="btnAdicionar"/>';
			}
			
			function ExcluirConta(Canal, Conta, linha)
			{
				var strRetorno;
				var strXML;
				var xmlHTTP;
				
				xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				xmlHTTP.Open('POST', 'HY_CadastroOs_IBanking_exe.asp?TpAcao=Excluir', false);
				strXML = '<root>' +
							'<CANAL>' + Canal + '</CANAL>' +
							'<CONTA>' + Conta + '</CONTA>' +
						  '</root>';
				
				xmlHTTP.Send(strXML);
				
				strRetorno = xmlHTTP.responseText;
			
				var tbl   = document.getElementById('TblContaIP');
				tbl.deleteRow(linha);
				
				Resize();
				
			}
			
			function SalvarAjax()
			{
				var strRetorno;
				var strXML;
				var xmlHTTP;
				var strContaIP = "";
				
				var intI = document.getElementsByName("txtContaIP").length;
				
				if (intI > 0){
					if (intI == 1)
					{
						strContaIP = document.forms[0].txtContaIP.value;
					}
					else{
						for (var i = 0; i<intI; i++)
						{
							strContaIP = strContaIP + document.forms[0].txtContaIP[i].value + "|"; 
						}
					}	
				}	
					
				xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				xmlHTTP.Open('POST', 'HY_CadastroOs_IBanking_exe.asp?TpAcao=Salvar', false);
				strXML = '<root>' +
							'<FRAUCANAL><#{cadastroOsIbankingBean.strNrSeqId}></FRAUCANAL>' +
							'<CONTAIP>' + strContaIP + '</CONTAIP>' +
							'<SEQCONTA><#{cadastroOsIbankingBean.cadastroOsIbankingObj.strSeqConta}></SEQCONTA>' +
							'<SEQCARTAO><#{cadastroOsIbankingBean.cadastroOsIbankingObj.strSeqCartao}></SEQCARTAO>' +
							'<CANAL><#{cadastroOsIbankingBean.cadastroOsIbankingObj.strCdCanal}></CANAL>' +
							'<SEQEVENTO><#{cadastroOsIbankingBean.cadastroOsIbankingObj.strSeqEvento}></SEQEVENTO>' +
							'<INTECOML>' + document.forms[0].chkInteresseCml.value + '</INTECOML>' +
							'<IPCLIENTE>' + document.forms[0].txtIPCliente.value + '</IPCLIENTE>' +
							'<IPFRAUDE>' + document.forms[0].txtIPFraude.value + '</IPFRAUDE>' +
							'<CRTOSEG>' + document.forms[0].cboCSeg.value + '</CRTOSEG>' +
							'<DTSOLI>' + document.forms[0].txtDtSolicCrto.value + '</DTSOLI>' +
							'<DTCANC>' + document.forms[0].txtDtCancCrto.value + '</DTCANC>' +
							'<DTATIV>' + document.forms[0].txtDtAtivCrto.value + '</DTATIV>' +
							'<DTFRAUDE>' + document.forms[0].txtDtFrauCrto.value + '</DTFRAUDE>' +
							'<POPUP>' + document.forms[0].cboPopup.value + '</POPUP>' +
							'<AGENCIA><#{cadastroOsIbankingBean.cadastroOsIbankingObj.strAgencia}></AGENCIA>' +
			                '<QTDEOCOR>' + document.forms[0].txtQtdeOcor.value + '</QTDEOCOR>' +
							
							'<CTORIGEM>' + document.forms[0].txtQtdeOcor.value + '</CTORIGEM>' +
							'<CTDESTINO>' + document.forms[0].txtQtdeOcor.value + '</CTDESTINO>' +
							'<CTOPER>' + document.forms[0].txtQtdeOcor.value + '</CTOPER>' +
						 '</root>';
				
				xmlHTTP.Send(strXML);
				strRetorno = xmlHTTP.responseText;
				
				if (strRetorno == "True")
				{
					alert("Detalhe Salvo com sucesso.");
					CarregaTblContaIP();
					parent.window.scrollTo(0,0);
			
				}	
				else
				{
					if (confirm("Ocorreu um problema ao salvar o Detalhe. Deseja visualiza-lo?"))
						alert(strRetorno);
				}		
			}
			
			function ValidaDatas(obj)
			{
			    
			    var arrDtSolicCrto = new Array(); 
			    var arrDtCancCrto = new Array();
			    var arrDtAtivCrto = new Array();
			    var arrDtFrauCrto = new Array();
			    
			    // Data de Solicitação
			    if (obj.id == 'txtDtSolicCrto')
			    {
			        arrDtSolicCrto = document.forms[0].txtDtSolicCrto.value.split('/');                    
			        arrDtAtivCrto = document.forms[0].txtDtAtivCrto.value.split('/');
			                            
			        if((parseInt(arrDtSolicCrto[2] + arrDtSolicCrto[1] + arrDtSolicCrto[0])) > (parseInt(arrDtAtivCrto[2] + arrDtAtivCrto[1] + arrDtAtivCrto[0])))
			        {
			            alert('Data inválida!\nA data da solicitação deve ser menor ou igual à data de ativação!');
			            obj.value = '';
			            obj.focus();            
			            return false;          
			        }
			    }
			    
			    // Data de Ativação
			    if (obj.id == 'txtDtAtivCrto')
			    {
			        arrDtSolicCrto = document.forms[0].txtDtSolicCrto.value.split('/');                    
			        arrDtAtivCrto = document.forms[0].txtDtAtivCrto.value.split('/');
			
			        if ((parseInt(arrDtAtivCrto[2] + arrDtAtivCrto[1] + arrDtAtivCrto[0])) < (parseInt(arrDtSolicCrto[2] + arrDtSolicCrto[1] + arrDtSolicCrto[0]))) 
			        {
			            alert('Data inválida!\nA data de ativação deve ser maior ou igual à data de solicitação!');
			            obj.value = '';
			            obj.focus();            
			            return false;                              
			        }
			    }
			    
			    // Data de Cancelamento
			    if (obj.id == 'txtDtCancCrto')
			    {
			        arrDtCancCrto = document.forms[0].txtDtCancCrto.value.split('/');
			        arrDtAtivCrto = document.forms[0].txtDtAtivCrto.value.split('/');                                                
			        
			        if ((parseInt(arrDtCancCrto[2] + arrDtCancCrto[1] + arrDtCancCrto[0])) < (parseInt(arrDtAtivCrto[2] + arrDtAtivCrto[1] + arrDtAtivCrto[0]))) 
			        {
			            alert('Data inválida!\nA data do cancelamento deve ser maior ou igual à data de ativação!');
			            obj.value = '';
			            obj.focus();            
			            return false;                              
			        }
			    }
			    
			    // Data Fraude
			    if (obj.id == 'txtDtFrauCrto')
			    {
			        arrDtAtivCrto = document.forms[0].txtDtAtivCrto.value.split('/');                                                
			        arrDtFrauCrto = document.forms[0].txtDtFrauCrto.value.split('/');                        
			        
			        if ((parseInt(arrDtFrauCrto[2] + arrDtFrauCrto[1] + arrDtFrauCrto[0])) < (parseInt(arrDtAtivCrto[2] + arrDtAtivCrto[1] + arrDtAtivCrto[0]))) 
			        {
			            alert('Data inválida!\nA data da fraude deve ser maior ou igual à data de ativação!');
			            obj.value = '';
			            obj.focus();            
			            return false;                              
			        }
			    }
			    
			}
			
			function Salvar()
			{
				SalvarOperacao();
				SalvarAjax();
			}
		
		//]]>
	</script>
</h:head>
<h:body styleClass="PanelTitle">
	<h:form name="frmEventoDetalheIBanking" id="frmEventoDetalheIBanking"
		method="post">
		<p:panelGrid width="100%" border="0"
			style="background-color: red; color: White" id="Table1">
			<p:row>
				<p:column colspan="2">Eventos > #{param['qsEvento']}
					> #{param['qsCanal']}
				</p:column>
				<p:column><b>No OS:&#xA0;&#xA0;#{cadastroOsIbankingBean.cadastroOsIbankingObj.strNrSeqOs}</b></p:column>
			</p:row>
			<p:row>
				<p:column colspan="6"><b>Detalhes InternetBanking</b></p:column>
			</p:row>
			<p:row>
				<p:column><b>Titular:&#xA0;&#xA0;#{cadastroOsIbankingBean.cadastroOsIbankingObj.strTitular}</b></p:column>
				<p:column><b>CPF/CNPJ:&#xA0;&#xA0;#{cadastroOsIbankingBean.cadastroOsIbankingObj.strCPF_CNPJ}</b></p:column>
				<p:column><b>N Conta:&#xA0;&#xA0;#{cadastroOsIbankingBean.cadastroOsIbankingObj.strConta}</b></p:column>
			</p:row>
			<p:row>
				<p:column><b>IP Cliente:&#xA0;&#xA0;<p:inputText
							name="txtIPCliente" id="txtIPCliente" maxlength="15"
							value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.strIPCliente}" />
				</b></p:column>
				<p:column><b>IP Fraude:&#xA0;&#xA0;<p:inputText
							name="txtIPFraude" id="txtIPFraude" maxlength="15"
							value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.strIPFraude}" />
				</b></p:column>
			</p:row>
		</p:panelGrid>

		<p:panelGrid>
			<p:row style="height: 3px">
				<p:column></p:column>
			</p:row>
		</p:panelGrid>

		<!-- Contas Acessadas  -->
		<p:panelGrid width="100%" border="0" cellpadding="1" cellspacing="1">
			<p:row style="background-color: red; height: 1px">
				<p:column></p:column>
			</p:row>
			<p:row style="background-color: red; color: White; height: 20px">
				<p:column valign="middle">&#xA0;<h:graphicImage align="absmiddle"
						library="images" name="seta_vermelha.gif" /> &#xA0;<b>Contas Acessadas Pelo IP Fraudador</b>
				</p:column>
			</p:row>
		</p:panelGrid>
		<p:panelGrid id="TblContaIP" name="TblContaIP" width="100%"></p:panelGrid>
		<hr style="color: gray" />
		<p:panelGrid>
			<p:row>
				<p:column>
					<p:selectBooleanCheckbox id="chkInteresseCml" name="chkInteresseCml" value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.blnInteComl}" label="Interesse Comencial." />
				</p:column>
			</p:row>

		</p:panelGrid>

		<p:panelGrid>
			<p:row style="height: 3px">
				<p:column></p:column>
			</p:row>
		</p:panelGrid>
		<!-- CARTAO DE SEGURANÇA  -->
		<p:panelGrid width="100%" border="0" cellpadding="1" cellspacing="1"
			id="Table4">
			<p:row style="background-color: red; height: 1px">
				<p:column></p:column>
			</p:row>
			<p:row style="background-color: red; color: White; height: 20px">
				<p:column valign="middle">&#xA0;<h:graphicImage align="absmiddle"
						library="images" name="seta_vermelha.gif" /> &#xA0;<b>Cartão de
						Segurança</b>
				</p:column>
			</p:row>
		</p:panelGrid>
		<p:panelGrid width="auto" border="0" id="Table2">
			<p:row>
				<p:column>Cliente tem Cartão de Segurança?</p:column>
				<p:column>
					<p:selectOneMenu id="cboCSeg" value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.blnCrtoSegr ? 1 : 0}" onchange="MostraDivCbo('cboCSeg','divCSeg')" name="cboCSeg">
			            <f:selectItem itemLabel="Não" itemValue="0" />
			            <f:selectItem itemLabel="Sim" itemValue="1" />
			        </p:selectOneMenu>
				</p:column>
			</p:row>
		</p:panelGrid>
		<div id="divCSeg" style="display: #{cadastroOsIbankingBean.cadastroOsIbankingObj.blnCrtoSegr ? 'none' : ''}">
			<p:panelGrid width="100%" border="0" ID="Table3">
				<p:row>
					<p:column width="17%">Data de Solicitação:</p:column>
					<p:column width="10%"><p:inputText id="txtDtSolicCrto"
							style="width:50px" name="txtDtSolicCrto"
							value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.strDtSoliCrto}"
							onchange="ValidaDatas(this)" readonly="true" />&#xA0; <h:graphicImage
							align="absbottom" library="images" name="calendario.gif"
							alt="Calendario" style="cursor:hand;"
							onclick="displayCalendar(document.getElementById ('txtDtSolicCrto'),'dd/mm/yyyy',this)" />
					</p:column>
					<p:column width="20%">Data de Cancelamento:</p:column>
					<p:column><p:inputText id="txtDtCancCrto" style="width:50px"
							name="txtDtCancCrto" value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.strDtCancCrto}"
							onchange="ValidaDatas(this)" readonly="true" />&#xA0; <h:graphicImage
							align="absbottom" library="images" name="calendario.gif"
							alt="Calendario" style="cursor:hand;"
							onclick="displayCalendar(document.getElementById ('txtDtCancCrto'),'dd/mm/yyyy',this)" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>Data de Ativação:</p:column>
					<p:column><p:inputText id="txtDtAtivCrto" style="width:50px"
							name="txtDtAtivCrto" value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.strDtAtivCrto}"
							onchange="ValidaDatas(this)" readonly="true" />&#xA0; <h:graphicImage
							align="absbottom" library="images" name="calendario.gif"
							alt="Calendario" style="cursor:hand;"
							onclick="displayCalendar(document.getElementById ('txtDtAtivCrto'),'dd/mm/yyyy',this)" />
					</p:column>
					<p:column>Data 1a. Fraude:</p:column>
					<p:column><p:inputText id="txtDtFrauCrto" style="width:50px"
							name="txtDtFrauCrto" value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.strDtFrauCrto}"
							onchange="ValidaDatas(this)" readonly="true" />&#xA0; <h:graphicImage
							align="absbottom" library="images" name="calendario.gif"
							alt="Calendario" style="cursor:hand;"
							onclick="displayCalendar(document.getElementById ('txtDtFrauCrto'),'dd/mm/yyyy',this)" />
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="4">Cliente Informou popup?&#xA0;&#xA0;
						<p:selectOneMenu name="cboPopup" id="cboPopup" value="#{cadastroOsIbankingBean.cadastroOsIbankingObj.intInfrPopup}">
				            <f:selectItem itemLabel="Selecione..." itemValue="0" />
				            <f:selectItem itemLabel="Informou" itemValue="1" />
				            <f:selectItem itemLabel="Não Informou" itemValue="2" />
				            <f:selectItem itemLabel="Não Contatado" itemValue="3" />
				            <f:selectItem itemLabel="Não Detectado" itemValue="4" />
				        </p:selectOneMenu>
					</p:column>
				</p:row>
			</p:panelGrid>
		</div>

		<p:panelGrid>
			<p:row style="height: 3px">
				<p:column></p:column>
			</p:row>
		</p:panelGrid>
		<!--#include file="../Inc/HY_Contestacao.inc"-->
	</h:form>
</h:body>
</ui:define></ui:composition>
