<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
    <title>HY - Ocorrências Especiais</title>
    <h:outputStylesheet name="css/hy_style.css" media="screen" />
    <h:outputScript name="javascript/hy_funcoes.js" />
   	<script type="text/javascript">
	//<![CDATA[
		function Pesquisar()
		{
		    document.forms['frmPesqPart'].submit();
		}
	//]]>
	</script>
</h:head>
<h:body class="PanelTitle">
<h:form id="frmPesqPart" action="HY_CadastroOs_PesquisaColaborador.asp" method="post">
<p:panelGrid style="background-color:red; color:white; width:100%; border:0">
    <p:row>
        <p:column style="colspan:6">Participação do Processo > Adicionar Pessoa Envolvida</p:column>
    </p:row>
    <p:row>
        <p:column><b>Filtros para Pesquisa</b></p:column>
        <p:column><b>No da OS:&#160;&#160;2007000000</b></p:column>
    </p:row>
    <p:row style="background-color: red; height:1px;"><p:column style="colspan:8"></p:column></p:row>    
</p:panelGrid>
<fieldset class="PanelTitle" style="width:100%">
<p:panelGrid style="border:0; width:auto;">
    <p:row>
        <p:column>Tipo Colaborador:</p:column>
        <p:column>
	        <p:selectOneMenu id="cboColaborador" value="">
	            <f:selectItem itemLabel="..." itemValue="0" />
	            <f:selectItem itemLabel="Funcionário" itemValue="1" />
	            <f:selectItem itemLabel="Estagiário" itemValue="2" />
	            <f:selectItem itemLabel="Prestador de Serviços" itemValue="3" />
	        </p:selectOneMenu>
        </p:column>
    </p:row>
    <p:row>
        <p:column>No Matrícula:</p:column>
        <p:column><p:inputText id="Text4"   style="width:75px;" /></p:column>
        <p:column>Nome:</p:column>
        <p:column><p:inputText id="Text6"   style="width:250px;"/></p:column>        
    </p:row>
    <p:row>
        <p:column>CPF:</p:column>
        <p:column><p:inputText id="Text1"   style="width:75px;" /></p:column>    
        <p:column style="align:right; colspan:3"><p:button id="Button10" type="button" value="Pesquisar" onclick="teste();"/>  </p:column>
    </p:row>    
</p:panelGrid>
<p:panelGrid style="width:100%;"><p:row style="background:gray; height:1px"><p:column style="colspan:4;"></p:column></p:row></p:panelGrid>
<p:panelGrid><p:row style="height:3px"><p:column ></p:column></p:row></p:panelGrid>
<p:panelGrid style="border:0; width:100%;">
    <p:row style="background-color:gray; color:white">
        <p:column style="width:16%"><b>CPF</b></p:column>
        <p:column style="width:12%"><b>Matrícula</b></p:column>
        <p:column style="width:34%"><b>Colaborador</b></p:column>
        <p:column><b>Tipo Colaborador</b></p:column>
        <p:column style="colspan:2"><b>Participação</b></p:column>
    </p:row>
    <p:row>
        <p:column>000.333.555-888</p:column>
        <p:column>03216532</p:column>
        <p:column>Ricardo de Andrade Seron Cardenas</p:column>
        <p:column>Prest. Serviço</p:column>
        <p:column>
	        <p:selectOneMenu id="Select1" value="">
	            <f:selectItem itemLabel="Envolvido" itemValue="" />
	            <f:selectItem itemLabel="Informante" itemValue="" />
	            <f:selectItem itemLabel="Reclamante" itemValue="" />
	            <f:selectItem itemLabel="Reclamado/Lesado" itemValue="" />
	        </p:selectOneMenu>
        </p:column>
        <p:column style="align:right"><p:button id="Button1" type="button" value="+" style="width:20px; text-align:center"/></p:column>
    </p:row>
    <p:row>
        <p:column>000.333.555-888</p:column>
        <p:column>654655</p:column>
        <p:column>João da Silva</p:column>
        <p:column>Funcionário(a)</p:column>
        <p:column>
            <select id="Select4">
                <option>Envolvido</option>
                <option>Informante</option>
                <option>Reclamante</option>
                <option>Reclamado/Lesado</option>
            </select>
        </p:column>
        <p:column style="align:right"><p:button id="Button2" type="button" value="+" style="width:20px; text-align:center"/></p:column>
    </p:row>
    <p:row>
        <p:column>000.333.555-888</p:column>
        <p:column>8465213</p:column>
        <p:column>João Pereira</p:column>
        <p:column>Estagiário(a)</p:column>
        <p:column>
	        <p:selectOneMenu id="Select2" value="">
	            <f:selectItem itemLabel="Envolvido" itemValue="" />
	            <f:selectItem itemLabel="Informante" itemValue="" />
	            <f:selectItem itemLabel="Reclamante" itemValue="" />
	            <f:selectItem itemLabel="Reclamado/Lesado" itemValue="" />
	        </p:selectOneMenu>
        </p:column>
        <p:column style="align:right"><p:button id="Button3" type="button" value="+" style="width:20px; text-align:center"/></p:column>
    </p:row>
</p:panelGrid>
</fieldset>
<p:panelGrid style="width:100%">
    <p:row>
        <p:column style="align:right"><p:button id="Button4" type="button" value="Voltar" style="width:50px; text-align:center" onclick="window.close();"/></p:column>
    </p:row>
</p:panelGrid>
</h:form>
</h:body>
</ui:define></ui:composition>
