
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title>HY - Ocorrências Especiais</title>
	<link rel="Stylesheet" href="#{request.contextPath}/CSS/HY_Style.css"
		type="text/css" media="screen" />
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript">
		//<![CDATA[

		function teste() {
			PesquisaEnvolvidos("#{param['intEntidade']}");
			parent.window.close();
		}

		//]]>
	</script>
</h:head>
<h:body class="PanelTitle">
	<h:form id="frmPesqPart"
		action="HY_CadastroOs_PesquisaEnvolv.asp?entidade#{cadastroOsPesquisaEnvolvBean.cadastroOsPesquisaEnvolv.intEntidade}"
		method="post">

		<p:panelGrid id="pgPanel1" rendered="#{param['intEntidade'] == 1}">
			<table width="100%" border="0"
				style="background-color: Red; color: White">
				<tr>
					<td colspan="6">Participação do Processo > Adicionar Pessoa
						Envolvida</td>
				</tr>
				<tr>
					<td><b>Filtros para Pesquisa</b></td>
					<td><b>Nº da OS:&#160;&#160;2007000000</b></td>
				</tr>
				<tr style="background-color: red; height: 1px;">
					<td colspan="8"></td>
				</tr>
			</table>
			<fieldset class="PanelTitle" style="width: 100%">
				<table border="0" width="auto">
					<tr>
						<td>Tipo Colaborador:</td>
						<td><p:selectOneMenu id="cboColaborador"
								value="#{cadastroOsPesquisaEnvolvBean.cadastroOsPesquisaEnvolv.cboColaborador}">
								<f:selectItem itemLabel="..." itemValue="0" />
								<f:selectItem itemLabel="Funcionário" itemValue="1" />
								<f:selectItem itemLabel="Estagiário" itemValue="2" />
								<f:selectItem itemLabel="Prestador de Serviços" itemValue="3" />
							</p:selectOneMenu></td>
					</tr>
					<tr>
						<td>Nº Matrícula:</td>
						<td><p:inputText id="Text4" style="width:75px;" /></td>
						<td>Nome:</td>
						<td><p:inputText id="Text6" style="width:250px;" /></td>
					</tr>
					<tr>
						<td>CPF:</td>
						<td><p:inputText id="Text1" style="width:75px;" /></td>
						<td align="right" colspan="3"><p:button type="button"
								value="Pesquisar" id="Button10" onclick="teste(); return false;" />
						</td>
					</tr>
				</table>
				<table width="100%">
					<tr style="background: gray; height: 1px">
						<td colspan="4"></td>
					</tr>
				</table>
				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>
				<table border="0" width="100%">
					<tr style="background-color: gray; color: white">
						<td width="16%"><b>CPF</b></td>
						<td width="12%"><b>Matrícula</b></td>
						<td width="34%"><b>Colaborador</b></td>
						<td><b>Tipo Colaborador</b></td>
						<td colspan="2"><b>Participação</b></td>
					</tr>
					<tr>
						<td>000.333.555-888</td>
						<td>03216532</td>
						<td>Ricardo de Andrade Seron Cardenas</td>
						<td>Prest. Serviço</td>
						<td><p:selectOneMenu id="Select1">
								<f:selectItem itemLabel="Envolvido" itemValue="0" />
								<f:selectItem itemLabel="Informante" itemValue="1" />
								<f:selectItem itemLabel="Reclamante" itemValue="2" />
								<f:selectItem itemLabel="Reclamado/Lesado" itemValue="3" />
							</p:selectOneMenu></td>
						<td align="right"><p:button type="button" value="+"
								id="Button1" style="width:20px; text-align:center" /></td>
					</tr>
					<tr>
						<td>000.333.555-888</td>
						<td>654655</td>
						<td>João da Silva</td>
						<td>Funcionário(a)</td>
						<td><p:selectOneMenu id="Select4">
								<f:selectItem itemLabel="Envolvido" itemValue="0" />
								<f:selectItem itemLabel="Informante" itemValue="1" />
								<f:selectItem itemLabel="Reclamante" itemValue="2" />
								<f:selectItem itemLabel="Reclamado/Lesado" itemValue="3" />
							</p:selectOneMenu></td>
						<td align="right"><p:button type="button" value="+"
								id="Button2" style="width:20px; text-align:center" /></td>
					</tr>
					<tr>
						<td>000.333.555-888</td>
						<td>8465213</td>
						<td>João Pereira</td>
						<td>Estagiário(a)</td>
						<td><p:selectOneMenu id="Select2">
								<f:selectItem itemLabel="Envolvido" itemValue="0" />
								<f:selectItem itemLabel="Informante" itemValue="1" />
								<f:selectItem itemLabel="Reclamante" itemValue="2" />
								<f:selectItem itemLabel="Reclamado/Lesado" itemValue="3" />
							</p:selectOneMenu></td>
						<td align="right"><p:button type="button" value="+"
								id="Button3" style="width:20px; text-align:center" /></td>
					</tr>
				</table>
			</fieldset>
		</p:panelGrid>
		<p:panelGrid id="pgPanel2" rendered="#{param['intEntidade'] == 2}">
			<table width="100%" border="0"
				style="background-color: Red; color: White">
				<tr>
					<td colspan="6">Participação do Processo > Adicionar Cliente</td>
				</tr>
				<tr>
					<td><b>Filtros para Pesquisa</b></td>
					<td><b>Nº da OS:&#160;&#160;2007000000</b></td>
				</tr>
				<tr style="background-color: red; height: 1px;">
					<td colspan="8"></td>
				</tr>
			</table>
			<fieldset styleClass="PanelTitle" style="width: 100%">
				<table border="0" width="auto">
					<tr>
						<td>Nome:</td>
						<td><p:inputText id="Text3" style="width:250px;" /></td>
					</tr>
					<tr>
						<td colspan="3"><p:inputText id="Radio2" type="radio"
								name="rdoTipoClinete" />&#160;Pessoa
							Física&#160;&#160;&#160;&#160;&#160;&#160; <p:inputText
								id="Radio1" type="radio" name="rdoTipoClinete" />&#160;Pessoa
							Jurídica</td>
					</tr>
					<tr>
						<td>CPF/CNPJ:</td>
						<td><p:inputText id="Text5" style="width:75px;" /></td>
						<td align="right" colspan="3"><p:button type="button"
								value="Pesquisar" id="Button6" onclick="teste(); return false;" />
						</td>
					</tr>
				</table>
				<table border="0" width="100%">
					<tr style="background-color: Silver; color: black">
						<td width="16%"><b>CPF / CNPJ</b></td>
						<td width="34%"><b>Cliente</b></td>
						<td width="18%"><b>Segmentação</b></td>
						<td colspan="2"><b>Participação</b></td>
					</tr>
					<tr>
						<td>888.555.444-000</td>
						<td>Maria Aparecida</td>
						<td>Massivo</td>
						<td><p:selectOneMenu id="Select3">
								<f:selectItem itemLabel="Envolvido" itemValue="0" />
								<f:selectItem itemLabel="Informante" itemValue="1" />
								<f:selectItem itemLabel="Reclamante" itemValue="2" />
								<f:selectItem itemLabel="Reclamado/Lesado" itemValue="3" />
							</p:selectOneMenu></td>
						<td align="right"><p:button type="button" value="+"
								id="Button5" style="width:20px; text-align:center" /></td>
					</tr>
				</table>
			</fieldset>
		</p:panelGrid>
		<p:panelGrid id="pgPanel3" rendered="#{param['intEntidade'] == 3}">
			<table width="100%" border="0"
				style="background-color: Red; color: White">
				<tr>
					<td colspan="6">Atribuir Equipe à OS > Adicionar Membro da
						Equipe</td>
				</tr>
				<tr>
					<td><b>Filtros para Pesquisa</b></td>
					<td><b>Nº da OS:&#160;&#160;2007000000</b></td>
				</tr>
				<tr style="background-color: red; height: 1px;">
					<td colspan="8"></td>
				</tr>
			</table>
			<fieldset styleClass="PanelTitle" style="width: 100%">
				<table border="0" width="auto">
					<tr>
						<td>Nº Matrícula:</td>
						<td><p:inputText id="Text7" style="width:75px;" /></td>
						<td>Nome:</td>
						<td><p:inputText id="Text8" style="width:250px;" /></td>
					</tr>
					<tr>
						<td>CPF:</td>
						<td><p:inputText id="Text9" style="width:75px;" /></td>
					</tr>
					<tr>
						<td colspan="3"><p:inputText id="Checkbox1" type="checkbox" />&#160;Listar
							Todos Colaboradores da Área.</td>
						<td align="right" colspan="3"><p:button type="button"
								value="Pesquisar" id="Button7" onclick="teste(); return false;" />
						</td>
					</tr>
				</table>
				<table border="0" width="100%">
					<tr style="background-color: gray; color: white">
						<td width="16%"><b>Matrícula</b></td>
						<td width="19%"><b>CPF</b></td>
						<td width="34%"><b>Nome</b></td>
						<td width="22%"><b>Cargo</b></td>
						<td colspan="2"><b>Designação OS</b></td>
					</tr>
					<tr>
						<td>000000</td>
						<td>000.000.000-00</td>
						<td>Rafael da Costa</td>
						<td>Gerente</td>
						<td><p:selectOneMenu id="Select5">
								<f:selectItem itemLabel="N/A" itemValue="0" />
								<f:selectItem itemLabel="Analista Designado" itemValue="1" />
								<f:selectItem itemLabel="Analista Auxiliar" itemValue="2" />
								<f:selectItem itemLabel="Prest. Serviços Designado"
									itemValue="3" />
								<f:selectItem itemLabel="Prest. Serviços Auxiliar" itemValue="4" />
							</p:selectOneMenu></td>
						<td align="right"><p:button type="button" value="+"
								id="Button8" style="width:20px; text-align:center" /></td>
					</tr>
				</table>
			</fieldset>
		</p:panelGrid>
		<table width="100%">
			<tr>
				<td align="right"><p:button type="button" value="Voltar"
						id="Button4" style="width: 50px; text-align: center"
						onclick="window.close();" /></td>
			</tr>
		</table>
	</h:form>
</h:body>
</ui:define></ui:composition>
