
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title>HY - Ocorrências Especiais</title>
	<link rel="Stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript">
		//<![CDATA[

		function Submeter(strAcao)
		{
		    document.all.hdnAcao.value = strAcao;
		    document.forms['frmPesqPart'].submit();
		}
		
		function Fechar(strNrSeqOs)
		{   
		        document.forms[0].action = 'HY_CadOs_Participacao_Processo.asp?strNrSeqOs=' + strNrSeqOs;    
		        document.forms[0].target = 'ifrmNovaOs';
		        document.forms[0].submit();
		        window.close();
		}

		//]]>
	</script>
</h:head>
<h:body>
	<h:form id="frmPesqPart" action="HY_CadastroOs_PesquisaEquipe.asp" method="post">
	<table width="100%" border="0" style="background-color:Red; color:White">
	    <tr>
	        <td colspan="6">Participação do Processo > Adicionar Participante</td>
	    </tr>
	    <tr>
	        <td><b>Filtros para Pesquisa</b></td>
	        <td><b>Nº da OS:&nbsp;&nbsp;#{pesquisaEquipe.strNrSeqOs}</b></td>
	    </tr>
	    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
	</table>
	<fieldset class="PanelTitle" style="width:100%">
	<table border="0" width="auto">
	        <tr>
	        <td>Nº Matrícula:</td>
	        <td><p:inputText id="txtMatricula" name="txtMatricula" type="text" style="width:75px;" value="#{pesquisaEquipe.strMatricula}" /></td>
	        <td>Nome:</td>
	        <td><p:inputText id="txtNome" name="txtNome" type="text" style="width:250px;" value="#{pesquisaEquipe.strNome}" /></td>        
	    </tr>
	    <tr>
	        <td>CPF:</td>
	        <td><p:inputText  id="txtDocto" name="txtDocto" type="text" style="width:75px;" maxlength="11" value="#{pesquisaEquipe.strDocto}" onkeypress="BlockKeybord()" /></td>                
	        
	        
	        <td colspan="3">
			<p:outputLabel for="cboTipo" value="Tipo do Participante:" />
	        <p:selectOneMenu id="cboTipo" value="#{pesquisaEquipe.cboTipo}" style="width:125px">
	            <f:selectItem itemLabel="Todos" itemValue="" />
	            <f:selectItem itemLabel="Funcionário" itemValue="1" />
	            <f:selectItem itemLabel="Estagiário" itemValue="2" />
	            <f:selectItem itemLabel="Terceiro" itemValue="3" />
	        </p:selectOneMenu>

	        </td>
	        <td align="right" colspan="3"><img src="./images/lupa.gif" style="cursor:hand" alt="Pesquisar" onclick="Submeter('P');"/></td>
	    </tr>
	</table>    
	<table border="0" width="100%">
	    <tr style="background-color:gray; color:white">
	        <td width="10%"><b>Matrícula</b></td>
	        <td width="19%"><b>CPF</b></td>
	        <td width="28%"><b>Nome</b></td>
	        <td width="22%"><b>Cargo</b></td>
			<td width="12%"><b>Segmento</b></td>
	        <td colspan="2"><b>Participação</b></td>
	    </tr>
	   <!-- <h:outputText value="pesquisaEquipe.FillTblPart()"/> -->
	</table>
	</fieldset>
	<table width="100%">
	    <tr>
	        <td align="right">
	            <p:button type="button" value="Voltar" style="width:50px; text-align:center" onclick="Fechar(#{pesquisaEquipe.strNrSeqOs});"></p:button>
	        </td>
	    </tr>
	</table>
	<p:inputText type="hidden" id="hdnAcao" name="hdnAcao" value="${pesquisaEquipe.hdnAcao}" />
	<p:inputText type="hidden" id="hdnNrSeqOs" name="hdnNrSeqOs" value="#{pesquisaEquipe.strNrSeqOs}" />
	</h:form>
</h:body>
</ui:define></ui:composition>
