<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">
	<ui:define name="content">

		<h:head>
			<link rel="Stylesheet" href="#{request.contextPath}/css/hy_style.css"
				type="text/css" media="screen" />
			<link rel="Stylesheet"
				href="#{request.contextPath}/css/hy_calendar.css" type="text/css"
				media="screen" />
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

		</h:head>
		<h:body>
			<table width="100%" border="0"
				style="background-color: Red; color: White">
				<tr>
					<td>Risco Potencial > Detalhes > Lançamento Analítico</td>
					<td align="right"><b>Nº OS:
							#{cadastroosDetalhesRiscopot.cadastroosDetalheRiscopot.strOs}</b></td>
				</tr>
				<tr>
					<td><b>Detalhes Analiticos do Produto
							#{cadastroosDetalhesRiscopot.cadastroosDetalheRiscopot.strNomeProd}</b></td>
				</tr>
			</table>
			<table>
				<tr height="3px">
					<td></td>
				</tr>
			</table>

			<form>
				<fieldset>
					<table>
						<tr>
							<td>Qntde.:</td>
							<td><input id="Text21" type="text" style="width: 20px" /></td>
							<td><input id="Button4" type="button"
								value="Inserir Lançamento em Branco" /></td>
						</tr>
					</table>
					<div id="divOverFlow"
						style="overflow: auto; width: 100%; height: 1px;" align="left">
						<table>
							<tr
								style="background-color: gray; font-weight: bold; color: White">
								<td width="30" class="GridItemFixed" align="center" colspan="1"
									rowspan="2">#</td>
								<td align="center" colspan="2" rowspan="1">Exclusão Parcial
									(R$)</td>
								<td align="center" colspan="2" rowspan="1">Recuperação<br />do
									Mês (R$)
								</td>
								<td align="center" colspan="2" rowspan="1">Recuperação<br />Fora
									do Mês (R$)
								</td>
								<td align="center" colspan="2" rowspan="1">Complementação
									OS</td>
								<td align="center" colspan="2" rowspan="2"></td>
							</tr>
							<tr
								style="background-color: gray; font-weight: bold; color: White">
								<td align="center">Data</td>
								<td align="center">Valor (R$)</td>
								<td align="center">Data</td>
								<td align="center">Valor (R$)</td>
								<td align="center">Data</td>
								<td align="center">Valor (R$)</td>
								<td align="center">Data</td>
								<td align="center">Valor (R$)</td>
							</tr>
							<tr style="background: #e8e8e8">
								<td align="center" class="GridItemFixed"><b>1</b></td>
								<td align="center"><input id="Text22" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text35" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text38" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text23" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text26" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text29" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text59" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text60" type="text"
									style="width: 60px" /></td>
								<td><p:button type="button" value="Salvar" id="Button1" />
								</td>
								<td><img height="17" style="cursor: hand"
									src="./images/btn_excluir_ib.gif" alt="Excluir Lançamento"
									onclick="alert('Deleta Lançamento')" /></td>
							</tr>
							<tr style="background: white">
								<td align="center" class="GridItemFixed"><b>2</b></td>
								<td align="center"><input id="Text1" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text2" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text5" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text6" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text7" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text8" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text9" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text10" type="text"
									style="width: 60px" /></td>
								<td><p:button type="button" value="Salvar" id="Button2" /></td>
								<td><img height="17" style="cursor: hand"
									src="./images/btn_excluir_ib.gif" alt="Excluir Lançamento"
									onclick="alert('Deleta Lançamento')" /></td>
							</tr>
							<tr style="background: #e8e8e8">
								<td align="center" class="GridItemFixed"><b>3</b></td>
								<td align="center"><input id="Text11" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text12" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text13" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text16" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text17" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text18" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text19" type="text"
									style="width: 60px" /></td>
								<td align="center"><input id="Text20" type="text"
									style="width: 60px" /></td>
								<td><p:button type="button" value="Salvar" id="Button3" /></td>
								<td><img height="17" style="cursor: hand"
									src="./images/btn_excluir_ib.gif" alt="Excluir Lançamento"
									onclick="alert('Deleta Lançamento')" /></td>
							</tr>
						</table>
					</div>
				</fieldset>
			</form>
		</h:body>
	</ui:define>
</ui:composition>