<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<title>HY - Ocorrências Especiais</title>

	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/css/hy_style.css" media="screen" />
	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script type="text/javaScript"
		src="#{request.contextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javaScript"
		src="#{request.contextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javaScript"
		src="#{request.contextPath}/javascript/formchek.js"></script>

	<style type="text/css">
.ui-widget-content {
	border: none;
}

.ui-widget-content ul {
	list-style-type: none;
	padding: 0;
}
</style>
	<ui:insert name="javaScriptReference" />

	<script type="text/javascript">
//<![CDATA[
	parent.parent.rodape.location.replace('HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar@Voltar/Voltar');
				
				function window.onload ()
				{
					Resize();
				}

				function Resize()
				{
					window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;	
				}
						
				function Voltar()
				{
					history.back();
			    }		
			    
				function fnValidaHora(obj)
				{
					var strHora
					
					strHora = "0000" + obj.value;
					strHora = strHora.substring(strHora.length - 4, strHora.length);
					
					if (parseInt(strHora.substring(0, strHora.length - 2)) > 24)
					{
						alert("Hora inválida.");
						obj.focus();
						return false;
					}
					
					if (parseInt(strHora.substring(strHora.length - 2, strHora.length)) > 59)
					{
						alert("Hora inválida.");
						obj.focus();
						return false;
					}
					
					obj.value = strHora.substring(0, strHora.length - 2) + ":" + strHora.substring(strHora.length - 2, strHora.length);
				
				}
				
				function Salvar()
				{
					if (SalvarOperacao())
					{
						alert("Detalhe Salvo com sucesso.");
						parent.window.scrollTo(0,0);
					}	
					else
					{
						if (confirm("Ocorreu um problema ao salvar o Detalhe. Deseja visualiza-lo?"))
							alert(strRetorno);
					}
		
				}
	//]]>
</script>
</h:head>

<h:body class="PanelTitle">
	<p:dataList var="objRsEvento" value="#{CadastroOsProdutosDefaultBean.objRsEvento}">
	<h:form name="frmEventoDetalheCDebito" id="frmEventoDetalheCDebito"
		method="post">
		<p:inputText type="hidden" name="hdnCdCanal" id="hdnCdCanal"
			value="#{objRsEvento.strCdCanal}" />
		<p:inputText type="hidden" name="hdnSeqConta" id="hdnSeqConta"
			value="#{objRsEvento.strSeqConta}" />
		<p:inputText type="hidden" name="hdnSeqEvento" id="hdnSeqEvento"
			value="#{objRsEvento.strSeqEvento}" />
		<p:inputText type="hidden" name="hdnSeqCartao" id="hdnSeqCartao"
			value="#{objRsEvento.strSeqCartao}" />

		<table width="100%" border="0" style="background-color: red; color: White" id="Table1">
			<tr>
				<td colspan="2">Eventos > #{CadastroOsProdutosDefaultBean.qsEvento} >
					#{CadastroOsProdutosDefaultBean.qsCanal}</td>
				<td><b>Nº OS: #{objRsEvento.strNrSeqOs}</b></td>
			</tr>
			<tr>
				<td><b>Titular: #{objRsEvento.strTitular}</b></td>
				<td><b></b></td>
				<td><b>CPF/CNPJ: #{objRsEvento.strCpfCnpj}</b></td>
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>
		<!-- Centros de Custo  -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1"
			ID="Table4">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><h:graphicImage align="absmiddle"
						value="images/seta_vermelha.gif" /> <b>Centros de Custo</b></td>
			</tr>
		</table>
		<table width="auto" border="0" ID="Table2">
			<tr>
				<td><b>Centro Origem:</b></td>
				<td><p:inputText name="txtCdCentroOrigem"
						id="txtCdCentroOrigem" maxlength="8" /></td>
				<td><b>Centro Destino:</b></td>
				<td><p:inputText name="txtCdCentroDestino"
						id="txtCdCentroDestino" maxlength="8" /></td>
				<td><b>Centro Operante:</b></td>
				<td disabled="disable">6494</td>
			</tr>
		</table>
		<!--#include file="../Inc/HY_Contestacao.inc"-->
	</h:form>
	</p:dataList>
</h:body>
</ui:define></ui:composition>
