<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
    
	<h:head>
		<script type="text/javascript">
			//<![CDATA[
			
		    window.onload = function()        
		    {
		        var i = confirm('Deseja criar uma nova Ordem de Serviço?');
		        
		        if (i)
		        {                
		            //parent.principal.location.href = 'HY_CadOsMenu.asp';
		            document.forms[0].action = 'hy_cados.xhtml?strAction=I';
		            document.forms[0].submit(); 
		            ${cadOs.CadOsBeanExecute()}
		        }
		        else
		        {
		            parent.titulo.location.href = 'hy_paginavazia.xhtml';
		            parent.principal.location.href = 'hy_paginavazia.xhtml';
		        }
		    }
			//]]>
		</script>
	</h:head>
	<h:body>
	<h:form action="hy_cados.xhtml" method="post">
		
	</h:form>
	</h:body>

</ui:define></ui:composition>