
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
    <title>HY - Ocorrências Especiais</title>
    <link rel="Stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen"/>
    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
</h:head>
<h:body>
<table width="100%" border="0" style="background-color:Red; color:White">
    <tr>
        <td>Risco Potencial > Detalhes > Lançamento Analítico</td>
        <td align="right"><b>Nº OS:&#160;&#160; #{param['strOs']}</b></td>
    </tr>
    <tr>
        <td><b>Detalhes Risco Potencial Parcial</b></td>
    </tr>
</table>

<fieldset class="PanelTitle">
<div id="divOverFlow" style="overflow:auto; width:100%; height:1px;" align="left">
<table width="99%">
    <tr style="background-color:gray; font-weight:bold; color:White">
        <td  class="GridItemFixed" align="center" colspan="1" rowspan="2">Descrição Produto</td>
        <td  align="center" colspan="1" rowspan="1">Exclusão (R$)</td>
        <td  align="center" colspan="1" rowspan="1">Recuperação<br />do Mês (R$)</td>
        <td  align="center" colspan="1" rowspan="1">Recuperação<br />Fora do Mês (R$)</td>
        <td  align="center" colspan="1" rowspan="1" >Complementação OS</td>
        <td  align="center" colspan="1" rowspan="2"></td>
    </tr>
    <tr style="background-color:gray; font-weight:bold; color:White">        
        <td align="center">Valor (R$)</td>        
        <td align="center">Valor (R$)</td>        
        <td align="center">Valor (R$)</td>        
        <td align="center">Valor (R$)</td>
    </tr>
    <tr style="background:#e8e8e8">
        <td class="GridItemFixed">Títulos:</td>                
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text5"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text6"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text7"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text23"   style="width:60px" /></td>
        <td align="center">
            <p:button value="Analítico" type="button" id="Button1" onclick="MostraDetalheRiscoPotencialAn(#{param['strOs']}, '', 'Títulos')"  />
        </td>              
    </tr>
    <tr style="background:white">
        <td styleClass="GridItemFixed">DOC:</td>                
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text3"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text4"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text8"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text9"   style="width:60px" /></td>
        <td align="center">
           	<p:button id="Button1" type="button" value="Analítico" onclick="MostraDetalheRiscoPotencialAn(#{param['strOs']}, '', 'DOC')"/>
        </td>             
    </tr>
    <tr style="background:#e8e8e8">
        <td styleClass="GridItemFixed">Transferência:</td>                
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text10"   style="width:60px" /></td>        
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text12"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text13"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text14"   style="width:60px" /></td>
        <td align="center"><p:button id="Button7" type="button" value="Analítico" onclick="MostraDetalheRiscoPotencialAn(#{param['strOs']}, '', 'Transferência')"/></td>              
    </tr>
    <tr style="background:white">
        <td styleClass="GridItemFixed">Licenciamento de Veículo:</td>                
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text15"   style="width:60px" /></td>        
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text17"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text18"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text19"   style="width:60px" /></td>
        <td align="center"><p:button id="Button4" type="button" value="Analítico" onclick="MostraDetalheRiscoPotencialAn(#{param['strOs']}, '', 'Licenciamento de Veículo')"/></td>                
    </tr>
    <tr style="background:#e8e8e8">
        <td styleClass="GridItemFixed">DPVAT:</td>                
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text20"   style="width:60px" /></td>        
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text22"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text24"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text25"   style="width:60px" /></td>
        <td align="center"><p:button id="Button5" type="button" value="Analítico" onclick="MostraDetalheRiscoPotencialAn(#{param['strOs']}, '', 'dpvat')"/></td>                  
    </tr>
    <tr style="background:white">
        <td styleClass="GridItemFixed">Saque Banco 24h:</td>        
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text26"   style="width:60px" /></td>        
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text28"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text29"   style="width:60px" /></td>
        <td align="center"><p:inputText styleClass="txtReadyOnly" id="Text30"   style="width:60px" /></td>
        <td align="center"><p:button id="Button6" type="button" value="Analítico" onclick="MostraDetalheRiscoPotencialAn(#{param['strOs']}, '', 'Saque banco 24h')"/></td>                
    </tr>
</table>
</div>
<table>
    <tr style="height:5px"><td ></td></tr>
    <tr>
	    <td><b>Ressarcimento:</b></td>
	    <p:selectOneRadio id="rdoRessarc">
		    <f:selectItem itemLabel="Aprovado" itemValue="Radio1" />
		    <f:selectItem itemLabel="Negado" itemValue="Radio2" />
	    </p:selectOneRadio>
    </tr>    
</table>
</fieldset> 

</h:body>
</ui:define></ui:composition>
