<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
    
<h:head>
    <title>Ocorrências Especiais</title>
    <link rel="Stylesheet" href="#{request.contextPath}/CSS/HY_Style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="#{request.contextPath}/css/HY_calendar.css" media="screen"/>
    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

	<script type="text/javascript">
		//<![CDATA[

		function Fechar()
		{
		    window.close(); 
		}

		//]]>
	</script>
</h:head>

<h:body class="PanelTitle">
	<h:form method="post">
		<table width="100%" border="0" style="background-color:Red; color:White">
		    <tr>
		        <td colspan="6">Atribuir Equipe à OS > Lançar horas trabalhadas</td>
		    </tr>
		    <tr>
		        <td><b>Nome: #{hy_equipatribLanchr.cadosEquipatribLanchr.strNomeRecurso}</b></td>
		        <td><b>Nº da OS: #{hy_equipatribLanchr.cadosEquipatribLanchr.strNrSeqOs}</b></td>
		        <td align="right"><input id="btnFechar" type="button" value="Fechar" onclick="Fechar()"/></td>
		    </tr>
		    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
		</table>
	</h:form>
	<iframe id="ifrmLancHr" src="#{hy_equipatribLanchr.urlIframe}" scrolling="no" frameborder="0" height="150" width="100%"></iframe>
</h:body>
</ui:define></ui:composition>
