
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title>HY - Ocorrências Especiais</title>
	
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formcheck.js"></script>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
   
   	<script type="text/javascript">
   	
  		//<![CDATA[
   	
	    parent.parent.titulo.location.href = 'Titulo.asp?strTitulo="Nova OS - ' + <%=objRs("OS")%> + ' - Participação Processo - Detalhes Pessoas Envolvidas"';
	    parent.parent.rodape.location.replace("HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar@Voltar/Voltar");
	    
	    var intControlaObj = 0;
	    var intControlaTotalLinhas;
	    
	    function Teste() {
	    	console.log('1');
	    	alert("teste");
	    }
	    
	    
	    function window.onload(){
	    
	        intControlaTotalLinhas = <%=intRecCount%>;
	        if(intControlaTotalLinhas>0)window.document.getElementById ('tblPrincipal').style.display= "block";            
	        for(var i=0;i<intControlaTotalLinhas;i++){//--Aumenta o Div a cada linha inserida
	            var div = document.getElementById("divOverFlow");
	            div.style.height = div.scrollHeight + 20;                    
	        }
	        
	        Resize();
	    }    
	    
	    function MostraDivCbo(strIdObj, strDivId1 ){
	        var cbo = document.getElementById(strIdObj);
	        var div1 = document.getElementById(strDivId1);
	        
	        if(cbo || div1)
	            if(cbo.value == 1)
	                div1.style.display = 'block';            
	            else
	                div1.style.display = 'none';            
	    }
	
	    function Resize(){window.parent.document.all['ifrmNovaOs'].height=400;}
	
	    function MostraDivContestacao(strIdObj, strDivId1, strDivId2){
	        var cbo = document.getElementById(strIdObj);
	        var div1 = document.getElementById(strDivId1);
	        var div2 = document.getElementById(strDivId2);
	        
	        if(cbo || div1 || div2){
	            if(cbo.value == 1){            
	                div1.style.display = 'block';
	                div2.style.display = 'none';
	            }else if (cbo.value == 2){
	                div1.style.display = 'none';
	                div2.style.display = 'block';
	            }else{
	                div1.style.display = 'none';
	                div2.style.display = 'none';
	            }
	        }    
	    }
	
	    function InsereLinha(){
	       // if (intControlaTotalLinhas <5){
	            var iRows = 0;
	            var table = document.getElementById('tblPrincipal');
	            var body = table.tBodies[0];
	            var qtdLinha = body.rows.length + iRows;
	            var linha = body.insertRow(qtdLinha);
	            var intControlaLinha = 1;
	            var intAuxI;
	            
	            window.document.getElementById ('tblPrincipal').style.display= "block";            
	            
	            intControlaTotalLinhas = document.getElementById ("hdnTotalLinhas").value;
	            
	            for(var i=0;i<=4;i++){
	                var coluna = linha.insertCell(i);
	                
	                
	                intControlaLinha = qtdLinha ;            
	                
	                if ((qtdLinha - 1)%2!=0)coluna.setAttribute("className", "TTT");                
	                
	                switch(i){
	                    case 0: 
	                    coluna.setAttribute("align", "center");
	                    coluna.innerHTML = '<input type="hidden" name="hdn'+ intControlaLinha +'" id="hdn'+ intControlaLinha +'"  value="" /><b>'+intControlaLinha+'</b>';
	                    break;
	                    case 1: coluna.innerHTML = '<input type="text" name="txt'+ intControlaLinha +'Inst" id="txt'+ intControlaLinha +'Inst" style="width:153px" maxlength="20"   >';
	                    break;
	                    case 2: coluna.innerHTML = '<input type="text" name="txt'+ intControlaLinha +'Espec" id="txt'+ intControlaLinha +'Espec" style="width:153px" maxlength="20"  >';
	                    break;
	                    case 3: coluna.innerHTML = '<input type="text" name="txt'+ intControlaLinha +'Valor" id="txt'+ intControlaLinha +'Valor" style="width:98px" onkeypress="BlockKeybord(); fnMascaraValor(this,2); " maxlength="14"  >';
	                    break;
	                    case 4: coluna.innerHTML = '<input type="text" name="txt'+ intControlaLinha +'Data" id="txt'+ intControlaLinha +'Data" style="width:98px" onblur="VerificaData(this);" onkeydown="MascararData(this);" maxlength="10" >';
	                    break;
	                }
	            }
	            
	            document.getElementById ('txt'+ intControlaLinha + 'Inst').focus();
	
	            intControlaTotalLinhas = parseInt(intControlaTotalLinhas) + 1;
	            document.getElementById ("hdnTotalLinhas").value = intControlaTotalLinhas;
	            
	            var div = document.getElementById("divOverFlow");
	            div.style.height = div.scrollHeight + 20;        
	        //}
	        
	        Resize();
	    }    
	    
	    function Salvar(){
	
	        if (fnValidaCampos()){
	        
	            if(fnSalvarEndereco())
	                if(fnSalvaPosicaoRisco())
	                    if(fnSalvarRestricoes())
	                        alert('Registro(s) atualizado(s) com sucesso.');
	                    else
	                        alert('Não foi possível atualizar o(s) registro(s).');
	                else
	                    alert('Não foi possível atualizar o(s) registro(s).');
	            else    
	                alert('Não foi possível atualizar o(s) registro(s).');
	
	            fnCarregaRestricoes();
	
	        }
	    }    
	    
	
	    function fnSalvarEndereco(){
	    
	        //Envia para a página asp dados para a montagem da tabela
	        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
	        xmlHTTP.Open('POST', 'HY_CadastroOs_DetalheEnvolvFunc_exe.asp', false);        
	        
	        strDados =  '<root>' + 
	                    '<tpReg>E</tpReg>'+
	                    '<nrSeqPart>'  +'<%=strgNrSeqPart%>'+'</nrSeqPart>'+
	                    '<Rua>'        + document.getElementById ("txtRua").value         +'</Rua>'        +
	                    '<Numero>'     + document.getElementById ("txtNumero").value      +'</Numero>'     + 
	                    '<Complemento>'+ document.getElementById ("txtComplemento").value +'</Complemento>'+
	                    '<Bairro>'     + document.getElementById ("txtBairro").value      +'</Bairro>'     +  
	                    '<CEP>'        + document.getElementById ("txtCEP").value         +'</CEP>'        +
	                    '<Telefone>'   + document.getElementById ("txtDDDTel").value + document.getElementById ("txtTelefone").value    +'</Telefone>'   +
	                    '<Celular>'    + document.getElementById ("txtDDDCel").value + document.getElementById ("txtCelular").value     +'</Celular>'    +
	                    '</root>';
			            
	/*                  '<Cidade>'     + document.getElementById ("txtCidade").value      +'</Cidade>'     +
	                    '<Estado>'     + document.getElementById ("txtEstado").value      +'</Estado>'     +*/
	
	        xmlHTTP.Send(strDados); 
	        
	        //Pega o retorno da página asp
	        sTabela = xmlHTTP.responseText;
	        
	        if(sTabela=='True'){
	            return true;        
	        }else{ 
	            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
	                location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
	                return;
	            }else{
	                return;
	            }
	        }
	    }
	    
	    function fnSalvaPosicaoRisco(){
	
	        //Envia para a página asp dados para a montagem da tabela
	        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
	        xmlHTTP.Open('POST', 'HY_CadastroOs_DetalheEnvolvFunc_exe.asp', false);        
	        
	        strDados =  '<root>' + 
	                    '<tpReg>PR</tpReg>'+
	                    '<nrSeqPart>'   +'<%=strgNrSeqPart%>'+'</nrSeqPart>'+
	                    '<strVencer>'   + document.getElementById ("txtVencer").value  +'</strVencer>'   +
	                    '<strVencida>'  + document.getElementById ("txtVencida").value +'</strVencida>'  + 
	                    '<strCreli>'    + document.getElementById ("txtCreli").value   +'</strCreli>'    +
	                    '<strPrejuizo>' + document.getElementById ("txtPreju").value   +'</strPrejuizo>' +  
	                    '<strObs>'      + document.getElementById ("txtObs").value     +'</strObs>'     +
	                    '<strRecipro>'  + document.getElementById ("txtReci").value    +'</strRecipro>'  +
	                    '</root>';
	    	            
	        xmlHTTP.Send(strDados); 
	        
	        //Pega o retorno da página asp
	        sTabela = xmlHTTP.responseText;        
	                
	        //document.body.innerHTML = sTabela;
	        
	        if(sTabela=='True'){
	            return true;            
	        }else{
	            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
	                location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
	                return;
	            }else{
	                return;
	            }            
	        }
	    }
	
	    function fnSalvarRestricoes(){
	    
	        var strAuxReturn = true;
	        var strDados;    
	    
	        //--Pega o total de linhas atual        
	        intControlaTotalLinhas = parseInt(document.getElementById ("hdnTotalLinhas").value) ;
	
	        for(var iCountLinhas=1;iCountLinhas<=intControlaTotalLinhas;iCountLinhas++){
	            xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
	            xmlHTTP.Open('POST', 'HY_CadastroOs_DetalheEnvolvFunc_exe.asp', false);        
	                    
	            strDados =  '<root>' + 
	                        '<tpReg>R</tpReg>'+
	                        '<nrSeqPart>' +'<%=strgNrSeqPart%>'+'</nrSeqPart>'+
	                        '<IdRstPart>' + document.getElementById ("hdn"+iCountLinhas).value       +'</IdRstPart>'+
	                        '<strInst>' + document.getElementById ("txt"+iCountLinhas+"Inst").value  +'</strInst>' +
	                        '<strEspec>'+ document.getElementById ("txt"+iCountLinhas+"Espec").value +'</strEspec>'+ 
	                        '<strValor>'+ document.getElementById ("txt"+iCountLinhas+"Valor").value +'</strValor>'+
	                        '<strData>' + document.getElementById ("txt"+iCountLinhas+"Data").value  +'</strData>' +
	                        '</root>';
				
	            xmlHTTP.Send(strDados);
	            
	            //Pega o retorno da página asp
	            sTabela = xmlHTTP.responseText; 
	            
	            if(sTabela=='false')
	                return;
	            else
	                if (sTabela.toUpperCase().indexOf('XHY')!=-1){
	                    location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
	                    return;                    
	                }
	        }       
	        
	        return true;
	    }
	
	
	    function fnCarregaRestricoes(){
	
	        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
	        xmlHTTP.Open('POST', 'HY_CadastroOs_DetalheEnvolvFunc_exe.asp', false);        
	                
	        strDados =  '<root>' + 
	                    '<tpReg>L</tpReg>'+
	                    '<nrSeqPart>' +'<%=strgNrSeqPart%>'+'</nrSeqPart>'+
	                    '</root>';
	    	
	        xmlHTTP.Send(strDados);
	        
	        //Pega o retorno da página asp
	        sTabela = xmlHTTP.responseText; 
	        
	        if (sTabela.toUpperCase().indexOf('XHY')!=-1){
	            location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
	            return;
	        }else{
	            document.getElementById ('divRestricao').innerHTML = sTabela;
	            intControlaTotalLinhas = parseInt(document.getElementById ("hdnTotalLinhas").value) ;
	        }        
	    }
	
	    function Excluir(iCountLinhas){
	        
	        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
	        xmlHTTP.Open('POST', 'HY_CadastroOs_DetalheEnvolvFunc_exe.asp', false);        
	                
	        strDados =  '<root>' + 
	                    '<tpReg>Ex</tpReg>'+
	                    '<nrSeqPart>' +'<%=strgNrSeqPart%>'+'</nrSeqPart>'+
	                    '<IdRstPart>' + document.getElementById ("hdn"+iCountLinhas).value       +'</IdRstPart>'+
	                    '</root>';
	    	
	        xmlHTTP.Send(strDados);
	        
	        //Pega o retorno da página asp
	        sTabela = xmlHTTP.responseText; 
	        
	        if (sTabela.toUpperCase().indexOf('XHY')!=-1){
	            location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
	            return;
	        }else if (sTabela=='False'){
	            alert('Não foi possível atualizar o(s) registro(s).');
	        }else{
	            alert('Registro excluído com sucesso.')
	        }
	        fnCarregaRestricoes();
	    }
	    
	
	    function Voltar(){
	        history.back ();
	    }
	    
	    function fnValidaCampos()
	    {
	        var teste;
	        if(trim(document.getElementById ("txtCEP").value)!='')
	            if(len(document.getElementById ("txtCEP").value)<9){
	                alert('CEP inválido.');
	                document.getElementById ("txtCEP").focus();
	                return;
	            }
	        
	        
	        //--Verifica Telefone
	        if (document.getElementById ("txtDDDTel").value !=''){
	            if(len(document.getElementById ("txtDDDTel").value) < 2){
	                alert('DDD Telefone inválido.');
	                document.getElementById ("txtDDDTel").focus();
	                return;                        
	            }
	            
	            if(document.getElementById ("txtTelefone").value ==''){
	                alert('Telefone inválido.');
	                document.getElementById ("txtTelefone").focus();
	                return;                                                
	            }
	            
	            if(len(document.getElementById ("txtTelefone").value) < 9){
	                alert('Telefone inválido.');
	                document.getElementById ("txtTelefone").focus();
	                return;                                         
	            }
	        }
	        
	        if(document.getElementById ("txtTelefone").value !=''){
	            if(len(document.getElementById ("txtTelefone").value) < 9){
	                alert('Telefone inválido.');
	                document.getElementById ("txtTelefone").focus();
	                return;                                         
	            }
	            
	            if(document.getElementById ("txtDDDTel").value== ''){
	                alert('DDD Telefone inválido.');
	                document.getElementById ("txtDDDTel").focus();
	                return;                        
	            }            
	            
	            if(len(document.getElementById ("txtDDDTel").value) < 2){
	                alert('DDD Telefone inválido.');
	                document.getElementById ("txtDDDTel").focus();
	                return;                        
	            }
	            
	        }        
	        //--Fim Verifica Telefone        
	        
	        
	        //--Verifica Celular
	        if (document.getElementById ("txtDDDCel").value !=''){
	            if(len(document.getElementById ("txtDDDCel").value) < 2){
	                alert('DDD Celular inválido.');
	                document.getElementById ("txtDDDCel").focus();
	                return;                        
	            }
	            
	            if(document.getElementById ("txtCelular").value ==''){
	                alert('Celular inválido.');
	                document.getElementById ("txtCelular").focus();
	                return;                                                
	            }
	            
	            if(len(document.getElementById ("txtCelular").value) < 9){
	                alert('Celular inválido.');
	                document.getElementById ("txtCelular").focus();
	                return;                                         
	            }
	        }
	        
	        if(document.getElementById ("txtCelular").value !=''){
	            if(len(document.getElementById ("txtCelular").value) < 9){
	                alert('Celular inválido.');
	                document.getElementById ("txtCelular").focus();
	                return;                                         
	            }
	            
	            if(document.getElementById ("txtDDDCel").value == ''){
	                alert('DDD Celular inválido.');
	                document.getElementById ("txtDDDCel").focus();
	                return;                        
	            }            
	            
	            if(len(document.getElementById ("txtDDDCel").value) < 2){
	                alert('DDD Celular inválido.');
	                document.getElementById ("txtDDDCel").focus();
	                return;                        
	            }
	            
	        }        
	        //--Fim Verifica Celular
	        
	        
	        return true;                
	    }    
	    
	    
	    function VerificaData(aObj){
	        if (aObj.value!='')
	            if(!isDateString(aObj.value)){
	                alert("Data inválida.");
	                aObj.focus();
	            }
	    }     
	    
		//]]>
	    
	</script>
   
   
   
    <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" media="screen"/>

	
</h:head>
<body>
	<h:form id="form1">
		<table width="100%" border="0"
			style="background-color: Red; color: White">
			<tr>
				<td colspan="3">Pessoas Relacionadas ao Processo > Pessoas Envolvidas</td>
				<td align="left"><b>Nº OS: #{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.os}</b></td>
			</tr>
			<tr>
				<td colspan="8"><b>Detalhes Pessoas Envolvidas</b></td>
			</tr>
			<tr>
				<td><b>Nº Matrícula: #{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.matricula}</b></td>
				<td><b>Nome: #{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.nome}</b></td>
				<td><b>CPF: #{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.cpf_cnpj}</b></td>
				<td><b>Participação: <!-- <%=strTpPart%> --></b></td>
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>

		<!-- OS ASSOCIADAS  -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><h:graphicImage align="absmiddle"
						src="../images/seta_vermelha.gif" /> <b>OSº Associadas</b></td>
			</tr>
		</table>
		<fieldset class="PanelTitle">
			<table width="75%" border="0" cellpadding="1" cellspacing="1">
				<tr style="background-color: gray; color: White">
					<td width="20%"><b>Nº da OS</b></td>
					<td><b>Área Pertinente</b></td>
					<td colspan="2"><b>Status</b></td>
				</tr>
				<!-- <%=FillTblOsAssociada(objRs("CPF_CNPJ"), objRs("OS"))%> -->
			</table>
		</fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>

		<!-- DADOS CADASTRAIS  -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><img src="#{facesContext.externalContext.requestContextPath}/images/seta_vermelha.gif" align="absmiddle"></img><b>Dados Cadastrais</b></td>
			</tr>
		</table>
		<fieldset class="PanelTitle">
			<table width="100%" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td>Status:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text42" type="text"
							style="width:80px" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.status}" readonly="true" /></td>
				    <td>Agência:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text2" type="text"
							style="width:30px" readonly="true" /> - 
						<p:inputText
							styleClass="txtReadyOnly" id="Text3" type="text" style="width:180px"
							value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.agencia}" readonly="true"/>
					</td>
				</tr>
				<tr>
					<td>Departamento:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text45" type="text"
							style="width:200px" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.departamento}" readonly="true"/></td>
					<td>Regional:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text4" type="text"
							style="width:30px" readonly="true" /> - 
						<p:inputText
							styleClass="txtReadyOnly" id="Text5" type="text" style="width:180px"
							value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.regional}" readonly="true"/></td>
				</tr>
				<tr>
					<td>Superintendêcia:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text44" type="text"
							style="width:200px" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.superintendencia}" readonly="true"/></td>
					<td>Rede:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text6" type="text"
							style="width:30px" readonly="true" /> - 
						<p:inputText
							styleClass="txtReadyOnly" id="Text7" type="text" style="width:180px" readonly="true"/></td> <!-- VERIFICAR "#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.rede}" -->
				</tr>
				<tr>
					<td>Superior Imediato:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text43" type="text"
							style="width:200px" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.sup_imediato}" readonly="true"/></td>
				</tr>
				<tr>
					<td>Adm. Central:</td>
					<td><p:inputText styleClass="txtReadyOnly" id="Text8" type="text"
							style="width:30px" readonly="true" /> - 
						<p:inputText
							styleClass="txtReadyOnly" id="Text9" type="text" style="width:160px"
							value="" readonly="true" /></td>
				</tr>
			</table>
		</fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><img src="#{facesContext.externalContext.requestContextPath}/images/seta_vermelha.gif" align="absmiddle"></img> <b>Endereço Apurado</b></td>
			</tr>
		</table>
		
		
		<fieldset class="PanelTitle">
			<table width="60%" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td width="16%">Rua/Avenida:</td>
					<td width="42%"><p:inputText id="txtRua" name="txtNome"
							type="text" style="width:170px" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.endereco}"  maxlength="30"/></td>
					<td width="10%">Número:</td>
					<td><p:inputText id="txtNumero" name="txtNumero" type="text"
							style="width:40px" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.numero}" onkeypress="BlockKeybord();" maxlength="5"/></td>
				</tr>
				<tr>
					<td>Complemento:</td>
					<td><p:inputText id="txtComplemento" name="txtComplemento"
							type="text" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.complemento}" maxlength="30"/></td>
					<td>Bairro:</td>
					<td><p:inputText id="txtBairro" name="txtBairro" type="text"
							value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.bairro}" maxlength="30"/></td>
				</tr>
				<tr>
				<td>CEP:</td>
					<td colspan="3"><p:inputText id="txtCEP" name="txtCEP"
							type="text" value="#{ hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.cep.substring(0, 5)}-#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.cep.substring(5, 8)}" onkeypress="MascaraCEP(this);" maxlength="9"/></td>
				</tr>
				<tr>
					<td>Telefone:</td>
					<td><p:inputText type="text" id="txtDDDTel" name="txtDDDTel"
							style="width:20px" maxlength="2" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.telefone.substring(0, 2)}"  onkeypress="BlockKeybord();"  /> <p:inputText
								id="txtTelefone" name="txtTelefone" type="text"
								value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.telefone.substring(2, 10)}" onkeypress="MascaraTel(this)"   maxlength="15"/></td>
					<td>Celular:</td>
					<td><p:inputText type="text" id="txtDDDCel" name="txtDDDCel"
							style="width:20px" maxlength="2" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.celular.substring(0, 2)}" onkeypress="BlockKeybord();" /> <p:inputText
								id="txtCelular" name="txtCelular" type="text" value="#{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.celular.substring(2, 10)}" onkeypress="MascaraTel(this)" maxlength="15"/></td>
				</tr>
			</table>
		</fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><img src="#{facesContext.externalContext.requestContextPath}/images/seta_vermelha.gif" align="absmiddle"></img>
				<b>Posição de Risco na Data de Abertura da OS - #{hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.dt_abertura} - (R$)</b></td>
			</tr>
		</table>

		<fieldset class="PanelTitle">
			<table width="50%" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td colspan="3">Operações Ativas</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td width="8%"></td>
					<td width="28%">- A Vencer:</td>
					<td><p:inputText styleClass="" id="txtVencer"
							style="text-align:right" type="text"
							value="${hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_vencer != null ? hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_vencer : ''}"  
							onkeypress="BlockKeybord(); fnMascaraValor(this,2); " maxlength="14" />
					</td> <!-- Formatar hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_vencer -->
				</tr>
				<tr>
					<td width="8%"></td>
					<td width="28%">- Vencida:</td>
					<td><p:inputText styleClass="" id="txtvencida"
							style="text-align:right" type="text"
							value="${hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_vencida != null ? hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_vencida : ''}" onkeypress="BlockKeybord(); fnMascaraValor(this,2); " maxlength="14" />
							</td>
				</tr>
				<tr>
					<td></td>
					<td>- com Creli:</td>
					<td><p:inputText styleClass="" id="txtCreli"
							style="text-align:right" type="text"
							value="${hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_creli != null ? hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.creli : ''}" onkeypress="BlockKeybord(); fnMascaraValor(this,2); " maxlength="14" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>- com Prejuízo:</td>
					<td><p:inputText styleClass="" id="txtPreju"
							style="text-align:right" type="text"
							value="${hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_preju != null ? hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_preju : ''}" onkeypress="BlockKeybord(); fnMascaraValor(this,2); " maxlength="14" />
					</td>
				</tr>
				<tr style="height: 5px">
					<td colspan="3"></td>
				</tr>
				<tr>
					<td colspan="2">Operações Passivas:</td>
					<td><p:inputText styleClass="" id="txtObs" style="text-align:right"
							type="text" value="${hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_passiva != null ? hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.oper_passiva : ''}" onkeypress="BlockKeybord(); fnMascaraValor(this,2); " maxlength="14" />
					</td>
				</tr>
				<tr>
					<td colspan="2">Reciprocidade:</td>
					<td><p:inputText styleClass="" id="txtReci"
							style="text-align:right" type="text"
							value="${hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.reciprocidade != null ? hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.reciprocidade : ''}" onkeypress="BlockKeybord(); fnMascaraValor(this,2); " maxlength="14" />
					</td>
				</tr> 
			</table>
		</fieldset>	

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>


		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><img src="#{facesContext.externalContext.requestContextPath}/images/seta_vermelha.gif" align="absmiddle"></img>
				<b>Restrições na Data de Abertura da OS - ${hy_detalheenvolvfunc.cadastroOsDetalheEnvolvFunc.dt_abertura}</b></td>
			</tr>
		</table>

		<table>

			<tr>
				<td><p:button id="Button4" type="button"
					value="Inserir Lançamento em Branco" onclick="InsereLinha()" /></td>
			</tr>
		</table>

		<fieldset class="PanelTitle">
			<div id="divOverFlow"
				style="overflow: auto; width: 100%; height: 1px;" align="left">
				
				<div id="divRestricao" name="divRestricao">
					<table id="tblPrincipal" style="display: none;" cellpadding="0"
						cellspacing="1">
						<tr
							style="background-color: gray; color: White; font-weight: bold">
							<td width="30px" class="GridItemFixed" align="center"
								colspan="1">#</td>
							<td width="155px">Instituição</td>
							<td width="155px">Especificação</td>
							<td width="100px">Valor</td>
							<td width="100px">Data Inclusão</td>
							<td></td>
						</tr>
						
						<!-- 
						<%if intRecCount > 0 then%> <%while not objRsRest.EOF:
						iCountLinhas = iCountLinhas + 1%>

						-->
							<tr style="background:#e8e8e8">
								<td align="center"><p:inputText type="hidden" id="hdniCountLinhas" value="" /> <!-- <%=objRsRest("SQ_RESTRICAO")  %> -->
									<b>iCountLinhas</b> 
								</td>
								<td align="center">
									<p:inputText type="text" id='txtiCountLinhasInst' value="" style="width:153px" maxlength="20" /> <!-- <%=objRsRest("INSTITUICAO")   [] -->
								</td>
								<td align="center">
									<p:inputText type="text" id='txtiCountLinhasEspec' value="" style="width:153px" maxlength="20" /> <!-- <%=objRsRest("ESPECIFICACAO") %> -->
								</td>
								<td align="center">
									<p:inputText type="text" id='txtiCountLinhasValor' value="" style="width:98px" onkeypress="BlockKeybord(); fnMascaraValor(this,2);" maxlength="14" /> <!-- <%if not isnull(objRsRest(" VALOR")) then response.write(FormatNumber(objRsRest("VALOR"),2))endif%> -->
								</td>
								<td align="center">
									<p:inputText type="text" id='txtiCountLinhasData' value="" style="width:98px" onblur="VerificaData(this);" maxlength="10" onkeydown="MascararData(this);" /> <!-- <%=objRsRest("DATA")%> -->
								</td>
								<td>
									<h:graphicImage height="17" style="cursor:hand" align="absmiddle" src="#{facesContext.externalContext.requestContextPath}/images/btn_excluir_ib.gif" alt="Excluir Restrição" onclick='Excluir(siCountLinhas);' />
								</td>
							</tr>
						<!--
						<% objRsRest.MoveNext :wend %> <%end if %>
						 -->
					</table>
				  </div>
				  <p:inputText type="hidden" id="hdnTotalLinhas" name="hdnTotalLinhas"
						value="" />  <!-- <%=iCountLinhas%> -->
				</div>
		</fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>
		<p:button id="Salvar" type="button"
					value="Salvar" onclick="Teste()" />
  </h:form>
 </body>
</ui:define></ui:composition>
