<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title></title>
	<link rel="Stylesheet" href="#{request.contextPath}/CSS/hy_Style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/HY_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javascript">
		//<![CDATA[		
		
		function Fechar()
		{
		   window.close();    
		}
		
		function Salvar()
		{
		    var lngTotalHoras = parseFloat(document.forms[0].txtHdTotalHoras.value);
		    var lngTotalVlGasto = parseFloat(document.forms[0].txtHdTotalVlGasto.value);
		    
		    var lngHoras = parseFloat(document.forms[0].txtHora.value);
		    var lngVlGasto = parseFloat(document.forms[0].txtVlGasto.value);
		    
		    var strMsg = '';
		    
		    
		    if(!lngHoras && !lngVlGasto) 
		    {
		        alert('Preencha o valor de pelo menos um campo!')
		        return;
		    }
		    
		    if(!lngHoras && lngVlGasto) 
		    {
		        document.forms[0].txtHora.value = 0;
		    }
		    
		    if(lngHoras && !lngVlGasto) 
		    {
		        document.forms[0].txtVlGasto.value = 0;
		    }
		    
		    if (lngHoras < 0 )
		        if(lngTotalHoras < Math.abs(lngHoras))
		        {
		            strMsg += 'Valor de Horas a ser lançado é inválido. Valor maior que o total!';
		        }
		   
		    if (lngVlGasto < 0 )
		        if (lngTotalVlGasto < Math.abs(lngVlGasto))
		        {
		            if (strMsg != '') 
		                strMsg += '\n';        
		                
		            strMsg += 'Valor de Gastos Adicionais a ser lançado é inválido. Valor maior que o total!'    
		        }
		
		    if (strMsg != '')
		    {
		        alert(strMsg)
		        return;
		    }
		    
		    document.forms[0].txtHdAction.value = 'S'; // Salvar
		    document.forms[0].submit();
		}
		
		function BlockKeybordNeg()
		{
		    if (event.keyCode != 45)
			{
			    if((event.keyCode < 48) || (event.keyCode > 57 ))
			    {		
			        event.returnValue = false;		
			    }	
			}    
		}
		
		function window.onload ()
		{
			Resize();
		}
		
		function Resize()
		{
		    //window.parent.document.all['ifrmLancHr'].height=this.document.body.scrollHeight;
		    window.parent.document.all['ifrmLancHr'].height=400;	
		} 
		//]]>
	</script>
</h:head>

<h:body class="PanelTitle">
	<h:form method="post">
		<table width="100%" border="0"
			style="background-color: Red; color: White">
			<tr>
				<td colspan="6">Atribuir Equipe à OS > Lançar horas trabalhadas</td>
			</tr>
			<tr>
				<td><b>Nome: <h:outputText
							value="#{EquipatribLanchrBean.cadosEquipatribLanchr.strNomeRecurso}" /></b></td>
				<td><b>Nº da OS: <h:outputText
							value="#{EquipatribLanchrBean.cadosEquipatribLanchr.strNrSeqOs}" /></b></td>
				<td align="right">
					<p:commandButton value="Fechar" id="btnFechar" onclick="Fechar()"  />
				</td>
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr height="25" style="background-color: gray; color: White">
				<td width="2%"></td>
				<td width="25%"><b>Tempo Trabalhado</b></td>
				<td width="25%"><b>Gastos Adicionais</b></td>
				<td width="18%"><b>Inserir Tempo</b></td>
				<td colspan="2"><b>Inserir Gastos Adicionais</b></td>
			</tr>
			<tr height="25">
				<td></td>
				<td><b><h:outputText
							value="#{EquipatribLanchrBean.cadosEquipatribLanchr.HORAS}" />h</b></td>
				<td><b><h:outputText
							value="#{EquipatribLanchrBean.cadosEquipatribLanchr.GASTOS_ADICIONAIS}" /></b></td>
				<td><p:inputText id="txtHora" name="txtHora" style="width:40px"
						onkeypress="BlockKeybordNeg()" maxlength="3" />(horas)</td>
				<td>R$ <p:inputText id="txtVlGasto" name="txtVlGasto"
						style="width:60px; text-align:right"
						onkeypress="BlockKeybordNeg()" maxlength="4" />,00
				</td>
				<td></td>
			</tr>
			<tr style="background-color: gray; height: 1px;">
				<td colspan="8"></td>
			</tr>
			<tr height="25">
				<td colspan="6" align="right">
					<p:commandButton value="Salvar" id="btnSalvar" onclick="Salvar()"  />
				</td>
			</tr>
		</table>
		<p:inputText id="txtHdCpf" name="txtHdCpf" type="hidden"
			value="#{EquipatribLanchrBean.cadosEquipatribLanchr.strCpf}" />
		<p:inputText id="txtHdNrSeqOs" name="txtHdNrSeqOs" type="hidden"
			value="#{EquipatribLanchrBean.cadosEquipatribLanchr.strNrSeqOs }" />

		<p:inputText id="txtHdTotalHoras" name="txtHdTotalHoras" type="hidden"
			value="#{EquipatribLanchrBean.cadosEquipatribLanchr.HORAS}" />
		<p:inputText id="txtHdTotalVlGasto" name="" type="hidden"
			value="#{EquipatribLanchrBean.cadosEquipatribLanchr.GASTOS_ADICIONAIS}" />

		<p:inputText id="txtHdAction" name="txtHdAction" type="hidden"
			value="#{EquipatribLanchrBean.cadosEquipatribLanchr.txtHdAction}" />
	</h:form>
</h:body>
</ui:define></ui:composition>

