<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>	    
    <h:outputStylesheet name="css/hy_style.css"/>
    
   	<title>Download dos Arquivos Anexos</title> 
   	<style>
   		.pesq-anexo-tabela tr:nth-child(odd) {
   			background-color: #e8e8e8;
   		}   		
   	</style>
   </h:head>
   
 <h:body class="PanelTitle" style="height: 100%">
	<h:form id="frm" name="frm" method="post">
		<div style="width: 800px; height: 600px; margin: 10px auto">
			<table style="width: 100%" class="pesq-anexo-tabela">
				<c:choose>
				    <c:when test="#{not empty hyHistPesqAnexoBean.objRsAnexo}">
				    	<c:forEach items="#{hyHistPesqAnexoBean.objRsAnexo}" var="rsAnexo" varStatus="status">
				    		<tr style="height: 20px">      
								<td><a href="#{hyHistPesqAnexoBean.arquivo}" style="color: blue" target="">#{rsAnexo}</a></td>
							</tr>
			    		</c:forEach>
		    		</c:when>
				    <c:otherwise> 
				    	<tr style="width: 40px">
				    		<td style="text-align: center;">Nenhum Registro Encontrado!</td>
				    	</tr>	
					</c:otherwise> 
				</c:choose>
			</table>
		</div>
	</h:form>
</h:body>
</ui:define></ui:composition>