<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
 
<h:head>
</h:head>

<h:body>
	<h:form>  
     <p:dataTable var="result" value="#{resultMB.results}" rows="10"
            paginator="true"
            >
            <p:column headerText="Código Evento">
                   <h:outputText value="#{result.evento}" />
            </p:column>

            <p:column headerText="Responsável">
                   <h:outputText value="#{result.responsavel}" />
            </p:column>

            <p:column headerText="Data">
                   <h:outputText value="#{result.data}" >
                   		<f:convertDateTime pattern="dd/MM/yyyy" />
                   </h:outputText>
            </p:column>

            <p:column headerText="Agęncia">
                   <h:outputText value="#{result.agencia}" />
            </p:column>

            <p:column headerText="Situaçăo">
                   <h:outputText value="#{result.situacao}" />
            </p:column>

            <p:column headerText="Título">
                   <p:button value="#{result.titulo}" href="/HY_Hist_Exibir_Titulo.xhtml?DsTitu=#{result.titulo}" />
            </p:column>
            
            <p:column headerText="Anexo">
                   <p:button value="#{result.anexo}" href="/HY_Hist_Pesq_Anexo.xhtml?strEvento=#{result.anexo}" />
            </p:column>

		</p:dataTable>
       </h:form>
</h:body>
</ui:define></ui:composition>