<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
    <title>HY - Ocorrências Especiais</title>
    <script type="text/javascript">
    function Voltar(){
        history.back();
    }
    
    function Imprimir(){
        window.print();
    }
    </script>
</h:head>
<h:body>
    <table border = '0'>
        <tr><td >&#160;</td></tr> 
        <tr><td colspan='8' align='center' style="font-size:medium;"><b>Superintendência de Ocorrências Especiais</b></td></tr>           
        <tr><td >&#160;</td></tr>    
        <tr><td colspan='8' align='center' style="font-size:medium;"><h:outputText value="#{hy_relosevento.strNmRelat}"></h:outputText></td></tr>
        <tr><td >&#160;</td></tr>    
        <tr><td >&#160;</td></tr>                    
        <tr>
        	<td colspan='8' align='center' style="font-size:x-small;">
        		<h:outputLabel for="pDtIni">Período: </h:outputLabel>
				<h:outputText id="pDtIni" value="#{hy_relosevento.strDtIni}"></h:outputText>
        		<h:outputLabel for="pDtFim"> até </h:outputLabel>
				<h:outputText id="pDtFim" value="#{hy_relosevento.strDtFim}"></h:outputText>
        	</td>
        </tr>
        <tr><td >&#160;</td></tr>    
    </table>
    
	<p:dataTable var="linha" value="#{hy_relosevento.objRsRelat}">
		<p:columnGroup type="header">
			<p:row>
				<p:column headerText="Nº OS"></p:column>
				<p:column headerText="Canal de Origem OS"></p:column>
				<p:column headerText="Status OS"></p:column>
				<p:column headerText="Pessoas Envolvidas no Processo"></p:column>
				<p:column headerText="Status de Participação"></p:column>
				<p:column headerText="Evento"></p:column>
				<p:column headerText="Canal"></p:column>
				<p:column headerText="Proposição"></p:column>
				<p:column headerText="Data encerramento OS"></p:column>				
			</p:row>
		</p:columnGroup>
		<c:choose>
			<c:when test="#{ not empty hy_relosevento.objRsRelat}">
			<p:column>
				<h:outputText value="#{linha.strNOs}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strCnalOrig}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strStatusOs}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strPessoasEnvolvidas}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strStatusPart}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strEvnto}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strCnal}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strProps}" />
			</p:column>
			<p:column>
				<h:outputText value="#{linha.strDtEncOs}" />
			</p:column>
			</c:when>
			<c:otherwise>
				<!--Sem Resultado-->
			</c:otherwise>
		</c:choose>
	
	</p:dataTable>

    <!--RODAPE-->
    <table><tr height="15"><td></td></tr></table>
    <table border='0'>
        <tr>
            <td align="center"><font size="1" face="Arial, Helvetica, sans-serif"><h:outputText id="pDtFim" value="#{hy_relosevento.data}"></h:outputText></font></td>
            <td colspan='7' align="center"><font size="1" face="Arial, Helvetica, sans-serif">Superintęndência de Ocorrências Especiais</font></td>
        </tr>
    </table>
    
</h:body>
</ui:define></ui:composition>