<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<title>HY - Ocorrências Especiais</title>

	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_avanade-style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
</h:head>

<h:body class="PanelTitle">
	<h:form id="frmRelatorio" name="frmRelatorio">
	
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			    <tr style="background-color:red; height:1px"><td></td></tr>
			    <tr style="background-color:red; color:White; height:20px">
			        <td valign="middle">
			            &nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />
			            &nbsp;<b>Relatórios Gerenciais x Contabilidade</b>
			        </td>
			    </tr>    
			</table>
		<fieldset class="PanelTitle">
			<table>
				<c:set var="strArea" value = "#{hyRelatorioBean.strArea}"/>
				
				<!-- GOI -->
				<c:if test = "${strArea == 'GOI'}" >
					<tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Controle de Penalidades</td>
				        <td><input id="Button1" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Descumprimento de Normativos</td>
				        <td><input id="Button3" type="button" value="Visualisar" onclick=""/></td>
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Movimentação Irregular em Conta Corrente</td>
				        <td><input id="Button5" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
	         	
	      		</c:if>
	      		
	      		<!-- GOE -->
	      		
	      		<c:if test = "${strArea == 'GOE'}" >
					<tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de OS – Semanal</td>
				        <td><input id="Button19" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de OS – Mensal</td>
				        <td><input id="Button21" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraudes Classificadas por Segmento – Mensal</td>
				        <td><input id="Button23" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraudes Classificadas por Segmento – Período</td>
				        <td><input id="Button9" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraudes Classificadas por Segmento – Anual</td>
				        <td><input id="Button11" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
	         	
	      		</c:if>
	      		
	      		<!-- Prevencao -->
	      		
	      		<c:if test = "${strArea == 'PREVENCAO'}" >
					<tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;
				            <a href="../Relatorio/PrevFragilizacao.doc">Relatório de Fragilização por Canais Eletrônicos</a>
				        </td>
				    </tr>
	         	
	      		</c:if>
	
	     	</table>
     	</fieldset>
     	<table width="100%" border="0" cellpadding="1" cellspacing="1">
		    <tr style="background-color:red; height:1px"><td></td></tr>
		    <tr style="background-color:red; color:White; height:20px">
		        <td valign="middle">
		            &nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />
		            &nbsp;<b>Relatórios Gerenciais x Contabilidade</b>
		        </td>
		    </tr>    
		</table>
     	<fieldset class="PanelTitle">
     		<table>
     			<!-- GOI -->
     			<c:if test = "${strArea == 'GOI'}" >
					<tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Captura de Eventos de Perdas por Produto</td>
				        <td><input id="Button7" type="button" value="Visualisar" /></td>        
				    </tr>
	      		</c:if>
	      		
	      		<!-- GOE -->
	      		<c:if test = "${strArea == 'GOE'}" >
					<tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Captura de Eventos de Perdas por Produto</td>
				        <td><input id="Button25" type="button" value="Visualisar" /></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Riscos Operacionais - Contabilização</td>
				        <td><input id="Button27" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
	      		</c:if>
     		</table>
     	</fieldset>
     	<table width="100%" border="0" cellpadding="1" cellspacing="1">
		    <tr style="background-color:red; height:1px"><td></td></tr>
		    <tr style="background-color:red; color:White; height:20px">
		        <td valign="middle">
		            &nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />
		            &nbsp;<b>Relatórios Gerenciais Estatísticos</b>
		        </td>
		    </tr>    
		</table>
		<fieldset class="PanelTitle">
			<table>
			
			<!-- GOI -->
				<c:if test = "${strArea == 'GOI'}" >
					<tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraudes Internas por Período</td>
				        <td><input id="Button13" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraudes Internas por Produto</td>
				        <td><input id="Button15" type="button" value="Visualisar" /></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraudes Internas por Status e Data Base</td>
				        <td><input id="Button17" type="button" value="Visualisar" /></td>        
				    </tr>
	      		</c:if>
	      		
	      		<!-- GOE -->
	      		
	      		<c:if test = "${strArea == 'GOE'}" >
					<tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de OS´s Encerradas - Intenet Banking</td>
				        <td><input id="Button2" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de OS´s Encerradas - Super Linha</td>
				        <td><input id="Button4" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Processo de Fraudes por Produto – Mensal</td>
				        <td><input id="Button29" type="button" value="Visualisar" /></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Resumo de Fraudes em Aberto – Período</td>
				        <td><input id="Button31" type="button" value="Visualisar" onclick=""/></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Recuperação Mensal</td>
				        <td><input id="Button33" type="button" value="Visualisar" onclick=""/></td>       
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Recuperação – Fraudes Operacionais</td>
				        <td><input id="Button34" type="button" value="Visualisar" /></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraude no Internet Banking por Segmento – Mensal</td>
				        <td><input id="Button36" type="button" value="Visualisar" /></td>        
				    </tr>
				    <tr>
				        <td>&nbsp;<h:graphicImage align="absmiddle"  name="/images/seta_d.gif" />&nbsp;Relatório de Fraude no Internet Banking por Segmento – Anual</td>
				        <td><input id="Button38" type="button" value="Visualisar" /></td>        
				    </tr>
	      		</c:if>
			</table>
		</fieldset>
     	
		
	</h:form>

	<script type="text/javascript">
	
	function ExibeRelatorio(nomeArquivo){
	    window.open('../Relatorio/'+nomeArquivo)    
	}


	function TrocaArea(cboId){
	var cbo = document.getElementById(cboId)

	if (cbo.value == 1){
	    document.frmRelatorio.action = 'HY_Relatorio.asp?area=GOI';
	}
	else if (cbo.value == 2){
	    document.frmRelatorio.action = 'HY_Relatorio.asp?area=GOE';
	}
	else if (cbo.value == 3){
	    document.frmRelatorio.action = 'HY_Relatorio.asp?area=PREVENCAO';
	}    

	document.frmRelatorio.submit();

	}
</script>

</h:body>
</ui:define></ui:composition>
