<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<title>HY - Ocorrências Especiais</title>

	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_avanade-style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
</h:head>

<h:body class="PanelTitle">

	<table width="100%" border="0" cellpadding="1" cellspacing="1">
			    <tr style="background-color:red; height:1px"><td></td></tr>
			    <tr style="background-color:red; color:White; height:40px">
			        <td colspan='14' align='center' style="font-size:medium;">
                Superintendência de Ocorrências Especiais <br />        
                Relatório Custo Total OS´s
            </td>
			    </tr>    
			    <tr><td colspan='14' align='center' style="font-size:x-small;"><b>Periodo</b>&nbsp;#{hyRelosFraudeInternaPeriodoBean.strDtIni}<b>&nbsp;ate&nbsp;</b>#{hyRelosFraudeInternaPeriodoBean.strDtFim}</td></tr>
			</table>
     
    	 <!-- CABEÇALHO -->
	    <p:dataTable var="result" value="#{CustoTotalOSMock.results}" rowIndexVar="index">
	    	<p:columnGroup type="header">
	            <p:row>
	            	<p:column headerText="" />
	            	<p:column headerText="Nº OS" />
	            	<p:column headerText="Status" />
	            	<p:column headerText="Data Abertura" />
	            	<p:column headerText="Data Encerramento" />
	            	<p:column headerText="Valor Envolvido" />
	            	<p:column headerText="Valor Perda" />
	            	<p:column headerText="Custo Fixo" />
	            	<p:column headerText="Custo Variável" />
	            	<p:column headerText="Custo OS" />
	            	
	            </p:row>
	        </p:columnGroup>

          	
		     <c:set var="objRsRelat"  value="#{hyRelosFraudeInternaPeriodoBean.objRsRelat}"/>
	         
		         	<p:column>
			            <h:outputText style="width:30px" value="${index + 1}" />
			        </p:column>
			         <p:column>
			            <h:outputText value="#{result.NR_SEQU_ORDE_SERV}" />
			        </p:column>
			        
			        <p:column>
			            <h:outputText value="#{result.NM_SITU_ORDE_SERV}" />
			        </p:column>
			        
			        <p:column>
			            <h:outputText value="#{result.DT_ABER_ORDE_SERV}" />
			        </p:column>
			        
			        <p:column>
			            <h:outputText value="#{result.DT_ENCERRAMENTO}" />
			        </p:column>
			        
			        <p:column>
			            <h:outputText value="#{result.VL_ENVO}" />
			        </p:column>
			        
			        <p:column>
			            <h:outputText value="#{result.VL_PERD_EFET}" />
			        </p:column>
			        
			        <p:column>
			            <h:outputText value="#{result.VL_CUST_ORDE_DE_SERV}" />
			        </p:column>
		    
		    <!--RODAPE-->
		    
			<c:forEach items="#{CustoTotalOSMock.results}" var="result">
			  <c:set var="dblTotalCusto" value="${dblTotalCusto + result.VL_CUST_ORDE_DE_SERV}"/> 
			</c:forEach>
			
		    <p:columnGroup type="footer">
	            <p:row>
	                <p:column colspan="9"  footerText="Custo Total OS´s:  ${dblTotalCusto}" />
	
	            </p:row>
	        </p:columnGroup>
		</p:dataTable>
    
    <table>

        <tr><td >&nbsp;</td></tr>    
        <tr><td >&nbsp;</td></tr>    
        <tr>
            <td colspan="2"><font size="1" face="Arial, Helvetica, sans-serif">#{hyRelosCustoTotalOs.data}</font></td>
            <td colspan='12' align="center"><font size="1" face="Arial, Helvetica, sans-serif">Superintêndencia de Ocorrências Especiais</font></td>
        </tr>
        <tr><td >&nbsp;</td></tr>    

    </table>
    


	<script type="text/javascript">
	
	function Voltar(){
        history.back();
    }
    
    function Imprimir(){
        window.print();
    }
</script>

</h:body>
</ui:define></ui:composition>
