<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet"
		href="resources/css/hy_style.css" media="screen" />
	<link type="text/css" rel="stylesheet"
		href="resources/css/hy_calendar.css" media="screen" />
	<script type="text/javaScript"
		src="resources/javascript/hy_calendario.js"></script>
	<script type="text/javaScript" src="resources/javascript/hy_funcoes.js"></script>
	<script type="text/javaScript"
		src="resources/javascript/hy_formChek.js"></script>


	<ui:insert name="javaScriptReference" />

	<script type="text/javascript">
//<![CDATA[
    var strReadOnly = "#{param['strReadOnly']}";   
    if(strReadOnly == '1')
    {        
        TravaForm();
       // parent.parent.rodape.location.replace("HY_BtnGenerico.asp?strButton=");
    }
//]]>
</script>
</h:head>
<h:body class="PanelTitle">


</h:body>

</ui:define></ui:composition>
