<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<f:event listener="#{alterarStatusOs.verificarPermissao}" type="preRenderView" />
<h:head>
    <title>HY - Ocorrências Especiais</title>
    <h:outputStylesheet name="css/hy_style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
	<script type="text/javascript">
		//<![CDATA[
			function Voltar(){window.close();}

			function Alterar()
			{
				alterarRemoteCommand();
				//alert('Alterações realizadas com sucesso!');
				//parent.window.document.location.href = '';
			}
		//]]>
	</script>
</h:head>
<h:body class="PanelTitle">

<h:form>

<table width="100%" border="0" style="background-color:Red; color:White">
    <tr>
        <td>Pesquisa OS > Alterar Status da OS</td>        
    </tr>
    <tr>
        <td><b>OS nº <h:outputText value="#{alterarStatusOs.objRsOs.CODIGO}"/></b></td>
        <td align="right"><input id="Button2" type="button" value="Voltar" style="width:50px" onclick="Voltar()"/></td>
    </tr>
    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
</table>
<table width="100%"><tr style="height:10px"><td ></td></tr></table>
<fieldset><legend><strong>Status Atual da OS</strong></legend>
<table width="" border="0" >
    <tr>    
        <td>Status:</td>
        <td id="tdStatus"><b><h:outputText value="#{alterarStatusOs.objRsOs.SITUACAO}" /></b></td>        
    </tr>
    <tr style="height:3px"><td ></td></tr>
    <tr>
        <td>WorkFlow:</td>
        <td id="tdWorkFlow"><b><h:outputText value="#{alterarStatusOs.objRsOs.CD_NOTI}"/> - <h:outputText value="#{alterarStatusOs.objRsOs.NM_NOTI}"/></b></td>
    </tr>  
</table>
</fieldset>
<table width="100%"><tr style="height:10px"><td ></td></tr></table>
<fieldset><legend><strong>Alterar Para:</strong></legend>
<table>
    <tr>
	    <td>
   	    	<p:outputLabel for="cboSituacaoOs" value="Status:"></p:outputLabel>
	    </td> 
	    <td>
   	   	    <p:selectOneMenu id="cboSituacaoOs" value="#{alterarStatusOs.cboSituacaoOsSelecionada}">
				<f:selectItem itemLabel="Selecione" itemValue="" />
				<f:selectItems value="#{alterarStatusOs.cboSituacaoOs.entrySet()}" var="pesquisaOs" itemvalue="#{pesquisaOs.keySet()}" itemLabel="#{pesquisaOs.key} - #{pesquisaOs.value}" />
	        </p:selectOneMenu>
	    </td>
    </tr>
    <tr>
    	<td>
 		    <p:outputLabel for="cboSituacaoWorkFlow" value="WorkFlow: "></p:outputLabel>
       	</td>
   	    <td>
	    	<p:selectOneMenu id="cboSituacaoWorkFlow" value="#{alterarStatusOs.cboSituacaoWorkFlowSelecionada}">
				<f:selectItem itemLabel="Selecione" itemValue="" />
				<f:selectItems value="#{alterarStatusOs.cboSituacaoWorkFlow.entrySet()}" var="pesquisaOs" itemvalue="#{pesquisaOs.keySet()}" itemLabel="#{pesquisaOs.key} - #{pesquisaOs.value}" />
	        </p:selectOneMenu>
   	    </td>
    </tr>  

</table>
</fieldset>
<table width="100%" class="bg-red w-100 align-right">
    <tr height="25">
    	<td align="right">
	     	<p:commandButton value="Alterar" onclick="Alterar()" />
			<p:remoteCommand name="alterarRemoteCommand" actionListener="#{alterarStatusOs.alterar}" />
       </td>
    </tr>
</table>
</h:form>

</h:body>
</ui:define></ui:composition>
