<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/templates/template.xhtml">
	
		<ui:define name="content" >

<h:head>
	<title></title>
	<h:outputStylesheet name="../css/hy_style.css" />
	<h:outputScript name="../javascript/hy_funcoes.js" />
	
	
	<script type="text/javascript">
	//<![CDATA[
		function MostraPesquisa()		{
		    //parent.rodape.location.href = 'Botoes.asp?strBotao=Notificacao';
		   /*  window.open('HY_Adm_WorkFlow_NoificacaoManual.asp', '_self', ''); */
		    btnMostraPesquisa();
		}
		
		function MostraParametros()		{
		    //parent.rodape.location.href = 'Botoes.asp?strBotao=Parametro';
		    /* window.open('HY_Adm_Workflow_Notificacao_Para.asp', '_self', ''); */
		    btnMostraParametros();
		}
	//]]>
	</script>
</h:head>

<h:body class="PanelTitle" style="height:100%">
<h:form>
	<table>
	    <tr height="25">
	        <td width="5"></td>
	        <td>   
				<p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
				<h:outputLink value="hyb_adm_workflow_notificacao_manual.xhtml">Notificaçăo Manual</h:outputLink>
				
	        </td>
	    </tr>
	    <tr height="25">
	        <td></td>
	        <td>
		        <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
				<h:outputLink value="hyb_adm_workflow_notificacao_pesq.xhtml">Pesquisar Notificaçőes Manuais</h:outputLink>
	        </td>
	    </tr>
	    <tr height="25">
	        <td></td>
	        <td>
		        <p:graphicImage alt="Pesquisar Superior Imediato" value="../images/seta_d.gif" style="cursor:pointer"/>
				<h:outputLink value="hyb_adm_workflow_notificacao_para.xhtml">Definir Parâmetros de Notificaçőes Automáticas</h:outputLink>
				
	        </td>
	    </tr>
	</table>
</h:form>
</h:body>
</ui:define>
</ui:composition>