<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
		<h:head>
			<title>HY - Ocorrências Especiais</title>

			<link type="text/css" rel="stylesheet"
				href="#{facesContext.externalContext.requestContextPath}/css/hy_style.css" />
				<link type="text/css" rel="stylesheet"
				href="#{facesContext.externalContext.requestContextPath}/css/santander.css" />
			<link type="text/css" rel="stylesheet"
				href="#{facesContext.externalContext.requestContextPath}/css/hy_calendar.css" />

			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>

			<script type="text/javascript">
				//<![CDATA[
				function Voltar() {
					history.back();
				}
				
				function VerErro(strRetorno){
                    if (confirm("Ocorreu um problema ao salvar o Detalhe. Deseja visualiza-lo?"))
                           alert(strRetorno);
             	}


				function ValidaDatas(obj) {
					console.log("ValidaDatas primeiro---");
					var arrDtSolicCrto = new Array();
					var arrDtCancCrto = new Array();
					var arrDtAtivCrto = new Array();
					var arrDtFrauCrto = new Array();

					var arrDadIniDtAtiv = new Array();
					var arrDadIniDtEmissao = new Array();
					var arrDadIniDtCancelamento = new Array();

					var arrDtFrau = new Array();
					var arrDtBloqueio = new Array();

					var arrAssDtSolic = new Array();
					var arrAssDtCadastr = new Array();
					
					//Data da fraude 
					if (obj.id == 'frmDetalheSuperLinha:txtDtFrau_input') {
						arrDtFrau = document.getElementById('frmDetalheSuperLinha:txtDtFrau_input').value
								.split('/');
						arrDtBloqueio = document.getElementById('frmDetalheSuperLinha:txtTelDtBloq_input').value
								.split('/');
						
						if ((parseInt(arrDtFrau[2] + arrDtFrau[1]
								+ arrDtFrau[0])) > (parseInt(arrDtBloqueio[2]
								+ arrDtBloqueio[1] + arrDtBloqueio[0]))) {
							alert('Data inválida!\nA data da fraude deve ser menor ou igual à data de bloqueio!');
							obj.value = '';
							//obj.focus();
							return false;
						}
					}

					//Data de Ativaçăo
					if (obj.id == 'frmDetalheSuperLinha:txtTelDtBloq_input') {
						arrDtFrau = document.getElementById('frmDetalheSuperLinha:txtDtFrau_input').value
								.split('/');
						arrDtBloqueio = document.getElementById('frmDetalheSuperLinha:txtTelDtBloq_input').value
								.split('/');

						if ((parseInt(arrDtBloqueio[2] + arrDtBloqueio[1]
								+ arrDtBloqueio[0])) < (parseInt(arrDtFrau[2]
								+ arrDtFrau[1] + arrDtFrau[0]))) {
							alert('Data inválida!\nA data de bloqueio deve ser maior ou igual à data da fraude!');
							obj.value = '';
							//obj.focus();
							return false;
						}
					}

					//Data de Ativaçăo
					if (obj.id == 'frmDetalheSuperLinha:txtAssDtSolic_input') {
						arrAssDtSolic = document.getElementById('frmDetalheSuperLinha:txtAssDtSolic_input').value
								.split('/');
						arrAssDtCadastr = document.getElementById('frmDetalheSuperLinha:txtAssDtCadastr_input').value
								.split('/');

						if ((parseInt(arrAssDtSolic[2] + arrAssDtSolic[1]
								+ arrAssDtSolic[0])) > (parseInt(arrAssDtCadastr[2]
								+ arrAssDtCadastr[1] + arrAssDtCadastr[0]))) {
							alert('Data inválida!\nA data da solicitaçăo deve ser menor ou igual à data do cadastramento!');
							obj.value = '';
							//obj.focus();
							return false;
						}
						
					}

					//Data de Ativaçăo 3
					if (obj.id == 'frmDetalheSuperLinha:txtAssDtCadastr_input') {
						arrAssDtSolic = document.getElementById('frmDetalheSuperLinha:txtAssDtSolic_input').value
								.split('/');
						arrAssDtCadastr = document.getElementById('frmDetalheSuperLinha:txtAssDtCadastr_input').value
								.split('/');

						if ((parseInt(arrAssDtCadastr[2] + arrAssDtCadastr[1]
								+ arrAssDtCadastr[0])) < (parseInt(arrAssDtSolic[2]
								+ arrAssDtSolic[1] + arrAssDtSolic[0]))) {
							alert('Data inválida!\nA data do cadastramento deve ser maior ou igual à data da solicitaçăo!');
							obj.value = '';
							//obj.focus();
							return false;
						}
					}

					//Data de Ativaçăo 4
					if (obj.id == 'frmDetalheSuperLinha:txtDadIniDtAtiv_input') {
						arrDadIniDtAtiv = document.getElementById('frmDetalheSuperLinha:txtDadIniDtAtiv_input').value
								.split('/');
						arrDadIniDtEmissao = document.getElementById('frmDetalheSuperLinha:txtDadIniDtEmis_input').value
								.split('/');
						arrDadIniDtCanc = document.getElementById('frmDetalheSuperLinha:txtDadIniDtCanc_input').value
								.split('/');

						if ((parseInt(arrDadIniDtAtiv[2] + arrDadIniDtAtiv[1]
								+ arrDadIniDtAtiv[0])) > (parseInt(arrDadIniDtEmissao[2]
								+ arrDadIniDtEmissao[1] + arrDadIniDtEmissao[0]))) {
							alert('Data inválida!\nA data de ativaçăo deve ser menor ou igual à data de emissăo!');
							obj.value = '';
							//obj.focus();
							return false;
						}

						if (arrDadIniDtCanc != '') {
							if ((parseInt(arrDadIniDtAtiv[2]
									+ arrDadIniDtAtiv[1] + arrDadIniDtAtiv[0])) > (parseInt(arrDadIniDtCanc[2]
									+ arrDadIniDtCanc[1] + arrDadIniDtCanc[0]))) {
								alert('Data inválida!\nA data de ativaçăo deve ser menor ou igual à data de cancelamento!');
								obj.value = '';
								//obj.focus();
								return false;
							}
						}
					}

					//Data de Emissăo
					if (obj.id == 'frmDetalheSuperLinha:txtDadIniDtEmis_input') {
						arrDadIniDtAtiv = document.getElementById('frmDetalheSuperLinha:txtDadIniDtAtiv_input').value
						.	split('/');
						arrDadIniDtEmissao = document.getElementById('frmDetalheSuperLinha:txtDadIniDtEmis_input').value
							.split('/');
						arrDadIniDtCanc = document.getElementById('frmDetalheSuperLinha:txtDadIniDtCanc_input').value
							.split('/');

						if ((parseInt(arrDadIniDtEmissao[2]
								+ arrDadIniDtEmissao[1] + arrDadIniDtEmissao[0])) > (parseInt(arrDadIniDtAtiv[2]
								+ arrDadIniDtAtiv[1] + arrDadIniDtAtiv[0]))) {
							alert('Data inválida!\nA data da emissăo deve ser menor ou igual à data de ativaçăo!');
							obj.value = '';
							//obj.focus();
							return false;
						}

						if (arrDadIniDtCanc != '') {
							if ((parseInt(arrDadIniDtEmissao[2]
									+ arrDadIniDtEmissao[1]
									+ arrDadIniDtEmissao[0])) > (parseInt(arrDadIniDtCanc[2]
									+ arrDadIniDtCanc[1] + arrDadIniDtCanc[0]))) {
								alert('Data inválida!\nA data de emissăo deve ser menor ou igual à data de cancelamento!');
								obj.value = '';
								//obj.focus();
								return false;
							}
						}
					}

					//Data de Cancelamento
					if (obj.id == 'frmDetalheSuperLinha:txtDadIniDtCanc_input') {
						arrDadIniDtAtiv = document.getElementById('frmDetalheSuperLinha:txtDadIniDtAtiv_input').value
						.	split('/');
						arrDadIniDtEmissao = document.getElementById('frmDetalheSuperLinha:txtDadIniDtEmis_input').value
							.split('/');
						arrDadIniDtCanc = document.getElementById('frmDetalheSuperLinha:txtDadIniDtCanc_input').value
							.split('/');

						if (arrDadIniDtAtiv != '') {
							if ((parseInt(arrDadIniDtCanc[2]
									+ arrDadIniDtCanc[1] + arrDadIniDtCanc[0])) < (parseInt(arrDadIniDtAtiv[2]
									+ arrDadIniDtAtiv[1] + arrDadIniDtAtiv[0]))) {
								alert('Data inválida!\nA data de cancelamento deve ser maior ou igual à data de ativaçăo!');
								obj.value = '';
								//obj.focus();
								return false;
							}
						}

						if (arrDadIniDtEmissao != '') {
							if ((parseInt(arrDadIniDtCanc[2]
									+ arrDadIniDtCanc[1] + arrDadIniDtCanc[0])) < (parseInt(arrDadIniDtEmissao[2]
									+ arrDadIniDtEmissao[1]
									+ arrDadIniDtEmissao[0]))) {
								alert('Data inválida!\nA data de cancelamento deve ser maior ou igual à data de emissăo!');
								obj.value = '';
								//obj.focus();
								return false;
							}
						}

						if (arrDadIniDtEmissao != '' & arrDadIniDtEmissao != '') {
							if ((parseInt(arrDadIniDtCanc[2]
									+ arrDadIniDtCanc[1] + arrDadIniDtCanc[0])) < (parseInt(arrDadIniDtAtiv[2]
									+ arrDadIniDtAtiv[1] + arrDadIniDtAtiv[0]))) {
								alert('Data inválida!\nA data de cancelamento deve ser maior ou igual à data de ativaçăo!');
								obj.value = '';
								//obj.focus();
								return false;
							}
						}
					}

					//Data de Solicitaçăo
					console.log("Data de Solicitaçăo");
					if (obj.id == 'frmDetalheSuperLinha:txtCartDtSolic_input') {
						arrDtSolicCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtSolic_input').value
								.split('/');
						arrDtAtivCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtAtiv_input').value
								.split('/');

						if ((parseInt(arrDtSolicCrto[2] + arrDtSolicCrto[1]
								+ arrDtSolicCrto[0])) > (parseInt(arrDtAtivCrto[2]
								+ arrDtAtivCrto[1] + arrDtAtivCrto[0]))) {
							alert('Data inválida!\nA data da solicitaçăo deve ser menor ou igual à data de ativaçăo!');
							obj.value = '';
							//obj.focus();
							return false;
						}
					}

					//Data de Ativaçăo
					if (obj.id == 'frmDetalheSuperLinha:txtCartDtAtiv_input') {
						arrDtSolicCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtSolic_input').value
							.split('/');
						arrDtAtivCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtAtiv_input').value

						if ((parseInt(arrDtAtivCrto[2] + arrDtAtivCrto[1]
								+ arrDtAtivCrto[0])) < (parseInt(arrDtSolicCrto[2]
								+ arrDtSolicCrto[1] + arrDtSolicCrto[0]))) {
							alert('Data inválida!\nA data de ativaçăo deve ser maior ou igual à data de solicitaçăo!');
							obj.value = '';
							//obj.focus();
							return false;
						}
					}

					//Data de Cancelamento
					if (obj.id == 'frmDetalheSuperLinha:txtCartDtCance_input') {
						arrDtCancCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtCance_input').value
								.split('/');
						arrDtAtivCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtAtiv_input').value

						if ((parseInt(arrDtCancCrto[2] + arrDtCancCrto[1]
								+ arrDtCancCrto[0])) < (parseInt(arrDtAtivCrto[2]
								+ arrDtAtivCrto[1] + arrDtAtivCrto[0]))) {
							alert('Data inválida!\nA data do cancelamento deve ser maior ou igual à data de ativaçăo!');
							obj.value = '';
							//obj.focus();
							return false;
						}
					}

					//Data Fraude
					if (obj.id == 'frmDetalheSuperLinha:txtCartDtFrau_input') {
						arrDtAtivCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtAtiv_input').value
								.split('/');
						arrDtFrauCrto = document.getElementById('frmDetalheSuperLinha:txtCartDtFrau_input').value
								.split('/');

						if ((parseInt(arrDtFrauCrto[2] + arrDtFrauCrto[1]
								+ arrDtFrauCrto[0])) < (parseInt(arrDtAtivCrto[2]
								+ arrDtAtivCrto[1] + arrDtAtivCrto[0]))) {
							alert('Data inválida!\nA data da fraude deve ser maior ou igual à data de ativaçăo!');
							obj.value = '';
							//obj.focus();
							return false;
						}
					}

				}

				function Salvar() {

					if (fnValidaCampos()) {
						console.log("passou no fnValidaCampos");
						fnSalvaDados();
					}
					SalvarOperacao();
				}

				/*function fnSalvaDados() {
					var strDados;
					var strInCrtoSeg;
					var strInBloqTelf;
					var strItssComl;
					var intTpConta = "0";
					var strContaIP = "";

					if (document.forms[0].rdoTpConta[1].checked)
						intTpConta = "1";

					if (document.getElementsByName('frmDetalheSuperLinha:rdoBloq').item(0).checked)
						strInBloqTelf = '1';
					else
						strInBloqTelf = '0';

					if (document.getElementById('frmDetalheSuperLinha:cboCSeg').item(0).selected)
						strInCrtoSeg = '0';
					else
						strInCrtoSeg = '1';

					if (document.getElementById('frmDetalheSuperLinha:chkItssComl').checked)
						strItssComl = 1;
					else
						strItssComl = 0;

					var intI = document.getElementsByName("txtContaIP").length;

					if (intI > 0) {
						if (intI == 1) {
							strContaIP = document.forms[0].txtContaIP.value;
						} else {
							for (var i = 0; i < intI; i++) {
								strContaIP = strContaIP
										+ document.forms[0].txtContaIP[i].value
										+ "|";
							}
						}
					}

				}*/

				function fnValidaCampos() {
					with (document) {

						if (getElementById('frmDetalheSuperLinha:txtTelDtBloq_input').value != '') {
							if (getElementById('frmDetalheSuperLinha:txtTelHrBloq').value == "") {
								alert('Favor inserir a hora.');
								getElementById('frmDetalheSuperLinha:txtTelHrBloq').focus();
								return false;
							}
						}
						
						if (getElementById('frmDetalheSuperLinha:txtAssDtSolic_input').value != '') {
							if (getElementById('frmDetalheSuperLinha:txtAssHr').value == "") {
								alert('Favor inserir a hora.');
								getElementById('txtAssHr').focus();
								return false;
							}
						}
						if (getElementById('frmDetalheSuperLinha:txtAssDtCadastr_input').value != '') {
							if (getElementById('frmDetalheSuperLinha:txtAssHrCadastr').value == "") {
								alert('Favor inserir a hora.');
								getElementById('frmDetalheSuperLinha:txtAssHrCadastr').focus();
								return false;
							}
						}

						//--Verifica Telefone Cliente
						if (getElementById("frmDetalheSuperLinha:txtDDDTelClie").value != '') {
							if (len(getElementById("frmDetalheSuperLinha:txtDDDTelClie").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtDDDTelClie").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtTelClie").value == '') {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtTelClie").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtTelClie").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtTelClie").focus();
								return;
							}
						}

						if (getElementById("frmDetalheSuperLinha:txtTelClie").value != '') {
							if (len(getElementById("frmDetalheSuperLinha:txtTelClie").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtTelClie").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtDDDTelClie").value == '') {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtDDDTelClie").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtDDDTelClie").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtDDDTelClie").focus();
								return;
							}

						}
						//--Fim Verifica Telefone Cliente

						//--Verifica Telefone Solicitante
						if (getElementById("frmDetalheSuperLinha:txtAssDDDTelSolic").value != '') {

							if (len(getElementById("frmDetalheSuperLinha:txtAssDDDTelSolic").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssDDDTelSolic").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtAssTelSolic").value == '') {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssTelSolic").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtAssTelSolic").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssTelSolic").focus();
								return;
							}
						}

						if (getElementById("frmDetalheSuperLinha:txtAssTelSolic").value != '') {
							if (len(getElementById("frmDetalheSuperLinha:txtAssTelSolic").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssTelSolic").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtAssDDDTelSolic").value == '') {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssDDDTelSolic").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtAssDDDTelSolic").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssDDDTelSolic").focus();
								return;
							}

						}
						//--Fim Verifica Telefone Solicitante

						//--Verifica Telefone cadastrado
						if (getElementById("frmDetalheSuperLinha:txtAssDDDTelCadastr").value != '') {
							if (len(getElementById("frmDetalheSuperLinha:txtAssDDDTelCadastr").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssDDDTelCadastr").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtAssTelCadastr").value == '') {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssTelCadastr").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtAssTelCadastr").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssTelCadastr").focus();
								return;
							}
						}

						if (getElementById("frmDetalheSuperLinha:txtAssTelCadastr").value != '') {
							if (len(getElementById("frmDetalheSuperLinha:txtAssTelCadastr").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssTelCadastr").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtAssDDDTelCadastr").value == '') {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssDDDTelCadastr").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtAssDDDTelCadastr").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtAssDDDTelCadastr").focus();
								return;
							}

						}
						//--Fim Verifica Telefone Solicitante            
					}

					return true;
				}

				function fnValidaDadosTelfAcessCnta() {

					with (document) {
						if (getElementById("frmDetalheSuperLinha:txtDDDTelfAcessCnta").value != '') {
							if (len(getElementById("frmDetalheSuperLinha:txtDDDTelfAcessCnta").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtDDDTelfAcessCnta").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtTelfAcessCnta").value == '') {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtTelfAcessCnta").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtTelfAcessCnta").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtTelfAcessCnta").focus();
								return;
							}
						} else {
							return false;
						}

						if (getElementById("frmDetalheSuperLinha:txtTelfAcessCnta").value != '') {
							if (len(getElementById("frmDetalheSuperLinha:txtTelfAcessCnta").value) < 9) {
								alert('Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtTelfAcessCnta").focus();
								return;
							}
							if (getElementById("frmDetalheSuperLinha:txtDDDTelfAcessCnta").value == '') {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtDDDTelfAcessCnta").focus();
								return;
							}
							if (len(getElementById("frmDetalheSuperLinha:txtDDDTelfAcessCnta").value) < 2) {
								alert('DDD Telefone inválido.');
								getElementById("frmDetalheSuperLinha:txtDDDTelfAcessCnta").focus();
								return;
							}
						} else {
							return false;
						}
					}

					return true;
				}

				function fnValidaHora(obj) {
					var strHora

					strHora = "0000" + obj.value.replace(":", "");
					strHora = strHora.substring(strHora.length - 4,
							strHora.length);

					if (parseInt(strHora.substring(0, strHora.length - 2)) > 24) {
						alert("Hora inválida.");
						obj.focus();
						return false;
					}

					if (parseInt(strHora.substring(strHora.length - 2,
							strHora.length)) > 59) {
						alert("Hora inválida.");
						obj.focus();
						return false;
					}

					obj.value = strHora.substring(0, strHora.length - 2)
							+ ":"
							+ strHora.substring(strHora.length - 2,
									strHora.length);
					
				}

				function fnIncluiTelf() {

					if (fnValidaDadosTelfAcessCnta()) {
						callIncluirTel();
						
						document.getElementById('frmDetalheSuperLinha:txtDDDTelfAcessCnta').value = '';
						document.getElementById('frmDetalheSuperLinha:txtTelfAcessCnta').value = '';
					}
				}

				function fnExcluirTelfAcessCnta(strNrSequTelfAcessCnta) {
					callExcluirTel([{name: "telConta", value: strNrSequTelfAcessCnta}]);
				}

				function InsereConta() {
					callInsereConta();
				}

				function RemoveContas() {
					var tbl = document.getElementById('frmDetalheSuperLinha:TblContaIP');

					var qtdLinhas = tbl.rows.length;
					for (var i = 0; i <= qtdLinhas; i++) {
						if (tbl.rows.length > 0) {
							tbl.deleteRow(0);
						}
					}

					var linhaAtual = tbl.rows.length;
					var linha = tbl.insertRow(linhaAtual);
					var coluna = linha.insertCell(0);

					coluna.style.cssText = "width:50%; background:gray; color:White; font-weight:bold";
					coluna.setAttribute("align", "left");
					coluna.innerHTML = 'Contas';

					var coluna = linha.insertCell(1);
					coluna.setAttribute("align", "left");
					coluna.innerHTML = '<p:inputText id="btnAdicionar" type="button" value="Adicionar" onclick="InsereConta()" NAME="btnAdicionar"/>';
				}

				function ExcluirConta(Canal, Conta) {
					console.log('conta', Conta, 'canal', Canal);
					callExcluirRemote([{name: "canal", value: Canal}, {name: "conta", value: Conta}]);

				}
				
				//JS CONTESTACAO INCLUDE
				
				function validarCentros(tipoProduto) {
				
					var ori = document.getElementById('frmDetalheSuperLinha:txtCdCentroOrigem');
					var dest = document.getElementById('frmDetalheSuperLinha:txtCdCentroDestino');
					var oper = document.getElementById('frmDetalheSuperLinha:txtCdCentroOperante');
					
					if (ori == null || dest == null ||oper== null ){
						alert('Centros de custo não informados');
						return false;
					} 
					
					if (ori.value == "" ){
						alert('Centro Origem não informado');
						ori.focus();
						return false;
					} 
					
					if ( dest.value == ""   ){
						alert('Centro Destino não informado');
						dest.focus();
						return false;
					} 
					
					if ( oper.value== "" ){
						alert('Centro Operante não informado');
						oper.focus();
						return false;
					} 
					
					
					console.log("teste aqui");
					console.log(ori.value,  dest.value);
					//////////////////////////////////////////////////////////
					
					if( (tipoProduto == "1" &&  document.getElementById("frmDetalheSuperLinha:cboOperCorpDebt_input").value == "") || (tipoProduto == "2" && document.getElementById("frmDetalheSuperLinha:cboOperAuxDebt_input").value == "") ){
						alert('Selecione uma Operação');
						return false;
					}
					callUnidadeEnvolvCPV([{name: "tipoProduto", value: tipoProduto}]);
					//return true;
					
				}
				
				function changeConfirmOrigin() {
					var ori = document.getElementById('frmDetalheSuperLinha:txtCdCentroOrigem');
					var dest = document.getElementById('frmDetalheSuperLinha:txtCdCentroDestino');
				}
				
				function confirmarCentroOrigem(tipoProduto) {
					console.log("confirmarCentroOrigem:" + tipoProduto);
					var ori = document.getElementById('frmDetalheSuperLinha:txtCdCentroOrigem');
					var ret = confirm('Centro Origem '+ ori.value +' informado não é de uma Agência.\nDeseja continuar?');
					var dest = document.getElementById('frmDetalheSuperLinha:txtCdCentroDestino');
					
					console.log("1º confirm: " + ret);
					if (ret == true && dest.value != "6494") {     
						console.log("primeira confirmação;");
						callUnidadeEnvolvCPVDest([{name: "tipoProduto", value: tipoProduto}]);
						
					}else if(ret == false && dest.value != "6494"){
						console.log("Cancelado...");
					}else{
						callAdicionarProduto([{name: "tipoProduto", value: tipoProduto}]);
						
					}
					//callAdicionarProduto();
					//callConfirmarCentros([{name: "centroConfirm", value: ret}]);
				}
				
				function confirmarCentroDest(tipoProduto) {
					console.log("confirmarCentroDest:" + tipoProduto);
					var dest = document.getElementById('frmDetalheSuperLinha:txtCdCentroDestino');
					if(confirm('Centro Destino '+ dest.value +' informado não é de uma Agência.\nDeseja continuar?') ){
						callAdicionarProduto([{name: "tipoProduto", value: tipoProduto}]);
					};
				}
				
				function adicionarProduto(tipoProduto) {
					console.log("adicionarProduto ", tipoProduto);
					if (validarCentros(tipoProduto)) {
						callAdicionarProduto([{name: "tipoProduto", value: tipoProduto}]);
					}
				}
				
				
				function SalvarOperacao() {
				    validarCentros("0");
				}
				
				function DeletarOperacao(strNrSeqTranFrau, index, desc_cnte){
					if(!confirm("Deseja realmente excluir essa operação?") )
						return;
					
					callExcluirOperacao([{name: "strNrSeqTranFrau", value: strNrSeqTranFrau}, {name: "index", value: index}, {name: "desc_cnte", value: desc_cnte}]);
			    	//AtualizaTotais();
			    	alert('Operação excluída com sucesso!');
					
				      
				}
				
				function DeletarLinha(strTrId)
				{
				    var tb = document.getElementById('tbOper');
				    var row;
				    var i;
				    var strBgColor = '#FFFFFF';
				    
				    for (i=1; i < tb.rows.length; i++)
				    {
				        row = tb.rows[i];
				        if (row.id == strTrId)
				        {
				            tb.deleteRow(i);
				            break;    
				        }
				    }
				    
				    //FOR para refazer a cardinalidade dos registros na tabela
				    for (i=1; i < tb.rows.length; i++)
				    {
				        if(strBgColor == '#FFFFFF')
				            strBgColor = '#E8E8E8'; 
				        else
				            strBgColor  = '#FFFFFF';
				            
				        row = tb.rows[i];
				        row.style.background = strBgColor;
				        row.cells[0].innerHTML = '<b>' + i + '</b>';
				    }
				        
				}
				
				function AtualizaTotais()
				{
					
				    var tb = document.getElementById('tbOper');
				    var row;
				    var i;    
				    var txtLancDbto = document.getElementById('txtLancDbto');   
				    var txtValDbto = document.getElementById('txtValDbto');   
				    var txtLancCrdt = document.getElementById('txtLancCrdt');   
				    var txtValCrdt = document.getElementById('txtValCrdt');
					
					
					
				    var dblVlFraude;
				       
				
				    txtLancDbto.value = '0';
				    txtValDbto.value = '0,00';
				    txtLancCrdt.value = '0';
				    txtValCrdt.value = '0,00';
					
					
					
				    for (i=1; i < tb.rows.length; i++)
				    {        
				        row = tb.rows[i];
				        
				        dblVlFraude = row.cells[5].childNodes[0].value.replace('.', '').replace(',', '.');
				        if(dblVlFraude == ''){dblVlFraude = '0';}
				        
						var desc = row.cells[2].innerHTML;
						if (desc !=null){
							desc = desc.substring(desc.length-4,desc.length);
						}
						
				        if (row.cells[2].innerHTML == 'Dï¿½bito' ||  desc == 'bito')
				        {            
				            txtValDbto.value = parseFloat(txtValDbto.value) + parseFloat(dblVlFraude); 
				            txtLancDbto.value = parseInt(txtLancDbto.value) + 1;
						}
				        
				        if (row.cells[2].innerHTML == 'Crï¿½dito'  || desc == 'dito')
				        {
				            txtValCrdt.value = parseFloat(txtValCrdt.value) + parseFloat(dblVlFraude); 
				            txtLancCrdt.value = parseInt(txtLancCrdt.value) + 1; 
					    }  
				    }
					
					
				    txtValDbto.value = FormatNumber(txtValDbto.value, ',', 2, true);
				    txtValCrdt.value = FormatNumber(txtValCrdt.value, ',', 2, true);
				}
				
				
				function MascararData(obj)
				{
					if(obj.value.length == 2)
					{
						obj.value += '/';
					}
					if(obj.value.length == 5)
					{
						obj.value += '/';
					}
				}
				
				function ValidaData(obj)
				{
				    console.log("ValidaData");
				    var arrDtFixa = new Array(); 
				    var arrDtPeriIni = new Array();  
				    var arrDtPeriFim = new Array();  
				    var arrDtOper = new Array(); 
				    
				
				    if (obj.value != '' && obj.value != '__/__/____')
				    {
				    	console.log("aquiii");
				    	arrDtOper = obj.value.split('/');	
				    	
						console.log(arrDtOper[0], !isDateString(obj.value) && arrDtOper[0].indexOf('_') == -1 && obj.readOnly != true);
				        if(!isDateString(obj.value) && arrDtOper[0].indexOf('_') == -1 && obj.readOnly != true)
				        {
				        	alert('Data inválida!');
				            obj.value = '';
				            /* obj.focus(); */
				            return;
				        }   

				
				        //

				    	if (document.getElementById("txtHdnDtFixa").value != '' &&  document.getElementById("txtHdnDtFixa").value !=  '__/__/____')
				    	{
				   		arrDtOper = obj.value.split('/');		
						arrDtFixa = document.getElementById("txtHdnDtFixa").value.split('/');
						console.log("passou!!");
						if((parseInt(arrDtOper[2] + arrDtOper[1] + arrDtOper[0])) != (parseInt(arrDtFixa[2] + arrDtFixa[1] + arrDtFixa[0])))
						{
						    alert('Data inválida!\nA data da operação deve ser igual à data da ocorrência ' + document.getElementById("txtHdnDtFixa").value + '!');
						    obj.value = '';
						    obj.focus();            
						    return false;          
						}    	    
				    	}
				    	
				    	if (document.getElementById("txtHdnDtPeriIni").value != '')
				    	{
				   		arrDtOper = obj.value.split('/');		
						arrDtPeriIni = document.getElementById("txtHdnDtPeriIni").value.split('/');
						arrDtPeriFim = document.getElementById("txtHdnDtPeriFim").value.split('/');
					
						if((parseInt(arrDtOper[2] + arrDtOper[1] + arrDtOper[0])) < (parseInt(arrDtPeriIni[2] + arrDtPeriIni[1] + arrDtPeriIni[0])) || (parseInt(arrDtOper[2] + arrDtOper[1] + arrDtOper[0])) > (parseInt(arrDtPeriFim[2] + arrDtPeriFim[1] + arrDtPeriFim[0])) )
						{
						    alert('Data inválida!\nA data da operação deve estar entre o período inicial ' + document.getElementById("txtHdnDtPeriIni").value +' e o período final ' + document.getElementById("txtHdnDtPeriFim").value + '!');
						    obj.value = '';
						    obj.focus();            
						    return false;          
						}    	    
				    	}    	
				
				    }	
				
				}
				
				function MascararHora(obj)
				{
					if(obj.value.length == 2)
						obj.value += ':';
				}
				
				function ValidaHora(obj)
				{
				    var arrHora = new Array();
				    
				    if (obj.value != '')
				    {   
				    
				        if(!isTimeString(obj.value))
				        {
				            alert('Horário inválido');
				            obj.value = '';                 
				            obj.focus();            
				            return;
				        }  
				    }      
				}
				
				
				function MostraDetalhesProdutosFE(nrseq){
					console.log("FE");
					clearBeanRemoteCommand([{name: 'pageType', value: 'FE'}, {name: 'nrSeq', value: nrseq}]);
					//PF('detalhe-produto-fe-'+index).show();
				}
				
				function MostraDetalhesProdutosFO(nrseq){    
					console.log("FO");
					clearBeanRemoteCommand([{name: 'pageType', value: 'FO'}, {name: 'nrSeq', value: nrseq}]);
					//PF('detalhe-produto-fo-'+index).show();
				}
				
				//]]>
			</script>

		</h:head>
		<h:body styleClass="PanelTitle" scroll="no">
			<h:form id="frmDetalheSuperLinha" method="post">
				<p:remoteCommand name="clearBeanRemoteCommand" actionListener="#{cadastroOsSLinhaBean.clearBean}" />
				<table width="100%" border="0"
					style="background-color: Red; color: White">
					<tr>
						<td colspan="2">Eventos > #{cadastroOsSLinhaBean.strNrEvento} > #{cadastroOsSLinhaBean.strNrCanal}</td>
						<td><b>Nº OS:</b><b>#{cadastroOsSLinhaBean.objRsCanal.NR_SEQU_ORDE_SERV}</b></td>
					</tr>
					<tr>
						<td colspan="6"><b>Detalhes SuperLinha</b></td>
					</tr>
					<tr>
						<td><b>Titular:</b>#{cadastroOsSLinhaBean.objRsCanal.NM_PARP}</td>
						<td><b>CPF/CNPJ:</b>#{cadastroOsSLinhaBean.objRsCanal.NR_CPF_CNPJ_TITL}</td>
						<td><b>Nº Conta:</b>#{cadastroOsSLinhaBean.objRsCanal.NR_CNTA}</td>
					</tr>
					<tr style="background-color: red; height: 1px;">
						<td colspan="8"></td>
					</tr>
				</table>

				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>

				<!-- DADOS SUPERLINHA -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle"><h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> <b>Dados SuperLinha</b></td>
					</tr>
				</table>
				<table width="auto" border="0">
					<tr>
						<td>Data da Fraude:</td>
						<td>
							<p:calendar id="txtDtFrau" value="#{cadastroOsSLinhaBean.objRsCanal.DT_FRAU}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
								<p:ajax process="txtDtFrau" partialSubmit="true" event="change" />
								<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtDtFrau_input')}"/>
							</p:calendar>
						</td>
					</tr>
					<tr>
						<td>Telefone Cliente:</td>
						<td>
							<p:inputText id="txtDDDTelClie" style="width:20px" value="#{cadastroOsSLinhaBean.objRsCanal.strTelClieDDD}" maxlength="2" onkeypress="BlockKeybord();" />
							<p:inputText id="txtTelClie" style="margin: 6px 0;" value="#{cadastroOsSLinhaBean.objRsCanal.NR_TELF_CLIE}" onkeypress="BlockKeybord(); MascaraTel(this);" maxlength="9" />
						</td>
						<td colspan="3">
							<span style="float:left;height: 20px;margin-top: 7px;margin-right: 10px;">
								Bloqueado?
							</span>
							<p:selectOneRadio id="inBLoqRadio" value="#{cadastroOsSLinhaBean.objRsCanal.IN_BLOQ_TELF}">
								<f:selectItem id="rdoBloq" itemLabel="Sim" itemValue="1"></f:selectItem>
								<f:selectItem id="rdoBloq1" itemLabel="Não" itemValue="0"></f:selectItem>
							</p:selectOneRadio>
						</td>
					</tr>
					<tr>
						<td>Data Bloqueio:</td>
						<td>
							<p:calendar locale="pt_BR" id="txtTelDtBloq" value="#{cadastroOsSLinhaBean.objRsCanal.DT_BLOQ_TELF}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
								<p:ajax process="txtTelDtBloq" partialSubmit="true" event="change" />
								<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtTelDtBloq_input')}" />
							</p:calendar>
						</td>
						<td>Hora Bloqueio:</td>
						<td>
							<p:inputText id="txtTelHrBloq" value="#{cadastroOsSLinhaBean.objRsCanal.HR_BLOQ_TELF}"
								onkeypress="BlockKeybord(); MascararHora(this);" onblur="return fnValidaHora(this)"
								maxlength="5" />
						</td>
					</tr>
				</table>
				<hr style="color: gray" />
				<fieldset style="border: 1px solid #ccc; padding: 4px;">
					<legend style="margin-left: 4px;">Assinatura Eletrônica</legend>
					<table>
						<tr>
							<td>Data Solicitação:</td>
							<td>
								<p:calendar locale="pt_BR" style="width: 70%;" id="txtAssDtSolic" value="#{cadastroOsSLinhaBean.objRsCanal.DT_SOLI_ASSN_ELET}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
									<p:ajax process="txtAssDtSolic" partialSubmit="true" event="change" />
									<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtAssDtSolic_input')}" />
								</p:calendar>
							</td>
							<td>Hora:</td>
							<td style="width: 15%;">
								<p:inputText style="width: 85%;" id="txtAssHr" value="#{cadastroOsSLinhaBean.objRsCanal.HR_SOLI_ASSN_ELET}"
									onkeypress="BlockKeybord(); MascararHora(this);" onblur="return fnValidaHora(this)"
								maxlength="5" name="txtAssHr" />
							</td>
							<td>Telefone Solicitante:</td>
							<td>
								<p:inputText id="txtAssDDDTelSolic" value="#{cadastroOsSLinhaBean.objRsCanal.strAssTelSolicDDD}"
									style="width:20px" maxlength="2" onkeypress="BlockKeybord();" />
								<p:inputText id="txtAssTelSolic"
									value="#{cadastroOsSLinhaBean.objRsCanal.NR_TELF_SOLI_ASSN_ELET}"
									onkeypress="BlockKeybord(); MascaraTel(this);" maxlength="9" />
							</td>
						</tr>
						<tr style="vertical-align: baseline;">
							<td>Data Cadastramento:</td>
							<td>
								<p:calendar locale="pt_BR" style="width: 70%; margin-top: 10px;" id="txtAssDtCadastr" value="#{cadastroOsSLinhaBean.objRsCanal.DT_CADR_ASSN_ELET}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
									<p:ajax process="txtAssDtCadastr" partialSubmit="true" event="change" />
									<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtAssDtCadastr_input')}" />
								</p:calendar>
							</td>
							<td>Hora:</td>
							<td style="width: 15%;">
								<p:inputText style="width: 85%;" id="txtAssHrCadastr" value="#{cadastroOsSLinhaBean.objRsCanal.HR_CADR_ASSN_ELET}"
									onkeypress="BlockKeybord(); MascararHora(this);" onblur="return fnValidaHora(this)"
								maxlength="5" NAME="txtAssHrCadastr" />
							</td>
							<td>Telefone Cadastrado:</td>
							<td>
								<p:inputText id="txtAssDDDTelCadastr" value="#{cadastroOsSLinhaBean.objRsCanal.strAssTelCadDDD}"
									style="width:20px" maxlength="2" onkeypress="BlockKeybord();" />
								<p:inputText id="txtAssTelCadastr"
									value="#{cadastroOsSLinhaBean.objRsCanal.NR_TELF_CADR_ASSN_ELET}"
									onkeypress="BlockKeybord(); MascaraTel(this);" maxlength="9" />
						    </td>
						</tr>
					</table>
				</fieldset>
				<hr style="color: gray" />

				<table width="100%">
					<tr valign="top">
						<td width='40%'>
							<fieldset style="border: 1px solid #ccc; padding: 4px;">
								<legend style="margin-left: 10px;">Telefones que acessaram a Conta</legend>
								<h:panelGroup id="telefoneCnta">
									<table border="0" width="100%" style="height: 100%;">
										<tr>
											<td colspan="2">
												<p:inputText id="txtDDDTelfAcessCnta"
														style="width:20px" maxlength="2"
														value="#{cadastroOsSLinhaBean.txtDDDTelfAcessCnta}"
														onkeypress="BlockKeybord();" />
												<p:inputText
														id="txtTelfAcessCnta"
														onkeypress="BlockKeybord(); MascaraTel(this);"
														value="#{cadastroOsSLinhaBean.txtTelfAcessCnta}"
														maxlength="9" />
												<p:commandButton value="Incluir" type="button" onclick="fnIncluiTelf();" />
											</td>
										</tr>
										<tr style="background: gray; color: White">
											<td width="85%"><b>Telefone</b></td>
											<td width="15%"><b></b></td>
										</tr>
										<tr>
											<td colspan="2">
												<div id="divTelfAcessCnta">
													<table border='0' width='100%'>
														<ui:repeat var="objTel" value="#{cadastroOsSLinhaBean.telfAcessCnta}">
															<tr>
																<td width='85%'>#{objTel.NR_TELF}</td>
																<td width='15%' align='center'>
																	<img height='17' style='cursor:pointer' align='absmiddle' src='../images/btn_excluir_ib.gif' alt='Excluir Restrição' onclick="fnExcluirTelfAcessCnta(#{objTel.NR_SEQU_TELF_ACES_CNTA})" />
																</td>
															</tr>
														</ui:repeat>
													</table>
												</div>
											</td>
										</tr>
									</table>
								</h:panelGroup>
							</fieldset>
						</td>
						
						<p:remoteCommand name="callExcluirTel" update="frmDetalheSuperLinha:telefoneCnta" actionListener="#{cadastroOsSLinhaBean.excluirTel}"></p:remoteCommand>
						<p:remoteCommand name="callIncluirTel" update="frmDetalheSuperLinha:telefoneCnta" actionListener="#{cadastroOsSLinhaBean.gravarTelfAcessCnts}"></p:remoteCommand>
						
						<td>
							<fieldset style="border: 1px solid #ccc; padding: 4px;">
								<legend style="margin-left: 10px;">Outras Contas Acessadas pelo Telefone</legend>
								<h:panelGroup id="contasAcessadasTelefone">
									<table id="TblContaIP" name="TblContaIP" width="100%">
										<tbody>
											<tr>
												<td style="width: 50%; background: gray; font-weight: bold; color: white" align="left">Contas</td>
												<td align="left">
													<p:commandButton onclick="InsereConta()" id="btnAdicionar" type="button" value="Adicionar" name="btnAdicionar" />
												</td>
											</tr>
											<ui:repeat var="bankCnta" value="#{cadastroOsSLinhaBean.iBanking}">
												<tr>
													<td align="left">
														<p:inputText onkeypress="BlockKeybord()" id="txtContaIP" maxlength="10" value="#{bankCnta.NR_CNTA_ACES}" name="txtContaIP" />
														<p:graphicImage  rendered="#{!bankCnta.NR_CNTA_ACES.isEmpty()}" onclick="ExcluirConta(#{bankCnta.NR_SEQU_FRAU_CNAL}, #{bankCnta.NR_CNTA_ACES});" style="cursor: hand" alt="Excluir" value="../images/btn_excluir_ib.gif" align="absMiddle" height="17" />
													</td>	
												</tr>
											</ui:repeat>
										</tbody>
									</table>
								</h:panelGroup>
							</fieldset>
						</td>
					</tr>
				</table>

				<p:remoteCommand name="callExcluirRemote" update="frmDetalheSuperLinha:contasAcessadasTelefone" actionListener="#{cadastroOsSLinhaBean.excluirContasAcessadasTelefone}"></p:remoteCommand>
				<p:remoteCommand name="callInsereConta" update="frmDetalheSuperLinha:contasAcessadasTelefone" actionListener="#{cadastroOsSLinhaBean.insereContasAcessadasTelefone}"></p:remoteCommand>

				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>
				
				<!-- DADOS INICIAIS -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle"><h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> <b>Dados Iniciais</b></td>
					</tr>
				</table>

				<table width="100%" border="0">
					<tr>
						<td width="13%">Data Ativação:</td>
						<td width="27%">
							<p:calendar locale="pt_BR" id="txtDadIniDtAtiv" value="#{cadastroOsSLinhaBean.objRsCanal.DT_ATIV}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup"  onkeypress="BlockKeybord()" readonly="true" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
								<p:ajax process="txtDadIniDtAtiv" partialSubmit="true" event="change" />
								<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtDadIniDtAtiv_input')}" />
							</p:calendar>
						</td>
						<td>Log do Funcionário<br>Solicitante:</br></td>
						<td colspan="3">
							<p:inputText id="txtDadIniLogFunc"
								name="txtDadIniLogFunc" style="width:100px" maxlength="30"
								value="#{cadastroOsSLinhaBean.objRsCanal.NM_LOG_RECU_SOLI}" />
						</td>
					</tr>
					<tr>
						<td width="10%">Data Emissão:</td>
						<td width="27%">
							<p:calendar locale="pt_BR" style="margin:10px 0;" id="txtDadIniDtEmis" value="#{cadastroOsSLinhaBean.objRsCanal.DT_EMIS}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
								<p:ajax process="txtDadIniDtEmis" partialSubmit="true" event="change" />
								<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtDadIniDtEmis_input')}" />
							</p:calendar>
						</td>
						<td>Endereço Enviado:</td>
						<td colspan="3">
							<p:inputText id="txtDadIniEndEnvi"
								name="txtDadIniEndEnvi" style="width:308px" maxlength="30"
								value="#{cadastroOsSLinhaBean.objRsCanal.NM_ENDE_ENVI}" />
						</td>
					</tr>
					<tr>
						<td width="15%">Data Cancelamento:</td>
						<td style="27%">
							<p:calendar locale="pt_BR" id="txtDadIniDtCanc" value="#{cadastroOsSLinhaBean.objRsCanal.DT_CANC}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
								<p:ajax process="txtDadIniDtCanc" partialSubmit="true" event="change" />
								<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtDadIniDtCanc_input')}" />
							</p:calendar>
						</td>
						<td>Agência:</td>
						<td>
							<p:inputText id="txtDadIniAgen" name="txtDadIniAgen"
								style="width:50px" maxlength="4" onkeypress="BlockKeybord()"
								value="#{cadastroOsSLinhaBean.objRsCanal.CD_BANC}" />
						</td>
						<td>Status da Conta:</td>
						<td><p:inputText id="txtDadIniStatCnta"
								name="txtDadIniStatCnta" style="width:100px"
								value="#{cadastroOsSLinhaBean.objRsCanal.NM_SITU_CNTA_BNCR}" maxlength="20" /></td>
					</tr>
				</table>

				<hr style="color: gray" />
				<table border="0">
					<tr>
						<td>
							<p:selectBooleanCheckbox id="chkItssComl" itemLabel="Interesse Comencial." value="#{cadastroOsSLinhaBean.chkItssComl}">
								<f:selectItem itemLabel="" itemValue="0"></f:selectItem>
							</p:selectBooleanCheckbox>
						</td>
					</tr>
				</table>

				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>
				
				<!-- EXTRATO -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle"><h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> <b>Extrato</b></td>
					</tr>
				</table>
				<table>
					<tr>
						<td>Nº Conta:</td>
						<td>
							<p:inputText id="txtExtrNrCnta"
								value="#{cadastroOsSLinhaBean.objRsCanal.NR_CNTA}" maxlength="10"
								onkeypress="BlockKeybord()" />
						</td>
						<td>Tipo Conta:</td>
						<td>
							<p:selectOneRadio id="tipoContaSelect" value="#{cadastroOsSLinhaBean.objRsCanal.TP_CNTA_BNCR}">
								<f:selectItem id="rdoTpContaCC" itemLabel="Conta Corrente" itemValue="0"></f:selectItem>
								<f:selectItem id="rdoTpContaPoup" itemLabel="Conta Poupança" itemValue="1"></f:selectItem>
							</p:selectOneRadio>
						</td>

					</tr>
					<tr>
						<td>Data Abertura:</td>
						<td>
							<p:calendar locale="pt_BR" style="margin: 10px 0;" id="txtExtrDtAber" value="#{cadastroOsSLinhaBean.objRsCanal.DT_ABER_CNTA_BNCR}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
								<p:ajax process="txtExtrDtAber" partialSubmit="true" event="change" />
								<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtExtrDtAber_input')}" />
							</p:calendar>
						</td>
						<td>Gerente:</td>
						<td>
							<p:inputText id="txtExtrGer" style="width:200px" value="#{cadastroOsSLinhaBean.objRsCanal.NM_GERE_RESP_CNTA_BNCR}" maxlength="30"/>
						</td>
					</tr>
				</table>

				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>

				<!-- CARTAO DE SEGURANÇA  -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle"><h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> <b>Cartão de Segurança</b>
						</td>
					</tr>
				</table>
				<p:panel id="pnlCartSeg">
					<table width="auto" border="0">
						<tr>
							<td>Cliente tem Cartão de Segurança?</td>
							<td>
								<p:selectOneMenu id="cboCSeg" style="width: 40px;" value="#{cadastroOsSLinhaBean.objRsCanal.IN_CRTO_SEGR}">
									<f:selectItem itemLabel="Não" itemValue="0"></f:selectItem>
									<f:selectItem itemLabel="Sim" itemValue="1"></f:selectItem>
									<f:ajax render="pnlCartSeg" listener="#{cadastroOsSLinhaBean.handleChangeShowDatas}"/>
								</p:selectOneMenu>
							</td>
						</tr>
					</table>

					<h:panelGroup id="renderDatas" rendered="#{cadastroOsSLinhaBean.showDatas}">
						<div id="divCSeg" style="display: inline">
							<table width="100%" border="0">
								<tr style="vertical-align: baseline;">
									<td width="17%">Data de Solicitação:</td>
									<td width="30%">
										<p:calendar style="margin-bottom:10px;margin-top:10px;" locale="pt_BR" id="txtCartDtSolic" value="#{cadastroOsSLinhaBean.objRsCanal.DT_SOLI_CRTO_SEGR}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup"  onblur="ValidaData(this)" onchange="ValidaDatas(this)">
											<p:ajax process="txtCartDtSolic" partialSubmit="true" event="change" />
											<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtCartDtSolic_input')}" />
										</p:calendar>
									</td>
									<td width="20%">Data de Cancelamento:</td>
									<td width="30%">
										<p:calendar locale="pt_BR" id="txtCartDtCance" value="#{cadastroOsSLinhaBean.objRsCanal.DT_CANC_CRTO_SEGR}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
											<p:ajax process="txtCartDtCance" partialSubmit="true" event="change" />
											<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtCartDtCance_input')}" />
										</p:calendar>
									</td>
								</tr>
								<tr style="vertical-align: baseline;">
									<td>Data de Ativação:</td>
									<td width="30%">
										<p:calendar locale="pt_BR" id="txtCartDtAtiv" value="#{cadastroOsSLinhaBean.objRsCanal.DT_ATIV_CRTO_SEGR}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onkeydown="return false"  onblur="ValidaData(this)" onchange="ValidaDatas(this)">
											<p:ajax process="txtCartDtAtiv" partialSubmit="true" event="change" />
											<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtCartDtAtiv_input')}" />
										</p:calendar>
									</td>
									<td>Data 1a. Fraude:</td>
									<td width="30%">
										<p:calendar locale="pt_BR" id="txtCartDtFrau" value="#{cadastroOsSLinhaBean.objRsCanal.DT_PRMR_FRAU}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" onblur="ValidaData(this)" onchange="ValidaDatas(this)">
											<p:ajax process="txtCartDtFrau" partialSubmit="true" event="change" />
											<p:ajax event="dateSelect" listener="#{cadastroOsSLinhaBean.validaDatasPrint('frmDetalheSuperLinha:txtCartDtFrau_input')}" />
										</p:calendar>
									</td>
								</tr>
							</table>
						</div>
					</h:panelGroup>
				</p:panel> 
				
				<!-- Centros de Custo  -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1" id="Table4">
					<tr style="background-color:red; height:1px">
						<td></td>
					</tr>
					<tr style="background-color:red; color:White; height:20px">
						<td valign="middle">
							&nbsp;<img align="absmiddle" src="../images/seta_vermelha.gif" /> &nbsp;<b>Centros de Custo</b>
						</td>
					</tr>
				</table>
				
				<table width="auto" border="0" ID="Table2">
					<tr>				
						<td><b style="white-space: nowrap; font-size: 10px">Centro Origem:</b></td>
						<td>						
							<p:inputText style="width: 84%; margin-right: 20px;" disabled="#{cadastroOsSLinhaBean.objRsCanal.CONTABILIZADO eq 'false' ? 'false' : 'true'}" type="text" name="txtCdCentroOrigem" id="txtCdCentroOrigem" onkeypress="BlockKeybord(); MascaraInteiro(this);" maxlength="4" value="#{cadastroOsSLinhaBean.objRsCanal.CD_CENT_CUST_ORIG}" />
					  	</td>
						<td><b style="white-space: nowrap; font-size: 10px">&nbsp;&nbsp;&nbsp;&nbsp;Centro Destino:</b></td>
						<td>					
							<p:inputText style="width: 84%; margin-right: 20px;" disabled="#{cadastroOsSLinhaBean.objRsCanal.CONTABILIZADO eq 'false' ? 'false' : 'true'}" type="text" name="txtCdCentroDestino" id="txtCdCentroDestino" onkeypress="BlockKeybord(); MascaraInteiro(this);" maxlength="4" value="#{cadastroOsSLinhaBean.objRsCanal.CD_CENT_CUST_DEST}" />
						</td>
						<td><b style="white-space: nowrap; font-size: 10px">&nbsp;&nbsp;&nbsp;&nbsp;Centro Operante:</b></td>
						<td>
							<p:inputText style="width: 84%;" readonly="true" type="text" name="txtCdCentroOperante" id="txtCdCentroOperante" onkeypress="BlockKeybord(); MascaraInteiro(this);" maxlength="4" value="#{cadastroOsSLinhaBean.objRsCanal.CD_CENT_CUST_OPNT}" />
						</td>
					</tr>
				</table>
				
				<p:remoteCommand name="callConfirmarCentros" actionListener="#{cadastroOsSLinhaBean.getConfirmarCentros}"></p:remoteCommand>
				<p:remoteCommand name="callUnidadeEnvolvCPV" actionListener="#{cadastroOsSLinhaBean.verifUnidadeEnvolvCPV}"></p:remoteCommand>
				<p:remoteCommand name="callUnidadeEnvolvCPVDest" actionListener="#{cadastroOsSLinhaBean.verifUnidadeEnvolvCPVDest}"></p:remoteCommand>
				
				<h:panelGroup id="pnlContestacao">
					<div style="width:100%">
					    <table width="100%" border="0" cellpadding="1" cellspacing="1">
					        <tr style="background-color:red; height:1px"><td></td></tr>
					        <tr style="background-color:red; color:White; height:20px">
					            <td valign="middle">
					                &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
					                &nbsp;<b>Contestação</b>
					            </td>
					        </tr>    
					    </table>
	
				        <table>
				            <tr>
								<p:selectOneRadio id="rdoTpContestacao" value="#{cadastroOsSLinhaBean.selectRdoContestacao}">
									<f:selectItem itemLabel="Débito" itemValue="1"></f:selectItem>
									<f:selectItem itemLabel="Crédito" itemValue="2"></f:selectItem>									
									<f:ajax render="pnlContestacao" listener="#{cadastroOsSLinhaBean.handleIsCredito}"/>
								</p:selectOneRadio>					                
				            </tr>
				        </table>
				        <table width="100%" border="0">
				            <tr>
				                <td width="80%"><b>Operações Corporativas:</b><br />
	                				<p:selectOneMenu value="#{cadastroOsSLinhaBean.selectedOperCorp}" id="cboOperCorpDebt" style="display:block">
										<f:selectItem itemLabel="Selecione" itemvalue=""/>
										<f:selectItems value="#{cadastroOsSLinhaBean.objRsOperCorp}" var="oper" itemValue="#{oper.NR_SEQU_TIPO_OPER_TRAN}" itemLabel="#{oper.getLabel()}"/>					
									</p:selectOneMenu>
				                </td>
				                <td width="" valign="bottom">
				                	<p:commandButton id="Button1" type="button" value="Adicionar" onclick="adicionarProduto(1)"></p:commandButton>
				                </td>
				            </tr>
				            <tr> 
				                <td width="80%"><b>Operações Auxiliares:</b><br />
	                				<p:selectOneMenu value="#{cadastroOsSLinhaBean.selectedOperAux}" id="cboOperAuxDebt" style="display:block">
										<f:selectItem itemLabel="Selecione" itemvalue=""/>
										<f:selectItems value="#{cadastroOsSLinhaBean.objRsOperAux}" var="oper" itemValue="#{oper.CD_PROD_AUXI}" itemLabel="#{oper.NM_PROD_AUXI}"/>					
									</p:selectOneMenu>					                					                    
				                </td>
				                <td width="" valign="bottom">
				               		<p:commandButton id="Button3" type="button" value="Adicionar" onclick="adicionarProduto(2)"></p:commandButton>
				                </td>        
				            </tr>
				        </table> 
					</div>
				</h:panelGroup>
				
				<p:remoteCommand name="callAdicionarProduto" actionListener="#{cadastroOsSLinhaBean.adicionarProduto('')}"></p:remoteCommand>

		        <table width="100%"><tr><td heigth="5"></td></tr></table>  
				
		        <table><tr><td><b>Operações Inseridas:</b></td></tr></table>	
	
				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>
				<h:panelGroup id="tbInserirOp">
					<table id="tbOper" width="100%" border="0" cellpadding="0" cellspacing="0">    
					    <tr style="background-color:gray; color:White">
					        <td align="center"><b>#</b></td>
					        <td width="42%"><b>Descrição Produto</b></td>
					        <td width="12%" align="center"><b>Contest.</b></td> 
					        <td width="12%"><b>Data<br />Operação</b></td>
					        <td width="12%"><b>Hora<br />Operação</b></td>       
					        <td><b>Valor<br/>Fraude (R$)</b></td>
					        <td></td>
					    </tr>
					    <ui:repeat var="objRsOper" value="#{cadastroOsSLinhaBean.objCanais}" varStatus="status">
						    <tr id="#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" height="25">
				                <td align="center"><b>#{status.index+1}</b> </td>
				                <h:panelGroup rendered="#{cadastroOsSLinhaBean.strNrCanal eq 'CONTA BANCÁRIA'}">
					                <td><a href="javascript:MostraDetalhesProdutosFO(#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL})">#{objRsOper.DESC_TRAN}</a></td>					                
				                </h:panelGroup>
								<h:panelGroup rendered="#{cadastroOsSLinhaBean.strNrCanal ne 'CONTA BANCÁRIA'}">
					                <td><a href="javascript:MostraDetalhesProdutosFE(#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL})">#{objRsOper.DESC_TRAN}</a></td>					                					                
								</h:panelGroup>
				                <td align="center">#{objRsOper.DESC_CNTE}</td>
				                <td><p:inputText id="txtDt#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" name="reg#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" value="#{objRsOper.strDtOper}" type="text" style="width:80%" maxlength="10" onkeydown="MascararData(this)" onkeypress="BlockKeybord()" onblur="ValidaData(this)"/></td>      
				                <td><p:inputText id="txtHr#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" name="reg#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" value="#{objRsOper.strHrOper}" type="text" style="width:80%" maxlength="5" onkeypress="BlockKeybord()" onblur="ValidaHora(this)" onkeydown="MascararHora(this)"/></td>
				                <td><p:inputText id="txtVl#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" name="reg#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" value="#{objRsOper.strVlOper}" type="text" style="width:80%" maxlength="16" onkeypress="BlockKeybord();fnMascaraValor(this,2);"/></td>
				                <td align="right"><img height="20" style="cursor:hand" align="absmiddle" src="../images/btn_excluir_ib.gif" alt="Excluir Operação" onclick="DeletarOperacao(#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}, #{status.index}, '#{objRsOper.DESC_CNTE}' )" /></td>
			                </tr>
					    </ui:repeat>
					    
						<!-- modal genérico -->				    
						<p:dialog appendToBody="true" header="" widgetVar="detalhe-produto-fo-fe" height="740" width="680" resizable="no" id="dialog-fo-fe">
							<iframe id="modal-detalhe-produto-fo-fe" src="" frameborder="0" width="100%" style="height: 890px"></iframe>
						</p:dialog>	
					</table>
				
					<table width="auto" border="0">
					    <tr>	
				            <td><input type="hidden" id="txtHdnDtFixa" name="txtHdnDtFixa" value="#{cadastroOsSLinhaBean.strDtPeriFixa}"/></td>
						 	<td><input type="hidden" id="txtHdnDtPeriIni" name="txtHdnDtPeriIni" value="#{cadastroOsSLinhaBean.strDtPeriIni}"/></td>
						 	<td><input type="hidden" id="txtHdnDtPeriFim" name="txtHdnDtPeriFim" value="#{cadastroOsSLinhaBean.strDtPeriFim}"/></td>

					    </tr>
					    <tr>
					        <td><b>Quantidade de Operações a DÉBITO:</b></td>
					        <td><p:inputText styleClass="txtReadyOnly" id="txtLancDbto" type="text" readonly="true" style="text-align:right; width:40px" value="#{cadastroOsSLinhaBean.intQntLancDbto}"/></td>
					        <h:panelGroup rendered="#{cadastroOsSLinhaBean.objRsCanal.CD_CNAL ne '0'}">
					            <td></td>
					            <td></td>
					            <td><b>Quantidade de Ocorrências:</b></td>
								<td><p:inputText id="txtQtdeOcor" type="text" style="text-align:right; width:40px" value="#{cadastroOsSLinhaBean.objRsCanal.NR_QNTD_EVEN}"/></td>
					        </h:panelGroup>
					    </tr>
					    <tr>
					        <td><b>Valor Total de Operações a DÉBITO:</b></td>
					        <td><p:inputText styleClass="txtReadyOnly" id="txtValDbto" type="text" readonly="true" style="text-align:right" value="#{cadastroOsSLinhaBean.formataValorRecebido(cadastroOsSLinhaBean.intQntValDbto.toString())}"/></td>
					    </tr>
					    <tr height="8"><td></td></tr>
					    <tr>
					        <td><b>Quantidade de Operações a CRÉDITO:</b></td>
					        <td><p:inputText styleClass="txtReadyOnly" id="txtLancCrdt" type="text" readonly="true" style="text-align:right; width:40px" value="#{cadastroOsSLinhaBean.intQntLancCrdt}"/></td>
					    </tr>
					    <tr>
					        <td id="ttt"><b>Valor Total de Operações a CRÉDITO:</b></td>
					        <td><p:inputText styleClass="txtReadyOnly" id="txtValCrdt" type="text" readonly="true" style="text-align:right" value="#{cadastroOsSLinhaBean.formataValorRecebido(cadastroOsSLinhaBean.intQntValCrdt.toString())}"/></td>
					    </tr>
					</table>
				</h:panelGroup>
				<p:remoteCommand name="callExcluirOperacao" update="frmDetalheSuperLinha:tbInserirOp" actionListener="#{cadastroOsSLinhaBean.excluirOperacao}"></p:remoteCommand>
				
				
				<div class="row-buttons">
					<p:commandButton value="Salvar" onclick="Salvar()" type="button"/>
					<p:remoteCommand name="fnSalvaDados" action="#{cadastroOsSLinhaBean.fnSalvaDados}"></p:remoteCommand>
				</div>

			</h:form>
		</h:body>
</html>