<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
    

    <h:head>
    	<h:outputStylesheet name="css/hy_style.css" />
    	<h:outputScript name="javascript/hy_funcoes.js" />
    	
		<script type="text/javascript">
        	//<![CDATA[			
				parent.rodape.location.replace("HY_BtnGenerico.asp?strButton=Salvar/Salvar@Voltar/Voltar");

				function Salvar(){}
		    //]]>
		</script>
    </h:head>
 
    <h:body class="PanelTitle" style="height:100%">
	    <h:form id="frm">
			<table width="100%" border="0" cellpadding="1" cellspacing="1">
			    <tr style="background-color:red; height:1px"><td></td></tr>
			    <tr style="background-color:red; color:White; height:20px">
			        <td valign="middle">
			            &nbsp;<h:graphicImage name="/images/seta_vermelha.gif"/>
			            &nbsp;<b>Definir Parâmetros - Notificação Automática</b>
			        </td>
			    </tr>    
			</table>
			<fieldset class="PanelTitle">
				<table width="100%" cellpadding="0" cellspacing="1">
				    <tr style="background:gray; color:White; font-weight:bold">
				        <td align="center" colspan="1" rowspan="2">&nbsp;Tipo Notificação&nbsp;</td>
				        <td align="center" colspan="1" rowspan="2">&nbsp;Prazo de Realização (horas)&nbsp;</td>
				        <td align="center" colspan="2" rowspan="1">&nbsp;Prazo Estourado&nbsp;</td>        
				    </tr>
				    <tr style="background:gray; color:White; font-weight:bold">
				        <td align="center">&nbsp;Reenviar?&nbsp;</td>
				        <td align="center">&nbsp;Periodicidade (horas)&nbsp;</td>
				    </tr>
				    <tr height="25" style="background:white">
				        <td>Aprovar OS LYNX</td>
				        <td align="center"><p:inputText id="Text1" style="width:60px" type="text" /></td>
				        <td align="center"><p:selectBooleanCheckbox id="Checkbox5" value="true" /></td>
				        <td align="center"><p:inputText id="Text2" style="width:60px" type="text" /></td>
				    </tr>
				    <tr height="25" style="background:#E8E8E8">
				        <td>Aprovar OS Planejada</td>
				        <td align="center"><p:inputText id="Text3" style="width:60px" type="text" /></td>
				        <td align="center"><p:selectBooleanCheckbox id="Checkbox1" value="true" /></td>
				        <td align="center"><p:inputText id="Text4" style="width:60px" type="text" /></td>
				    </tr>
				    <tr height="25" style="background:white">
				        <td>Cadastramento OS</td>
				        <td align="center"><p:inputText id="Text5" style="width:60px" type="text" /></td>
				        <td align="center"><p:selectBooleanCheckbox id="Checkbox2" value="true" /></td>
				        <td align="center"><p:inputText id="Text6" style="width:60px" type="text" /></td>
				    </tr>
				    <tr height="25" style="background:#E8E8E8">
				        <td>Aprovar Relatório Proposição</td>
				        <td align="center"><p:inputText id="Text7" style="width:60px" type="text" /></td>
				        <td align="center"><p:selectBooleanCheckbox id="Checkbox3" value="true" /></td>
				        <td align="center"><p:inputText id="Text8" style="width:60px" type="text" /></td>
				    </tr>
				    <tr height="25" style="background:white">
				        <td>Aprovar Lançamento Contábil</td>
				        <td align="center"><p:inputText id="Text9" style="width:60px" type="text" /></td>
				        <td align="center"><p:selectBooleanCheckbox id="Checkbox4" value="true" /></td>
				        <td align="center"><p:inputText id="Text10" style="width:60px" type="text" /></td>
				    </tr>
				    <tr height="25" style="background:#E8E8E8">
				        <td>Enviar Secretária</td>
				        <td align="center"><p:inputText id="Text11" style="width:60px" type="text" /></td>
				        <td align="center"><p:selectBooleanCheckbox id="Checkbox6" value="true" /></td>
				        <td align="center"><p:inputText id="Text12" style="width:60px" type="text" /></td>
				    </tr>
				</table>
			</fieldset>
		</h:form>
    </h:body>
</ui:define></ui:composition>
