<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title></title>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
	<h:outputScript name="javascript/calendario.js" />
</h:head>

<h:body>
	<iframe id="ifrmOs" width="100%" height="80" frameborder="0" scrolling="no" src="hyb_aprovar_rel_prop_iframe.xhtml?strNrSeqOs=#{hybAprovarRelPropPopBean.strNrSeqOs}"></iframe>
</h:body>
</ui:define></ui:composition>