<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">
	<!-- <ui:define name="content"> -->
		<h:head>
			<title></title>
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
			<link type="text/css" rel="stylesheet"
				href="#{request.contextPath}/css/hy_style.css" media="screen" />
			<link type="text/css" rel="stylesheet"
				href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
			
				

			<ui:insert name="javaScriptReference" />
			<script>
				//<![CDATA[
				parent[0].location.search = "strTitulo=#{cadOsMenuBean.strTitulo} - #{cadOsMenuBean.strNrSeqOs} - Unidade Envolvida"
				parent.PF("statusDialog").hide();
				window.onload = function() {
					Resize();
				}

				function Resize() {
				    window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;
					window.parent.document.all['ifrmNovaOs'].height = 417; 
				}

				
				

				function Trava(obj) {
					if (obj.id == 'rdoPV') {
						document.forms[0].txtCodDepto.disabled = true;
						document.forms[0].imgDepto.style.cursor = '';

						document.forms[0].txtCdPv.disabled = false;
						document.forms[0].imgPV.style.cursor = 'hand';
					} else if (obj.id == 'rdoDepto') {
						document.forms[0].txtCodDepto.disabled = false;
						document.forms[0].imgDepto.style.cursor = 'hand';

						document.forms[0].txtCdPv.disabled = true;
						document.forms[0].imgPV.style.cursor = '';
					}

				}

				//]]>
			</script>


		</h:head>
		<h:body class="PanelTitle">
			<h:form id="form">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="5" align="center"></td>
						<td>

							<fieldset>
								<legend>
									<b>Unidade Organizacional</b>
								</legend>
								<table width="85%" border="0">
									<tr>
										<td>Unidade (Tipo/Número):</td>
										<td><p:inputText id="txtTpPv" style="width:25px"
												maxlength="3" onkeypress="BlockKeybord();if (event.keyCode == 13) { return false; }"
												value="#{cadosUnidadeEnvolvidaBean.strParamTP_UPOR}"
												ajax="true">
												<p:ajax event="blur" update="@this" />
											</p:inputText>&#160; 
											<p:inputText id="txtCdPv"
												value="#{cadosUnidadeEnvolvidaBean.strParamCD_UPOR}"
												style="width:30px" maxlength="4" onkeypress="BlockKeybord();if (event.keyCode == 13) { return false; }"
												ajax="true">
												<p:ajax event="blur" update="@this" />
											</p:inputText>&#160;&#160;</td>
										<td width="60">Nome Unid.:</td>
										<td><p:inputText id="txtNmPv" style="width:230px"
												maxlength="45" ajax="true"
												onkeypress="if (event.keyCode == 13) { return false; }"
												value="#{cadosUnidadeEnvolvidaBean.strParamNM_UPOR}">
												<p:ajax event="blur" update="@this" />
											</p:inputText>&#160;&#160;</td>
										<td><p:commandLink
												action="#{cadosUnidadeEnvolvidaBean.getElementosParaPesquisa}"
												update="form:tbPV">
												<p:graphicImage id="imgPV" value="../images/lupa.gif"
													alt="Pesquisar" />
											</p:commandLink></td>
									</tr>

								</table>


								<p:dataTable id="tbPV" var="unidade" width="100%"
									style="background: gray; color: White; font-weight: bold"
									value="#{cadosUnidadeEnvolvidaBean.objRs}"
									selection="#{cadosUnidadeEnvolvidaBean.unidadeSel}"
									rowKey="#{unidade.TP_UOR}" 
									onkeypress="if (event.keyCode == 13) { return false; }">
									<p:column selectionMode="single" headerText="Sel."
										style="width:16px;text-align:center"
										onkeypress="if (event.keyCode == 13) { return false; }" />
									<p:column width="20%" headerText="Rede">
										<h:outputText value="&nbsp;#{unidade.NM_REDE}" />
									</p:column>
									<p:column width="40%" headerText="Regional">
										<h:outputText value="#{unidade.NM_REGI}" />
									</p:column>
									<p:column headerText="PV">
										<h:outputText
											value="#{unidade.TP_UOR} - #{unidade.CD_UOR} - #{unidade.NM_UOR}" />
									</p:column>
								</p:dataTable>
							</fieldset>

						</td>
					</tr>
				</table>
				<p:defaultCommand target="tirarAcaoBtn"/>
			<p:commandButton id="tirarAcaoBtn" process="@none" style="display:none;" global="false" />
			<p:commandButton style="float:right"  value="Salvar" action="#{cadosUnidadeEnvolvidaBean.getElementosParaSalvar}" update="form:tbPV" />
			</h:form>
		</h:body>
	<!-- <ui:include src="hy_travaform_inc.xhtml" /> -->
	<!-- </ui:define> -->
</html>
