<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<h:outputStylesheet name="css/hy_style.css" />

	<script type="text/javascript">
		//<![CDATA[

		function fnImportar() {
			if (document.getElementById('Form1:txtArquivo_input').value == '') {
				alert('Selecione um arquivo antes de anexar.');
				return; 
			}
			/* document.forms[0].action = 'hyb_uploadprocessa?qstrTpAnexo=<%=strTpAnexo%>&qstrSeqTrei=<%=strSeqTrei%>&qstrSeqOs=<%=strNrSeqOs%>'; */
			strTpAnexo = document.getElementById('Form1:txtTpAnexo').value;
			strSeqTrei = document.getElementById('Form1:txtSeqTrei').value;
			strNrSeqOs = document.getElementById('Form1:txtOS').value;
			document.getElementById('Form1').action = 'hyb_uploadprocessa.xhtml?qstrTpAnexo='+strTpAnexo+'&qstrSeqTrei='+strSeqTrei+'&qstrSeqOs='+strNrSeqOs;
			
			document.body.style.cursor = 'progress';
			document.getElementById('Form1').submit();
		}

		function fnFechar() {
			/* window.close(); */
			document.body.removeChild(document.getElementById('Form1'));
		}

		//]]>
	</script>

</h:head>

<h:body class="PanelTitle">

	<h:form method="post" id="Form1" name="form1" enctype="multipart/form-data">

		<table width="100%" border="0">
			<tr>
				<td>
					<fieldset>
						<legend>Anexar Arquivo</legend>
						<table width="100%" align="center" cellspacing="0">
							<tr>
								<td align="left">
								    <p:fileUpload id="txtArquivo" 
												  name="txtArquivo" 
												  size="80"
												  value="#{UploadBean.arquivoUpload}" 
									  			  skinSimple="true" 
									  			  mode="simple"
									  			  label="Escolher arquivo"/>
								</td>
							</tr>
							<tr>
							</tr>
						</table>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td align="right">
					<p:commandButton id="btImportar" name="btImportar" type="button" value="Importar" onclick="fnImportar()" /> 
					<p:commandButton id="button1" type="button" value="Fechar" onclick="fnFechar()" />
				</td>
			</tr>
		</table>
		<p:inputText id="txtOS" name="txtOs" type="hidden" value="#{UploadBean.strNrSeqOs}" />
		<p:inputText id="txtTpAnexo" name="txtTpAnexo" type="hidden" value="#{UploadBean.strTpAnexo}" /> 
		<p:inputText id="txtSeqTrei" name="txtSeqTrei" type="hidden" value="#{UploadBean.strSeqTrei}" />
	</h:form>

</h:body>


</ui:define></ui:composition>