<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

		<h:head>
			<h:outputStylesheet name="css/hy_style.css" />

			<script type="text/javascript">
				//<![CDATA[

				function Importar() {
					if (document.getElementById('frm:txtArquivo_input').value == '') {
						alert('Selecione um arquivo antes de anexar.');
						return;
					}
					/* document.getElementById('frm:txthdImpFrSeqOs').value = window.parent.document.getElementById('frm:txthdImpSeqOs').value; */
					document.getElementById('frm:txtHdFlg').value = 1;
					/* document.getElementById('frm:txtHdImpFrTpAnexo').value = window.parent.document.getElementById('frm:txthdImpTpAnexo').value; */
					/* document.getElementById('frm:txtHdNmArqAnex').value = '<%=strNmArqAnex%>' // bean */
					document.body.style.cursor = 'progress';
					document.getElementById('frm:btnSubmitForm').click();

				}

				function Fechar() {
					/* window.returnValue = '<%=strNmArqAnex%>'; */
					window.returnValue = document
							.getElementById('frm:txtHdNmArqAnex').value;
					/* window.close(); */
					document.body.removeChild(document.getElementById('frm'));
				}

				//]]>
			</script>

		</h:head>

		<h:body class="PanelTitle">

			<h:form method="post" enctype="multipart/form-data" id="frm">
				<!-- Botao apenas para o submit -->
				<p:commandButton ajax="false" id="btnSubmitForm"
					style="display: none"
					action="#{ImportarArquivoIframeBean.formSubmit}" />
				<table width="100%" border="0">
					<tr>
						<td>
							<fieldset>
								<legend>Anexar Arquivo</legend>
								<table width="50%" align="center" cellspacing="0">
									<tr>
										<td align="left"><p:fileUpload id="txtArquivo"
												name="txtArquivo" size="80"
												value="#{ImportarArquivoIframeBean.arquivoUpload}"
												skinSimple="true" mode="simple" label="Escolher arquivo" />
										</td>
									</tr>
									<tr></tr>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td align="right"><p:commandButton ajax="false" id="button"
								type="button" value="Importar" onclick="Importar()" /> <p:commandButton
								id="button1" type="button" value="Fechar" onclick="Fechar()" />
						</td>
					</tr>
				</table>
				<p:inputText id="txthdImpFrSeqOs" name="txthdImpFrSeqOs"
					type="hidden" value="" />
				<p:inputText id="txtHdNmArqAnex" name="txtHdNmArqAnex" type="hidden"
					value="#{ImportarArquivoIframeBean.strNmArqAnex}" />
				<p:inputText id="txtHdFlg" name="txtHdFlg" type="hidden"
					value="#{ImportarArquivoIframeBean.strFlg}" />
				<p:inputText id="txtHdImpFrTpAnexo" name="txtHdImpFrTpAnexo"
					type="hidden" value="" />
				<p:inputText id="txthdImpFrArq" name="txthdImpFrArq" type="hidden"
					value="#{ImportarArquivoIframeBean.strCaminho}" />

			</h:form>

		</h:body>


</html>