<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


<h:head>
	<title>Ocorrências Especiais</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/css/hy_style.css" media="screen" />
	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script type="text/javaScript"
		src="#{request.contextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javaScript"
		src="#{request.contextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javaScript"
		src="#{request.contextPath}/javascript/formchek.js"></script>

	<style>
	body {
		padding: 10px;
	}
</style>

	<script type="text/javascript">
								//<![CDATA[
									
									 function Fechar(){
										atualizarPesquisadosRemoteCommand();
										fecharRemoteCommand();
										opener.location.href=opener.location.href;
									}
									
									/* function Fechar()
									{ 
									    /* document.forms[0].action = 'hyb_cados_equipatrib.xhtml?strNrSeqOs='+#{param['strNrSeqOs']};
									    document.forms[0].target = 'ifrmNovaOs';
									    document.forms[0].submit();
									 */
									    window.close();    
									}

 */									window.unload = function()
									{

									    Fechar();
									}
									//]]>
								</script>
</h:head>
<h:body>
	<h:form id="frm-adicionar-popup" method="post">
		<table width="100%" border="0"
			style="background-color: Red; color: White">
			<tr>
				<td colspan="6">Atribuir Equipe à OS > Adicionar Membro da
					Equipe</td>
			</tr>
			<tr>
				<td><b>Filtros para Pesquisa</b></td>
				<td><b>Nr da OS: <h:outputText
							value="#{CadOsEquipatribBean.strNrSeqOs}" /></b></td>
				<td align="right"><p:commandButton id="btnFechar" type="button"
						ajax="false" value="Fechar" onclick="Fechar();" /></td>
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>
		<p:remoteCommand name="atualizarPesquisadosRemoteCommand"
		actionListener="#{CadOsEquipatribBean.limparPesquisados}"
		update="frm-adicionar-popup" />
	<p:remoteCommand name="fecharRemoteCommand" oncomplete="window.close()" />
	<p:remoteCommand name="atualizarRemoteCommand" update="frm-adicionar-popup"/>
	
	</h:form>
	<iframe id="ifrmEquipAtrib"
		src="hyb_cados_equipatrib_popup_iframe.xhtml?strNrSeqOs=#{param['strNrSeqOs']}"
		scrolling="no" frameborder="0" height="350" width="100%"></iframe>
	
</h:body>


</html>

