<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>

	<title>HY - Ocorrências Especiais</title>
	
</h:head>

<h:body>
	<h:outputText escape="false" value="#{hyb_cados_dados_contabeis_exe_bean.strReturn}"></h:outputText>
</h:body>

</ui:define></ui:composition>