<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">
	<ui:define name="content">
		<h:head>
			<title></title>
			<h:outputStylesheet name="css/hy_style.css" media="screen" />
			<h:outputStylesheet name="css/hy_calendar.css" media="screen" />
			<h:outputScript name="javascript/hy_funcoes.js" />
			<h:outputScript name="javascript/formchek.js" />
			<h:outputScript name="javascript/hy_calendario.js" />
			<style>
				.TTT {
					background: #e8e8e8;
				}
			</style>
			<script language="javascript" type="text/javascript">
				//<![CDATA[
					//parent.parent.titulo.location.href = 'Titulo.asp?strTitulo=" ' + #{cadOsDetalheRiscoPotAnBean.strTitulo} + ' - ' + #{cadOsDetalheRiscoPotAnBean.strNrOs} + ' - Risco Potencial - Lançamento Analítico"';
					//parent.parent.rodape.location.replace("HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar@Voltar/Voltar");
			
					var intControlaObj = 0;
					var intControlaTotalLinhas = 0;
			
					window.onload = function() {
						intControlaTotalLinhas = #{cadOsDetalheRiscoPotAnBean.intRecCount};
						if (intControlaTotalLinhas > 0) {
							window.document.getElementById('form_add:tblPrincipal').style.display = "block";
						}
			
						//--Aumenta o Div a cada linha inserida
						for (var i = 0; i < intControlaTotalLinhas; i++) {
							var div = document.getElementById("divOverFlow");
							div.style.height = (div.scrollHeight + 20) + "px";
						}
			
						if (document.getElementById("form_add:hdnVlTran").value == '') {
							/* document.getElementById("hdnVlTran").value = '<%=Request.Form("hdnVlTran")%>'; */
						}
			
						//document.getElementById("form_add:txtValTran").value = FormatNumber(document.getElementById("form_add:hdnVlTran").value, ",", 2, true);
						Resize();
					}
			
					function Resize() {
						//window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;
						//window.parent.document.all['ifrmNovaOs'].height = 400;
					}
			
					function Voltar() {
						document.getElementById('form_add').action = 'hyb_cados_detalheriscopot_an.xhtml?strTitulo=' + #{cadOsDetalheRiscoPotAnBean.strTitulo} + '&strNrSeqOs='
								+ #{cadOsDetalheRiscoPotAnBean.strNrOs}
								+ '&idTranFrau='
								+ #{cadOsDetalheRiscoPotAnBean.strIdTranFrau}
								+ '&idProd='
								+ #{cadOsDetalheRiscoPotAnBean.strIdProd}
								+ '&nmProd='
								+ #{cadOsDetalheRiscoPotAnBean.strNmProd};
						document.getElementById('form_add').submit();
					}
			
					function InsereLinha() {
						if (intControlaTotalLinhas < 20) {
							var iRows = 0;
							var table = document.getElementById('form_add:tblPrincipal');
							var body = table.tBodies[0];
							var qtdLinha = body.rows.length + iRows;
							var linha = body.insertRow(qtdLinha);
							var intControlaLinha = 1;
			
							window.document.getElementById('form_add:tblPrincipal').style.display = "block";
			
							for (var i = 0; i < 13; i++) {
								var coluna = linha.insertCell(i);
								coluna.setAttribute("align", "center");
			
								intControlaLinha = qtdLinha - 1;
			
								if ((qtdLinha - 1) % 2 != 0) {
									coluna.setAttribute("class", "TTT");
								}
			
								if (i == 0) {
									coluna.innerHTML = '<input type="hidden" name="form_add:hdn'+ intControlaLinha +'" id="form_add:hdn'+ intControlaLinha +'"  value="" /><b>'
											+ intControlaLinha + '</b>';
								} else if (i % 2 == 0) {
									if (i == 2) {
										coluna.innerHTML = '<input   name="form_add:txt'
												+ intControlaLinha
												+ 'Valor'
												+ i
												+ '" id="form_add:txt'
												+ intControlaLinha
												+ 'Valor'
												+ i
												+ '" style="width:60px" onkeypress="BlockKeybord(); fnMascaraValor(this,2);" onblur="fnVerificaValor(this);" maxlength="11" >';
									} else if (i == 4 || i == 6) {
										coluna.innerHTML = '<input   name="form_add:txt'
												+ intControlaLinha
												+ 'Valor'
												+ i
												+ '" id="form_add:txt'
												+ intControlaLinha
												+ 'Valor'
												+ i
												+ '" style="width:60px" onkeypress="BlockKeybord(); fnMascaraValor(this,2);" onblur="fnVerificaValor(this);" maxlength="11" >';
									} else {
										coluna.innerHTML = '<input   name="form_add:txt'
												+ intControlaLinha
												+ 'Valor'
												+ i
												+ '" id="form_add:txt'
												+ intControlaLinha
												+ 'Valor'
												+ i
												+ '" style="width:60px" onkeypress="BlockKeybord(); fnMascaraValor(this,2);" onblur="fnVerificaValor(this);" maxlength="11" >';
									}
								} else {
									coluna.innerHTML = '<input   name="form_add:txt'
											+ intControlaLinha
											+ 'Data'
											+ i
											+ '" id="form_add:txt'
											+ intControlaLinha
											+ 'Data'
											+ i
											+ '" style="width:60px" onblur="VerificaData(this);" onkeypress="MascararData(this);" >';
								}
							}
			
							intControlaTotalLinhas += 1;
			
							var div = document.getElementById("divOverFlow");
							div.style.height = (div.scrollHeight + 20) + "px";
						}
						Resize();
					}
			
					function Salvar() {
						var strAuxReturn = true;
			
						if (fnValidaCampos()) {
							if (!fnValidaValorEnvolvido()) {
								return false;
							}
			
							for (var iCountLinhas = 1; iCountLinhas <= intControlaTotalLinhas; iCountLinhas++) {
								var strDados;
			
							    var strXml;
							    var objXmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
							    var strReturn; 
								//Envia para a página asp dados para a montagem da tabela
								xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
								xmlHTTP.Open('POST', 'HY_CadOS_DetalheRiscoPot_An_exe.asp',
										false);
								strDados = '<root>'
										+ '<nrSeqOS>'
										+ #{cadOsDetalheRiscoPotAnBean.strNrOs}
										+ '</nrSeqOS>'
										+ '<IdProd>'
										+ #{cadOsDetalheRiscoPotAnBean.strIdProd}
										+ '</IdProd>'
										+ '<IdTranFrau>'
										+ #{cadOsDetalheRiscoPotAnBean.strIdTranFrau}
										+ '</IdTranFrau>' + '<IdRecExclAnli>'
										+ document.getElementById("form_add:hdn" + iCountLinhas).value
										+ '</IdRecExclAnli>'
										+
			
										'<dtExcPar>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Data1").value
										+ '</dtExcPar>'
										+ '<vlExcPar>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Valor2").value
										+ '</vlExcPar>'
										+
			
										'<dtRecMes>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Data3").value
										+ '</dtRecMes>'
										+ '<vlRecMes>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Valor4").value
										+ '</vlRecMes>'
										+
			
										'<dtRecFrMes>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Data5").value
										+ '</dtRecFrMes>'
										+ '<vlRecFrMes>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Valor6").value
										+ '</vlRecFrMes>'
										+
			
										'<dtComplOS>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Data7").value
										+ '</dtComplOS>'
										+ '<vlComplOS>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Valor8").value
										+ '</vlComplOS>'
										+
			
										'<dtTrst>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Data9").value
										+ '</dtTrst>'
										+ '<vlTrst>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Valor10").value
										+ '</vlTrst>'
										+
			
										'<dtNega>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Data11").value
										+ '</dtNega>'
										+ '<vlNega>'
										+ document.getElementById("form_add:txt" + iCountLinhas
												+ "Valor12").value
										+ '</vlNega>'
										+ '</root>';
			
								xmlHTTP.Send(strDados);
			
								//Pega o retorno da página asp
								sTabela = xmlHTTP.responseText;
			
								if (sTabela != "True") {
									document.body.innerHTML = sTabela;
								}
			
								if (sTabela.toUpperCase().indexOf('XHY') != -1) {
									location.href = 'hy_erro.xhtml?strErro='
											+ UrlEncode(sTabela);
									return;
								}
			
								if (sTabela == "False") {
									strAuxReturn = false;
								}
							}
							if (strAuxReturn) {
								alert('Registro(s) Atualizado(s) com sucesso.');
								document.getElementById('form_add').action = 'HY_CadOS_DetalheRiscoPot_An.asp?strTitulo=' + #{cadOsDetalheRiscoPotAnBean.strTitulo} + '&strNrSeqOs='
										+ #{cadOsDetalheRiscoPotAnBean.strNrOs}
										+ '&idTranFrau='
										+ #{cadOsDetalheRiscoPotAnBean.strIdTranFrau}
										+ '&idProd='
										+ #{cadOsDetalheRiscoPotAnBean.strIdProd}
										+ '&nmProd='
										+ #{cadOsDetalheRiscoPotAnBean.strNmProd};
								document.getElementById('form_add').submit();
							} else {
								alert('Não foi possível atualizar o(s) registro(s).');
							}
						}
					}
			
					function fnValidaCampos() {
						var strDataDeteccao = document.getElementById('form_add:hdnDtDeteccao').value;
			
						if (intControlaTotalLinhas > 0) {
							if (strDataDeteccao != '') {
								for (var iCountLinhas = 1; iCountLinhas <= intControlaTotalLinhas; iCountLinhas++) {
									//-- Valida Campo Data e Valor --                
									if (window.document.getElementById('form_add:txt' + iCountLinhas
											+ 'Valor2').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data1').value == '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Data para Exclusão Parcial, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Data1').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor2').value == ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data1').value != '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Valor para Exclusão Parcial, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Valor2').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor2').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data1').value != '') {
										if (!VerificaData(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Data1')))
											return false;
										if (!fnVerificaValor(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor2')))
											return false;
									}
									/*-------------------------------------------------------------------------------------------*/
									if (window.document.getElementById('form_add:txt' + iCountLinhas
											+ 'Valor4').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data3').value == '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Data para Recuperação do Mês, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Data3').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor4').value == ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data3').value != '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Valor para Recuperação do Mês, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Valor4').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor4').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data3').value != '') {
										if (!VerificaData(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Data3')))
											return false;
										if (!fnVerificaValor(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor4')))
											return false;
									}
									/*-------------------------------------------------------------------------------------------*/
									if (window.document.getElementById('form_add:txt' + iCountLinhas
											+ 'Valor6').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data5').value == '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Data para Recuperação Fora do Mês, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Data5').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor6').value == ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data5').value != '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Valor para Recuperação Fora do Mês, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Valor6').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor6').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data5').value != '') {
										if (!VerificaData(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Data5')))
											return false;
										if (!fnVerificaValor(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor6')))
											return false;
									}
									/*-------------------------------------------------------------------------------------------*/
									if (window.document.getElementById('form_add:txt' + iCountLinhas
											+ 'Valor8').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data7').value == '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Data para Complementação OS, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Data7').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor8').value == ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data7').value != '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Valor para Complementação OS, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Valor8').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor8').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data7').value != '') {
										if (!VerificaData(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Data7')))
											return false;
										if (!fnVerificaValor(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor8')))
											return false;
									}
									/*-------------------------------------------------------------------------------------------*/
									if (window.document.getElementById('form_add:txt' + iCountLinhas
											+ 'Valor10').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data9').value == '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Data para Valor Transitório, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Data9').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor10').value == ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data9').value != '') {
										alert('Linha '
												+ iCountLinhas
												+ '. Campo Valor para valor Transitório, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Valor10').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor10').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data9').value != '') {
										if (!VerificaData(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Data9')))
											return false;
										if (!fnVerificaValor(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor10')))
											return false;
									}
									/*-------------------------------------------------------------------------------------------*/
									if (window.document.getElementById('form_add:txt' + iCountLinhas
											+ 'Valor12').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data11').value == '') {
										alert('Linha ' + iCountLinhas
												+ '. Campo Data para valor Negado, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Data11').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor12').value == ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data11').value != '') {
										alert('Linha ' + iCountLinhas
												+ '. Campo Valor para Valor Negado, vazio.');
										window.document.getElementById(
												'form_add:txt' + iCountLinhas + 'Valor12').focus();
										return false;
									} else if (window.document.getElementById('form_add:txt'
											+ iCountLinhas + 'Valor12').value != ''
											&& window.document.getElementById('form_add:txt'
													+ iCountLinhas + 'Data11').value != '') {
										if (!VerificaData(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Data11')))
											return false;
										if (!fnVerificaValor(window.document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor12')))
											return false;
									}
								} //for(var iCountLinhas=1;iCountLinhas<=intControlaTotalLinhas;iCountLinhas++)
								return true;
							} //if (strDataDeteccao != '')  
							else {
								alert('Por favor, validar data de Detecção.')
								return false;
							}
						} //if (intControlaTotalLinhas>0)
					}
			
					function fnValidaValorEnvolvido() {
			
						var dblExcl = 0;
						var dblRecp = 0;
						var dblRecupMes = 0;
						var dblAuxValPag = 0;
						var dblVlEnvo = 0;
			
						var dblVlComp = 0;
						var dblVlTran = 0;
						var dblVlNegado = 0;
			
						//-- Verifica se a soma dos valores ultrapassa o valor ENVOLVIDO --
						for (var iCountLinhas = 1; iCountLinhas <= intControlaTotalLinhas; iCountLinhas++) {
							if (document.getElementById('form_add:txt' + iCountLinhas + 'Valor2').value != '')
								dblExcl = dblExcl
										+ parseFloat(replace(replace(document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor2').value, '.', ''), ',',
												'.'));
			
							if (document.getElementById('form_add:txt' + iCountLinhas + 'Valor4').value != '')
								dblRecp = dblRecp
										+ parseFloat(replace(replace(document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor4').value, '.', ''), ',',
												'.'));
			
							if (document.getElementById('form_add:txt' + iCountLinhas + 'Valor6').value != '')
								dblRecupMes = dblRecupMes
										+ parseFloat(replace(replace(document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor6').value, '.', ''), ',',
												'.'));
			
							if (document.getElementById('form_add:txt' + iCountLinhas + 'Valor8').value != '')
								dblVlComp = dblVlComp
										+ parseFloat(replace(replace(document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor8').value, '.', ''), ',',
												'.'));
			
							if (document.getElementById('form_add:txt' + iCountLinhas + 'Valor10').value != '')
								dblVlTran = dblVlTran
										+ parseFloat(replace(replace(document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor10').value, '.', ''), ',',
												'.'));
			
							if (document.getElementById('form_add:txt' + iCountLinhas + 'Valor12').value != '')
								dblVlNegado = dblVlNegado
										+ parseFloat(replace(replace(document
												.getElementById('form_add:txt' + iCountLinhas
														+ 'Valor12').value, '.', ''), ',',
												'.'));
						}
			
						dblAuxValPag = dblExcl + dblRecp + dblRecupMes + dblVlComp
								+ dblVlTran + dblVlNegado;
			
						dblVlEnvo = parseFloat(replace(
								document.getElementById('form_add:hdnVlTran').value, ',', '.'));
			
						if (dblAuxValPag > dblVlEnvo) {
							alert('Os valores ultrapassam o valor da transação.')
							return false;
						}
						return true;
					}
			
					function VerificaData(aObj) {
						var dtAtual = new Date();
						var strDataAtual = dtAtual.getDate() + "/"
								+ (dtAtual.getMonth() + 1) + "/" + dtAtual.getYear();
						var strDataDeteccao = document.getElementById('form_add:hdnDtDeteccao').value;
						var strDataInput = aObj.value;
			
						if (aObj.value != '') {
							if (!isDateString(aObj.value)) {
								alert("Data inválida.");
								aObj.value = '';
								aObj.focus();
								return false;
							} else if (fnComparaData(strDataInput, strDataAtual) == '1') {
								alert("Data não pode ser maior que a data de hoje.");
								aObj.value = '';
								aObj.focus();
								return false;
							} else if (fnComparaData(strDataInput, strDataDeteccao) == '2') {
								alert("Data não pode ser menor que a data de Detecção.");
								aObj.value = '';
								aObj.focus();
								return false;
							} else {
								return true;
							}
						}
					}
			
					/*Retorno:
					    1 - Data 1 é maior que Data 2
					    2 - Data 2 é maior que Data 1
					    0 - Datas são iguais
					 */
					function fnComparaData(dt1, dt2) {
						var arrData1 = dt1.split("/");
						var arrData2 = dt2.split("/");
			
						if (arrData1[2] > arrData2[2])
							return 1
						if (arrData1[2] < arrData2[2])
							return 2
			
						var dt1Dias = (eval(arrData1[1]) * 31) + eval(arrData1[0]);
						var dt2Dias = (eval(arrData2[1]) * 31) + eval(arrData2[0]);
			
						if (dt1Dias > dt2Dias)
							return 1
						else if (dt1Dias < dt2Dias)
							return 2
						else
							return 0
					}
			
					function MascararData(obj) {
						if (obj.value.length == 2)
							obj.value += '/';
			
						if (obj.value.length == 5)
							obj.value += '/';
					}
			
					function fnVerificaValor(obj) {
						var strValor = obj.value;
						if (parseFloat(strValor.replace(',', '.')) == 0) {
							alert("Valor não pode ser zero.");
							obj.value = '';
							obj.focus();
							return false;
						}
						return true;
					}
				//]]>
			</script>
		</h:head>

		<h:body styleClass="PanelTitle">
			<p:panelGrid
				style="background-color: red; color: white; width:100%; border:0">
				<p:row>
					<p:column>Risco Potencial > Detalhes > Lançamento Analítico</p:column>
					<p:column align="right">
						<b>No OS:&nbsp;&nbsp;#{cadOsDetalheRiscoPotAnBean.strNrOs}</b>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<b>Detalhes Analiticos do Produto
							#{cadOsDetalheRiscoPotAnBean.strNmProd} </b>
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid>
				<p:row height="3px">
					<p:column></p:column>
				</p:row>
			</p:panelGrid>
			<h:form id="form_add" method="post">

				<p:panelGrid style="border:0; width:100%">
					<p:row>
						<p:column colspan="2">Valor Transação:&nbsp;<p:inputText
								style="text-align: right" id="txtValTran" name="txtValTran"
								type="text" value="" styleClass="txtReadyOnly" readonly="true" />
						</p:column>

					</p:row>
				</p:panelGrid>
				<p:panelGrid>
					<p:row>
						<p:column>
							<p:button id="Button4" type="button"
								value="Inserir Lançamento em Branco"
								onclick="InsereLinha(); return false;" />
						</p:column>
					</p:row>
				</p:panelGrid>
				<div id="divOverFlow"
					style="overflow: auto; width: 100%; height: 1px;" align="left">
					<p:panelGrid id="tblPrincipal"
						style="display: none; cellpadding:0; cellspacing:1">
						<p:row style="background: gray; font-weight: bold; color: white">
							<p:column nowrap="true" style="width:30; align:center;"
								styleClass="GridItemFixed" colspan="1" rowspan="2">#</p:column>
							<p:column nowrap="true" style="align:center;" colspan="2"
								rowspan="1">Exclusão
						Parcial (R$)</p:column>
							<p:column nowrap="true" style="align:center;" colspan="2"
								rowspan="1">Recuperação<br />do
						Mês (R$)
					</p:column>
							<p:column nowrap="true" style="align:center;" colspan="2"
								rowspan="1">Recuperação<br />Fora
						do Mês (R$)
					</p:column>
							<p:column nowrap="true" style="align:center;" colspan="2"
								rowspan="1">Complementação
						OS</p:column>
							<p:column nowrap="true" style="align:center;" colspan="2"
								rowspan="1">Transitório
						(R$)</p:column>
							<p:column nowrap="true" style="align:center;" colspan="2"
								rowspan="1">Negado (R$)</p:column>
						</p:row>
						<p:row
							style="background-color: gray; font-weight: bold; color: white">
							<p:column style="align:center;">Data</p:column>
							<p:column style="align:center;">Valor (R$)</p:column>
							<p:column style="align:center;">Data</p:column>
							<p:column style="align:center;">Valor (R$)</p:column>
							<p:column style="align:center;">Data</p:column>
							<p:column style="align:center;">Valor (R$)</p:column>
							<p:column style="align:center;">Data</p:column>
							<p:column style="align:center;">Valor (R$)</p:column>
							<p:column style="align:center;">Data</p:column>
							<p:column style="align:center;">Valor (R$)</p:column>
							<p:column style="align:center;">Data</p:column>
							<p:column style="align:center;">Valor (R$)</p:column>
						</p:row>

						<c:if test=" #{ cadOsDetalheRiscoPotAnBean.intRecCount > 0 }">
							<p:dataList var="obj" varStatus="objStatus" value="#{cadOsDetalheRiscoPotAnBean.objsRiscPotenAn}">
								<p:row style="background: #e8e8e8">
									<p:column align="center" styleClass="GridItemFixed">
										<h:inputHidden
											name="hdn#{objStatus.index + 1}"
											id="hdn#{objStatus.index + 1}"
											value="#{obj.NR_SEQU_RECR_EXCL_ANLI}" />
										<b>#{objStatus.index + 1}</b>
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Data1"
											value="#{cadOsDetalheRiscoPotAnBean.formataData(obj.DT_EXCL_PRCL)}"
											type="text" style="width:60px" onkeypress="MascararData(this);"
											onblur="VerificaData(this); " maxlength="10" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Valor2"
											value="#{cadOsDetalheRiscoPotAnBean.formataNumero(obj.VL_EXCL_PRCL)}"
											type="text" style="width:60px"
											onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
											onblur="fnVerificaValor(this);" maxlength="11" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Data3"
											value="#{cadOsDetalheRiscoPotAnBean.formataData(obj.DT_RECR_MES_PRCL)}"
											type="text" style="width:60px" onkeypress="MascararData(this);"
											onblur="VerificaData(this);" maxlength="10" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Valor4"
											value="#{cadOsDetalheRiscoPotAnBean.formataNumero(obj.VL_RECR_MES_PRCL)}"
											type="text" style="width:60px"
											onkeypress="BlockKeybord();									fnMascaraValor(this,2);"
											onblur="fnVerificaValor(this);" maxlength="11" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Data5"
											value="#{cadOsDetalheRiscoPotAnBean.formataData(obj.DT_RECR_FORA_MES_PRCL)}"
											type="text" style="width:60px" onkeypress="MascararData(this);"
											onblur="VerificaData(this);" maxlength="10" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Valor6"
											value="#{cadOsDetalheRiscoPotAnBean.formataNumero(obj.VL_RECR_FORA_MES_PRCL)}"
											type="text" style="width:60px"
											onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
											onblur="fnVerificaValor(this);" maxlength="11" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Data7"
											value="#{cadOsDetalheRiscoPotAnBean.formataData(obj.DT_COMP)}"
											type="text" style="width:60px" onkeypress="MascararData(this);"
											onblur="VerificaData(this);" maxlength="10" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Valor8"
											value="#{cadOsDetalheRiscoPotAnBean.formataNumero(obj.VL_COMP)}"
											type="text" style="width:60px"
											onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
											onblur="fnVerificaValor(this);" maxlength="11" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Data9"
											value="#{cadOsDetalheRiscoPotAnBean.formataData(obj.DT_TRST)}"
											type="text" style="width:60px" onkeypress="MascararData(this);"
											onblur="VerificaData(this);" maxlength="10" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Valor10"
											value="#{cadOsDetalheRiscoPotAnBean.formataNumero(obj.VL_TRST)}"
											type="text" style="width:60px"
											onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
											onblur="fnVerificaValor(this);" maxlength="11" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Data11"
											value="#{cadOsDetalheRiscoPotAnBean.formataData(obj.DT_NEGA)}"
											type="text" style="width:60px" onkeypress="MascararData(this);"
											onblur="VerificaData(this);" maxlength="10" />
									</p:column>
									<p:column style="align:center;">
										<p:inputText
											id="txt#{objStatus.index + 1}Valor12"
											value="#{cadOsDetalheRiscoPotAnBean.formataNumero(obj.VL_NEGA)}"
											type="text" style="width:60px"
											onkeypress="BlockKeybord(); 	fnMascaraValor(this,2); "
											onblur="fnVerificaValor(this);" maxlength="11" />
									</p:column>
								</p:row>
							</p:dataList>
						
						</c:if>
						<!-- <%if intRecCount > 0 then%> <%while not objRs.EOF: iCountLinhas =
				iCountLinhas + 1%> <%if not isnull(objRs("VL_TRST")) then strVlTran
				= replace(objRs("VL_TRST"),",",".") end if %> -->


						<!-- <% objRs.MoveNext :wend %> <%end if %> -->
					</p:panelGrid>

				</div>

				<h:inputHidden name="HdnNrOS" id="HdnNrOS"
					value="#{cadOsDetalheRiscoPotAnBean.strNrOs}" />
				<h:inputHidden name="HdnIdProd" id="HdnIdProd"
					value="#{cadOsDetalheRiscoPotAnBean.strIdProd}" />
				<h:inputHidden name="HdnNmProd" id="HdnNmProd"
					value="#{cadOsDetalheRiscoPotAnBean.strNmProd}" />
				<h:inputHidden name="hdnVlTran" id="hdnVlTran" value="" />
				<h:inputHidden name="hdnDtDeteccao" id="hdnDtDeteccao"
					value="#{cadOsDetalheRiscoPotAnBean.dtDetecaoOs}" />

			</h:form>
		</h:body>

		<!--#include file="../Inc/Hy_TravaForm.inc"-->

		<script type="text/javascript">
	//<![CDATA[
	    var div = document.getElementById("divOverFlow")
	    div.style.height = (div.scrollHeight + 20) + "px";
	//]]>
	</script>
		<!-- <%
set objRiscPotenAn = nothing
set objRs = nothing
%> -->

	</ui:define>
</ui:composition>