<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
               
<h:head>              
	<title>HY - Ocorrências Especiais</title>
	<script type="text/javascript">
		function Voltar() {
			history.back();
		}

		function Imprimir() {
			window.print();
		}
	</script>
</h:head>
<h:body>

	<ui:composition template="../templates/template.xhtml">

	<ui:define name="content">
	
	<table>

		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td align='center' style="font-size: medium;"><h:outputText
					value="#{Relos.strNmRelat}"></h:outputText></td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td align='center' style="font-size: x-small;"><h:outputLabel
					for="pDtIni">Período: </h:outputLabel> <h:outputText id="pDtIni"
					value="#{Relos.strDtIni}"></h:outputText> <h:outputLabel
					for="pDtFim"> até </h:outputLabel> <h:outputText id="pDtFim"
					value="#{Relos.strDtFim}"></h:outputText></td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>

	</table>

	<c:set var="area" value="#{Relos.strArea}" />
	<c:set var="tpRel" value="#{Relos.strTpRel}" />
	<!--Condicional para AREA-->
	<c:choose>
		<c:when test="${area == 'GOI'}">
			<!--Condicional para TIPO DA PRIMEIRA AREA-->

			<c:choose>
				<c:when test="${tpRel == 1}">
					<!--ACESSO fnRelPenalidade-->

					<p:dataTable var="linha" value="#{Relos.objRsRelat}">
						<p:columnGroup type="header">
							<p:row>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="     "></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Nº OS"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Evento"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Participação"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Tipo Colaborador"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Cargo"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Matrícula \n CPF"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Penalidade"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Motivo"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Nº PV/Nº"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Nome PV / Nome Uniorg"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Regional"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Rede / PV"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Data Envio RH"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Data Efetivação RH"></p:column>
							</p:row>
						</p:columnGroup>

						<p:column>
							<h:outputText value="#{linha.strVazio}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strNumOs}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strEvnto}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strPart}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strTpColab}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strCargo}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strMatricCpf}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strPenalidade}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strMotivo}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strNumPv}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strNomPv}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strRegional}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strRede}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strDataEnvRh}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strDataEfetivRh}" />
						</p:column>

					</p:dataTable>
				</c:when>
				<c:when test="${tpRel == 2}">
					<!---->
				</c:when>
				<c:when test="${tpRel == 3}">
					<!---->
				</c:when>
				<c:when test="${tpRel == 4}">
					<!---->
				</c:when>
			</c:choose>
		</c:when>
		<c:when test="${area == 'GOE'}">
			<!--condicional para TIPO DA SEGUNDA AREA-->
			<c:choose>
				<c:when test="${tpRel == 1}">
					<!---->
				</c:when>
				<c:when test="${tpRel == 2}">

					<!---->
				</c:when>
				<c:when test="${(tpRel == 3) or (tpRel == 4) or (tpRel == 5)}">

					<c:choose>
						<c:when test="#{not empty Relos.listaObjRsRelat}">

							<c:forEach var="objList" items="#{Relos.listaObjRsRelat}"
								varStatus="status">

								<c:set var="intCountSeg" value="${0}" />
								<c:set var="dblSUMPrej" value="${0}" />
								<c:set var="intCountSeg2" value="${0}" />
								<c:set var="dblSUMPrej2" value="${0}" />

								<c:forEach var="countt" items="#{objList}" varStatus="status">
									<c:if test="${countt.TP_PESS_CLIE == 1}">
										<c:set var="intCountSeg"
											value="${intCountSeg + countt.strSegm}" />
										<c:set var="dblSUMPrej"
											value="${dblSUMPrej + countt.strPreju}" />
									</c:if>
									<c:if test="${countt.TP_PESS_CLIE == 2}">
										<c:set var="intCountSeg2"
											value="${intCountSeg2 + countt.strSegm}" />
										<c:set var="dblSUMPrej2"
											value="${dblSUMPrej2 + countt.strPreju}" />
									</c:if>
									<c:set var="dt" value="${countt.strDT}" />
									<c:set var="intCountSegTotal"
										value="${intCountSegTotal + countt.strSegm}" />
									<c:set var="dblSUMPrejTotal"
										value="${dblSUMPrejTotal + countt.strPreju}" />
								</c:forEach>



								<!--ACESSO fnRelOSFraudeSegmento-->
								<table border="1" width='380px'>
									<tr>
										<td colspan="4" align="center" valign="middle" nowrap="nowrap">Resumo
											- ${dt}</td>
									</tr>
									<tr style="background: red; color: White; font-weight: bold">
										<td align="center">Segmento</td>
										<td align="center">Quantidade</td>
										<td align="center">Prejuízo</td>
										<td align="center">%</td>
									</tr>

									<c:forEach items="#{objList}" var="linha">
										<c:choose>
											<c:when test="${linha.TP_PESS_CLIE == 1}">

												<tr>
													<td>${linha.strSegm}</td>
													<td>${linha.strQuant}</td>
													<td>${linha.strPreju}</td>
													<td>${linha.strPorcento}</td>
												</tr>

											</c:when>
											<c:otherwise>

												<tr>
													<td>${linha.strSegm}</td>
													<td>${linha.strQuant}</td>
													<td>${linha.strPreju}</td>
													<td>${linha.strPorcento}</td>
												</tr>

											</c:otherwise>
										</c:choose>
									</c:forEach>

									<tr>
										<td>Total PF</td>
										<td>${intCountSeg}</td>
										<td>${dblSUMPrej}</td>
										<td></td>
									</tr>
									<tr>
										<td>Total PJ</td>
										<td>${intCountSeg2}</td>
										<td>${dblSUMPrej2}</td>
										<td></td>
									</tr>
									<tr>
										<td>Total fraudes</td>
										<td>${intCountSegTotal}</td>
										<td>${dblSUMPrejTotal}</td>
										<td></td>
									</tr>

								</table>

							</c:forEach>

						</c:when>
						<c:otherwise>
							<table border="0">
								<tr>
									<td colspan='4' align='center'><font color='red'><b>Nenhum
												registro encontrado para o período selecionado.</b> </font></td>
								</tr>
							</table>
						</c:otherwise>
					</c:choose>

				</c:when>
				<c:when test="${tpRel == 6}">
					<!---->
				</c:when>
				<c:when test="${tpRel == 7}">
					<!--ACESSO fnRelRiscoOper-->

					<c:forEach items="#{Relos.objRsRelat}" var="count">
						<c:set var="strValorEnvolv_soma"
							value="${strValorEnvolv_soma + count.strValorEnvolv}" />
						<c:set var="strValorEvit_soma"
							value="${strValorEvit_soma + count.strValorEvit}" />
						<c:set var="strValorRecup_soma"
							value="${strValorRecup_soma + count.strValorRecup}" />
						<c:set var="strValorPreju_soma"
							value="${strValorPreju_soma + count.strValorPreju}" />
					</c:forEach>

					<p:dataTable var="linha" value="#{Relos.objRsRelat}" border="1"
						width='380px'>
						<p:columnGroup type="header">
							<p:row
								style='background-color:Red; color:White; font-weight:bold'>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Nº OS"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Data Abertura OS"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Data Detecção OS"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Data Encerramento OS"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Status Report"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Empresa"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Linha Nego Nível 1"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Linha Nego Nível 2"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Conta Contábil"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Nível 1"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Nível 2"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Nível 3"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Fator Risco"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Data Contabilização"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Valor Envolvido"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Valor Evitado"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Valor Recuperado"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Valor Prejuízo"></p:column>
							</p:row>
						</p:columnGroup>

						<p:column>
							<h:outputText value="" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strDataAbertOS}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strDataDetecOS}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strDataEncerramentoOS}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strStatusReport}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strEmpresa}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strLinhaNegoNvl1}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strLinhaNegoNvl2}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strContaContab}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strNvl1}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strNvl2}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strNvl3}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strFatorRisc}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strDataContab}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strValorEnvolv}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strValorEvit}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strValorRecup}" />
						</p:column>
						<p:column>
							<h:outputText value="#{linha.strValorPreju}" />
						</p:column>
						<p:columnGroup type="footer">
							<p:row>
								<p:column colspan="18" align="center" footerText="">
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="18" align="center"
									footerText="Quantidade: 18">
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="14" align="left"
									footerText="Total / Valores:">
								</p:column>
								<p:column align="center" footerText="${strValorEnvolv_soma}">
								</p:column>
								<p:column align="center" footerText="${strValorEvit_soma}">
								</p:column>
								<p:column align="center" footerText="${strValorRecup_soma}">
								</p:column>
								<p:column align="center" footerText="${strValorPreju_soma}">
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="18" align="center"
									footerText="Preenchido por: _______________________________________">
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="18" align="center"
									footerText="Revisado por: _______________________________________">
								</p:column>
							</p:row>
						</p:columnGroup>

					</p:dataTable>
				</c:when>


				<c:when test="${tpRel == 8}">
					<!---->
				</c:when>
				<c:when test="${tpRel == 9}">
					<!---->
				</c:when>
				<c:when test="${tpRel == 10}">
					<!---->
				</c:when>
				<c:when test="${tpRel == 11}">
					<!--ACESSO fnRelFraudeAberto-->
					<c:choose>
						<c:when test="#{not empty Relos.listaObjRsRelat11}">

							<c:forEach items="#{Relos.listaObjRsRelat11}" var="objRs">

								<c:set var="strQuantSoma" value="${0}" />
								<c:set var="strValorEnvolvSoma" value="${0}" />

								<c:forEach items="#{objRs}" var="counttt">
									<c:set var="strQuantSoma"
										value="${strQuantSoma + counttt.strQuant}" />
									<c:set var="strValorEnvolvSoma"
										value="${strValorEnvolvSoma + counttt.strValorEnvolv}" />
									<c:set var="strQuantSomaTotal"
										value="${strQuantSomaTotal + counttt.strQuant}" />
									<c:set var="strValorEnvolvSomaTotal"
										value="${strValorEnvolvSomaTotal + counttt.strValorEnvolv}" />
								</c:forEach>

								<p:dataTable border="1" width='600px' var="linha"
									value="#{objRs}">
									<p:columnGroup type="header">
										<p:row
											style='background-color:Red; color:White; font-weight:bold'>
											<p:column align="center" valign="middle" nowrap="nowrap"
												headerText="Banco"></p:column>
											<p:column align="center" valign="middle" nowrap="nowrap"
												headerText="Quantidade"></p:column>
											<p:column align="center" valign="middle" nowrap="nowrap"
												headerText="Valor Envolvido"></p:column>
											<p:column align="center" valign="middle" nowrap="nowrap"
												headerText="Canal"></p:column>
										</p:row>
									</p:columnGroup>
									<p:column>
										<h:outputText value="#{linha.strBanco}" />
									</p:column>
									<p:column>
										<h:outputText value="#{linha.strQuant}" />
									</p:column>
									<p:column>
										<h:outputText value="#{linha.strValorEnvolv}" />
									</p:column>
									<p:column>
										<h:outputText value="#{linha.strCanal}" />
									</p:column>
									<p:columnGroup type="footer">
										<p:row>
											<p:column align="center" footerText="Total">
											</p:column>
											<p:column align="center" footerText="${strQuantSoma}">
											</p:column>
											<p:column align="center" footerText="${strValorEnvolvSoma}">
											</p:column>
											<p:column align="center" footerText="">
											</p:column>
										</p:row>
									</p:columnGroup>
								</p:dataTable>

							</c:forEach>

							<table>
								<tr>
									<td></td>
									<td>Quantidade Total: ${strQuantSomaTotal}</td>
									<td></td>
									<td></td>
									<td>Valor Total: ${strValorEnvolvSomaTotal}</td>
									<td></td>
								</tr>
							</table>

						</c:when>
						<c:otherwise>
							<table>
								<tr>
									<td>Nenhum resultado encontrado no período selecionado.</td>
								</tr>
							</table>
						</c:otherwise>
					</c:choose>
				</c:when>
				<c:when test="${tpRel == 12}">
					<!--ACESSO fnRelGOERecupMes-->

					<p:dataTable value="#{Relos.listaObjRsRelat12Model}" var="listObjModel">
						<p:columnGroup type="header">
							<p:row
								style='background-color:Red; color:White; font-weight:bold'>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Mês Produto"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Internet"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Super Linha"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Cartão Crédito"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Cartão Débito"></p:column>
								<p:column align="center" valign="middle" nowrap="nowrap"
									headerText="Total"></p:column>
							</p:row>
						</p:columnGroup>

						<p:column>
							<h:outputText value="#{listObjModel.mes}" />
						</p:column>
						<p:column>
							<h:outputText value="#{listObjModel.internet}" />
						</p:column>
						<p:column>
							<h:outputText value="#{listObjModel.superLinha}" />
						</p:column>
						<p:column>
							<h:outputText value="#{listObjModel.cartaoCredito}" />
						</p:column>
						<p:column>
							<h:outputText value="#{listObjModel.cartaoDebito}" />
						</p:column>
						<p:column>
							<h:outputText value="#{listObjModel.total}" />
						</p:column>


					</p:dataTable>

				</c:when>
				<c:when test="${tpRel == 13}">
					<!---->
				</c:when>
			</c:choose>
		</c:when>
		<c:when test="${area == 'PREV'}">
			<p:dataTable></p:dataTable>
		</c:when>
	</c:choose>

	<!--RODAPE-->
	<table>
		<tr height="15">
			<td></td>
		</tr>
	</table>
	<table>

		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td align="center"><font size="1"
				face="Arial, Helvetica, sans-serif">Superintêndencia de
					Ocorrências Especiais</font></td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>

	</table>
	
	</ui:define>
	</ui:composition>

</h:body>

</html>