<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<f:event listener="#{aprovarRelPropBean.verificarPermissao}" type="preRenderView" />
<h:head>
	<title>Insert title here</title>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />

	<script type="text/javascript">
		//<![CDATA[
		function Voltar() {
			history.back();
		}

		function Aprovar() {
			if (confirm('Deseja aprovar o Relatório de Proposiçăo?')) {
				hybAprovarRelPropBean.aprovarRelatorio
			}
		}

		function Recusar() {
			window
					.showModalDialog(
							'HY_Aprovar_Rel_Prop_Pop.xhtml?strNrSeqOs=<%=strNrSeqOs%>',
							null,
							'dialogHeight:250px;dialogWidth:530px; center: Yes; resizable:no; status: No;');
			parent.principal.location.href = 'HY_Aprovar_Rel_Prop.xhtml?strNrSeqOs=<%=strNrSeqOs%>';

		}

		function Imprimir() {
			document.getElementById("frm:Text2").focus()
			window.print();
		}
		//]]>
	</script>

</h:head>
<h:body>

	<p:fieldset styleClass="PanelTitle">
		<h:form id="frm" name="frm"  method="post" >
			<table width="100%" border="0" id="tbProp" style="background-color: Red; color: White">
				<tr>
					<td colspan="6">Pesquisa OS > Aprovar Relatório de Proposição</td>
				</tr>
				<tr style="font-weight: bold">
					<td>Status: &nbsp;&nbsp;&nbsp;
						#{aprovarRelPropBean.objRsOs.SITUACAO}</td>
					<td>WorkFlow: &nbsp;&nbsp;
						#{aprovarRelPropBean.objRsOs.CD_NOTI} -
						#{aprovarRelPropBean.objRsOs.NM_NOTI}</td>
				</tr>
				<tr style="background-color: red; height: 1px;">
					<td colspan="8"></td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td width="20%">Nº OS:</td>
					<td colspan="3"><h:inputText styleClass="txtReadyOnly"
							readonly="true" id="Text2" type="text"
							value="#{aprovarRelPropBean.objRsOs.CODIGO}" /></td>
				</tr>
				<tr>
					<td width="20%">Nome do Relatório:</td>
					<td colspan="3"><h:inputText styleClass="txtReadyOnly"
							readonly="true" id="Text1" type="text"
							value="Relatório Proposiçăo" /></td>
				</tr>

				<tr>
					<td>Data de Abertura OS:</td>
					<td><h:inputText styleClass="txtReadyOnly" readonly="true"
							id="Text11" type="text"
							value="#{aprovarRelPropBean.objRsOs.DT_ABERTURA}" /></td>
					<td>Data Relatório:</td>
					<td><h:inputText styleClass="txtReadyOnly" readonly="true"
							id="Text5" type="text"
							value="#{aprovarRelPropBean.objRsOs.DT_RELATORIO}" /></td>
				</tr>
				<tr>
					<td>Valor Envolvido:</td>
					<td><h:inputText styleClass="txtReadyOnly" readonly="true"
							id="Text7" type="text"
							value="#{aprovarRelPropBean.objRsOs.VL_ENVOLVIDO}" /></td>
					<td>Valor Recuperado:</td>
					<td><h:inputText styleClass="txtReadyOnly" readonly="true"
							id="Text8" type="text"
							value="#{aprovarRelPropBean.objRsOs.VL_RECUPERADO}" /></td>
				</tr>
				<tr>
					<td>Valor Prejuízo:</td>
					<td><h:inputText styleClass="txtReadyOnly" readonly="true"
							id="Text9" type="text"
							value="#{aprovarRelPropBean.objRsOs.VL_PREJUIZO}" /></td>
				</tr>
				<tr>
					<td>Dependência:</td>
					<td colspan="2"><h:inputText styleClass="txtReadyOnly"
							readonly="true" id="Text6" type="text" style="width:100%"
							value="#{aprovarRelPropBean.objRsOs.AREA}" /></td>
				</tr>
			</table>
			<table>
				<tr height="5">
					<td></td>
				</tr>
			</table>
			<p:fieldset style="width:98%">
				<table width="100%" cellpadding="1" cellspacing="1">
					<tr style="background-color: gray; color: White">
						<td valign="middle" nowrap="nowrap"><strong>Nº Matrícula</strong></td>
						<td valign="middle"><strong>Nome Analista</strong></td>
						<td valign="middle"><strong>Designação</strong></td>
					</tr>

					<!-- MontaGridEquipe -->
					<p:row rendered="#{aprovarRelPropBean.objRsEquipes.isEmpty()}">
						<tr>
							<td colspan="3" align="center" valign="middle"><b></b></td>
						</tr>
					</p:row>

					<p:repeat value="#{aprovarRelPropBean.objRsEquipes}" var="objRsEquipe" varStatus="status">
						<tr style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">
							<td valign="middle">
								<h:outputText value="#{objRsEquipe.NR_MATR_PRSV}" />
							</td>
							
							<td valign="middle">
								<h:outputText value="#{objRsEquipe.NM_RECU_OCOR_ESPC}" />
							</td>
							
<!-- 							<p:column rendered="hybAprovarRelPropBean.verificaTipoDesignacao(objRsEquipe)">
								<td valign="middle">
									<h:outputText value="objRsEquipe.NM_DESIGNACAO" />
								</td>
							</p:column> -->
						</tr>
					</p:repeat>

				</table>
			</p:fieldset>

			<table>
				<tr height="5">
					<td></td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td colspan="2">Texto Abertura OS:<br /> 
							<p:inputTextarea styleClass="txtReadyOnly" readonly="true" id="TextArea1" cols="20"
							rows="2" style="width:99%; height:100px"
							value="#{aprovarRelPropBean.objRsOs.TX_ABERTURA}">
							</p:inputTextarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">Falhas/Irregularidades Constatadas:<br />
						 <p:inputTextarea
							styleClass="txtReadyOnly" readonly="true" id="TextArea3" cols="20"
							rows="2" style="width:99%; height:100px"
							value="#{aprovarRelPropBean.objRsOs.TX_FALHAS}">
						</p:inputTextarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">Texto Encerramento OS:<br />
						 <p:inputTextarea styleClass="txtReadyOnly" readonly="true" id="TextArea2" cols="20"
							rows="2" style="width:99%; height:100px"
							value="#{aprovarRelPropBean.objRsOs.TX_ENCERRAMENTO}">
						</p:inputTextarea>
					</td>
				</tr>
				<tr>
					<td><p:fieldset>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr style="background: gray; color: White; font-weight: bold">
									<td>&nbsp;#&nbsp;</td>
									<td>&nbsp;Nome Envolvido&nbsp;</td>
									<td>&nbsp;Nº CPF/CNPJ&nbsp;</td>
									<td>&nbsp;Tipo&nbsp;</td>
									<td>&nbsp;Penalidade&nbsp;</td>
									<td>&nbsp;Motivo&nbsp;</td>
								</tr>

								<p:row
									rendered="#{aprovarRelPropBean.objRsParticipantes.isEmpty()}">
									<tr>
										<td colspan="6" align="center" height="30">
											<b>Năo exitem participantes nessa Ordem de Serviço</b>
										</td>
									</tr>
								</p:row>

								<!-- TODO: verificar mascara de CPF/ CNPJ  -->
								<p:repeat value="#{aprovarRelPropBean.objRsParticipantes}" var="objRsParticipante" varStatus="status">
									<tr height="20" style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">
										<td><h:outputText value="#{objRsParticipante.POSICAO}" /></td>
										<td><h:outputText value="#{objRsParticipante.NOME}" /></td>
										<td><h:outputText value="#{objRsParticipante.CPF_CNPJ}" /></td>
										<td><h:outputText value="#{objRsParticipante.DESC_TIPO}" /></td>
										<td><h:outputText value="#{objRsParticipante.PENALIDADE}" /></td>
										<td><h:outputText value="#{objRsParticipante.MOTIVO}" /></td>
									</tr>
								</p:repeat>
							</table>
						</p:fieldset></td>
				</tr>

				<tr>
					<td colspan="2">Outras Proposições:<br /> <p:inputTextarea
							styleClass="txtReadyOnly" readonly="true" id="TextArea4" cols="20"
							rows="2" style="width:99%; height:100px"
							value="#{aprovarRelPropBean.objRsOs.TX_OUTRAS_PROP}"></p:inputTextarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">Parecer Jurídico:<br /> 
						<p:inputTextarea
							styleClass="txtReadyOnly" readonly="true" id="TextArea5" cols="20"
							rows="2" style="width:99%; height:100px"
							value="#{aprovarRelPropBean.objRsOs.PARECER_JURI}">
						</p:inputTextarea>
					</td>
				</tr>
			</table>
			<p:commandButton value="Aprovar" styleClass="btn_110" style="cursor:hand" action="#{aprovarRelPropBean.aprovarRelatorio}" ajax="false" />

			<p:commandButton value="Recusar" type="button" styleClass="btn_110"	style="cursor:hand" onclick="PF('btn-recusar').show();" />
			<p:dialog header="HY_Aprovar_Rel_Prop_Pop.asp?strNrSeqOs=" widgetVar="btn-recusar" modal="true" height="250" width="530">
				<h:outputText value="Iframe aqui." />
			</p:dialog>

			<p:commandButton value="Imprimir" styleClass="btn_110" style="cursor:hand" onclick="Imprimir()" />
			<p:commandButton value="Voltar" styleClass="btn_110" style="cursor:hand" onclick="Voltar(); " />

			<!-- Inputs ocultos -->
			<input id="txtHdAction" name="txtHdAction" type="hidden" />
			<input id="txtHdNrSeqNoti" name="txtHdNrSeqNoti" type="hidden" value="#{aprovarRelPropBean.objRsOs.CD_NOTI}" />
			<input id="txtHdNrSeqOs" name="txtHdNrSeqOs" type="hidden" value="strNrSeqOs" />

		</h:form>
	</p:fieldset>
</h:body>


</ui:define></ui:composition>