<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
	<h:head>
		<title>Portal de Sistemas Corporativo</title>
	</h:head>	
	<h:body topmargin="0" leftmargin="0" bgproperties="fixed">
	</h:body>
</ui:define></ui:composition>
