<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" >
<f:event listener="#{encerrarOSBean.verificarPermissao}" type="preRenderView" />
<h:head>
	<title>HY - Ocorrências Especiais</title>
    
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/utils.js"></script>
    <script type="text/javascript" src="#{request.contextPath}/javascript/hy_funcoes.js"></script>
    <script type="text/javascript" src="#{request.contextPath}/javascript/hy_calendario.js"></script>

	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" media="screen"/>
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/santander.css" media="screen"/>
	<script type="text/javascript">
		//<![CDATA[
			function Recusar(pageName) {
				document.getElementById('iframe-modal').src=pageName; 
				PF('dialogRecusar').show();
			}
			
			window.onload = function () {
				Resize();
			}
			
			function Resize() {
				window.parent.document.all['ifrmEncerrar'].height=this.document.body.scrollHeight;
			}

			var intFlagSalvar = 0;
			function SetFlagSalvar() {
			    intFlagSalvar = 1;
			}


			function Voltar() {
				location.href='hyb_pesquisaos_resultado.xhtml';
			}

			function Encerrar() {
			    var objFrm = new Object();
			    objFrm = document.forms[0];

			    if ('#{encerrarOSBean.objRsOsModel.CD_NOTI}' == '3010') {
			    	encerrarRemote();
			    } else {
			        alert('Não foi possível encerrar a ordem de serviço.\nWorkFlow Inválido!\nOS já encerrada ou ainda não foi enviada para encerramento.');
			        return;
			    }
			}

			function Imprimir() {
			    window.print();
			}
		//]]>
	</script>
	<style>    	
    	.cadOsTableTrPosicao { width: 100%; margin-bottom: 0; }
    	.cadOsTableTrPosicao td { background-color: #fff; }
    	.cadOsTableTrPosicaoLabel { margin-right: 15px; vertical-align: baseline; display: inline-block; }
    	.cadOsTableTrPosicaoSelect { width: 50%; max-width: 150px; }
    	
    	.cadOsTableHead tr { background-color: grey; color: #fff; font-weight: bold; }
    	.cadOsTableHead td { padding: 8px; color: #fff; }

    	.cadOsTableNotFound td { font-weight: bold; }
    	
    	.cadOsPanelGrid { width: 100%; }
    	.cadOsPanelGrid textarea { width: 100%; height: 120px; resize: none; }
    	.cadOsPanelGrid tr.ui-widget-content { border: 0; }
    	.cadOsPanelGrid .ui-panelgrid-cell { border: 0; padding: 6px 12px; }
    	
    	.cadOsIframe { width: 100%; margin: 25px 0; height: 85px; }
    	
    	.ui-datatable-odd { background: none !important; }
    	
    	.ui-selectonemenu { margin: 8px; min-width: 50%; }
    	
    	.cadOsPanelGrid label { font-weight: bold; }
    	
    	.cadOsPanelGrid .ui-button { margin-top: 10px; }
    	
    </style>
</h:head>
<h:body style="overflow-y:auto; overflow-x:hidden; width:100%; height:100%;">
		<h:form id="frm" action="HY_EncerrarOs.asp" method="post">
			<table width="100%" border="0" style="background-color:Red; color:White">
			    <tr style=" font-weight:bold">
			        <td>Status: <h:outputText value="#{encerrarOSBean.objRsOsModel.SITUACAO}" style="margin-left: 20px" /></td>
			        <td >WorkFlow: <h:outputText value="#{encerrarOSBean.objRsOsModel.CD_NOTI} - #{encerrarOSBean.objRsOsModel.NM_NOTI}" style="margin-left: 20px" /></td>
			    </tr>
			    <tr style="background-color: red; height:1px;"><td colspan="2"></td></tr>
			</table>
			<p:dialog appendToBody="true" header="HY - Ocorrências Especiais" widgetVar="dialogRecusar" modal="true" height="250px" width="530px" resizable="no">
				<iframe id="iframe-modal" src="" style="height: 100%; width: 100%"/>
			</p:dialog>
			<table width="100%" border="0" >
			    <tr><td height="8"></td></tr>
			    <tr>
			        <td>
						Texto Abertura OS:<br />
						<p:inputTextarea id="txtAbertura" name="txtAbertura" rows="8" cols="20" value="#{encerrarOSBean.objRsOsModel.TX_ABERTURA}" counter="txtAberturaCount" maxlength="500" counterTemplate="{0} caracteres restantes." style="width:99%; height:50px"></p:inputTextarea>
					</td>
			    </tr>
			    <tr>
			        <td id="td1" align="right" colspan="6"><h:outputText id="txtAberturaCount" /></td>
			    </tr>
			    <tr>
			        <td>
			            Texto de Encerramento:<br />
						<p:inputTextarea id="txtEncerramento" name="txtEncerramento" rows="8" cols="20" value="#{encerrarOSBean.objRsOsModel.TX_ENCERRAMENTO}" counter="txtEncerramentoCount" maxlength="500" counterTemplate="{0} caracteres restantes." style="width:99%; height:50px"></p:inputTextarea>
			        </td>
			    </tr>
			    <tr>
			        <td id="td1" align="right" colspan="6"><h:outputText id="txtEncerramentoCount" /></td>
			    </tr>
			    <tr>
			        <td>
			            Emitir Parecer:<br />
						<p:inputTextarea id="txtParecerGestor" name="txtParecerGestor" rows="8" cols="20" value="#{encerrarOSBean.objRsOsModel.PARECER_GEST}" counter="txtParecerGestorCount" maxlength="500" counterTemplate="{0} caracteres restantes." style="width:99%; height:50px" onchange="SetFlagSalvar()"></p:inputTextarea>
			        </td>
			    </tr>
			    <tr>
			        <td id="td1" align="right" colspan="6"><h:outputText id="txtParecerGestorCount" /></td>
			    </tr>
			    <tr>
			        <td>
			            <fieldset>
			            <table width="100%" cellpadding="0" cellspacing="0">
			                <tr height="20" style="background:gray; color:White; font-weight:bold; width:22px">
			                    <td></td>
			                    <td>&nbsp;#&nbsp;</td>
			                    <td>&nbsp;Nome Envolvido&nbsp;</td>
			                    <td>&nbsp;Nº CPF/CNPJ&nbsp;</td>
			                    <td>&nbsp;Tipo&nbsp;</td>
			                </tr>
			                <h:panelGroup rendered="#{empty encerrarOSBean.objRsOsParticipantes}">
			                	<tr>
									<td valign="middle" nowrap="nowrap" colspan="5">Não existem participantes para esta ordem de serviço!</td>
								</tr>
			                </h:panelGroup>
							<ui:repeat value="#{encerrarOSBean.objRsOsParticipantes}" var="rsParticipantes" varStatus="iRsParticipantes">
								<tr bgcolor="#{iRsParticipantes.index mod 2 eq 0 ? 'E8E8E8' : '#FFFFFF'}">
									<td><p:inputText id="NrSeqParticip" name="NrSeqParticip" value="#{rsParticipantes.CODIGO}" type="hidden" /></td>
									<td style="cursor:hand;" align="absmiddle" height="15" Title="Clique para visualizar" onclick="ExibirObj('tr#{rsParticipantes.POSICAO}')"><h:outputText value="#{rsParticipantes.CODIGO}" /></td>
									<td valign="middle"><h:outputText value="#{rsParticipantes.NOME}" /></td>
									<td valign="middle"><h:outputText value="#{rsParticipantes.CPF_CNPJ}" /></td>
									<td valign="middle"><h:outputText value="#{rsParticipantes.DESC_TIPO}" /></td>
								</tr>
								<tr>	
									<td colspan="5">
										<table id="tr#{rsParticipantes.POSICAO}" border="0" width='100%' style="display:none;" >
											<tr style="background:gray; color:White; font-weight:bold; width:22px">
												<td width="50%">&nbsp;Penalidade&nbsp;</td>
												<td width="50%">&nbsp;Motivo&nbsp;</td>
											</tr>
											<tr>
												<td width="50%">
													<p:selectOneMenu id="cboPena" name="cboPena" styleClass="cboPena" value="#{rsParticipantes.CD_PENALIDADE}" onChange="SetFlagSalvar()" style="width:95%">
														<f:selectItem itemLabel="Selecione..." itemValue="" />
														<f:selectItems value="#{encerrarOSBean.objRsOsPena}" var="selePena" itemLabel="#{selePena.NOME}" itemValue="#{selePena.CODIGO}"/>
													</p:selectOneMenu>
												</td>
												<td width="50%">
													<p:selectOneMenu id="cboMoti" name="cboMoti" styleClass="cboMoti" value="#{rsParticipantes.CD_MOTIVO}" onChange="SetFlagSalvar()" style="width:95%">
														<f:selectItem itemLabel="Selecione..." itemValue="" />
														<f:selectItems value="#{encerrarOSBean.objRsOsMotiPena}" var="seleMotiPena" itemLabel="#{seleMotiPena.NOME}" itemValue="#{seleMotiPena.CODIGO}"/>
													</p:selectOneMenu>
												</td>
											</tr>
										</table>	                    
									</td>                    
								</tr>
	   						</ui:repeat>
			            </table>
			            </fieldset>
			        </td>
			    </tr>
			    <tr>
			        <td>
			            Falhas/Irregularidades Constatadas:<br />
						<p:inputTextarea id="txtFalhas" name="txtFalhas" rows="8" cols="20" value="#{encerrarOSBean.objRsOsModel.TX_FALHAS}" counter="txtFalhasCount" maxlength="500" counterTemplate="{0} caracteres restantes." onchange="SetFlagSalvar()" style="width:99%; height:50px"></p:inputTextarea>
			        </td>
			    </tr>
			    <tr>
			        <td id="td2" align="right"><h:outputText id="txtFalhasCount" /></td>
			    </tr>
			    <tr>
			        <td>
			            Outras Proposições:<br />
						<p:inputTextarea id="txtOutrasProp" name="txtOutrasProp" rows="8" cols="20" value="#{encerrarOSBean.objRsOsModel.TX_OUTRAS_PROP}" counter="txtOutrasPropCount" maxlength="500" counterTemplate="{0} caracteres restantes." onchange="SetFlagSalvar()" style="width:99%; height:50px"></p:inputTextarea>
			        </td>
			    </tr>
			    <tr>
			        <td id="td3" align="right"><h:outputText id="txtOutrasPropCount" /></td>
			    </tr>
			    <tr>
			        <td>
						Parecer Jurídico:<br />
						<p:inputTextarea id="txtParecer" name="txtParecer" rows="8" cols="20" value="#{encerrarOSBean.objRsOsModel.PARECER_JURI}" counter="txtParecerCount" maxlength="500" counterTemplate="{0} caracteres restantes." style="width:99%; height:50px"></p:inputTextarea>
					</td>
			    </tr>
			    <tr>
			        <td id="td1" align="right"><h:outputText id="txtParecerCount" /></td>
			    </tr>
			    <tr>
	        		<td align="right">
			        	<p:commandButton value="Encerrar" onclick="Encerrar()"></p:commandButton>
			        	<p:commandButton value="Recusar" onclick="Recusar('hyb_encerrarospop.xhtml?strNrSeqOs=#{encerrarOSBean.strNrSeqOs}')"></p:commandButton>
			        	<p:commandButton update="@form" actionListener="#{encerrarOSBean.salvar}" id="btnSalvar" value="Salvar" />
			        	<p:commandButton value="Voltar" onclick="Voltar()"></p:commandButton>
	        		</td>
	        	</tr>
			</table>
			
		    <p:remoteCommand update="@form" name="enviarAprovacaoRemoteCommand" actionListener="#{encerrarOSBean.enviarAprovacao}" oncomplete="completeEncerrar();"/>
		    <p:remoteCommand update="@form" name="encerrarRemote" actionListener="#{encerrarOSBean.encerrar}"></p:remoteCommand>
	       	
		</h:form>
</h:body>
</html>
