<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
 <h:head>
 </h:head>

<link type="text/css" rel="stylesheet" href="../css/hy_style.css" />
<link type="text/css" rel="stylesheet" href="../css/santander.css" />
 <h:body styleClass="PanelTitle">
 <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
	<h:form> 
		<p:commandButton value="Efetuar carga Lynx" id="withIcon" action="#{hyAdmGerManutLynx.carregaLynx}" style="margin-right:20px;" icon="pi pi-save" />
		<p:commandButton value="Voltar" styleClass='btn_110' ajax="false" action="hy_adm_ger_manut.xhtml?faces-redirect=true" />
	</h:form>
</h:panelGrid>
	<p:dialog id="carregaLynx" widgetVar="carregaLynx" minHeight="40">
	    <h:outputText id="lynxResp" value="#{hyAdmGerManutLynx.message}"/>
	</p:dialog>
 </h:body>           
</ui:define></ui:composition>