<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title>Administração - Gerencial - Penalidade</title>
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_avanade-style.css" media="screen" />
    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	

	<script type="text/javascript">	
		//<![CDATA[	
			
			window.onunload = function () {
				if (document.getElementById('frm:txtHdUnload').value == "1"){
					if (confirm("Existem alterações não salvas!\nDeseja sair e salvar todas as alterações?")){
						var arrPenl = new Array();
					    var strAux = '';
	
					    if(!ValidaNomesSalvar()) {
					    	alert("Nome já existente! \nAlteração cancelada");
					     	return;
					    }
					    
				        arrPenl = document.getElementsByClassName("jsTxtPenalidade");
				        arrIdPenl = document.getElementsByClassName("jsTxtIdPenalidade");
				        
				        for(var i = 0; i < arrPenl.length; i++) {
				     
				            strAux = strAux + arrIdPenl[i].value + '|' + arrPenl[i].value;
				            
				            if( i != (arrPenl.length - 1) ) {
				                strAux = strAux + '@';
				            }
				        }  
					        
				        salvarRemoteCommand([{name:"ArrPenalidade", value:strAux}]);
					}
				}
			}
			function limparCampo(){
				document.getElementById('frm:txtAddPenalidade').value=''
			}
       		
			function Voltar() {
				window.open('hyb_Adm_Ger_Manut.xhtml', '_self', '');    
			}
			
			function Adicionar() {
			    var objTxtPenalidade = document.getElementById('frm:txtAddPenalidade');
			    
			    if(objTxtPenalidade.value == '') {
			        alert("Digite o nome da Penalidade."); return;
			    }
				
			    if(!ValidaNomesAdd())  {
			    	alert('Nome já existente!\nEscolha outro Nome!'); return;
				}
			    
			    if ( confirm('Deseja incluir a Penalidade ' + objTxtPenalidade.value + '?') ) {
			    	adicionarRemoteCommand();
			    }  else {
			        objTxtPenalidade.value = ''; 
			        objTxtPenalidade.focus();      
			    }
			}
			
			function Deletar(idCanal, strNomePenl) {			    
			    if( confirm("Deseja excluir a Penalidade " + strNomePenl + "?") ) {
			    	deletarRemoteCommand([{name:"CodPenalidade", value:idCanal}]);
			    }    
			}			
			
			function Salvar() {
			    var arrPenl = new Array();
			    var strAux = '';

			    if(!ValidaNomesSalvar()) {
			    	alert("Nome já existente! \nAlteração cancelada");
			     	return;
			    }
			    
			    if(confirm('Deseja salvar todas as alterações?')) {    
			        arrPenl = document.getElementsByClassName("jsTxtPenalidade");
			        arrIdPenl = document.getElementsByClassName("jsTxtIdPenalidade");
			        
			        for(var i = 0; i < arrPenl.length; i++) {
			     
			            strAux = strAux + arrIdPenl[i].value + '|' + arrPenl[i].value;
			            
			            if( i != (arrPenl.length - 1) ) {
			                strAux = strAux + '@';
			            }
			        }  
			        
			        salvarRemoteCommand([{name:"ArrPenalidade", value:strAux}]);
			    }
			}
	
			function ValidaNomesAdd() {
				var arrNomes = new Array();
			    var objTxtAdd = document.getElementById('frm:txtAddPenalidade')
			    
			    arrNomes = document.getElementsByName('txtPenalidade');

			    for(var i = 0; i < arrNomes.length; i++) {
			        if(arrNomes[i].value.toUpperCase() == objTxtAdd.value.toUpperCase()) {                
			            return false;
			        }
			    }
			    return true;
			}
	
			function ValidaNomesSalvar(){
		        var arrNomes = document.getElementsByClassName('jsTxtPenalidade');
				     
				for(var i = 0; i < arrNomes.length; i++) {
					for(var j = 0; j < arrNomes.length; j++) {            
				    	if(i != j) {
				        	if(arrNomes[i].value.toUpperCase() == arrNomes[j].value.toUpperCase()) {
				            	return false;
				            }
				        }
				    }
				}
		    	return true;
		    } 			
	 		
	    	function SetUnload(valor) {
	    		document.getElementById('frm:txtHdUnload').value = valor;	    		
	    	}
		//]]>	
	</script>
	<style>
		

	</style>
</h:head>

<h:body styleClass="PanelTitle">
	<iframe src="titulo.xhtml?strTitulo=Administração - Gerencial - Penalidade" frameborder="0" width="100%" height="27"></iframe>
	<h:form id="frm" name="frm">
		<h:outputLabel for="txtAddPenalidade" value="Descrição do Motivo da Penalidade:" /><br />			
		<p:inputText name="txtAddPenalidade" id="txtAddPenalidade" type="text" maxlength="30" value="#{admGerManutPenaBean.txtAddPenalidade}" style="margin-right:6px; width:200px" />
		<p:commandButton id="btAdicionar" onclick="Adicionar()" value="Adicionar" />
		<p:dataTable id="dataPenalidades"
			paginator="true"
			paginatorPosition="bottom"
			rows="8"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
            currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
            emptyMessage="Nenhuma Penalidade Encontrada"
			value="#{admGerManutPenaBean.objRsAdmPenal}"
			var="rowPenalidade">
		    <p:column headerText="Descrição Penalidade" width="95%">
		    	<p:inputText styleClass="jsTxtIdPenalidade" name="txtIdPenalidade" id="txtIdPenalidade" type="hidden" value="#{rowPenalidade.CODIGO}" />
		        <p:inputText styleClass="jsTxtPenalidade" name="txtPenalidade" id="txtPenalidade" type="text" value="#{rowPenalidade.NOME}" style="width:85%" onchange="SetUnload('1')" />
		    </p:column>
		    <p:column width="5%">
			    <ui:fragment rendered="#{rowPenalidade.EXCLUSAO == false}">
					<p:commandButton icon="btn-excluir" styleClass="btn-limpar" id="btExcluir" onclick="Deletar('#{rowPenalidade.CODIGO}', '#{rowPenalidade.NOME}' )" />
	            </ui:fragment>
		    </p:column> 
		</p:dataTable>
		<table width="100%" class="bg-red w-100 align-right">
		    <tr height="25">
		        <td align="right">
			        <p:commandButton type="button" onclick="Salvar()" id="btnSalvar" value="Salvar" style="margin-right:6px" />
					<p:commandButton type="button" onclick="Voltar()" id="btnVoltar" value="Voltar" />
				</td>
		    </tr>    
		</table>

		<p:inputText id="txtHdUnload" name="txtHdUnload" type="hidden" value="#{AdmGerManutMotPenaBean.txtHdUnload}" />
		
		<p:remoteCommand name="adicionarRemoteCommand" update="frm:dataPenalidades" process="@this" actionListener="#{admGerManutPenaBean.adicionar}"/>
		<p:remoteCommand name="deletarRemoteCommand" update="frm:dataPenalidades" process="@this" actionListener="#{admGerManutPenaBean.deletar}"/>
		<p:remoteCommand name="salvarRemoteCommand" update="frm:dataPenalidades" process="@this" actionListener="#{admGerManutPenaBean.salvar}"/>		
	</h:form>
</h:body>
</ui:define></ui:composition>
