<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/templates/template.xhtml">
	
		<ui:define name="content" >
<h:head>
	<title></title>
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		media="screen" />
	<style>
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
</style>

</h:head>
<h:body styleClass="PanelTitle" style="height:100%">

	<iframe src="#{CadastroOsPesquisaEnvolvIfrmBean.srcIframe}"
		id="IFrmPopUpPart" frameborder="0" width="100%" height="100%"
		scrolling="auto"></iframe>

</h:body>

</ui:define>
</ui:composition>