<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/santander.css" />
</h:head>
	<h:body>
		<style>    	
	    	.cadOsTableTrPosicao { width: 100%; margin-bottom: 0; }
	    	.cadOsTableTrPosicao td { background-color: #fff; }
	    	.cadOsTableTrPosicaoLabel { margin-right: 15px; vertical-align: baseline; display: inline-block; }
	    	.cadOsTableTrPosicaoSelect { width: 50%; max-width: 150px; }
	    	
	    	.cadOsTableHead tr { background-color: grey; color: #fff; font-weight: bold; }
	    	.cadOsTableHead td { padding: 8px; color: #fff; }
	
	    	.cadOsTableNotFound td { font-weight: bold; }
	    	
	    	.cadOsPanelGrid { width: 100%; }
	    	.cadOsPanelGrid textarea { width: 100%; height: 120px; resize: none; }
	    	.cadOsPanelGrid tr.ui-widget-content { border: 0; }
	    	.cadOsPanelGrid .ui-panelgrid-cell { border: 0; padding: 6px 12px; }
	    	
	    	.cadOsIframe { width: 100%; margin: 25px 0; height: 85px; }
	    	
	    	.ui-datatable-odd { background: none !important; }
	    	
	    	.ui-selectonemenu { margin: 8px; min-width: 50%; }
	    	
	    	.cadOsPanelGrid label { font-weight: bold; }
	    	
	    	.cadOsPanelGrid .ui-button { margin-top: 10px; }
	    	textarea{padding: 4px 0!important;}
	    </style>
	    
	    <script>
	  //<![CDATA[
		parent.PF("statusDialog").hide();
		
	  	function UrlEncode(sStr) {
		    return escape(sStr).
		             replace(/\+/g, '%2B').
		                replace(/\"/g,'%22').
		                   replace(/\'/g, '%27').
		                     replace(/\//g,'%2F');
		                     
		                        
		}


		function UrlDecode(sStr) {

		    return unescape(sStr).
		             replace('%2B', /\+/g).
		                replace('%22', /\"/g).
		                   replace('%27', /\'/g).
		                     replace('%2F', /\//g);
		}

		var gobjTipoArquivo = new Object();
		gobjTipoArquivo.arrTipo = new Array('pdf', 'zip', 'doc', 'xls', 'ppt', 'pps', 'msg', 'jpgjpeggifbmppng', '*')
//		                                    0      1      2      3      4      5      6              7          8

		gobjTipoArquivo.arrNomeImagem = new Array('ico_pdf.gif',     // 0
		                                          'ico_zip.gif',     // 1
		                                          'ico_doc.gif',     // 2
		                                          'ico_xls.gif',     // 3
		                                          'ico_ppt.gif',     // 4
		                                          'ico_pps.gif',     // 5
		                                          'ico_msg.gif',     // 6
		                                          'ico_img.gif',     // 7
		                                          'ico_outros.gif'); // 8


		function PegaNomeArquivo(strCamimhoArquivo)
		{
		    
		    var arrTipoArquivo = new Array();
		    
		    arrTipoArquivo = strCamimhoArquivo.split('.');
		    
		    for (var i = 0; i < gobjTipoArquivo.arrTipo.length; i++)
		    {
		        if(gobjTipoArquivo.arrTipo[i].indexOf(arrTipoArquivo[arrTipoArquivo.length - 1]) != -1)
		        {
		            return gobjTipoArquivo.arrNomeImagem[i];
		        }
		    }
		    
		    return gobjTipoArquivo.arrNomeImagem[8];
		}
		  
	    function montaLinhas(id_Arquivo,strAuxCaminho,strAuxArquivo, strBgColor) {		
			
			//tabela = eval(tbAnexo);
		    tabela = document.getElementById('tbAnexo');
		    
			var objRow = tabela.insertRow();
			objRow.style.background = strBgColor;
			var objCell = objRow.insertCell();		
			
			var strNome = UrlDecode(strAuxArquivo)
			var strFile = strAuxCaminho + UrlEncode(strNome);

			objRow.id = id_Arquivo;	
			
			// COLUNA 01
		    objCell.innerHTML		= "<span onclick=ExibeArquivo('"+objRow.id+"');  target='blank'>&#160;<img alt='' src='../images/" + PegaNomeArquivo(strNome) + "'></span>";	
			objCell.align			= "left";
			objCell.width			= "2%"		
			
			// COLUNA 02
			objCell					= objRow.insertCell();
			objCell.innerHTML		= strNome ;
			objCell.align			= "left";
			objCell.width			= "32%"			
		
			// COLUNA 03
		    var TTT = "EEE";
			objCell					= objRow.insertCell();
		    objCell.innerHTML		= "<span onclick=Deletar('" + objRow.id + "'); style='cursor:pointer;'><img alt='Excluir' src='../images/btn_excluir_ib.gif' border='0'></span>";
			objCell.align			= "left";
			objCell.height			= "22";
			objCell.width			="9%";	

		}
	    
	    function ExibeArquivo(fileId)
	    {
	    	document.getElementsByClassName('download-'+fileId)[0].click();
	    	//document.forms[0].txtHdInfArq.value = UrlDecode(strNome);
	    	// callExibeArqRemote
	    	//document.forms[0].txtHdAction.value = 'E';
	    	//document.forms[0].submit();
	    }

	    function Deletar(id)
	    {
	    	callDeleteArqRemote([{name: "idArquivo", value: id}]);
	    	//document.forms[0].txtHdInfArq.value = strNome;
	    	//document.forms[0].txtHdAction.value = 'D';
	    	//document.forms[0].submit();
	    
	    }
/* 
	    function excluiTab(tabela, id_linha) {
	    	tabela = eval(tabela);
	    	var objRow = tabela.rows;

	    	for (var i = 0; i < objRow.length; i++) {
	    		if (eval(objRow[i].id) == id_linha) {
	    			tabela.deleteRow(i);
	    		}
	    	}
	    }
	     */
	    function Anexar() {
	    	 PF('btn-importar').show();
	    }
	     
	     function setupObj() {
			callSetupObj();
		 }
	     
	    //]]>
	</script>
	    
	    <h:form id="frm" name="frm">
	    
	    <p:dialog id="adicionar-lanchr" appendToBody="true" widgetVar="btn-importar" height="600" width="733" modal="true" resizable="no">
	    	
				<iframe id="ifrmImpArq"
						name="ifrmImpArq"
						src="#{cadosInformacoesGeraisBean.srcIfrmImpArq}"
						scrolling="no"
						frameborder="0"
						width="100%"
						height="100%">
				</iframe>
					
				<p:inputText type="hidden" id="strAnexoField" value="#{ImportarArquivoBean.strAnexo}"></p:inputText>
				<p:inputText type="hidden" id="strSeqOsField" value="#{ImportarArquivoBean.strSeqOs}"></p:inputText>
				<p:inputText type="hidden" id="strSeqTreiField" value="#{ImportarArquivoBean.strSeqTrei}"></p:inputText>
					
      	</p:dialog>
	    
	        <table class="cadOsPanelGrid">
	        	<tr>
	        		<td>
	        			<h:outputLabel for="txtEntrada" value="Texto de Abertura da OS:" />
			            <p:inputTextarea rows="6" counter="txtEntradaDisplay" counterTemplate="{0} caracteres restantes." maxlength="500" styleClass="ui-inputfield ui-inputtextarea ui-corner-all ui-state-hover" onchange="SetFlagSalvar()" value="#{cadosInformacoesGeraisBean.objRsCadOsInfGerais.txAberOrdeServ}" name="txtEntrada" id="txtEntrada" />
			    		<h:outputText id="txtEntradaDisplay" />
	        		</td>
	        	</tr>
	        	
	        	<tr>
	        		<td>
	        			<h:outputLabel for="txtEncerramento" value="Texto de Encerramento da OS: " />
			            <p:inputTextarea rows="6" counter="txtEncerramentoDisplay" counterTemplate="{0} caracteres restantes." maxlength="2000" styleClass="ui-inputfield ui-inputtextarea ui-corner-all ui-state-hover" onchange="SetFlagSalvar()" value="#{cadosInformacoesGeraisBean.objRsCadOsInfGerais.txEnceOrdeServ}" name="txtEncerramento" id="txtEncerramento" />
			        	<h:outputText id="txtEncerramentoDisplay" />
	        		</td>
	        	</tr>
	        </table>
	        
	        <!-- ANEXO -->
        
   			<h:panelGroup id="arquivosTable">
				<fieldset style="margin-top: 20px;"><legend>Anexar arquivos</legend>
				<table style="padding: 5px;" width="100%" border=" 	0">
				    <tr>
				        <td><h:commandButton style="color: #000; background: white; border: 1px solid #ccc; padding: 5px;" type="button" id="button0" value="Anexar" onclick="Anexar()"></h:commandButton></td>
				    </tr>
				</table>
				</fieldset>
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				    <tr style="background-color: gray; color: White">
				        <td colspan=""><b>Aquivos Anexados</b></td>
				    </tr>
				    <tr style="background:gray; height:1px; "><td colspan=""></td></tr>
				</table>
				<div id="divOverFlow" style="overflow:auto; width:100%; height:100px;" align="left">
					<table width="100%" id="tbAnexo" border = "0" cellpadding="0" cellspacing="0">
						<tr></tr>
						<ui:repeat value="#{cadosInformacoesGeraisBean.objRsCadOSArqAnex}"
							var="arqanex" varStatus="status">
								<script>
								//<![CDATA[
									montaLinhas("#{status.index}", "#{arqanex.getCaminhoArquivo()}", "#{arqanex.getNomeArquivo()}", "#{(status.index mod 2 eq 0) ? '#FFFFFF' : '#E8E8E8'}"); 
								//]]>
								</script>
						        <h:commandButton id="fileIdParam" actionListener="#{cadosInformacoesGeraisBean.saveFile}" styleClass="download-#{status.index}" style="display:none;">
						        	<f:param name="fileId" value="#{status.index}"></f:param>
						        	<p:fileDownload value="#{cadosInformacoesGeraisBean.file}"></p:fileDownload>
						        </h:commandButton>
						</ui:repeat>
					</table>
				</div>
    		</h:panelGroup>
			<p:remoteCommand update="arquivosTable" name="callDeleteArqRemote" actionListener="#{cadosInformacoesGeraisBean.deletarArquivo}"></p:remoteCommand>
	       	<p:remoteCommand actionListener="#{cadosInformacoesGeraisBean.resetObjRsArq}" update="arquivosTable" name="callSetupObj"></p:remoteCommand>
	        
	        <!-- ANEXO FIM -->
	
        	<table style="margin-top: 12px;" width="100%" cellspacing="0" border="0" cellpadding="0">
        		<thead>
        			<tr height="20" style="background:gray; color:White; font-weight:bold; width:22px">
        				<td>#</td>
        				<td>Nome Envolvido</td>
        				<td>Nº CPF/CNPJ</td>
        				<td>Tipo</td>
        			</tr>
        		</thead>
		        <ui:repeat varStatus="status" var="rsParticipante" value="#{cadosInformacoesGeraisBean.objRsParticipante}">
		        		<tr height="25" style="background: #{(status.index mod 2 eq 0) ? '#FFFFFF' : '#E8E8E8'}">
        				 	<td class="gridCellSelect" style="cursor:pointer;">
				                <p:inputText type="hidden" id="NrSeqParticip" name="NrSeqParticip" styleClass="NrSeqParticip" value="#{rsParticipante.codigo}"></p:inputText>
				            	<h:outputText value="#{rsParticipante.posicao}"></h:outputText>
				            </td>
				            
				            <td>
					   			<h:outputText value="#{rsParticipante.nome}"></h:outputText>
				            </td>
				            
				            <td>
					   			<h:outputText rendered="#{rsParticipante.tipoParticip == 1}" mask="999.999.999-99" value="#{rsParticipante.cpfCnpj}"></h:outputText>
					   			<h:outputText rendered="#{rsParticipante.tipoParticip == 2}" mask="99.999.999/9999-99" value="#{rsParticipante.cpfCnpj}"></h:outputText>
				            </td>
				            <td>
					   			<h:outputText value="#{rsParticipante.descTipo}"></h:outputText>
				            </td>
	        			</tr>
	        			<tbody class="gridSelect" style="display:none;">
		        			<tr height="18" style="background: gray; color: white; font-weight: bold;">
		        				<td colspan="2">
						   			Penalidade
					            </td>
					            <td colspan="2">
						   			Motivo
					            </td>
		        			</tr>
		        			<tr>
		        				<td style="width: 50%;" colspan="2">
						   			<p:selectOneMenu id="cboPena" onchange="SetFlagSalvar();" styleClass="cboPenalidade" value="#{rsParticipante.cdPenalidade}">
						   			<!-- TODO - Valor padrao de 'selecione' nao passando no banco -> Alterei o back-end para aceitar null, testarf -->
										<f:selectItem itemLabel="Selecione" itemValue=""></f:selectItem> 
										<f:selectItems value="#{cadosInformacoesGeraisBean.objRsPena}" var="objPena" itemLabel="#{objPena.nome}" itemValue="#{objPena.codigo}"></f:selectItems>
									</p:selectOneMenu>
					            </td>
					            <td style="width: 50%;" colspan="2">
						   			<p:selectOneMenu id="cboMoti" onchange="SetFlagSalvar();" styleClass="cboMotivo" value="#{rsParticipante.cdMotivo}">
										<f:selectItem itemLabel="Selecione" itemValue=""></f:selectItem> 
										<f:selectItems value="#{cadosInformacoesGeraisBean.objRsMotiPena}" var="objMotiPena" itemLabel="#{objMotiPena.nome}" itemValue="#{objMotiPena.codigo}"></f:selectItems>
									</p:selectOneMenu>
					            </td>
		        			</tr>
	        			</tbody>
		        </ui:repeat>
        	</table>
	        
	        
	        <table class="cadOsPanelGrid">
	        	<tr>
	        		<td>
	        			<h:outputText value="Falhas/Irregularidades Constatadas:"  rows="10" cols="50" />
			            <p:inputTextarea rows="6" counter="txtFalhaCount" counterTemplate="{0} caracteres restantes." maxlength="500" styleClass="ui-inputfield ui-inputtextarea ui-corner-all ui-state-hover" onchange="SetFlagSalvar()" value="#{cadosInformacoesGeraisBean.objRsOs.txtFalhas}" name="txtFalhas" id="txtFalhas"/>
						<h:outputText id="txtFalhaCount" />
	        		</td>
	        	</tr>
	        	
	        	<tr>
	        		<td>
	        			<h:outputText value="Proposições:" />
			            <p:inputTextarea rows="6" counter="txtOutrasPropCount" counterTemplate="{0} caracteres restantes." maxlength="500"  styleClass="ui-inputfield ui-inputtextarea ui-corner-all ui-state-hover" onchange="SetFlagSalvar()" value="#{cadosInformacoesGeraisBean.objRsOs.txtOutrasProp}" name="txtOutrasProp" id="txtOutrasProp" />
			            <h:outputText id="txtOutrasPropCount" />
	        		</td>
	        	</tr>
	        	
	        	<tr>
	        		<td>
			        	<p:commandButton value="Enviar OS para Encerramento" onclick="EnviarAprovacao()"></p:commandButton>
			        	<p:commandButton type="button" onclick="salvar();" id="btnSalvar" value="Salvar" style="float:right;" />
	        		</td>
	        	</tr>
	        </table>
	        
	       	<p:remoteCommand update="@form" name="enviarAprovacaoRemoteCommand" actionListener="#{cadosInformacoesGeraisBean.enviarAprovacao}" oncomplete="completeEncerrar();"/>
	       	<p:remoteCommand update="@form" name="salvarRemote" actionListener="#{cadosInformacoesGeraisBean.salvar}" oncomplete="completeSalvar();"></p:remoteCommand>
	       	
	    </h:form>
	    
	    <script>
			//<![CDATA[

			var intFlagSalvar = 0;
	
	        function SetFlagSalvar() {
	            intFlagSalvar = 1;
	        }
	
	        window.onload = function() {
	        	$('.gridCellSelect').click(function() {
	        		$(this).parents('tbody').next('.gridSelect').toggle();
	        	});
	        }
	
        /*******************************************************/        

        function completeEncerrar() {
        	alert('Texto de encerramento enviado para aprovação\n Notificação enviada aos responsáveis');
        }
        
        function completeSalvar() {
        	alert('Informações alterada com sucesso!');
        	window.location.reload();
        }

        /**********************************************************/
        
        function salvar() {
        	salvarRemote();
        }
        
        function EnviarAprovacao() {

            var form = document.getElementById('frm');
            var txtHdCdNoti = '#{cadosInformacoesGeraisBean.objRsCadOsInfGerais.cdNoti}';

            //validação
            if ( txtHdCdNoti.value == '' ) {
                alert('A OS não pode ser enviada para Encerramento pois o Texto de Encerramento está vazio.');  return;
            }

            //validação
            if (intFlagSalvar == 1) {
                alert('A OS não pode ser enviada para Encerramento pois as alterações não foram salvas.');
                return;
            }

            //validação
            if ( txtHdCdNoti == "2020" || txtHdCdNoti == "3030" ) {
                if ( confirm('Deseja enviar a OS para Encerramento?') )
                	enviarAprovacaoRemoteCommand();
            }  else {
                alert('A OS não pode ser enviada para Encerramento.\nA OS ainda não foi iniciada ou já foi aprovada.'); return;
            }

        }
		//]]>
    </script>

	</h:body>
</html>