<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:head>
	 	    <link type="text/css" media="screen" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" />
	        <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	        <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	
			<title>Administração - Gerencial</title>
			
			<script>
			//<![CDATA[				
       		function tamanhoCabecalho() {
				document.getElementById('frm:txtDescricao').value = "";
       			var $leftHeader = $('.ui-datatable-frozenlayout-left .ui-datatable-scrollable-header-box tr');
       			var $rightHeader = $($($('.ui-datatable-frozenlayout-right .ui-datatable-scrollable-header-box tr')[0])[0].cells[1]).eq(0).outerHeight();
       			$leftHeader.outerHeight($rightHeader)
       		};    		
       		
       		window.onload = function () {
       			PF('statusDialog').show();
       			tamanhoCabecalho();
       		};

			function SetUnload() {
				document.getElementById('frm:txtHdUnload').value = '1';
			}

			function Voltar() {
				window.location.href = "hyb_adm_ger_manut.xhtml";
			}

			function Salvar() {	
				if (confirm('Deseja salvar todas as alterações?')) {		    	
   			    	paramPCorp = ""
       			    arrIdPCorp = document.getElementsByClassName('jsIdPCorp');
   			    	arrPCorpSla = document.getElementsByClassName('jsPCorpSla');
   			    	arrPCorpOpDeb = document.getElementsByClassName('jsPCorpOpDeb');
   			    	arrPCorpOpCred = document.getElementsByClassName('jsPCorpOpCred');
   			    	
   			    	for(var i = 0; i < arrIdPCorp.length; i++) {							
   			    		paramPCorp += arrIdPCorp[i].value + "|" + arrPCorpSla[i].value + "|" + document.getElementById(arrPCorpOpDeb[i].id+'_input').checked + "|" + document.getElementById(arrPCorpOpCred[i].id+'_input').checked
   			    		if (i!=(arrIdPCorp.length-1))
   			    			paramPCorp += "@"
       			    }  
   			    	
   			    	paramCanaisPCorp = ""
       			    arrCanaisPCorpCod = document.getElementsByClassName('canaisPCorpCod');
   			    	arrCanaisPCorp = document.getElementsByClassName('canaisPCorp');
   			    	for (i=0;i<arrCanaisPCorp.length;i++){
   			    		paramCanaisPCorp += arrCanaisPCorpCod[i].value + "|" + document.getElementById(arrCanaisPCorp[i].id+'_input').checked
   			    		if (i!=(arrCanaisPCorp.length-1))
   			    			paramCanaisPCorp += "@"
   			    	}

   			    	console.log(paramPCorp)
   			    	console.log(paramCanaisPCorp)

   			    	salvarRemoteCommand([{name:"arrPCorp", value:paramPCorp},{name:"arrCanaisPCorp", value:paramCanaisPCorp}]);
				}
			}

			function Pesquisar() {
				var objDesc = document.getElementById('frm:txtDescricao');

				if (objDesc.value.length < 3) {
					alert('Entre com no mínimo 3 caracteres');
					return;
				}

				pesquisarRemoteCommand();
			}

			//]]>
			</script>
			<style>
				.no-paginator-top .ui-paginator-top,
				.table-no-header thead {
					display: none;
				}
				
				.ui-datatable-frozenLayout-left {width: 20%}
				.ui-datatable-frozenLayout-right {width: 80%}
				
				.ui-datatable-scrollable-theadclone {visibility: collapse; }	
			</style>
		</h:head>

		<h:body class="PanelTitle" style="height: 100%">
		
			<ui:include src="loadingStatus.xhtml" />
		
			 <iframe src="titulo.xhtml?strTitulo=Administração - Gerencial - Operações Corporativas" frameborder="0" width="100%" height="27"></iframe>
			 
			 <table width="100%" border="0" style="background-color:Red; color:White;" cellpadding="1" cellspacing="1">
			     <tr height="25">
			         <td>
			            &nbsp;&nbsp;
			            <a href="hyb_Adm_Ger_Manut_Eventos.xhtml" style="color:White"><b>[ Eventos ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;            
			            <a href="hyb_Adm_Ger_Manut_Canais.xhtml" style="color:White"><b>[ Canais ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
			            [ Operações Corporativas ]&nbsp;&nbsp;&nbsp;&nbsp;
			            <a href="hyb_Adm_Ger_Manut_pcorp.xhtml" style="color:White"><b>[ Operações Auxiliares ]</b></a>&nbsp;&nbsp;
			         </td>
			     </tr>    
			 </table>
			 
			<h:form id="frm" name="frm" method="post">
				
				<p:remoteCommand name="onload" action="#{AdmGerManutPCorpBean.montarListaPCorp_Lazy}" autoRun="true" update="frm:dataPCorp" />
				
				<div class="row-inputTop">
					<h:outputLabel for="txtDescricao" value="Descrição:" />
					<p:inputText id="txtDescricao" style="width:200px" value="#{AdmGerManutPCorpBean.txtDescricao}" />
					<p:graphicImage value="../images/lupa.gif" alt="Pesquisar Operação Corporativa" onclick="Pesquisar()" style="cursor:hand; margin-bottom: -8px; margin-left: 5px" />
				</div>
				<p:dataTable id="dataPCorp"
					var="pcorp"
					value="#{AdmGerManutPCorpBean.objRsAdmPCorp}"
					paginator="true"
					paginatorPosition="bottom"
					rows="9"
		            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
		            currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
					scrollable="true"
					frozenColumns="1"
					scrollWidth="600"
					emptyMessage="#{AdmGerManutPAuxBean.emptyMessage}"
					lazy="true"
					>
					<p:columnGroup type="frozenHeader">
						<p:row>
							<p:column headerText="Produto Auxiliar" width="150" />
						</p:row>
					</p:columnGroup>
					<p:columnGroup type="scrollableHeader">
						<p:row>
							<p:column colspan="#{AdmGerManutPCorpBean.objRsAdmCanaisPCorp.size()}" headerText="Canais" width="#{AdmGerManutPCorpBean.objRsAdmCanaisPCorp.size()*150}" />
							<p:column rowspan="2" headerText="SLA" width="150"/>
							<p:column colspan="2" headerText="Tipo Operação" width="120" />
						</p:row>
						<p:row>
							<ui:repeat var="pcorpCanais" value="#{AdmGerManutPCorpBean.objRsAdmCanaisPCorp}" varStatus="canais">
								<p:column headerText="#{pcorpCanais.NOME}" width="150" />
					    	</ui:repeat>
							<p:column headerText="Débito" width="60" />
							<p:column headerText="Crédito" width="60" />
						</p:row>
					</p:columnGroup>
					<p:column width="150">
						<p:inputText styleClass="jsIdPCorp" name="txtIdPCorp" id="txtIdPCorp" type="hidden" value="#{pcorp.CODIGO}" />
						<p:inputText styleClass="jsPCorp" name="txtPCorp" id="txtPCorp" type="text" value="#{pcorp.NOME}" readonly="true" />
			        </p:column>
					<p:columns value="#{AdmGerManutPCorpBean.objRsAdmCanaisPCorp}" var="pcorpCanais" columnIndexVar="canais">
			       		<p:column width="150" style="align:center">
		    	    		<input type="hidden" value="#{pcorpCanais.CODIGO}_#{pcorp.CODIGO}" class="canaisPCorpCod" />
			       			<p:selectBooleanCheckbox value="#{AdmGerManutPCorpBean.isCanalPCorpChecked(pcorpCanais.CODIGO, pcorp.CODIGO)}" styleClass="canaisPCorp"/>
					    </p:column>
			    	</p:columns>
					<p:column width="150">
						<p:inputText value="#{pcorp.SLA}" id="sla" styleClass="jsPCorpSla" />
					</p:column>
					<p:column width="60">
						<p:selectBooleanCheckbox value="#{pcorp.OPERACAODEB}" styleClass="jsPCorpOpDeb"/>
					</p:column>
					<p:column width="60">
						<p:selectBooleanCheckbox value="#{pcorp.OPERACAOCRED}" styleClass="jsPCorpOpCred"/>
					</p:column>
				</p:dataTable>
				<div class="row-buttons">
					<p:commandButton value="Salvar" onclick="Salvar()" />
					<p:commandButton value="Listar Prod." action="#{AdmGerManutPCorpBean.montarLista}" update="frm:dataPCorp" />
					<p:commandButton value="Voltar" onclick="Voltar()" />
				</div>
				
				<p:remoteCommand name="salvarRemoteCommand" update="frm:dataPCorp" actionListener="#{AdmGerManutPCorpBean.salvar}" />
				<p:remoteCommand name="pesquisarRemoteCommand" update="frm:dataPCorp" actionListener="#{AdmGerManutPCorpBean.montarLista}" />

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>