<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml">

<h:head>
	<h:outputStylesheet name="css/hy_style.css" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/santander.css" media="screen"/>
	<script type="text/javascript">
		//<![CDATA[

		function fnFechar() {
			parent.PF('btn-importar').hide();
		}
		
		window.onload = function() {
			var anexo = parent.document.getElementById('frm:strAnexoField').value;
			var strOs = parent.document.getElementById('frm:strSeqOsField').value;
			var seqTrei = parent.document.getElementById('frm:strSeqTreiField').value;
			
			document.getElementById('Form1:strAnexoField').value = anexo;
			document.getElementById('Form1:strSeqOsField').value = strOs;
			document.getElementById('Form1:strSeqTreiField').value = seqTrei;
		}
		
		//]]>
	</script>

</h:head>

<h:body class="PanelTitle">

	<h:form method="post" id="Form1" name="form1" enctype="multipart/form-data">

		<table width="100%" border="0">
			<tr>
				<td>
					<fieldset>
						<legend>Anexar Arquivo</legend>
						<table width="100%" align="center" cellspacing="0">
							<tr>
								<td align="left">
								    <p:fileUpload id="txtArquivo" 
												  name="txtArquivo" 
									  			  skinSimple="true"
									  			  label="Escolher"
									  			  uploadLabel="Enviar"
									  			  fileUploadListener="#{uploadprocessa.formSubmit}"
									  			  cancelLabel="Cancelar"
									  			  sizeLimit="1024000"
									  			  oncomplete="parent.setupObj();"
									  			  invalidSizeMessage="O arquivo enviado ultrapassa o limite de 1MB permitido para envio de arquivos do Portal Corporativo, favor verificar!"/>
								</td>
							</tr>
							<tr>
							</tr>
						</table>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td align="right">
					<p:commandButton id="button1" type="button" value="Fechar" onclick="fnFechar()" />
				</td>
			</tr>
		</table>
		
		<p:inputText type="hidden" id="strAnexoField" value="#{uploadprocessa.strTpAnexo}"></p:inputText>
		<p:inputText type="hidden" id="strSeqOsField" value="#{uploadprocessa.strNrSeqOs}"></p:inputText>
		<p:inputText type="hidden" id="strSeqTreiField" value="#{uploadprocessa.strSeqTrei}"></p:inputText>
		
	</h:form>

</h:body>


</html>