<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> 
<h:head>
    <title>HY - Ocorrências Especiais</title>
	<link type="text/css" rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/hy_style.css" />
	<link type="text/css" rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/hy_calendar.css" />

	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    
    <script type="text/javascript" language="javascript">
		//<![CDATA[

			function Salvar()
			{
			/*     var strXml;
			    var objXmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
			    var strReturn;  
			    
			    
			    if (strReturn.toUpperCase().indexOf('XHY')!=-1)
			    {        
			        location.href = "HY_Erro.xhtml?strErro=" + strReturn;
			        return;
			    }
			    else if (strReturn == 'true')
			    {
			        alert('Dados Salvos com Sucesso!');
			    }
			    else
			    {
			        alert('Erro: Não foi possível salvar os dados!');
			    }  */      
			    salvarRemoteCommand();
			
			}
			
			/*******************************************************/
			var texto = new String();
			function Contar(Campo, td, intQntC)
			{
			    document.getElementById(td).innerText = intQntC - Campo.value.length + ' caracteres restantes.'
			    
			    if ((intQntC - Campo.value.length) > 0)
			    {
			        texto = Campo.value
			    }       
			}
			
			function Maxlength(obj, intQntC)
			{
			    if ((intQntC - obj.value.length) <= 0)
			    {
			        obj.value = texto
			    }
			}
			/**********************************************************/
			function formatRenavam()
			{
				var strRenavam = new String(document.getElementById('form:NR_RENAVAM').value);
				
				if(strRenavam.length > 0){
					strRenavam = '000000000000' + strRenavam;
					strRenavam = strRenavam.substring(strRenavam.length, strRenavam.length - 12);
					document.getElementById('form:NR_RENAVAM').value = strRenavam;
				}
			}
		//]]>	
	</script>
    
    
</h:head>
<h:body >
<h:form id="form"> 
	<p:remoteCommand name="salvarRemoteCommand" update="form" actionListener="#{CadastroOsDetalheProdutoFEBean.salvar}" />

	<table width="100%" border="0" style="background-color:Red; color:White">
	    <tr>
	        <td>Eventos > Fraudes Eletrônicas > Contestação > Detalhes da Operação</td>
	        <td align="right"><b>Nº OS:&#160;&#160;<h:outputText value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_SEQU_ORDE_SERV}"/></b></td>
	    </tr>
	    <tr>
	        <td colspan="2"><b><h:outputText value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.DESC_TRAN }"/></b></td>
	    </tr>
	    <tr>
	        <td><b>Valor Fraude: R$ <h:outputText value ="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.getVlTranTransformado()}"/> </b></td>
	        <td align="right" colspan="">
	            <p:commandButton id="Button1" value="Voltar" onclick="parent.PF('detalhe-produto-fo-fe').hide();" />&#160;&#160;
	            <p:commandButton id="Button2" value="Salvar" onclick="Salvar()" />
	            

	 
	        </td>
	    </tr>
	    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
	</table>
	
	<!-- FRAUDES ELETRONICAS -->
	
	<table width="100%" class="PanelTitle">
	        <tr>
	        <td valign="middle"><!--input id="Radio9" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	            <!--Informações Adicionais-->
	            <fieldset><legend><strong>Informações Gerais</strong></legend>
	            <table width="100%">
	                <tr>
	                    <td width="18%">Local Fraude:</td>
	                    <td><p:inputText id="NM_LOCA_TRAN"   style="width:300px" maxlength="30" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NM_LOCA_TRAN }"/></td>
	                </tr>
	                <tr>
	                    <td width="15%">Código de Barras:</td>
	                    <td><p:inputText id="CD_BARR"   style="width:300px" maxlength="50" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.CD_BARR }"/></td>
	                </tr>
	                <tr>
	                    <td colspan="2">Texto Adicional<br/>
	                    	<p:inputTextarea value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.TX_DADO_COMP}" counter="display" counterTemplate="{0} caracteres restantes." cols="20" rows="2" style="width:99%; height:100px; resize: none" maxlength="150" ></p:inputTextarea>
	                    	<h:outputText id="display" />
	                    </td>        
	                </tr>
	                <tr>
<!-- 	                    <td id="td1" align="right" colspan="2"><script>Contar(document.getElementById('TX_DADO_COMP'), 'td1', 150)</script></td> -->
	                </tr>
	            </table>
	            </fieldset>
	        </td>
	    </tr>
	    <tr height="8"><td></td></tr>
	    <tr>
	        <td valign="middle"><!--input id="rdoTransf" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	        <!-- TRANSFERENCIA -->
	            <fieldset><legend><strong>Transferência</strong></legend>
	            <table border="0">
	                
	                <tr>
	                    <td>Nome do Cliente Favorecido:</td>
	                    <td colspan="3"><p:inputText id="NM_CLIE_FAVD"   maxlength="20" style="width:300px" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NM_CLIE_FAVD }"/></td>
	                </tr>
	                <tr>    
	                    <td>CPF / CNPJ:</td>
	                    <td><p:inputText id="NR_CPF_CNPJ_CLIE_FAVD"   maxlength="14" onkeypress="BlockKeybord();//fnMascaraCPF(this);" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_CPF_CNPJ_CLIE_FAVD }"/></td>
	                </tr>
	                <tr>
	                    <td>Nº da Conta:</td>
	                    <td><p:inputText id="NR_CNTA_CLIE_FAVD"   maxlength="12" onkeypress="BlockKeybord();" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_CNTA_CLIE_FAVD }"/></td>
	                    <td>Tipo da Conta:</td>
	                    <td>
	                        <p:selectOneMenu id="TP_CNTA_CLIE_FAVD" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.TP_CNTA_CLIE_FAVD}">
	                            <f:selectItem itemLabel="Selecione" itemValue="" />
	                            <f:selectItem itemLabel="Conta Corrente" itemValue="1" />
	                            <f:selectItem itemLabel="Conta Poupança" itemValue="2" />
	                            <f:selectItem itemLabel="Conta Investimento" itemValue="3" />
	                        </p:selectOneMenu>
	                   	</td>
	                </tr>
	            </table>
	            </fieldset>
	        </td>
	    </tr>
	    <tr height="8"><td></td></tr>
	    <tr>
	        <td valign="middle"><!--input id="rdoVeiculo" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	            <fieldset><legend><strong>Veículos</strong></legend>
	            <table  border="0">
	                <!--tr>
	                    <td>CPF do Proprietário do Veículo:</td>
	                    <td><p:inputText id="Text41"   value="<%'=objRs("aaaa %>"/></td>
	                    <td>Nome do Proprietário do Veículo:</td>
	                    <td><p:inputText id="Text40"   value="<%'=objRs("aaaa %>"/></td>
	                </tr-->
	                <tr>
	                    <td>RENAVAN:</td>
	                    <td><p:inputText id="NR_RENAVAM" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_RENAVAM}" maxlength="12" onkeypress="BlockKeybord();" onblur="formatRenavam()"/></td>
	                    <!--td>Endereço:</td>
	                    <td><p:inputText id="Text42"   value="<%'=objRs("aaaa %>"/></td-->        
	                </tr>
	                <tr>        
	                    <td>Código Veículo:</td>
	                    <td><p:inputText id="CD_VEIC"   maxlength="9" onkeypress="BlockKeybord();" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.CD_VEIC }"/></td>    
	                    <!--td>Marca:</td>
	                    <td><p:inputText id="Text45"   value="<%'=objRs("aaaa %>"/></td-->        
	                </tr>
	                <tr>
	                    <td>Cor:</td>
	                    <td><p:inputText id="NM_COR_VEIC"   maxlength="20" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NM_COR_VEIC }"/></td>
	                    <td>Ano:</td>
	                    <td><p:inputText id="NR_ANO_VEIC"   maxlength="4" onkeypress="BlockKeybord();" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_ANO_VEIC }"/></td>        
	                </tr>
	                <tr>
	                    <td>Placa:</td>
	                    <td><p:inputText id="NR_PLAC_VEIC"   maxlength="7" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_PLAC_VEIC }"/></td>
	                    <!--td>Modelo:</td>
	                    <td><p:inputText id="Text46"   value="<%'=objRs("aaaa %>"/></td-->
	                </tr>
	                <tr>
	                    <td>Chassi:</td>
	                    <td colspan="3"><p:inputText id="NR_CHAS_VEIC"   maxlength="21" style="width:100%" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_CHAS_VEIC }"/></td>
	                </tr>
	            </table>
	
	            </fieldset>
	        </td>
	    </tr>
	    <tr height="8"><td></td></tr>
	    <tr>
	        <td valign="middle"><!--input id="rdoTitulo" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	            <!-- TITULOS -->
	            <fieldset><legend><strong>Títulos</strong></legend>
	            <table>
	                <tr>
	                    <td>Nº Título:</td>
	                    <td colspan="3"><p:inputText id="NR_TITU"   maxlength="48" style="width:300px" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_TITU }"/></td>
	                </tr>
	                <tr>    
	                    <td>Banco Creditado:</td>
	                    <td><p:inputText id="NM_BANC_CRED"   maxlength="20" style="width:200px" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NM_BANC_CRED }"/></td>
	                </tr>
	                <tr>    
	                    <td>Cedente:</td>
	                    <td><p:inputText id="NM_CEDE_TITU"   maxlength="30" style="width:200px" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NM_CEDE_TITU }"/></td>
	                </tr>
	            </table>
	
	            </fieldset>
	        </td>
	    </tr>
	    <tr height="8"><td></td></tr>
	    <tr>
	        <td valign="middle"><!--input id="rdoTributo" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	            <!-- TRIBUTOS -->
	            <fieldset><legend><strong>Tributos</strong></legend>
	            <table>    
	                <tr>
	                    <td>Nome Devedor:</td>
	                    <td><p:inputText id="NM_DEVE"   maxlength="30" style="width:200px" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NM_DEVE }"/></td>
	                    <td>CPF/CNPJ:</td>
	                    <td><p:inputText id="NR_CPF_CNPJ_DEVE"   maxlength="14" onkeypress="BlockKeybord();" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_CPF_CNPJ_DEVE }"/></td>
	                </tr>
	            </table>
	
	            </fieldset>
	        </td>
	    </tr>
	    <tr height="8"><td></td></tr>
	    <tr>
	        <td valign="middle"><!--input id="rdoCelular" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	            <!-- RECARGA CELULAR -->    
	            <fieldset><legend><strong>Recarga Celular</strong></legend>
	            <table>
	                <tr>
	                    <td>Nº Celular:</td>
	                    <td><p:inputText id="NR_CELU"   maxlength="16" style="width:150px" value="#{CadastroOsDetalheProdutoFEBean.cadastroosDetalheprodutofe.NR_CELU }"/></td>
	                </tr>                            
	            </table>
	            </fieldset>
	        </td>
	    </tr>
	    <tr height="8"><td></td></tr>
	    <tr>
	        <td valign="middle"><!--input id="rdoDocTed" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	            <!-- DOC/TED -->
	            <!--fieldset><legend><strong>DOC/TED</strong></legend>
	            <table>    
	                <tr>
	                    <td>Nome do Beneficiado:</td>
	                    <td><p:inputText id="Text9"   style="width:255px" value="<%'=objRs("aaaa %>"/></td>
	                </tr>
	            </table>
	            </fieldset-->
	        </td>
	    </tr>
	    <tr height="8"><td></td></tr>
	    <tr>
	        <td valign="middle"><!--input id="rdoSaqueInt" name="rdoTipoOper" type="radio" /--></td>
	        <td>
	            <!-- Saque Internacional -->
	            <!--fieldset><legend><strong>Saque Internacional</strong></legend>
	                <table>    
	                    <tr>
	                        <td>País:</td>
	                        <td><p:inputText id="Text12"   style="width:255px" value="<%'=objRs("aaaa %>"/></td>
	                    </tr>    
	                </table>
	  
	            </fieldset-->
	        </td>
	    </tr>
	</table>
	</h:form>
</h:body>
</html>
