<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

 <h:head>
 </h:head>
 <h:body>
 
<h:form>
<div>
<table>
    <tr>
        <td>
        <h:outputText value="#{HistExibirTitulo.dsTitu}" escape="false" />
        </td>
    </tr>

</table>
</div>
</h:form>

 </h:body> 
 
</html>