<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:head>

			<title></title>
			<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
				type="text/css" media="screen" />
			<link rel="stylesheet"
				href="#{request.contextPath}/css/hy_calendar.css" type="text/css"
				media="screen" />
			<script type="javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
			<script type="javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
			<script type="javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
			<script type="text/javascript" language="javascript">
				//<![CDATA[ 
				/* 				parent.titulo.location.href = 'Titulo.xhtml?strTitulo="Treinamento - Cadastro"';
				 parent.rodape.location
				 .replace("HY_BtnGenerico.xhtml?strButton=Salvar/Salvar"); */

				/******************************************************************************************/

				function PegaNomeArquivo(strCamimhoArquivo) {

					var gobjTipoArquivo = new Object();
					gobjTipoArquivo.arrTipo = new Array('pdf', 'zip', 'doc',
							'xls', 'ppt', 'pps', 'msg', 'jpgjpeggifbmppng', '*')
					//                                    0      1      2      3      4      5      6              7          8

					gobjTipoArquivo.arrNomeImagem = new Array('ico_pdf.gif', // 0
					'ico_zip.gif', // 1
					'ico_doc.gif', // 2
					'ico_xls.gif', // 3
					'ico_ppt.gif', // 4
					'ico_pps.gif', // 5
					'ico_msg.gif', // 6
					'ico_img.gif', // 7
					'ico_outros.gif'); // 8

					var arrTipoArquivo = new Array();

					arrTipoArquivo = strCamimhoArquivo.split('.');

					for (var i = 0; i < gobjTipoArquivo.arrTipo.length; i++) {

						//if(arrTipoArquivo[arrTipoArquivo.length - 1] == gobjTipoArquivo.arrTipo[i])
						if (gobjTipoArquivo.arrTipo[i]
								.indexOf(arrTipoArquivo[arrTipoArquivo.length - 1]) != -1) {
							return gobjTipoArquivo.arrNomeImagem[i];
						}
					}
					return gobjTipoArquivo.arrNomeImagem[8];
				}

				function UrlEncode(sStr) {
					return escape(sStr).replace(/\+/g, '%2B').replace(/\"/g,
							'%22').replace(/\'/g, '%27').replace(/\//g, '%2F');

				}

				function UrlDecode(sStr) {

					return unescape(sStr).replace('%2B', /\+/g).replace('%22',
							/\"/g).replace('%27', /\'/g).replace('%2F', /\//g);
				}

				function montaLinhas(id_Arquivo, strAuxCaminho, strAuxArquivo,
						strBgColor) {

					//tabela = eval(tbAnexo);
					tabela = document.getElementById('tbAnexo');

					var objRow = tabela.insertRow();
					objRow.style.background = strBgColor;
					var objCell = objRow.insertCell();

					var strNome = UrlDecode(strAuxArquivo)
					var strFile = strAuxCaminho + UrlEncode(strNome);

					objRow.id = id_Arquivo;

					// COLUNA 01
					objCell.innerHTML = "<span onclick=ExibeArquivo('"
							+ objRow.id
							+ "');  target='blank'>&#160;<img alt='' src='../images/"
							+ PegaNomeArquivo(strNome) + "'></span>";
					objCell.align = "left";
					objCell.width = "2%"

					// COLUNA 02
					objCell = objRow.insertCell();
					objCell.innerHTML = strNome;
					objCell.align = "left";
					objCell.width = "32%"

					// COLUNA 03
					var TTT = "EEE";
					objCell = objRow.insertCell();
					objCell.innerHTML = "<span onclick=Deletar('"
							+ objRow.id
							+ "'); style='cursor:pointer;'><img alt='Excluir' src='../images/btn_excluir_ib.gif' border='0'></span>";
					objCell.align = "left";
					objCell.height = "22";
					objCell.width = "9%";

				}

				/******************************************************************************************/
				function Salvar() {

					var arrDtATual = new Array();
					var arrDtTrein = new Array();

					if (document.getElementById("frm:txtNome").value == '') {
						alert('Preencha o nome do treinamento');
						return;
					}

					if (document.getElementById("frm:txtDtTrein_input").value == '') {
						alert('Preencha a data do treinamento');
						return;
					}

					if (document.getElementById("frm:txtTotal").value == '') {
						alert('Preencha o total de participantes do treinamento');
						return;
					}

					if (document.getElementById("frm:cboLocal_input").value == '') {
						alert('Selecione o local do treinamento');
						return;
					}

					var data = new Date();

					var strDataAtual = data.getDate() + "/"
							+ (data.getMonth() + 1) + "/" + data.getFullYear(); //"treinamentoCadastroBean.txtDataAtual;"
					var strDataAtual2 = "";
					var strDataTrein2 = "";

					arrDtAtual = strDataAtual.split('/');
					arrDtTrein = document
							.getElementById("frm:txtDtTrein_input").value
							.split('/');

					strDataAtual2 = strZeroLeft(arrDtAtual[2], 4)
							+ strZeroLeft(arrDtAtual[1], 2)
							+ strZeroLeft(arrDtAtual[0], 2);
					strDataTrein2 = strZeroLeft(arrDtTrein[2], 4)
							+ strZeroLeft(arrDtTrein[1], 2)
							+ strZeroLeft(arrDtTrein[0], 2);

					if ((parseInt(strDataTrein2)) > (parseInt(strDataAtual2))) {
						alert('Data inválida. A data nâo pode ser maior que a data atual.');
						return false;
					}

					if (document.getElementById("frm:txtSeqTrei") == null) {
						if (!confirm('Deseja incluir novo treinamento?')) {
							return;
						}
						salvarRemoteCommand();
					} else {
						if (!confirm('Deseja alterar o treinamento?')) {
							return;
						}
						alterarRemoteCommand();
					}

				}

				//**************************************************
				//FUNCAO...: strZeroLeft( valor, tamTexto )
				//DESCRICAO: concatenar zeros ("0") a esquerda do
				//           valor ate atingir tamTexto, retorna uma String
				//           Ex.: strZeroLeft( "13", 4 ) => "0013"
				//**************************************************
				function strZeroLeft(valor, tamTexto) {
					var strValor = new String(valor);
					while (strValor.length < tamTexto) {
						strValor = "0" + strValor;
					}
					return strValor;
				}

				function ExibeArquivo(fileId) {
					document.getElementsByClassName('download-' + fileId)[0]
							.click();
					//document.forms[0].txtHdInfArq.value = UrlDecode(strNome);
					// callExibeArqRemote
					//document.forms[0].txtHdAction.value = 'E';
					//document.forms[0].submit();
				}

				function VerificaData(aObj) {
					if (aObj.value != '')
						if (!isDateString(aObj.value)) {
							alert("Data inválida.");
							aObj.focus();
						}
				}

				function MascararData(obj) {
					if (obj.value.length == 2) {
						obj.value += '/';
					}
					if (obj.value.length == 5) {
						obj.value += '/';
					}
				}

				function Anexar() {

					if (document.getElementById("frm:txtSeqTrei") == null) {
						alert("Por favor, deverá salvar o treinamento antes de anexar o arquivo.")
						return;
					}

					PF('btn-importar').show();
				}

				function Deletar(id) {
					callDeleteArqRemote([ {
						name : "idArquivo",
						value : id
					} ]);
					//document.forms[0].txtHdInfArq.value = strNome;
					//document.forms[0].txtHdAction.value = 'D';
					//document.forms[0].submit();

				}

				function setupObj() {
					callSetupObj();
				}

				//]]>
			</script>
		</h:head>
		<h:body styleClass="PanelTitle">
			
			<iframe src="titulo.xhtml?strTitulo=Treinamento - Cadastro" frameborder="0" width="100%" height="27"></iframe>
			
			<h:form id="frm" method="post">


				<p:dialog id="adicionar-lanchr" appendToBody="true"
					widgetVar="btn-importar" height="600" width="800" modal="true"
					resizable="no">

					<iframe id="ifrmImpArq" name="ifrmImpArq"
						src="#{treinamentoCadastroBean.srcIfrmImpArq}" scrolling="no"
						frameborder="0" width="100%" height="100%"> </iframe>

					<p:inputText type="hidden" id="strAnexoField"
						value="#{ImportarArquivoBean.strAnexo}"></p:inputText>
					<p:inputText type="hidden" id="strSeqOsField"
						value="#{ImportarArquivoBean.strSeqOs}"></p:inputText>
					<p:inputText type="hidden" id="strSeqTreiField"
						value="#{ImportarArquivoBean.strSeqTrei}"></p:inputText>

				</p:dialog>

				<fieldset>
					<table border="0">

						<tbody>
						
							<p:outputPanel
								rendered="#{treinamentoCadastroBean.existeSeqTrei}">
								<tr>
									<td>Sequencial Treinamento:</td>
									<td><p:inputText id="txtSeqTrei" name="txtSeqTrei"
											style="width:60px"
											value="#{treinamentoCadastroBean.strSeqTrei}" /></td>
								</tr>
							</p:outputPanel>

							<tr>
								<td>Nome Treinamento:</td>
								<td><p:inputText id="txtNome" maxlength="30" name="txtNome"
										style="width:250px" value="#{treinamentoCadastroBean.strNome}" />
								</td>
							</tr>
							<tr>
								<td>Data Treinamento:</td>
								<td><p:calendar id="txtDtTrein"
										value="#{treinamentoCadastroBean.strDtTrein}"
										pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt_BR"
										showOn="button" onblur="VerificaData(this)" /></td>
							</tr>
							<tr>

								<td>Total Participantes:</td>
								<td><p:inputText id="txtTotal" maxlength="4" onkeypress=""
										name="txtTotal" style="width:60px"
										value="#{treinamentoCadastroBean.strTotal}" /></td>
							</tr>

							<tr>
								<td><p:outputLabel for="cboLocal"
										value="Local Treinamento: "></p:outputLabel></td>
								<td><p:selectOneMenu id="cboLocal"
										value="#{treinamentoCadastroBean.cboLocalSelecionado}">
										<f:selectItem itemLabel="..." itemValue="" dynamic="true" />
										<f:selectItems
											value="#{treinamentoCadastroBean.objLocal.entrySet()}"
											var="uni" itemvalue="#{uni.keySet()}"
											itemLabel="#{uni.value}" />
									</p:selectOneMenu></td>
							</tr>


						</tbody>
					</table>
					<br />

					<!-- ANEXO -->

					<h:panelGroup id="arquivosTable">
						<fieldset style="margin-top: 20px;">
							<legend>Anexar arquivos</legend>
							<table style="padding: 5px;" width="100%" border=" 	0">
								<tr>
									<td><h:commandButton
											style="color: #000; background: white; border: 1px solid #ccc; padding: 5px;"
											type="button" id="button0" value="Anexar" onclick="Anexar()"></h:commandButton></td>
								</tr>
							</table>
						</fieldset>
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr style="background-color: gray; color: White">
								<td colspan=""><b>Aquivos Anexados</b></td>
							</tr>
							<tr style="background: gray; height: 1px;">
								<td colspan=""></td>
							</tr>
						</table>
						<div id="divOverFlow"
							style="overflow: auto; width: 100%; height: 100px;" align="left">
							<table width="100%" id="tbAnexo" border="0" cellpadding="0"
								cellspacing="0">
								<tr></tr>
								<ui:repeat value="#{treinamentoCadastroBean.objRsArqAnex}"
									var="arqanex" varStatus="status">
									<script>
										//<![CDATA[
										montaLinhas(
												"#{status.index}",
												"#{arqanex.getCaminhoArquivo()}",
												"#{arqanex.getNomeArquivo()}",
												"#{(status.index mod 2 eq 0) ? '#FFFFFF' : '#E8E8E8'}");
										//]]>
									</script>
									<h:commandButton id="fileIdParam"
										actionListener="#{treinamentoCadastroBean.saveFile}"
										styleClass="download-#{status.index}" style="display:none;">
										<f:param name="fileId" value="#{status.index}"></f:param>
										<p:fileDownload value="#{treinamentoCadastroBean.file}"></p:fileDownload>
									</h:commandButton>
								</ui:repeat>
							</table>
						</div>
					</h:panelGroup>

					<p:remoteCommand update="arquivosTable" name="callDeleteArqRemote"
						actionListener="#{treinamentoCadastroBean.deletarArquivo}"></p:remoteCommand>
					<p:remoteCommand update="arquivosTable" name="callSaveArqRemote"
						actionListener="#{treinamentoCadastroBean.saveFile}"></p:remoteCommand>
					<p:remoteCommand
						actionListener="#{treinamentoCadastroBean.resetObjRsArq}"
						update="arquivosTable" name="callSetupObj"></p:remoteCommand>

					<iframe id="ifrmTreiAnex" name="ifrmTreiAnex" src="" scrolling="no"
						frameborder="0" width="100%" border="0" height="200"> </iframe>
					<h:inputHidden id="txtHdAction" name="txtHdAction"
						value="#{treinamentoCadastroBean.strHdAction}" />
					<h:inputHidden id="txtHdParamNmArquivo" name="txtHdParamNmArquivo"
						value="#{treinamentoCadastroBean.strHdParamNmArquivo}" />
					<h:inputHidden id="txtHdSeqTrei" name="txtHdSeqTrei"
						value="#{treinamentoCadastroBean.strHdSeqTrei}" />

				</fieldset>


				<table width="100%" class="bg-red w-100 align-right">
					<tr height="25">
						<td align="right"><p:commandButton type="button"
								onclick="Salvar()" id="btnSalvar" value="Salvar" /></td>
					</tr>
				</table>

				<p:remoteCommand name="salvarRemoteCommand"
					actionListener="#{treinamentoCadastroBean.salvar}" />

				<p:remoteCommand name="alterarRemoteCommand"
					actionListener="#{treinamentoCadastroBean.alterar}" />
					
				<p:remoteCommand name="cleanSession"
					actionListener="#{treinamentoCadastroBean.cleanSession}" />

				<p:remoteCommand name="carregarInformacoes"
					actionListener="#{treinamentoCadastroBean.carregarInformacoes}" />
					



			</h:form>



		</h:body>
	</ui:define>
</ui:composition>
