<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsp="http://java.sun.com/JSP/Page">

<h:head>
	<title></title>
	<link rel="stylesheet" href="#{request.contextPath}/css/santander.css"
		type="text/css" media="screen" />
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<script type="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		//Carrega dropdown de CboCanal
		parent.PF("statusDialog").hide();
		
		function cboCanal(strNrSeqOs) {
			carregarCanalRemoteCommand([ {
				name : "strNrSeqOs",
				value : strNrSeqOs
			}]);
		}

		//Carrega dropdown de AreaComp
		function areaComp() {
			carregarAreaCompRemoteCommand();
		}

		//Carrega dropdown de listaNegociacao2
		function LinhaNego() {
			carregarLinhaNegoRemoteCommand();
		}

		//Habilita Campos do form ocultos depois de selecionar o evento. 
		function habilitaCamposForm(propHidden) {

			var classeCanal = document.getElementsByClassName('tdCanal');
			classeCanal[0].style.visibility = propHidden;

			var classeEmpresa = document.getElementsByClassName('tdEmpresa');
			classeEmpresa[0].style.visibility = propHidden;

			var classeAreaComp = document.getElementsByClassName('tdAreaComp');
			classeAreaComp[0].style.visibility = propHidden;

			var classeLinhaNego1 = document
					.getElementsByClassName('tdLinhaNego1');
			classeLinhaNego1[0].style.visibility = propHidden;

			var classeLinhaNego2 = document
					.getElementsByClassName('tdLinhaNego2');
			classeLinhaNego2[0].style.visibility = propHidden;

			var classeFatRisc = document.getElementsByClassName('tdFatRisc');
			classeFatRisc[0].style.visibility = propHidden;

			var classeTipoCap = document
					.getElementsByClassName('tdTipoCaptura');
			classeTipoCap[0].style.visibility = propHidden;
		}

		//Carrega tabela de detalhe depois de selecionar o CboCanal

		function atualizarCboCanalNaTabelaDetalhe() {
			atualizarRemoteCommand();
		}
		
		function Resize()
		{
			//window.parent.document.all['ifrmNovaOs'].height=400;	
			//window.document.all['fldPrincipal'].height=400;	
		}

		//tabela de detalhe
		function mostraDetalhe() {
			var divTblCanal = document.getElementById('divTblCanal');
			divTblCanal.style.display = 'block';
			detalhesRemoteCommand();
		}
	    
	    function AbreDetalhe(seq){
			var nrEvento = document.getElementById("frmEvento:nrEvento_input");
			var nrCanal = document.getElementById("frmEvento:nrCanal_input");
			var intNrCanal = nrCanal.length;
			var arrNrCanal
			if (intNrCanal > 0){
				arrNrCanal = nrCanal.value.split("|");
				var strQueryString;
				strQueryString = "?NrSeqDetalhe=" + seq + 
								 "&amp;qsCanal=" + arrNrCanal[1]+ 
								 "&amp;qsEvento=" + nrEvento.options[nrEvento.selectedIndex].text;
				abrePgRemoteCommand([{name:"strPage", value:arrNrCanal[2]},{name:"strQueryString", value:strQueryString}]);
			}
		}

		//Verifica Campos do form ao clicar em salvar
		function verificaCamposFormulario() {

			var evento = document.getElementById('frmEvento:nrEvento_label').textContent;
			if (evento == "Selecione...") {
				alert("Campo obrigatório não informado: Empresa");
				return false;
			}

			var canal = document.getElementById('frmEvento:nrCanal_label').textContent;
			if (canal == "Selecione...") {
				alert("Informe o canal");
				return false;
			}

			var empresa = document.getElementById('frmEvento:nrEmpresa_label').textContent;
			if (empresa == "Selecione...") {
				alert("Campo obrigatório não informado: Empresa");
				return false;
			}

			var areaComp = document
					.getElementById('frmEvento:nrAreaComp_label').textContent;
			if (areaComp == "Selecione...") {
				alert("Campo obrigatório não informado: Área Complementar");
				return false;
			}

			var linhaNego1 = document
					.getElementById('frmEvento:nrLinhaNego1_label').textContent;
			if (linhaNego1 == "Selecione...") {
				alert("Campo obrigatório não informado: Linha de negócio - Nível 1");
				return false;
			}

			var linhaNego2 = document
					.getElementById('frmEvento:nrLinhaNego2_label').textContent;
			if (linhaNego2 == "Selecione...") {
				alert("Campo obrigatório não informado: Linha de negócio - Nível 2");
				return false;
			}

			var tipoCaptura = document
					.getElementById('frmEvento:nrTipoCaptura_label').textContent;
			if (tipoCaptura == "Selecione...") {
				alert("Campo obrigatório não informado: Tipo Captura");
				return false;
			}

			var fatorRisco = document
					.getElementById('frmEvento:nrFatorRisco_label');
			if (fatorRisco == "Selecione...") {
				alert("Campo obrigatório não informado: Fator de Risco");
				return false;
			}
			
			return true
		}
		
	    function InsereLinha(){
	    	remoteInsereLinha();
	    } 

		
		function Excluir(seq, registro, partic, tipo){
			if (confirm("Deseja excluir o Registro " + registro + " ?")){
		    	remoteExcluiLinha([{name:"seq", value:seq},{name:"partic", value:partic},{name:"tipo", value:tipo}]);				
			}	
		}

		//Salva o formS
		function Salvar() {
			var resultado = verificaCamposFormulario();
			if (resultado == false) {
				return;
			} else {
				carregarSalvarRemoteCommand();
				alert('Salvou!')
			}
		}
		//]]>
	</script>
	<style>
	.table-body{padding: 5px 0;}</style>
</h:head>
<h:body>
	<h:form id="frmEvento" method="post">
		<p:inputText type="hidden" name="hdnCanal" id="hdnCanal" value="" />
		<p:inputText type="hidden" name="hdnEvento" id="hdnEvento" value="" />
		<p:inputText type="hidden" name="objCPF_CNPJ" id="objCPF_CNPJ" value="" />	
		<fieldset class="PanelTitle">
			<legend>Eventos/Canais cadastrados para a OS</legend>
			<table border="0" width="100%" style="height: 100%;"
				id="TblEventocanalOS">
				<tr>
					<td
						style="width: 50%; background: gray; font-weight: bold; color: white"
						align="left">Evento:</td>
					<td
						style="width: 50%; background: gray; font-weight: bold; color: white"
						align="left">Canal:</td>
				</tr>
				<ui:repeat value="#{cadosEventoBean.eventoCanalOSList}"
					var="rsCanal" varStatus="canal">
					<tr>
						<td align="left"><h:outputText value="#{rsCanal.NM_EVEN}"></h:outputText></td>
						<td align="left"><h:outputText value="#{rsCanal.NM_CNAL}"></h:outputText></td>
					</tr>
				</ui:repeat>
			</table>
		</fieldset>
		<fieldset id="fldPrincipal" class="PanelTitle" style="height: 100%">
			<table>
				<tbody>
					<tr>
						<!--  POPULA DROPDOWN DE EVENTO -->
						<td class="tdEvento"><br /> Evento: <br /> <p:selectOneMenu
								id="nrEvento" name="nrEvento"
								onchange="cboCanal('#{cadosEventoBean.strNrSeqOs}')" styleClass="nrEvento"
								value="#{cadosEventoBean.cboEventoSelecionado}"
								style="width:285px">
								<f:selectItem itemValue="" itemLabel="Selecione..." />
								<f:selectItems value="#{cadosEventoBean.eventosAreaModelList}"
									var="evento" itemLabel="#{evento.nomeEvento}"
									itemValue="#{evento.codigoEvento}" />
							</p:selectOneMenu></td>
						<!--  POPULA DROPDOWN DE CANAL -->
						<td class="tdCanal"><br /> Canal: <br /> <p:selectOneMenu
								id="nrCanal" name="nrCanal" styleClass="nrCanal"
								onchange="mostraDetalhe();atualizarCboCanalNaTabelaDetalhe()"
								value="#{cadosEventoBean.cboCanalSelecionado}"
								style="width:285px">
								<f:selectItem itemValue="" itemLabel="Selecione..." />
								<f:selectItems value="#{cadosEventoBean.canalModelList}"
									var="canal" itemLabel="#{canal.nome}"
									itemValue="#{canal.codigo}|#{canal.nome}|#{canal.pgDestino}" />
							</p:selectOneMenu></td>
					</tr>
				</tbody>
			</table>
			<table>
				<tbody>
					<tr>
						<!--  POPULA DROPDOWN DE EMPRESA -->
						<td class="tdEmpresa">Empresa: <br /> <p:selectOneMenu
								id="nrEmpresa" name="nrEmpresa" onchange="areaComp()"
								styleClass="nrEmpresa"
								value="#{cadosEventoBean.cboEmpresaSelecionado}"
								style="width:285px">
								<f:selectItems value="#{cadosEventoBean.empresaModelList}"
									var="empresa" itemLabel="#{empresa.nomeEmpresa}"
									itemValue="#{empresa.codigoEmpresa}" />
							</p:selectOneMenu>
						</td>
						<!--  POPULA DROPDOWN DE AREA COMPLEMENTAR-->
						<td class="tdAreaComp">Área Complementar: <br /> <p:selectOneMenu
								id="nrAreaComp" name="nrAreaComp" styleClass="nrAreaComp"
								value="#{cadosEventoBean.cboAreaCompSelecionado}"
								style="width:285px">
								<f:selectItems value="#{cadosEventoBean.areaCompModelList}"
									var="areaComp" itemLabel="#{areaComp.nomeAreaComp}"
									itemValue="#{areaComp.codigoAreaComp}" />
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<!--  POPULA DROPDOWN DE LINHA NEGOCIACAO1 -->
						<td class="tdLinhaNego1">Linha Negócio - Nível 1: <br /> <p:selectOneMenu
								id="nrLinhaNego1" name="nrLinhaNego1" onchange="LinhaNego()"
								styleClass="nrLinhaNego1"
								value="#{cadosEventoBean.cboLinhaNego1Selecionado}"
								style="width:285px">
								
								<f:selectItems value="#{cadosEventoBean.linhaNego1ModelList}"
									var="linhaNego1" itemLabel="#{linhaNego1.nomeLinhaNego1}"
									itemValue="#{linhaNego1.codigoLinhaNego1}" />
							</p:selectOneMenu>
						</td>
						<!--  POPULA DROPDOWN DE LINHA NEGOCIACAO2 -->
						<td class="tdLinhaNego2">Linha Negócio - Nível 2: <br /> <p:selectOneMenu
								id="nrLinhaNego2" name="nrLinhaNego2" styleClass="nrLinhaNego2"
								value="#{cadosEventoBean.cboLinhaNego2Selecionado}"
								style="width:285px">
								<f:selectItems value="#{cadosEventoBean.linhaNego2ModelList}"
									var="linhaNego2" itemLabel="#{linhaNego2.nomeLinhaNego2}"
									itemValue="#{linhaNego2.codigoLinhaNego2}" />
							</p:selectOneMenu>
						</td>
					</tr>

					<tr>
						<!--  POPULA DROPDOWN DE FATOR DE RISCO -->
						<td class="tdFatRisc">Fator de Risco: <br /> <p:selectOneMenu
								id="nrFatorRisco" name="nrFatorRisco" styleClass="nrFatorRisco"
								value="#{cadosEventoBean.cboFatorRiscoSelecionado}"
								style="width:285px">
								<f:selectItems value="#{cadosEventoBean.fatorRiscoModelList}"
									var="fatorRisco" itemLabel="#{fatorRisco.nomeFatorRisco}"
									itemValue="#{fatorRisco.codigoFatorRisco}" />
							</p:selectOneMenu>
						</td>
						<!--  POPULA DROPDOWN DE TIPO DE CAPTURA -->
						<td class="tdTipoCaptura">Tipo Captura: <br /> <p:selectOneMenu
								id="nrTipoCaptura" name="nrTipoCaptura"
								styleClass="nrTipoCaptura"
								value="#{cadosEventoBean.cboTipoCapturaSelecionado}"
								style="width:285px">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItem itemLabel="Automática" itemValue="1" />
								<f:selectItem itemLabel="Manual" itemValue="2" />
							</p:selectOneMenu>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		<p:remoteCommand name="carregarCanalRemoteCommand"
			update="frmEvento:nrCanal"
			actionListener="#{cadosEventoBean.populaCanalOS}"></p:remoteCommand>
		<p:remoteCommand name="carregarAreaCompRemoteCommand"
			update="frmEvento:nrAreaComp"
			actionListener="#{cadosEventoBean.populaComboAreaComp}"></p:remoteCommand>
		<p:remoteCommand name="carregarLinhaNegoRemoteCommand"
			update="frmEvento:nrLinhaNego2"
			actionListener="#{cadosEventoBean.populaLinhaDeNegocio2}"></p:remoteCommand>
		<p:remoteCommand name="carregarEventoRemoteCommand"
			update="frmEvento:nrEvento"
			actionListener="#{cadosEventoBean.populaEventoCanalOs}"></p:remoteCommand>
		<p:remoteCommand name="carregarSalvarRemoteCommand"	actionListener="#{cadosEventoBean.salvarForm}"></p:remoteCommand>
		<p:remoteCommand name="atualizarRemoteCommand" update="frmEvento:evento-selecionado" />
		<p:remoteCommand name="detalhesRemoteCommand"
			actionListener="#{cadosEventoBean.carregaDetalhes}"
			update="frmEvento:panelDetalhe" />
		
		<div>
			<!-- ASSALTOS-->
			<div id="divAssaltos" style="display: none">
				<table width="100%" border="0">
					<tr>
						<td align="center">
							<fieldset style="width: 50%">
								<table width="100%" border="0" cellpadding="1" cellspacing="1">
									<tr style="background-color: gray; color: White">
										<td colspan="8"><img align="absmiddle"
											src="../Imagens/seta_branca.gif" /> <b>Assaltos</b></td>
									</tr>
									<tr style="background-color: gray; height: 1px;">
										<td colspan="8"></td>
									</tr>
									<tr>
										<td width="7%"><p:selectBooleanCheckbox id="chkAssaltos" value="#{cadosEventoBean.cadOSEventosModel.intApurResp}" itemLabel="" /></td>
										<td align="left">Apuração de Responsabilidade</td>
									</tr>
								</table>
							</fieldset>
						</td>
					</tr>
				</table>
			</div>
			<!-- COMPORTAMENTAL -->
			<div id="divComportamental" style="display: none">
				<table width="100%" border="0">
					<tr>
						<td align="center">
							<fieldset style="width: 50%">
								<table width="100%" border="0" cellpadding="1" cellspacing="1">
									<tr style="background-color: gray; color: White">
										<td colspan="8"><img align="absmiddle"
											src="../Imagens/seta_branca.gif" /> <b>Comportamental</b></td>
									</tr>
									<tr style="background-color: gray; height: 1px;">
										<td colspan="8"></td>
									</tr>
									<tr style="height: 5px">
										<td></td>
									</tr>
									<tr>
										<td width="7%" align="center"><img id="imgMais"
											style="cursor: hand" src="../Imagens/btn_mais.gif"
											alt="Expandir"
											onclick="HideShowElement('divEmail', 'imgMais');Resize();" /></td>
										<td align="left"><span style="cursor: hand"
											onclick="HideShowElement('divEmail','imgMais' );Resize();">Mau
												uso do e-mail corporativo</span></td>
									</tr>
								</table>
								<div id="divEmail" style="display: none">
									<table width="100%" border="0" cellpadding="1" cellspacing="1">
										<tr>
											<td width="15%" align="right"><p:selectBooleanCheckbox id="chkComportamental0" value="#{cadosEventoBean.cadOSEventosModel.intDivuIndiInfoClie}" itemLabel="" /></td>
											<td align="left">Divulgação indevida de informação do cliente</td>
										</tr>
										<tr>
											<td width="15%" align="right"><p:selectBooleanCheckbox id="chkComportamental1" value="#{cadosEventoBean.cadOSEventosModel.intDivuIndiInfoBanc}" itemLabel="" /></td>
											<td align="left">Divulgação indevida de informação do
												banco</td>
										</tr>
										<tr>
											<td width="15%" align="right"><p:selectBooleanCheckbox id="chkComportamental2" value="#{cadosEventoBean.cadOSEventosModel.intTrmsMesgCntdIndq}" itemLabel="" /></td>
											<td align="left">Transmissão de mensagens com conteúdo
												inadequado</td>
										</tr>
									</table>
								</div>
								<table width="100%" border="0" cellpadding="1" cellspacing="1">
									<tr>
										<td align="center"><img id="imgContratacao"
											style="cursor: hand" src="../Imagens/btn_mais.gif"
											alt="Expandir"
											onclick="HideShowElement('divContratacao','imgContratacao' );Resize();" /></td>
										<td align="left"><span style="cursor: hand"
											onclick="HideShowElement('divContratacao','imgContratacao' );Resize();">Práticas
												inadequadas de contratação</span></td>
									</tr>
								</table>
								<div id="divContratacao" style="display: none;">
									<table width="100%" border="0" cellpadding="1" cellspacing="1">
										<tr>
											<td width="15%" align="right"><p:selectBooleanCheckbox id="chkComportamental3" value="#{cadosEventoBean.cadOSEventosModel.intVendCasd}" itemLabel="" /></td>
											<td align="left">Vendas casadas</td>
										</tr>
										<tr>
											<td width="15%" align="right"><p:selectBooleanCheckbox id="chkComportamental4" value="#{cadosEventoBean.cadOSEventosModel.intVendNaoForz}" itemLabel="" /></td>
											<td align="left">Vendas não formalizadas</td>
										</tr>
										<tr>
											<td width="15%" align="right"><p:selectBooleanCheckbox id="chkComportamental5" value="#{cadosEventoBean.cadOSEventosModel.intFals}" itemLabel="" /></td>
											<td align="left">Falsificações</td>
										</tr>
										<tr>
											<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Outros:&nbsp;&nbsp;<p:inputText id="txtComportamental"
												name="txtComportamental" maxlength="30"
												value="#{cadosEventoBean.cadOSEventosModel.strNmOutrPratIndq}" />
											</td>
										</tr>
									</table>
								</div>
								<table width="100%" border="0" cellpadding="1" cellspacing="1">
									<tr>
										<td width="7%" align="center"><p:selectBooleanCheckbox id="chkComportamental6" value="#{cadosEventoBean.cadOSEventosModel.intRstrFincCadr}" itemLabel="" /></td>
										<td align="left">Restritivos finaceiros / cadastrais</td>
									</tr>
									<tr>
										<td width="7%" align="center"><p:selectBooleanCheckbox id="chkComportamental7" value="#{cadosEventoBean.cadOSEventosModel.intCdtaProfIndq}" itemLabel="" /></td>
										<td align="left">Conduta profissional inadequada</td>
									</tr>
									<tr>
										<td width="7%" align="center"><p:selectBooleanCheckbox id="chkComportamental8" value="#{cadosEventoBean.cadOSEventosModel.intDscmNort}" itemLabel="" /></td>
										<td align="left">Descumprimento de normativos</td>
									</tr>
									<tr>
										<td width="7%" align="center"><p:selectBooleanCheckbox id="chkComportamental9" value="#{cadosEventoBean.cadOSEventosModel.intViolCodiEtic}" itemLabel="" /></td>
										<td align="left">Violação do código de ética</td>
									</tr>
								</table>
								<table width="100%" border="0" cellpadding="1" cellspacing="1">
									<tr>
										<td width="7%" align="center"><p:selectBooleanCheckbox id="chkComportamenta10" value="#{cadosEventoBean.cadOSEventosModel.intEndiExce}" itemLabel="" /></td>
										<td align="left">Endividamento excessivo</td>
									</tr>
									<tr style="height: 5px">
										<td></td>
									</tr>
								</table>
							</fieldset>
						</td>
					</tr>
				</table>
			</div>
			<!-- FRAUDES -->
			<div id="divFraudes" style="display: none">
				<table width="100%" border="0">
					<tr>
						<td align="center">
							<fieldset style="width: 50%">
								<table width="100%" border="0" cellpadding="1" cellspacing="1">
									<tr style="background-color: gray; color: White">
										<td colspan="8"><img align="absmiddle"
											src="../Imagens/seta_branca.gif" /> <b>Fraudes</b></td>
									</tr>
									<tr style="background-color: gray; height: 1px;">
										<td colspan="8"></td>
									</tr>
									<tr>
										<td width="7%"><p:selectBooleanCheckbox id="chkFraudes0" value="#{cadosEventoBean.cadOSEventosModel.intApprValoClie}" itemLabel="" /></td>
										<td align="left">Apropriações de valores de clientes</td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkFraudes1" value="#{cadosEventoBean.cadOSEventosModel.intApprValoBanc}" itemLabel="" /></td>
										<td align="left">Apropriações de valores do Banco</td>
									</tr>
									<tr>
										<td width="7%"><p:selectBooleanCheckbox id="chkFraudes2" value="#{cadosEventoBean.cadOSEventosModel.intMoviFincIrre}" itemLabel="" /></td>
										<td align="left">Movimentações financeiras irregulares</td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkFraudes3" value="#{cadosEventoBean.cadOSEventosModel.intOperCred}" itemLabel="" /></td>
										<td align="left">Operações de crédito</td>
									</tr>
									<tr>
										<td width="7%"><p:selectBooleanCheckbox id="chkFraudes4" value="#{cadosEventoBean.cadOSEventosModel.intCntrProd}" itemLabel="" /></td>
										<td align="left">Contratações de produtos</td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkFraudes5" value="#{cadosEventoBean.cadOSEventosModel.intAberIrreCnta}" itemLabel="" /></td>
										<td align="left">Abertura irregular de contas</td>
									</tr>
								</table>
							</fieldset>
						</td>
					</tr>
				</table>
			</div>
			<!-- OPERAÇÕES DE CRÉDITO -->
			<div id="divOpCredito" style="display: none">
				<table width="100%" border="0">
					<tr>
						<td align="center">
							<fieldset style="width: 50%">
								<table width="100%" border="0" cellpadding="1" cellspacing="1">
									<tr style="background-color: gray; color: White">
										<td colspan="8"><img align="absmiddle"
											src="../Imagens/seta_branca.gif" /> <b>Operações de
												Crédito</b></td>
									</tr>
									<tr style="background-color: gray; height: 1px;">
										<td colspan="8"></td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkOperacoes0" value="#{cadosEventoBean.cadOSEventosModel.intDefrAntiNort}" itemLabel="" /></td>
										<td align="left">Derferimento anti-normativos</td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkOperacoes1" value="#{cadosEventoBean.cadOSEventosModel.intIrreCnstGara}" itemLabel="" /></td>
										<td align="left">Iregularidades na constituíção de
											garantias</td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkOperacoes2" value="#{cadosEventoBean.cadOSEventosModel.intUtizTituDuplFria}" itemLabel="" /></td>
										<td align="left">Utilização de títulos / duplicatas frias</td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkOperacoes3" value="#{cadosEventoBean.cadOSEventosModel.intFalsificacao}" itemLabel="" /></td>
										<td align="left">Falsificações</td>
									</tr>
									<tr>
										<td><p:selectBooleanCheckbox id="chkOperacoes4" value="#{cadosEventoBean.cadOSEventosModel.intIrreForz}" itemLabel="" /></td>
										<td align="left">Irregularidades na formalização</td>
									</tr>
									<tr>
										<td width="10%">Outros:&nbsp;</td>
										<td align="left"><p:inputText id="txtOperacoes"
											name="txtOperacoes" maxlength="30" style="width: 230px" value="#{cadosEventoBean.cadOSEventosModel.strOperCredOutr}" /></td>
									</tr>
								</table>
							</fieldset>
						</td>
					</tr>
				</table>
			</div>
			<!-- MONITORAMENTO -->
			<div id="divMonitIn" style="display: none">
				<fieldset>
					<legend>
						<strong>Monitoramento Interno</strong>
					</legend>
					<table ID="Table2">
						<tr>
							<td>
								<fieldset>
									<legend>E-mails</legend>
									<table ID="Table3">
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento0" value="#{cadosEventoBean.cadOSEventosModel.intEmailQubrSigi}" itemLabel="" /></td>
											<td align="left">Quebra de Sigilo</td>
											<td><p:selectBooleanCheckbox id="chkMonitoramento1" value="#{cadosEventoBean.cadOSEventosModel.intEmailVazaInfo}" itemLabel="" /></td>
											<td align="left">Vazamento de Informações</td>
										</tr>
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento2" value="#{cadosEventoBean.cadOSEventosModel.intEmailCrrt}" itemLabel="" /></td>
											<td align="left">Corrente</td>
											<td><p:selectBooleanCheckbox id="chkMonitoramento3" value="#{cadosEventoBean.cadOSEventosModel.intEmailExpcRisc}" itemLabel="" /></td>
											<td align="left">Exposição de Risco</td>
										</tr>
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento4" value="#{cadosEventoBean.cadOSEventosModel.intEmailPorn}" itemLabel="" /></td>
											<td align="left">Pornografia</td>
											<td><p:selectBooleanCheckbox id="chkMonitoramento5" value="#{cadosEventoBean.cadOSEventosModel.intEmailBtpp}" itemLabel="" /></td>
											<td align="left">Bate Papo</td>
										</tr>
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento6" value="#{cadosEventoBean.cadOSEventosModel.intEmailOutr}" itemLabel="" /></td>
											<td align="left">Outros</td>
										</tr>
									</table>
								</fieldset>
							</td>
						</tr>
						<tr>
							<td>
								<fieldset>
									<legend>Restritivos</legend>
									<table ID="Table4">
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento7" value="#{cadosEventoBean.cadOSEventosModel.intRstrInci}" itemLabel="" /></td>
											<td align="left">Incidência</td>
										</tr>
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento8" value="#{cadosEventoBean.cadOSEventosModel.intRstrReic}" itemLabel="" /></td>
											<td align="left">Reincidência</td>
										</tr>
									</table>
								</fieldset>
							</td>
						</tr>
						<tr>
							<td>
								<fieldset>
									<legend>Movimentações</legend>
									<table ID="Table5">
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento9" value="#{cadosEventoBean.cadOSEventosModel.intMoviQntd}" itemLabel="" /></td>
											<td align="left">Quantidade</td>
											<td><input id="txtMonQuantidade" type="text"
												style="width: 50px" NAME="txtMonQuantidade" /></td>
										</tr>
										<tr>
											<td><p:selectBooleanCheckbox id="chkMonitoramento10" value="#{cadosEventoBean.cadOSEventosModel.intMoviValo}" itemLabel="" /></td>
											<td align="left">Valor</td>
											<td><input id="txtMonValor" type="text"
												style="width: 50px" NAME="txtMonValor" /></td>
										</tr>
									</table>
								</fieldset>
							</td>
						</tr>
					</table>
				</fieldset>
			</div>
			<!-- FRAUDES OPERACIONAIS- CONTA BANCÁRIA -->
			<div id="divTblCanal" style="display: none">
				<fieldset>
					<legend>
						<strong><label name="lblTitCanal" id="lblTitCanal"><h:outputText id="evento-selecionado"
								value='#{cadosEventoBean.pegarCanalSelecionado("nome")}' /></label></strong>
					</legend>
					<h:panelGroup id="panelDetalhe">
						<table class="tableDetalhe" id="tableDetalhe" style="width:100%">
							<p:commandButton id="btnAdicionar" type="button" value="Adicionar"  onclick="InsereLinha()" />
							<p:remoteCommand name="remoteInsereLinha" action="#{cadosEventoBean.insereLinha}" update="panelDetalhe"/>
							<p:remoteCommand name="remoteExcluirLinha" action="#{cadosEventoBean.excluiLinha}" update="panelDetalhe"/>
							<tr>
								<td align="center">&nbsp;</td>
								<td style="background: gray; font-weight: bold; color: white"
									align="left">Titular1:</td>
								<td style="background: gray; font-weight: bold; color: white"
									align="left">Tipo:</td>
								<td style="background: gray; font-weight: bold; color: white"
									align="left">Ag/NºCta/Contrato:</td>
								<td style="background: gray; font-weight: bold; color: white"
									align="left"></td>
							</tr>
							<ui:repeat value="#{cadosEventoBean.eventosDetalheList}" var="rsConta" varStatus="conta">
								<tr class="table-body">
									<td align="center"><input type="hidden" name="hdnSeq" id="hdnSeq" value="#{rsConta[2]}" />
					       					<b><h:outputText value="#{conta.index}" /></b>
      										   <p:inputText type="hidden" name="hdnSeqConta" id="hdnSeqConta"  value="{rsConta[6]}" />
      										   <p:inputText type="hidden" name="hdnFrauCnal" id="hdnFrauCnal"  value="{rsConta[5]}" />
      										   <p:inputText type="hidden" name="hdnCodProd" id="hdnCodProd"  value="{rsConta[9]}" /></td>
									<td align="left"><p:selectOneMenu
											id="cbo#{conta.index}Partic" name="cbo#{conta.index}Partic" styleClass="cbo#{conta.index}Partic"
											value="#{rsConta[4]}"
											style="width:200px"
											onchange="selecionaParticipante('#{conta.index}');"
											disabled="#{rsConta[4].isEmpty() ? false : true}">
											<f:selectItem itemValue="" itemLabel="Selecione" />
											<f:selectItems value="#{cadosEventoBean.listaTodosParticipantes()}"
												var="rsPartic" itemLabel="#{rsPartic.nome} - #{rsPartic.sqParp}"
												itemValue="#{rsPartic.sqParp}" />
										</p:selectOneMenu></td>
									<td align="left"><p:selectOneMenu
											id="cbo#{conta.index}Tipo" name="cbo#{conta.index}Tipo" styleClass="cbo#{conta.index}Tipo"
											value="#{rsConta[1]}"
											style="width:110px"
											onchange="carregaTipo('#{conta.index}');"
											disabled="#{rsConta[1].isEmpty() ? false : true}">
											<f:selectItem itemValue="" itemLabel="Selecione" />
											<f:selectItem itemValue="1" itemLabel="Ag/Conta" />
											<f:selectItem itemValue="2" itemLabel="Contrato" />
											<f:selectItem itemValue="3" itemLabel="Não Correntista" />
										</p:selectOneMenu>
										
										</td>
									<td align="left"><p:selectOneMenu
											id="cboContaAg#{conta.index}Cntr" name="cboContaAg#{conta.index}Cntr" styleClass="cbo#{conta.index}Contr"
											value="#{rsConta[2]}"
											style="width:200px"
											onchange="selecionaParticipante('#{conta.index}');">
											<f:selectItem itemValue="" itemLabel="Selecione" />
											<f:selectItems value="#{cadosEventoBean.listaContratos(rsConta[4])}"
												var="rsCntr" itemLabel="#{rsPartic.contratoNrSequCntr} - #{rsPartic.contratoNrCntr}"
												itemValue="#{rsPartic.contratoNrSequParpProc}" />
										</p:selectOneMenu></td>
									<td align="left"><p:commandButton id="btn#{conta.index}Detalhe" type="button" value="Detalhe" onclick="AbreDetalhe('#{rsConta[5]}')" style="width:65px;cursor:hand" /><p:commandButton icon="btn-excluir" styleClass="btn-limpar" id="btExcluir#{conta.index}" onclick="Excluir('#{rsConta[2]}','#{conta.index}','#{rsConta[4]}','#{rsConta[5]}','#{rsConta[8]}','#{Integer.parseInt(rsConta[1])}');" style="width:20px;cursor:hand" /></td>
								</tr>
							</ui:repeat>
						</table>
					</h:panelGroup>
				</fieldset>
			</div>
		</div>

		<div class="row-buttons">
			<p:commandButton type="button" onclick="Salvar()" id="btnSalvar" value="Salvar" style="margin-right:6px" />
		</div>
		
		<p:remoteCommand name="abrePgRemoteCommand" action="#{cadosEventoBean.abrePgDetalhe}" />
	</h:form>

	<script type="text/javascript" language="javascript">
		window.onload = function() {

			var classeCanal = document.getElementsByClassName('tdCanal');
			classeCanal[0].style.visibility = 'hidden';

			var classeEmpresa = document.getElementsByClassName('tdEmpresa');
			classeEmpresa[0].style.visibility = 'hidden';

			var classeAreaComp = document.getElementsByClassName('tdAreaComp');
			classeAreaComp[0].style.visibility = 'hidden';

			var classeLinhaNego1 = document
					.getElementsByClassName('tdLinhaNego1');
			classeLinhaNego1[0].style.visibility = 'hidden';

			var classeLinhaNego2 = document
					.getElementsByClassName('tdLinhaNego2');
			classeLinhaNego2[0].style.visibility = 'hidden';

			var classeFatRisc = document.getElementsByClassName('tdFatRisc');
			classeFatRisc[0].style.visibility = 'hidden';

			var classeTipoCap = document
					.getElementsByClassName('tdTipoCaptura');
			classeTipoCap[0].style.visibility = 'hidden';

			var divDetalhe = document.getElementById('divTblCanal');
			divDetalhe.style.display = "none";

			carregarEventoRemoteCommand();
		}
	</script>
</h:body>
</html>
