<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title>HY - Ocorrências Especiais</title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_cadastroos_detalheenvolvclie.js"></script>
	<script type="text/javascript">
	//<![CDATA[
		 function Pesquisar(){
			 btnPesquisar();
			 parent.parent.PF("statusDialog").show();
		}
	
		function Fechar(){   
			parent.PF('pesquisa-envolvida-cliente').hide();
		}
		
		function GravarParticipantejs(idx) {
			btnGravarParticipante([{name: 'indice', value: idx}])
		}
	//]]>
	</script>

</h:head>
<h:body>
	<h:form id="frmPesqPart" action="HY_CadastroOs_PesquisaCliente.asp?"
		method="post">
		<table width="100%" border="0"
			style="background-color: Red; color: White">
			<tr>
				<td colspan="6">Participação do Processo > Adicionar Cliente</td>
			</tr>
			<tr>
				<td><b>Filtros para Pesquisa</b></td>
				<td><b>Nº da OS:&#160;&#160;<h:outputText
							value="#{cadOsMenuBean.strNrSeqOs}" /></b></td>
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>
		<p:fieldset styleClass="PanelTitle">
			<table border="0" width="100%">
				<tr>
					<td width="20px">Nome:</td>
					<td colspan="4"><p:inputText id="txtNomePart"
							name="txtNomePart"
							value="#{cadastroosPesquisaClienteBean.strNomepart}"
							style="width:250px;" /></td>
				</tr>
				<tr>
					<td colspan="4"><p:selectOneRadio id="rdoTpoCli"
							value="#{cadastroosPesquisaClienteBean.strTipo}">
							<f:selectItem itemLabel="Pessoa Física" itemValue="F"
								style="border:0px;background-color:#E8E8E8;" />
							<f:selectItem itemLabel="Pessoa Jurídica" itemValue="J"
								style="border:0px;background-color:#E8E8E8;" />
						</p:selectOneRadio></td>
				</tr>
				<tr>
					<td>CPF/CNPJ:</td>
					<td><p:inputText id="txtCpfCnpj" name="txtCpfCnpj"
							maxlength="14"
							value="#{cadastroosPesquisaClienteBean.strDoctoPart}"
							style="width:85px;" onkeypress="BlockKeybord()">
							<p:keyFilter regEx="/[\d]/" />
						</p:inputText></td>
					<td align="right" colspan="2"><h:graphicImage
							value="../images/lupa.gif" style="cursor:pointer" alt="Pesquisar"
							onclick="Pesquisar()" /></td>
					<p:remoteCommand name="btnPesquisar"
						actionListener="#{cadastroosPesquisaClienteBean.FillTblCliPart}"
						update="frmPesqPart:pesquisa-clientes"></p:remoteCommand>
				</tr>
			</table>

			<p:dataTable id="pesquisa-clientes" paginator="false"
				value="#{cadastroosPesquisaClienteBean.objRsParticipClientes}"
				var="participClientes" rowIndexVar="index" emptyMessage="#{cadastroosPesquisaClienteBean.emptyMsg? 'Nenhum registro encontrado.' : ''}">
				<p:column headerText="CPF / CNPJ">
					<h:outputText value="#{participClientes.CPF_CNPJ}" />
				</p:column>
				<p:column headerText="Cliente">
					<h:outputText value="#{participClientes.NOME}" />
				</p:column>
				<p:column headerText="Segmentação">
					<h:outputText value="#{participClientes.SEGMENTO}" />
				</p:column>
				<p:column headerText="Participação" colspan="2">
					<p:selectOneMenu id="cboDesig"
						value="#{participClientes.CBO_DESIG}">
						<f:selectItems
							value="#{cadastroosPesquisaClienteBean.objRsItemsCombo}"
							var="item" itemValue="#{item.CODIGO}" itemLabel="#{item.NOME}"></f:selectItems>
					</p:selectOneMenu>
				</p:column>
				<p:column headerText="">
					<p:commandButton value="+" onclick="GravarParticipantejs(#{index})" />
					<p:remoteCommand name="btnGravarParticipante"
						action="#{cadastroosPesquisaClienteBean.GravarParticipante}"></p:remoteCommand>
				</p:column>
			</p:dataTable>

		</p:fieldset>

		<table width="100%">
			<tr>
				<td align="right"><p:commandButton id="Button4" type="button"
						value="Voltar" style="text-align:center" onclick="Fechar();"></p:commandButton>
				</td>
			</tr>
		</table>
	</h:form>
</h:body>
</html>