<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


		<h:head>
			<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
				type="text/css" media="screen" />

			<script type="text/javascript">
				//<![CDATA[

				function Imprime() {
					with (document.all) {
						tblImprimirSup.style.visibility = 'hidden';
						window.print();
						tblImprimirSup.style.visibility  = 'visible';
					}
				}

				//]]>
			</script>

		</h:head>

		<h:body class="PanelTitle">

			<table width="99%" border="0" cellspacing="0" cellpadding="0"
				id="tblImprimirSup" height="50">
				<tr>
					<td align="center"><p:commandButton name="btnImprimir"
							type="button" id="btnImprimir" value="Imprimir"
							onclick="Imprime()" />&nbsp;&nbsp;&nbsp; <p:commandButton
							name="btnFechar" type="button" id="btnFechar" value=" Fechar "
							onclick="javascript:window.close();" /></td>
				</tr>
			</table>

			<form>
				<table cellspacing="1" cellpadding="1" border="0" width="100%">
					<tr>
						<td colspan="5" width="60%" class="" align="right"></td>
						<td width="20%"><h:graphicImage
								value="../images/img_topo_logo.gif" border="0" /></td>
					</tr>
				</table>

				<!--CABEÇALHO-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0"
					align="center">
					<tr>
						<!--CABEÇALHO-->
						<td height="15%">
							<table width="99%" border="0">
								<tr>
									<td colspan="3" width="99%" align="right"></td>
								</tr>
								<tr>
									<td rowspan="2" width="10%">
										<table class="RelTxt">
											<tr>
												<td></td>
											</tr>
											<tr>
												<td></td>
											</tr>
										</table>
									</td>
									<td align="center" class="RelTitulo">SISTEMA DE CONTROLE E
										PLANEJAMENTO - SCP</td>
									<td rowspan="2" align="center" width="10%" class="RelTxt"></td>
								</tr>
								<tr>
									<td rowspan="2" align="center" class="RelSubTitulo">Trâmite
										dos Processos Cadastrados</td>
								</tr>

								<table width="99%" cellspacing="0" cellpadding="0">
									<tr>
										<td><hr /></td>
									</tr>

									<!-- <tr><td rowspan="2" align="left" class="RelSubTitulo">Nº da OS.:&nbsp; <%=objRsOs.Fields(0).value%> </td></tr> -->
									<!-- Qual o nome do campo correspondente ao Fields(0)? NR_OS? -->
									<tr>
										<td rowspan="2" align="left" class="RelSubTitulo">Nº da
											OS.:&nbsp; <h:outputText
												value="#{ImprimirOsTramiteBean.strNrSeqOs}" />
										</td>
									</tr>

								</table>

							</table>
							<table width="99%" cellspacing="0" cellpadding="0">
								<tr>
									<td><hr /></td>
								</tr>
							</table>
						</td>
					</tr>
					<!--FIM CABECALHO-->
				</table>

				<table width="100%" border="0" cellpadding="0" cellspacing="0"
					align="center">
					<tr>
						<!--CABEÇALHO-->
						<td height="15%">
							<table width="99%" border="0" cellpadding="0" cellspacing="0"
								align="center">
								<tr height="25"
									style="background-color: gray; color: White; font-weight: bold">
									<td width="12%">Trâmite</td>
									<td width="12%">Dt.Registro</td>
									<td width="12%">Dt.Ret.Pla</td>
									<td width="12%" align="left">Dt. Envio Real</td>
									<td width="12%" align="center">Dt. Ret.Real</td>
									<td width="40%">Destinatário</td>
								</tr>
								<tr height="25"
									style="background-color: gray; color: White; font-weight: bold">
									<td colspan="6">Históricos do Trâmite</td>
								</tr>
							</table>
							<table width="99%" cellspacing="0" cellpadding="0">
								<tr>
									<td><hr /></td>
								</tr>
							</table>
						</td>
					</tr>
					<!--FIM CABECALHO-->
					<!--	</table>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">-->
					<tr>
						<!--CABEÇALHO-->
						<td height="15%">
							<table width="99%" border="0" cellpadding="0" cellspacing="0"
								align="center">
								<p:repeat value="#{ImprimirOsTramiteBean.objRsOs}" var="implog">
									<tr style="background: #E8E8E8">
										<!-- <td width="12%"><%=objRsOs.Fields(1).value%></td> .Fields(1), mas qual o nome do campo? Seguindo o cabeçalho, seria Trâmite -->
										<td width="12%"><h:outputText value="#{implog.TRAMITE}" /></td>
										<td width="12%"><h:outputText value="#{implog.DT_REG}" /></td>
										<td width="12%"><h:outputText
												value="#{implog.DT_RETN_PLAN}" /></td>
										<td width="12%" align="left"><h:outputText
												value="#{implog.DT_RETN}" /></td>
										<td width="12%" align="center"><h:outputText
												value="#{implog.DT_RETN}" /></td>
										<td width="40%"><h:outputText value="#{implog.DS_DEST}" /></td>
									</tr>
									<tr height="25">
										<td colspan="2" align="left">Histórico Envio Trâmite:</td>
										<td colspan="4" align="left"><h:outputText
												value="#{implog.DS_Envi}" /></td>
									</tr>
									<tr height="25">
										<td colspan="2" align="left">Histórico Ret. Trâmite:</td>
										<td colspan="4" align="left"><h:outputText
												value="#{implog.DS_RETN}" /></td>
									</tr>
								</p:repeat>
							</table>
						</td>
					</tr>
					<!--FIM CABECALHO-->
				</table>

			</form>


		</h:body>


	
</html>