<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">


		<h:head>
			<h:outputStylesheet name="css/hy_style.css" />

			<title>Ocorrência Especiais</title>
			<style>
h1, h2, p {
	text-align: center;
}

h1 {
	margin-top: 20px
}
</style>

		</h:head>

		<h:body class="PanelTitle" style="height: 100%">
			<h:form id="form">

				<p:dataTable id="tabelaControleProcessosAberto" var="obj"
					value="#{relosControleProcessosAbertoBean.objRsRelat}"
					rowIndexVar="index"
					emptyMessage="Não existem dados para o período selecionado.">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="17" style="font-size: medium; align:center"
								headerText="Superintendência de Ocorrências Especiais" />
						</p:row>
						<p:row>
							<p:column colspan="17" style="font-size: medium; align:center"
								headerText="Relatório Controle de Processos em Aberto" />
						</p:row>
						<p:row>
							<p:column colspan="17" style="font-size: x-small; align:center"
								headerText="Período: #{relosControleProcessosAbertoBean.strDtIni} até #{relosControleProcessosAbertoBean.strDtFim}" />
						</p:row>
						<p:row style="background:red; color:White; font-weight:bold">
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column colspan="2" headerText="Agência - PV"
								style="align:center" />
							<p:column  headerText="Administração Central"
								style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
							<p:column headerText="" style="align:center" />
						</p:row>
						<p:row>
							<p:column headerText="" />
							<p:column headerText="N° OS" style="align:center" />
							<p:column headerText="Evento" style="align:center" />
							<p:column style="align:center" headerText="Nº Agência" />
							<p:column style="align:center" headerText="Nome Agência" />
							<p:column style="align:center" headerText="Nº" />
							<p:column style="align:center" headerText="Nome" />
							<p:column headerText="Regional" style="align:center" />
							<p:column headerText="Rede / VP" style="align:center" />
							<p:column headerText="Texto Abertura" style="align:center" />
							<p:column headerText="Valor Envolvido" style="align:center" />
							<p:column headerText="Perda" style="align:center" />
							<p:column headerText="Analista Designado" style="align:center" />
							<p:column headerText="Data Abertura" style="align:center" />
							<p:column headerText="Data Aprovação OS" style="align:center" />
							<p:column headerText="Criticidade" style="align:center" />
							<p:column headerText="Fase Análise" style="align:center" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{index + 1}" />
					</p:column>
					<p:column>
						<h:outputText value="#{obj.NR_SEQU_ORDE_SERV}" />
					</p:column>
					<p:column>
						<h:outputText value="#{obj.NM_EVEN}" />
					</p:column>

					<!-- <c:if test="#{obj.TP_UOR eq 1 ? true : false}"> -->
					<p:column rendered="#{obj.TP_UOR eq 1 ? true : false}">
						<h:outputText value="#{obj.CD_UOR}" />
					</p:column>
					<p:column rendered="#{obj.TP_UOR eq 1 ? true : false}">
						<h:outputText value="#{obj.NM_UOR}" />
					</p:column>
					<p:column rendered="#{obj.TP_UOR eq 1 ? true : false}" />
					<p:column rendered="#{obj.TP_UOR eq 1 ? true : false}" />
					<p:column rendered="#{obj.TP_UOR eq 1 ? true : false}">
						<h:outputText value="#{obj.NM_REDE}" />
					</p:column>
					<p:column rendered="#{obj.TP_UOR eq 1 ? true : false}">
						<h:outputText value="#{obj.NM_REGI}" />
					</p:column>
					<!-- </c:if> -->

					<!-- <c:if test="#{obj.TP_UOR != 1 ? true : false}"> -->
					<p:column rendered="#{obj.TP_UOR != 1 ? true : false}" />
					<p:column rendered="#{obj.TP_UOR != 1 ? true : false}" />
					<p:column rendered="#{obj.TP_UOR != 1 ? true : false}">
						<h:outputText value="#{obj.TP_UOR}0#{obj.CD_UOR}" />
					</p:column>
					<p:column rendered="#{obj.TP_UOR != 1 ? true : false}">
						<h:outputText value="#{obj.NM_UOR}" />
					</p:column>
					<p:column rendered="#{obj.TP_UOR != 1 ? true : false}" />
					<p:column rendered="#{obj.TP_UOR != 1 ? true : false}" />
					<!-- </c:if> -->

					<p:column>
						<h:outputText value="#{obj.TX_ABER_ORDE_SERV}" />
					</p:column>
					<p:column>
						<h:outputText value="#{obj.VL_ENVO}" />
					</p:column>
					<p:column>
						<h:outputText value="#{obj.VL_PERD_EFET_FORMATADO}" />
					</p:column>
					<p:column>
						<h:outputText value="#{obj.NM_RECU_OCOR_ESPC}" />
					</p:column>
					<p:column>
						<h:outputText value="#{obj.DT_APROV}" />
					</p:column>
					<p:column>
						<h:outputText value="#{obj.DT_APROV}" />
					</p:column>
					<p:column />
					<p:column>
						<h:outputText value="#{obj.NM_SITU_ORDE_SERV}" />
					</p:column>
					<!--
					obj.DT_ABER_ORDE_SERV 
					<p:columnGroup type="footer">
						<p:row style="background:red; color:White; font-weight:bold">
							<p:column footerText="#{relosControleProcessosAbertoBean.now()}"
								colspan="3" />
							<p:column
								footerText="Superintêndencia de
								Ocorrências Especiais"
								colspan="20" />
						</p:row>
					</p:columnGroup> -->
				</p:dataTable>

				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<!-- <p:dataExporter type="xls" target="tabelaControleProcessosAberto"
						fileName="OCESP_Relatorio" /> -->
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="tabelaControleProcessosAberto"
						fileName="OCESP_Relatorio" fontName="Calibri"
						cellFontColor="#000000" cellFontSize="150" cellFontStyle="NORMAL"
						encoding="UTF-8"
						postProcessor="#{relosControleProcessosAbertoBean.postProcessExcel}" />
				</h:commandLink>

			</h:form>

			<script type="text/javascript">
				//<![CDATA[
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
							//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{relosControleProcessosAbertoBean.strDtIni}&pDtFim=#{relosControleProcessosAbertoBean.strDtFim}','_self');
					},5000); 
				 }
					function Voltar() {
						history.back();
					}
	
					function Imprimir() {
						window.print();
					}
					function LimparUrl(){
						history.pushState(null, '', '');
					}
	
					(function exibirData() {
						document.getElementById("data").innerHTML = new Date()
								.toLocaleDateString();
					})();
				//]]>
			</script>
		</h:body>
</ui:composition>