<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">
	<h:head>
			<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<script type="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	
		
			<style>
/* 				.pesquisaOsDataTable {
					text-align: center;
				}
				
				.pesquisaOsDataTable table tbody tr td:last-child button {
					opacity: 0;
					padding: 2px;
					margin: 1px;
				}
				
				.pesquisaOsDataTable table tbody tr:hover td:last-child>button {
					opacity: 1;
				}
				
				.pesquisaOsDataTable .ui-panelgrid-cell {
					border: 0;
				}
				
				.pesquisaOsDataTable .ui-button-text {
					font-size: 14px;
				} */
				.ui-datatable table {
					table-layout: auto;
				}
			</style>
			<script>
				//<![CDATA[
				function voltar() {
					history.back();
				}
	
				function Selecionar(id, st) {
					console.log('id: '+id+' st: '+st);
					document.getElementById(id).checked = true;
					document.forms[0].txtSituOs.value = st;
				}
				
				function getOsSelecionada() {
					var arrOs = new Array();
					var infoOs = {};
					
					arrOs = document.getElementsByName('rdoPesq')
					
					for(var i = 0; i < arrOs.length; i++) 
						if(arrOs[i].checked == true) {
							infoOs.numero = arrOs[i].value;
							infoOs.area = document.getElementsByName('rdoPesqHd')[i].value;
							console.log(infoOs)
						}
							
					
					if(infoOs.numero) {
						return infoOs;
					} else {
						alert('Selecione uma Ordem de Serviço!');
						return null;						
					}									
				}
				
				function MostrarDetalheOs(cod, cod_area) {
					console.log('entrou');
					console.log('cod '+cod+' cod_area '+cod_area);
					mostrarDetalheOsRemoteCommand([{name: 'CODIGO', value: cod}, {name: 'CODIGO_AREA', value: cod_area}]);					
				}
				
				function executeRemoteCommand(name) {
					var infoOs = getOsSelecionada();
					var nrOs = infoOs.numero;
					var areaOs = infoOs.area;
					if (infoOs.nrOs != '') 
						switch(name) {
							case 'alterar':
								alterarRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
							
							case 'excluir':
								excluirRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
							
							case 'aprovarOS':
								aprovarOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
								
							case 'encerrarOS':
								encerrarOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
							
							case 'imprimirOS':
								imprimirOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
								
							case 'mostrarStatusOS':
								mostrarStatusOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
							
							case 'mostrarCustoOS':
								mostrarCustoOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
							
							case 'mostrarRastreabilidade':
								mostrarRastreabilidadeRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								limparSessaoRastreabilidadeRemoteCommand();
								break;
								
							case 'mostrarCapaOS':
								mostrarCapaOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
								
							case 'mostrarCartaAprOS':
								mostrarCartaAprOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
								
							case 'mostrarMinutaOS':
								mostrarMinutaOsRemoteCommand([{name: 'nrOs', value: infoOs.numero}, {name: 'areaOs', value: infoOs.area}]);
								break;
							
							default:
								console.log(name+' não encontrado');
								break;
					}						
				}
				
				// Chamada após validação no bean
				function setDialogDispatch(pageName) {
					document.getElementById('iframe-modal').src=pageName; 
					PF('btn-dialog').show();					
				}

				//]]>
			</script>
	</h:head>
	
		<h:body>
            
            <iframe
				src="titulo.xhtml?strTitulo= Pesquisar OS - Resultado"
				frameborder="0" width="100%" height="27"></iframe>
			<h:form id="frmPesquisaResultado" name="frmPesquisaResultado" method="post">
				
				<p:remoteCommand name="alertTestRemoteCommand" actionListener="#{pesquisaOsBean.alertTest}" update="@form" process="@this"/>
				
				<div class="row-buttons-center">
					<p:commandButton value="Status OS" onclick="executeRemoteCommand('mostrarStatusOS')" styleClass="ui-priority-primary" />
					<p:remoteCommand name="mostrarStatusOsRemoteCommand" actionListener="#{pesquisaOsBean.mostrarStatusOs}"/>							
					<p:commandButton value="Custo OS" onclick="executeRemoteCommand('mostrarCustoOS')" styleClass="ui-priority-primary" />
					<p:remoteCommand name="mostrarCustoOsRemoteCommand" actionListener="#{pesquisaOsBean.mostrarCustoOs}"/>							
					<p:commandButton value="Rastreabilidade" onclick="executeRemoteCommand('mostrarRastreabilidade')" styleClass="ui-priority-primary" />
					<p:remoteCommand name="mostrarRastreabilidadeRemoteCommand" actionListener="#{pesquisaOsBean.mostrarRastreabilidade}" />							
					<p:commandButton value="Gerar Capa OS" onclick="executeRemoteCommand('mostrarCapaOS')" styleClass="ui-priority-primary" />
					<p:remoteCommand name="mostrarCapaOsRemoteCommand" actionListener="#{pesquisaOsBean.mostrarCapaOs}"/>	
					<p:commandButton value="Carta Apresentação" onclick="executeRemoteCommand('mostrarCartaAprOS')" styleClass="ui-priority-primary" />
					<p:remoteCommand name="mostrarCartaAprOsRemoteCommand" actionListener="#{pesquisaOsBean.mostrarCartaAprOs}" />
					<p:commandButton value="Minuta OS" onclick="executeRemoteCommand('mostrarMinutaOS')" styleClass="ui-priority-primary" />
					<p:remoteCommand name="mostrarMinutaOsRemoteCommand" actionListener="#{pesquisaOsBean.mostrarMinutaOs}" />
																
					<h:commandLink actionListener="#{pesquisaOsBean.pesquisarExcel}">
						<h:graphicImage value="../images/ico_xls.gif" />
					</h:commandLink>										
					<h:commandLink id="excelExporter">
						<p:dataExporter type="xls"  options="#{pesquisaOsBean.excelOptions}"  postProcessor="#{pesquisaOsBean.postProcessExcel}" target="tblExcelResult" fileName="pesquisaOsResultado"/>
					</h:commandLink>
				</div>


				<p:dataTable id="tblPesquisaOsResult" 
					styleClass="pesquisaOsDataTable"
					var="PesquisaOsResultado"
					value="#{pesquisaOsBean.objRsPesquisaOsResultado}" paginator="true"
					paginatorPosition="bottom"
					rows="8"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
					currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
					emptyMessage="Nenhuma Ordem de Serviço encontrada!">					
					<p:column>
						<input type="hidden" id="rdoPesqHd" name="rdoPesqHd"
							value="#{PesquisaOsResultado.CODIGO_AREA}" />
						<input type="radio" name="rdoPesq" id="rdoPesq_#{PesquisaOsResultado.CODIGO}"
							value="#{PesquisaOsResultado.CODIGO}"/>
					</p:column>

					<p:column headerText="Nº OS">
						<b><h:outputText value="#{PesquisaOsResultado.CODIGO}" /></b>
					</p:column>

					<p:column headerText="Status">
						<b><h:outputText value="#{PesquisaOsResultado.CODIGO_SITUACAO} - (#{PesquisaOsResultado.SITUACAO})" /></b>
					</p:column>

					<p:column headerText="Data Abertura">
						<h:outputText value="#{PesquisaOsResultado.DATA_ABERTURA}" />
					</p:column>

					<p:column headerText="Área">
						<h:outputText value="#{PesquisaOsResultado.AREA}" />
					</p:column>
					
					<p:column headerText="" align="center">
						<p:commandButton value="Detalhes" onclick="MostrarDetalheOs('#{PesquisaOsResultado.CODIGO}', '#{PesquisaOsResultado.CODIGO_AREA}')"/> 
					</p:column>
				</p:dataTable>
				
				<div class="row-buttons1-center">						
					<p:commandButton value="Alterar" onclick="executeRemoteCommand('alterar')" />
					<p:remoteCommand name="alterarRemoteCommand" actionListener="#{pesquisaOsBean.alterar}" />
					<p:commandButton value="Excluir" onclick="executeRemoteCommand('excluir')" />
					<p:remoteCommand name="excluirRemoteCommand" actionListener="#{pesquisaOsBean.excluir}" />
					<p:commandButton value="Aprovar OS" onclick="executeRemoteCommand('aprovarOS')" />
					<p:remoteCommand name="aprovarOsRemoteCommand" actionListener="#{pesquisaOsBean.aprovarOs}" />
					<p:commandButton value="Encerrar OS" onclick="executeRemoteCommand('encerrarOS')" />
					<p:remoteCommand name="encerrarOsRemoteCommand" actionListener="#{pesquisaOsBean.encerrarOs}" />
					<p:commandButton value="Imprimir OS" onclick="executeRemoteCommand('imprimirOS')"/>
					<p:remoteCommand name="imprimirOsRemoteCommand" actionListener="#{pesquisaOsBean.imprimirOs}" />
					
					<p:commandButton value="Voltar" onclick="voltar(); return false" />					
					<p:remoteCommand name="mostrarDetalheOsRemoteCommand" actionListener="#{pesquisaOsBean.mostrarDetalheOs}" />
					<p:dialog appendToBody="true" header="HY - Ocorrências Especiais" widgetVar="btn-dialog" modal="true" height="450px" width="730px" resizable="no">
						<p:ajax event="close" listener="#{pesquisaOsBean.pesquisar}" update="@form"/>
						<iframe id="iframe-modal" src="" style="height: 100%; width: 100%"/>
					</p:dialog>
				</div>				
				
				
				<p:dataTable id="tblExcelResult" 
					styleClass="pesquisaOsExcelDataTable"
					var="ExcelResultado"
					value="#{pesquisaOsBean.objRsPesquisaOsExcelResultado}"
					rendered="false">
					
					<p:column headerText="Nº OS">
						<b><h:outputText value="#{ExcelResultado.CODIGO}" /></b>
					</p:column>

					<p:column headerText="Status">
						<b><h:outputText value="#{ExcelResultado.CD_SITUACAO} - (#{ExcelResultado.NM_SITUACAO})" /></b>
					</p:column>
					
					<p:column headerText="Data Abertura">
						<b><h:outputText value="#{ExcelResultado.ABERTURA}" /></b>
					</p:column>					
					
					<p:column headerText="Área">
						<b><h:outputText value="#{ExcelResultado.AREA}" /></b>
					</p:column>
					
					<p:column headerText="Analista Designado">
						<b><h:outputText value="#{ExcelResultado.NOME_AN_DESIG}" /></b>
					</p:column>
					
					<p:column headerText="Valor Envolvido (R$)">
						<b><h:outputText value="#{ExcelResultado.VALOR_ENVOLVIDO}" /></b>
					</p:column>
					
					<p:column headerText="Prejuízo (R$)">
						<b><h:outputText value="#{ExcelResultado.PREJUIZO}" /></b>
					</p:column>
					
					<p:column headerText="Valor Recuperado (R$)">
						<b><h:outputText value="#{ExcelResultado.VALOR_RECUP}" /></b>
					</p:column>
					
					<p:column headerText="Custo OS (R$)">
						<b><h:outputText value="#{ExcelResultado.CUSTO_OS}" /></b>
					</p:column>
					
					<p:column headerText="Agência">
						<b><h:outputText value="#{ExcelResultado.NM_PV}" /></b>
					</p:column>
										
					<p:column headerText="Rede">
						<b><h:outputText value="#{ExcelResultado.NM_REDE}" /></b>
					</p:column>
					
					<p:column headerText="Evento">
						<b><h:outputText value="#{ExcelResultado.EVENTO}" /></b>
					</p:column>
					
					<p:column headerText="Canal">
						<b><h:outputText value="#{ExcelResultado.CANAL}" /></b>
					</p:column>
					
					<p:column headerText="Operação">
						<b><h:outputText value="#{ExcelResultado.OPERACAO}" /></b>
					</p:column>
					
					<p:column headerText="Data Encerramento">
						<b><h:outputText value="" /></b>
					</p:column>
				</p:dataTable>					
			</h:form>

			<input type="hidden" id="txtSituOs" name="txtSituOs" value="#{pesquisaOsBean.txtSituOs}" />
		
					<h:form>
						<p:remoteCommand name="limparSessaoRastreabilidadeRemoteCommand"
                                        actionListener="#{RastreabilidadeBean.cleanSession}" />
			</h:form>
		
		</h:body>
	</ui:define>
</ui:composition>
