<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title>HY - Ocorrências Especiais</title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" type="text/css"
		media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

	<script type="text/javascript">
		//<![CDATA[

		parent[0].location.search = "strTitulo=Nova OS - #{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.os} - Participação no Processo - Detalhes Pessoas Envolvidas";

		var intControlaObj = 0;
		var intControlaTotalLinhas;

		/*  function window.onload(){
		 
		     intControlaTotalLinhas = <%=intRecCount%>;
		     if(intControlaTotalLinhas>0)window.document.getElementById ('tblPrincipal').style.display= "block";            
		     for(var i=0;i<intControlaTotalLinhas;i++){//--Aumenta o Div a cada linha inserida
		         var div = document.getElementById("divOverFlow");
		         div.style.height = div.scrollHeight + 20;                    
		     }
		     
		     Resize();
		 }    */

		function MostraDivCbo(strIdObj, strDivId1) {
			var cbo = document.getElementById(strIdObj);
			var div1 = document.getElementById(strDivId1);

			if (cbo || div1)
				if (cbo.value == 1)
					div1.style.display = 'block';
				else
					div1.style.display = 'none';
		}

		function Resize() {
			window.parent.document.all['ifrmNovaOs'].height = 400;
		}

		function MostraDivContestacao(strIdObj, strDivId1, strDivId2) {
			var cbo = document.getElementById(strIdObj);
			var div1 = document.getElementById(strDivId1);
			var div2 = document.getElementById(strDivId2);

			if (cbo || div1 || div2) {
				if (cbo.value == 1) {
					div1.style.display = 'block';
					div2.style.display = 'none';
				} else if (cbo.value == 2) {
					div1.style.display = 'none';
					div2.style.display = 'block';
				} else {
					div1.style.display = 'none';
					div2.style.display = 'none';
				}
			}
		}

		function InsereLinha() {
			console.log("Chamou InsereLinha");
			btnInsereLinha();

		}

		function Salvar() {

			if (fnValidaCampos()) {
				console.log("passou no fnValidaCampos");
				btnSalvar();
			}
		}

		function Voltar() {
			history.back();
		}

		function fnValidaCampos() {
			var teste;
			if (trim(document.getElementById("form1:txtCEP").value) != '')
				if (len(document.getElementById("form1:txtCEP").value) < 9) {
					alert('CEP inválido.');
					document.getElementById("form1:txtCEP").focus();
					return;
				}

			//--Verifica Telefone
			if (document.getElementById("form1:txtDDDTel").value != '') {
				if (len(document.getElementById("form1:txtDDDTel").value) < 2) {
					alert('DDD Telefone inválido.');
					document.getElementById("form1:txtDDDTel").focus();
					return;
				}

				if (document.getElementById("form1:txtTelefone").value == '') {
					alert('Telefone inválido.');
					document.getElementById("form1:txtTelefone").focus();
					return;
				}

				if (len(document.getElementById("form1:txtTelefone").value) < 9) {
					alert('Telefone inválido.');
					document.getElementById("form1:txtTelefone").focus();
					return;
				}
			}

			if (document.getElementById("form1:txtTelefone").value != '') {
				if (len(document.getElementById("form1:txtTelefone").value) < 9) {
					alert('Telefone inválido.');
					document.getElementById("form1:txtTelefone").focus();
					return;
				}

				if (document.getElementById("form1:txtDDDTel").value == '') {
					alert('DDD Telefone inválido.');
					document.getElementById("form1:txtDDDTel").focus();
					return;
				}

				if (len(document.getElementById("form1:txtDDDTel").value) < 2) {
					alert('DDD Telefone inválido.');
					document.getElementById("form1:txtDDDTel").focus();
					return;
				}

			}
			//--Fim Verifica Telefone        

			//--Verifica Celular
			if (document.getElementById("form1:txtDDDCel").value != '') {
				if (len(document.getElementById("form1:txtDDDCel").value) < 2) {
					alert('DDD Celular inválido.');
					document.getElementById("form1:txtDDDCel").focus();
					return;
				}

				if (document.getElementById("form1:txtCelular").value == '') {
					alert('Celular inválido.');
					document.getElementById("form1:txtCelular").focus();
					return;
				}

				if (len(document.getElementById("form1:txtCelular").value) < 9) {
					alert('Celular inválido.');
					document.getElementById("form1:txtCelular").focus();
					return;
				}
			}

			if (document.getElementById("form1:txtCelular").value != '') {
				if (len(document.getElementById("form1:txtCelular").value) < 9) {
					alert('Celular inválido.');
					document.getElementById("form1:txtCelular").focus();
					return;
				}

				if (document.getElementById("form1:txtDDDCel").value == '') {
					alert('DDD Celular inválido.');
					document.getElementById("form1:txtDDDCel").focus();
					return;
				}

				if (len(document.getElementById("form1:txtDDDCel").value) < 2) {
					alert('DDD Celular inválido.');
					document.getElementById("form1:txtDDDCel").focus();
					return;
				}

			}
			//--Fim Verifica Celular

			return true;
		}

		function VerificaData(aObj) {
			if (aObj.value != '' && aObj.value != '__/__/____')
				if (!isDateString(aObj.value)) {
					alert("Data inválida.");
					aObj.focus();
				}
		}
		
		function changeEndeSelect() {
			console.log("changed");
			callChangeSelectRemote();
		}

		//]]>
	</script>
	<style>
		.txtReadyOnly {background: #DEEFE3 !important}
		.titulo-tabela{font-size: 12px;}
	</style>
</h:head>

<h:body>
	<h:form id="form1">
		<table width="100%" border="0"
			style="background-color: Red; color: White">
			<tr>
				<td colspan="3">Pessoas Relacionadas ao Processo > Pessoas Envolvidas</td>
				<td align="left"><b>Nº OS:
						#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.os}</b></td>
			</tr>
			<tr>
				<td colspan="8"><b>Detalhes Pessoas Envolvidas</b></td>
			</tr>
			<tr>
				<td><b>Nº Matrícula:
						#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.matricula}</b></td>
				<td><b>Nome:
						#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.nome}</b></td>
				<td><b>CPF:
						#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.cpf_cnpj}</b></td>
				<td><b>Participação:
						#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.participacao}
				</b></td>
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>

		<!-- OS ASSOCIADAS  -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><h:graphicImage align="absmiddle"
						value="../images/seta_vermelha.gif" /> <b>OS's Associadas</b></td>
			</tr>
		</table>
		<p:fieldset styleClass="PanelTitle" style="padding: 0">
			<table width="75%" border="0" cellpadding="1" cellspacing="1">
				<tr style="background-color: gray; color: White">
					<td width="20%"><b>Nº da OS</b></td>
					<td><b>Área Pertinente</b></td>
					<td colspan="2"><b>Status</b></td>
				</tr>
				<ui:repeat var="osAssociada"
					value="#{cadastroOsDetalheEnvolvClieBean.objRsOsAssociadas}">
					<tr>
						<td><h:outputText value="#{osAssociada.ORDEM}"></h:outputText></td>
						<td><h:outputText value="#{osAssociada.AREA}"></h:outputText></td>
						<td><h:outputText value="#{osAssociada.STATUS}"></h:outputText></td>
					</tr>
				</ui:repeat>
			</table>
		</p:fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>

		<!-- DADOS CADASTRAIS -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><img align="absmiddle"
					src="../images/seta_vermelha.gif" /> <b>Dados Cadastrais</b>
				</td>
			</tr>
		</table>
		<fieldset class="PanelTitle">
			<table width="70%" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td width="13%">RG:</td>
					<td width="17%">
						<p:inputText styleClass="txtReadyOnly" id="Text1" type="text" style="width: 80px" value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.rg}" readonly="true" />
					</td>
					<td width="15%">Orgão Emissor:</td>
					<td width="8%">
						<p:inputText styleClass="txtReadyOnly" id="Text2" type="text" style="width: 35px" value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.orgaoEmissor}" readonly="true"/>
					</td>
					<td width="13%">Data Emissão:</td>
					<td width="13%">
						<p:inputText styleClass="txtReadyOnly" id="Text3" type="text" style="width: 75px" value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.dtEmissaoRg}" readonly="true" />
					</td>
				</tr>
				<tr>
					<td>Profissão:</td>
					<td colspan="2">
						<p:inputText styleClass="txtReadyOnly" id="Text4" type="text" style="width: 180px" value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.profissao}" readonly="true" />
					</td>
				</tr>
				<tr>
					<td>Renda (R$):</td>
					<td>
						<p:inputText styleClass="txtReadyOnly" id="Text6" type="text" style="width: 80px; text-align: right"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.renda}" readonly="true" />
					</td>
				</tr>
				<tr>
					<td colspan="4">Data da última alteração do endereço: 
						<p:inputText styleClass="txtReadyOnly" id="Text7" type="text" style="width: 60px" value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.dtUltiAltrEnde}" readonly="true"/>
					</td>
				</tr>
				<tr style="height: 5px">
					<td colspan="10"></td>
				</tr>
				<tr>
					<td colspan="6">
						<p:selectOneMenu onchange="changeEndeSelect();" id="enderecoSelect" value="#{cadastroOsDetalheEnvolvClieBean.selectedEndereco}">
							<f:selectItems value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeClienteSelect}" var="endeCliente" itemLabel="#{endeCliente.tipo eq 1 ? 'Endereço Principal' : 'Endereço Adicional'}" itemValue="#{endeCliente.sqEnde}"></f:selectItems>
						</p:selectOneMenu>
					</td>
				</tr>
			</table>
			<div id="divEndereco">
				<h:panelGroup id="dadosEndereco">
					<table width="60%" border="0" cellpadding="1" cellspacing="1">
						<tr>
							<td width="16%">Endereço:</td>
							<td width="42%">
								<p:inputText styleClass="txtReadyOnly" id="Text8"
								type="text" style="width: 220px" value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.logradouro}"
								readonly="true" />
							</td>
							<td width="10%">Número:</td>
							<td>
								<p:inputText styleClass="txtReadyOnly" id="Text9" type="text"
								style="width: 40px" value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.numero}" readonly="true" />
                           </td>
						</tr>
						<tr>
							<td>Complemento:</td>
							<td>
								<p:inputText styleClass="txtReadyOnly" id="Text10" type="text"
								value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.complemento}" readonly="true" />
							</td>
							<td>Bairro:</td>
							<td>
								<p:inputText styleClass="txtReadyOnly" id="Text11" type="text"
								value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.bairro}" readonly="true" />
							</td>
						</tr>
						<tr>
							<td>CEP:</td>
							<td colspan="3">
								<p:inputText styleClass="txtReadyOnly" id="Text14"
								type="text" value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.cep}" readonly="true" />
							</td>
						</tr>
						<tr>
							<td>Cidade:</td>
							<td>
								<p:inputText styleClass="txtReadyOnly" id="Text15" type="text"
								style="width: 220px" value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.cidade}" readonly="true" />
							</td>
							<td>Estado:</td>
							<td>
								<p:inputText styleClass="txtReadyOnly" id="Text55" type="text"
								style="width: 40px" value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.uf}" readonly="true" />
							</td>
						</tr>
						<tr>
							<td>Telefone:</td>
							<td>
								<p:inputText styleClass="txtReadyOnly" id="Text12" name="Text12"
								type="text" value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.telefone}" readonly="true" />
							</td>
							<td>Celular:</td>
							<td>
								<p:inputText styleClass="txtReadyOnly" id="Text16" name="Text16"
								type="text" value="#{cadastroOsDetalheEnvolvClieBean.objRsEndeCliente.celular}" readonly="true" />
							</td>
						</tr>
					</table>
				</h:panelGroup>
			</div>
		</fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>
		<!--  -->

		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle">
				<h:graphicImage value="../images/seta_vermelha.gif" align="absmiddle" /> <b>Endereço Apurado</b>
				</td>
			</tr>
		</table>


		<p:fieldset styleClass="PanelTitle">
			<table width="60%" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td width="16%">Rua/Avenida:</td>
					<td width="42%"><p:inputText id="txtRua" name="txtNome"
							type="text" style="width:220px"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.endereco}"
							maxlength="30" /></td>
					<td width="10%">Número:</td>
					<td>
						<p:inputText id="txtNumero" name="txtNumero" type="text"
							style="width:40px"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.numero}"
							onkeypress="BlockKeybord();" maxlength="5" />
					</td>
				</tr>
				<tr>
					<td>Complemento:</td>
					<td>
						<p:inputText id="txtComplemento" name="txtComplemento"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.complemento}"
							maxlength="30" />
					</td>
					<td>Bairro:</td>
					<td>
						<p:inputText id="txtBairro" name="txtBairro" type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.bairro}"
							maxlength="30" />
					</td>
				</tr>
				<tr>
					<td>CEP:</td>
					<td colspan="3"><p:inputText id="txtCEP" name="txtCEP"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.cep}"
							onkeypress="MascaraCEP(this);" maxlength="9" /></td>
				</tr>
				<tr>
					<td>Telefone:</td>
					<td>
						<p:inputText type="text" id="txtDDDTel" name="txtDDDTel"
						style="width:25px; margin-right: 5px" maxlength="2"
						value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.dddTelefone}"
						onkeypress="BlockKeybord();" />
						<p:inputText id="txtTelefone"
						name="txtTelefone" type="text"
						value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.numeroTelefone}"
						onkeypress="MascaraTel(this)" maxlength="9" />
					</td>
					<td>Celular:</td>
					<td>
						<p:inputText type="text" id="txtDDDCel" name="txtDDDCel"
							style="width:25px; margin-right: 5px" maxlength="2"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.dddCelular}"
							onkeypress="BlockKeybord();" />
						<p:inputText id="txtCelular"
							name="txtCelular" type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.numeroCelular}"
							onkeypress="MascaraTel(this)" maxlength="9" style="width:100px"/>
					</td>
				</tr>
			</table>
		</p:fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle">
					<h:graphicImage
						value="../images/seta_vermelha.gif" align="absmiddle" /> <b>Posição
						de Risco na Data de Abertura da OS -
						#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.dt_abertura}
						- (R$)</b>
				</td>
			</tr>
		</table>

		<p:fieldset styleClass="PanelTitle">
			<table width="50%" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td colspan="3">Operações Ativas</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td width="8%"></td>
					<td width="28%">- A Vencer:</td>
					<td><p:inputText id="txtVencer" style="text-align:right"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.oper_vencer}"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
							maxlength="14" /></td>
				</tr>
				<tr>
					<td width="8%"></td>
					<td width="28%">- Vencida:</td>
					<td><p:inputText id="txtvencida" style="text-align:right"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.oper_vencida}"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
							maxlength="14" /></td>
				</tr>
				<tr>
					<td></td>
					<td>- com Creli:</td>
					<td><p:inputText id="txtCreli" style="text-align:right"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.oper_creli}"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
							maxlength="14" /></td>
				</tr>
				<tr>
					<td></td>
					<td>- com Prejuízo:</td>
					<td><p:inputText id="txtPreju" style="text-align:right"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.oper_preju}"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
							maxlength="14" /></td>
				</tr>
				<tr style="height: 5px">
					<td colspan="3"></td>
				</tr>
				<tr>
					<td colspan="2">Operações Passivas:</td>
					<td><p:inputText id="txtObs" style="text-align:right"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.oper_passiva}"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
							maxlength="14" /></td>
				</tr>
				<tr>
					<td colspan="2">Reciprocidade:</td>
					<td><p:inputText id="txtReci" style="text-align:right"
							type="text"
							value="#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.reciprocidade}"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
							maxlength="14" /></td>
				</tr>
			</table>
		</p:fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>


		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color: red; height: 1px">
				<td></td>
			</tr>
			<tr style="background-color: red; color: White; height: 20px">
				<td valign="middle"><h:graphicImage
					value="../images/seta_vermelha.gif" align="absmiddle" /> <b>Restrições
					na Data de Abertura da OS -
					#{cadastroOsDetalheEnvolvClieBean.cadastroOsDetalheEnvolvClie.dt_abertura}</b>
				</td>
			</tr>
		</table>

		<table>

			<tr>
				<td><p:commandButton id="Button4" type="button"
						value="Inserir Lançamento em Branco" onclick="InsereLinha()" /></td>
				<p:remoteCommand name="btnInsereLinha"
					action="#{cadastroOsDetalheEnvolvClieBean.insereLinha}"
					update="tblPrincipal" />
			</tr>
		</table>

		<p:fieldset styleClass="PanelTitle" style="padding: 0">
			<!-- <div id="divOverFlow"
						style="overflow: auto; width: 100%; height: 1px;" align="left"> -->

			<div id="divRestricao" name="divRestricao">
				<p:dataTable id="tblPrincipal" paginator="false" var="result"
					value="#{cadastroOsDetalheEnvolvClieBean.objRsRest}"
					rowIndexVar="index" emptyMessage="">
					<p:column headerText="&#35;" style="width:30px" styleClass="titulo-tabela">
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>
					<p:column headerText="Instituição" styleClass="titulo-tabela">
						<p:inputText type="text" id="txtiCountLinhasInst"
							value="#{result.INSTITUICAO}" maxlength="20" />
					</p:column>
					<p:column headerText="Especificação" styleClass="titulo-tabela">
						<p:inputText type="text" id="txtiCountLinhasEspec"
							value="#{result.ESPECIFICACAO}" maxlength="20" />
					</p:column>
					<p:column headerText="Valor" styleClass="titulo-tabela">
						<p:inputText type="text" id="txtiCountLinhasValor"
							value="#{result.VALOR}" maxlength="20"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2);" />
					</p:column>
					<p:column headerText="Data Inclusão" styleClass="titulo-tabela">
						<p:inputMask type="text" mask="99/99/9999"
							onblur="VerificaData(this)" id="txtiCountLinhasData"
							value="#{result.DATA}" maxlength="10" />
					</p:column>
					<p:column headerText="" width="5%"
						rendered="#{!result.SQ_RESTRICAO.isEmpty()}">
						<p:commandButton align="absmiddle" icon="btn-excluir"
							styleClass="btn-limpar" id="btExcluir" onclick="Excluir(#{result.SQ_RESTRICAO})"
							alt="Excluir Restrição" />
						
					</p:column>
				</p:dataTable>

			</div>
			<!-- <p:inputText type="hidden" id="hdnTotalLinhas"
							name="hdnTotalLinhas" value="" /> -->
			<!-- </div> -->
		</p:fieldset>

		<table>
			<tr style="height: 3px">
				<td></td>
			</tr>
		</table>
		<div class="row-buttons">
			<p:commandButton value="Salvar" type="button" onclick="Salvar()" />
			<p:remoteCommand name="btnSalvar"
				action="#{cadastroOsDetalheEnvolvClieBean.salvar}"
				update="tblPrincipal" />

			<p:commandButton value="Voltar" type="button" onclick="Voltar()" />
		</div>
		
		<p:remoteCommand name="callChangeSelectRemote" update="form1:dadosEndereco" actionListener="#{cadastroOsDetalheEnvolvClieBean.consultarEndeCliente}"></p:remoteCommand>
		<p:remoteCommand name="excluirRemoteCommand" action="#{cadastroOsDetalheEnvolvClieBean.excluir}" update="tblPrincipal"/>
		<p:remoteCommand name="btnExcluir" action="#{cadastroOsDetalheEnvolvClieBean.fnExcluiRestricao}" update="tblPrincipal"></p:remoteCommand>
	</h:form>
</h:body>
</html>