<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/templates/template.xhtml">
<ui:define name="content" >
      
<h:head> 
 
<title></title>
<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" type="text/css" media="screen"/>
<script type="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
<script type="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
<script type="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
     <script type="text/javascript" language="javascript">
		//<![CDATA[ 
        
      	function Pesquisar() {   
      		callPesquisar();
        }
      	
      	function cellEvent() {
      		$('.gridCellSelect').click(function() {
        		$(this).parents("tr").next().find("table").toggle();
        	});
      	}
      	
      	window.onload = function() {
      		$('.gridCellSelect').click(function() {
        		$(this).parents("tr").next().find("table").toggle();
        	});
      	}
        
        function ExibeArquivo(fileId)
	    {
        	console.log(document.getElementsByClassName('download-'+fileId)[0]);
	    	document.getElementsByClassName('download-'+fileId)[0].click();
	    }
        
           //]]>	
	</script>
</h:head>
<h:body > 
	<iframe src="titulo.xhtml?strTitulo=Treinamento - Pesquisa" frameborder="0" width="100%" height="27"></iframe>

	<fieldset> 
		<h:form id="frm" name="frm">
			<table border="0">
			    <tr heigth="25">
			        <td>Período:</td>
			        <td>
			        	<p:calendar id="txtDtInicio" value="#{treinamentoPesq.txtDtInicio}" alt="Calendario" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" style="width: 60px;" />
	     				<p:calendar id="txtDtFim" value="#{treinamentoPesq.txtDtFim}" alt="Calendario" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" style="width: 60px;" />	     
			        </td>
			    </tr>
			    <tr heigth="25">
			        <td>Nome:</td>
			        <td>
			        	<p:inputText id="txtNome" name="txtNome" style="width:100%" maxlength="30" value="#{treinamentoPesq.txtNome}"></p:inputText>
	        		</td>
			        <td width="20"></td>
			        <td>Local:</td>
			        <td>
			            <p:selectOneMenu id="cboLocal" value="#{treinamentoPesq.cboLocal}" style="width:125px">	            
			    			<f:selectItem itemLabel="..." itemValue="" />
			    			<f:selectItems value="#{treinamentoPesq.objRsLocalTrein}" var="objRsLocal" itemLabel="#{objRsLocal.nome}" itemValue="#{objRsLocal.codigo}" />
				        </p:selectOneMenu>
			        </td>
			        <td align="right" width="40">
			        	<p:graphicImage value="../images/lupa.gif" style="cursor: pointer;" alt="Pesquisar" onclick="Pesquisar()"/>
			        </td>        
			    </tr>
			         
			</table>
			<table><tr style="height:3px"><td ></td></tr></table>

			<h:panelGroup id="searchTable">
				
				<table width="95%" cellpadding="0" cellspacing="0" border="0">
				    <tr style="background:gray; color:White; font-weight:bold">
				    	<td width="5%"></td>
				        <td width="30%">Nome</td>
				        <td width="15%">Data</td>
				        <td width="20%">Total<br />Participantes</td>
				        <td width="25%">Local</td>
				        <td>Anexos</td>
				    </tr>
				    
				    <h:panelGroup rendered="#{treinamentoPesq.objTreinEOF}">
			            <tr height="30"><td colspan="5" align="center"><b>Nenhum treinamento encontrado!</b></td></tr>
				    </h:panelGroup>
				    
				    <p:selectOneRadio id="radioList" value="#{treinamentoPesq.selectedRadio}" layout="custom">
				    	<f:selectItems var="radio" value="#{treinamentoPesq.objRsTrein}" itemLabel="" itemValue="#{radio.codigo}"></f:selectItems>
				    </p:selectOneRadio>
		            
		            <ui:repeat var="objTrein" value="#{treinamentoPesq.objRsTrein}" varStatus="status">
		                <tr height="23" style="background: #{(status.index mod 2 eq 0) ? '#FFFFFF' : '#E8E8E8'}">
		                	<td style="background: #{(status.index mod 2 eq 0) ? '#FFFFFF' : '#E8E8E8'}">
		                		<p:radioButton for="frm:radioList" itemIndex="#{status.index}"></p:radioButton>
		                	</td>
		                    <td>#{objTrein.nome}</td>
		                    <td>#{objTrein.data}</td>
		                    <td>#{objTrein.qtde}</td>
		                    <td>#{objTrein.local}</td>
		                    <td align="center">
			                    <h:panelGroup rendered="#{!empty objTrein.anexos}">
			                           <p:graphicImage style="cursor: pointer;" 
			                           align="absmiddle" 
			                           height="15" 
			                           value="../images/documento.gif" 
			                           alt="Clique para visualizar os anexos"
			                           styleClass="gridCellSelect"
			                           />
			                    </h:panelGroup>
		                    </td>
		                </tr>
		                <tr>
			                <td colspan="6">
			                    <table id="tr#{objTrein.codigo}" border="0" style="display:none;">
			                    <ui:repeat var="objAnexo" value="#{objTrein.anexos}" varStatus="statusAnexo">
				                     <tr>
				                         <td colspan="6">
			                             	 <p:graphicImage onclick="ExibeArquivo('#{status.index}')" style="cursor: pointer; margin-left: 35px;" value="../images/documento.gif"/>
			                             	 <p:commandLink onclick="ExibeArquivo('#{status.index}')" value="#{objAnexo.getFileName()}"></p:commandLink>
					                         <h:commandButton id="fileIdParam" actionListener="#{treinamentoPesq.saveFile(objAnexo.nmCamiAnex)}" styleClass="download-#{status.index}" style="display:none;">
									         	<p:fileDownload value="#{treinamentoPesq.file}"></p:fileDownload>
				        					 </h:commandButton>
				                         </td>
				                     </tr>
			                    </ui:repeat>
			                    </table>
							</td>
		            	</tr>
		            </ui:repeat>
				</table>
			</h:panelGroup>

			<p:commandButton actionListener="#{treinamentoPesq.alterar}" style="float:right; margin: 12px;" value="Alterar" id="alterar"></p:commandButton>

			<p:remoteCommand name="callPesquisar" update="searchTable" actionListener="#{treinamentoPesq.pesquisar}" oncomplete="cellEvent();"></p:remoteCommand>
			
		</h:form>
	</fieldset>
	
</h:body>
</ui:define>
</ui:composition>
