<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
 	<title>Administração - Gerencial - Produtos Auxiliares</title>
 	    <link type="text/css" media="screen" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" />
        <link type="text/css" rel="stylesheet" media="screen" href="#{request.contextPath}/css/hy_slk-style.css" />
        <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
        <script language="javascript">
        	//<![CDATA[        		
        		function tamanhoCabecalho() {
					document.getElementById('frm:txtAddPAux').value = "";
        			var $leftHeader = $('.ui-datatable-frozenlayout-left .ui-datatable-scrollable-header-box tr');
        			var $rightHeader = $($($('.ui-datatable-frozenlayout-right .ui-datatable-scrollable-header-box tr')[0])[0].cells[1]).eq(0).outerHeight();
        			$leftHeader.outerHeight($rightHeader)
        		};    		
        		
        		window.onload = function () {
        			PF('statusDialog').show();
        			tamanhoCabecalho();		
        		};
        		
    			function Voltar() {
    				window.open('HY_Adm_Ger_Manut.xhtml', '_self', '');    
    			}
    			
    			function Adicionar() {
    			    var objTxtPAux = document.getElementById('frm:txtAddPAux');
    			    
    			    if(objTxtPAux.value == '') {
    			        alert("Digite o nome da Penalidade."); return;
    			    }
    				
    			    if(!ValidaNomesAdd())  {
    			    	alert('Nome já existente!\nEscolha outro Nome!'); return;
    				}
    			    
    			    if ( confirm('Deseja incluir o Produto Auxiliar ' + objTxtPAux.value + '?') ) {
    			    	adicionarRemoteCommand();
    			    }  else {
    			    	//txtAddPAux.value = ''; 
    			    	txtAddPAux.focus();      
    			    }
    			}
    			
    			function Salvar() {    				
    			    if(!ValidaNomesSalvar())  {
    			    	alert('Nome já existente!\nEscolha outro Nome!'); return;
    				}
    			    
    			    if( confirm('Deseja salvar todas as alterações?') ) {			    	
    			    	paramPAux = ""
        			    arrIdPAux = document.getElementsByClassName('jsIdPAux');
    			    	arrPAux = document.getElementsByClassName('jsPAux');
    			    	arrPAuxSla = document.getElementsByClassName('jsPAuxSla');
    			    	arrPAuxOpDeb = document.getElementsByClassName('jsPAuxOpDeb');
    			    	arrPAuxOpCred = document.getElementsByClassName('jsPAuxOpCred');
    			    	
    			    	for(var i = 0; i < arrIdPAux.length; i++) {
    			    		paramPAux += arrIdPAux[i].value + "|" + arrPAux[i].value + "|" + arrPAuxSla[i].value + "|" + document.getElementById(arrPAuxOpDeb[i].id+'_input').checked + "|" + document.getElementById(arrPAuxOpCred[i].id+'_input').checked
    			    		if (i!=(arrIdPAux.length-1))
    			    			paramPAux += "@"
        			    }  
    			    	
    			    	paramCanaisPAux = ""
        			    arrCanaisPAuxCod = document.getElementsByClassName('canaisPAuxCod');
    			    	arrCanaisPAux = document.getElementsByClassName('canaisPAux');
    			    	for (i=0;i<arrCanaisPAux.length;i++){
    			    		paramCanaisPAux += arrCanaisPAuxCod[i].value + "|" + document.getElementById(arrCanaisPAux[i].id+'_input').checked
    			    		if (i!=(arrCanaisPAux.length-1))
    			    			paramCanaisPAux += "@"
    			    	}
    			    	salvarRemoteCommand([{name:"arrPAux", value:paramPAux},{name:"arrCanaisPAux", value:paramCanaisPAux}]);
    			    }
    			}
    			
    			function Deletar(idPAux, strNomePAux) {			    
    			    if( confirm("Deseja excluir o Produto Auxiliar " + strNomePAux + "?") ) {
    			    	deletarRemoteCommand([{name:"CodPAux", value:idPAux}]);
    			    }    
    			}
        		
    			function ValidaNomesAdd() {
    				var arrNomes = new Array();
    			    var objTxtAdd = document.getElementById('frm:txtAddPAux')
    			    
    			    arrNomes = document.getElementsByClassName('jsPAux');

    			    for(var i = 0; i < arrNomes.length; i++) {
    			        if(arrNomes[i].value.toUpperCase() == objTxtAdd.value.toUpperCase()) {                
    			            return false;
    			        }
    			    }
    			    return true;
    			}
    	
    			function ValidaNomesSalvar(){
    		        var arrNomes = document.getElementsByClassName('jsPAux');
    				     
    				for(var i = 0; i < arrNomes.length; i++) {
    					for(var j = 0; j < arrNomes.length; j++) {            
    				    	if(i != j) {
    				        	if(arrNomes[i].value.toUpperCase() == arrNomes[j].value.toUpperCase()) {
    				            	return false;
    				            }
    				        }
    				    }
    				}
    		    	return true;
    		    } 			
    	 		
    	    	function SetUnload(valor) {
    	    		document.getElementById('frm:txtHdUnload').value = valor;	    		
    	    	}
        	//]]>
        </script>
		<style>
			.no-paginator-top .ui-paginator-top,
			.table-no-header thead {
				display: none;
			}
			
			.ui-datatable-frozenLayout-left {width: 20%}
			.ui-datatable-frozenLayout-right {width: 80%}
	
			.ui-datatable-scrollable-theadclone {visibility: collapse; }
		</style>    
</h:head>
<h:body styleClass="PanelTitle">

     <ui:include src="loadingStatus.xhtml" />

	 <iframe src="titulo.xhtml?strTitulo=Administração - Gerencial - Operações Auxiliares" frameborder="0" width="100%" height="27"></iframe>
	 <table width="100%" border="0" style="background-color:Red; color:White;" cellpadding="1" cellspacing="1">
	     <tr height="25">
	         <td>
	            &nbsp;&nbsp;
	            <a href="hyb_Adm_Ger_Manut_Eventos.xhtml" style="color:White"><b>[ Eventos ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;            
	            <a href="hyb_Adm_Ger_Manut_Canais.xhtml" style="color:White"><b>[ Canais ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
	            <a href="hyb_Adm_Ger_Manut_PCorp.xhtml" style="color:White"><b>[ Operações Corporativas ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
	            [ Operações Auxiliares ]
	            &nbsp;&nbsp;
	         </td>
	     </tr>    
	 </table>
	 
	 <h:form id="frm" name="frm">
	 
	 	<p:remoteCommand name="onload" action="#{AdmGerManutPAuxBean.montarListaPAux_Lazy}" autoRun="true" update="frm:dataPAux" />
 	 
		<div class="row-inputTop">
			<h:outputLabel for="txtAddPAux" value="Descrição da Operação (30 caracteres):" /><br />			
			<p:inputText name="txtAddPAux" id="txtAddPAux" type="text" maxlength="30" size="30" value="#{AdmGerManutPAuxBean.txtAddPAux}" style="margin-right:6px; width:200px" />
			<p:commandButton id="btAdicionar" onclick="Adicionar()" value="Adicionar" />
		</div>
		
		<p:outputPanel>
			<p:dataTable 
				id="dataPAux"
		        var="paux"
			    value="#{AdmGerManutPAuxBean.objRsAdmPAux}"
				paginator="true"
				paginatorPosition="bottom"
				rows="9"
	            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
	            currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
				scrollable="true"
				frozenColumns="1"
				scrollWidth="600"
				emptyMessage="#{AdmGerManutPAuxBean.emptyMessage}"
				lazy="true"
			 >
				<p:columnGroup type="frozenHeader">
					<p:row>
						<p:column headerText="Produto Auxiliar" width="150" />
					</p:row>
				</p:columnGroup>
				
				<p:columnGroup type="scrollableHeader">
					<p:row>
						<p:column colspan="#{AdmGerManutPAuxBean.objRsAdmCanaisPAux.size()}" headerText="Canais" width="#{AdmGerManutPAuxBean.objRsAdmCanaisPAux.size()*150}" />
						<p:column rowspan="2" headerText="SLA" width="150"/>
						<p:column colspan="2" headerText="Tipo Operação" width="120" />
						<p:column rowspan="2" width="50"/>
					</p:row>
					<p:row>
						<c:forEach var="pauxCanais" items="#{AdmGerManutPAuxBean.objRsAdmCanaisPAux}" varStatus="canais" >
							<p:column headerText="#{pauxCanais.NOME}" width="150" />
				    	</c:forEach>
						<p:column headerText="Débito" width="60" />
						<p:column headerText="Crédito" width="60" />
					</p:row>
				</p:columnGroup>
				
				<p:column width="150">
			    	<p:inputText styleClass="jsIdPAux" name="txtIdPAux" id="txtIdPAux" type="hidden" value="#{paux.CODIGO}" />
					<p:inputText styleClass="jsPAux" name="txtPAux" id="txtPAux" type="text" value="#{paux.NOME}" />
		        </p:column>
				<p:columns value="#{AdmGerManutPAuxBean.objRsAdmCanaisPAux}" var="pauxCanais" columnIndexVar="canais">
		       		<p:column width="150" style="align:center">
			    	    <input type="hidden" value="#{pauxCanais.CODIGO}_#{paux.CODIGO}" class="canaisPAuxCod" />
		       			<p:selectBooleanCheckbox value="#{AdmGerManutPAuxBean.isCanalPAuxChecked(pauxCanais.CODIGO, paux.CODIGO)}" styleClass="canaisPAux"/>
				    </p:column>
		    	</p:columns>
				<p:column width="150">
					<p:inputText styleClass="jsPAuxSla" value="#{paux.SLA}" id="sla" />
				</p:column>
				<p:column width="60" styleClass="align-center">
					<p:selectBooleanCheckbox styleClass="jsPAuxOpDeb" value="#{paux.OPERACAODEB}"/>
				</p:column>
				<p:column width="60" styleClass="align-center">
					<p:selectBooleanCheckbox styleClass="jsPAuxOpCred" value="#{paux.OPERACAOCRED}"/>
				</p:column>
			    <p:column width="50" styleClass="align-right">
				    <ui:fragment rendered="#{paux.EXCLUSAO == false}">
						<p:commandButton icon="btn-excluir" styleClass="btn-limpar" id="btExcluir" onclick="Deletar('#{paux.CODIGO}', '#{paux.NOME}' )" />
		            </ui:fragment>
			    </p:column> 
			</p:dataTable>
		</p:outputPanel>
		
		<table width="100%" class="bg-red w-100 align-right">
		    <tr height="25">
		        <td align="right">
			        <p:commandButton type="button" onclick="Salvar()" id="btnSalvar" value="Salvar" style="margin-right:6px" />
					<p:commandButton type="button" onclick="Voltar()" id="btnVoltar" value="Voltar" />
				</td>
		    </tr>    
		</table>

		<p:remoteCommand name="adicionarRemoteCommand" update="frm:dataPAux" actionListener="#{AdmGerManutPAuxBean.adicionar}"/>
		<p:remoteCommand name="deletarRemoteCommand" update="frm:dataPAux" actionListener="#{AdmGerManutPAuxBean.deletar}"/>
		<p:remoteCommand name="salvarRemoteCommand" update="frm:dataPAux" actionListener="#{AdmGerManutPAuxBean.salvar}"/>	
	 
	 </h:form>
 </h:body>
</ui:define></ui:composition>