<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="../templates/template.xhtml">

	<ui:define name="content">
<h:head>
    <title>Administração - Gerencial - Recurso Ocesp - Cadastrar</title>
       <link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
             type="text/css" media="screen" />
       <link rel="stylesheet"
             href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
       <script language="javascript"
              src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
       <script language="javascript"
              src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
       <script type="text/javascript"
              src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

	
	<script type="text/javascript">
        //<![CDATA[   	
		function fnValidaCampos(){
  		    //--CPF
  		    var strCPF = document.getElementById("frm:txtCpf").value;
  		    if (document.getElementById("frm:txtCpf").value.trim() == '') {
  		        alert("O campo CPF é obrigatório.");
  		      	document.getElementById("frm:txtCpf").focus();
  				return false;       
  		    }
  		    
  		    if (strCPF.length < 14) {
  		        alert("O campo CPF é inválido.");
  		      	document.getElementById("frm:txtCpf").focus();
		  		return false;       
  		    }
  		    
  		    //--Nome
  		    if (document.getElementById("frm:txtNome").value.trim() =='') {
  		        alert("O campo Nome é obrigatório.");
  		      	document.getElementById("frm:txtNome").focus();
		  		return false;           
  		    }
  		    
  		    //Area
  		    if(document.getElementById("frm:cboArea_input").value == '') {
  		        alert("A escolha da Área é obrigatória.");
		  		document.getElementById("frm:cboArea_input").focus();
		  		return false;  
  		    }

  		    //--Email    
  		    if (document.getElementById("frm:txtEmail").value.trim()=='') {
  		        alert("O campo E-mail é obrigatório.");
  		      	document.getElementById("frm:txtEmail").focus();
		  		return false;           
  		    }            
  		    
  		  
  		    if(!isEmail(document.getElementById("frm:txtEmail").value)) {
  		        alert("E-mail inválido.");
  		      	document.getElementById("frm:txtEmail").focus();
		  		return false;                   
  		    }

	  		//-- Remuneração
	  		if (document.getElementById("frm:txtVlRemuneracao_input").value == '')	{
		  		alert('O campo Remuneração é obrigatório.')
		  		document.getElementById("frm:txtVlRemuneracao_input").focus();
		  		return false;
	  		}
	  		//-- Remuneração
	  		if (!ValidaRemuneracao(document.getElementById("frm:txtVlRemuneracao_input").value)) {
		  		alert('Valor da Remuneração inválido!')
		  		document.getElementById("frm:txtVlRemuneracao").focus();
		  		return false;
	  		}
	
	  		//-- Tipo Remuneração
  		    if(!(document.getElementsByName("frm:rdoTipoRemu")[0].checked || document.getElementsByName("frm:rdoTipoRemu")[1].checked)) {
  		        alert("Selecione o tipo de remuneração.");
		  		document.getElementsByName("frm:rdoTipoRemu")[0].focus()
		  		return false;                           
  		    }
 		    
  		    return true;
  		    
  		}
		
		function ValidaRemuneracao(strRemu) {
			var arrRemu = new Array();
			arrRemu = strRemu.split(',');
			
			if (arrRemu.length > 2) {
			    return false;
			}
			else if (arrRemu.length == 1){
				return true;
			}
			else if (arrRemu.length == 2) {  
			    if(arrRemu[1].length > 2)
			        return false;
			}  
			return true;
		}
		
		
		function cadastrar(){
			var arrTpRemuneracao = new Array();    
		    arrTpRemuneracao = document.getElementsByName("frm:rdoTipoRemu");
		    
		    //document.forms[0].txtHdUnload.value = '0'; // zera o flag unload
			if(!fnValidaCampos() )
				return false;
			
			
		    if(confirm("Deseja Cadastrar o Novo Recurso?")){
				
				/*for(var i = 0; i < arrTpRemuneracao.length; i++)
		        {
		            if(arrTpRemuneracao[i].checked == true)
		            {
		                //document.forms[0].txtHdTipoRemuneracao.value = arrTpRemuneracao[i].value;            
		                //break;
		            }
		        }*/
		        
		        //document.forms[0].txtHdCpfSuperior.value = ifrmPesqSup.document.forms[0].txtCpfSuperior.value
		        
		        //document.forms[0].action = 'HY_Adm_Ger_Manut_Rec_Cad.asp';
		        //document.forms[0].txtHdAction.value = 'C'; // C - cadastrar
		        remoteCommandCadastrar();  
			}
			
		}
		
		function alterar(){
			console.log("chama alterar");
			var arrTpRemuneracao = new Array();    
		    arrTpRemuneracao = document.getElementsByName("frm:rdoTipoRemu");
		    
		    //document.forms[0].txtHdUnload.value = '0'; // zera o flag unload
			if(!fnValidaCampos() )
				return false;
			
			
		    if(confirm("Deseja alterar as informações")){
		    	remoteCommandAlterar();
		    }
		    
		}

		function limpar() {
		    var arrElem = new Array();    
		    var arrElemIFrame = new Array();
		    var arrInputCheck = new Array();
		    //arrElem = document.forms[0].elements
		    arrElem = document.querySelectorAll('form input');
		    for(var i = 0; i < arrElem.length; i++) {
		        if(arrElem[i].type == 'text' && arrElem[i].id != "frm:txtCpfSuperior" && arrElem[i].id != "frm:txtNomeSuperior" && arrElem[i].id != "frm:txtVlRemuneracao_input") {
		            arrElem[i].value = '';
		        }
		        if(#{admGerManutRecCadBean.alteracao} == false && (arrElem[i].id == "frm:txtCpfSuperior" || arrElem[i].id == "frm:txtNomeSuperior" || arrElem[i].id == "frm:txtVlRemuneracao_input") ){
		        	arrElem[i].value = '';
		        }
		        
		        
		        /* 
		        if(arrElem[i].type == 'radio') {
		            arrElem[i].checked = false;    
		        } */
		    }
		    		    
		    arrInputCheck = document.querySelectorAll('[name="frm:rdoTipoRemu"]');
		    for(var i = 0; i < arrInputCheck.length; i++) {
		    	arrElem[i].checked = false;
		    }
		    
		    
		    //arrElemIFrame = ifrmPesqSup.document.forms[0].elements
		   /*  for(var i = 0; i < arrElemIFrame.length; i++) {
		        if(arrElemIFrame[i].type == 'text'){
		            arrElemIFrame[i].value = ''; 
		        }
		    } */
		    
		    remoteCommandresetaCampos();

		}
		
		 function Pesquisar() {
		        /* var strCpfSuperior = document.forms[0].txtCpfSuperior.value; */
		        var strCpfSuperior = document.getElementById('frm:txtCpfSuperior').value;
		        /* document.forms[0].txtNomeSuperior.value = '' */
		        document.getElementById('frm:txtNomeSuperior').value = '';
		        /* if (document.forms[0].txtCpfSuperior.value == '') { */
		        if (strCpfSuperior == '') {
		          alert('Preencha o CPF do superior.');
		          /* document.forms[0].txtCpfSuperior.focus(); */
		          document.getElementById('frm:txtCpfSuperior').focus();
		          return;
		      	}
		      	if (strCpfSuperior.length < 14) {
	      		  alert('O campo CPF do superior é inválido.');
		          /* document.forms[0].txtCpfSuperior.focus(); */
		          document.getElementById('frm:txtCpfSuperior').focus();
		          return;
		      	}    
	      	 	/* document.forms[0].submit(); */
		      	pesquisarRemoteCommand();
	  		}
		
		function voltar(){
			window.location.href = "hyb_adm_ger_manut.xhtml";
		}

    //]]>
    </script>
    <style>
    	.input-readonly{background: #DEEFE3}
    </style>
 </h:head>
<h:body class="PanelTitle" style="height:100%">
	<h:form id="frm" class="formManutRecCad" name="frm" method="post">
			
			
			<p:row rendered="#{!admGerManutRecCadBean.alteracao}">
				<iframe src="titulo.xhtml?strTitulo= Administração - Gerencial - Recurso Ocesp - Cadastrar" frameborder="0" width="100%" height="27">
				</iframe>
			</p:row>
			
			<p:row rendered="#{admGerManutRecCadBean.alteracao}">
				<iframe src="titulo.xhtml?strTitulo= Administração - Gerencial - Recurso Ocesp - Alterar" frameborder="0" width="100%" height="27">
				</iframe>
			</p:row>
			
			 
			<p:row rendered="#{!admGerManutRecCadBean.alteracao}">
			 <table width="100%" border="0" style="background-color:Red; color:White;" cellpadding="1" cellspacing="1">
    			<tr height="25">
        			<td>[ Cadastrar ] 
        				<p:commandLink action="#{admGerManutRecCadBean.paginaPesquisa}" style="color:White"><b>[ Pesquisar ]</b></p:commandLink>
			        </td>
			    </tr>    
			</table>
			</p:row>
			
			 <table>
			
			    <tr height="25">
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="txtCpf">CPF:<span style="color:maroon">*</span></p:outputLabel></td>
			        <td width="125">
			        	<p:inputMask styleClass="#{admGerManutRecCadBean.alteracao? 'input-readonly' : ''}" mask="999.999.999-99" id="txtCpf" name="strCpf" value="#{admGerManutRecCadBean.strCpf}" readonly="#{admGerManutRecCadBean.alteracao}"></p:inputMask>
			        </td>
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="txtNome" style="width: 250px">Nome:<span style="color:maroon">*</span></p:outputLabel></td>
        			<td colspan="3"><p:inputText id="txtNome" name="strNome" value="#{admGerManutRecCadBean.strNome}" maxlength="50" /></td>
        		</tr>
			    
			    <tr height="25">
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="txtLogin" value="Login:" /></td>
       				<td width="125"><p:inputText styleClass="inpStrLogin " id="txtLogin" name="strLogin" value="#{admGerManutRecCadBean.strLogin}" maxlength="8"/></td>
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="txtMatricula" value="Matricula:" /></td>
			        <td><p:inputText styleClass="inpStrMatricula " id="txtMatricula" name="strMatricula" value="#{admGerManutRecCadBean.strMatricula}" maxlength="10"/></td>
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="strCdCargo" value="Cargo:" /></td>
			        <td>
			        	<p:selectOneMenu id="strCdCargo" name="strCdCargo" styleClass="strCdCargo " value="#{admGerManutRecCadBean.strCdCargo}">
							<f:selectItem itemLabel="..." itemValue="" />
				            <f:selectItems value="#{admGerManutRecCadBean.objRsCargos}" var="cargo" itemLabel="#{cargo.NOME}" itemValue="#{cargo.CODIGO}"></f:selectItems>
				        </p:selectOneMenu>
					 </td>
			    </tr>
			    
			    <tr height="25">
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="strTpRecurso" value="Tipo Recurso:" /></td>
			        <td>
			        	<p:selectOneMenu id="strTpRecurso" name="strTpRecurso" styleClass="strTpRecurso " value="#{admGerManutRecCadBean.strTpRecurso}">
				            <f:selectItem itemLabel="..." itemValue="" />
				            <f:selectItem itemLabel="Funcionário" itemValue="1" />
				            <f:selectItem itemLabel="Estágiario" itemValue="2" />
				            <f:selectItem itemLabel="Prest. Serviço" itemValue="3" />
				        </p:selectOneMenu>
			        </td>
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="strCdSituacao">Situação:<span style="color:maroon">*</span></p:outputLabel></td>
			        <td>
						<p:selectOneMenu id="strCdSituacao" name="strCdSituacao" styleClass="strCdSituacao " value="#{admGerManutRecCadBean.strCdSituacao}">
				            <f:selectItems value="#{admGerManutRecCadBean.objRsSituacaoRecurso}" var="situacaoRecurso" itemLabel="#{situacaoRecurso.NOME}" itemValue="#{situacaoRecurso.CODIGO}"></f:selectItems>
				        </p:selectOneMenu>
			        </td>
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="cboArea">Área:<span style="color:maroon">*</span></p:outputLabel></td>
			        <td>
			        	<p:selectOneMenu id="cboArea" name="strCdArea" styleClass="strCdArea " value="#{admGerManutRecCadBean.strCdArea}">
							<f:selectItem itemLabel="..." itemValue="" />
				            <f:selectItems value="#{admGerManutRecCadBean.objRsArea}" var="area" itemLabel="#{area.NOME}" itemValue="#{area.CODIGO}"></f:selectItems>
				        </p:selectOneMenu>
			        </td>
        		</tr>
        		
        		<tr height="25">
			        <td><p:outputLabel styleClass="lbFormManutRecCad" for="txtEmail">E-mail:<span style="color:maroon">*</span></p:outputLabel></td>
			        <td colspan="3"><p:inputText styleClass="inpStrEmail" value="#{admGerManutRecCadBean.strEmail}" id="txtEmail" name="strEmail" maxlength="50"/></td>
			    </tr>
			    <tr height="25">
				    <td><p:outputLabel styleClass="lbFormManutRecCad" for="txtVlRemuneracao">Remuneração R$:<span style="color:maroon">*</span></p:outputLabel></td>
				    <td>
				    	<p:inputNumber value="#{admGerManutRecCadBean.strVlRemuneracao}" id="txtVlRemuneracao" name="strVlRemuneracao" decimalSeparator="," maxlength="9"></p:inputNumber>		        
				    	
				    </td>
				    <td><p:outputLabel for="rdoTipoRemu">Tipo:<span style="color:maroon">*</span></p:outputLabel></td>
				    <td colspan="3">
				    	<p:selectOneRadio id="rdoTipoRemu" value="#{admGerManutRecCadBean.strTpRemuneracao}">
				            <f:selectItem itemLabel="por mês (salário)" itemValue="1" /> <span>por mês (salário)</span>
				            <f:selectItem itemLabel="por hora" itemValue="2" /> <span>por hora</span>
				        </p:selectOneRadio>
				    </td>
			    </tr>
			</table>

			<table>
				<tr height="25">
					<td width="87">CPF Superior:</td>
					<td width="125">
						<p:inputMask id="txtCpfSuperior" mask="999.999.999-99" name="txtCpfSuperior"  type="text" value="#{admGerManutRecCadBean.cpfSuperior}"/>
						 
					</td>
					
					<td width="45">Nome:</td>
					<td colspan="3">
						<p:inputText id="txtNomeSuperior" maxlength="50" readonly="true" style="width:250px" type="text" value="#{admGerManutRecCadBean.nomeSuperior}"  styleClass="input-readonly"/>
					</td>
					
					<td align="right">
						<h:graphicImage alt="Pesquisar Superior Imediato" value="../images/lupa.gif" style="cursor:pointer" onclick="Pesquisar()"/>
					</td>
					
					<p:remoteCommand name="pesquisarRemoteCommand" action="#{admGerManutRecCadBean.pesquisar}" update="txtNomeSuperior" />
					
				</tr>
			</table>
			
			<table>
				<tr height="40"><td style="color:maroon"><b>( * ) Campos obrigatórios.</b></td></tr>
			</table>
	        
	        <div class="row-buttons">
	        	<p:commandButton value="Limpar Campos" type="button"  onclick="limpar()"/>
	        	<p:commandButton value="Cadastrar" type="button" onclick="cadastrar()" rendered="#{!admGerManutRecCadBean.alteracao}"/>
	        	<p:commandButton value="Salvar" type="button" onclick="alterar()" rendered="#{admGerManutRecCadBean.alteracao}"/>
	        	<p:commandButton value="Voltar" type="button" onclick="voltar()"/>
	        	<p:remoteCommand action="#{admGerManutRecCadBean.cadastrar}" name="remoteCommandCadastrar"></p:remoteCommand>
	        	<p:remoteCommand action="#{admGerManutRecCadBean.alterar}" name="remoteCommandAlterar"></p:remoteCommand>
	        	<p:remoteCommand action="#{admGerManutRecCadBean.resetaCampos}" name="remoteCommandresetaCampos" update="rdoTipoRemu"></p:remoteCommand>
	        	
	        </div>
	</h:form>

</h:body>
</ui:define>
</ui:composition>