<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

<!-- <ui:define name="content"> -->

<h:head>
	<title></title>
	<link rel="Stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script type="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<ui:insert name="javaScriptReference" />
	<style>
		.adicionar-lanchr{
			margin-top:20px;
		}
	
	</style>

	<script type="text/javascript">
				//<![CDATA[
				parent[0].location.search = "strTitulo=#{cadOsMenuBean.strTitulo} - #{cadOsMenuBean.strNrSeqOs} - Equipe Atribuída"
				parent.PF("statusDialog").hide();
				
				window.onload = function() {
					Resize();
				}

				function Resize() {
					/*   window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;	  */
				}

				/* function AbrirTelaAdd()
				 {
				 window.showModalDialog('hyb_cados_equipatrib_popup.xhtml?strNrSeqOs='+#{param['strNrSeqOs']},null,'dialogHeight:450px;dialogWidth:800px;center: Yes; resizable:yes; status: No;');
				 parent.document.getElementById('ifrmNovaos').src = 'hy_cados_equipatrib.xhtml?strNrSeqOs='+#{param['strNrSeqOs']};    
				 }

				 function AbrirTelaLancHr(strCpf, strNome)
				 {
				 window.showModalDialog('hyb_cados_equipatrib_lanchr.xhtml?strNrSeqOs='+#{param['strNrSeqOs']}+'&strCpf='+strCpf+'&strNome='+strNome,null,'dialogHeight:200px;dialogWidth:650px;center: Yes; resizable:no; status: No;');

				 } */
				function modalPrime(btn, cpf, nome) {
					consultarHrRemoteCommand([ {
						name : "Cpf",
						value : cpf
					}, {
						name : "Nome",
						value : nome
					} ]);
					//PF(btn).show();
				}
				function Deletar(cpf, nome) {
					if (confirm('Deseja Excluir ' + nome + ' da equipe?')) {
						deletarRemoteCommand([ {
							name : "Cpf",
							value : cpf
						} ]);
					}
				}
				function Salvar(){
					
					var arrDesig = new Array();
					arrDesig = document.getElementsByTagName("select");
					var a = 0;
					for(var i = 0; i < arrDesig.length; i++)
				    {
				        for(var j = 0; j < arrDesig.length; j++)
				        {   
				            if(arrDesig[i].value != 'NA' || arrDesig[j].value != 'NA')
				            {
				                if (i != j)
				                {
				                    if(arrDesig[i].value == arrDesig[j].value)
				                    {
				                        a = 1;     
				                    }   
				                }       
				            }    
				        }    
				    }
				    
				    if (a > 0)
				    {
				        alert('Não foi possível salvar.\nMais de um recurso contem a mesma designação, salvo para N/A');
				        return;
				    }
				    
					if(confirm('Deseja salvar as alterações?'))
						salvarRemoteCommand();
				}
				function Adicionar(){
					limparPessoaRemoteCommand();
					adicionarRemoteCommand();
				}

				
				//]]>
			</script>

</h:head>
<h:body class="PanelTitle">
	<h:form id="rootform">
		<table border="0" width="100%">
			<tr>

				<td><p:commandButton value="Adicionar" styleClass="btn_110"
						onclick="Adicionar();" type="button" /> <p:dialog
						id="adicionar-lanchr" appendToBody="true"
						widgetVar="btn-adicionar" height="300" width="630" modal="true" resizable="no">
						<script type="text/javascript">
								//<![CDATA[
									
									function Fechar(){
										atualizarPesquisadosRemoteCommand();
										fecharRemoteCommand();
									}
									
									
									//]]>
								</script>
						<h:form id="frm-adicionar-popup" method="post">
							<table width="100%" border="0"
								style="background-color: Red; color: White">
								<tr>
									<td colspan="6">Atribuir Equipe à OS > Adicionar Membro da
										Equipe</td>
								</tr>
								<tr>
									<td><b>Filtros para Pesquisa</b></td>
									<td><b>Nr da OS: <h:outputText
												value="#{CadOsEquipatribBean.strNrSeqOs}" /></b></td>
									<td align="right"><p:commandButton id="btnFechar"
											type="button" ajax="false" value="Fechar" onclick="Fechar();" /></td>
								</tr>
								<tr style="background-color: red; height: 1px;">
									<td colspan="8"></td>
								</tr>
							</table>
						</h:form>
						<iframe id="ifrmEquipAtrib"
							src="hyb_cados_equipatrib_popup_iframe.xhtml?strNrSeqOs=#{param['strNrSeqOs']}"
							scrolling="no" frameborder="0" height="390" width="100%" style="height: 410px!important"></iframe>
						<p:remoteCommand name="atualizarPesquisadosRemoteCommand"
							actionListener="#{CadOsEquipatribBean.limparPesquisados}"
							update="frm-adicionar-popup" />
						<p:remoteCommand name="fecharRemoteCommand"
							update="rootform:tabela-equip"
							oncomplete="PF('btn-adicionar').hide()" />
					</p:dialog></td>
			</tr>
		</table>

		<p:dataTable id="tabela-equip" var="objRs"
			value="#{CadOsEquipatribBean.objRs}"
			emptyMessage="Nenhum Recurso Encontrado!">
			<p:column width="18%" headerText="Matrícula">
				<h:outputText value="#{objRs.strMatricula}" />
			</p:column>

			<p:column width="30%" headerText="Nome">
				<h:outputText value="#{objRs.strNome}" />
			</p:column>

			<p:column width="15%" headerText="Cargo">
				<h:outputText value="#{objRs.strCargo}" />
			</p:column>

			<p:column width="25%" headerText="Designação">

				<p:selectOneMenu id="strDesignacao" value="#{objRs.strDesignacao}">
					<f:selectItem itemLabel="Cadastramento da OS" itemValue="NA" />
					<f:selectItem itemLabel="Analista Designado" itemValue="AD" />
					<f:selectItem itemLabel="Analista Auxiliar" itemValue="AA" />
					<f:selectItem itemLabel="Prest. Serv. Designado" itemValue="PSD" />
					<f:selectItem itemLabel="Prest. Serv. Auxiliar" itemValue="PSA" />
				</p:selectOneMenu>
			</p:column>
			<p:column style="witdh:10%">
				<p:commandLink
					onclick=" modalPrime('btn-horas','#{objRs.strCpf}','#{objRs.strNome}')">
					<p:graphicImage value="../images/hy_relogio.gif"
						style="cursor:pointer;" title="Lançar Horas Trabalhadas" />
				</p:commandLink>
			</p:column>
			<p:column style="witdh:10%">
				<p:commandButton icon="btn-excluir" styleClass="btn-limpar"
					id="btExcluir"
					onclick="Deletar('#{objRs.strCpf}', '#{objRs.strNome}')"
					update="rootform:tabela-equip" />
			</p:column>
		</p:dataTable>
		<p:dialog id="hr-lanchr" appendToBody="true" widgetVar="btn-horas"
			height="220" width="500" resizable="no">
			<h:form id="frm-lanchr" method="post">
				<table width="100%" border="0"
					style="background-color: Red; color: White">
					<tr>
						<td colspan="6">Atribuir Equipe à OS > Lançar horas
							trabalhadas</td>
					</tr>
					<tr>
						<td><b>Nome: <h:outputText
									value="#{CadOsEquipatribBean.strNome}" /></b></td>
						<td><b>Nº da OS: <h:outputText
									value="#{CadOsEquipatribBean.strNrSeqOs}" /></b></td>
						<td align="right"><p:commandButton id="btnFechar"
								type="button" value="Fechar" onclick="PF('btn-horas').hide()" /></td>
					</tr>
					<tr style="background-color: red; height: 1px;">
						<td colspan="8"></td>
					</tr>
				</table>
			</h:form>
			<iframe id="ifrmLancHr"
				src="hyb_cados_equipatrib_lanchr_iframe.xhtml?strNrSeqOs=#{CadOsEquipatribBean.strNrSeqOs}"
				scrolling="no" frameborder="0" height="150" width="100%"></iframe>
		</p:dialog>


		<p:inputText id="txtHdDelCpf" name="txtHdDelCpf" type="hidden" />
		<p:inputText id="txtHdAction" name="txtHdAction" type="hidden" />

		<p:inputText id="txtHdSalvarCpf" name="txtHdSalvarCpf" type="hidden" />
		<p:inputText id="txtHdSalvarDesig" name="txtHdSalvarDesig"
			type="hidden" />

		<p:inputText id="txtHdNrSeqOs" name="txtHdNrSeqOs" type="hidden"
			value="strNrSeqOs" />

		<p:remoteCommand name="deletarRemoteCommand"
			actionListener="#{CadOsEquipatribBean.deletar}" />
		<p:remoteCommand name="consultarHrRemoteCommand"
			actionListener="#{CadOsEquipatribBean.consultarHoras('')}"
			update="rootform:hr-lanchr" oncomplete="PF('btn-horas').show()" />
		<p:remoteCommand name="salvarRemoteCommand"
			actionListener="#{CadOsEquipatribBean.salvar}" />
		<p:remoteCommand name="adicionarRemoteCommand"
			actionListener="#{CadOsEquipatribBean.limparPesquisados}"
			update="rootform:adicionar-lanchr"
			oncomplete="PF('btn-adicionar').show(PF('btn-adicionar').closeIcon.click(function() { fecharRemoteCommand(); }));" />
		<p:remoteCommand name="limparPessoaRemoteCommand"
			actionListener="#{CadOsEquipatribBean.limparPessoa}" />


		<p:defaultCommand target="tirarAcaoBtn" />
		<p:commandButton id="tirarAcaoBtn" process="@none"
			style="display:none;" global="false" />

		<table border="0" width="100%">
			<tr>
				<td><p:commandButton value="Salvar" id="btnSalvar"
						onclick="Salvar()" type="button" style="float:right;" /></td>
			</tr>
		</table>


	</h:form>

</h:body>
<!--#include file="../Inc/Hy_TravaForm.inc"-->
<!-- </ui:define> -->
</html>

