<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputScript name="javascript/formchek.js" />

	<script type="text/javascript">
		//<![CDATA[

		function Voltar() {
			alert('oi');
			History.back();
		}

		function UrlEncode(sStr) {
			return escape(sStr).replace(/\+/g, '%2B').replace(/\"/g, '%22')
					.replace(/\'/g, '%27').replace(/\//g, '%2F');

		}

		function UrlDecode(sStr) {

			return unescape(sStr).replace('%2B', /\+/g).replace('%22', /\"/g)
					.replace('%27', /\'/g).replace('%2F', /\//g);
		}

		var gobjTipoArquivo = new Object();
		gobjTipoArquivo.arrTipo = new Array('pdf', 'zip', 'doc', 'xls', 'ppt',
				'pps', 'msg', 'jpgjpeggifbmppng', '*')
		//                                    0      1      2      3      4      5      6              7          8

		gobjTipoArquivo.arrNomeImagem = new Array('ico_pdf.gif', // 0
		'ico_zip.gif', // 1
		'ico_doc.gif', // 2
		'ico_xls.gif', // 3
		'ico_ppt.gif', // 4
		'ico_pps.gif', // 5
		'ico_msg.gif', // 6
		'ico_img.gif', // 7
		'ico_outros.gif'); // 8

		function PegaNomeArquivo(strCamimhoArquivo) {

			var arrTipoArquivo = new Array();

			arrTipoArquivo = strCamimhoArquivo.split('.');

			for (var i = 0; i < gobjTipoArquivo.arrTipo.length; i++) {
				if (gobjTipoArquivo.arrTipo[i]
						.indexOf(arrTipoArquivo[arrTipoArquivo.length - 1]) != -1) {
					return gobjTipoArquivo.arrNomeImagem[i];
				}
			}

			return gobjTipoArquivo.arrNomeImagem[8];
		}

		function montaLinhas(tabela, id_Arquivo, strAuxCaminho, strAuxArquivo)

		{
			tabela = eval(tabela);

			var objRow = tabela.insertRow();
			var objCell = objRow.insertCell();

			var strNome = UrlDecode(strAuxArquivo)
			var strFile = strAuxCaminho + UrlEncode(strNome);

			objRow.id = id_Arquivo;

			// COLUNA 01
			objCell.innerHTML = "<span><a href=file:" +  strFile + " target='blank'><img alt='Excluir' src='../images/"
					+ PegaNomeArquivo(strNome) + "'></a></span>";
			objCell.align = "left";
			objCell.width = "2%"

			// COLUNA 02
			objCell = objRow.insertCell();
			objCell.innerHTML = strNome;
			objCell.align = "left";
			objCell.width = "32%"

		}

		//]]>
	</script>

</h:head>

<h:body class="PanelTitle">
	<h:form id="frm" name="frm" method="post">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr style="background-color: gray; color: White">
				<td colspan=""><b>Aquivos Anexados</b></td>
			</tr>
			<tr style="background:gray; height:1px; "><td colspan=""></td></tr>
		</table>   
		<div id="divOverFlow" style="overflow:auto; width:100%; height:100px;" align="left">
			<table width="100%" id="tbAnexo" border = "0" cellpadding="0" cellspacing="0">				
				<p:repeat id="repeatNotiAnexo" value="#{AdmWorkflowNotificacaoReenviaIframeBean.objRsNotiAnexo}" var="notianexo" varStatus="status">
					<script>
						montaLinhas('tbAnexo','#{status.index}','#{notianexo.strCaminho}','#{notianexo.strArquivo}');
					</script>
				</p:repeat>
			</table>
		</div>
		<p:inputText id="txtHdAction" name="txtHdAction" type="hidden" value="" />
		<p:inputText id="txtHdInfArq" name="txtHdInfArq" type="hidden" value="" />
	</h:form>
</h:body>
</html>
