<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

		<h:head>
			<title>HY - Ocorrências Especiais</title>
			<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
		    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
		    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
		    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
		    
			<script>
		   	
			  		//<![CDATA[
			  			
			  		parent[0].location.search = "strTitulo=Nova OS - #{CadastroOsDetalheEnvolvNaoClienteBean.strgNrSeqOs} - Participação no Processo - Detalhes Pessoas Envolvidas";

				    var intControlaObj = 0;
				    var intControlaTotalLinhas;
				    
				    
				    /*function windowOnload(){
				    
				        
				        if(intControlaTotalLinhas>0){ 
				        	window.document.getElementById ('tblPrincipal').style.display= "block";            
				        }
				        for(var i=0;i<intControlaTotalLinhas;i++){//--Aumenta o Div a cada linha inserida
				            var div = document.getElementById("divOverFlow");
				            div.style.height = div.scrollHeight + 20;                    
				        }
				        if(document.forms[0] != undefined){
				            
				        }
				        Resize();
				    }
				    
				    wndow.onload = windowOnload();*/
				    				    			    
				    
				    function MostraDivCbo(strIdObj, strDivId1 ){
				        var cbo = document.getElementById(strIdObj);
				        var div1 = document.getElementById(strDivId1);
				        
				        if(cbo || div1)
				            if(cbo.value == 1)
				                div1.style.display = 'block';            
				            else
				                div1.style.display = 'none';            
				    }
				
				    function Resize(){
				    	if(window.parent.document.all['ifrmNovaOs'] !== undefined){
				    		window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;
				    	}
			    	}
				
				    function MostraDivContestacao(strIdObj, strDivId1, strDivId2){
				        var cbo = document.getElementById(strIdObj);
				        var div1 = document.getElementById(strDivId1);
				        var div2 = document.getElementById(strDivId2);
				        
				        if(cbo || div1 || div2){
				            if(cbo.value == 1){            
				                div1.style.display = 'block';
				                div2.style.display = 'none';
				            }else if (cbo.value == 2){
				                div1.style.display = 'none';
				                div2.style.display = 'block';
				            }else{
				                div1.style.display = 'none';
				                div2.style.display = 'none';
				            }
				        }    
				    }
				
				    function InsereLinha(){
				    	
				    	btnInsereLinha();
				    }    
				    
				    function Salvar(){
				    	if (fnValidaCampos())
				    		salvarRemoteCommand();
				/*
				        if (fnValidaCampos()){
				            if (fnSalvarParticipante())
				                if (fnSalvaInfCliente()) 
				                    if(fnSalvarEnderecoNaoCliente())
				                        if(fnSalvarEndereco())
				                            if(fnSalvaPosicaoRisco())
				                                if(fnSalvarRestricoes())
				                                    alert('Registro(s) atualizado(s) com sucesso.');
				                                else
				                                    alert('Não foi possível atualizar o(s) registro(s) - Restricoes.');
				                            else
				                                alert('Não foi possível atualizar o(s) registro(s) - PosicaoRisco.');
				                        else    
				                            alert('Não foi possível atualizar o(s) registro(s) - Endereco Apurado.');
				                    else
				                        alert('Não foi possível atualizar o(s) registro(s) - Endereco não cliente/outros.');        
				                else
				                    alert('Não foi possível atualizar o(s) registro(s) - Informação.');
				            else    
				                alert('Não foi possível atualizar o(s) registro(s) - Incluir Participante.');
				               
				            fnCarregaRestricoes();
				        }
				*/
				    }    
				    
				    function fnSalvarParticipante(){
				    	
				    	salvarParticipanteRemoteCommand();
				    /*
				        //Envia para a página asp dados para a montagem da tabela
				        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				        xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvnaocliente_exe.xhtml', false);        
				        
				        var arrTp = new Array();
				        var arrTipo
				    
				        arrTp = document.getElementsByName("rdoTipoCli")
				        
				        for(var i = 0; i < arrTp.length; i++)
				        {
				            if (arrTp[i].checked == true)
				            {
				                arrTipo = arrTp[i].value;
				            }     
				        } 
				        
				        document.getElementById("frm:rdoTipoCli1_input").checked // Física
				        document.getElementById("frm:rdoTipoCli2_input").checked // Jurídica
		
		
				        
				        strDados =  '<root>' +
				                    '<tpReg>I</tpReg>' +
				                    '<nrSeqPart>'   + document.forms[0].hdnSeqParp.value +'</nrSeqPart>'+
				                    '<nrSeqOs>'     +'#{CadastroOsDetalheEnvolvNaoClienteBean.strgNrSeqOs}'+'</nrSeqOs>'+
				                    '<tpPartipante>'+ arrTipo      +'</tpPartipante>'        +
				                    '<CpfCnpj>'     + document.getElementById ("txtCpfCnpj").value      +'</CpfCnpj>'  +
				                    '<Nome>'        + document.getElementById ("txtNomePart").value     +'</Nome>'          +
				                    '<tpPart>'      + document.getElementById ("cboDesig").value        +'</tpPart>'        +
				                    '</root>'; 
				
				        xmlHTTP.Send(strDados); 
				        
				        //Pega o retorno da página asp
				        sTabela = xmlHTTP.responseText;
				        
				        var arrTabela = new Array();
				        //document.body.innerHTML = sTabela;
				        arrTabela = sTabela.split("|")
				        document.forms[0].hdnSeqParp.value = arrTabela[1]; 
				        
				        if(arrTabela[0]){
				            return true;        
				        }else{ 
				            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				                location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				                return;
				            }else{
				                return;
				            }
				        }    
				    */
				    }
				
				    function fnSalvaInfCliente(){
				    	salvarInfClienteRemoteCommand();
						/*
				        //Envia para a página asp dados para a montagem da tabela
				        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				        xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvnaocliente_exe.xhtml', false);        
				        
				        strDados =  '<root>' + 
				                    '<tpReg>IC</tpReg>'+
				                    '<nrSeqPart>'   + document.forms[0].hdnSeqParp.value +'</nrSeqPart>'+
				                    '<RG>'          + document.getElementById ("txtRG").value           +'</RG>'            +
				                    '<OrgEmissor>'  + document.getElementById ("txtOrgEmissor").value   +'</OrgEmissor>'    +
				                    '<DtEmissao>'   + document.getElementById ("txtDtEmissao").value    +'</DtEmissao>'     +
				                    '<Profissao>'   + document.getElementById ("txtProfissao").value    +'</Profissao>'     +
				                    '<Renda>'       + document.getElementById ("txtRenda").value        +'</Renda>'         +
				                    '</root>';
				    	            
				        xmlHTTP.Send(strDados); 
				        
				        //Pega o retorno da página asp
				        sTabela = xmlHTTP.responseText;        
				        //document.body.innerHTML = sTabela;
				
				        if(sTabela){
				            return true;            
				        }else{
				            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				                location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				                return;
				            }else{
				                return;
				            }            
				        }
				        */
				    }
				
				    function fnSalvarEnderecoNaoCliente(){
				    	salvarEnderecoNaoClienteRemoteCommand();
				    	/*
				        //Envia para a página asp dados para a montagem da tabela
				        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				        xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvnaocliente_exe.xhtml', false);        
				        
				        strDados =  '<root>' + 
				                    '<tpReg>EC</tpReg>'+
				                    '<nrSeqPart>'   + document.forms[0].hdnSeqParp.value +'</nrSeqPart>'+
				                    '<Rua>'         + document.getElementById ("txtEndereco").value     +'</Rua>'           +
				                    '<Numero>'      + document.getElementById ("txtNumero1").value      +'</Numero>'        +   
				                    '<Complemento>' + document.getElementById ("txtComplemento1").value +'</Complemento>'   +
				                    '<Bairro>'      + document.getElementById ("txtBairro1").value      +'</Bairro>'        +  
				                    '<CEP>'         + document.getElementById ("txtCEP1").value         +'</CEP>'           +
				                    '<Cidade>'      + document.getElementById ("txtCidade1").value      +'</Cidade>'        +
				                    '<Estado>'      + document.getElementById ("txtEstado1").value      +'</Estado>'        +                    
				                    '<Telefone>'    + document.getElementById ("txtTelefone1").value    +'</Telefone>'      +
				                    '<Celular>'     + document.getElementById ("txtCelular1").value     +'</Celular>'       +
				                    '</root>';
						            
				        xmlHTTP.Send(strDados); 
				        //Pega o retorno da página asp
				        sTabela = xmlHTTP.responseText;
				        //document.body.innerHTML = sTabela;
				        
				        if(sTabela){
				            return true;        
				        }else{ 
				            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				                location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				                return;
				            }else{
				                return;
				            }
				        }
				        */
				    }
				
				
				    function fnSalvarEndereco(){
				    
				        //Envia para a página asp dados para a montagem da tabela
				        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				        xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvnaocliente_exe.xhtml', false);        
				        
				        strDados =  '<root>' + 
				                    '<tpReg>E</tpReg>'+
				                    '<nrSeqPart>'   + document.forms[0].hdnSeqParp.value +'</nrSeqPart>'+
				                    '<Rua>'        + document.getElementById ("txtRua").value         +'</Rua>'        +
				                    '<Numero>'     + document.getElementById ("txtNumero").value      +'</Numero>'     + 
				                    '<Complemento>'+ document.getElementById ("txtComplemento").value +'</Complemento>'+
				                    '<Bairro>'     + document.getElementById ("txtBairro").value      +'</Bairro>'     +  
				                    '<CEP>'        + document.getElementById ("txtCEP").value         +'</CEP>'        +
				                    '<Telefone>'   + document.getElementById ("txtDDDTel").value + document.getElementById ("txtTelefone").value    +'</Telefone>'   +
				                    '<Celular>'    + document.getElementById ("txtDDDCel").value + document.getElementById ("txtCelular").value     +'</Celular>'    +
				                    '</root>';
						            
				
				        xmlHTTP.Send(strDados); 
				
				        //Pega o retorno da página asp
				        sTabela = xmlHTTP.responseText;
				        //document.body.innerHTML = sTabela;
				        
				        if(sTabela){
				            return true;        
				        }else{ 
				            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				                location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				                return;
				            }else{
				                return;
				            }
				        }
				    }
				    
				    function fnSalvaPosicaoRisco(){
				
				        //Envia para a página asp dados para a montagem da tabela
				        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				        xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvnaocliente_exe.xhtml', false);        
				        
				        strDados =  '<root>' + 
				                    '<tpReg>PR</tpReg>'+
				                    '<nrSeqPart>'   + document.forms[0].hdnSeqParp.value +'</nrSeqPart>'+
				                    '<strVencer>'   + document.getElementById ("txtVencer").value  +'</strVencer>'   +
				                    '<strVencida>'  + document.getElementById ("txtVencida").value +'</strVencida>'  + 
				                    '<strCreli>'    + document.getElementById ("txtCreli").value   +'</strCreli>'    +
				                    '<strPrejuizo>' + document.getElementById ("txtPreju").value   +'</strPrejuizo>' +  
				                    '<strObs>'      + document.getElementById ("txtObs").value     +'</strObs>'     +
				                    '<strRecipro>'  + document.getElementById ("txtReci").value    +'</strRecipro>'  +
				                    '</root>';
				    	            
				        xmlHTTP.Send(strDados); 
				        
				        //Pega o retorno da página asp
				        sTabela = xmlHTTP.responseText;        
				        //document.body.innerHTML = sTabela;
				        
				        if(sTabela){
				            return true;            
				        }else{
				            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				                location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				                return;
				            }else{
				                return;
				            }            
				        }
				    }
				
				    function fnSalvarRestricoes(){
				    			    
				        var strAuxReturn = true;
				        var strDados;    
				    
				        //--Pega o total de linhas atual        
				        intControlaTotalLinhas = parseInt(document.getElementById ("hdnTotalLinhas").value) ;
				
				        for(var iCountLinhas=1;iCountLinhas<=intControlaTotalLinhas;iCountLinhas++){
				            xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				            xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvnaocliente_exe.xhtml', false);        
				                    
				            strDados =  '<root>' + 
				                        '<tpReg>R</tpReg>'+
				                        '<nrSeqPart>' + document.forms[0].hdnSeqParp.value +'</nrSeqPart>'+
				                        '<IdRstPart>' + document.getElementById ("hdn"+iCountLinhas).value       +'</IdRstPart>'+
				                        '<strInst>' + document.getElementById ("txt"+iCountLinhas+"Inst").value  +'</strInst>' +
				                        '<strEspec>'+ document.getElementById ("txt"+iCountLinhas+"Espec").value +'</strEspec>'+ 
				                        '<strValor>'+ document.getElementById ("txt"+iCountLinhas+"Valor").value +'</strValor>'+
				                        '<strData>' + document.getElementById ("txt"+iCountLinhas+"Data").value  +'</strData>' +
				                        '</root>';
				            xmlHTTP.Send(strDados);
				            
				            //Pega o retorno da página asp
				            sTabela = xmlHTTP.responseText; 
				            //document.body.innerHTML = sTabela;
				            if(sTabela=='false')
				                return;
				            else
				                if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				                    location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				                    return;                    
				                }
				        }       
				        
				        return true;
				    }
				
				
				    function fnCarregaRestricoes(){
				
				        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				        xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvnaocliente_exe.xhtml', false);        
				                
				        strDados =  '<root>' + 
				                    '<tpReg>L</tpReg>'+
				                    '<nrSeqPart>' + document.forms[0].hdnSeqParp.value +'</nrSeqPart>'+
				                    '</root>';
				    	
				        xmlHTTP.Send(strDados);
				        
				        //Pega o retorno da página asp
				        sTabela = xmlHTTP.responseText; 
				        
				        if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				            location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				            return;
				        }else{
				            document.getElementById ('divRestricao').innerHTML = sTabela;
				            intControlaTotalLinhas = parseInt(document.getElementById ("hdnTotalLinhas").value) ;
				        }        
				    }
				
				    function Excluir(iCountLinhas){
				        excluirRemoteCommand([{name:'strIdRestPart', value: iCountLinhas}]);
				        /* 
				        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
				        xmlHTTP.Open('POST', 'hy_cadastroos_detalheenvolvfunc_exe.xhtml', false);        
				                
				        strDados =  '<root>' + 
				                    '<tpReg>Ex</tpReg>'+
				                    '<nrSeqPart>' +'#{CadastroOsDetalheEnvolvNaoClienteBean.strgNrSeqPart}'+'</nrSeqPart>'+
				                    '<IdRstPart>' + document.getElementById ("hdn"+iCountLinhas).value       +'</IdRstPart>'+
				                    '</root>';
				    	
				        xmlHTTP.Send(strDados);
				        
				        //Pega o retorno da página asp
				        sTabela = xmlHTTP.responseText; 
				        
				        if (sTabela.toUpperCase().indexOf('XHY')!=-1){
				            location.href = "HY_Erro.asp?strErro=" + UrlEncode(sTabela);
				            return;
				        }else if (sTabela=='False'){
				            alert('Não foi possível atualizar o(s) registro(s).');
				        }else{
				            alert('Registro excluído com sucesso.')
				        }
				        fnCarregaRestricoes(); */
				    }
				    
				
				    /* function Voltar(){				    	
				        history.back();
				    } */
				    
				    function fnValidaCampos()
				    {
				        
				        //--Verifica CPF-CNPJ
				        if (trim(document.getElementById("frm:txtCpfCnpj").value) == '')
				        {
				            alert('Favor preencher o CPF/CNPJ.');
				            return;
				        }
				        
				        if(trim(document.getElementById ("frm:txtCEP").value)!='')
				            if(len(document.getElementById ("frm:txtCEP").value)<9){
				                alert('CEP inválido.');
				                document.getElementById ("frm:txtCEP").focus();
				                return;
				            }
				        
				        
				        //--Verifica Telefone
				        if (document.getElementById ("frm:txtDDDTel").value !=''){
				            if(len(document.getElementById ("frm:txtDDDTel").value) < 2){
				                alert('DDD Telefone inválido.');
				                document.getElementById ("frm:txtDDDTel").focus();
				                return;                        
				            }
				            
				            if(document.getElementById ("frm:txtTelefone").value ==''){
				                alert('Telefone inválido.');
				                document.getElementById ("frm:txtTelefone").focus();
				                return;                                                
				            }
				            
				            if(len(document.getElementById ("frm:txtTelefone").value) < 9){
				                alert('Telefone inválido.');
				                document.getElementById ("frm:txtTelefone").focus();
				                return;                                         
				            }
				        }
				        
				        if(document.getElementById ("frm:txtTelefone").value !=''){
				            if(len(document.getElementById ("frm:txtTelefone").value) < 9){
				                alert('Telefone inválido.');
				                document.getElementById ("frm:txtTelefone").focus();
				                return;                                         
				            }
				            
				            if(document.getElementById ("frm:txtDDDTel").value== ''){
				                alert('DDD Telefone inválido.');
				                document.getElementById ("frm:txtDDDTel").focus();
				                return;                        
				            }            
				            
				            if(len(document.getElementById ("frm:txtDDDTel").value) < 2){
				                alert('DDD Telefone inválido.');
				                document.getElementById ("frm:txtDDDTel").focus();
				                return;                        
				            }
				            
				        }        
				        //--Fim Verifica Telefone        
				        
				        
				        //--Verifica Celular
				        if (document.getElementById ("frm:txtDDDCel").value !=''){
				            if(len(document.getElementById ("frm:txtDDDCel").value) < 2){
				                alert('DDD Celular inválido.');
				                document.getElementById ("frm:txtDDDCel").focus();
				                return;                        
				            }
				            
				            if(document.getElementById ("frm:txtCelular").value ==''){
				                alert('Celular inválido.');
				                document.getElementById ("frm:txtCelular").focus();
				                return;                                                
				            }
				            
				            if(len(document.getElementById ("frm:txtCelular").value) < 9){
				                alert('Celular inválido.');
				                document.getElementById ("frm:txtCelular").focus();
				                return;                                         
				            }
				        }
				        
				        if(document.getElementById ("frm:txtCelular").value !=''){
				            if(len(document.getElementById ("frm:txtCelular").value) < 9){
				                alert('Celular inválido.');
				                document.getElementById ("frm:txtCelular").focus();
				                return;                                         
				            }
				            
				            if(document.getElementById ("frm:txtDDDCel").value == ''){
				                alert('DDD Celular inválido.');
				                document.getElementById ("frm:txtDDDCel").focus();
				                return;                        
				            }            
				            
				            if(len(document.getElementById ("frm:txtDDDCel").value) < 2){
				                alert('DDD Celular inválido.');
				                document.getElementById ("frm:txtDDDCel").focus();
				                return;                        
				            }
				            
				        }        
				        //--Fim Verifica Celular
				        
				        
				        return true;                
				    }    
				    
				    
				    function VerificaData(aObj){
				        if (aObj.value!='')
				            if(!isDateString(aObj.value)){
				                alert("Data inválida.");
				                aObj.focus();
				            }
				    }     
				  //]]>
				</script>
				<style>
					.ui-datatable table {
						table-layout: auto;
					}
				</style>
		    	
		</h:head>
		<h:body>
<!--             <iframe
				src="titulo.xhtml?strTitulo=Nova OS - #{CadastroOsDetalheEnvolvNaoClienteBean.strgNrSeqOs} - Participação Processo - Detalhes Pessoas Envolvidas"
				frameborder="0" width="100%" height="27"/> -->

			<h:form id="frm">
				
				<p:remoteCommand name="salvarRemoteCommand" action="#{CadastroOsDetalheEnvolvNaoClienteBean.salvar}" update="tblPrincipal"/>
				<p:remoteCommand name="excluirRemoteCommand" action="#{CadastroOsDetalheEnvolvNaoClienteBean.excluir}" update="tblPrincipal"/>
							
				<table width="100%" border="0"
					style="background-color: Red; color: White">
					<tr>
						<td colspan="3">Pessoas Relacionadas ao Processo > Pessoas
							Envolvidas</td>
						<td align="left"><b>Nº
								OS:&nbsp;&nbsp;#{CadastroOsDetalheEnvolvNaoClienteBean.strgNrSeqOs}</b></td>
					</tr>
					<tr>
						<td colspan="8"><b>Detalhes Pessoas Envolvidas</b></td>
					</tr>
					<tr>
						<td><b>Nome:&nbsp;&nbsp;#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.nome}</b></td>
						<td><b>CPF:&nbsp;&nbsp;#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.cpfCnpj}</b></td>
						<td><b>Participação:&nbsp;&nbsp;#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.desig}</b>
						</td>
					</tr>
					<tr style="background-color: red; height: 1px;">
						<td colspan="8"></td>
					</tr>
				</table>
				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>

				<!-- OS ASSOCIADAS  -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&nbsp;<h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> &nbsp;<b>OS´s
								Associadas</b>
						</td>
					</tr>
				</table>
				<!-- <fieldset class="PanelTitle"> -->
					<table width="75%" border="0" cellpadding="1" cellspacing="1">
						<tr style="background-color: gray; color: White">
							<td width="20%"><b>Nº da OS</b></td>
							<td><b>Área Pertinente</b></td>
							<td colspan="2"><b>Status</b></td>
						</tr>
						<ui:repeat
							value="#{CadastroOsDetalheEnvolvNaoClienteBean.osAssociada}"
							var="osAssociada">
							<tr>
								<td><h:outputText value="#{osAssociada.ordem}" /></td>
								<td><h:outputText value="#{osAssociada.area}" /></td>
								<td><h:outputText value="#{osAssociada.status}" /></td>
							</tr>
						</ui:repeat>
					</table>
				<!-- </fieldset> -->

				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>

				<!-- DADOS CADASTRAIS  -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&nbsp;<h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> &nbsp;<b>Dados
								Cadastrais</b>
						</td>
					</tr>
				</table>
				<input type="hidden" id="hdnSeqParp" name="hdnSeqParp" value="" />

				<!-- <fieldset class="PanelTitle"> -->
					<table width="70%" border="0" cellpadding="1" cellspacing="1">

						<tr>
							<td colspan="4">											
								<p:selectOneRadio value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.tipoPessoa}">
									<f:selectItem itemValue="F" itemLabel="Pessoa Física"/>
									<f:selectItem itemValue="J" itemLabel="Pessoa Jurídica"/>
								</p:selectOneRadio>

							</td>
						</tr>
						<tr>
							<td>CPF/CNPJ:</td>
							<td><p:inputText id="txtCpfCnpj" name="txtCpfCnpj"
									maxlength="14" value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.cpfCnpj}"
									style="width:75px;" onkeypress="BlockKeybord()" /></td>
							<td colspan="2"></td>
						</tr>
						<tr>
							<td width="20px">Nome:</td>
							<td colspan="5">
								<p:inputText id="txtNomePart"
									name="txtNomePart" maxlength="80"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.nome}" style="width:300px;" />
							</td>
							<td>
								<p:selectOneMenu id="cboDesig" name="cboDesig" value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.desig}">
									<f:selectItem itemLabel="Envolvido" itemValue="1" />
									<f:selectItem itemLabel="Informante" itemValue="2" />
									<f:selectItem itemLabel="Reclamante" itemValue="3" />
									<f:selectItem itemLabel="Reclamado/Lesado" itemValue="4" />
								</p:selectOneMenu>
							</td>
						</tr>
						<tr>
							<td width="13%">RG:</td>
							<td width="17%"><p:inputText id="txtRG" name="txtRG"
									maxlength="9" style="width:80px"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.rg}" /></td>
							<td width="15%">Orgão Emissor:</td>
							<td width="8%"><p:inputText id="txtOrgEmissor"
									name="txtOrgEmissor" maxlength="10" style="width:25px"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.orgaoEmissor}" /></td>
							<td width="13%">Data Emissão:</td>
							<td width="13%"><p:inputText id="txtDtEmissao"
									name="txtDtEmissao" maxlength="10" style="width:60px"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.dtEmissao}"
									onblur="VerificaData(this);" onkeydown="MascararData(this);" />
							</td>
						</tr>
						<tr>
							<td>Profissão:</td>
							<td colspan="2"><p:inputText id="txtProfissao"
									name="txtProfissao" maxlength="30" style="width:140px"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.profissao}" /></td>
						</tr>
						<tr>
							<td>Renda (R$):</td>
							<td><p:inputText id="txtRenda" name="txtRenda" 
									maxlength="20" style="width:80px;text-align:right"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.renda}"
									onkeypress="BlockKeybord(); fnMascaraValor(this,2);"/>									
							</td>

						</tr>
						<tr style="height: 5px">
							<td colspan="10"></td>
						</tr>
					</table>
					<div id="divEndereco">
						<table width="60%" border="0" cellpadding="1" cellspacing="1">
							<tr>
								<td width="16%">Endereço:</td>
								<td width="42%"><p:inputText id="txtEndereco"
										name="txtEndereco" maxlength="55" style="width:170px"
										value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.endereco}" /></td>
								<td width="10%">Número:</td>
								<td><p:inputText id="txtNumero1" name="txtNumero1"
										maxlength="10" style="width:40px"
										value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.numEndereco}"
										onkeypress="BlockKeybord();" /></td>
							</tr>
							<tr>
								<td>Complemento:</td>
								<td><p:inputText id="txtComplemento1"
										name="txtComplemento1" maxlength="55"
										value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.complementoEndereco}" /></td>
								<td>Bairro:</td>
								<td><p:inputText id="txtbairro1" name="txtbairro1"
										maxlength="30" value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.bairroEndereco}" /></td>
							</tr>
							<tr>
								<td>CEP:</td>
								<td colspan="3"><p:inputText id="txtCEP1" name="txtCEP1" 
										value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.cepEndereco}"
										onkeypress="MascaraCEP(this);" maxlength="9"/></td>
							</tr>
							<tr>
								<td>Cidade:</td>
								<td><p:inputText id="txtCidade1" name="txtCidade1"
										maxlength="30" style="width:170px"
										value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.cidadeEndereco}" /></td>
								<td>Estado:</td>
								<td><p:inputText id="txtEstado1" name="txtEstado1"
										maxlength="2" style="width:40px"
										value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.estadoEndereco}" /></td>
							</tr>
							<tr>
								<td>Telefone:</td>
								<td><p:inputText id="txtTelefone1" name="txtTelefone1"
										maxlength="16" value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.telefone}"
										onkeypress="BlockKeybord();" /></td>
								<td>Celular:</td>
								<td><p:inputText id="txtCelular1" name="txtCelular1"
										maxlength="16" value="#{CadastroOsDetalheEnvolvNaoClienteBean.dadosCadastrais.celular}"
										onkeypress="BlockKeybord();" /></td>
							</tr>
						</table>
					</div>
				<!-- </fieldset> -->
				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>

				<!-- ENDEREÇO APURADO -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&nbsp;<h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> &nbsp;<b>Endereço
								Apurado</b>
						</td>
					</tr>
				</table>
				<!-- <p:fieldset styleClass="PanelTitle"> -->
					<table width="60%" border="0" cellpadding="1" cellspacing="1">
						<tr>
							<td width="16%">Rua/Avenida:</td>
							<td width="42%"><p:inputText id="txtRua" name="txtNome"
									style="width:170px" value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.ruaAvenida}"
									maxlength="30" /></td>
							<td width="10%">Número:</td>
							<td><p:inputText id="txtNumero" name="txtNumero"
									style="width:40px" value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.num}"
									onkeypress="BlockKeybord();" maxlength="5" /></td>
						</tr>
						<tr>
							<td>Complemento:</td>
							<td><p:inputText id="txtComplemento" name="txtComplemento"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.complemento}" maxlength="30" /></td>
							<td>Bairro:</td>
							<td><p:inputText id="txtBairro" name="txtBairro"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.bairro}" maxlength="30" /></td>
						</tr>
						<tr>
							<td>CEP:</td>
							<td colspan="3"><p:inputText id="txtCEP" name="txtCEP"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.cep}"
									onkeypress="MascaraCEP(this);" maxlength="9" /></td>
						</tr>

						<tr>
							<td>Telefone:</td>
							<td><p:inputText id="txtDDDTel" name="txtDDDTel"
									style="width:20px" maxlength="2"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.telefoneDDD}"
									onkeypress="BlockKeybord();" />&nbsp;<p:inputText
									id="txtTelefone" name="txtTelefone"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.telefoneNum}"
									onkeypress="MascaraTel(this)" maxlength="9" /></td>
							<td>Celular:</td>
							<td><p:inputText id="txtDDDCel" name="txtDDDCel"
									style="width:20px" maxlength="2"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.celularDDD}"
									onkeypress="BlockKeybord();" />&nbsp;<p:inputText
									id="txtCelular" name="txtCelular"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.enderecoApurado.celularNum}"
									onkeypress="MascaraTel(this)" maxlength="9" style="width:100px" /></td>
						</tr>
					</table>
				<!-- </p:fieldset> -->
				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>

				<!-- POSIÇÃO DE RISCO DATA ABERTURA-->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&nbsp;<h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> &nbsp;<b>Posição de
								Risco na Data de Abertura da OS -
								#{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.dtAbertura} - 
								(R$)</b>
						</td>
					</tr>
				</table>
				<!-- <fieldset class="PanelTitle"> -->
					<table width="50%" border="0" cellpadding="1" cellspacing="1">
						<tr>
							<td colspan="3">Operações Ativas</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td width="8%">&nbsp;</td>
							<td width="28%">- A Vencer:</td>
							<td><p:inputText styleClass="" id="txtVencer"
									style="text-align:right"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.oper_vencer}"
									onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
									maxlength="14" /></td>
						</tr>
						<tr>
							<td width="8%">&nbsp;</td>
							<td width="28%">- Vencida:</td>
							<td><p:inputText styleClass="" id="txtvencida"
									style="text-align:right"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.oper_vencida}"
									onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
									maxlength="14" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>- com Creli:</td>
							<td><p:inputText styleClass="" id="txtCreli"
									style="text-align:right"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.oper_creli}"
									onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
									maxlength="14" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>- com Prejuízo:</td>
							<td><p:inputText styleClass="" id="txtPreju"
									style="text-align:right"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.oper_preju}"
									onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
									maxlength="14" /></td>
						</tr>
						<tr style="height: 5px">
							<td colspan="3"></td>
						</tr>
						<tr>
							<td colspan="2">Operações Passivas:</td>
							<td><p:inputText styleClass="" id="txtObs"
									style="text-align:right"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.oper_passiva}"
									onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
									maxlength="14" /></td>
						</tr>
						<tr>
							<td colspan="2">Reciprocidade:</td>
							<td><p:inputText styleClass="" id="txtReci"
									style="text-align:right"
									value="#{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.reciprocidade}"
									onkeypress="BlockKeybord(); fnMascaraValor(this,2); "
									maxlength="14" /></td>
						</tr>
					</table>
				<!-- </fieldset> -->
				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>

				<!-- RESTRIÇÕES DATA ABERTURA-->
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&nbsp;<h:graphicImage align="absmiddle"
								value="../images/seta_vermelha.gif" /> &nbsp;<b>Restrições na
								Data de Abertura da OS - #{CadastroOsDetalheEnvolvNaoClienteBean.posRisco.dtAbertura} </b>
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td>
							<p:commandButton  id="Button4" type="button" value="Inserir Lançamento em Branco" onclick="InsereLinha()" />
						</td>
						<p:remoteCommand name="btnInsereLinha" action="#{CadastroOsDetalheEnvolvNaoClienteBean.insereLinha}" update="tblPrincipal"/>
					</tr>
				</table>
				<div id="divRestricao" name="divRestricao">								
					<p:dataTable id="tblPrincipal" paginator="false" var="result" value="#{CadastroOsDetalheEnvolvNaoClienteBean.restricoesDtAbertura}" rowIndexVar="index" emptyMessage="">
						<p:column headerText="&#35;"  style="width:30px" styleClass="titulo-tabela">
							<h:outputText value="#{index + 1}"></h:outputText> 
						</p:column>
						<p:column headerText="Instituição" styleClass="titulo-tabela"> 
							<p:inputText type="text" id="txtiCountLinhasInst" value="#{result.instituicao}"	maxlength="20" /> 
						</p:column>
						<p:column headerText="Especificação" styleClass="titulo-tabela">
							<p:inputText type="text" id="txtiCountLinhasEspec" value="#{result.especificacao}" maxlength="20" /> 
						</p:column>
						<p:column headerText="Valor" styleClass="titulo-tabela">
							<p:inputText type="text" id="txtiCountLinhasValor" value="#{result.valor}" maxlength="20" onkeypress="BlockKeybord(); fnMascaraValor(this,2);" /> 
						</p:column>
						<p:column headerText="Data Inclusão" styleClass="titulo-tabela">
							<p:inputText type="text"
										id="txtiCountLinhasData" value="#{result.data}" maxlength="10"
										mask="99/99/9999" onblur="VerificaData(this)" onkeydown="MascararData(this)"/> 
						</p:column>
						<p:column headerText=""  width="5%"  rendered="#{!result.sq_restricao.isEmpty()}">
							<p:commandLink onclick='Excluir(#{result.sq_restricao});' type="button">
								<h:graphicImage height="17" style="cursor:hand"
												align="absmiddle" value="../images/btn_excluir_ib.gif"
												alt="Excluir Restriç&atilde;o" title="Excluir Restrição"/>
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</div>

				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>
				
			   <table width="100%" class="bg-red w-100 align-right">
	            	<tr height="25">
	                	<td align="right">	
              			                           
                            <p:commandButton 
                                  value="Salvar"
                                  onclick="Salvar()">                                                                
                           </p:commandButton>

                            <p:commandButton 
                                  value="Voltar"
                                  action="#{CadastroOsDetalheEnvolvNaoClienteBean.voltar}">                                                                
                           </p:commandButton>                           
                                
                          </td>
                       </tr>
                  </table>
						
		</h:form>
		</h:body>
</html>