<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:head>
			<h:outputStylesheet name="css/hy_style.css" />
			<h:outputStylesheet name="css/hy_calendar.css" />
			<h:outputScript name="javascript/hy_funcoes.js" />
			<h:outputScript name="javascript/formchek.js" />
			<h:outputScript name="javascript/hy_calendario.js" />

			<title>Administração - Gerencial - Eventos</title>

			<style>
				.eventos-tabela tr:nth-child(odd) { background-color: #E8E8E8; }
			</style>

			<script>
   			//<![CDATA[
   			
   			window.onload = function(e) {
				PF('statusDialog').show();
				desmarcarCheckboxs();
			}
   				
  			function SetUnload() {
	    		document.getElementById('frm:txtHdUnload').value = '1';
	    	}
	    	
	    	function Voltar() {
	    		window.location.href = "hyb_adm_ger_manut.xhtml";
			}
	    	
			function Salvar() {
				var arrEventos = new Array();
				var strParamEvento = '';
			    
			    var arrAreaEvento = new Array();
			    var strParamAreaEvento = ''; 
			    
			    document.getElementById('frm:txtHdUnload').value = "0";
			    
			    if(!ValidaNomesSalvar()) {
			    	alert("Nome já existente! Alteração cancelada");
			    	return;
			    }
			    
			    if(confirm('Deseja salvar todas as alterações?')) {
			    	document.getElementById('frm:txtHdUnload').value = '0';
			    	arrEventos = document.getElementsByName('txtEventos')
			    		    	
			    	for(var i = 0; i < arrEventos.length; i++) {
			            strParamEvento = strParamEvento + arrEventos[i].id + '/' + arrEventos[i].value;
			            
			            if(i != (arrEventos.length - 1)) {
			                strParamEvento = strParamEvento + '@';
			            }
			        }  
			    	 	
 			    	arrAreaEvento = document.getElementsByName("chkEventoCanal");
 			    	
			    	for(i = 0; i < arrAreaEvento.length; i++) {
			            strParamAreaEvento = strParamAreaEvento + arrAreaEvento[i].id + '-' + arrAreaEvento[i].checked;
			            
			            if(i != (arrAreaEvento.length - 1)) {
			                strParamAreaEvento = strParamAreaEvento + '@';
			            }
			        }
			    	
			    	console.log(strParamAreaEvento); 
		    	
			    	document.getElementById('frm:txtHdParamAltEvento').value = strParamEvento;
			    	document.getElementById('frm:txtHdParamAltRelac').value = strParamAreaEvento;

			    	salvarRemoteCommand();
			    }
			}
			
			function Deletar(obj, strNomeEvento) {
				document.getElementById('frm:txtHdEvento').value = obj;
				
				if(confirm("Deseja excluir o evento " + strNomeEvento)) {					
					deletarRemoteCommand();
			    }  
			}
			
			function Adicionar() {
				var objTxtEvento = document.getElementById('frm:txtAddEvento');

				if(objTxtEvento.value == '') {
			        alert("Digite o nome do Evento.");
			        return;
			    }
				
			    if(!ValidaNomesAdd())
			    {
			        alert('Nome já existente!\nEscolha outro Nome!');
			        return;
			    }
			   
				document.getElementById('frm:txtHdEvento').value = objTxtEvento.value;
			    
			    if (confirm('Deseja incluir o Evento ' + objTxtEvento.value + '?')) {
			    	
					adicionarRemoteCommand();
			    }    
			    else {
			        objTxtEvento.value = ''; 
			        objTxtEvento.focus();      
			    }
			}
			
			function ValidaNomesAdd() {
				var arrNomes = new Array();
			    var objTxtAdd = document.getElementById('frm:txtAddEvento')
			    
			    arrNomes = document.getElementsByName('frm:txtEventos');

/* 			    console.log("Novo: " + objTxtAdd.value.toUpperCase());
			    
			    console.log("txtEventos: " + arrNomes.length)
			    
			    arrNomes = document.getElementsByClassName('frm:txtEventos')
			    
			    console.log("classes: " + arrNomes.length) */
			    
			    for(var i = 0; i < arrNomes.length; i++) {
			    	console.log("Antigos: " + arrNomes[i].value.toUpperCase());
			        if(arrNomes[i].value.toUpperCase() == objTxtAdd.value.toUpperCase()) {                
			            return false;
			        }
			    }
			    
			    return true;
			}
			
			function ValidaNomesSalvar() {
		    	var arrNomes = new Array();
				   
				arrNomes = document.getElementsByName('frm:txtEventos');
				     
				for(var i = 0; i < arrNomes.length; i++) {
					for(var j = 0; j < arrNomes.length; j++) {            
				    	if(i != j) {
				    		
				        	if(arrNomes[i].value.toUpperCase() == arrNomes[j].value.toUpperCase()) {
				            	return false;
				            }
				        }
				    }
				}
		    	return true;
			}

	        //]]>
    		</script>
		</h:head>

		<h:body class="PanelTitle">
		
			<ui:include src="loadingStatus.xhtml" />
		
			<table cellSpacing="0" cellPadding="0" width="100%" border="0">
				<tbody>
					<tr bgColor="#c02000">
						<iframe src="titulo.xhtml?strTitulo= Administração - Gerencial - Eventos" frameborder="0" width="100%" height="27"></iframe>				
					</tr>
				</tbody>
			</table>
			<br />
			
			<table width="100%" border="0"
				style="background-color: Red; color: White;" cellpadding="1"
				cellspacing="1">
				<tr height="25">
					<td>&nbsp;&nbsp;[ Eventos ]
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="hyb_adm_ger_manut_canais.xhtml" style="color: White"><b>[ Canais ]&nbsp;&nbsp;&nbsp;&nbsp;</b></a><a
						href="hyb_adm_ger_manut_pcorp.xhtml" style="color: White"><b>[
								Produtos Corporativos ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp; <a
						href="hyb_adm_ger_manut_paux.xhtml" style="color: White"><b>[
								Produtos Auxiliares ]</b></a> &nbsp;&nbsp;
					</td>
				</tr>
			</table>
						
			<h:form id="frm" name="frm">
			
				<p:remoteCommand name="onload"
					action="#{AdmGerManutEventosBean.montarListaEventos_Lazy}"
					autoRun="true" update="frm:admGerManutEventos" />
			
				<h:outputLabel for="txtAddEvento"
					value="Descrição do Evento (30 caracteres):" />
				<br />
				<p:inputText id="txtAddEvento" type="text" style="width:200px"
					maxlength="30" name="txtAddEvento"
					value="#{AdmGerManutEventosBean.txtAddEvento}" />  &nbsp;&nbsp;  
				<p:commandButton id="btnAddEvento" value="Adicionar"
					onclick="Adicionar()" update="@form" />

				<br />
				<br />

				<p:dataTable id="admGerManutEventos"
					var="rsEvento"
					value="#{AdmGerManutEventosBean.objRsEvento}" 
					rows="8"
					paginatorPosition="bottom"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
					currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
					paginator="true"
					emptyMessage="#{AdmGerManutEventosBean.emptyMessage}" lazy="true">
					<p:columnGroup type="header">
						<p:row>
							<p:column rowspan="2" style="width: 230px; text-align: center"
								headerText="Descrição Canal Origem" />
							<p:column
								colspan="#{AdmGerManutEventosBean.getObjRsAreaEventoLength()}"
								style="width: 60%; text-align: center" headerText="Área" />
							<p:column colspan="1" rowspan="2" style="text-align: center"
								headerText="" />
						</p:row>
						<p:row>
							<ui:repeat var="row"
								value="#{AdmGerManutEventosBean.objRsAreaEvento}">
								<p:column headerText="#{row.area}" />
							</ui:repeat>
						</p:row>
					</p:columnGroup>
					<p:column>
						<input name="txtEventos" id="#{rsEvento.id}" class="txtEventos"
							value="#{rsEvento.evento}" type="text" style="width: 98%;"
							maxlength="30" onchange="SetUnload()" />
					</p:column>

					<p:columns var="area"
						value="#{AdmGerManutEventosBean.objRsAreaEvento}"
						style="text-align: center">
						
						<p:panelGrid rendered="#{AdmGerManutEventosBean.isAreaEventoChecked(area.id, rsEvento.id) == 1 ? true : false}">
							<input type="checkbox" class="admGerManutCanaisCheckbox"
								id="#{area.id}-#{rsEvento.id}" name="chkEventoCanal"
								value="#{area.id}" checked="true" ></input>	
						</p:panelGrid>
						
						<p:panelGrid rendered="#{AdmGerManutEventosBean.isAreaEventoChecked(area.id, rsEvento.id) == 0 ? true : false}">
							<input type="checkbox" class="admGerManutCanaisCheckbox"
								id="#{area.id}-#{rsEvento.id}" name="chkEventoCanal"
								value="#{area.id}" ></input>	
						</p:panelGrid>
				
					</p:columns>

					<p:column>
						<h:graphicImage url="../images/btn_excluir_ib.gif"
							alt="Excluir Evento 1"
							onclick="Deletar(#{rsEvento.id}, '#{rsEvento.evento}')"
							style="cursor: hand" />
					</p:column>
				</p:dataTable>

				<table width="100%" class="bg-red w-100 align-right">
                 <tr height="25">
                     <td align="right">
                        <p:commandButton type="button" onclick="Salvar()" id="btnSalvar" value="Salvar" />
                        <p:commandButton type="button" onclick="Voltar()" id="btnVoltar" value="Voltar" />
                     </td>
                 </tr>    
             	</table>

				<p:inputText id="txtHdParamAltEvento" name="txtHdParamAltEvento"
					type="hidden" value="#{AdmGerManutEventosBean.txtHdParamAltEvento}" />
				<p:inputText id="txtHdParamAltRelac" name="txtHdParamAltRelac"
					type="hidden" value="#{AdmGerManutEventosBean.txtHdParamAltRelac}" />
				<p:inputText id="txtHdEvento" name="txtHdEvento" type="hidden"
					value="#{AdmGerManutEventosBean.txtHdEvento}" />
				<p:inputText id="txtHdUnload" name="txtHdUnload" type="hidden"
					value="0" />

				<p:remoteCommand name="adicionarRemoteCommand" update="@form"
					actionListener="#{AdmGerManutEventosBean.adicionar}" />
				<p:remoteCommand name="salvarRemoteCommand" update="@form"
					process="@this" actionListener="#{AdmGerManutEventosBean.salvar}" />
				<p:remoteCommand name="deletarRemoteCommand" update="@form"
					process="@this" actionListener="#{AdmGerManutEventosBean.deletar}" />

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>