<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/templates/template.xhtml">
       
             <ui:define name="content" >
    

    <h:head>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
		
	<style type="text/css">
	.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
		padding: 4px 2px;
		border: 0;
		text-align: center;
	}
	.ui-datatable table {
	width:99.9%;
	}
	</style>	

    	
		<script type="text/javascript">
        	//<![CDATA[	
				function Deletar(obj, strNome) {

					
					if (confirm("Deseja excluir o recurso  " + strNome)) {
						deletarRemoteCommand([{name:"excluirRecurso", value:obj}]);
					}
				}
				
				function limparSessao(){
					limparSessaoRemoteCommand();
				}
	
		    //]]>
		</script>
    </h:head>
 
    <h:body class="PanelTitle" style="height:100%">

			<iframe src="titulo.xhtml?strTitulo= Administração - Gerencial - Recurso Ocesp - Pesquisar" frameborder="0" width="100%" height="27"></iframe>
			<br />
			<table width="100%" border="0" style="background-color:Red; color:White;" cellpadding="1" cellspacing="1">
		    <tr height="25">
		        <td><a href="hyb_adm_ger_manut_rec_cad.xhtml" style="color:White;padding-left:15px;"><b>[ Cadastrar ]</b></a><span style="padding-left:10px">           
		            [ Pesquisar ]            
		            </span>
		        </td>
		    </tr>    
		</table>
		<h:form id="frm">
			<table>
			    <tr height="35">
			        <td>CPF:</td>
			        <td width="115">
		        		<p:inputMask id="txtCpf" name="txtCpf" value="#{admGerManutRecPesqBean.txtCpf}" mask="999.999.999-99"  onkeypress="if (event.keyCode == 13) { return false; }"/>
					</td>
			        <td style="padding-left:20px">Nome:</td>
			        <td width="265">
		        		<p:inputText id="txtNome" name="txtNome" value="#{admGerManutRecPesqBean.txtNome}" style="width:225px" maxlength="50"  onkeypress="if (event.keyCode == 13) { return false; }"/>
		        	</td>
			        <td style="padding-left:20px">Área:</td>
			        <td>
			            <p:selectOneMenu value="#{admGerManutRecPesqBean.cboAreaSelecionada}" id="cboArea" name="cboArea" style="width:110px" dynamic="true">
                            <f:selectItem itemLabel="..." itemValue="" />
                            <f:selectItems value="#{admGerManutRecPesqBean.cboArea.entrySet()}"  var="entry" itemvalue="#{entry.keySet()}" itemLabel="#{entry.value}" />
                        </p:selectOneMenu>
			        </td>
			        <td width="35" align="right" style="padding-left:15px">
			        	<h:commandLink style="cursor:hand" action="#{admGerManutRecPesqBean.AdmGerManutRecPesq}" update="admAreaRecurso">
			        		<h:graphicImage align="absmiddle" value="../images/lupa.gif" alt="Pesquisar" />
			        	</h:commandLink>
			        </td> 
			    </tr>
			</table>

				<p:dataTable classStyle="no-paginator-top" value="#{admGerManutRecPesqBean.objRsRecurso}"
	                var="admRecurso"
	                id="admAreaRecurso"
	                emptyMessage="Nenhum Recurso Encontrado!"
	                selection="#{admGerManutRecPesqBean.radioSelected}"
	  				width="100%"
	  				rowKey="#{admRecurso.cdbCpf}"
					rows="8"
	                paginator="true"
	                paginatorPosition="bottom"
	                lazy="true"
	                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
					currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
	                rowsPerPageTemplate="8,16,24">
               <p:column selectionMode="single" width="5%">
        				   </p:column>
	                <p:column headerText="CPF" width="13%">
			            <h:outputText value="#{admRecurso.cdbCpf}" />
			        </p:column>
	                <p:column headerText="Nome" width="38%">
			            <h:outputText value="#{admRecurso.cdbNome}" />
			        </p:column>
	                <p:column headerText="Matrícula" width="8%">
			            <h:outputText value="#{admRecurso.cdbMatricula}" />
			        </p:column>
	                <p:column headerText="Cargo" width="17%" style="padding-left:8px;">
			            <h:outputText value="#{admRecurso.cdbCargo}" />
			        </p:column>
	                <p:column headerText="Tipo" width="10%" style="padding-left:8px;">
			            <h:outputText value="#{admRecurso.cdbTipoRecurso}" />
			        </p:column>
	                <p:column headerText="Área" width="5%">
			            <h:outputText value="#{admRecurso.cdbArea}" />
			            </p:column>
			       <p:column>

   	             <p:graphicImage value="../images/btn_excluir_ib.gif"
						alt="Excluir o recurso #{admRecurso.cdbNome}"
						onclick="Deletar('#{admRecurso.cdbCpf}', '#{admRecurso.cdbNome}')"
						id="id-#{admRecurso.cdbCpf}"
						style="cursor: pointer" align="absmiddle" />   

					<p:remoteCommand name="deletarRemoteCommand" process="@this"
					update="@form"
					actionListener="#{admGerManutRecPesqBean.excluirRecurso}" />						                                                                 	         
			        </p:column>
				</p:dataTable>
				<br />
			   <table width="100%" class="bg-red w-100 align-right">
                 <tr height="25">
                     <td align="right">			   
				<p:commandButton value="Alterar" id="alterarRecurso" action="#{admGerManutRecPesqBean.alterarRecurso}" ajax="false" style="margin-right:10px;" />
				<p:button value="Voltar" outcome="hyb_adm_ger_manut.xhtml" onclick="limparSessao();" />
				                           </td>
                 </tr>    
             </table>
				
			<input id="txtHdAction" name="txtHdAction" type="hidden" />
			<p:remoteCommand name="limparSessaoRemoteCommand"
                                        actionListener="#{admGerManutRecPesqBean.cleanSession}" />
		</h:form>
    </h:body>
</ui:define>
</ui:composition>
