<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../templates/template.xhtml">
	
		<ui:define name="content" >
  
<h:head>
  <title>HY - Ocorrências Especiais</title>

	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_avanade-style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
</h:head>
  
<h:body>
  
       <p:dataTable id="tableFraudesAbertas" var="fraudeaberta" value="#{fraudeAbertaMB.fraudesAbertas}">
             <p:column headerText="Banco">
                    <h:outputText value="#{fraudeaberta.banco}" />
             </p:column>
             <p:column headerText="OS">
                    <h:outputText value="#{fraudeaberta.qtdOS}" />
             </p:column>
             <p:column headerText="Valor Envolvido">
                    <h:outputText value="#{fraudeaberta.valor}" />
             </p:column>
             <p:column headerText="Canal">
                    <h:outputText value="#{fraudeaberta.canal}" />
             </p:column>
             <f:facet name="footer">
        		<p>Total: <h:outputText value="#{fraudeAbertaMB.valorTotal}" /></p>
    		</f:facet>
       </p:dataTable>   
  
 	<p:commandButton value="Imprimir" type="button" icon="pi pi-print" style="display:block;margin-bottom: 20px">
    	<p:printer target="tableFraudesAbertas" />
	</p:commandButton>
	<p:commandButton value="Voltar" onclick="window.history.back();"/>
	
  
</h:body>
</ui:define>
</ui:composition>