<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/templates/template.xhtml">
	
		<ui:define name="content" >

<h:head>
	<title>HYB - Ocorrências Especiais</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script type="text/javaScript" src="../javascript/hy_calendario.js"></script>
	<script type="text/javaScript" src="../javascript/hy_funcoes.js"></script>
	<script type="text/javaScript" src="../javascript/formchek.js"></script>
	<style type="text/css">
			.ui-widget-content {
				border: none;
			}
			.ui-widget-content ul{
				list-style-type: none;
				padding:0;
							}

	</style>
	<ui:insert name="javaScriptReference" />

	<script type="text/javascript">
//<![CDATA[
	
//parent.parent.rodape.location.replace('hy_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar@Voltar/Voltar');
				
				window.onload = function()
				{
					//AtualizaTotais();
					Resize();
				}

				function Resize()
				{
					//window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;	
				}
						
				function Voltar()
				{
					history.back();
			    }		
			    

				
				function Salvar(){					
					salvarRemoteCommand();
				}
				
				function SalvarErro(descrErro){
					if (confirm("Ocorreu um problema ao salvar o Detalhe. Deseja visualiza-lo?")){
						alert(descrErro);
					}
				}
				

				//JS CONTESTACAO INCLUDE
				
				function validarCentros(tipoProduto) {
					var ori = document.getElementById('frmOs:txtCdCentroOrigem');
					var dest = document.getElementById('frmOs:txtCdCentroDestino');
					var oper = document.getElementById('frmOs:txtCdCentroOperante');
					
					if (ori == null || dest == null ||oper== null ){
						alert('Centros de custo não informados');
						return false;
					} 
					
					if (ori.value == "" ){
						alert('Centro Origem não informado');
						ori.focus();
						return false;
					} 
					
					if ( dest.value == ""   ){
						alert('Centro Destino não informado');
						dest.focus();
						return false;
					} 
					
					if ( oper.value== "" ){
						alert('Centro Operante não informado');
						oper.focus();
						return false;
					} 
					
					
					console.log("teste aqui");
					console.log(ori.value,  dest.value);
					//////////////////////////////////////////////////////////
					
					if( (tipoProduto == "1" &&  document.getElementById("frmOs:cboOperCorpDebt_input").value == "") || (tipoProduto == "2" && document.getElementById("frmOs:cboOperAuxDebt_input").value == "") ){
						alert('Selecione uma Operação');
						return false;
					}
					callUnidadeEnvolvCPV([{name: "tipoProduto", value: tipoProduto}]);
					//return true;
					
				}
				
				function changeConfirmOrigin() {
					var ori = document.getElementById('frmOs:txtCdCentroOrigem');
					var dest = document.getElementById('frmOs:txtCdCentroDestino');
				}
				
				function confirmarCentroOrigem(tipoProduto) {
					console.log("confirmarCentroOrigem:" + tipoProduto);
					var ori = document.getElementById('frmOs:txtCdCentroOrigem');
					var ret = confirm('Centro Origem '+ ori.value +' informado não é de uma Agência.\nDeseja continuar?');
					var dest = document.getElementById('frmOs:txtCdCentroDestino');
					
					console.log("1º confirm: " + ret);
					if (ret == true && dest.value != "6494") {     
						console.log("primeira confirmação;");
						callUnidadeEnvolvCPVDest([{name: "tipoProduto", value: tipoProduto}]);
						
					}else if(ret == false && dest.value != "6494"){
						console.log("Cancelado...");
					}else{
						callAdicionarProduto([{name: "tipoProduto", value: tipoProduto}]);
						
					}
					//callAdicionarProduto();
					//callConfirmarCentros([{name: "centroConfirm", value: ret}]);
				}
				
				function confirmarCentroDest(tipoProduto) {
					console.log("confirmarCentroDest:" + tipoProduto);
					var dest = document.getElementById('frmOs:txtCdCentroDestino');
					if(confirm('Centro Destino '+ dest.value +' informado não é de uma Agência.\nDeseja continuar?') ){
						callAdicionarProduto([{name: "tipoProduto", value: tipoProduto}]);
					};
				}
				
				function adicionarProduto(tipoProduto) {
					console.log("adicionarProduto ", tipoProduto);
					if (validarCentros(tipoProduto)) {
						callAdicionarProduto([{name: "tipoProduto", value: tipoProduto}]);
					}
				}
				
				function DeletarOperacao(strNrSeqTranFrau, index, desc_cnte){
					if(!confirm("Deseja realmente excluir essa operação?") )
						return;
					
					callExcluirOperacao([{name: "strNrSeqTranFrau", value: strNrSeqTranFrau}, {name: "index", value: index}, {name: "desc_cnte", value: desc_cnte}]);
			    	//AtualizaTotais();
			    	alert('Operação excluída com sucesso!');
					
				      
				}
				
				function DeletarLinha(strTrId)
				{
				    var tb = document.getElementById('tbOper');
				    var row;
				    var i;
				    var strBgColor = '#FFFFFF';
				    
				    for (i=1; i < tb.rows.length; i++)
				    {
				        row = tb.rows[i];
				        if (row.id == strTrId)
				        {
				            tb.deleteRow(i);
				            break;    
				        }
				    }
				    
				    //FOR para refazer a cardinalidade dos registros na tabela
				    for (i=1; i < tb.rows.length; i++)
				    {
				        if(strBgColor == '#FFFFFF')
				            strBgColor = '#E8E8E8'; 
				        else
				            strBgColor  = '#FFFFFF';
				            
				        row = tb.rows[i];
				        row.style.background = strBgColor;
				        row.cells[0].innerHTML = '<b>' + i + '</b>';
				    }
				        
				}
				
				function AtualizaTotais(){
				    var tb = document.getElementById('tbOper');
				    var row;
				    var i;    
				    var txtLancDbto = document.getElementById('frmOs:txtLancDbto');   
				    var txtValDbto = document.getElementById('frmOs:txtValDbto');   
				    var txtLancCrdt = document.getElementById('frmOs:txtLancCrdt');   
				    var txtValCrdt = document.getElementById('frmOs:txtValCrdt');
					
				    var dblVlFraude;
				    
				    txtLancDbto.value = '0';
				    txtValDbto.value = '0,00';
				    txtLancCrdt.value = '0';
				    txtValCrdt.value = '0,00';
					
				    for (i=1; i < tb.rows.length; i++){        
				        row = tb.rows[i];
				        
				        dblVlFraude = row.cells[5].childNodes[0].value.replace('.', '').replace(',', '.');
				        if(dblVlFraude == ''){dblVlFraude = '0';}
				        
						var desc = row.cells[2].innerHTML;
						if (desc !=null){
							desc = desc.substring(desc.length-4,desc.length);
						}
						
				        if (row.cells[2].innerHTML == 'Débito' ||  desc == 'bito')
				        {            
				            txtValDbto.value = parseFloat(txtValDbto.value) + parseFloat(dblVlFraude); 
				            txtLancDbto.value = parseInt(txtLancDbto.value) + 1;
						}
				        
				        if (row.cells[2].innerHTML == 'Crédito'  || desc == 'dito')
				        {
				            txtValCrdt.value = parseFloat(txtValCrdt.value) + parseFloat(dblVlFraude); 
				            txtLancCrdt.value = parseInt(txtLancCrdt.value) + 1; 
					    }  
				    }
					
					
				    txtValDbto.value = FormatNumber(txtValDbto.value, ',', 2, true);
				    txtValCrdt.value = FormatNumber(txtValCrdt.value, ',', 2, true);
				}
				
				
				function MascararData(obj)
				{
					if(obj.value.length == 2)
					{
						obj.value += '/';
					}
					if(obj.value.length == 5)
					{
						obj.value += '/';
					}
				}
				
				function ValidaData(obj)
				{
				    console.log("ValidaData");
				    var arrDtFixa = new Array(); 
				    var arrDtPeriIni = new Array();  
				    var arrDtPeriFim = new Array();  
				    var arrDtOper = new Array(); 
				    
				
				    if (obj.value != '' && obj.value != '__/__/____')
				    {
				    	console.log("aquiii");
				    	arrDtOper = obj.value.split('/');	
				    	
						console.log(arrDtOper[0], !isDateString(obj.value) && arrDtOper[0].indexOf('_') == -1 && obj.readOnly != true);
				        if(!isDateString(obj.value) && arrDtOper[0].indexOf('_') == -1 && obj.readOnly != true)
				        {
				        	alert('Data inválida!');
				            obj.value = '';
				            /* obj.focus(); */
				            return;
				        }   

				
				        //

				    	if (document.getElementById("txtHdnDtFixa").value != '' &&  document.getElementById("txtHdnDtFixa").value !=  '__/__/____')
				    	{
				   		arrDtOper = obj.value.split('/');		
						arrDtFixa = document.getElementById("txtHdnDtFixa").value.split('/');
						console.log("passou!!");
						if((parseInt(arrDtOper[2] + arrDtOper[1] + arrDtOper[0])) != (parseInt(arrDtFixa[2] + arrDtFixa[1] + arrDtFixa[0])))
						{
						    alert('Data inválida!\nA data da operação deve ser igual à data da ocorrência ' + document.getElementById("txtHdnDtFixa").value + '!');
						    obj.value = '';
						    obj.focus();            
						    return false;          
						}    	    
				    	}
				    	
				    	if (document.getElementById("txtHdnDtPeriIni").value != '')
				    	{
				   		arrDtOper = obj.value.split('/');		
						arrDtPeriIni = document.getElementById("txtHdnDtPeriIni").value.split('/');
						arrDtPeriFim = document.getElementById("txtHdnDtPeriFim").value.split('/');
					
						if((parseInt(arrDtOper[2] + arrDtOper[1] + arrDtOper[0])) < (parseInt(arrDtPeriIni[2] + arrDtPeriIni[1] + arrDtPeriIni[0])) || (parseInt(arrDtOper[2] + arrDtOper[1] + arrDtOper[0])) > (parseInt(arrDtPeriFim[2] + arrDtPeriFim[1] + arrDtPeriFim[0])) )
						{
						    alert('Data inválida!\nA data da operação deve estar entre o período inicial ' + document.getElementById("txtHdnDtPeriIni").value +' e o período final ' + document.getElementById("txtHdnDtPeriFim").value + '!');
						    obj.value = '';
						    obj.focus();            
						    return false;          
						}    	    
				    	}    	
				
				    }	
				
				}
				
				function MascararHora(obj)
				{
					if(obj.value.length == 2)
						obj.value += ':';
				}
				
				function ValidaHora(obj)
				{
				    var arrHora = new Array();
				    
				    if (obj.value != '')
				    {   
				    
				        if(!isTimeString(obj.value))
				        {
				            alert('Horário inválido');
				            obj.value = '';                 
				            obj.focus();            
				            return;
				        }  
				    }      
				}
				
				
				function MostraDetalhesProdutosFE(nrseq){
					console.log("FE");
					clearBeanRemoteCommand([{name: 'pageType', value: 'FE'}, {name: 'nrSeq', value: nrseq}]);
					//PF('detalhe-produto-fe-'+index).show();
				}
				
				function MostraDetalhesProdutosFO(nrseq){    
					console.log("FO");
					clearBeanRemoteCommand([{name: 'pageType', value: 'FO'}, {name: 'nrSeq', value: nrseq}]);
					//PF('detalhe-produto-fo-'+index).show();
				}
//]]>
</script>

</h:head>
<h:body class="PanelTitle">
	<h:form name="frmOs" id="frmOs" method="post">
		<p:remoteCommand name="clearBeanRemoteCommand" actionListener="#{cadastroOsDefaultBean.clearBean}" />
		<table width="100%" border="0" style="background-color: Red; color: White">
			<tr>
				<td colspan="2">Eventos > #{cadastroOsDefaultBean.strNrEvento} >
					#{cadastroOsDefaultBean.strNrCanal}</td>
				<td><b>Nº OS:</b><b>#{cadastroOsDefaultBean.strNrSeqDetalhe}</b></td>
			</tr>
			<tr>
				<td><b>Titular:</b>#{cadastroOsDefaultBean.objCadastroOsDefault.nmParp}</td>
				<td><b>CPF/CNPJ:</b>#{cadastroOsDefaultBean.objCadastroOsDefault.nrCpfCnpjTitl}</td>
				<td><b>Nº Conta:</b>#{cadastroOsDefaultBean.objCadastroOsDefault.nrCnta}</td>
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>
		
				<!-- Centros de Custo  -->
				<table width="100%" border="0" cellpadding="1" cellspacing="1"
					id="Table4">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&nbsp;<img align="absmiddle"
							src="../images/seta_vermelha.gif" /> &nbsp;<b>Centros de
								Custo</b>
						</td>
					</tr>
				</table>

				<table width="auto" border="0" ID="Table2">
					<tr>
						<td><b style="white-space: nowrap; font-size: 10px">Centro
								Origem:</b></td>
						<td><p:inputText style="width: 84%; margin-right: 20px;"
								disabled="#{cadastroOsDefaultBean.objRsCanal.CONTABILIZADO eq 'false' ? 'false' : 'true'}"
								type="text" name="txtCdCentroOrigem" id="txtCdCentroOrigem"
								onkeypress="BlockKeybord(); MascaraInteiro(this);" maxlength="4"
								value="#{cadastroOsDefaultBean.objRsCanal.CD_CENT_CUST_ORIG}" /></td>
						<td><b style="white-space: nowrap; font-size: 10px">&nbsp;&nbsp;&nbsp;&nbsp;Centro
								Destino:</b></td>
						<td><p:inputText style="width: 84%; margin-right: 20px;"
								disabled="#{cadastroOsDefaultBean.objRsCanal.CONTABILIZADO eq 'false' ? 'false' : 'true'}"
								type="text" name="txtCdCentroDestino" id="txtCdCentroDestino"
								onkeypress="BlockKeybord(); MascaraInteiro(this);" maxlength="4"
								value="#{cadastroOsDefaultBean.objRsCanal.CD_CENT_CUST_DEST}" /></td>
						<td><b style="white-space: nowrap; font-size: 10px">&nbsp;&nbsp;&nbsp;&nbsp;Centro
								Operante:</b></td>
						<td><p:inputText style="width: 84%;" readonly="true"
								type="text" name="txtCdCentroOperante" id="txtCdCentroOperante"
								onkeypress="BlockKeybord(); MascaraInteiro(this);" maxlength="4"
								value="#{cadastroOsDefaultBean.objRsCanal.CD_CENT_CUST_OPNT}" /></td>
					</tr>
				</table>

				<p:remoteCommand name="callConfirmarCentros"
					actionListener="#{cadastroOsDefaultBean.getConfirmarCentros}"></p:remoteCommand>
				<p:remoteCommand name="callUnidadeEnvolvCPV"
					actionListener="#{cadastroOsDefaultBean.verifUnidadeEnvolvCPV}"></p:remoteCommand>
				<p:remoteCommand name="callUnidadeEnvolvCPVDest"
					actionListener="#{cadastroOsDefaultBean.verifUnidadeEnvolvCPVDest}"></p:remoteCommand>

				<h:panelGroup id="pnlContestacao">
					<div style="width: 100%">
						<table width="100%" border="0" cellpadding="1" cellspacing="1">
							<tr style="background-color: red; height: 1px">
								<td></td>
							</tr>
							<tr style="background-color: red; color: White; height: 20px">
								<td valign="middle">&nbsp;<h:graphicImage align="absmiddle"
										value="../images/seta_vermelha.gif" /> &nbsp;<b>Contestação</b>
								</td>
							</tr>
						</table>

						<table>
							<tr>
								<p:selectOneRadio id="rdoTpContestacao"
									value="#{cadastroOsDefaultBean.selectRdoContestacao}">
									<f:selectItem itemLabel="Débito" itemValue="1"></f:selectItem>
									<f:selectItem itemLabel="Crédito" itemValue="2"></f:selectItem>
									<f:ajax render="pnlContestacao"
										listener="#{cadastroOsDefaultBean.handleIsCredito}" />
								</p:selectOneRadio>
							</tr>
						</table>
						<table width="100%" border="0">
							<tr>
								<td width="80%"><b>Operações Corporativas:</b><br /> <p:selectOneMenu
										value="#{cadastroOsDefaultBean.selectedOperCorp}"
										id="cboOperCorpDebt" style="display:block">
										<f:selectItem itemLabel="Selecione" itemvalue="" />
										<f:selectItems value="#{cadastroOsDefaultBean.objRsOperCorp}"
											var="oper" itemValue="#{oper.NR_SEQU_TIPO_OPER_TRAN}"
											itemLabel="#{oper.getLabel()}" />
									</p:selectOneMenu></td>
								<td width="" valign="bottom"><p:commandButton id="Button1"
										type="button" value="Adicionar" onclick="adicionarProduto(1)"></p:commandButton>
								</td>
							</tr>
							<tr>
								<td width="80%"><b>Operações Auxiliares:</b><br /> <p:selectOneMenu
										value="#{cadastroOsDefaultBean.selectedOperAux}"
										id="cboOperAuxDebt" style="display:block">
										<f:selectItem itemLabel="Selecione" itemvalue="" />
										<f:selectItems value="#{cadastroOsDefaultBean.objRsOperAux}"
											var="oper" itemValue="#{oper.CD_PROD_AUXI}"
											itemLabel="#{oper.NM_PROD_AUXI}" />
									</p:selectOneMenu></td>
								<td width="" valign="bottom"><p:commandButton id="Button3"
										type="button" value="Adicionar" onclick="adicionarProduto(2)"></p:commandButton>
								</td>
							</tr>
						</table>
					</div>
				</h:panelGroup>

				<p:remoteCommand name="callAdicionarProduto"
					actionListener="#{cadastroOsDefaultBean.adicionarProduto('')}"></p:remoteCommand>

				<table width="100%">
					<tr>
						<td heigth="5"></td>
					</tr>
				</table>

				<table>
					<tr>
						<td><b>Operações Inseridas:</b></td>
					</tr>
				</table>

				<table>
					<tr style="height: 3px">
						<td></td>
					</tr>
				</table>
				<h:panelGroup id="tbInserirOp">
					<table id="tbOper" width="100%" border="0" cellpadding="0"
						cellspacing="0">
						<tr style="background-color: gray; color: White">
							<td align="center"><b>#</b></td>
							<td width="42%"><b>Descrição Produto</b></td>
							<td width="12%" align="center"><b>Contest.</b></td>
							<td width="12%"><b>Data<br />Operação
							</b></td>
							<td width="12%"><b>Hora<br />Operação
							</b></td>
							<td><b>Valor<br />Fraude (R$)
							</b></td>
							<td></td>
						</tr>
						<ui:repeat var="objRsOper" value="#{cadastroOsDefaultBean.objCanais}" varStatus="status">
						    <tr id="#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" height="25">
						        <td align="center"><b>#{status.index+1}</b> </td>
						        <h:panelGroup rendered="#{cadastroOsDefaultBean.strNrCanal eq 'CONTA BANCÁRIA'}">
						            <td><a href="javascript:MostraDetalhesProdutosFO(#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL})">#{objRsOper.DESC_TRAN}</a></td>					                
						        </h:panelGroup>
						        <h:panelGroup rendered="#{cadastroOsDefaultBean.strNrCanal ne 'CONTA BANCÁRIA'}">
						            <td><a href="javascript:MostraDetalhesProdutosFE(#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL})">#{objRsOper.DESC_TRAN}</a></td>					                					                
						        </h:panelGroup>
						        <td align="center">#{objRsOper.DESC_CNTE}</td>
						        <td><p:inputText id="txtDt#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" name="reg#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" value="#{objRsOper.strDtOper}" type="text" style="width:80%" maxlength="10" onkeydown="MascararData(this)" onkeypress="BlockKeybord()" onblur="ValidaData(this)"/></td>      
						        <td><p:inputText id="txtHr#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" name="reg#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" value="#{objRsOper.strHrOper}" type="text" style="width:80%" maxlength="5" onkeypress="BlockKeybord()" onblur="ValidaHora(this)" onkeydown="MascararHora(this)"/></td>
						        <td><p:inputText id="txtVl#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" name="reg#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}" value="#{objRsOper.strVlOper}" type="text" style="width:80%" maxlength="16" onkeypress="BlockKeybord();fnMascaraValor(this,2);"/></td>
						        <td align="right"><img height="20" style="cursor:hand" align="absmiddle" src="../images/btn_excluir_ib.gif" alt="Excluir Operação" onclick="DeletarOperacao(#{objRsOper.NR_SEQU_TRAN_FRAU_CNAL}, #{status.index}, '#{objRsOper.DESC_CNTE}' )" /></td>
						    </tr>
						</ui:repeat>
						
						<p:dialog appendToBody="true" header="" widgetVar="detalhe-produto-fo-fe" height="740" width="680" resizable="no" id="dialog-fo-fe">
						    <iframe id="modal-detalhe-produto-fo-fe" src="" frameborder="0" width="100%" style="height: 890px"></iframe>
						</p:dialog>	
					</table>

					<table width="auto" border="0">
						<tr>

						</tr>
						<tr>
							<td><b>Quantidade de Operações a DÉBITO:</b></td>
							<td><p:inputText styleClass="txtReadyOnly" id="txtLancDbto"
									type="text" readonly="true"
									style="text-align:right; width:40px"
									value="#{cadastroOsDefaultBean.intQntLancDbto}" /></td>
							<h:panelGroup
								rendered="#{cadastroOsDefaultBean.objRsCanal.CD_CNAL ne '0'}">
								<td></td>
								<td></td>
								<td><b>Quantidade de Ocorrências:</b></td>
								<td><p:inputText id="txtQtdeOcor" type="text"
										style="text-align:right; width:40px"
										value="#{cadastroOsDefaultBean.objRsCanal.NR_QNTD_EVEN}" /></td>
							</h:panelGroup>
						</tr>
						<tr>
							<td><b>Valor Total de Operações a DÉBITO:</b></td>
							<td><p:inputText styleClass="txtReadyOnly" id="txtValDbto"
									type="text" readonly="true" style="text-align:right"
									value="#{cadastroOsDefaultBean.formataValorRecebido(cadastroOsDefaultBean.intQntValDbto.toString())}" /></td>
						</tr>
						<tr height="8">
							<td></td>
						</tr>
						<tr>
							<td><b>Quantidade de Operações a CRÉDITO:</b></td>
							<td><p:inputText styleClass="txtReadyOnly" id="txtLancCrdt"
									type="text" readonly="true"
									style="text-align:right; width:40px"
									value="#{cadastroOsDefaultBean.intQntLancCrdt}" /></td>
						</tr>
						<tr>
							<td id="ttt"><b>Valor Total de Operações a CRÉDITO:</b></td>
							<td><p:inputText styleClass="txtReadyOnly" id="txtValCrdt"
									type="text" readonly="true" style="text-align:right"
									value="#{cadastroOsDefaultBean.formataValorRecebido(cadastroOsDefaultBean.intQntValCrdt.toString())}" /></td>
						</tr>
					</table>
				</h:panelGroup>
				<p:remoteCommand name="callExcluirOperacao"
					update="frmOs:tbInserirOp"
					actionListener="#{cadastroOsDefaultBean.excluirOperacao}"></p:remoteCommand>

		
	</h:form>

</h:body>

</ui:define>
</ui:composition>