<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

    <h:head>
    	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
    	<link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" type="text/css" media="screen" />
    	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

		<style>

		#td1:hover, #td2:hover, #td3:hover {
			background: white !important;
			color: red !important;
			cursor: pointer !important;
		}
		
		</style>

		<script type="text/javascript">
        	//<![CDATA[	
				window.onload = function(){
				 	MouseClick(td1, 'hyb_cad_tramite.xhtml', 'A');
				 	console.log('onload first');
				 	//localStorage.setItem("check", "false");
				}
				
			/* 	function MouseOver(obj) {
		            if (objTd != obj){
		                obj.style.background = '#FFEADF';
		                obj.style.color = 'red';
		                obj.style.cursor = 'hand';
		            }		                                   
		        }
				
				function MouseOut(obj) {
		            if (objTd != obj){
		                obj.style.background = 'red';
		                obj.style.color = 'white';
		                obj.style.cursor = 'hand';
		                    
		            }
		        }
				 */
				function MouseClick(obj, strPagina, strReadOnly) {
					// var check = localStorage.getItem("check");
					if ("#{cadTramite.lever}" == "false") {
						strReadOnly = 'A';
					}
					if (strReadOnly == "A") {
			            console.log('CONSOLE OBJ: ', obj);
			            document.getElementById('ifrmNovaOs').src = strPagina + '?strNrOs=#{cadTramite.strOSField}&NrTramite=#{cadTramite.strNumeroTra}&strReadOnly=#{cadTramite.strReadOnly}&strTitulo=#{cadTramite.strTitulo}';
			            document.getElementById('ifrmNovaOs').height = '417';
			            if (ifrmNovaOs.location.pathname.indexOf('hyb_cad_tramite.xhtml') > 0) {
			            	ifrmNovaOs.activateForm();
			            }
			            console.log('IFRAME LOADED: ', ifrmNovaOs);
			           	var i;
			            for(i = 1; i<=3; i++) {
			                document.getElementById('td'+i).style.background='red';
			                document.getElementById('td'+i).style.color = 'white';
			            }
			            
			            obj.style.background = 'white';
			            obj.style.color = 'red';
			            
					}
				}
				
			   function mountDataToInput() {
					var queryTramite = document.getElementById("headerTabs:queryTramite") == (null || undefined) ? "" : document.getElementById("headerTabs:queryTramite").value;
					
					if (queryTramite != "") {
						chamarStatus();
	
						if (ifrmNovaOs.location.pathname.indexOf('hyb_cad_tramite.xhtml') > 0) {
							var queryOs = document.getElementById("headerTabs:queryOs").value;
							var queryDtReg = ifrmNovaOs.document.getElementById("frm:queryReg") == (null || undefined) ? "" : ifrmNovaOs.document.getElementById("frm:queryReg").value;
							var queryDtPlan = ifrmNovaOs.document.getElementById("frm:queryPlan") == (null || undefined) ? "" : ifrmNovaOs.document.getElementById("frm:queryPlan").value;
							var queryRet = ifrmNovaOs.document.getElementById("frm:queryRet") == (null || undefined) ? "" : ifrmNovaOs.document.getElementById("frm:queryRet").value;
							var queryDest = document.getElementById("headerTabs:queryDest") == (null || undefined) ? "" : document.getElementById("headerTabs:queryDest").value;
							
							ifrmNovaOs.document.getElementById('frm:txtOS').value = queryOs;
							ifrmNovaOs.document.getElementById('frm:txtNroTramite').value = queryTramite;
							ifrmNovaOs.document.getElementById('frm:txtDtReg_input').value = queryDtReg;
							ifrmNovaOs.document.getElementById('frm:txtDtRetPla_input').value = queryDtPlan;
							ifrmNovaOs.document.getElementById('frm:txtDtRet_input').value = queryRet;
							ifrmNovaOs.document.getElementById('frm:txtDestino').value = queryDest;
						}
						
						if (ifrmNovaOs.location.pathname.indexOf('hyb_cad_tramite_envio') > 0) {
							var queryHistEnv = document.getElementById("headerTabs:queryHistenv") == (null || undefined) ? "" : document.getElementById("headerTabs:queryHistenv").value;
							
							console.log('env true indexOf')
							if (queryHistEnv != "") {
								console.log('env true diff empty')	
								ifrmNovaOs.document.getElementById('frm:txtEntrada').value = queryHistEnv;
							}
						}
						
						if (ifrmNovaOs.location.pathname.indexOf('hyb_cad_tramite_retorno') > 0) {
							var queryHistRet = document.getElementById("headerTabs:queryHistret") == (null || undefined) ? "" : document.getElementById("headerTabs:queryHistret").value;
							
							if (queryHistRet != "") {
									ifrmNovaOs.document.getElementById('frmRet:txtEntrada').value = queryHistRet;
							}
						}
					}
					
					console.log('BGCOLOR 2 ', document.getElementById('td1').style.background);
				}
				
		    //]]>
		</script>
    </h:head>
 
    <h:body class="PanelTitle" style="height:100%">
    <iframe src="titulo.xhtml?strTitulo=Trâmite" frameborder="0" width="100%" height="27"></iframe>
    <h:form id="headerTabs" name="headerTabs">
    
		<h:panelGroup id="tbMenu" name="tbMenu">
			<table width="100%" style="background:red; color:white; font-weight:bold; display:block;" cellspacing="1" cellpadding="0">
			    <tr>
			        <td>
			            <table cellspacing="0" cellpadding="0">
			                <tr height="18">
			                    <td id="td1" nowrap="nowrap" onclick="MouseClick(this, 'hyb_cad_tramite.xhtml', '#{cadTramite.checkOSStatus}')">
			                    	&nbsp;&nbsp;Dados do Trâmite&nbsp;&nbsp;
			                    </td>
			                    <td>|</td>
			                    <td id="td2" nowrap="nowrap" onclick="MouseClick(this, 'hyb_cad_tramite_envio.xhtml', '#{cadTramite.checkOSStatus}')">&nbsp;&nbsp;Histórico Envio&nbsp;&nbsp;</td>
			                    <td>|</td>
			                    <td id="td3" nowrap="nowrap" onclick="MouseClick(this, 'hyb_cad_tramite_retorno.xhtml', '#{cadTramite.checkOSStatus}')">&nbsp;&nbsp;Histórico Retorno&nbsp;&nbsp;</td>
			                </tr>
			            </table>
			        </td>
			    </tr>
			</table>
		</h:panelGroup>
		
		<p:remoteCommand name="chamarStatus" actionListener="#{cadTramite.changeStatus}" />
		
		<p:inputText type="hidden" id="queryOs" name="queryOs" value="#{tramiteMenuBean.strOsData}"></p:inputText>
       	<p:inputText type="hidden" id="queryTramite" name="queryTramite" value="#{tramiteMenuBean.tramiteData}"></p:inputText>
     	<p:inputText type="hidden" id="queryReg" name="queryReg" value="#{tramiteMenuBean.dataRegData}"></p:inputText>
       	<p:inputText type="hidden" id="queryPlan" name="queryPlan" value="#{tramiteMenuBean.dataPlanData}"></p:inputText>
       	<p:inputText type="hidden" id="queryRet" name="queryRet" value="#{tramiteMenuBean.dataRetData}"></p:inputText>
       	
     	<p:inputText type="hidden" id="queryDest" name="queryDest" value="#{tramiteMenuBean.destData}"></p:inputText>
       	<p:inputText type="hidden" id="queryHistenv" name="queryHistenv" value="#{tramiteMenuBean.histEnvData}"></p:inputText>
       	<p:inputText type="hidden" id="queryHistret" name="queryHistret" value="#{tramiteMenuBean.histRetData}"></p:inputText>
       	
       	<p:inputText type="hidden" id="checkOS" name="checkOS" value="#{tramiteMenuBean.checkOSStatus}"></p:inputText>
    </h:form>
		<p:inputText value="#{tramiteMenuBean.activateBean}" style="display:none;" name="activate" id="activate"></p:inputText>
		
		<iframe id="ifrmNovaOs" name="ifrmNovaOs" width="100%" height="0%" scrolling="auto" frameborder="0"></iframe>
    </h:body>
</ui:define></ui:composition>