<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">
	

		<h:head>
			<h:outputStylesheet name="../css/hy_style.css" />
			<script type="text/javascript">
				//<![CDATA[
				var objTd = new Object();

				window.onload = function() {
					MouseClick(td1, 'hyb_cados_dados_iniciais.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&strReadOnly=#{cadOsMenuBean.strReadOnly}&strTitulo=#{cadOsMenuBean.strTitulo}');
					tbMenu.style.display = 'block';
				}

				function MouseOver(obj) {
					if (objTd != obj) {
						obj.style.background = '#FFEADF';
						obj.style.color = 'red';
						obj.style.cursor = 'pointer';
					}
				}

				function MouseOut(obj) {
					if (objTd != obj) {
						obj.style.background = 'red';
						obj.style.color = 'white';
						obj.style.cursor = 'pointer';

					}
				}

				function MouseClick(obj, strPagina) {
					PF("statusDialog").show();
					objTd = obj;
					var i;
					for (i = 1; i <= 11; i++) {
						document.getElementById('td' + i).style.background = 'red';
						document.getElementById('td' + i).style.color = 'white';
					}
					obj.style.background = 'white';

					obj.style.color = 'red';
					obj.style.cursor = 'pointer';
					document.getElementById('ifrmNovaOs').src = strPagina;
					//'hyb_cadosmenu_mock_retorno.xhtml?strPagina='
					
					document.getElementById('ifrmNovaOs').height = '417';
				}
				//]]>
			</script>
		</h:head>

		<h:body styleClass="PanelTitle" style="height:100%">
			
			<ui:include src="loadingStatus.xhtml" />
			<iframe src="titulo.xhtml" frameborder="0" width="100%" height="27"></iframe>
		
			<table id="tbMenu" width="100%"
				style="background: red; color: white; font-weight: bold; display: none"
				cellspacing="1" cellpadding="0">
				<tr>
					<td>
						<table>
							<tr height="18">
								<td nowrap="nowrap" id="td1" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_dados_iniciais.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Dados Iniciais&nbsp;&nbsp;</td>
								<td>|</td>
								<td id="td2" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_datas.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Datas&nbsp;&nbsp;</td>
								<td>|</td>
								<td id="td3" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_canal_origem.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Canal de Origem&nbsp;&nbsp;</td>
								<td>|</td>
								<td id="td4" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_unidade_envolvida.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Unidade Envolvida&nbsp;&nbsp;</td>
								<td>|</td>
								<td id="td5" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_participacao_processo.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Participação no Processo&nbsp;&nbsp;</td>
								<td>|</td>
								<td id="td6" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_eventos.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Eventos&nbsp;&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr height="18">
								<td id="td7" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_risco_potencial.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Valores Envolvidos&nbsp;&nbsp;</td>
								<!-- Aba foi retirada para atender o projeto RDA, visto que os dados contabeis estarão no novo portal Java -->
								<!--<td>|</td>       
                    <td id="td8" nowrap="nowrap" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)" onclick="MouseClick(this, 'hyb_cados_dados_contabeis.xhtml')">&nbsp;&nbsp;Dados Contábeis&nbsp;&nbsp;</td>-->
								<td></td>
								<td id="td8"></td>
								<td>|</td>
								<td id="td9" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_equipatrib.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Equipe Atribuída&nbsp;&nbsp;</td>
								<td>|</td>
								<td id="td10" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_informacoes_gerais.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Informações Gerais&nbsp;&nbsp;</td>
								<td>|</td>
								<td id="td11" nowrap="nowrap" onmouseover="MouseOver(this)"
									onmouseout="MouseOut(this)"
									onclick="MouseClick(this, 'hyb_cados_acoes_complementares.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}&amp;strReadOnly=#{cadOsMenuBean.strReadOnly}&amp;strTitulo=#{cadOsMenuBean.strTitulo}')">
									&nbsp;&nbsp;Ações Complementares&nbsp;&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="100%" cellspacing="1" cellpadding="0">
				<tr>
					<td></td>
				</tr>
			</table>
			<iframe id="ifrmNovaOs" name="ifrmNovaOs" width="100%" height="0%"
				scrolling="auto" frameborder="0"></iframe>
		</h:body>
	</ui:define>
</ui:composition>
