<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>

	<title>HY - Ocorrências Especiais</title>
	
</h:head>

<h:body>

	<!-- test -->
	<h:outputText value="#{hyb_preenchetramite_bean.vrstTramite.maior}"></h:outputText>
	<!-- end test -->
	<p:inputText styleClass="vrstTramite_Maior" style="display:none;" value="#{hyb_preenchetramite_bean.vrstTramite.maior}"></p:inputText>
	
	
	<script type="text/javascript">
		//<![CDATA[
			
			parent.document.forms[0].txtNroTramite.value = document.getElementsByClassName('vrstTramite_Maior')[0].value;
			
		//]]>
	</script>
</h:body>

</ui:define></ui:composition>