<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" >
    <h:head>
		<title>HY - Ocorrencias Especiais</title>
    	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/santander.css" media="screen"/>
    	<script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    </h:head>
 
    <h:body class="PanelTitle" style="height:100%">
	    <iframe id="ifrmOs" width="100%" height="0%" frameborder="0" scrolling="no" src="hyb_encerraros_iframe.xhtml?strNrSeqOs=#{encerrarOSBean.strNrSeqOs}"></iframe>
    </h:body>
</html>