<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">
	<ui:define name="content">

		<h:head>
		</h:head>
		<script>
			//<![CDATA[

			function abreDescricao(conteudo) {
				console.log(conteudo);
				window.open("hyb_hist_exibir_titulo.xhtml?DsTitu=" + conteudo
						+ "", "", "height=300, width=500");

			}

			function AbrirDialog() {
				abrirRemoteCommand();
			}
			
			function cleanSessionJs(desc) {
				console.log("desc", desc);
				callCleanSession([{name: 'desc', value: desc}]);
			}
			
			window.onload = function() {
				$("table").on('click' ,'.fileText' ,function(e) {
				    var index = e.target.classList[1];
					console.log(index);
					document.getElementsByClassName('download-'+index)[0].click();
				});
			}
			
			function downloadModal(cdEvento) {
				callDownloadModal([{name: 'cdEvento', value: cdEvento}]);
			}
			
			//]]>
		</script>
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/hy_style.css" media="screen" />
		<h:body>
			<iframe src="titulo.xhtml?strTitulo= Pesquisa Histórico - Resultado" frameborder="0" width="100%" height="27"></iframe>	
			<h:form id="frmEver">
				<p:dialog id="modalDesc" widgetVar="descTitulo" modal="true" height="400">
					<h:outputText value="#{histResulPesquisa.descModal}" />
				</p:dialog>
				
				<p:dialog id="modalDownload" widgetVar="descDownload" modal="true" height="600">
					<p:dataTable paginator="true"
						  paginatorPosition="bottom"
		      			  var="result"
		      			  rowIndexVar="index"
		      			  value="#{histResulPesquisa.resultAnxs}">
		      			 
		           		<p:column headerText="Anexo">
		                  <!-- <h:outputText styleClass="fileText #{index}" value="#{result.NM_ARQ}"/>   -->
		                   <h:commandButton id="fileId" value="#{result.NM_ARQ}" actionListener="#{histResulPesquisa.downloadFile(result.NM_ARQ)}" styleClass="download-#{index}" >
				        		<p:fileDownload value="#{histResulPesquisa.file}"></p:fileDownload>
				           </h:commandButton>
		            	</p:column>
					</p:dataTable>
				</p:dialog>
				
				<p:dataTable paginator="true" paginatorPosition="bottom" rows="8"
					var="result" value="#{histResulPesquisa.results}"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
					currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}">
					<p:column headerText="Código Evento">
						<h:outputText value="#{result.CD_EVEN}"/>
					</p:column>

					<p:column headerText="Responsável">
						<h:outputText value="#{result.NM_RESP}" />
					</p:column>

					<p:column headerText="Data">
						<h:outputText value="#{result.DT_ENTR}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="Agência">
						<h:outputText value="#{result.CD_AGEN}" />
					</p:column>

					<p:column headerText="Situação">
						<h:outputText value="#{result.NM_SITU}" />
					</p:column>

					<p:column headerText="Título">
						<p:commandButton value="Descrição" onclick="cleanSessionJs('#{result.DS_TITU}');" />
						
					</p:column>

					<p:column headerText="Anexo">
						<p:commandButton value="Arquivo"
							onclick="downloadModal('#{result.CD_EVEN}');" />
					</p:column>

				</p:dataTable>
				
				<p:remoteCommand update="frmEver:modalDesc" name="callCleanSession" actionListener="#{histResulPesquisa.cleanSession}"></p:remoteCommand>
				<p:remoteCommand update="frmEver:modalDownload" name="callDownloadModal" actionListener="#{histResulPesquisa.downloadModal}"></p:remoteCommand>

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>