<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

 <h:head>
 	<title>HY - Ocorrências Especiais</title>
	<link type="text/css" media="screen" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="#{request.contextPath}/css/hy_slk-style.css" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/santander.css" media="screen"/>
	<script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript">
		//<![CDATA[        		
		function Imprimir()
		{
			with(document.all)
			{
				tblImprimirSup.style.display = 'none';
				window.print();
				tblImprimirSup.style.display = '';
			}
		}
    	//]]>
	</script>	
 </h:head>
	<h:body styleClass="PanelTitle">
		<table style="background:red" width="100%" border="0" cellspacing="0" cellpadding="0" id="tblImprimirSup" height="50">
			<tr> 
		    	<td align="center">
           			<p:commandButton type="button" onclick="Imprimir()" id="btnPrint" value="Imprimir" />
           			<p:commandButton styleClass="btn-reverse" type="button" onclick="parent.PF('btn-dialog').hide()" id="btnVoltar" value="Voltar" /> 
		   		</td>
			</tr>
		</table>
		<h:form id="frm">
			<table width="75%" border="0" height="98%" cellpadding="0" cellspacing="0" align="center">
				<tr ><!--CABEÇALHO-->
					<td height="15%">
						<table width="99%" border="0" >
						  <tr><td colspan="3" width="99%" align="right"><p:graphicImage value="../images/img_topo_logo.gif" height="40" alt="Pesquisar Operação Corporativa" /></td></tr>
						  <tr>
							<td rowspan="2" width="10%">
								<table class="RelTxt">
									<tr><td><h:outputText value="${relCartaApresentacaoBean.objRsMinutaModel.getDataAtual()}" /></td></tr>
									<tr><td><h:outputText value="${relCartaApresentacaoBean.objRsMinutaModel.getHoraAtual()}" /></td></tr>			
								</table>
							</td>
							<td align="center" class="RelTitulo">SISTEMA DE OCORRÊNCIAS ESPECIAIS</td>
							<td rowspan="2" align="center" width="10%" class="RelTxt">CARTA DE <br />APRESENTAÇÃO</td>
						  </tr>
						  <tr><td rowspan="2" align="center" class="RelSubTitulo">ORDEM DE SERVIÇO Nº <h:outputText value="${relCartaApresentacaoBean.strNrSeqOs}" /></td>  </tr>
						</table>
						<table width="99%" cellspacing="0" cellpadding="0"><tr><td><hr /></td></tr></table>
				
					</td>
				</tr><!--FIM CABECALHO-->
				<tr><!--CORPO RELATORIO-->
					<td colspan="3" valign="top">
						
						<table width="99%" border="0" cellpadding="1" cellspacing="1">
							<tr style="background-color:red; color:White; height:20px">
								<td valign="middle">
									<p:graphicImage value="../images/seta_vermelha.gif" alt="Pesquisar Operação Corporativa" style="margin: 0 10px;" /><b>Superintendência de Ocorrências Especiais</b>
								</td>
							</tr>    
						</table>
						<table width="99%" border="0" cellpadding="1" cellspacing="1">
							<tr>
								<td>
									<table border="0" width="55%">
										<tr>
											<td valign="middle" width="60%">Data Abertura O.S.:</td>
											<td valign="middle"><h:outputText value="#{relCartaApresentacaoBean.objRsMinutaModel.getDataAbertura()}"/></td>
										</tr>
										<tr>
											<td valign="middle" nowrap="nowrap">Data Prevista Encerramento da
												O.S.:</td>
											<td valign="middle"><h:outputText value="#{relCartaApresentacaoBean.objRsMinutaModel.getDataEncerramento()}"/></td>
										</tr>
										<tr>
											<td valign="middle">Status O.S.:</td>
											<td valign="middle"><h:outputText value="#{relCartaApresentacaoBean.objRsMinutaModel.getSituacao()}"/></td>
										</tr>
										<tr>
											<td valign="middle">Área Responsável:</td>
											<td valign="middle"><h:outputText value="#{relCartaApresentacaoBean.objRsMinutaModel.getArea()}"/></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>    
							<tr class="RelTxt" bgcolor="red" >
								<td valign="middle" ><p:graphicImage value="../images/seta_vermelha.gif" alt="Pesquisar Operação Corporativa" style="margin: 0 10px;" />
									<b><font color="#FFFFFF">Analista Designado</font></b>
								</td>
							</tr>    
							<tr >
								<td>
									<table width="75%" cellpadding="1" cellspacing="1">
										<tr style="background-color:gray; color:White">
											<td valign="middle" nowrap="nowrap"><strong>Nº Matrícula</strong></td>
											<td valign="middle"><strong>Nome</strong></td>	
											<td valign="middle"><strong>Designação</strong></td>	
										</tr>
										<ui:repeat value="#{relCartaApresentacaoBean.objRsCartaApreEquipe}" var="rsEquipe" varStatus="equipe">
											<tr>
												<td valign="middle" nowrap="nowrap">#{rsEquipe.matricula}</td>
												<td valign="middle">#{rsEquipe.nome}</td>	
												<td valign="middle">#{rsEquipe.designacao}</td>	
											</tr>
			    						</ui:repeat>
									</table>
								</td>
							</tr>    								    				
							<tr ><td colspan="2">&nbsp;</td></tr>    
							<tr  class="RelTxt" bgcolor="red" >
								<td valign="middle" ><p:graphicImage value="../images/seta_vermelha.gif" alt="Pesquisar Operação Corporativa" style="margin: 0 10px;" /><b><font color="#FFFFFF">Gerente da Área</font></b></td>
							</tr>    
							<tr>
								<td>
									<table width="50%">
										<tr style="background-color:gray; color:White">
											<td height="16" valign="middle" nowrap="nowrap"><strong>Nº Matrícula</strong></td>
											<td valign="middle"><strong>Nome</strong></td>
										</tr> 
										<ui:repeat value="#{relCartaApresentacaoBean.objRsCartaApreEquipe1}" var="rsEquipe1" varStatus="equipe1">
											<tr>
												<td valign="middle" nowrap="nowrap">#{rsEquipe1.matricula}</td>
												<td valign="middle">#{rsEquipe1.nome}</td>	
											</tr>
			    						</ui:repeat> 
									</table>
								</td>
							</tr>  					  				
			
							<tr><td colspan="2">&nbsp;</td></tr>    
							<tr class="RelTxt" bgcolor="red" >
								<td valign="middle"><p:graphicImage value="../images/seta_vermelha.gif" alt="Pesquisar Operação Corporativa" style="margin: 0 10px;" /><b><font color="#FFFFFF">Texto de Apresentação</font></b></td>
							</tr>    
							<tr>
								<td>
									<table width="100%">
										<tr bgcolor="#EBEBEB" >
											<td valign="middle">
											    <p:inputTextarea value="#{relCartaApresentacaoBean.txtApre}" id="txtApre" name="txtApre" cols="20" rows="5" counter="txtEAreaCount" style="width:100%" maxlength="5000" counterTemplate="{0} caracteres restantes." autoResize="false" />
										    </td>
										</tr> 
										<tr>
										    <td align="right"><h:outputText id="txtEAreaCount" /></td>
										</tr>   
									</table>
								</td>
							</tr>    				
							<tr><td colspan="2">&nbsp;</td></tr>    
						</table>
					</td>
				</tr>
				<tr><!--RODAPE-->
					<td colspan="3" height="1%" valign="bottom">
						<table width="99%" cellpadding="0" cellspacing="0"><tr><td><hr /></td></tr></table>
						<table border="0" width="100%" cellpadding="0" cellspacing="0" >
						<tr>
						<td width="15%"><font size="1" face="Arial, Helvetica, sans-serif">Login: ${relCartaApresentacaoBean.login_usuario}</font></td>
						<td align="center"><font size="1" face="Arial, Helvetica, sans-serif">Superintêndencia de Ocorrências Especiais</font></td>
						<td align="center" width="15%"><font size="1" face="Arial, Helvetica, sans-serif">1/1</font></td>															
						</tr>
						</table>
						
					</td>
				</tr>
			</table>
		 </h:form>
 	</h:body>           
</html>