<!DOCTYPE html PUBLIC "-//W3C//Dp:column XHTML 1.0 p:rowansitional//EN" "http://www.w3.org/p:row/xhtml1/Dp:column/xhtml1-p:rowansitional.dp:column">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
xmlns:jsp="http://java.sun.com/JSP/Page" 
xmlns:ui="http://java.sun.com/jsf/facelets" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core" 
xmlns:p="http://primefaces.org/ui" 
xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" 
template="/templates/template.xhtml"> <ui:define name="content" >
<f:event listener="#{custoBean.verificarPermissao}" type="preRenderView" />
<h:head>
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script type="text/javaScript" src="#{request.contextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javaScript" src="#{request.contextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javaScript" src="#{request.contextPath}/javascript/formchek.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		parent.titulo.location.href = 'Titulo.asp?sp:rowTitulo="Custo da OS nº <%=sp:rowNrSeqOs%>"';
		
		function Voltar() {
			history.back();
		}
		
		//divOverFlow.style.height = tbRec.rows.length * 22;

		//]]>
	</script>
</h:head>

<h:body class="PanelTitle" style="height: 100%">
	<iframe src="titulo.xhtml?strTitulo=Custo da OS nº #{custoBean.strNrSeqOs}" frameborder="0" width="100%" height="27"></iframe>
	<table>
	    <tr>
	        <td><b>Custo até o momento da OS: <h:outputText value="#{custoBean.dblCustoOs}"/></b></td>
	    </tr>
	    <tr>
	        <td height="5"></td>
	    </tr>
	    <tr>
	        <td><b>Detalhes:</b></td>
	    </tr>
	</table>
	<div id="divOverFlow" style="overflow:auto; width:100%;" align="left">
		<table id="tbRec" cellpadding="0" cellspacing="1">
		    <tr height="20" style="background:gray; color:White; font-weight:bold">
		        <td class="GridItemFixed">Nome</td>
		        <td style="white-space: nowrap">Tipo Colaborador</td>
		        <td style="white-space: nowrap">Designação</td>
		        <td style="white-space: nowrap">Área</td>
		        <td style="white-space: nowrap">Remuneração</td>
		        <td style="white-space: nowrap">Horas Lançadas</td>
		        <td style="white-space: nowrap">Gastos Adicionais</td>        
		    </tr>
		    <tr style="background:gray"><td height="1" colspan="9"></td></tr>
		    
		    <h:panelGroup rendered="#{custoBean.objRsEOF}">
		        <tr height="40"><td><b>Nenhum recurso atribuído a equipe!</b></td></tr>
		    </h:panelGroup>
	        
	        <ui:repeat var="objRs" value="#{custoBean.objRs}" varStatus="status">
		        <tr height="20" style="background: #{(status.index mod 2 eq 0) ? '#FFFFFF' : '#E8E8E8'}">
		        	<td nowrap="nowrap" class="GridItemFixed"><h:outputText value="#{objRs.nome}"></h:outputText></td>
	                <td nowrap="nowrap"><h:outputText value="#{objRs.tipoRecurso}"></h:outputText></td> 
	                <td nowrap="nowrap"><h:outputText value="#{objRs.designacao}"></h:outputText></td>
	                <td nowrap="nowrap"><h:outputText value="#{objRs.area}"></h:outputText></td>
	                <td nowrap="nowrap" align="right">
	                
	                <h:outputText value="#{objRs.dblRemu}">
	                </h:outputText></td>
	                
	                <td nowrap="nowrap" align="right"><h:outputText value="#{objRs.dblHora}"></h:outputText> h</td>
	                
	                <td nowrap="nowrap" align="right">
	                <h:outputText value="#{objRs.dblGasto}">
	                </h:outputText></td>
		        </tr>
	        </ui:repeat>
	        
		</table>
		<p:commandButton type="button" onclick="Voltar();" value="Voltar"></p:commandButton>
	</div>
</h:body>
</ui:define></ui:composition>
