<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">


		<h:head>
			<title>HYB - Ocorrências Especiais</title>

			<h:outputStylesheet name="css/hy_style.css" />
			<h:outputScript name="javascript/hy_funcoes.js" />
		</h:head>

		<h:body class="PanelTitle">

			<h:form id="form">
				<p:dataTable id="tabelaRelosEstatistico" var="result"
					value="#{relosEstatisticoBean.objRsRelat}" rowIndexVar="index"
					emptyMessage="Não existem dados para o período selecionado.">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="15" style="font-size: medium; align:center"
								headerText="Superintendência de Ocorrências Especiais" />
						</p:row>
						<p:row>
							<p:column colspan="15"
								headerText="Relatório Estatístico"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="15" style="font-size: x-small; align:center"
								headerText="Período: #{relosEstatisticoBean.strDtIni} até #{relosEstatisticoBean.strDtFim}" />
						</p:row>
						<p:row>
							<p:column headerText="Nº OS" style="align:center"/>
							<p:column headerText="Data Abertura OS" style="align:center"/>
							<p:column headerText="Evento" style="align:center"/>
							<p:column headerText="Tipo" style="align:center"/>
							<p:column headerText="Criticidade" style="align:center"/>
							<p:column headerText="Nº PV" style="align:center"/>
							<p:column headerText="Nome PV" style="align:center"/>
							<p:column headerText="Regional" style="align:center"/>
							<p:column headerText="Rede" style="align:center"/>
							<p:column headerText="Texto de Abertura OS" style="align:center"/>
							<p:column headerText="Valor Envolvido" style="align:center"/>
							<p:column headerText="Perda" style="align:center"/>
							<p:column headerText="Analista Designado" style="align:center"/>
							<p:column headerText="Status" style="align:center"/>
							<p:column headerText="Data prevista Encerramento" style="align:center"/>
						</p:row>
					</p:columnGroup>


					<p:column>
						<h:outputText value="#{result.NR_SEQU_ORDE_SERV}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.DT_ABER_ORDE_SERV}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.NM_EVEN}" />
					</p:column>
					<p:column>
						<h:outputText value=" " />
					</p:column>
					<p:column>
						<h:outputText value="#{result.NM_CRIT}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.CD_UOR_FORMAT}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.NM_UOR}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.NM_REGI}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.NM_REDE}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.TX_ABER_ORDE_SERV}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.VL_ENVO_FORMATADO}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.VL_PERD_EFET_FORMATADO}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.NM_ANL_DESIG}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.NM_SITU_ORDE_SERV}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.DT_PREV_ENCE_ORDE_SERV}" />
					</p:column>

					<!--RODAPE-->

				</p:dataTable>

				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<!-- <p:dataExporter type="xls" target="tabelaRelosEstatistico"
						fileName="OCESP_Relatorio" /> -->
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="tabelaRelosEstatistico"
						fileName="OCESP_Relatorio"
						fontName="Calibri" cellFontColor="#000000" cellFontSize="150"
						cellFontStyle="NORMAL" encoding="UTF-8" postProcessor="#{relosEstatisticoBean.postProcessExcel}"
						 />
				</h:commandLink>
			</h:form>

			<script type="text/javascript">
				//<![CDATA[
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
							//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{relosEstatisticoBean.strDtIni}&pDtFim=#{relosEstatisticoBean.strDtFim}','_self');
					},5000); 
				 }
					function Voltar() {
						history.back();
					}
	
					function Imprimir() {
						window.print();
					}
					function LimparUrl(){
						history.pushState(null, '', '');
					}
				//]]>
			</script>

		</h:body>
</ui:composition>
