<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="../templates/template.xhtml">

	<ui:define name="content">

		<h:head>
			<title>HYB - Ocorrências Especiais</title>

			<h:outputStylesheet name="css/hyb_style.css" />
			<!-- <h:outputStylesheet name="css/hyb_avanade-style.css" /> -->
			<h:outputScript name="javascript/hyb_funcoes.js" />
			<style type="text/css">
TR {
	HEIGHT: 25px;
}

td.alignment {
	width: 480px;
}
</style>
		</h:head>

		<h:body class="PanelTitle">
			<h:form id="frmRelatorio" name="frmRelatorio">
				<fieldset class="PanelTitle">
					<p:messages id="msgs" />
					<table width="100%" border="0" cellpadding="1" cellspacing="1">
						<tr height="25">
							<td>Período:</td>
							<td colspan="7"><p:outputLabel for="dtIni" value=""
									disabled="true" /> <p:calendar id="dtIni"
									value="#{relatorioosBean.dtIni}" showOn="button"
									pattern="dd/MM/yyyy" mask="true" selectOtherMonths="true"
									navigator="true" yearRange="c-100:c+100" />&#160;&#160;até&#160;&#160;<p:outputLabel
									for="dtFim" value="" disabled="true" /> <p:calendar id="dtFim"
									value="#{relatorioosBean.dtFim}" showOn="button"
									pattern="dd/MM/yyyy" mask="true" navigator="true"
									yearRange="c-100:c+100" /></td>
						</tr>
					</table>
				</fieldset>
				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&#160;<h:graphicImage
								url="../images/seta_vermelha.gif" />&#160;<b>Relatórios
								Comuns à Todas as Áreas</b>
						</td>
					</tr>
				</table>
				<fieldset class="PanelTitle">
					<table>
						<tr>
							<td class="alignment">&#160;<h:graphicImage
									url="../images/seta_d.gif" />&#160;Relatório Estatístico por
								Segmento
							</td>
							<td><p:commandButton id="Button1" value="Visualizar"
									onclick="Limpar()"
									oncomplete="AbreRelatorio('T', '1','Relatório Estatístico por Segmento','hyb_relosestatisticosegmento.xhtml');" />
							</td>
						</tr>
						<tr>
							<td class="alignment">&#160;<h:graphicImage
									url="../images/seta_d.gif" />&#160;Relatório Fraudes Iniciadas
							</td>
							<td><p:commandButton id="Button2" value="Visualizar"
									onclick="Limpar()"
									oncomplete="AbreRelatorio('T', '2','Relatório Fraudes Iniciadas','hyb_relosfraudeiniciada.xhtml');" />
							</td>
						</tr>
						<tr>
							<td class="alignment">&#160;<h:graphicImage
									url="/images/seta_d.gif" />&#160;Relatório Fraudes Encerradas
							</td>
							<td><p:commandButton id="Button3" value="Visualizar"
									onclick="Limpar()"
									oncomplete="AbreRelatorio('T', '2','Relatório Fraudes Encerradas','hyb_RelOsFraudeEncerrada.xhtml');" />
							</td>
						</tr>
						<tr>
							<td class="alignment">&#160;<h:graphicImage
									url="/images/seta_d.gif" />&#160;Relatório OS Encerradas -
								Cartão Débito
							</td>
							<td><p:commandButton id="Button4" value="Visualizar"
									onclick="Limpar()"
									oncomplete="AbreRelatorio('T', '3','Relatório OS Encerradas - Cartão Débito','hyb_RelOsEncerradaCanal_CD.xhtml','37');" /></td>
						</tr>
						<!-- <tr>
							<td class="alignment">&#160;<h:graphicImage url="/images/seta_d.gif" />&#160;Relatório
								OS Encerradas - Internet Banking
							</td>
							<td><p:commandButton id="Button5" value="Visualizar"
									onclick="Limpar()"
									oncomplete="AbreRelatorio('T', '4','Relatório OS Encerradas - Internet Banking','hyb_RelOsEncerradaCanal_IB.xhtml','6');" /></td>
						</tr> -->
						<tr>
							<td class="alignment">&#160;<h:graphicImage
									url="/images/seta_d.gif" />&#160;Relatório OS Encerradas -
								Super Linha
							</td>
							<td><p:commandButton id="Button6" value="Visualizar"
									onclick="Limpar()"
									oncomplete="AbreRelatorio('T', '5','Relatório OS Encerradas - Super Linha','hyb_RelOsEncerradaCanal_SL.xhtml','20');" /></td>
						</tr>
						<tr>
							<td class="alignment">&#160;<h:graphicImage
									url="/images/seta_d.gif" />&#160;Relatório Recuperação Fraudes
							</td>
							<td><p:commandButton id="Button7" value="Visualizar"
									onclick="Limpar()"
									oncomplete="AbreRelatorio('T', '6','Relatório Recuperação Fraudes','hyb_relosrecuperacaofraude.xhtml');" /></td>
						</tr>
					</table>
				</fieldset>

				<table width="100%" border="0" cellpadding="1" cellspacing="1">
					<tr style="background-color: red; height: 1px">
						<td></td>
					</tr>
					<tr style="background-color: red; color: White; height: 20px">
						<td valign="middle">&#160;<h:graphicImage
								url="/images/seta_vermelha.gif" />&#160;<b>Relatórios
								Específicos - #{relatorioosBean.strArea} </b></td>
					</tr>
				</table>
				<fieldset class="PanelTitle">
					<table>
						<!-- GOI -->
						<p:outputPanel
							rendered="#{'GOI' == relatorioosBean.strArea ? true : false}">
							<table>
								<!-- <tr>
									<td class="alignment">&#160;<h:graphicImage url="/images/seta_d.gif" />&#160;Relatório
										de Controle de Penalidades
									</td>
									<td><p:commandButton id="Button8" value="Visualizar"
											onclick="Limpar()"
											oncomplete="AbreRelatorio('GOI', '7', 'Relatório de Controle de Penalidades','hyb_reloscontrolepenalidade.xhtml');" />
									</td>
								</tr> -->
								<td class="alignment">&#160;<h:graphicImage
										url="/images/seta_d.gif" />&#160;Relatório de Fraudes
									Internas por Período
								</td>
								<td><p:commandButton id="Button9" value="Visualizar"
										onclick="Limpar()"
										oncomplete="AbreRelatorio('GOI', '8', 'Relatório de Fraudes Internas por Período','hyb_relosfraudeinternaperiodo.xhtml');" />
								</td>
								<tr>
									<td class="alignment">&#160;<h:graphicImage
											url="/images/seta_d.gif" />&#160;Relatório de Controles de
										Processos em Aberto
									</td>
									<td><p:commandButton id="Button10" value="Visualizar"
											onclick="Limpar()"
											oncomplete="AbreRelatorio('GOI', '9', 'Relatório de Controles de Processos em Aberto','hyb_reloscontroleprocessosaberto.xhtml');" /></td>
								</tr>
								<!-- <td class="alignment">&#160;<h:graphicImage
										url="/images/seta_d.gif" />&#160;Relatório de Riscos
									Operacionais - Contabilização
								</td>
								<td><p:commandButton id="Button11" value="Visualizar"
										onclick="Limpar()"
										oncomplete="AbreRelatorio('GOI', '12','Relatório de Riscos Operacionais - Contabilização','hyb_relosdadoscontabeisro.xhtml');" /></td> -->
								<tr>
									<td class="alignment">&#160;<h:graphicImage
											url="/images/seta_d.gif" />&#160;Relatório Estatístico
									</td>
									<td><p:commandButton id="Button12" value="Visualizar"
											onclick="Limpar()"
											oncomplete="AbreRelatorio('GOI', '11', 'Relatório Estatístico','hyb_relosestatistico.xhtml');" /></td>
								</tr>
								<!--tr>
							        <td><h:graphicImage url="/images/seta_d.gif"/>Relatório Ocorrências - GT</td>
							        <td><input id="Button5" type="button" value="Visualizar" onclick="AbreRelatorio('GOI', '10', 'Relatório Ocorrências - GT','');"/></td>        
							    </tr-->
							</table>
						</p:outputPanel>

						<!-- GOE -->
						<p:outputPanel
							rendered="#{'GOE' == relatorioosBean.strArea ? true : false}">
							<table>
								<!-- <tr>
									<td class="alignment">&#160;<h:graphicImage url="/images/seta_d.gif" />&#160;Relatório
										de Riscos Operacionais - Contabilização
									</td>
									<td><p:commandButton id="Button13" value="Visualizar"
											onclick="Limpar()"
											oncomplete="AbreRelatorio('GOE', '12','Relatório de Riscos Operacionais - Contabilização','hyb_relosdadoscontabeisro.xhtml');" /></td>
								</tr>
								<tr>
									<td class="alignment">&#160;<h:graphicImage url="/images/seta_d.gif" />&#160;Relatório
										Custo Ordens de Serviço
									</td>
									<td><p:commandButton id="Button14" value="Visualizar"
											onclick="Limpar()"
											oncomplete="AbreRelatorio('GOE', '13','Relatório Custo Ordens de Serviço','hyb_reloscustototalos.xhtml');" /></td>
								</tr> -->
							</table>
						</p:outputPanel>

						<!-- PREVENCAO -->
						<p:outputPanel
							rendered="#{'PREVENCAO' == relatorioosBean.strArea ? true : false}">
							<table>
								<tr>
									<td class="alignment">&#160;<h:graphicImage
											url="/images/seta_d.gif" />&#160;Relatório de Fragilização
										por Canais Eletrônicos - Perdas Evitadas
									</td>
									<td><p:commandButton id="Button15" value="Visualizar"
											onclick="Limpar()"
											oncomplete="AbreRelatorio('PREV', '14','Relatório de Fragilização por Canais Eletrônicos - Perdas Evitadas','hyb_RelOSFragilizacaoCanal.xhtml');" /></td>
								</tr>
								<tr>
									<td class="alignment">&#160;<h:graphicImage
											url="/images/seta_d.gif" />&#160;Relatório de Eventos
									</td>
									<td><p:commandButton id="Button16" value="Visualizar"
											onclick="Limpar()"
											oncompleSte="AbreRelatorio('PREV', '15','Relatório de Eventos','hyb_relosevento.xhtml');" /></td>
								</tr>
							</table>
						</p:outputPanel>
					</table>
				</fieldset>
				<p:remoteCommand name="cleanRemoteCommand"
					actionListener="#{relatorioosBean.cleanSession}" />

			</h:form>

			<script>
			//<![CDATA[
				  window.onload = function() {
					  document.getElementById("frmRelatorio:dtIni_input").disabled = true;
					  document.getElementById("frmRelatorio:dtFim_input").disabled = true;
				}
				  
				function Limpar(){
					cleanRemoteCommand();
				}
				  
				function ExibeRelatorio(nomeArquivo){
				    window.open('../Relatorio/'+nomeArquivo)    
				}
			

				function AbreRelatorio(strArea, strTpRel, NmRel, strNmPagina, intCanal)
				{
				    var intCdArea = #{relatorioosBean.intCodArea}
				    var txtDtIni = document.getElementById("frmRelatorio:dtIni_input").value;
				    var txtDtFim = document.getElementById("frmRelatorio:dtFim_input").value;
					with(document.forms[0]){
						if(txtDtIni === '' || txtDtIni === null){
							alert('Necessário preencher a data de início da pesquisa.')
							return false;
						}
						
						if(txtDtFim === '' || txtDtFim === null){
							alert('Necessário preencher a data de fim da pesquisa.')
							return false;	
						}
						
						if (strArea == 'T') {
							strArea = '#{relatorioosBean.strArea}';
						}
				    
						 // window.open(strNmPagina + '?pArea=' + strArea + '&' + 'pCodArea=' + intCdArea + '&' +'pTpRel=' + strTpRel + '&' + 'pNmRel=' + NmRel + '&' + 'pCdCanal=' + intCanal + '&' + 'pDtIni=' + txtDtIni + '&' + 'pDtFim=' + txtDtFim,'','width=800,height=600');
						 window.open(strNmPagina + '?pArea=' + strArea + '&' + 'pCodArea=' + intCdArea + '&' +'pTpRel=' + strTpRel + '&' + 'pNmRel=' + NmRel + '&' + 'pCdCanal=' + intCanal + '&' + 'pDtIni=' + txtDtIni + '&' + 'pDtFim=' + txtDtFim,'_self');
					
					}
				}
				
				//var urlParams = new URLSearchParams(window.location.search);
				//strArea = urlParams.get('pCodArea');
				strArea = #{relatorioosBean.intCodArea}
				//document.getElementById("area").innerHTML = strArea;
			//]]>
			</script>

		</h:body>
	</ui:define>
</ui:composition>
