<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:jsp="http://java.sun.com/JSP/Page">
 
<h:head>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

		
	<script type="text/javascript">
        //<![CDATA[
        	
        function Pesquisar() {
	        /* var strCpfSuperior = document.forms[0].txtCpfSuperior.value; */
	        var strCpfSuperior = document.getElementById('frm:txtCpfSuperior').value;
	        /* document.forms[0].txtNomeSuperior.value = '' */
	        document.getElementById('frm:txtNomeSuperior').value = '';
	        /* if (document.forms[0].txtCpfSuperior.value == '') { */
	        if (strCpfSuperior == '') {
	          alert('Preencha o CPF do superior.');
	          /* document.forms[0].txtCpfSuperior.focus(); */
	          document.getElementById('frm:txtCpfSuperior').focus();
	          return;
	      	}
	      	if (strCpfSuperior.length < 14) {
      		  alert('O campo CPF do superior é inválido.');
	          /* document.forms[0].txtCpfSuperior.focus(); */
	          document.getElementById('frm:txtCpfSuperior').focus();
	          return;
	      	}    
      	 	/* document.forms[0].submit(); */
	      	pesquisarRemoteCommand();
  		}
        	
        //]]>
    </script>
    
</h:head>


<h:body class="PanelTitle">

	<h:form id="frm" method="post" name="frm">
	    <!-- Botao apenas para o submit -->
		
		<table>
			<tr height="25">
				<td width="87">CPF Superior:</td>
				<td width="125">
					<p:inputText id="txtCpfSuperior" maxlength="14" name="txtCpfSuperior" onkeypress="fnMascaraCPF(this);" type="text" value="#{AdmGerManutRecIfrmSupBean.cpf}"/>
				</td>
				
				<td width="45">Nome:</td>
				<td colspan="3">
					<p:inputText classStyle="txtReadyOnly" id="txtNomeSuperior" maxlength="50" readonly="true" style="width:250px" type="text" value="#{AdmGerManutRecIfrmSupBean.nome}" />
				</td>
				
				<td align="right">
					<h:graphicImage alt="Pesquisar Superior Imediato" value="../images/lupa.gif" style="cursor:pointer" onclick="Pesquisar()"/>
				</td>
				
				<p:remoteCommand name="pesquisarRemoteCommand" action="#{AdmGerManutRecIfrmSupBean.pesquisar}" update="txtNomeSuperior" />
				
			</tr>
		</table>
	</h:form>

</h:body> 
</html>
