<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">
		<h:head>
			<h:outputStylesheet name="css/hy_style.css" />
			<h:outputStylesheet name="css/hy_calendar.css" />
			<h:outputScript name="javascript/hy_funcoes.js" />
			<h:outputScript name="javascript/formchek.js" />
			<h:outputScript name="javascript/hy_calendario.js" />

			<title>Administração - Gerencial</title>

			<script>
   			//<![CDATA[
   			
  			/*(function() {
  				var msg = '#{AdmGerManutMotPenaBean.strMsg}';
  				
  				if(msg)
  					alert(msg)	
  			})();*/
  			/*
    		window.onbeforeunload = function(e) {
    			// modal
 		    	if(document.getElementById('frm:txtHdUnload').value == '1') {
 		    		if (confirm('Exitem alterações não salvas!\nDeseja sair e salvar todas as alterações?')) {
 		    			var arrMotiPenl = new Array();
			   			var strAux = '';
			       	 		       
			   			if(!ValidaNomesSalvar()) {
			   			    alert('Nome já existente!\nAlteração cancelada!');
			   			    return;
			   			}		    
			     
			   			arrMotiPenl = document.getElementsByName("frm:txtMotiPenalidade");
			   			    
			   			for(var i = 0; i < arrMotiPenl.length; i++) {
			   				strAux = strAux + arrMotiPenl[i].id + '|' + arrMotiPenl[i].value;
			   			    
			   			    if(i != (arrMotiPenl.length - 1)) {
			   			    	strAux = strAux + '@';
			   			    }
			   			}
				   			 		   			    
				   		document.getElementById('frm:txtHdAuxMotiPenalidade').value = strAux;
				    	document.getElementById('frm:txtHdAction').value = 'A';
				    	// document.getElementById('frm').action = 'HY_Adm_Ger_Manut_Mot_Pena_exe.asp';
				    	document.getElementById('frm').action = 'http://www.google.com.br';
				    	document.getElementById('frm').submit(); 		   		
 		    		}
 		    	}
    		};
    		*/   		
	    	function SetUnload(valor) {
	    		document.getElementById('frm:txtHdUnload').value = '1';	    		
	    	}
    		
    		/*function checkAlterar(valor) {
				var arrNomes = #{AdmGerManutMotPenaBean.getMotivosAsJson()};
				for(var i = 0; i < arrNomes.length; i++) {
					if(arrNomes[i].NOME.toUpperCase() == valor.value.toUpperCase()) {
						alert("Nome já existente! \nAlteração cancelada");
						valor.value = valor.oldValue;
				        return;
				    }
				}
    		}*/
	    	
	    	function Voltar() {
	    		window.location.href = "hy_adm_ger_manut.xhtml";
			}
	    	
	    	function Adicionar() {
				var objTxtMotiPenalidade = document.getElementById('frm:txtAddMotiPenalidade');

				if(objTxtMotiPenalidade.value == '') {
			        alert("Digite o nome do Motivo da Penalidade.");
			        return;
			    }
				
				if(!ValidaNomesAdd()) {
			        alert('Nome já existente!\nEscolha outro Nome!');
			        return;
			    }
			   
				document.getElementById('frm:txtHdMotiPenalidade').value = objTxtMotiPenalidade.value;
			    
			    if (confirm('Deseja incluir o Motivo da Penalidade ' + objTxtMotiPenalidade.value + '?')) {
			    	adicionarRemoteCommand();
			    }    
			    else {
			    	objTxtMotiPenalidade.value = ''; 
			    	objTxtMotiPenalidade.focus();      
			    }
			}
	    	
	    	function Deletar(obj, strNomeMotiPenl) {
				document.getElementById('frm:txtHdCodMotiPenalidade').value = obj;
				
				if(confirm("Deseja excluir o Motivo da Penalidade " + strNomeMotiPenl + "?")) {
					console.log(obj)
					deletarRemoteCommand();
			    }  
			}
	    	
			function Salvar() {
				var arrMotiPenl = new Array();
				var strAux = '';
			    
			    if(!ValidaNomesSalvar()) {
			    	alert("Nome já existente! \nAlteração cancelada");
			     	return;
			    }
			    
			    if(confirm('Deseja salvar todas as alterações?')) {
			    	arrMotiPenl = document.getElementsByName('txtMotiPenalidade')

			    	document.getElementById('frm:txtHdUnload').value = '0';
			    	
			    	for(var i = 0; i < arrMotiPenl.length; i++) {
			    		strAux = strAux + arrMotiPenl[i].id + '|' + arrMotiPenl[i].value;
			            
			            if(i != (arrMotiPenl.length - 1)) {
			            	strAux = strAux + ',';
			            }
			        }
			    	
			    	document.getElementById('frm:txtHdAuxMotiPenalidade').value = strAux;
			    	salvarRemoteCommand();			    
			    }
			}
			
			function ValidaNomesAdd() {
				var arrNomes = new Array();
			    var objTxtAdd = document.getElementById('frm:txtAddMotiPenalidade')
			    
			    arrNomes = document.getElementsByName('txtMotiPenalidade');

			    for(var i = 0; i < arrNomes.length; i++) {
			        if(arrNomes[i].value.toUpperCase() == objTxtAdd.value.toUpperCase()) {                
			            return false;
			        }
			    }
			    return true;
			}
			
			function ValidaNomesSalvar(){
                var arrNomes = document.getElementsByClassName('jsTxtPenalidade');                           
                 for(var i = 0; i < arrNomes.length; i++) {
                        for(var j = 0; j < arrNomes.length; j++) {            
                        if(i != j) {
                              if(arrNomes[i].value.toUpperCase() == arrNomes[j].value.toUpperCase()) {
                             return false;
                             }
                         }
                     }
                 }
               return true;
            } 


	        //]]>
    	</script>
		</h:head>

		<h:body class="PanelTitle" style="height: 100%">
			<iframe
				src="titulo.xhtml?strTitulo=Administração - Gerencial - Motivo da Penalidade"
				frameborder="0" width="100%" height="27"></iframe>

			<h:form id="frm" name="frm" method="post">

				<h:outputLabel for="txtAddMotiPenalidade"
					value="Descrição do Motivo da Penalidade: " />
				<br />
				<p:inputText id="txtAddMotiPenalidade" style="width: 200px"
					maxlength="50"
					value="#{AdmGerManutMotPenaBean.txtAddMotiPenalidade}" />
				<p:commandButton id="Button2" value="Adicionar"
					onclick="Adicionar()" />
				<br />
				<br />

				<p:dataTable id="dtMotiPenl" var="motiPenl"
					value="#{AdmGerManutMotPenaBean.objAdmMotiPenl}"
					paginator="true" paginatorPosition="bottom" rows="8"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
					currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}">

					<p:column headerText="Descrição do Motivo" width="95%">
						<input type="text" name="txtMotiPenalidade" id="#{motiPenl.id}"
							style="width: 89%;" maxlength="30" value="#{motiPenl.motivo}"
							class="jsTxtPenalidade" />
					</p:column>

					<p:column headerText="" width="5%">
						<h:graphicImage rendered="#{motiPenl.EXCLUSAO eq 0}"
							value="../images/btn_excluir_ib.gif" alt="Excluir Motivo 1"
							onclick="Deletar(#{motiPenl.id}, '#{motiPenl.motivo}')"
							style="cursor:hand; align: center;" />
					</p:column>

				</p:dataTable>

				<br />
				<table width="100%" class="bg-red w-100 align-right">
					<tr height="25">
						<td align="right"><p:commandButton value="Salvar"
								onclick="Salvar()" /> <p:commandButton value="Voltar"
								onclick="Voltar()" /></td>
					</tr>
				</table>

				<p:inputText id="txtHdCodMotiPenalidade"
					name="txtHdCodMotiPenalidade" type="hidden"
					value="#{AdmGerManutMotPenaBean.txtHdCodMotiPenalidade}" />
				<p:inputText id="txtHdMotiPenalidade" name="txtHdMotiPenalidade"
					type="hidden" value="#{AdmGerManutMotPenaBean.txtHdMotiPenalidade}" />
				<p:inputText id="txtHdAuxMotiPenalidade"
					name="txtHdAuxMotiPenalidade" type="hidden"
					value="#{AdmGerManutMotPenaBean.txtHdAuxMotiPenalidade}" />
				<p:inputText id="txtHdUnload" name="txtHdUnload" type="hidden"
					value="#{AdmGerManutMotPenaBean.txtHdUnload}" />

				<p:remoteCommand name="adicionarRemoteCommand" update="@form"
					process="@this"
					actionListener="#{AdmGerManutMotPenaBean.adicionar}" />
				<p:remoteCommand name="salvarRemoteCommand" update="@form"
					process="@this" 
					actionListener="#{AdmGerManutMotPenaBean.salvar}" />
				<p:remoteCommand name="deletarRemoteCommand" update="@form"
					process="@this" 
					actionListener="#{AdmGerManutMotPenaBean.deletar}" />

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>