<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:head>
			<h:outputStylesheet name="css/hy_style.css" />
			<h:outputStylesheet name="css/hy_calendar.css" />
			<h:outputScript name="javascript/hy_funcoes.js" />
			<h:outputScript name="javascript/formchek.js" />
			<h:outputScript name="javascript/hy_calendario.js" />

			<title>Administração - Gerencial</title>

			<script>
   			//<![CDATA[
   				
   				window.onload = function(e) {
					PF('statusDialog').show();
					desmarcarCheckboxs();
				}
   				
  				(function() {
					var msg = '#{AdmGerManutCnalOrigBean.strMsg}';
					
					if (msg) 
						alert(msg)
					}
  				)();

				function SetUnload() {
					document.getElementById('frm:txtHdUnload').value = '1';
				}
				
				
				function Voltar() {
					window.location.href = "hyb_adm_ger_manut.xhtml";
				}

				function Salvar() {
					var arrCanalOrigem = new Array();
					var strAuxCanalOrigem = '';
					var arrAreaCanalOrigem = new Array();
					var strAuxAreaCanalOrigem = '';
					
					if (!ValidaNomesSalvar()) {
						alert("Nome já existente! \nAlteração cancelada");
						return;
					}
					
					if (confirm('Deseja salvar todas as alterações?')) {
						
				    	document.getElementById('frm:txtHdUnload').value = '0';
				    	// seleciona os inputs que começam com frm:evento e que não terminem com _input, que é para o nome que o prime faces muda
				    	//arrEventos = document.querySelectorAll("input[id*='evento']:not([id$='_input'])"); 
				    	arrCanalOrigem = document.getElementsByName('txtCanalOrigem')
				    		    	
				    	for(var i = 0; i < arrCanalOrigem.length; i++) {
				    		strAuxCanalOrigem = strAuxCanalOrigem + arrCanalOrigem[i].id + '|' + arrCanalOrigem[i].value;
				            
				            if(i != (arrCanalOrigem.length - 1)) {
				            	strAuxCanalOrigem = strAuxCanalOrigem + ',';
				            }
				        }  
				    	
/* 						
						
						arrCanalOrigem = document.querySelectorAll("input[id*='canal']:not([id$='_input'])");
						document.getElementById('frm:txtHdUnload').value = '0';
						
						for (var i = 0; i < arrCanalOrigem.length; i++) {
							strAuxCanalOrigem = strAuxCanalOrigem + arrCanalOrigem[i].id + '|' + arrCanalOrigem[i].value;
						
						if (i != (arrCanalOrigem.length - 1)) { 
							strAuxCanalOrigem = strAuxCanalOrigem + ',';
						} */
					
					
						
					arrAreaCanalOrigem = document.getElementsByName("chkEventoCanal");
 			    	
			    	for(i = 0; i < arrAreaCanalOrigem.length; i++) {
			    		//strAuxAreaCanalOrigem = strAuxAreaCanalOrigem + arrAreaCanalOrigem[i].id + '-' + arrAreaCanalOrigem[i].checked;
			    		strAuxAreaCanalOrigem = strAuxAreaCanalOrigem + arrAreaCanalOrigem[i].id + '|' + arrAreaCanalOrigem[i].value + '|' + arrAreaCanalOrigem[i].checked;
			            //strParamAreaEvento = strParamAreaEvento + arrAreaEvento[i].id + '-' + arrAreaEvento[i].value;
			            
			            if(i != (arrAreaCanalOrigem.length - 1)) {
			            	strAuxAreaCanalOrigem = strAuxAreaCanalOrigem + ',';
			            }
			        }	
						
						
/* 					arrAreaCanalOrigem = document.querySelectorAll("input[id$='_input']");
					
					for (i = 0; i < arrAreaCanalOrigem.length; i++) {
					    
						strAuxAreaCanalOrigem = strAuxAreaCanalOrigem + arrAreaCanalOrigem[i].id + '|' + arrAreaCanalOrigem[i].value + '|' + arrAreaCanalOrigem[i].checked;
						
						if (i != (arrAreaCanalOrigem.length - 1)) {
							strAuxAreaCanalOrigem = strAuxAreaCanalOrigem + '@';
						}
					}
					 */
					 
					console.log("strAuxCanalOrigem: " + strAuxCanalOrigem) 
					console.log("strAuxAreaCanalOrigem: " + strAuxAreaCanalOrigem) 
					 
					document.getElementById('frm:txtHdAuxCnalOrig').value = strAuxCanalOrigem;
					document.getElementById('frm:txtHdAuxAreaCnalOrig').value = strAuxAreaCanalOrigem;
					
					salvarRemoteCommand();
					}
				}

				function Deletar(obj, strNomeCanalOrigem) {
					document.getElementById('frm:txtHdCodCnalOrig').value = obj;
					
					if (confirm("Deseja excluir o Canal de Origem " + strNomeCanalOrigem)) {
						deletarRemoteCommand();
					}
				}

				function Adicionar() {
				
					var objTxtCnalOrig = document.getElementById('frm:txtAddCanalOrigem');
					
					if (objTxtCnalOrig.value == '') {
						alert("Digite o nome do Canal de Origem.");
						return;
					}
					
					document.getElementById('frm:txtHdCnalOrig').value = objTxtCnalOrig.value;
					
				    if(!ValidaNomesAdd())
				    {
				        alert('Canal de Origem existente!\nDigite nova descrição!');
				        return;
				    }
					
					if (confirm('Deseja incluir o Canal de Origem ' + objTxtCnalOrig.value + '?')) {
					
						adicionarRemoteCommand();
					}
					
					else {
						objTxtCnalOrig.value = '';
						objTxtCnalOrig.focus();
					}
				}

				function ValidaNomesAdd() {
					var arrNomes = new Array();
					var objTxtAdd = document.getElementById('frm:txtAddCanalOrigem')
					
					arrNomes = document.getElementsByName('frm:txtCanalOrigem');
					
					for (var i = 0; i < arrNomes.length; i++) {
						if (arrNomes[i].value.toUpperCase() == objTxtAdd.value.toUpperCase()) {
							return false;
						}
					}

					return true;
				}

				function ValidaNomesSalvar() {
					var arrNomes = new Array();
					
					arrNomes = document.getElementsByName('frm:txtCanalOrigem');
					
					for (var i = 0; i < arrNomes.length; i++) {
						for (var j = 0; j < arrNomes.length; j++) {
					
							if (i != j) {
								if (arrNomes[i].value.toUpperCase() == arrNomes[j].value.toUpperCase()) {
									return false;
								}
							}
						}
					}
					
					return true;
				}

	        //]]>
    	</script>
		</h:head>

		<h:body class="PanelTitle" style="height: 100%">
			
			<ui:include src="loadingStatus.xhtml" />
			
			<table cellSpacing="0" cellPadding="0" width="100%" border="0">
                 <tbody>
                 	<iframe src="titulo.xhtml?strTitulo= Administração - Gerencial - Canal de Origem" frameborder="0" width="100%" height="27"></iframe>
                 </tbody>
             </table>
             <br />
				
			<h:form id="frm" name="frm">

				<p:remoteCommand name="onload"
					action="#{AdmGerManutCnalOrigBean.consultarCanal_Lazy}"
					autoRun="true" update="frm:dataTable" />

				<h:outputLabel for="txtAddCanalOrigem"
					value="Descrição do Canal de Origem (30 caracteres):" />
				<br />

				<p:inputText name="txtAddCanalOrigem" id="txtAddCanalOrigem" style="width: 230px"
					maxlength="30" type="text"
					value="#{AdmGerManutCnalOrigBean.txtAddCanalOrigem}" />  &nbsp;&nbsp;   
	
					
				<p:commandButton id="Button2" value="Adicionar" update="@form"
					onclick="Adicionar()" />
					
				<br />
				<br />
				
				<p:dataTable id="dataTable" var="cOrigem"
					value="#{AdmGerManutCnalOrigBean.objRsAdmCnalOrig}" 
					paginator="true" 
					rows="8"
					paginatorPosition="bottom"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
					currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
					emptyMessage="#{admGerManutCanaisBean.emptyMessage}" lazy="true">
					<p:columnGroup type="header">
						<p:row>
							<p:column rowspan="2" style="width: 230px; text-align: center"
								headerText="Descrição Canal Origem" />
							<p:column
								colspan="#{AdmGerManutCnalOrigBean.getObjRsAreaLength()}"
								style="width: 60%; text-align: center" headerText="Área" />
							<p:column colspan="1" rowspan="2" style="text-align: center"
								headerText="" />
						</p:row>
						
						<p:row>
							<ui:repeat var="row"
								value="#{AdmGerManutCnalOrigBean.objRsArea}">
								<p:column headerText="#{row.nome}" />
							</ui:repeat>
						</p:row>
					</p:columnGroup>
					
					<p:column>
						<input name="txtCanalOrigem"
							id="#{cOrigem.codigo}" type="text"
							style="width: 98%;" maxlength="30" value="#{cOrigem.nome}"
							onchange="SetUnload()" />
					</p:column>
					
					<p:columns var="area"
						value="#{AdmGerManutCnalOrigBean.objRsArea}"
						style="text-align: center">
						
						<p:panelGrid rendered="#{AdmGerManutCnalOrigBean.isAreaCanalChecked(area.codigo, cOrigem.codigo) == 1 ? true : false}">
							<input type="checkbox" class="chkAreaCanalOrig"
								id="#{area.codigo}" name="chkEventoCanal"
								value="#{cOrigem.codigo}" checked="true" ></input>	
						</p:panelGrid>
						
						<p:panelGrid rendered="#{AdmGerManutCnalOrigBean.isAreaCanalChecked(area.codigo, cOrigem.codigo) == 0 ? true : false}">
							<input type="checkbox" class="chkAreaCanalOrig"
								id="#{area.codigo}" name="chkEventoCanal"
								value="#{cOrigem.codigo}" ></input>	
						</p:panelGrid>
					</p:columns> 
					
					<p:column>
						<p:graphicImage value="../images/btn_excluir_ib.gif"
						alt="Excluir Canal #{cOrigem.nome}"
						onclick="Deletar(#{cOrigem.codigo}, '#{cOrigem.nome}')"
						id="id-#{cOrigem.codigo}"
						style="cursor: hand" align="absmiddle" rendered="#{cOrigem.exclusao == '0' ? true : false}"/>
					</p:column>
					
				</p:dataTable>

				<br />
				
				<div class="row-buttons">
				
				</div>
				
				<table width="100%" class="bg-red w-100 align-right">
                 <tr height="25">
                     <td align="right">
                        <p:commandButton type="button" onclick="Salvar()" id="btnSalvar" value="Salvar" />
                        <p:commandButton type="button" onclick="Voltar()" id="btnVoltar" value="Voltar" />
                     </td>
                 </tr>    
             	</table>
				
				<p:inputText id="txtHdCodCnalOrig" name="txtHdCodCnalOrig"
					type="hidden" value="#{AdmGerManutCnalOrigBean.txtHdCodCnalOrig}" />
				<p:inputText id="txtHdCnalOrig" name="txtHdCnalOrig" type="hidden"
					value="#{AdmGerManutCnalOrigBean.txtHdCnalOrig}" />
				<p:inputText id="txtHdAuxCnalOrig" name="txtHdAuxCnalOrig"
					type="hidden" value="#{AdmGerManutCnalOrigBean.txtHdAuxCnalOrig}" />
				<p:inputText id="txtHdAuxAreaCnalOrig" name="txtHdAuxAreaCnalOrig"
					type="hidden"
					value="#{AdmGerManutCnalOrigBean.txtHdAuxAreaCnalOrig}" />
				<p:inputText id="txtHdUnload" name="txtHdUnload" type="hidden"
					value="0" />

				<p:remoteCommand name="adicionarRemoteCommand" process="@this"
					update="@form"
					actionListener="#{AdmGerManutCnalOrigBean.adicionar}" />
				<p:remoteCommand name="salvarRemoteCommand" process="@this"
					update="@form" actionListener="#{AdmGerManutCnalOrigBean.salvar}" />
				<p:remoteCommand name="deletarRemoteCommand" process="@this"
					update="@form"
					actionListener="#{AdmGerManutCnalOrigBean.deletar}" />

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>