
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

		<h:head>
			<title>HY - Ocorrências Especiais</title>
			<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
		    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
		    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
			<script type="text/javascript">
				//<![CDATA[

				function Pesquisar(){
					console.log("submeter aqui");
					btnPesquisar();
					parent.parent.PF("statusDialog").show();
				}
				
				function Fechar(){   
						console.log("btn limpacampos");
				        parent.PF('pesquisa-envolvida-equipe').hide();
				}
				
				function GravarParticipantejs(index){
					console.log("GravarParticipantejs", index);
					btnGravarParticipante([{name: "indice", value: index}]);
				}
		
				//]]>
			</script>
		</h:head>
		<h:body>
			<h:form id="frmPesqPart" method="post">
				<table width="100%" border="0" style="background-color:red; color: white">
					<tr>
						<td colspan="6">Participação do Processo > Adicionar Participante</td>
					</tr>
					<tr>
						<td><b>Filtros para Pesquisa</b></td>
						<td><b>Nº da OS:&nbsp;&nbsp;  <h:outputText value="#{cadOsMenuBean.strNrSeqOs}"></h:outputText></b></td>
					</tr>
					<tr style="background-color: red; height: 1px;">
						<td colspan="8"></td>
					</tr>
				</table>
				<p:fieldset styleClass="PanelTitle">
					<table border="0" width="auto">
						<tr>
							<td>Nº Matrícula:</td>
							<td><p:inputText id="txtMatricula" name="txtMatricula"
									type="text" style="width:75px;"
									value="#{cadastroosPesquisaEquipeBean.strMatricula}" /></td>
							<td>Nome:</td>
							<td><p:inputText id="txtNome" name="txtNome" type="text"
									style="width:250px;" value="#{cadastroosPesquisaEquipeBean.strNome}" /></td>
						</tr>
						<tr>
							<td>CPF:</td>
							<td>
								<p:inputText id="txtDocto" name="txtDocto" type="text" style="width:80px;" maxlength="11" value="#{cadastroosPesquisaEquipeBean.strDocto}" onkeypress="BlockKeybord()">
									<p:keyFilter regEx="/[\d]/" />
								</p:inputText>									
							</td>
							<td colspan="3">
								<p:outputLabel for="cboTipo" value="Tipo do Participante:" />
								<p:selectOneMenu id="cboTipo" value="#{cadastroosPesquisaEquipeBean.cboTipo}" style="width:125px">
										<f:selectItem itemLabel="Todos" itemValue="" />
										<f:selectItem itemLabel="Funcionário" itemValue="1" />
										<f:selectItem itemLabel="Estagiário" itemValue="2" />
										<f:selectItem itemLabel="Terceiro" itemValue="3"/>
								</p:selectOneMenu>
							</td>
							<td align="right" colspan="3">
								<h:graphicImage value="../images/lupa.gif" style="cursor:pointer" alt="Pesquisar" onclick="Pesquisar()"/>
							</td>
							<p:remoteCommand name="btnPesquisar" action="#{cadastroosPesquisaEquipeBean.FillTblPart}" update="pesquisa-colaboradores"></p:remoteCommand>
						</tr>
					</table>
					<!-- Nenhum registro encontrado. -->
					<p:dataTable id="pesquisa-colaboradores" paginator="false" value="#{cadastroosPesquisaEquipeBean.objRsParticipColaboradores}" var="participColaboradores" emptyMessage="#{cadastroosPesquisaEquipeBean.emptyMsg? 'Nenhum registro encontrado.' : ''}" rowIndexVar="index">
						<p:column headerText="Matrícula">
							<h:outputText value="#{participColaboradores.MATRICULA}"/>
						</p:column>
						<p:column headerText="CPF">
							<h:outputText value="#{participColaboradores.CPF_CNPJ}"/>
						</p:column>
						<p:column headerText="Nome">
							<h:outputText value="#{participColaboradores.NOME}"/>
						</p:column>
						<p:column headerText="Cargo">
							<h:outputText value="#{participColaboradores.CARGO}"/>
						</p:column>
						<p:column headerText="Segmento">
							<h:outputText value="#{participColaboradores.SEGMENTO}"/>
						</p:column>
						<p:column headerText="Participação" colspan="2">
							<p:selectOneMenu id="cboDesig" value="#{participColaboradores.CBO_DESIG}">
								<f:selectItems value="#{cadastroosPesquisaEquipeBean.objRsItemsCombo}" var="item" itemValue="#{item.CODIGO}" itemLabel="#{item.NOME}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>
						<p:column headerText="" >
							<p:commandButton value="+" type="button" onclick="GravarParticipantejs(#{index})" />
						</p:column>
					</p:dataTable>
					<p:remoteCommand name="btnGravarParticipante" action="#{cadastroosPesquisaEquipeBean.gravarParticipante}"></p:remoteCommand>
				</p:fieldset>
				<table width="100%">
					<tr>
						<td align="right">
							<p:commandButton type="button" value="Voltar" style="text-align:center"	onclick="Fechar();" ></p:commandButton>
						</td>
					</tr>
				</table>
				<p:remoteCommand name="btnLimparCampos" action="#{cadastroosPesquisaEquipeBean.limparCampos}" update="frmPesqPart"></p:remoteCommand>
			</h:form>
		</h:body>
</html>
