<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="../templates/template.xhtml">
	
		<ui:define name="content" >
  
<h:head>
  <title>HY - Ocorrências Especiais</title>

	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_avanade-style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
</h:head>
  
<h:body>
		
	<table style="background:red" width="100%" border="0" cellspacing="0" cellpadding="0" id="tblImprimirSup" height="50">
	  <tr> 
	    <td align="center">
	    	<p:commandButton value="Imprimir" type="button" icon="pi pi-print" style="display:block;margin-bottom: 20px">
			    <p:printer target="printTables" />
			</p:commandButton>
			<p:commandButton onclick="window.close()" value=" Fechar "></p:commandButton>
	  	</td>
	  </tr>
	</table>
<p:outputPanel id="printTables">
<table id="alltables" width="90%" border="0" height="98%" cellpadding="0" cellspacing="0" align="center">
	<tr ><!--CABEÇALHO-->
		<td height="15%">
			<table width="100%" border="0" >
			  <tr  ><td colspan="3" width="99%" align="right"><p:graphicImage url="../images/img_topo_logo.gif"/></td></tr>
			  <tr >
				<td rowspan="2" width="10%">
					<table cellpadding="0" cellspacing="0">
						<tr><td><font size="2" face="Arial, Helvetica, sans-serif"><h:outputText value="#{relCapaOSBean.objRsRelCapaOs.dataAtual}"/></font></td></tr>
						<tr><td><font size="2" face="Arial, Helvetica, sans-serif"><h:outputText value="#{relCapaOSBean.objRsRelCapaOs.horaAtual}"/></font></td></tr>			
					</table>
				</td>
				<td align="center" class="RelTitulo">SISTEMA DE OCORRÊNCIAS ESPECIAIS</td>
				<td rowspan="2" align="center" width="10%" class="RelTxt">CAPA O.S.</td>
			  </tr>
			  <tr>    <td rowspan="2" align="center" class="RelTitulo">ORDEM DE SERVIÇO Nº <h:outputText value="#{relCapaOSBean.strNrSeqOs}"/></td>  </tr>
			</table>
			<table width="99%" height="5px" class="RelTxt2" cellpadding="0" cellspacing="0"><tr ><td></td></tr></table>
	
		</td>
	</tr><!--FIM CABECALHO-->
	<tr><!--CORPO RELATORIO-->
		<td colspan="3" valign="top" >
			
			<table width="99%" border="0" cellpadding="0" cellspacing="0">
				<tr style="background-color:red; height:1px"><td></td></tr>
				<tr style="background-color:red; color:White; height:20px">
					<td valign="middle">
						<p:graphicImage url="../images/seta_vermelha.gif"/>
						<b>Superintendência de Ocorrências Especiais</b>
					</td>
				</tr>    
			</table>

			<table width="99%" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td>
						<table border="0" >
							<tr  bgcolor="#EBEBEB" >
								<td valign="middle"  >Data Abertura O.S.:</td>
								<td valign="middle" ><h:outputText value="#{relCapaOSBean.objRsRelCapaOs.dtAbertura}"/></td>
							</tr>    
						</table>					
					</td>
				</tr>
				<tr ><td  class="RelTxt2"></td></tr>    
				<tr  class="RelTxt" bgcolor="red" >
					<td valign="middle" ><p:graphicImage url="../images/seta_vermelha.gif"/><b><font color="#FFFFFF">Analista(s)</font></b></td>
				</tr>    
				<tr >
					<td>
						<p:dataTable value="#{relCapaOSBean.capaOs}" var="capa" rendered="#{capa.tpDesi eq 'AD' || capa.tpDesi eq 'AA' || capa.tpDesi eq 'PSD' || capa.tpDesi eq 'PSA' || capa.tpDesi eq 'NA'}" emptyMessage="Nenhum registro encontrado">
						 	<p:column headerText="Matrícula">
	                    		<h:outputText value="#{capa.nrMatrPrsv}" />
	             			</p:column>
	             			<p:column headerText="Nome">
	                    		<h:outputText value="#{capa.nmRecuOcorEspc}"  />
	             			</p:column>
	             			<p:column headerText="Designação">
	                    		<h:outputText value="#{capa.nmDesignacao}" rendered="#{capa.nmDesignacao != 'N/A' }" />
	                    		<h:outputText value="Cadastramento da OS" rendered="#{capa.nmDesignacao == 'N/A' }" />
	             			</p:column>
						</p:dataTable>
					</td>
				</tr>    				
				<tr ><td ></td></tr>    
				<tr  class="RelTxt" bgcolor="red" >
					<td valign="middle" ><p:graphicImage url="../images/seta_vermelha.gif"/><b><font color="#FFFFFF">Coordenador(es)</font></b></td>
				</tr>    
				<tr>
					<td>
						<p:dataTable var="capa" value="#{relCapaOSBean.capaOs}" rendered="#{capa.cdCarg eq 'B70823'}">
						 	<p:column headerText="Matrícula" >
	                    		<h:outputText value="#{capa.nrMatrPrsv}" />
	             			</p:column>
	             			<p:column headerText="Nome">
	                    		<h:outputText value="#{capa.nmRecuOcorEspc}" />
	             			</p:column>
						</p:dataTable>
					</td>
				</tr>    				
				<tr ><td ></td></tr>    
				<tr  class="RelTxt" bgcolor="Red" >
					<td valign="middle" ><p:graphicImage url="../images/seta_vermelha.gif"/><b><font color="#FFFFFF">Gerente de Área</font></b></td>
				</tr>    

				<tr>
					<p:dataTable var="capa" value="#{relCapaOSBean.capaOs}" rendered="#{capa.cdCarg eq 'B70555'}">
					 	<p:column headerText="Matrícula" >
                    		<h:outputText value="#{capa.nrMatrPrsv}" />
             			</p:column>
             			<p:column headerText="Nome">
                    		<h:outputText value="#{capa.nmRecuOcorEspc}" />
             			</p:column>
					</p:dataTable>
				</tr>    				

				<tr  style=""><td></td></tr>    
				<tr  class="RelTxt" bgcolor="#FF0000" >
					<td valign="middle" ><p:graphicImage url="/resources/imagens/seta_vermelha.gif"/><b><font color="#FFFFFF">Texto de Abertura O.S.</font></b></td>
				</tr>    
				<tr >
					<td>
						<table width="100%">
							<tr bgcolor="#EBEBEB" >
								<td width="60%" rowspan="2" valign="middle"><h:outputText value="#{relCapaOSBean.objRsRelCapaOs.txAbertura}"></h:outputText>%</td>
							</tr>    
						</table>
					</td>
				</tr>    				
				<tr ><td height="2px"></td></tr>    
				<tr  class="RelTxt" bgcolor="#FF0000" >
					<td valign="middle" ><p:graphicImage url="../images/seta_vermelha.gif"/><b><font color="#FFFFFF">Texto de Encerramento O.S.:</font></b></td>
				</tr>    

				<tr >
					<td>
						<table width="100%">
							<tr bgcolor="#EBEBEB" >
								<td valign="middle" rowspan="2" width="60%"><h:outputText value="#{relCapaOSBean.objRsRelCapaOs.txEncerramento}"></h:outputText>%</td>
							</tr>    
						</table>
					</td>
				</tr>    				
		  </table>
		</td>
	</tr>
	
	<tr><!--RODAPE-->
		<td colspan="3" height="1%" valign="bottom">
			<table width="99%" cellpadding="0" cellspacing="0"><tr><td></td></tr></table>
			<table border="0" width="100%" cellpadding="0" cellspacing="0" >
				<tr>
				<td width="15%"><font size="1" face="Arial, Helvetica, sans-serif">Login: Teste Fake</font></td>
				<td align="center"><font size="1" face="Arial, Helvetica, sans-serif">Superintêndencia de Ocorrências Especiais</font></td>
				<td align="center" width="15%"><font size="1" face="Arial, Helvetica, sans-serif">1/1</font></td>															
				</tr>
			</table>
		</td>
	</tr>
	</table>
 </p:outputPanel> 
</h:body>
</ui:define>
</ui:composition>