<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">
		<h:head>

			<title>HY - Ocorrências Especiais</title>
			<script type="text/javascript" language="javascript">
				//<![CDATA[ 
				function Voltar() {
					history.back();
				}

				function Imprimir() {
					window.print();
				}
				//]]>
			</script>
		</h:head>
		<h:body>
			<h:form>
				<p:dataTable var="obj" value="#{relosEventoBean.objRsRelat}"
					emptyMessage="Não exitem dados para o período selecionado."
					id="tableRelosEvento" paginatorTemplate="{Exporters}">
					<f:facet name="header">
						<b style="font-size: medium; align: center">Superintendência
							de Ocorrências Especiais</b>
						<br />
						<span style="font-size: medium; align: center">#{relosEventoBean.strNmRelat}</span>
						<br />
						<br />
						<br />
						<span style="font-size: x-small; align: center"><b>Período:</b>
							#{relosEventoBean.strDtIni} <b>até</b>
							#{relosEventoBean.strDtFim}</span>
					</f:facet>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Nº OS" />
						</f:facet>
						<h:outputText value="#{obj.NR_SEQU_ORDE_SERV}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Canal de Origem OS" />
						</f:facet>
						<h:outputText value="#{obj.CNAL_ORIG}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Status OS" />
						</f:facet>
						<h:outputText value="#{obj.STATUS}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Pessoas Envolvidas no Processo" />
						</f:facet>
						<h:outputText value="#{obj.NM_PARP}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Status de Participação" />
						</f:facet>
						<h:outputText value="#{obj.TP_PARP}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Evento" />
						</f:facet>
						<h:outputText value="#{obj.EVENTO}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Canal" />
						</f:facet>
						<h:outputText value="#{obj.CANAL}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Proposição" />
						</f:facet>
						<h:outputText value="#{obj.TX_OUTR_PRPC}" />
					</p:column>
					<p:column>
						<f:facet style="align:center" name="header">
							<h:outputText value="Data encerramento OS" />
						</f:facet>
						<h:outputText value="#{obj.DT_PREV_ENCE_ORDE_SERV}" />
					</p:column>
					<f:facet name="footer">
						<span style="align:center">
							<font size="1" face="Arial, Helvetica, sans-serif">#{relosEventoBean.now()}</font>
							<font size="1" face="Arial, Helvetica, sans-serif">Superintêndencia de Ocorrências Especiais</font>
						</span>
					</f:facet>
				</p:dataTable>

				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<p:dataExporter type="xls" target="tableRelosEvento"
						fileName="OCESP_Relatorio" />
				</h:commandLink>

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
