<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

		<h:head>

	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

			<title></title>

			<script type="text/javascript">
				//<![CDATA[

				var gobjTipoArquivo = new Object();
				gobjTipoArquivo.arrTipo = new Array('pdf', 'zip', 'doc', 'xls',
						'ppt', 'pps', 'msg', 'jpgjpeggifbmppng', '*')
				//                                    0      1      2      3      4      5      6              7          8

				gobjTipoArquivo.arrNomeImagem = new Array('ico_pdf.gif', // 0
				'ico_zip.gif', // 1
				'ico_doc.gif', // 2
				'ico_xls.gif', // 3
				'ico_ppt.gif', // 4
				'ico_pps.gif', // 5
				'ico_msg.gif', // 6
				'ico_img.gif', // 7
				'ico_outros.gif'); // 8

				// TODO - Integrar as páginas dos iframes, hy_adm_workflow_notificacao_manual, para testar
				function Anexar() {
					var arrTreAnexo = new Array();
					var intcount = 0;
					var strTreCaminho = '';

					if (parent.document.iframeOS.document.forms[0]['frm:txtOcorEspec'].value == '') {
						alert('Preencha o número da Ordem de Serviço');
						parent.document.iframeOS.document.forms[0]['frm:txtOcorEspec']
								.focus()
						return;
					}

					// TODO - Mostrar Modal
					 var strRetorno = showModalDialog('hyb_importararquivo.xhtml?strNrSeqOs=' + parent.document.iframeOS.document.forms[0]['frm:txtOcorEspec'].value + '&strTpAnexo=N', "", "dialogHeight:150px;dialogWidth:40;edge:Raised;center:Yes;help:No;resizable:No;status:No;unadorned:yes;scroll:yes;"); */
					//var strRetorno = 'test';
					if (strRetorno != '') {
						// TODO - Revisar para que é usado o value txtHdNmArquivo
						if (document.forms[0]['anexoForm:txtHdNmArquivo'].value == '') {
							/* document.forms[0]['anexoForm:txtHdNmArquivo'].value = strRetorno; */
							setTxtHdNmArquivoStr([ {
								name : "txtHdNmArquivoStr",
								value : strRetorno
							} ]);
						} else {
							/* document.forms[0]['anexoForm:txtHdNmArquivo'].value = document.forms[0]['anexoForm:txtHdNmArquivo'].value + strRetorno; */
							var nmArquivoFormValue = document.forms[0]['anexoForm:txtHdNmArquivo'].value
									+ strRetorno
							setTxtHdNmArquivoStr([ {
								name : "txtHdNmArquivoStr",
								value : nmArquivoFormValue
							} ]);
							console.log(nmArquivoFormValue)
						}

						strTreCaminho = strRetorno;

						arrTreAnexo = strTreCaminho.split('|');

						//Verifica Caminho e Nome do Arquivo
						for (var j = 0; j < arrTreAnexo.length - 1; j++) {
							var strAux = '';
							var strCaminho = '';
							var strNmArquivo = '';

							for (var i = arrTreAnexo[j].length; i >= 0; i--) {
								if (strNmArquivo == '') {
									if (arrTreAnexo[j].substr(i, 1) == '/') {
										strNmArquivo = strAux;
										strAux = '';
										strCaminho = arrTreAnexo[j]
												.substr(i, 1)
												+ strCaminho;
									} else {
										strAux = arrTreAnexo[j].substr(i, 1)
												+ strAux;
									}

								} else {
									strCaminho = arrTreAnexo[j].substr(i, 1)
											+ strCaminho;
								}
							}
							intcount = intcount + 1;
							montaLinhas(intcount, strCaminho, strNmArquivo);
							console.log(strAux, strCaminho, strNmArquivo);
						}
					}
				}

				function PegaNomeArquivo(strCamimhoArquivo) {

					var arrTipoArquivo = new Array();

					arrTipoArquivo = strCamimhoArquivo.split('.');

					for (var i = 0; i < gobjTipoArquivo.arrTipo.length; i++) {
						if (gobjTipoArquivo.arrTipo[i]
								.indexOf(arrTipoArquivo[arrTipoArquivo.length - 1]) != -1) {
							return gobjTipoArquivo.arrNomeImagem[i];
						}
					}

					return gobjTipoArquivo.arrNomeImagem[8];
				}

				function montaLinhas(id_Arquivo, strNotCaminho, strNotiArquivo)

				{
					tabela = eval(tbAnexo);

					var objRow = tabela.insertRow();
					var objCell = objRow.insertCell();

					var strNome = UrlDecode(strNotiArquivo)
					var strFile = strNotCaminho + UrlEncode(strNome);

					objRow.id = id_Arquivo;

					// COLUNA 01
					objCell.innerHTML = "<span><a href=file:" +  strFile + " target='blank'><img alt='Excluir' src='../images/"
							+ PegaNomeArquivo(strNome) + "'></a></span>";
					objCell.align = "left";
					objCell.width = "2%"

					// COLUNA 02
					objCell = objRow.insertCell();
					objCell.innerHTML = strNome;
					objCell.align = "left";
					objCell.width = "32%"

					// COLUNA 03
					var TTT = "EEE";
					objCell = objRow.insertCell();
					objCell.innerHTML = "<span onclick=Excluir('"
							+ strFile
							+ "','"
							+ objRow.id
							+ "');><img alt='Excluir' src='../images/btn_excluir_ib.gif' border='0'></span>";
					objCell.align = "left";
					objCell.height = "22";
					objCell.width = "9%"
				}

				function Excluir(strArquivo, id_linha) {

					excluiTab('tbAnexo', id_linha);
					Deletar(UrlDecode(strArquivo));

				}

				function Deletar(strNome) {
					var iframeOSTxtOcorEspecVal = parent.iframeOS.document.forms[0]['frm:txtOcorEspec'].value;
					/* document.forms[0]['anexoForm:txtHdInfArq'].value = strNome; */
					setTxtHdInfArqStr([ {
						name : "txtHdInfArqStr",
						value : strNome
					} ]);
					/* document.forms[0]['anexoForm:txtNrSeqNoti'].value = parent.iframeOS.document.forms[0].txtOcorEspec.value */
					settxtNrSeqNotiStr([ {
						name : "txtNrSeqNotiStr",
						value : iframeOSTxtOcorEspecVal
					} ])
					/* document.forms[0]['anexoForm:txtHdAction'].value = 'D'; */
					setTxtHdActionD();
					document.forms[0].submit();
				}

				function excluiTab(tabela, id_linha) {
					tabela = eval(tabela);
					var objRow = tabela.rows;

					for (var i = 0; i < objRow.length; i++) {
						if (eval(objRow[i].id) == id_linha) {
							tabela.deleteRow(i);
						}
					}
				}

				//]]>
			</script>

		</h:head>

		<h:body style="margin:0;">
<h:form id="frmAnexoIframe" name="frmAnexoIframe" method="post">
<fieldset style="border: 1px solid #ebebeb"><legend>Anexar arquivos</legend>
<table width="99.80%" border="0">
    <tr>
        <td><p:inputText id="button0" type="button" value="Anexar" onclick="Anexar()"/></td>
    </tr>
</table>
</fieldset>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr style="background-color: gray; color: White">
        <td colspan=""><b>Arquivos Anexados</b></td>
    </tr>
    <tr style="background:gray; height:1px; "><td colspan=""></td></tr>
</table>
<div id="divOverFlow" style="overflow:auto; width:100%; height:55px;" align="left">
	<table width="100%" id="tbAnexo" border = "0" cellpadding="0" cellspacing="0"></table>
</div>
<p:inputText id="txtHdAction" name="txtHdAction" type="hidden" value="" />
<p:inputText id="txtHdInfArq" name="txtHdInfArq" type="hidden" value="" />
<p:inputText id="txtHdNmArquivo" name="txtHdNmArquivo" type="hidden" value="" />
<p:inputText id="txtNrSeqNoti" name="txtNrSeqNoti" type="hidden" value="" />
</h:form>
		</h:body>
</html>