<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml"> 

 <h:head>
 
 <script>
 
//<![CDATA[
	
	window.onload = function() {
		$("table").on('click' ,'.fileText' ,function(e) {
		    var index = e.target.classList[1];
			console.log(index);
			document.getElementsByClassName('download-'+index)[0].click();
		});
	}
	
	window.onunload = function() {
		callCleanSession();
	}
	
//]]>
 
 </script>
 
 </h:head>
 <h:body>
 
	<h:form>
	 	<p:dataTable paginator="true"
						  paginatorPosition="bottom"
		      			  var="result"
		      			  rowIndexVar="index"
		      			  value="#{histPesqAnexo.getResultAnxs()}"     
		            >
		            <p:column headerText="Anexo">
		                   <h:outputText styleClass="fileText #{index}" value="#{result.NM_ARQ}"/>
		                   <h:commandButton id="fileId" actionListener="#{histPesqAnexo.downloadFile(result.NM_ARQ)}" styleClass="download-#{index}" style="display:none;">
				        		<p:fileDownload value="#{histPesqAnexo.file}"></p:fileDownload>
				           </h:commandButton>
		            </p:column>
		</p:dataTable>
	
	<p:remoteCommand id="cleanSession" name="callCleanSession" actionListener="#{histPesqAnexo.cleanSession}"></p:remoteCommand>
	
	</h:form>

 </h:body> 
 
</html>