<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="../templates/template.xhtml">
	
		<ui:define name="content" >
  
<h:head>
 <title>Histórico - Pesquisa</title>

	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_avanade-style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
</h:head>
  
<h:body>
	<iframe src="titulo.xhtml?strTitulo= Histórico - Pesquisa" frameborder="0" width="100%" height="27"></iframe>		
<h:form id="frm">
	<fieldset class="PanelTitle">
		<table width="70%" border="0" cellpadding="1" cellspacing="1">
			<tr>
				<td><h:outputLabel value="Código do Evento:"/></td>
				<td>
				<p:inputText id="txtCodigoEvento" name="txtCodigoEvento" value="#{histPesquisa.codigoEvento}" style="width:200px" maxlength="14"/>
				</td> 
				<td></td>  
				<td><h:outputLabel value="Número da Agência:"/></td>
				<td>
				<p:inputText id="txtCodigoAgencia" name="txtCodigoAgencia" value="#{histPesquisa.codigoAgencia}" style="width:200px" maxlength="4" onkeypress="BlockKeybord();"/>
				</td>  		
			</tr>
		</table>
		<br></br>
		<table width="100%"><tr height="1" style="background:gray"><td></td></tr></table>
		
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr><td><h:outputLabel value="Título de Abertura:"/></td></tr>
			<tr>
			 <td><p:inputTextarea id="txtTituloAbertura" value="#{histPesquisa.tituloAbertuda}" name="txtTituloAbertura" cols="20" rows="10" style="width:98%" maxlength="4000" /></td> 
			</tr>
		</table>
		
		<table width="100%"><tr height="1" style="background:gray"><td></td></tr></table>
		
		<table width="100%" class="bg-red w-100 align-right" style="margin-top: 5px">
       	    <tr height="25">
                <td align="right">
                <p:commandButton value="Pesquisar" update="display" icon="pi pi-check" action="#{histPesquisa.pesquisarHistorico}"/>
				</td>
             </tr>    
       </table>
			
		<!-- Retirar linha abaixo quando o backend estiver pronto e redirecionando para outra página -->
		<h:outputText id="display" value="#{histPesquisa.codigoEvento}" />
	</fieldset>
</h:form>

	<script>
	//<![CDATA[
	//Definine o Título e os botőes do rodape da página
	parent.parent.titulo.location.replace('Titulo.asp?strTitulo="Histórico - Pesquisa"');
	parent.rodape.location.replace("HY_BtnGenerico.asp?strButton=Pesquisar/Pesquisar"); 

	//Funçăo pesquisar, recupera os valores preenchidos pelo usuário e chama a página de resultado
	function Pesquisar(){
		var objFrm = document.forms["frm"];
		
		objFrm.txtHdCodEven.value = objFrm.txtCodigoEvento.value;        
		objFrm.txtHdCodAgen.value = objFrm.txtCodigoAgencia.value;
		objFrm.txtHdDsTitu.value  = objFrm.txtTituloAbertura.value;

		objFrm.submit();
	
	}
	
	//]]>
	</script>
</h:body>
</ui:define>
</ui:composition>