<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
	<h:head>
		<title></title>
		<link rel="Stylesheet" href="../resources/CSS/HY_Style.css"
			type="text/css" media="screen" />
		<link rel="stylesheet" href="../resources/css/HY_calendar.css"
			media="screen" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/santander.css" media="screen"/>
		<script language="javascript"
			src="../resources/javascript/hy_funcoes.js"></script>
		<script type="text/javascript"
			src="../resources/javascript/calendario.js"></script>
		<script type="text/javascript">
	  		//<![CDATA[
		        var objTd = new Object();
		        
		        window.onload = function()        
		        {              
		            MouseClick(td1, 'hyb_encerraros.xhtml');
		            tbMenu.style.display = 'block';
		            Resize();
		        }
		        
		        function Resize()
		        {
		            window.parent.document.all['ifrmEncerrar'].height=417;
		        }
		        
		        function MouseOver(obj)
		        {   
		            if (objTd != obj)
		            {
		                obj.style.background = '#FFEADF';
		                obj.style.color = 'red';
		                obj.style.cursor = 'hand';
		            }
		        }
		        
		        function MouseOut(obj)            
		        {   
		            if (objTd != obj)
		            {
		                obj.style.background = 'red';                
		                obj.style.color = 'white';
		                obj.style.cursor = 'hand';        
		            }
		        }
		        
		        function MouseClick(obj, strPagina)
		        {               
		            objTd = obj;
		            var i;    
		            for(i = 1; i<=2; i++)
		            {
		                document.getElementById('td'+i).style.background='red';
		                document.getElementById('td'+i).style.color = 'white';
		            }
		            obj.style.background = 'white';
		            
		            obj.style.color = 'red';
		            obj.style.cursor = 'hand';            
		            document.getElementById('ifrmEncerrar').src = strPagina + '?strNrSeqOs=#{encerrarOSBean.strNrSeqOs}&strReadOnly=#{encerrarOSBean.strReadOnly}&strTitulo=#{encerrarOSBean.strTitulo}';
		            document.getElementById('ifrmEncerrar').height = '419';
		        }
			//]]>        
		</script>
	</h:head>
	<h:body styleClass="PanelTitle" style="height:100%">
		<table id="tbMenu" width="100%" style="background: red; color: white; font-weight: bold; display: none" cellspacing="1" cellpadding="0">
			<tr>
				<td id="td1" onmouseover="MouseOver(this)"
					onmouseout="MouseOut(this)"
					onclick="MouseClick(this, 'hyb_encerraros.xhtml')">Encerramento</td>
				<td></td>
				<td id="td2"></td>
			</tr>
		</table>
		<table width="100%" cellspacing="1" cellpadding="0"><tr><td></td></tr></table>
		<iframe id="ifrmEncerrar" name="ifrmEncerrar" width="100%" height="0%" scrolling="auto" frameborder="0"></iframe>
	</h:body>
</html>