<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


<h:head>
    <title></title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
				type="text/css" media="screen" />
	<script type="text/javascript">
        //<![CDATA[			
        	console.log(#{imprimirOS.objRsOs.VL_PREJUIZO})
		function Imprime(){
			with(document.all){
				tblImprimirSup.style.visibility = 'hidden';
				window.print();
				tblImprimirSup.style.visibility = 'visible';
			}
		}

	    function HideShowTR(cdCanalOrigem){
	        if(cdCanalOrigem == '9'){        
	            trOficio.style.display = "block";
	            trLynx.style.display = "none";
	            trMonitInst.style.display = "none";
	            trOutrosMeios.style.display = "none";
	        }
	        else if(cdCanalOrigem == '6')
	        {        
	            trOficio.style.display = "none";
	            trLynx.style.display = "block";
	            trMonitInst.style.display = "none";
	            trOutrosMeios.style.display = "none";
	        }
	        else if(cdCanalOrigem == '7')
	        {        
	            trOficio.style.display = "none";
	            trLynx.style.display = "none";
	            trMonitInst.style.display = "block";
	            trOutrosMeios.style.display = "none";
	        }
	        else if(cdCanalOrigem == '10')
	        {        
	            trOficio.style.display = "none";
	            trLynx.style.display = "none";
	            trMonitInst.style.display = "none";
	            trOutrosMeios.style.display = "block";
	        }
	        else
	        {        
	            trOficio.style.display = "none";
	            trLynx.style.display = "none";
	            trMonitInst.style.display = "none";
	            trOutrosMeios.style.display = "none";
	        } 
	    }

		function fnGeraCausaEvento(){
		    document.getElementById ('txtCausaEvento').value =  
		    document.getElementById ('txtDtLancContab').value + ' - ' + 
		    document.getElementById ('txtEmpresa').value +' ('+ document.getElementById ('txtAreaCompl').value +') - ' +
		    document.getElementById ('txtCtgoNv3').value + ' - ' + document.getElementById ('txtFatorRisco').value;
		    
		}

		function UrlEncode(sStr) {
		    return escape(sStr).
		             replace(/\+/g, '%2B').
		                replace(/\"/g,'%22').
		                   replace(/\'/g, '%27').
		                     replace(/\//g,'%2F');
		                     
		                        
		}


		function UrlDecode(sStr) {

		    return unescape(sStr).
		             replace('%2B', /\+/g).
		                replace('%22', /\"/g).
		                   replace('%27', /\'/g).
		                     replace('%2F', /\//g);
		}

		var gobjTipoArquivo = new Object();
		gobjTipoArquivo.arrTipo = new Array('pdf', 'zip', 'doc', 'xls', 'ppt', 'pps', 'msg', 'jpgjpeggifbmppng', '*')
//		                                    0      1      2      3      4      5      6              7          8

		gobjTipoArquivo.arrNomeImagem = new Array('ico_pdf.gif',     // 0
		                                          'ico_zip.gif',     // 1
		                                          'ico_doc.gif',     // 2
		                                          'ico_xls.gif',     // 3
		                                          'ico_ppt.gif',     // 4
		                                          'ico_pps.gif',     // 5
		                                          'ico_msg.gif',     // 6
		                                          'ico_img.gif',     // 7
		                                          'ico_outros.gif'); // 8


		function PegaNomeArquivo(strCamimhoArquivo)
		{
		    
		    var arrTipoArquivo = new Array();
		    
		    arrTipoArquivo = strCamimhoArquivo.split('.');
		    
		    for (var i = 0; i < gobjTipoArquivo.arrTipo.length; i++)
		    {
		        if(gobjTipoArquivo.arrTipo[i].indexOf(arrTipoArquivo[arrTipoArquivo.length - 1]) != -1)
		        {
		            return gobjTipoArquivo.arrNomeImagem[i];
		        }
		    }
		    
		    return gobjTipoArquivo.arrNomeImagem[8];
		}

		function montaLinhas(id_Arquivo,strAuxCaminho,strAuxArquivo, strBgColor) {		
			
			tabela = eval(tbAnexo);
		    
		    
			var objRow = tabela.insertRow();
			objRow.style.background = strBgColor;
			var objCell = objRow.insertCell();		
			
			var strNome = UrlDecode(strAuxArquivo)
			var strFile = strAuxCaminho + UrlEncode(strNome);


			objRow.id = id_Arquivo;	
			
			// COLUNA 01
		    objCell.innerHTML		= "<span>&#160;<img alt='' src='../images/" + PegaNomeArquivo(strNome) + "'></span>";	
			objCell.align			= "left";
			objCell.width			= "2%"		
			
			// COLUNA 02
			objCell					= objRow.insertCell();
			objCell.innerHTML		= strNome ;
			objCell.align			= "left";
			objCell.width			= "32%"			

		}
	    //]]>
	</script>
</h:head>
<h:body>
<table style="background:red" width="99%" border="0" cellspacing="0" cellpadding="0" id="tblImprimirSup" height="50">
	<tr> 
    <td align="center">
    	<p:commandButton name="btnImprimir" type="button" id="btnImprimir" value="Imprimir" onclick="Imprime()"/>&nbsp;&nbsp;&nbsp;
		<p:commandButton name="btnFechar" type="button" id="btnFechar" value=" Fechar " onclick="javascript:window.close();"/>
   	</td>
  </tr>
</table>
<h:form id="frm">
	<!--CABEÇALHO-->
	<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr ><!--CABEÇALHO-->
			<td height="15%">
				<table width="99%" border="0" >
				  <tr ><td colspan="3" width="99%" align="right"><h:graphicImage alt="Pesquisar Superior Imediato" value="../images/img_topo_logo.gif" style="cursor:hand"/></td></tr>
				  <tr >
					<td rowspan="2" width="10%">
						<table class="RelTxt">
							<tr><td>#{imprimirOS.objRsOs.DATA_ATUAL}</td></tr>
							<tr><td>#{imprimirOS.objRsOs.HORA_ATUAL}</td></tr>			
						</table>
					</td>
					<td align="center" class="RelTitulo">SISTEMA DE OCORRÊNCIAS ESPECIAIS</td>
					<td rowspan="2" align="center" width="10%" class="RelTxt"></td>
				  </tr>
				  <tr>    <td rowspan="2" align="center" class="RelSubTitulo">ORDEM DE SERVIÇO Nº #{imprimirOS.strNrSeqOs}</td>  </tr>
				</table>
				<table width="99%" cellspacing="0" cellpadding="0"><tr><td><hr /></td></tr></table>
		
			</td>
		</tr><!--FIM CABECALHO-->
	</table>
	
	<!-- DADOS INICIAIS-->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Dados Iniciais</b>
	        </td>
	    </tr>    
	</table>
	<fieldset class="" style="width:99%">
	<table border="0" width="100%" id="tb">
	    <tr style="height:5px"><td ></td></tr>
	    <tr>
	        <td width="18%" style="">Número da OS:</td>
	        <td width="35%" style=""><b>#{imprimirOS.objRsOs.CODIGO}</b></td>
	    </tr>
	    <tr style="height:5px"><td></td></tr>
	    <tr>    
	        <td width="18%" style="">Status da OS:</td>
	        <td style=""><b>#{imprimirOS.objRsOs.SITUACAO}</b></td>        
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	    <tr>
	        <td width="18%" style="">WorkFlow:</td>
	        <td colspan="3" style=""><b>#{imprimirOS.objRsOs.CD_NOTI} - #{imprimirOS.objRsOs.NM_NOTI}</b></td>
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	    <tr>
	        <td>Criticidade da OS:</td>
	        <td><b>#{imprimirOS.objRsOs.NM_CRITICIDADE}</b></td>
	        <td>Fase Análise da OS:</td>
	        <td><b>#{imprimirOS.objRsOs.NM_FASE_AN}</b></td>
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	</table>
	</fieldset>
	
	<table><tr style="height:3px"><td></td></tr></table>
	
	<!-- DATAS E PERÍODOS -->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Datas e Períodos</b>
	        </td>
	    </tr>
	</table>
	<fieldset class="" style="width:99%">
	<table border="0" width="100%">
	    <tr style="height:5px"><td></td></tr>
	    <tr>
	        <td width="21%">Abertura da OS:</td>
	        <td colspan="3">#{imprimirOS.objRsOs.DT_ABERTURA}</td>
	        <td width="35%">Previsão para encerramento da OS:</td>
	        <td></td>
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	    <tr height="">
	        <td>Data de detecção:</td>
	        <td>#{imprimirOS.objRsOs.DT_DETECCAO}</td>
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	    <h:panelGroup rendered="#{imprimirOS.objRsOs.TIPO_DT_EVENTO == '1'}">
	        <tr height="">
	            <td>Data da Ocorrência:</td>
	            <td>#{imprimirOS.objRsOs.DT_ACOR_FIXA}</td>
	        </tr>
	    </h:panelGroup>
	    <h:panelGroup rendered="#{imprimirOS.objRsOs.TIPO_DT_EVENTO != '1'}">
	        <tr height="">
	            <td>Período da Ocorrência:</td>
	            <td>#{imprimirOS.objRsOs.DT_OCOR_PERI_INIC}&nbsp; até &nbsp;#{imprimirOS.objRsOs.DT_OCOR_PERI_FINA}</td>
	        </tr>    
	    </h:panelGroup>       
	        
	</table>
	</fieldset>
	
	<table><tr style="height:3px"><td></td></tr></table>
	
	<!-- CANAL DE ORIGEM DA OCORRÊNCIA -->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Canal de Origem</b>
	        </td>
	    </tr>
	</table>
	<fieldset class="" style="width:99%">
	<table border="0" width="100%">
	    <tr style="height:5px"><td ></td></tr>
	    <tr>
	        <td width="27%">Canal de Origem da Ocorrência:</td>
	        <td colspan="3"><b>#{imprimirOS.objRsOs.CANAL_ORIGEM}</b></td>
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	    <tr id="trOficio" style="display:none">
	        <td align="center" colspan="4">
	        	<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
			        <p:selectOneRadio id="rdoOficio" name="rdoOficio" value="#{imprimirOS.objRsOs.TP_OFICIO}">
			        
			            <table width="60%">
			                <tr>
			                    <td width="30%"><f:selectItem itemLabel="Central de Soluções - CS" itemValue="C" /></td>
			                    <td width="15%"><f:selectItem itemLabel="SS" itemValue="S" /></td>
			                    <td width="15%"><f:selectItem itemLabel="IN" itemValue="I" /></td>                    
			                </tr>
			            </table> 
			        </p:selectOneRadio>
			    </h:panelGrid>
	        </td>
	    </tr>
	    <tr id="trLynx" style="display:none">
	        <td align="right">Monitoramento Externo:&nbsp;</td>
	        <td width="16%">
	        	<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
			        <p:selectOneRadio id="rdoLynxE" name="rdoLynx" value="#{imprimirOS.objRsOs.TP_LYNX}">
			            <f:selectItem itemValue="E" />
			        </p:selectOneRadio>
			    </h:panelGrid>
	        </td>
	        <td width="22%" align="right">Monitoramento Interno:&nbsp;</td>
	        <td>
	        	<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
			        <p:selectOneRadio id="rdoLynxI" name="rdoLynx" value="#{imprimirOS.objRsOs.TP_LYNX}">
			            <f:selectItem itemValue="I" />
			        </p:selectOneRadio>
			    </h:panelGrid>
			</td>
	    </tr>
	    
	    <tr id="trMonitInst" style="display:none">
	        <td align="right"> E-mail:&nbsp;</td>
	        <td width="16%">
	        	<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
			        <p:selectOneRadio id="rdoMonitInst" name="rdoMonitInst" value="#{imprimirOS.objRsOs.TP_MONITORAMENTO}">
			            <f:selectItem itemValue="E" />
			        </p:selectOneRadio>
			    </h:panelGrid>
			</td>
	        <td align="right">Outros:&nbsp;&nbsp;</td>
	        <td width="35%">
	        	<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
			        <p:selectOneRadio id="Radio18" name="rdoMonitInst" value="#{imprimirOS.objRsOs.TP_MONITORAMENTO}">
			            <f:selectItem itemValue="E" />
			        </p:selectOneRadio>
			    </h:panelGrid>
			</td>
	    </tr>
	    <tr id="trOutrosMeios" style="display:none">
	        <td align="center" colspan="4">
	            <table>
	                <tr>
	                    <td>
					        <p:selectBooleanCheckbox id="chkInte" name="chkInte" value="#{imprimirOS.objRsOs.IN_OMINTE}" itemLabel="Internet" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>
	                    <td>
					        <p:selectBooleanCheckbox id="chkIntra" name="chkIntra" value="#{imprimirOS.objRsOs.IN_OMINTR}" itemLabel="Intranet" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>
	                    <td>
					        <p:selectBooleanCheckbox id="chkEmail" name="chkEmail" value="#{imprimirOS.objRsOs.IN_OMINSTR}" itemLabel="E-mail" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>
	                    <td>
					        <p:selectBooleanCheckbox id="chkTele" name="chkTele" value="#{imprimirOS.objRsOs.IN_OMTELE}" itemLabel="Telefone" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>                  
	                </tr>
	                <tr>
	                    <td>
					        <p:selectBooleanCheckbox id="chkMalote" name="chkMalote" value="#{imprimirOS.objRsOs.IN_OMMALT}" itemLabel="Malote - Caixa Jurídica" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>
	                    <td>
					        <p:selectBooleanCheckbox id="chkDenuncia" name="chkDenuncia" value="#{imprimirOS.objRsOs.IN_OMDENC}" itemLabel="Denúnia Anônima" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>
	                    <td>
					        <p:selectBooleanCheckbox id="chkDepartamento" name="chkDepartamento" value="#{imprimirOS.objRsOs.IN_OMDEPT}" itemLabel="Departamentos" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>
	                    <td>
					        <p:selectBooleanCheckbox id="chkAgencia" name="chkAgencia" value="#{imprimirOS.objRsOs.IN_OMAGEN}" itemLabel="Agências" itemValue="1">
						    </p:selectBooleanCheckbox>
						</td>                  
	                </tr>
	            </table>            
	        </td>        
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	</table>
	</fieldset>
	
	<script type="text/javascript">
        //<![CDATA[
    		HideShowTR('#{imprimirOS.objRsOs.CD_CANAL_ORIGEM}');
	    //]]>
	</script>
	<table><tr style="height:3px"><td ></td></tr></table>
	
	<!-- UNIDADE ENVOLVIDA -->	
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Unidade Envolvida</b>
	        </td>
	    </tr>
	</table>
	<h:panelGroup rendered="#{imprimirOS.renderRsUnidEnvolv}">
		<fieldset class="" style="width:99%">
			<table border="0" width="100%">	
				<tr>
				    <td>
						<table id="tbPV" width="100%" border="0" cellpadding="0" cellspacing="0">    			        		
			        		<h:panelGroup rendered="#{imprimirOS.objRsUnidEnvolv.TP_UOR == '1'}">
			        			<tr height="20" style="background:gray; color:White; font-weight:bold">
									<td width="20%" >Rede</td>
									<td width="40%">Regional</td>
									<td>PV</td>
								</tr>
								<tr>
									<td><h:outputText value="#{imprimirOS.objRsUnidEnvolv.NM_REDE}"/></td>
									<td><h:outputText value="#{imprimirOS.objRsUnidEnvolv.NM_REGI}"/></td>
									<td><b><h:outputText value="#{imprimirOS.objRsUnidEnvolv.strCdUor} - #{imprimirOS.objRsUnidEnvolv.NM_UOR}"/></b></td>
					
								</tr>
			        		</h:panelGroup>
			        		
			        		<h:panelGroup rendered="#{not imprimirOS.objRsUnidEnvolv.TP_UOR == '1'}">
			        			<tr height="20" style="background:gray; color:White; font-weight:bold">
									<td width="20%" >Nome Depto</td>
								</tr>
								<tr>
									<td><h:outputText value="#{imprimirOS.objRsUnidEnvolv.NM_UOR}"/></td>					
								</tr>
			        		</h:panelGroup>			        		
						</table>
				    </td>
				</tr>
			</table>
		</fieldset>
	</h:panelGroup>
	
	<table><tr style="height:3px"><td ></td></tr></table>
	
	<!-- PARTICIPAÇÃO DO PROCESSO -->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Participação no Processo</b>
	        </td>
	    </tr>
	</table>
	<fieldset class="" style="width:99%">
		<table><tr style="height:5px"><td ></td></tr></table>
		<fieldset><legend><strong>Pessoas Relacionadas ao Processo</strong></legend>
			<table border="0" width="100%" cellpadding="0" cellspacing="0" >
			    <tr style="background-color:gray; color:White; height:20px">
			        <td style="width:5%"><b>Tipo</b></td>
			        <td style="width:13%"><b>Matrícula</b></td>
			        <td style="width:40%" ><b>Colaborador</b></td>        
			        <td style="width:10%" ><b>Cargo</b></td>        
			        <td style="width:16%"><b>CPF</b></td>
			        <td colspan=""><b>Participação</b></td>
			    </tr>
			    <h:panelGroup rendered="#{imprimirOS.objRsParticipProcesso.size() gt 0}">
					<ui:repeat value="#{imprimirOS.objRsParticipProcesso}"
						var="partproc" varStatus="status">
							<tr height="20" style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">
								<td><b><h:outputText value="#{partproc.TP_PESSOA}"></h:outputText></b></td>
								<td><h:outputText value="#{partproc.MATRICULA}"></h:outputText></td>
								<td><h:outputText value="#{partproc.NOME}"></h:outputText></td>
								<td><h:outputText value="#{partproc.CARGO}"></h:outputText></td>
								<td><h:outputText value="#{partproc.CPF_CNPJ}"></h:outputText></td>
								<td><h:outputText value="#{partproc.PARTICIPACAO}"></h:outputText></td>
							</tr>						
					</ui:repeat>
				</h:panelGroup>
			</table>
		</fieldset>
		
		<table><tr style="height:5px"><td ></td></tr></table>
		
		<fieldset><legend><strong>Cliente(s) do Banco</strong></legend>
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
			    <tr style="background-color:gray; color:White; height:20px">
			        <td style="width:5%"><b>&nbsp;Tipo</b></td>
			        <td style="width:13%"><b>CPF / CNPJ</b></td>
			        <td style="width:25%"><b>Cliente</b></td>
			        <td style="width:20%"><b>Agência/CC</b></td>
			        <td style="width:20%"><b>Segmentação</b></td>        
			        <td style="width:17"><b>Participação</b></td>        
			    </tr>
			    <h:panelGroup rendered="#{imprimirOS.objRsClienteBanco.size() gt 0}">
					<ui:repeat value="#{imprimirOS.objRsClienteBanco}"
						var="cliban" varStatus="status">
							<tr height="20" style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">
								<td><b><h:outputText value="P#{cliban.TP_PESSOA}"></h:outputText></b></td>
								<td><h:outputText value="#{cliban.CPF_CNPJ}"></h:outputText></td>
								<td><h:outputText value="#{cliban.NOME}"></h:outputText></td>
								<td><h:outputText value="#{cliban.getAgenciaCCorrente()}"></h:outputText></td>
								<td><h:outputText value="#{cliban.SEGMENTO}"></h:outputText></td>								
								<td><h:outputText value="#{cliban.PARTICIPACAO}"></h:outputText></td>
							</tr>						
					</ui:repeat>
				</h:panelGroup> 
			</table>
			
		</fieldset>
	</fieldset>
	
	<table><tr style="height:3px"><td ></td></tr></table>
	
	<!-- EVENTOS -->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Eventos</b>
	        </td>
	    </tr>
	</table>
	<fieldset class="" style="width:99%">
		<table width="100%" cellpadding="0" cellspacing="0">
		    <tr style="background-color:gray; color:White; height:20px">
		        <td><b>&nbsp;Evento</b></td>
		        <td><b>Canal</b></td>
		        <td><b>Operação</b></td>
		        <td><b>Vl. Operaçao</b></td>
		    </tr>
		    
		  	<!--  Se o objeto objRsEventosOs não retornar nenhuma linha
		    <tr>
		        <td colspan="4"></td>
		    </tr>

		    strBgColor = "#FFFFFF"
		    while not objRsEventosOs.EOF
		        if strBgColor = "#FFFFFF" then
		            strBgColor = "#E8E8E8"
		        else
		            strBgColor = "#FFFFFF"
		        end if-->
		    #{imprimirOS.setStrBgColor("#FFFFFF")}

	        <tr style="background:#{imprimirOS.getStrBgColor()}; height:20px">
	            <td>&nbsp;#{imprimirOS.objRsEventosOs.NM_EVENTO}</td>
	            <td>#{imprimirOS.objRsEventosOs.NM_CANAL}</td>
	            <td>#{imprimirOS.objRsEventosOs.NM_OPERACAO}</td>
	            <td>#{imprimirOS.objRsEventosOs.VALOR_OPERACAO}</td>
	        </tr>
		</table>		
		<!--#include file="HY_ImprimirOsEvenInc.asp"-->
	</fieldset>
	
	<table style="PAGE-BREAK-BEFORE:always;"><tr style="height:3px"><td ></td></tr></table>
	
	<!-- RISCO POTENCIAL -->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Valores Envolvidos</b>            
	        </td>
	    </tr>
	</table>
	<fieldset class="" style="width:99%">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		    <tr height="20">
		        <td width="8%">Valor Envolvido:</td>
		        <td width="28%"><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_ENVOLVIDO == null}" value="---" />
		        	<h:outputText rendered="#{imprimirOS.objRsOs.VL_ENVOLVIDO != null}" value="R$#{imprimirOS.objRsOs.VL_ENVOLVIDO}">
		        		<f:convertNumber currencySymbol="R$" type="currency"/>	
		        	</h:outputText></b>
		        </td>
		    </tr>
		    <tr height="20">
		        <td>Valor Recuperado:</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_RECUPERADO== null}" value="---" />
					<h:outputText rendered="#{imprimirOS.objRsOs.VL_RECUPERADO != null}" value="R$#{imprimirOS.objRsOs.VL_RECUPERADO}" >
						<f:convertNumber currencySymbol="R$" type="currency" />	
					</h:outputText></b></td>
		    </tr>
		    <tr height="20">
		        <td>Valor Excluído:</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_EVITADO == null}" value="---" />
					<h:outputText rendered="#{imprimirOS.objRsOs.VL_EVITADO != null}" value="R$#{imprimirOS.objRsOs.VL_EVITADO}">
						<f:convertNumber currencySymbol="R$" type="currency" />	
					</h:outputText></b></td>
		    </tr>
		    <tr height="20">
		        <td>Valor Negado:</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_NEGADO == null}" value="---" />
					<h:outputText rendered="#{imprimirOS.objRsOs.VL_NEGADO != null}" value="R$#{imprimirOS.objRsOs.VL_NEGADO}">
						<f:convertNumber currencySymbol="R$" type="currency" />	
					</h:outputText></b></td>
		    </tr>
		    <tr height="20">
		        <td>Valor Transitório:</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_TRANSITORIO == null}" value="---" />
					<h:outputText rendered="#{imprimirOS.objRsOs.VL_TRANSITORIO != null}" value="R$#{imprimirOS.objRsOs.VL_TRANSITORIO}">
						<f:convertNumber currencySymbol="R$" type="currency" />		
					</h:outputText></b></td>
		    </tr>
		    <tr height="20">
		        <td>Perda Efetiva / Prejuízo:</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_PERDA_EFETIVA == null}" value="---" />
					<h:outputText rendered="#{imprimirOS.objRsOs.VL_PERDA_EFETIVA != null}" value="R$#{imprimirOS.objRsOs.VL_PERDA_EFETIVA}">
						<f:convertNumber currencySymbol="R$" type="currency" />	
					</h:outputText></b></td>
		    </tr>
		    <tr height="20">
		        <td>Valor Evitado:</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_EVITADO_NORMAL == null}" value="---" />
					<h:outputText rendered="#{imprimirOS.objRsOs.VL_EVITADO_NORMAL != null}" value="R$#{imprimirOS.objRsOs.VL_EVITADO_NORMAL}">
						<f:convertNumber currencySymbol="R$" type="currency"/>	
					</h:outputText></b></td>
		    </tr>
		    <tr height="20">
		        <td>Perda Potencial:</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.VL_PREJUIZO == null}" value="---" />
					<h:outputText rendered="#{imprimirOS.objRsOs.VL_PREJUIZO != null}" value="R$#{imprimirOS.objRsOs.VL_PREJUIZO}">
						<f:convertNumber currencySymbol="R$" type="currency" />	
					</h:outputText></b></td>
		    </tr>
		</table>
	
	</fieldset>
	
	<table><tr style="height:3px"><td ></td></tr></table>
	
	<!-- CONTABILIZAÇÃO-->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Dados Contábeis</b>
	        </td>
	    </tr>      
	</table>
	<fieldset class="">
		<table width="100%" border="0" cellpadding="4" cellspacing="1">
		    <tr>
		        <td>Data Lançamento<br />Contabilização:<br />
		        	<p:inputText style="width:100px" id="txtDtLancContab" readonly="true" value="#{imprimirOS.objRsOs.DT_CONTABILIZACAO}" />
		        </td>
		        <td valign="bottom">Conta Contábil:<br />
		        	<p:inputText style="width:200px" id="Text2" readonly="true" value="#{imprimirOS.objRsOs.CONTA_CONTABIL}" />      
		        </td>
		        <td valign="middle">Status Report:&nbsp;I - Inserido</td>
		    </tr>
		    <tr>
		        <td colspan="2">Empresa:<br />
		        	<p:inputText style="width:425px" id="txtEmpresa" readonly="true" value="#{imprimirOS.objRsOs.EMPRESA}" />
		        </td>
		        <td>Código Evento:<br />
		        	<p:inputText style="width:100px" id="Text5" readonly="true" value="#{imprimirOS.objRsOs.CANAL_ORIG_CNTB}" />
				</td>        
		    </tr>
		    <tr>
		        <td colspan="2">Área Complementar:<br />
		        	<p:inputText style="width:425px" id="txtAreaCompl" readonly="true" value="#{imprimirOS.objRsOs.AREA_COMPL}" />
				</td>
		    </tr>
		    <tr>
		        <td colspan="2">Categoria nível 1:<br/>
		        	<p:inputText style="width:425px" id="Text6" readonly="true" value="#{imprimirOS.objRsOs.CATEG_N1}" />
		        </td>
		    </tr>
		    <tr>
		        <td colspan="3">Categoria nível 2:<br/>
		        	<p:inputText style="width:425px" id="Text7" readonly="true" value="#{imprimirOS.objRsOs.CATEG_N2}" />
		        </td>
		    </tr>
		    <tr>
		        <td colspan="3">Categoria nível 3:<br/>
		        	<p:inputText style="width:425px" id="txtCtgoNv3" readonly="true" value="#{imprimirOS.objRsOs.CATEG_N3}" />
		        </td>
		    </tr>
		</table>    
		<table width="100%" border="0" cellpadding="4" cellspacing="1">    
		    <tr>
		        <td width="50%">Linha Negócio - Nível 1:<br />
		        	<p:inputText style="width:90%" id="Text10" readonly="true" value="#{imprimirOS.objRsOs.LINHA_NEGO_N1}" />
		        
		        </td>
		        <td>Linha Negócio - Nível 2:<br />
		        	<p:inputText style="width:90%" id="Text11" readonly="true" value="#{imprimirOS.objRsOs.LINHA_NEGO_N2}" />
		        </td>
		        <td></td>
		    </tr>
		    <tr>
		        <td>Fator de Risco:<br />
		        	<p:inputText style="width:90%" id="txtFatorRisco" readonly="true" value="#{imprimirOS.objRsOs.FATOR_RISCO}" />
		        </td>
		        <td>Tipo Captura:<br />
		        	<p:inputText style="width:200px" id="Text19" readonly="true" value="A - Automática" />
		        </td>
		    </tr>
		</table>    
		<table width="100%" border="0" cellpadding="4" cellspacing="1">      
		    <tr>
		        <td>Centro Contábil UNIORG:<br />
		        	<p:inputText style="width:200px" id="Text20" readonly="true" value="#{imprimirOS.objRsOs.CENTRO_CONTABIL}" />
				</td>
		        <td>Centro Origem UNIORG:<br />
		        	<p:inputText style="width:200px" id="Text21" readonly="true" value="#{imprimirOS.objRsOs.CENTRO_ORIGEM}" />
				</td>
		        <td>Ponto de Venda:<br />
		        	<p:inputText style="width:200px" id="Text31" readonly="true" value="#{imprimirOS.objRsOs.PONTO_VENDA}" />
				</td>
		    </tr>
		</table>
	</fieldset>
	
	<table><tr style="height:3px"><td ></td></tr></table>
	
	<!-- CAUSA DO EVENTO -->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Causa de Evento</b>
	        </td>
	    </tr>
	</table>
	<fieldset class="" style="width:99%">
		<table border="0" width="100%">
		    <tr style="height:5px"><td ></td></tr>
		    <tr>
		        <td colspan="2">
		        	<textarea id="txtCausaEvento" rows="2" cols="20" style="width:100%; height:60px" />
		            <!--input class="" id="txtCausaEvento" type="text" style="width:99%" value=""/-->
		        </td>
		    </tr>
		    <tr style="height:5px"><td ></td></tr>
		</table>
		<script type="text/javascript">
		    //<![CDATA[			
			function fnGeraCausaEvento(){
			    document.getElementById ('txtCausaEvento').value =  
			    document.getElementById ('frm:txtDtLancContab').value + ' - ' + 
			    document.getElementById ('frm:txtEmpresa').value +' ('+ document.getElementById ('frm:txtAreaCompl').value +') - ' +
			    document.getElementById ('frm:txtCtgoNv3').value + ' - ' + document.getElementById ('frm:txtFatorRisco').value;
			    
			}
			fnGeraCausaEvento();
		    //]]>
		</script>
	</fieldset>
	<table><tr style="height:3px"><td ></td></tr></table>
	<table><tr style="height:3px"><td ></td></tr></table>
	
	<!-- EQUIPE ATRIBUÍDA À OS -->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Equipe Atribuída à OS</b>
	        </td>
	    </tr>
	</table>
	<fieldset class="" style="width:99%">
	
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
	    <tr height="20" style="background-color:Gray; color:White">
	        <td style="width:18%">&nbsp;<b>Matrícula</b></td>
	        <td style="width:30%"><b>Nome</b></td>
	        <td style="width:15%"><b>Cargo</b></td>
	        <td style="width:20%"><b>Designação</b></td>
	    </tr>
	    <tr height="1" style="background:white"><td colspan="8"></td></tr>
	    <tr height="1" style="background:gray"><td colspan="8"></td></tr>
	    <tr height="1" style=""><td colspan="8"></td></tr>
	</table>
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
	    <!-- Mensagem se não encontrar nenhum registro no objeto objRsEqpAtrbOs
		<tr height="20"><td align="center"><b>Nenhum recurso atribuído à OS!</b></td></tr>-->
		<!-- Lista todos os registros do objeto objRsEqpAtrbOs
        if strBgColor = "#FFFFFF" then
            strBgColor = "#E8E8E8"
        else
            strBgColor = "#FFFFFF"    
        end if -->   
        <h:panelGroup rendered="#{imprimirOS.objRsEqpAtrbOs.size() le 0}">
        	<tr height="20"><td align="center"><b>Nenhum recurso atribuído à OS!</b></td></tr>
		</h:panelGroup>
		
		<h:panelGroup rendered="#{imprimirOS.objRsEqpAtrbOs.size() gt 0}">
			<ui:repeat value="#{imprimirOS.objRsEqpAtrbOs}"
							var="eqpatr" varStatus="status">
				<tr height="20" style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">
					<td><h:outputText value="#{eqpatr.MATRICULA}"></h:outputText></td>
					<td><b><h:outputText value="#{eqpatr.NOME}"></h:outputText></b></td>
					<td><h:outputText value="#{eqpatr.CARGO}"></h:outputText></td>
					<td><h:outputText value="#{eqpatr.NM_DESIGNACAO}"></h:outputText></td>					
				</tr>				
	        </ui:repeat>
        </h:panelGroup>
	</table>
	</fieldset>
	
	<table style="PAGE-BREAK-BEFORE:always;"><tr style="height:3px"><td ></td></tr></table>
	
	<!-- INFORMAÇÕES GERAIS-->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Informações Gerais</b>
	        </td>
	    </tr>      
	</table>
	<fieldset class="" style="width:99%">
	<table border="0" width="100%">
	    <tr style="height:5px"><td ></td></tr>
	    <tr>
	        <td><b>Texto de Abertura da OS</b><br/><br/>        
	            #{imprimirOS.objRsOs.TX_ABERTURA}
	            <!--textarea id="txtEntrada" style="text-align:left;width:100%;height:130" cols="20" rows="5"><%=objRsOs("TX_ABERTURA").Value %></textarea-->
	        </td>
	    </tr>
	    <tr style="height:5px"><td ></td></tr>
	</table>
	<table border="0" width="100%">
	    <tr style="height:5px"><td ></td></tr>
	    <tr>
	        <td><b>Texto de Encerramento da OS</b><br/><br/>
	            #{imprimirOS.objRsOs.TX_ENCERRAMENTO}
	            <!--textarea id="txtEncerramento" style="text-align:left;width:100%;height:130" cols="20" rows="5"><%=objRsOs("TX_ENCERRAMENTO").Value %></textarea-->
	                           
	        </td>
	    </tr>
	</table>
	
	<table><tr style="height:5px"><td ></td></tr></table>
	<table width="100%" id="tbAnexo" border = "0" cellpadding="0" cellspacing="0">
		<tr style="background-color: gray; color: White; height:20px">
	        <td colspan="8"><b>&nbsp;Arquivos Anexados à OS</b></td>
	    </tr>
	    <tr style="background-color: white; height:1px;"><td colspan="8"></td></tr>
	    <tr style="background-color: gray; height:1px;"><td colspan="8"></td></tr>
	    <tr style="background-color: white; height:1px;"><td colspan="8"></td></tr>
		<!-- Lista todos os registros do objeto objRsCadOSArqAnex
        if strBgColor = "#FFFFFF" then
            strBgColor = "#E8E8E8"
        else
            strBgColor = "#FFFFFF"    
        end if 
		
		strArquivo = Right(objRsCadOSArqAnex("NM_CAMI_ARQU_ANEX").Value,Instr(strReverse(objRsCadOSArqAnex("NM_CAMI_ARQU_ANEX").Value),"/")-1) 
		  
		strCaminho = Left(objRsCadOSArqAnex("NM_CAMI_ARQU_ANEX").Value,Len(objRsCadOSArqAnex("NM_CAMI_ARQU_ANEX").Value) - Instr(strReverse(objRsCadOSArqAnex("NM_CAMI_ARQU_ANEX").Value),"/") + 1)
		%>
		<tr></tr>
		<script>montaLinhas('<%=intReg%>','<%=strCaminho%>','<%=strArquivo%>', '<%=strBgColor%>');</script> -->
	    <h:panelGroup rendered="#{imprimirOS.objRsCadOSArqAnex.size() gt 0}">
			<ui:repeat value="#{imprimirOS.objRsCadOSArqAnex}"
				var="arqanex" varStatus="status">
					<script>montaLinhas("#{status.index}", "#{arqanex.getCaminhoArquivo()}", "#{arqanex.getNomeArquivo()}", "#{(status.index mod 2 eq 0) ? '#FFFFFF' : '#E8E8E8'}");</script>>						
			</ui:repeat>
		</h:panelGroup>		
		
	</table>
	</fieldset>
	
	
	<!-- AÇÕES COMPLEMENTARES JUDICIAIS-->
	<table width="99%" border="0" cellpadding="1" cellspacing="1">
	    <tr style="background-color:red; height:1px"><td></td></tr>
	    <tr style="background-color:red; color:White; height:20px">
	        <td valign="middle">
	            &nbsp;<h:graphicImage align="absmiddle" value="../images/seta_vermelha.gif"/>
	            &nbsp;<b>Ações Complementares Judiciais</b>
	        </td>
	    </tr>      
	</table>
	<fieldset class="" style="width:99%">
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
		    <tr height="20">        
		        <td width="15%">Nº B.O.:</td>
		        <td width="35%">#{imprimirOS.objRsOs.BO}</td>
		        <td width="25%">Existe Processo Jurídico?</td>
		        <td><b><h:outputText rendered="#{imprimirOS.objRsOs.IN_PROC_JURI == '1'}" value="Sim" />
					<h:outputText rendered="#{imprimirOS.objRsOs.IN_PROC_JURI != '1'}" value="Não" /></b></td>
		    </tr>
		    <tr height="20">        
		        <td>Delegacia:</td>
		        <td>#{imprimirOS.objRsOs.DELEGACIA}</td>
		        <td>Forum:</td>
		        <td>#{imprimirOS.objRsOs.NM_FORUM}</td>
		    </tr>
		    <tr height="20">
		        <td>Data Registro:</td>
		        <td>#{imprimirOS.objRsOs.DT_REG_BO}</td>
		    </tr>                           
		</table>             
	</fieldset>
</h:form>

</h:body>
</html>
