<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:head>
			<h:outputStylesheet name="css/hy_style.css" />
			<h:outputStylesheet name="css/hy_calendar.css" />
			<h:outputScript name="javascript/hy_funcoes.js" />
			<h:outputScript name="javascript/formchek.js" />
			<h:outputScript name="javascript/hy_calendario.js" />
			
			<script>
			
				//<![CDATA[
				//parent.rodape.location.replace("HY_BtnGenerico.xhtml?strButton=Salvar/Salvar@Voltar/Voltar");
				
				const txtHdUnload = document.getElementById('frm:txtHdUnload');
				const txtHdCanal = document.getElementById('frm:txtHdCanal');
				const txtHdParamAltCanal = document
						.getElementById('frm:txtHdParamAltCanal');
				const txtHdParamAltRelac = document
						.getElementById('frm:txtHdParamAltCanal');
				const txtHdParamAltCanais = document.getElementById('frm:txtHdParamAltCanais');

				window.onload = function(e) {
					PF('statusDialog').show();
					desmarcarCheckboxs();
				}
				
				function reload() {
					location.reload();
				}

				function desmarcarCheckboxs() {
					arrEventoCanal = document
							.getElementsByName("chkEventoCanal");

					for (i = 0; i < arrEventoCanal.length; i++) {

						var elem = arrEventoCanal[i];

						if (elem.getAttribute("checked") === "false") {
							elem.removeAttribute("checked");
						}
					}
				}

				function Voltar() {
					window.open('HYB_Adm_Ger_Manut.xhtml', '_self', '');
				}

				function ValidaNomesAdd() {
					var arrNomes = new Array();
					var objTxtAdd = document.getElementById('frm:txtAddCanal')

					arrNomes = document.getElementsByName('TxtCanais');

					for (var i = 0; i < arrNomes.length; i++) {
						if (arrNomes[i].value.toUpperCase() == objTxtAdd.value
								.toUpperCase()) {
							return false;
						}
					}

					return true;

				}

				function ValidaNomesSalvar() {
					var arrNomes = new Array();

					arrNomes = document.getElementsByName('TxtCanais');

					for (var i = 0; i < arrNomes.length; i++) {
						for (var j = 0; j < arrNomes.length; j++) {
							if (i != j) {
								if (arrNomes[i].value.toUpperCase() == arrNomes[j].value
										.toUpperCase()) {
									return false;
								}
							}
						}
					}

					return true;
				}

				function Adicionar() {
					var objTxtCanal = document
							.getElementById('frm:txtAddCanal');

					if (objTxtCanal.value == '') {
						alert("Digite o nome do Canal!");
						return;
					}

					if(!ValidaNomesAdd())  {
					    alert('Nome já existente!\nEscolha outro Nome!'); return;
					}

					document.getElementById('frm:txtHdCanal').value = objTxtCanal.value;

					adicionarRemoteCommand();
					if (confirm('Deseja incluir o Canal ' + objTxtCanal.value
							+ '?')) {
						
					} else {
						objTxtCanal.value = '';
						objTxtCanal.focus();
					}
				}

				function Salvar() {
					
				    if(!ValidaNomesSalvar())
				    {
				        alert('Nome já existente!\nAlteração cancelada!');
				        return;
				    }
				    
					var arrCanais = new Array();
					var strParamCanal = '';

					var arrEventoCanal = new Array();
					var strParamEventoCanal = '';
					
					var arrNomes = new Array();
					var strParamEventoCanais = '';

					if (confirm('Deseja salvar todas as alterações?')) {

/* 						arrIdCanais = document
								.getElementsByClassName('jsTxtHdCanais'); */
						arrCanais = document
								.getElementsByName('TxtCanais');

						for (var i = 0; i < arrCanais.length; i++) {
							strParamCanal = strParamCanal
									+ arrCanais[i].id + '/'
									+ arrCanais[i].value;
							if (i != (arrCanais.length - 1)) {
								strParamCanal = strParamCanal + '@';
							}
						}

						arrEventoCanal = document
								.getElementsByName("chkEventoCanal");

						for (i = 0; i < arrEventoCanal.length; i++) {

							strParamEventoCanal = strParamEventoCanal
									+ arrEventoCanal[i].id + '/'
									+ arrEventoCanal[i].value + '/'
									+ arrEventoCanal[i].checked;

							if (i != (arrEventoCanal.length - 1)) {
								strParamEventoCanal = strParamEventoCanal + '@';
							}
						}
						
/* 						arrNomes = document.getElementsByClassName('jsTxtCanais');
						for (var i = 0; i < arrNomes.length; i++) {
							strParamEventoCanais = strParamEventoCanais + '@' + arrNomes[i].value;
						} */

						//console.log("strParamCanal " + strParamCanal);
						//console.log("strParamEventoCanal " + strParamEventoCanal);
						
				    	document.getElementById('frm:txtHdParamAltCanal').value = strParamCanal;
				    	document.getElementById('frm:txtHdParamAltRelac').value = strParamEventoCanal;
						
				    	//console.log("frm:txtHdParamAltCanal: " + document.getElementById('frm:txtHdParamAltCanal').value);
				    	//console.log("frm:txtHdParamAltRelac: " + document.getElementById('frm:txtHdParamAltRelac').value);
				    	
/* 						txtHdParamAltCanal.value = strParamCanal;
						txtHdParamAltRelac.value = strParamEventoCanal; */
						//txtHdParamAltCanais.value = strParamEventoCanais;

						salvarRemoteCommand();

					}
				}

				function Deletar(idCanal, strNomeCanal) {
					txtHdCanal.value = idCanal;

					if (confirm("Deseja excluir o canal " + strNomeCanal + "?")) {
						deletarRemoteCommand();
					}
				}

				//]]>
			</script>

			<style>
				.admGerManutCanaisPanelGrid {
					width: 100%;
					margin: 10px 0;
				}
				
				.admGerManutCanaisPanelGrid td.ui-panelgrid-cell,
					.admGerManutCanaisPanelGrid tr {
					border: 0;
				}
				
				.admGerManutCanaisCheckbox {
					width: 20px;
					height: 20px;
				}
		</style>

		</h:head>

		<h:body styleClass="PanelTitle">

			<ui:include src="loadingStatus.xhtml" />

			<h:form id="frm" name="frm">

				<p:remoteCommand name="onload"
					action="#{admGerManutCanaisBean.montarListaCanal_Lazy}"
					autoRun="true" update="frm:admGerManutCanais" />

				<iframe
					src="titulo.xhtml?strTitulo=&nbsp;&nbsp;Administração - Gerencial - Canais"
					frameborder="0" width="100%" height="27"></iframe>
				<br />
				<table width="100%" border="0"
					style="background-color: Red; color: White;" cellpadding="1"
					cellspacing="1">
					<tr height="25">
						<td>&nbsp;&nbsp; <a href="hyb_adm_ger_manut_eventos.xhtml"
							style="color: White"><b>[ Eventos ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
							[ Canais ]&nbsp;&nbsp;&nbsp;&nbsp; <a
							href="hyb_adm_ger_manut_pcorp.xhtml" style="color: White"><b>[
									Produtos Corporativos ]</b></a>&nbsp;&nbsp;&nbsp;&nbsp; <a
							href="hyb_adm_ger_manut_paux.xhtml" style="color: White"><b>[
									Produtos Auxiliares ]</b></a> &nbsp;&nbsp;
						</td>
					</tr>
				</table>

				<!-- <p:panelGrid styleClass="admGerManutCanaisPanelGrid" columns="1"> -->
				<h:outputLabel for="txtAddCanal"
					value="Descrição do Canal (30 caracteres):" />
				<br />
				<p:inputText id="txtAddCanal"
					value="#{admGerManutCanaisBean.txtAddCanal}" name="txtAddCanal"
					type="text" maxlength="30" />
				<p:commandButton update="@form" type="button" onclick="Adicionar()"
					id="btnAdicionar" value="Adicionar" />
				<br />
				<br />
				<!-- </p:panelGrid> -->

				<p:outputPanel>
					<p:dataTable id="admGerManutCanais" var="rowCanal"
						value="#{admGerManutCanaisBean.objRsCanal}" paginator="true"
						paginatorPosition="bottom"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
						rows="9" styleWidth="100%"
						currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
						emptyMessage="#{admGerManutCanaisBean.emptyMessage}" lazy="true">

						<!-- rowsPerPageTemplate="15,25" -->
						<p:columnGroup type="header">
							<p:row>
								<p:column rowspan="2" width="31%"
									headerText="Descrição do Canal" />
								<p:column
									colspan="#{admGerManutCanaisBean.getObjRsEventoLength()}"
									headerText="Eventos" />
								<p:column rowspan="2" headerText="" width="5%" />
							</p:row>
							<p:row>
								<ui:repeat value="#{admGerManutCanaisBean.objRsEvento}"
									var="rowEvento">
									<p:column headerText="#{rowEvento.NOME}" width="135" />
								</ui:repeat>
							</p:row>
						</p:columnGroup>

						<p:column value="#{admGerManutCanaisBean.objRsCanal}"
							var="rowCanal">
							<input name="TxtCanais" id="#{rowCanal.CODIGO}"
								value="#{rowCanal.NOME}" type="text" style="width: 98%;"
								maxlength="30" onchange="SetUnload()" />
						</p:column>

						<p:columns value="#{admGerManutCanaisBean.objRsEvento}"
							var="rowEvento">
							<p:panelGrid
								rendered="#{admGerManutCanaisBean.isEventoCanalChecked(rowEvento.CODIGO, rowCanal.CODIGO) == 1 ? true : false}">
								<input type="checkbox" class="admGerManutCanaisCheckbox"
									id="#{rowEvento.CODIGO}" name="chkEventoCanal"
									value="#{rowCanal.CODIGO}" checked="true"></input>
							</p:panelGrid>

							<p:panelGrid
								rendered="#{admGerManutCanaisBean.isEventoCanalChecked(rowEvento.CODIGO, rowCanal.CODIGO) == 0 ? true : false}">
								<input type="checkbox" class="admGerManutCanaisCheckbox"
									id="#{rowEvento.CODIGO}" name="chkEventoCanal"
									value="#{rowCanal.CODIGO}"></input>
							</p:panelGrid>
						</p:columns>

						<p:column>
							<p:graphicImage value="../images/btn_excluir_ib.gif" height="15"
								alt="Excluir Evento #{rowCanal.NOME}"
								onclick="Deletar('#{rowCanal.CODIGO}', '#{rowCanal.NOME}')"
								id="canal-dlt-#{rowCanal.CODIGO}" style="cursor: hand"
								align="absmiddle" rendered="#{rowCanal.EXCLUSAO}" />
						</p:column>
						
					</p:dataTable>
				</p:outputPanel>

				<p:inputText id="txtHdCanal" name="txtHdCanal" type="hidden"
					value="#{admGerManutCanaisBean.txtHdCanal}" />
				<p:inputText id="txtHdParamAltCanal" name="txtHdParamAltCanal"
					type="hidden" value="#{admGerManutCanaisBean.txtHdParamAltCanal}" />
				<p:inputText id="txtHdParamAltRelac" name="txtHdParamAltRelac"
					type="hidden" value="#{admGerManutCanaisBean.txtHdParamAltRelac}" />
				<p:inputText id="txtHdParamAltCanais" name="txtHdParamAltCanais"
					type="hidden" value="#{admGerManutCanaisBean.txtHdParamAltRelac}" />

				<p:remoteCommand name="adicionarRemoteCommand"
					actionListener="#{admGerManutCanaisBean.adicionar}" update="frm" />
				<p:remoteCommand name="deletarRemoteCommand"
					actionListener="#{admGerManutCanaisBean.deletar}" update="frm" />
				<p:remoteCommand name="salvarRemoteCommand"
					actionListener="#{admGerManutCanaisBean.salvar}" update="frm" />

				<table width="100%" class="bg-red w-100 align-right">
					<tr height="25">
						<td align="right"><p:commandButton type="button"
								onclick="Salvar()" id="btnSalvar" value="Salvar" /> <p:commandButton
								styleClass="btn-reverse" type="button" onclick="Voltar()"
								id="btnVoltar" value="Voltar" /></td>
					</tr>
				</table>

			</h:form>

		</h:body>
	</ui:define>
</ui:composition>