<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
 
<h:head>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_calendar.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
	<h:outputScript name="javascript/hy_calendario.js" />
	<h:outputScript name="javascript/hy_paginacao.js" />
	
	<script type="text/javascript">
        //<![CDATA[
       	
        function verifyCheckboxes() {
            var count = 0;
            var blnRet = false;
            var strNmFunc = '';
			var arrCheckbox = [];
            
            if (document.getElementsByName("ChkNoti").length > 1) {
                arrCheckbox = document.getElementsByName("ChkNoti");
                for (var i = 0; i < arrCheckbox.length; i++) {
                    intChkNoti = arrCheckbox[i];
                    if (intChkNoti.checked) {
                        if (arrCheckbox[i].value != '') {
                            strNmFunc = strNmFunc + arrCheckbox[i].value + ";";
                            ++count;
                        }
                    }
                }
            } else {
                if (document.getElementById('frm:ChkNoti').checked) {
                    if (document.getElementById('frm:ChkNoti').value != '') {
                        strNmFunc = strNmFunc + document.getElementById('frm:ChkNoti').value
                            + ";";
                        ++count;
                    }
                }
            }

            if (count > 0) {
                blnRet = true

                parent.document.getElementById('frm:txthdNmEmail').value = parent.document.getElementById('frm:txthdNmEmail').value
                    + strNmFunc
                parent.document.getElementById('frm:txtNmEmail').value = parent.document.getElementById('frm:txthdNmEmail').value

            } else {
                alert('Verificar itens!');
            }
            return blnRet;
        }

        function Pesquisar() {
/*             document.forms[0].txthdNmFunc.value = parent.document.forms[0].txtNmFunc.value;
            document.forms[0].action = 'HY_Adm_Workflow_Notificacao_Pesq_Email_IFrame.asp'
            document.forms[0].submit(); */
            
            /* document.getElementById('frm:txthdNmFunc').value = parent.document.getElementById('frm:txtNmFunc').value; */
            
            document.forms[0].action = 'hyb_adm_workflow_notificacao_pesq_email_iframe.xhtml';
            submitForm([{name: 'txthdNmFunc', value: parent.document.getElementById('frm:txtNmFunc').value}]);
        }

        function AdicionarEmail() {
            verifyCheckboxes();
        }

        function Fechar() {
            /*parent.document.forms[0].txthdNmEmail.value = parent.document.forms[0].txthdNmEmail.value
            document.forms[0].action = 'HY_Adm_Workflow_Notificacao_Dest_IFrame.asp?strEmail='
                + parent.document.forms[0].txthdNmEmail.value;
            document.forms[0].target = 'iframeDest';
            document.forms[0].submit();
            window.close(); */
            
         
            
            /*TODO: A página presente no .action do form ainda não havia sido desenvolvida no momento. É necessário alinhamento e integração de ambas. */
/*              parent.document.getElementById('frm:txthdNmEmail').value = parent.document.getElementById('frm:txthdNmEmail').value;
            document.forms[0].action = 'hyb_adm_workflow_notificacao_dest_iframe.xhtml?strEmail='+ parent.document.getElementById('frm:txthdNmEmail').value;
            document.forms[0].target = 'iframeDest';  
            document.forms[0].submit();  */
            
            addDest([{name: 'strDestinatario', value: parent.document.getElementById('frm:txthdNmEmail').value}]);
            window.close(); 
        }
        	
        //]]>
    </script>
    
</h:head>


<h:body class="PanelTitle">

    <h:form id="frm" name="frm" action="" method="post">   

		<p:remoteCommand name="submitForm" process="@this" update="@form" actionListener="#{AdmWorkflowNotificacaoManualBean.formSubmit}"/>

        <table>
            <tr>
                <td colspan="3" align="center">
                    <p:commandButton type="button" id="button0" value="Pesquisar" onclick="Pesquisar()" />
                    <p:commandButton type="button" id="button1" value="Adicionar" onclick="AdicionarEmail()" />
                    <p:commandButton type="button" id="button2" value="Fechar" onclick="Fechar()" />
                </td>
            </tr>
        </table>

		<h:panelGroup rendered="#{!empty AdmWorkflowNotificacaoPesqEmailIframeBean.objRsNotiManual}">
	        <table width="100%" border="0" cellpadding="1" cellspacing="1">
	            <tr style=" background-color:gray; color:White; font-weight:bold">
	                <td width="10%"></td>
	                <td width="40%">Nome do Funcionário</td>
	                <td width="50%">Email</td>
	            </tr>
	        </table>
        </h:panelGroup>

        <div id="div1" style="overflow:auto; width:100%; height:200px;" align="left">
            <table width="100%" border="0" cellpadding="1" cellspacing="1">
                <ui:repeat id="repeatNotiManual" value="#{AdmWorkflowNotificacaoPesqEmailIframeBean.objRsNotiManual}" var="notimanual" varStatus="status">
                    <tr style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">
                        <td width="10%" align="center">
                            <!--<p:selectBooleanCheckbox id="ChkNoti" name="ChkNoti" value="#{notimanual.NM_EMAIL_RECU}"></p:selectBooleanCheckbox>--> 
                            <input type="checkbox" id="ChkNoti" name="ChkNoti" value="#{notimanual.NM_EMAIL_RECU}"></input>
                        </td>

                        <td width="40%">
                            <h:outputText value="#{notimanual.NM_RECU_OCOR_ESPC}" />
                        </td>
                        <td width="50%">
                            <h:outputText value="#{notimanual.NM_EMAIL_RECU}" />
                        </td>
                    </tr>
                </ui:repeat> 

                <h:panelGroup rendered="#{empty AdmWorkflowNotificacaoPesqEmailIframeBean.objRsNotiManual}">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="top" align="center">Nenhum registro encontrado.</td>
                        </tr>
                    </table>
                </h:panelGroup>

            </table>
        </div>

        <p:inputText id="txtHdAction" name="txtHdAction" style="display: none" value="P" />
        <p:inputText id="txthdNmFunc" name="txthdNmFunc" style="display: none" value="" />

    </h:form>
    
<h:form id="frm1" name="frm1">
<p:remoteCommand name="addDest" actionListener="#{AdmWorkflowNotificacaoManualBean.addDestinatario}"/>
</h:form>

</h:body> 
</html> 