<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
>



		<h:head>
			<title>HY - Ocorrências Especiais</title>

			<h:outputStylesheet name="css/hy_style.css" />
		</h:head>

		<h:body>
			<h:form id="form">
				<p:dataTable id="tableControlePenalidade" var="contrlPenal"
					value="#{relOsControlePenalidadeBean.objRsRelat}"
					rowIndexVar="index" emptyMessage="Não existem dados para o período selecionado">

					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="14"
								headerText="Superintendência de Ocorrências Especiais"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="14"
								headerText="Relatório Controle de Penalidades"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="14"
								headerText="Período: #{relOsControlePenalidadeBean.pDtIni} até #{relOsControlePenalidadeBean.pDtFim}"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column headerText="" style="align:center" />
							<p:column headerText="N° OS" style="align:center" />
							<p:column headerText="Evento" style="align:center" />
							<p:column headerText="Participação" style="align:center" />
							<p:column headerText="Tipo Colaborador" style="align:center" />
							<p:column headerText="Cargo" style="align:center" />
							<p:column headerText="Matrícula CPF" style="align:center" />
							<p:column headerText="Penalidade" style="align:center" />
							<p:column headerText="Motivo" style="align:center" />
							<p:column headerText="N° PV/N°" style="align:center" />
							<p:column headerText="Nome PV/Nome Uniorg" style="align:center" />
							<p:column headerText="Rede/VP" style="align:center" />
							<p:column headerText="Data envio RH" style="align:center" />
							<p:column headerText="Data Efetivação RH" style="align:center" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{index + 1}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.os}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.evento}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.participacao}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.tipoColaborador}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.cargo}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.matricula}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.penalidade}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.motivo}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.numPv}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.nmPv}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.nmRede}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.dtEnvioRH}" />
					</p:column>
					<p:column>
						<h:outputText value="#{contrlPenal.dtRetnJuri}" />
					</p:column>

					<f:facet name="footer" style="align: center">
						 #{relOsControlePenalidadeBean.now()}
						Superintêndencia de Ocorrências Especiais
						</f:facet>
				</p:dataTable>

				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<!-- <p:dataExporter type="xls" target="tableControlePenalidade"
						fileName="OCESP_Relatorio" /> -->
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="tableControlePenalidade"
						fileName="OCESP_Relatorio"
						fontName="Calibri" cellFontColor="#000000" cellFontSize="150"
						cellFontStyle="NORMAL" encoding="UTF-8"
						postProcessor="#{relOsControlePenalidadeBean.postProcessExcel}" />
				</h:commandLink>

			</h:form>

			<!-- <p:commandButton value="Voltar" onclick="window.history.back();" /> -->

			<script>
				//<![CDATA[
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
							//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{relOsControlePenalidadeBean.pDtIni}&pDtFim=#{relOsControlePenalidadeBean.pDtFim}','_self');
					},5000); 
				 }
				function Voltar() {
					history.back();
				}

				function Imprimir() {
					window.print();
				}
				function LimparUrl(){
					history.pushState(null, '', '');
				}
				//]]>
			</script>

		</h:body>
</ui:composition>