<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

<!-- 	<ui:define name="content"> -->
<h:head>
	<title></title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<style type="text/css">
.ui-inputfield {
	width: 65px;
	margin-right: 3px;
}
</style>
	<script type="text/javascript">
				//<![CDATA[
					
				parent[0].location.search = "strTitulo=#{cadOsMenuBean.strTitulo} - #{cadOsMenuBean.strNrSeqOs} - Datas"
				parent.PF("statusDialog").hide();
				
				function TiraEsp(campo){
					return campo.trim(); 
				}

				function DataMaior(data1, data2) {
					var arrData1 = new Array();
					var arrData2 = new Array();
					
					var d1 = data1;
					var d2 = data2;
					console.log("data1" , data1);
					console.log("data2" , data2);
					if (d1 != "") {
						
						arrData1 = d1.split("/");
						arrData2 = d2.split("/");
						
						console.log("d1",(arrData1[2] + arrData1[1] + arrData1[0]));
						console.log("d2",(arrData2[2] + arrData2[1] + arrData2[0]));
						console.log((arrData1[2] + arrData1[1] + arrData1[0]) > (arrData2[2] + arrData2[1] + arrData2[0]));
						if ( (arrData1[2] + arrData1[1] + arrData1[0]) > (arrData2[2] + arrData2[1] + arrData2[0]) ) {

							return true;
						}

					}

				}

				function Salvar() {
					var data_atual = new Date();
					var data_dia;
					var ano;
					var mes;
					var dia;
					var strDtDeteccao = document
							.getElementById('form:txtDataDeteccao_input').value;
					var strDtFixa = document
							.getElementById('form:txtDataFixa_input').value;
					var strDtIni = document
							.getElementById('form:txtDtIni_input').value;
					var strDtFim = document
							.getElementById('form:txtDtFin_input').value;

					ano = data_atual.getFullYear();
					mes = eval(data_atual.getMonth()) + 1;
					dia = data_atual.getDate();

					if (mes.toString().length == 1) {
						mes = '0' + mes;
					}

					if (dia.toString().length == 1) {
						dia = '0' + dia;
					}
					console.log("mes" + mes);

					data_dia = dia + '/' + mes + '/' + ano;
					console.log("data_dia "+ data_dia);

					if (strDtDeteccao.length == 0) {
						alert('Selecione a data de detecção!');
						return;
					}

					if ((!document.getElementById('form:rdoData:0').checked)
							&& (!document.getElementById('form:rdoData:1').checked)) {
						alert('Selecione um tipo de data de ocorrência Fixa/Período!');
						return false;
					}

					if (document.getElementById('form:rdoData:0').checked) {
						if (strDtFixa.length == 0) {
							alert('Selecione a data fixa de ocorrência!');
							return;
						}
					}

					if (document.getElementById('form:rdoData:1').checked) {
						if (strDtIni.length == 0) {
							alert('Selecione a data inicial do período!');
							return;
						}
						if (strDtFim.length == 0) {
							alert('Selecione a data final do período!');
							return;
						}
					}

					if (document.getElementById('form:txtDataDeteccao_input').value != '') {

						if (document.getElementById('form:txtDataAbertura').value != '') {

							if (DataMaior(
									document
											.getElementById('form:txtDataDeteccao_input').value,
									document
											.getElementById('form:txtDataAbertura').value) == true) {
								alert("A data de detecção deve ser menor ou igual à data abertura da OS!");
								document
										.getElementById('form:txtDataDeteccao_input').value = '';
								document.getElementById(
										'form:txtDataDeteccao_input').focus();
								return;
							}

						} else {

							if (DataMaior(
									document
											.getElementById('form:txtDataDeteccao_input').value,
									data_dia) == true) {
								alert("A data de detecção deve ser menor ou igual à data atual!");
								document
										.getElementById('form:txtDataDeteccao_input').value = '';
								document
										.getElementById('form:txtDataDeteccao_input').value
										.focus();
								return;
							}
						}

					}

					if (TiraEsp(document
							.getElementById('form:txtDataFixa_input').value) != '') {

						console.log("Validacao data menor");
						console.log(DataMaior(
								document
								.getElementById('form:txtDataFixa_input').value,
						data_dia));
						
						console.log("Valores:" ,document
								.getElementById('form:txtDataFixa_input').value, 
								data_dia);
						
						console.log("DATA MAIOR" + DataMaior(
								document
								.getElementById('form:txtDataFixa_input').value,
						data_dia) == true);
						
						if (DataMaior(
								document
										.getElementById('form:txtDataFixa_input').value,
								data_dia) == true) {
							alert("A data fixa da ocorrência deve ser menor ou igual à data atual!");
							document.getElementById('form:txtDataFixa_input').value = '';
							document.getElementById('form:txtDataFixa_input').value
									.focus();
							return;
						}

					}

					if (TiraEsp(document.getElementById('form:txtDtIni_input').value) != '') {
						if (DataMaior(document
								.getElementById('form:txtDtIni_input').value,
								data_dia) == true) {
							alert("Data inválida!\nO período da ocorrência deve ser menor ou igual à data atual!");
							document.getElementById('form:txtDtIni_input').value = '';
							document.getElementById('form:txtDtIni_input').value
									.focus();
							return;
						}

					}

					if (TiraEsp(document.getElementById('form:txtDtFin_input').value) != '') {
						if (DataMaior(document
								.getElementById('form:txtDtFin_input').value,
								data_dia) == true) {
							alert("Data inválida!\nO período da ocorrência deve ser menor ou igual à data atual!");
							document.getElementById('form:txtDtFin_input').value = '';
							document.getElementById('form:txtDtFin_input').value
									.focus();
							return;
						}

					}

					salvarDataRemoteCommand([]);

				}

				function LimpaData(objRdo) {
					if (objRdo.value == 1) {
						document.getElementById('form:txtDataFixa_input').disabled = false;
						document.getElementById('form:txtDataFixa').lastChild.disabled = false;
						document.getElementById('form:txtDtIni_input').disabled = true;
						document.getElementById('form:txtDtFin_input').disabled = true;
						document.getElementById('form:txtDtIni').lastChild.disabled = true;
						document.getElementById('form:txtDtFin').lastChild.disabled = true;
						document.getElementById('form:txtDtIni_input').value = '';
						document.getElementById('form:txtDtFin_input').value = '';
						limpaDataBean([{name: "tipo", value: objRdo.value}]);
						
					} else if (objRdo.value == 2) {
						document.getElementById('form:txtDataFixa_input').disabled = true;
						document.getElementById('form:txtDataFixa').lastChild.disabled = true;
						document.getElementById('form:txtDtIni_input').disabled = false;
						document.getElementById('form:txtDtFin_input').disabled = false;
						document.getElementById('form:txtDtIni').lastChild.disabled = false;
						document.getElementById('form:txtDtFin').lastChild.disabled = false;
						document.getElementById('form:txtDataFixa_input').value = '';
						limpaDataBean([{name: "tipo", value: objRdo.value}]);
					}
				}

				function MascararData(obj) {
					if (obj.value.length == 2) {
						obj.value += '/';
					}
					if (obj.value.length == 5) {
						obj.value += '/';
					}
				}

				function ValidaData(obj) {
					
					if (obj.value != '') {

						if (!isDateString(obj.value)) {
							alert('Data inválida!');
							obj.value = '';
							obj.focus();
							return;
						}
					}
				}
				
				function ValidaDataOcorrencia(obj, verifica) {
				
 					var arrDtDeteccao = new Array();
					var arrDtFixa = new Array();
					var arrDtIni = new Array();
					var arrDtFin = new Array();

					if (document.getElementById('form:txtDataDeteccao_input').value == '')
						return;

					arrDtDeteccao = document
							.getElementById('form:txtDataDeteccao_input').value
							.split('/');
					if (document.getElementById('form:rdoData:0').checked == true) {
						if (document.getElementById('form:txtDataFixa_input').value == '')
							return;

						arrDtFixa = document
								.getElementById('form:txtDataFixa_input').value
								.split('/');

						console.log(arrDtFixa , "arrDtFixa");
						console.log(arrDtDeteccao , "arrDtDeteccao");
						
						console.log((parseInt(arrDtFixa[2] + arrDtFixa[1]
						+ arrDtFixa[0])));
						console.log((parseInt(arrDtDeteccao[2]
						+ arrDtDeteccao[1] + arrDtDeteccao[0])));
						
						console.log("result: " + (parseInt(arrDtFixa[2] + arrDtFixa[1]
						+ arrDtFixa[0])) > (parseInt(arrDtDeteccao[2]
						+ arrDtDeteccao[1] + arrDtDeteccao[0])));
						
						
						if ((parseInt(arrDtFixa[2] + arrDtFixa[1]
								+ arrDtFixa[0])) > (parseInt(arrDtDeteccao[2]
								+ arrDtDeteccao[1] + arrDtDeteccao[0]))) {
							alert('Data inválida!\nA data fixa da ocorrência deve ser menor ou igual à data de detecção!');
							//obj.value = '';
							(verifica == 1 ? document.getElementById(obj).value = '' : obj.value = '');
							//obj.select();
							//obj.focus();
							(verifica == 1 ? document.getElementById(obj).focus() : obj.focus());
							return false;
						} // if valida
					} // id data fixa

					if (document.getElementById('form:rdoData:1').checked == true) {
						if (obj.id == 'form:txtDtIni_input') {
							if (document.getElementById('form:txtDtIni_input').value == '')
								return;

							arrDtIni = document
									.getElementById('form:txtDtIni_input').value
									.split('/');

							if ((parseInt(arrDtIni[2] + arrDtIni[1]
									+ arrDtIni[0])) > (parseInt(arrDtDeteccao[2]
									+ arrDtDeteccao[1] + arrDtDeteccao[0]))) {
								alert('Data inválida!\nO período da ocorrência deve ser menor ou igual à data de detecção!');
								//obj.value = '';
								(verifica == 1 ? document.getElementById(obj).value = '' : obj.value = '');
								//obj.select();
								//obj.focus();
								(verifica == 1 ? document.getElementById(obj).focus() : obj.focus());
								return false;
							} // if valida
						} // if data inicial 

						if (obj.id == 'form:txtDtFin_input') {
							if (document.getElementById('form:txtDtFin_input').value == '')
								return;

							arrDtFin = document
									.getElementById('form:txtDtFin_input').value
									.split('/');

							if ((parseInt(arrDtFin[2] + arrDtFin[1]
									+ arrDtFin[0])) > (parseInt(arrDtDeteccao[2]
									+ arrDtDeteccao[1] + arrDtDeteccao[0]))) {
								alert('Data inválida!\nO período da ocorrência deve ser menor ou igual à data de detecção!');
								//obj.value = '';
								(verifica == 1 ? document.getElementById(obj).value = '' : obj.value = '');
								//obj.select();
								//obj.focus();
								(verifica == 1 ? document.getElementById(obj).focus() : obj.focus());
								return false;
							} // if valida

						} // if data final

						if (obj.id == 'form:txtDataDeteccao_input') {
							arrDtFin = document
									.getElementById('form:txtDtFin_input').value
									.split('/');
							if (parseInt(arrDtFin[2] + arrDtFin[1]
									+ arrDtFin[0]) != 'NaN')
								if ((parseInt(arrDtFin[2] + arrDtFin[1]
										+ arrDtFin[0])) > (parseInt(arrDtDeteccao[2]
										+ arrDtDeteccao[1] + arrDtDeteccao[0]))) {
									alert('Data inválida!\nO período da ocorência deve ser menor ou igual à data de detecção!');
									//obj.value = '';
									(verifica == 1 ? document.getElementById(obj).value = '' : obj.value = '');
									//obj.select();
									//obj.focus();
									(verifica == 1 ? document.getElementById(obj).focus() : obj.focus());
									return false;
								} // if valida

							arrDtIni = document
									.getElementById('form:txtDtIni_input').value
									.split('/');
							if (parseInt(arrDtIni[2] + arrDtIni[1]
									+ arrDtIni[0]) != 'NaN')
								if ((parseInt(arrDtIni[2] + arrDtIni[1]
										+ arrDtIni[0])) > (parseInt(arrDtDeteccao[2]
										+ arrDtDeteccao[1] + arrDtDeteccao[0]))) {
									alert('Data inválida!\nO período da ocorrência deve ser menor ou igual à data de detecção!');
									//obj.value = '';
									(verifica == 1 ? document.getElementById(obj).value = '' : obj.value = '');
									//obj.select();
									//obj.focus();
									(verifica == 1 ? document.getElementById(obj).focus() : obj.focus());
									return false;
								} // if valida

						} // if data final

					} // if data periodo 

				}
				
				function DesabilitaData(strTpEvento){
					console.log("DesabilitaData(strTpEvento)", strTpEvento);
					
					
 					if (strTpEvento == 1) {
						document.getElementById('form:txtDataFixa_input').disabled = false;
						document.getElementById('form:txtDataFixa').lastChild.disabled = false;
						document.getElementById('form:txtDtIni_input').disabled = true;
						document.getElementById('form:txtDtFin_input').disabled = true;
						if (document.getElementById('form:txtDtFin_input').disabled == true) {
							document.getElementById('form:txtDtIni').lastChild.disabled = true;
							document.getElementById('form:txtDtFin').lastChild.disabled = true;
						}

					} else if (strTpEvento == 2) {
						document.getElementById('form:txtDataFixa_input').disabled = true;
						document.getElementById('form:txtDataFixa').lastChild.disabled = true;
						document.getElementById('form:txtDtIni_input').disabled = false;
						document.getElementById('form:txtDtFin_input').disabled = false;
						document.getElementById('form:txtDtIni').lastChild.disabled = false;
						document.getElementById('form:txtDtFin').lastChild.disabled = false;

					} else {
						document.getElementById('form:txtDtIni_input').disabled = true;
						document.getElementById('form:txtDtFin_input').disabled = true;
						document.getElementById('form:txtDataFixa_input').disabled = true;
						document.getElementById('form:txtDtIni').lastChild.disabled = true;
						document.getElementById('form:txtDtFin').lastChild.disabled = true;
						document.getElementById('form:txtDataFixa').lastChild.disabled = true;
					}
				}
				window.onload = function() {
					Resize();
				}
				function Resize() {
					//window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight + 150;
					window.parent.document.all['ifrmNovaOs'].height = 417;
				}
				//]]>
			</script>

</h:head>
<h:body class="PanelTitle">
	<h:form id="form">
		<table border="0" width="100%">
			<tr>
				<td width="24%">Data de abertura da OS:</td>
				<td width="22%"><p:inputText styleClass="txtReadyOnly"
						id="txtDataAbertura" name="txtDataAbertura"
						value="#{cadOsDatasBean.strAbertura}" maxlength="10"
						style="width:65px; text-align:right" readonly="true" disabled="#{cadOsDatasBean.desabilitarCampos}"></p:inputText></td>
				<td width="22%"></td>
				<td width="33%">Data prevista para encerramento da OS:</td>
				<td><p:inputText styleClass="txtReadyOnly"
						id="txtDtEncerramento" name="txtDtEncerramento"
						value="#{cadOsDatasBean.strEncerramento}" maxlength="10"
						style="width:65px;text-align:right" readonly="true" disabled="#{cadOsDatasBean.desabilitarCampos}"></p:inputText></td>
			</tr>
			<tr height="20px">
				<td colspan="5"></td>
			</tr>
			<tr>
				<td>Data de detecção:</td>
				<td><p:calendar id="txtDataDeteccao" name="txtDataDeteccao" maxlength="10" onkeydown="MascararData(this)"
						value="#{cadOsDatasBean.strDeteccao}" showOn="button"
						pattern="dd/MM/yyyy" locale="pt_BR" onblur="ValidaData(this)"
						onchange="ValidaDataOcorrencia(this, 0)" disabled="#{cadOsDatasBean.desabilitarCampos}">
						<p:ajax event="dateSelect"
							listener="#{cadOsDatasBean.validaDataOcor}" />
					</p:calendar></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr height="10px">
				<td colspan="5"></td>
			</tr>
			<tr>
				<td colspan="5">Data da Ocorrência:</td>
			</tr>
			<tr>
				<td rowspan="2"><h:panelGrid columns="2">
						<p:selectOneRadio id="rdoData" name="rdoData"
							onchange="LimpaData(this)"
							value="#{cadOsDatasBean.strTipoDtEvento}" layout="grid"
							columns="1" disabled="#{cadOsDatasBean.desabilitarCampos}">
							<f:selectItem itemLabel="Data Fixa:" itemValue="1" />
							<f:selectItem itemLabel="Período:" itemValue="2" />
						</p:selectOneRadio>
					</h:panelGrid></td>
				<td><p:calendar id="txtDataFixa" name="txtDataFixa" maxlength="10" onkeydown="MascararData(this)"
						value="#{cadOsDatasBean.strFixa}" showOn="button"
						pattern="dd/MM/yyyy" locale="pt_BR" onblur="ValidaData(this)"
						onchange="ValidaDataOcorrencia(this, 0)" disabled="#{cadOsDatasBean.desabilitarCampos}">
						<p:ajax event="dateSelect"
							listener="#{cadOsDatasBean.validaDataOcor}" />
					</p:calendar></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><p:calendar id="txtDtIni" name="txtDtIni" maxlength="10" onkeydown="MascararData(this)"
						value="#{cadOsDatasBean.strPeriodoIni}" showOn="button"
						pattern="dd/MM/yyyy" locale="pt_BR" onblur="ValidaData(this)"
						onchange="ValidaDataOcorrencia(this, 0)" disabled="#{cadOsDatasBean.desabilitarCampos}">
						<p:ajax event="dateSelect"
							listener="#{cadOsDatasBean.validaDataOcor}" />
					</p:calendar> &#160;até&#160;</td>
				<td><p:calendar id="txtDtFin" name="txtDtFin" maxlength="10" onkeydown="MascararData(this)"
						value="#{cadOsDatasBean.strPeriodoFim}" showOn="button"
						pattern="dd/MM/yyyy" locale="pt_BR" onblur="ValidaData(this)"
						onchange="ValidaDataOcorrencia(this, 0)" disabled="#{cadOsDatasBean.desabilitarCampos}">
						<p:ajax event="dateSelect"
							listener="#{cadOsDatasBean.validaDataOcor}" />
					</p:calendar></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<tr>
			<td colspan="5"></td>
		</tr>
		<p:row rendered="#{!cadosDadosIniciaisBean.desabilitarCampos}">
		<div class="row-buttons">
			<p:remoteCommand name="salvarDataRemoteCommand"
				update="@form" actionListener="#{cadOsDatasBean.salvarData}" />
			<p:commandButton value="Salvar" onclick="Salvar()" type="button"
				id="salvar"></p:commandButton>
				
			<p:remoteCommand name="limpaDataBean" action="#{cadOsDatasBean.limpaDataBean}"></p:remoteCommand>
		</div>
		</p:row>
	</h:form>
</h:body>

<!-- 		</ui:define> -->
</html>