<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
		<h:head>
			<title>HYB - Ocorrências Especiais</title>
			<script>
				//<![CDATA[
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
						//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{relOsRecuperacaoFraudeBean.strDtIni}&pDtFim=#{relOsRecuperacaoFraudeBean.strDtFim}','_self');
					},5000); 
				 }
				function LimparUrl(){
					history.pushState(null, '', '');
				}
				function Voltar() {
					history.back();
				}

				function Imprimir() {
					window.print();
				}
				//]]>
			</script>
		</h:head>
		<h:body>
			<h:form id="form"> 

				<p:dataTable id="tableRecuperacaoFraude" var="obj"
					value="#{relOsRecuperacaoFraudeBean.objRsRelatMes}"
					rowIndexVar="index"
					emptyMessage="Não existem dados para o período selecionado">

					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="7"
								headerText="Superintendência de Ocorrências Especiais"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="7" headerText="Relatório Recuperação Fraudes"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="4"
								headerText="Período: #{relOsRecuperacaoFraudeBean.strDtIni} até #{relOsRecuperacaoFraudeBean.strDtFim}"
								style="align:center" />
							<p:column colspan="3"
								headerText="Área: #{relOsRecuperacaoFraudeBean.strArea}"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="7" headerText="Recuperação do Mês"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column headerText="Período/Canal" style="align:center"
								rowspan="2" />
							<p:column headerText="Fraudes Eletrônicas" style="align:center"
								colspan="4" />
							<p:column headerText="Fraudes Eletrônicas" style="align:center" />
							<p:column headerText="Total" style="align:center" rowspan="2" />

						</p:row>
						<p:row>
							<p:column headerText="Cartão Débito" style="align:center" />
							<p:column headerText="Cartão Crédito" style="align:center" />
							<p:column headerText="Internet" style="align:center" />
							<p:column headerText="Superlinha" style="align:center" />
							<p:column headerText="Conta Bancária" style="align:center" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{obj.MES_ANO}" style="align:left"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CARTAO_DEBITO_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CARTAO_CREDITO_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.INTERNET_BANKING_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.SUPERLINHA_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CONTA_BANCARIA_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.TOTAL_MES_FORMATADO}" style="align:right"/>
					</p:column>
				</p:dataTable>

				<p:dataTable id="tableRecuperacaoFraudeMes" var="obj"
					value="#{relOsRecuperacaoFraudeBean.objRsRelat}"
					rowIndexVar="index"
					emptyMessage="Não existem dados para o período selecionado">

					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="7" headerText="Recuperação Relativo à Outros Períodos"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column headerText="Período/Canal" style="align:center"
								rowspan="2" />
							<p:column headerText="Fraudes Eletrônicas" style="align:center"
								colspan="4" />
							<p:column headerText="Fraudes Eletrônicas" style="align:center" />
							<p:column headerText="Total" style="align:center" rowspan="2" />

						</p:row>
						<p:row>
							<p:column headerText="Cartão Débito" style="align:center" />
							<p:column headerText="Cartão Crédito" style="align:center" />
							<p:column headerText="Internet" style="align:center" />
							<p:column headerText="Superlinha" style="align:center" />
							<p:column headerText="Conta Bancária" style="align:center" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{obj.MES_ANO}" style="align:left"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CARTAO_DEBITO_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CARTAO_CREDITO_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.INTERNET_BANKING_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.SUPERLINHA_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CONTA_BANCARIA_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.TOTAL_MES_FORMATADO}" style="align:right"/>
					</p:column>
				</p:dataTable>

				<p:dataTable id="tableRecuperacaoFraudeAcum" var="obj"
					value="#{relOsRecuperacaoFraudeBean.objRsRelatAcum}"
					rowIndexVar="index"
					emptyMessage="Não existem dados para o período selecionado">

					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="7" headerText="Recuperação Total - Acumulado"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column headerText="Período/Canal" style="align:center"
								rowspan="2" />
							<p:column headerText="Fraudes Eletrônicas" style="align:center"
								colspan="4" />
							<p:column headerText="Fraudes Eletrônicas" style="align:center" />
							<p:column headerText="Total" style="align:center" rowspan="2" />

						</p:row>
						<p:row>
							<p:column headerText="Cartão Débito" style="align:center" />
							<p:column headerText="Cartão Crédito" style="align:center" />
							<p:column headerText="Internet" style="align:center" />
							<p:column headerText="Superlinha" style="align:center" />
							<p:column headerText="Conta Bancária" style="align:center" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{obj.MES_ANO}" style="align:left"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CARTAO_DEBITO_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CARTAO_CREDITO_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.INTERNET_BANKING_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.SUPERLINHA_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.CONTA_BANCARIA_FORMATADO}" style="align:right"/>
					</p:column>
					<p:column>
						<h:outputText value="#{obj.TOTAL_MES_FORMATADO}" style="align:right"/>
					</p:column>
				</p:dataTable>

				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<!-- <p:dataExporter type="xls" target="tableControlePenalidade"
						fileName="OCESP_Relatorio" /> -->
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="tableRecuperacaoFraude,tableRecuperacaoFraudeMes,tableRecuperacaoFraudeAcum"
						fileName="OCESP_Relatorio" datasetPadding="2"
						fontName="Calibri" cellFontColor="#000000" cellFontSize="150"
						cellFontStyle="NORMAL" encoding="UTF-8"
						postProcessor="#{relOsRecuperacaoFraudeBean.postProcessExcel}" /> <!--  -->
				</h:commandLink>

			</h:form>
		</h:body>

</ui:composition>