<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_calendar.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
	<h:outputScript name="javascript/hy_calendario.js" />
	<h:outputScript name="javascript/formchek.js" />
	
	<script type="text/javascript">
        //<![CDATA[
			var objPai;
			var objValue;
			
/* 			parent.parent.titulo.location.href = 'Titulo.asp?strTitulo="<%=strTitulo%> - <%=strNrSequOS%> - Dados Contábeis"';
			parent.parent.rodape.location.replace("HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar"); */
			
			function onload(){
			    fnCarregaPagina();  // bean 
			    Resize();    
			
			}
			
			function Resize(){
				window.parent.document.all['ifrmNovaOs'].height=417;	
			}
			
			function fnCarregaPagina(){
			
				//Parte de obter valores e atribuir aos combos migrada para o bean
				
			/*     document.getElementById ('txtDtLancContab').value = '<%=strDtLancContab%>';
			
			    //--Conta Contabil
			    if('<%=strCntaContab%>'!=''){
			        SelectIndex('cboCtaContabil', '<%=strCntaContab%>');
			    }    
			
			    //--Empresa / Area Complementar
			    if('<%=strEmpr%>'!=''){
			        objValue = '<%=strEmpr%>';
			        fnCarregaCombo('cboEmpresa',true);
			        SelectIndex('cboEmpresa', objValue);
			        SelectIndex('cboAreaComp', '<%=strAreaComp%>');
			    }
			
			    
			    //--Categoria Contabil 1,2,3
			    if('<%=strCatgContab3%>'!=''){
			        SelectIndex('cboCatgNv3', '<%=strCatgContab3%>');                
			        fnCarregaCombo('cboCatgNv3',true);
					
			    }            
			    
			    //--Linha Negócio
			    if('<%=strLinhNego1%>'!=''){
			        objValue = '<%=strLinhNego1%>';
			        fnCarregaCombo('cboLinhaNego1',true);
			        SelectIndex('cboLinhaNego1', objValue);
			        SelectIndex('cboLinhaNego2', '<%=strLinhNego2%>');
			    }
			    
			    //--Fator Risco
			    if('<%=strFatRisc%>'!=''){
			        SelectIndex('cboFatorRisco', '<%=strFatRisc%>');
			    }            
			    
			    //--Tipo captura
			    if('<%=strTpCaptura%>'!=''){
			        SelectIndex('cboTpCaptura', '<%=strTpCaptura%>');        
			    }            
			    
			    //--Tipo captura
			    if('<%=strTpMani%>'!=''){
			        SelectIndex('cboTpMani', '<%=strTpMani%>');        
			    }                
			    
			    document.getElementById ('txtCtrCntbOUR').value = '<%=strCtrContbOUR%>';
			    document.getElementById ('txtCtrOrigOUR').value = '<%=strCtrOrigOUR%>';
			    document.getElementById ('txtPTVD').value = '<%=strPTVD%>'; */
			    
			    
			    if (document.getElementById('frmDadosContab:cboTpMani_input').value != 2){
			        setElementVisibility(document.getElementById("tbOSRel"), false, false);
			    } else {
			        setElementVisibility(document.getElementById("tbOSRel"), true);
			    }    
			}
			
			function SelectIndex(objName, objValue){
			    for(var i=0;i<= document.getElementById (objName).length;i++){
				    document.getElementById (objName).selectedIndex =i;
				    if(document.getElementById (objName).value==objValue){
					    document.getElementById (objName).selectedIndex = i;
					    break; 
				    }   
			    }    
			}
			
			function fnCarregaCombo(aStrIdObj, IsFunction){
			    rcCarregaCombo([{name: "aStrIdObj", value: aStrIdObj}, {name: "IsFunction", value: IsFunction}]);
			    /* if (aStrIdObj=='frmDadosContab:cboCatgNv3')
			        objPai = document.getElementById(aStrIdObj).item(document.getElementById(aStrIdObj).selectedIndex).getAttribute ('nvpai');
			    else
			        objPai = 0;
			    
			    if (!IsFunction){
			       objValue = document.getElementById (aStrIdObj).value;    
			    }
			
			    xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
			    xmlHTTP.Open('POST', 'HY_CadOs_Dados_Contabeis_exe.asp', false);
			    strDados =  '<root>' + 
			                '<NmObj>'+ aStrIdObj +'</NmObj>' +
			                '<VlCbo>'+ objValue +'</VlCbo>' +
			                '<VlCboPai>'+ objPai +'</VlCboPai>' +
			                '</root>';
			
			    xmlHTTP.Send(strDados);
			    
			    //Pega o retorno da página asp
			    sTabela = xmlHTTP.responseText;     
			
			    if(sTabela.toUpperCase().indexOf('XHY')!=-1){
			        location.href='HY_Erro.asp?strErro=' + UrlEncode(sTabela);
			        return;        
			    }else{
				    switch(aStrIdObj){
					    case 'cboEmpresa':
						    dvAreaComplementar.innerHTML = sTabela;
						    return;
					    case 'cboCatgNv3':
					        var strReturn = sTabela.split("@");
					        divCatgNv1.innerHTML = strReturn[1];
						    divCatgNv2.innerHTML = strReturn[0];
						    return;	
			            case 'cboLinhaNego1':
			                divLinhaNego2.innerHTML = sTabela;
			                return;	
				    }    
			    } */
			}
			
			function Salvar(){
			
			    var strNrOrdeServRela;
			    
			    if (document.getElementById("cboTpMani").value == 2){
			        strNrOrdeServRela = document.getElementById("txtOSRela").value;
			    } else {
			        strNrOrdeServRela = '';
			    }
			    
			    if (fnVerificaCampos()){
			    
			        xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
			        xmlHTTP.Open('POST', 'HY_CadOs_Dados_Contabeis_exe.asp', false);
			        strDados =  '<root>' + 
			                    '<NmObj>UPD</NmObj>' +
			                    '<VlCbo></VlCbo>' +
			                    '<VlCboPai></VlCboPai>' +
			                    '<strNrOS>'+'<%=strNrSequOS%>'+'</strNrOS>' +
			                    '<DtLanc>'     + document.getElementById ("txtDtLancContab").value +'</DtLanc>'      +
			                    '<CtaContb>'   + document.getElementById ("cboCtaContabil").value  +'</CtaContb>'    +
			                    '<Empr>'       + document.getElementById ("cboEmpresa").value      +'</Empr>'        +
			                    '<AreaComp>'   + document.getElementById ("cboAreaComp").value     +'</AreaComp>'    +
			                    '<CatgContab1>'+ document.getElementById ("cboCatgNv1").value      +'</CatgContab1>' +
			                    '<CatgContab2>'+ document.getElementById ("cboCatgNv2").value      +'</CatgContab2>' +
			                    '<CatgContab3>'+ document.getElementById ("cboCatgNv3").value      +'</CatgContab3>' +
			                    '<LinhaNego1>' + document.getElementById ("cboLinhaNego1").value   +'</LinhaNego1>'  +
			                    '<LinhaNego2>' + document.getElementById ("cboLinhaNego2").value   +'</LinhaNego2>'  +
			                    '<FatRisco>'   + document.getElementById ("cboFatorRisco").value   +'</FatRisco>'    +
			                    '<TpCaptura>'  + document.getElementById ("cboTpCaptura").value    +'</TpCaptura>'   +
			                    '<CausaEvento>'+ document.getElementById ("txtCausaEvento").value  +'</CausaEvento>' +
			                    '<TpMani>'     + document.getElementById ("cboTpMani").value       +'</TpMani>'      +
			                    '<OSRela>'     + strNrOrdeServRela                                 +'</OSRela>'      +
			                    '</root>';	
			   
			        xmlHTTP.Send(strDados);
			
			        //Pega o retorno da página asp
			        sTabela = xmlHTTP.responseText; 
			        
			        if (sTabela=='True'){
			            alert('Dados atualizados com sucesso.');        
			        }else{
			            if (sTabela.toUpperCase().indexOf('XHY')!=-1){
			                location.href='HY_Erro.asp?strErro=' + UrlEncode(sTabela);
			                return;    
			            }else{
			                alert(sTabela);
			                //alert('Não foi possível atualizar os dados.');
			                //document.body.innerHTML = sTabela;
			                return;
			            }        
			        }
			    }
			}
			
			function fnVerificaCampos(){
			    
			    //--Tipo Lancamento
			    if (document.getElementById ('cboTpMani').value==-1){
			        alert('Selecione Tipo Lançamento.');
			        document.getElementById ('cboTpMani').focus();
			        return;
			    }
			    
			    //--Ordem de Serviço Relacionada
			    if (document.getElementById ('cboTpMani').value==2){
			        if (document.getElementById ('txtOSRela').value == ''){
			            alert('Para este tipo de lançamento, Ordem de Serviço Relacionada é obrigatório.');
			            document.getElementById ('txtOSRela').focus();
			            return;
			        }
			    }
			    
			    //--Data Contabilização
			     if (document.getElementById ('txtDtLancContab').value == ''){
			        alert ('Data inválida.');
			        return;
			    }
			    
			    //--Empresa
			    if (document.getElementById ('cboEmpresa').value==-1){
			        alert('Selecione a empresa.');
			        document.getElementById ('cboEmpresa').focus();
			        return;
			    }
			    
			    //--Area Complementar
			    if (document.getElementById ('cboAreaComp').value==-1){
			        alert('Selecione a Área Complementar.');
			        document.getElementById ('cboAreaComp').focus();
			        return;
			    }
			    
			    //--Conta Contabil
			    if (document.getElementById ('cboCtaContabil').value==-1){
			        alert('Faça a busca da Conta Contábil.');
			        document.getElementById ('txtBuscaN3').focus();
			        return;
			    }
			    
			    //--Categoria Nivel 3
			    if (document.getElementById ('cboCatgNv3').value==-1){
			        alert('Selecione a Categoria Nível 3.');
			        document.getElementById ('cboCatgNv3').focus();
			        return;
			    }
			    
			    //--Linha Negocio 1
			    if (document.getElementById ('cboLinhaNego1').value==-1){
			        alert('Selecione a Linha de Negócio - Nível 1.');
			        document.getElementById ('cboLinhaNego1').focus();
			        return;
			    }
			    
			    //--Linha Negocio 2
			    if (document.getElementById ('cboLinhaNego2').value==-1){
			        alert('Selecione a Linha de Negócio - Nível 2.');
			        document.getElementById ('cboLinhaNego2').focus();
			        return;
			    }
			    
			    //--Fator de Risco
			    if (document.getElementById ('cboFatorRisco').value==-1){
			        alert('Selecione o Fator de Risco.');
			        document.getElementById ('cboFatorRisco').focus();
			        return;
			    }
			    
			    //--Tipo captura
			    if (document.getElementById ('cboTpCaptura').value==-1){
			        alert('Selecione tipo captura.');
			        document.getElementById ('cboTpCaptura').focus();
			        return;
			    }
			    
			    //--Tipo captura
			    if (document.getElementById ('cboTpMani').value==-1){
			        alert('Selecione Tipo Lançamento.');
			        document.getElementById ('cboTpMani').focus();
			        return;
			    }    
			
			    return true;
			}
			
			function MascararData(obj)
			{
				if(obj.value.length == 2)
				{
					obj.value += '/';
				}
				if(obj.value.length == 5)
				{
					obj.value += '/';
				}
			}
			
			function ValidaData(obj)
			{
			    if (obj.value != '')
			    {        
			        if(!isDateString(obj.value))
			        {
			            alert('Data inválida!');
			            obj.value = '';
			            obj.focus();            
			            return;
			        }   
			    }        
			}
			
			function fnGeraCausaEvento(){
			
			    //--Tipo Lancamento
			    /* if (document.getElementById ('frmDadosContab:cboTpMani_input').value==-1){ */
			    	if (document.getElementById ('frmDadosContab:cboTpMani_input').value== ''){
			        alert('Selecione Tipo Lançamento.');
			        document.getElementById ('frmDadosContab:cboTpMani_input').focus();
			        return;
			    }
				//Data
			     if (document.getElementById ('frmDadosContab:txtDtLancContab_input').value == ''){
			        alert ('Data inválida.');
			        return;
			    }
			
				//--Empresa
				/* if (document.getElementById ('frmDadosContab:cboEmpresa_input').value==-1){ */
					if (document.getElementById ('frmDadosContab:cboEmpresa_input').value== ''){
					alert('Selecione a empresa.');
					document.getElementById ('frmDadosContab:cboEmpresa_input').focus();
					return;
				}
					
				//--Area Complementar
			    /* if (document.getElementById ('frmDadosContab:cboAreaComp_input').value==-1){ */
			    	if (document.getElementById ('frmDadosContab:cboAreaComp_input').value== ''){
			        alert('Selecione a Área Complementar.');
			        document.getElementById ('frmDadosContab:cboAreaComp_input').focus();
			        return;
			    }
				
				//--Categoria Nivel 3
			    /* if (document.getElementById ('frmDadosContab:cboCatgNv3_input').value==-1){ */
			    	if (document.getElementById ('frmDadosContab:cboCatgNv3_input').value== ''){
			        alert('Selecione a Categoria Nível 3.');
			        document.getElementById ('frmDadosContab:cboCatgNv3_input').focus();
			        return;
			    }
				
				//--Fator de Risco
			    /* if (document.getElementById ('frmDadosContab:cboFatorRisco_input').value==-1){ */
			    	if (document.getElementById ('frmDadosContab:cboFatorRisco_input').value== ''){
			        alert('Selecione o Fator de Risco.');
			        document.getElementById ('frmDadosContab:cboFatorRisco_input').focus();
			        return;
			    }
			
			    document.getElementById ('frmDadosContab:txtCausaEvento').value =  
				    document.getElementById ('frmDadosContab:txtDtLancContab_input').value + ' - ' + 
				    document.getElementById ('frmDadosContab:cboEmpresa_input').options.item (document.getElementById ('frmDadosContab:cboEmpresa_input').selectedIndex).text+' ('+ document.getElementById ('frmDadosContab:cboAreaComp_input').options.item (document.getElementById ('frmDadosContab:cboAreaComp_input').selectedIndex).text +') - ' +
				    document.getElementById ('frmDadosContab:cboCatgNv3_input').options.item (document.getElementById ('frmDadosContab:cboCatgNv3_input').selectedIndex).text + ' - ' + document.getElementById ('frmDadosContab:cboFatorRisco_input').options.item (document.getElementById ('frmDadosContab:cboFatorRisco_input').selectedIndex).text ;
			    
			}
			
			function FnBuscaN3()
			{
				var val = document.getElementById('frmDadosContab:txtBuscaN3').value;
				var cbx = document.getElementById('frmDadosContab:cboCatgNv3_input');
				var cbxDf = document.getElementById('frmDadosContab:cboTpMani_input').value;
				var cbxCC = document.getElementById('frmDadosContab:cboCtaContabil_input');
			
			    if (val == "") {
					alert('Preencha o campo busca !');
					return false;
				}
				
			    if (cbxDf == "-1") {
					alert('Preencha o campo Tipo Lançamento !');
					return false;
				}
			    
				var resp = false;
				
				rcBuscaN3(); //funcao bean que faz o que esta abaixo
			/* 	for (var i=0;i<cbx.length;i++) {
			
					//alert(cbx.options[i].getAttribute("idd"));
					if(cbx.options[i].getAttribute("CdN3") == val) {
						cbx.selectedIndex = i;
						resp = true;
						/* fnCarregaCombo("cboCatgNv3",false); 
						rcCarregaCombo([{name: "aStrIdObj", value: "cboCatgNv3"}, {name: "IsFunction", value: false}]);
					}
				} 
			
				if(!resp) {
					alert('Nivel 3 Não Encontrado !');
					cbx.selectedIndex = -1;
					cbxCC.selectedIndex = -1;
					document.getElementById('frmDadosContab:cboCatgNv1_input').selectedIndex = -1;
					document.getElementById('frmDadosContab:cboCatgNv2_input').selectedIndex = -1;
					document.getElementById('frmDadosContab:cboCatgNv1_input').disabled = 1
					document.getElementById('frmDadosContab:cboCatgNv2_input').disabled = 1
				} 
				
				//Combo Conta Contábil********************************************
				var respCC = false;
			
				for (var i=0;i<cbxCC.length;i++) {
				
					var NUMCC = document.getElementById ("frmDadosContab:cboCatgNv3_input").item(document.getElementById("frmDadosContab:cboCatgNv3_input").selectedIndex).getAttribute('NuCntC');
					
					if(cbxCC.options[i].getAttribute("NuCntC") == NUMCC) {
						cbxCC.selectedIndex = i;
						respCC = true;
					}
			    }
			
				if(!respCC)	{
					alert('Conta Contábil Não Encontrada !');
					cbxCC.selectedIndex = -1;
				}
			    
				document.getElementById('frmDadosContab:txtBuscaN3').value = '';
				*/
			}
			
			function BuscaNV3CC(CdTpLanc)
			{
			    var objFrm = document.forms[0];
			
			    if (CdTpLanc != 2){
			        setElementVisibility(document.getElementById("tbOSRel"), false, true);
			    } else {
			        setElementVisibility(document.getElementById("tbOSRel"), true);
			    }
			
				document.getElementById('frmDadosContab:hdAction').value = 'S';
				document.getElementById('frmDadosContab:hdContOnLoad').value = 'S';
				document.getElementById('frmDadosContab:hdTpLanc').value = CdTpLanc;
				//objFrm.action = 'HY_cadOS_Dados_Contabeis.asp?strNrSequOS=<%=strNrSequOS%>&strTitulo=<%=strTitulo%>'
			    //objFrm.submit();
			}
			
			function FnBuscaN3CBO()
			{
				/* var val = document.getElementById ("frmDadosContab:cboCatgNv3_input").item(document.getElementById ("frmDadosContab:cboCatgNv3_input").selectedIndex).getAttribute ('CdN3'); */
				var val = document.getElementById ("frmDadosContab:cboCatgNv3_input").item(document.getElementById ("frmDadosContab:cboCatgNv3_input").selectedIndex).value;
				var cbx = document.getElementById('frmDadosContab:cboCatgNv3_input');
				var cbxDf = document.getElementById('frmDadosContab:cboTpMani_input').value;
				var cbxCC = document.getElementById('frmDadosContab:cboCtaContabil_input');
				var resp = false;
				
			    if (val == "")
				{
					alert('Preencha o campo busca !');
					return false;
				}
				
			    if (cbxDf == "-1")
				{
					alert('Preencha o campo Tipo Lançamento !');
					return false;
				}
			
			    rcBuscaN3BO(); //funcao bean que faz o que esta abaixo
/* 				for (var i=0;i<cbx.length;i++)
				{
			
					//alert(cbx.options[i].getAttribute("idd"));
					if(cbx.options[i].getAttribute("CdN3") == val)
					{
						cbx.selectedIndex = i;
						resp = true;
						fnCarregaCombo("cboCatgNv3",false);
					}
				}
			
				if(!resp)
				{
					alert('Nivel 3 Não Encontrado !');
					cbx.selectedIndex = -1;
					cbxCC.selectedIndex = -1;
					document.getElementById('frmDadosContab:cboCatgNv1_input').selectedIndex = -1;
					document.getElementById('frmDadosContab:cboCatgNv2_input').selectedIndex = -1;
					document.getElementById('frmDadosContab:cboCatgNv1_input').disabled = 1;
					document.getElementById('frmDadosContab:cboCatgNv2_input').disabled = 1;
				}
 */				
				//Combo Conta Contábil********************************************
				var respCC = false;
			
				for (var i=0;i<cbxCC.length;i++)
				{
				
					var NUMCC = document.getElementById ("frmDadosContab:cboCatgNv3_input").item(document.getElementById ("frmDadosContab:cboCatgNv3_input").selectedIndex).getAttribute ('NuCntC');
					
			
					if(cbxCC.options[i].getAttribute("NuCntC") == NUMCC)
					{
						cbxCC.selectedIndex = i;
						respCC = true;
					}
			      }
			
				if(!respCC)
				{
					alert('Conta Contábil Não Encontrada !');
					cbxCC.selectedIndex = -1;
				}
			}
			
			function setElementVisibility(elementToSet, showItSwitch, keepPlacementSwitch){
			    if (showItSwitch) {
			        elementToSet.style.display = "inline";
			        elementToSet.style.visibility = "visible";
			    } else {
			        if (keepPlacementSwitch) {
			            elementToSet.style.display = "inline";
			            elementToSet.style.visibility = "hidden";
			        } else {
			            elementToSet.style.display = "none";
			        }
			    }
			}  
			
			PrimeFaces.locales ['pt_BR'] = {
				    closeText: 'Fechar',
				    prevText: 'Anterior',
				    nextText: 'Próximo',
				    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
				    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],
				    dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
				    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],
				    dayNamesMin: ['D','S','T','Q','Q','S','S'],
				    weekHeader: 'Semana',
				    weekNumberTitle: 'Sm',
				    firstDay: 0,
				    isRTL: false,
				    showMonthAfterYear: false,
				    yearSuffix:'',
				    timeOnlyTitle: 'Só Horas',
				    timeText: 'Tempo',
				    hourText: 'Hora',
				    minuteText: 'Minuto',
				    secondText: 'Segundo',
				    currentText: 'Começo',
				    ampm: false,
				    month: 'Mês',
				    week: 'Semana',
				    day: 'Dia',
				    allDayText: 'Todo o Dia',
				    messages: {  //optional for Client Side Validation
				        'javax.faces.component.UIInput.REQUIRED': '{0}: Erro de validação: é necessário um valor.',
				        'javax.faces.converter.IntegerConverter.INTEGER': '{2}: \'{0}\' deve ser um número consistindo de um ou mais dígitos.',
				        'javax.faces.converter.IntegerConverter.INTEGER_detail': '{2}: \'{0}\' deve ser um número entre -2147483648 e 2147483647 Exemplo: {1}',
				        'javax.faces.converter.DoubleConverter.DOUBLE': '{2}: \'{0}\' deve ser um número consistindo de um ou mais dígitos.',
				        'javax.faces.converter.DoubleConverter.DOUBLE_detail': '{2}: \'{0}\' deve ser um número entre 4.9E-324 e 1.7976931348623157E308 Exemplo: {1}',
				        'javax.faces.converter.BigDecimalConverter.DECIMAL': '{2}: \'{0}\' deve ser um número decimal assinado.',
				        'javax.faces.converter.BigDecimalConverter.DECIMAL_detail': '{2}: \'{0}\' deve ser um número decimal assinado consistindo de zero ou mais dígitos, que podem ser seguidos por um ponto decimal e uma fração. Exemplo {1}',
				        'javax.faces.converter.BigIntegerConverter.BIGINTEGER': '{2}: \'{0}\' deve ser um número consistindo de um ou mais dígitos.',
				        'javax.faces.converter.BigIntegerConverter.BIGINTEGER_detail': '{2}: \'{0}\' deve ser um número consistindo de um ou mais dígitos. Exemplo {1}',
				        'javax.faces.converter.ByteConverter.BYTE': '{2}: \'{0}\' deve ser um número entre 0 e 255.',
				        'javax.faces.converter.ByteConverter.BYTE_detail': '{2}: \'{0}\' deve ser um número entre 0 e 255. Exemplo: {1}',
				        'javax.faces.converter.CharacterConverter.CHARACTER': '{1}: \'{0}\' deve ser um caractere válido.',
				        'javax.faces.converter.CharacterConverter.CHARACTER_detail': '{1}: \'{0}\' deve ser um caractere ASCII válido.',
				        'javax.faces.converter.ShortConverter.SHORT': '{2}: \'{0}\' deve ser um número consistindo de um ou mais dígitos.',
				        'javax.faces.converter.ShortConverter.SHORT_detail': '{2}: \'{0}\' deve ser um número entre -32768 e 32767 Exemplo: {1}',
				        'javax.faces.converter.BooleanConverter.BOOLEAN': '{1}: \'{0}\' deve ser \'verdadeiro\' ou \'falso\'',
				        'javax.faces.converter.BooleanConverter.BOOLEAN_detail': '{1}: \'{0}\' deve ser \'verdadeiro\' ou \'falso\'. Qualquer valor diferente de \'verdadeiro\' irá avaliar para \'falso\'.',
				        'javax.faces.validator.LongRangeValidator.MAXIMUM': '{1}: Erro de validação: o valor é maior que o máximo permitido de \'{0}\'',
				        'javax.faces.validator.LongRangeValidator.MINIMUM': '{1}: Erro de validação: O valor é menor que o mínimo permitido de \'{0}\'',
				        'javax.faces.validator.LongRangeValidator.NOT_IN_RANGE': '{2}: Erro de validação: O atributo especificado não está entre os valores esperados de {0} e {1}.',
				        'javax.faces.validator.LongRangeValidator.TYPE={0}': 'Erro de validação: O valor não é do tipo correto.',
				        'javax.faces.validator.DoubleRangeValidator.MAXIMUM': '{1}: Erro de validação: o valor é maior que o máximo permitido de \'{0}\'',
				        'javax.faces.validator.DoubleRangeValidator.MINIMUM': '{1}: Erro de validação: o valor é menor que o mínimo permitido de \'{0}\'',
				        'javax.faces.validator.DoubleRangeValidator.NOT_IN_RANGE': '{2}: Erro de validação: o atributo especificado não está entre os valores esperados de {0} e {1}',
				        'javax.faces.validator.DoubleRangeValidator.TYPE={0}': 'Erro de validação: O valor não é do tipo correto',
				        'javax.faces.converter.FloatConverter.FLOAT': '{2}: \'{0}\' deve ser um número consistindo de um ou mais dígitos.',
				        'javax.faces.converter.FloatConverter.FLOAT_detail': '{2}: \'{0}\' deve ser um número entre 1.4E-45 e 3.4028235E38 Exemplo: {1}',
				        'javax.faces.converter.DateTimeConverter.DATE': '{2}: \'{0}\' não pode ser entendido como uma data.',
				        'javax.faces.converter.DateTimeConverter.DATE_detail': '{2}: \'{0}\' não pode ser entendido como uma data. Exemplo {1}',
				        'javax.faces.converter.DateTimeConverter.TIME': '{2}: \'{0}\' não pode ser entendido como uma hora.',
				        'javax.faces.converter.DateTimeConverter.TIME_detail': '{2}: \'{0}\' não pode ser entendido como uma hora. Exemplo {1}',
				        'javax.faces.converter.DateTimeConverter.DATETIME': '{2}: \'{0}\' não pode ser entendido como data e hora.',
				        'javax.faces.converter.DateTimeConverter.DATETIME_detail': '{2}: \'{0}\' não pode ser entendido como uma data e hora. Exemplo {1}',
				        'javax.faces.converter.DateTimeConverter.PATTERN_TYPE': '{1}: A \'padrão\' ou \'tipo\' atributo deve ser especificado para converter o valor \'{0}\'',
				        'javax.faces.converter.NumberConverter.CURRENCY': '{2}: \'{0}\' não pode ser entendido como um valor de moeda.',
				        'javax.faces.converter.NumberConverter.CURRENCY_detail': '{2}: \'{0}\' não pode ser entendido como um valor de moeda. Exemplo {1}',
				        'javax.faces.converter.NumberConverter.PERCENT': '{2}: \'{0}\' não pode ser entendido como uma porcentagem.',
				        'javax.faces.converter.NumberConverter.PERCENT_detail': '{2}: \'{0}\' não pode ser entendido como uma porcentagem. Exemplo {1}',
				        'javax.faces.converter.NumberConverter.NUMBER': '{2}: \'{0}\' não pode ser entendido como um número.',
				        'javax.faces.converter.NumberConverter.NUMBER_detail': '{2}: \'{0}\' não é um número. Exemplo {1}',
				        'javax.faces.converter.NumberConverter.PATTERN': '{2}: \'{0}\' não é uma expressão regular de número.',
				        'javax.faces.converter.NumberConverter.PATTERN_detail': '{2}: \'{0}\' não é uma expressão regular de número. Exemplo {1}',
				        'javax.faces.validator.LengthValidator.MINIMUM': '{1}: Erro de validação: o comprimento é menor que o mínimo permitido de \'{0}\'',
				        'javax.faces.validator.LengthValidator.MAXIMUM': '{1}: Erro de validação: o comprimento é maior que o máximo permitido de \'{0}\'',
				        'javax.faces.validator.RegexValidator.PATTERN_NOT_SET': 'A expressão regular deve ser configurado.',
				        'javax.faces.validator.RegexValidator.PATTERN_NOT_SET_detail': 'A expressão regular deve ser definido como valor não vazio.',
				        'javax.faces.validator.RegexValidator.NOT_MATCHED': 'Expressão regular não combina',
				        'javax.faces.validator.RegexValidator.NOT_MATCHED_detail': 'Padrão Regex de \'{0}\' não combinado',
				        'javax.faces.validator.RegexValidator.MATCH_EXCEPTION': 'Erro na expressão regular.',
				        'javax.faces.validator.RegexValidator.MATCH_EXCEPTION_detail': 'Erro na expressão regular, \'{0}\'',
				        //optional for bean validation integration in client side validation
				        'javax.faces.validator.BeanValidator.MESSAGE': '{0}',
				        'javax.validation.constraints.AssertFalse.message': 'deve ser falso',
				        'javax.validation.constraints.AssertTrue.message': 'deve ser verdade',
				        'javax.validation.constraints.DecimalMax.message': 'deve ser menor ou igual a {0}',
				        'javax.validation.constraints.DecimalMin.message': 'deve ser maior ou igual a {0}',
				        'javax.validation.constraints.Digits.message': 'valor numérico fora dos limites (<{0} dígitos>.<{1} dígitos> esperado)',
				        'javax.validation.constraints.Future.message': 'deve estar no futuro',
				        'javax.validation.constraints.Max.message': 'deve ser menor ou igual a {0}',
				        'javax.validation.constraints.Min.message': 'deve ser maior ou igual a {0}',
				        'javax.validation.constraints.NotNull.message': 'pode não ser nulo',
				        'javax.validation.constraints.Null.message': 'deve ser nulo',
				        'javax.validation.constraints.Past.message': 'deve estar no passado',
				        'javax.validation.constraints.Pattern.message': 'deve corresponder "{0}"',
				        'javax.validation.constraints.Size.message': 'o tamanho deve estar entre {0} e {1}'
				    }
				};			
    
        //]]>
    </script>
    
</h:head>


<h:body styleClass="#{CadOsDadosContabeisBean.strRefrCdMani}">

	<fieldset styleClass="PanelTitle">
		<h:form id="frmDadosContab" method="post">
			<p:remoteCommand name="rcBuscaN3BO" update="@form" action="#{CadOsDadosContabeisBean.rcBuscaN3BO}" />
		    <p:remoteCommand name="rcCarregaCombo" update="@form" action="#{CadOsDadosContabeisBean.fnCarregaCombo}" />
		    <p:remoteCommand name="rcBuscaN3" update="@form" action="#{CadOsDadosContabeisBean.rcBuscaN3}" />

			<table width="100%" border="0" cellpadding="3" cellspacing="1" >
				<tr>
					<td width="100%" colspan="8">
						<table width="100%" border="0">
							<tr>
								<td colspan="8" width="20%">Tipo Lançamento:<br/>						            
						            <p:selectOneMenu value="#{CadOsDadosContabeisBean.tipoManiSelecionado}" id="cboTpMani" name="cboTpMani" style="width:auto;" onchange="BuscaNV3CC(this.value)" dynamic="true">
						            	<f:selectItem itemLabel="Selecione" itemValue="-1" />
							            <f:selectItems value="#{CadOsDadosContabeisBean.tipoMani}" />
        							</p:selectOneMenu>		
								</td>
								
								<td>
									<table id="tbOSRel" border="0">
										<tr>
											<td>Ordem de Serviço Relacionada:<br/>
												<p:inputText id="txtOSRela" name="txtOSRela" type="text" style="width:70px" maxlength="10" value="#{CadOsDadosContabeisBean.strNrSequOSRela}"/>     
											</td>
										</tr>
									</table>
								</td>
								
							</tr>
							<tr>
								<td width="35%">Data Lançamento Contabilização:<br />
							        <p:outputLabel for="txtDtLancContab" />
        							<p:calendar value="#{CadOsDadosContabeisBean.txtDtLancContab}" styleClass="" id="txtDtLancContab" name="txtDtLancContab" type="text" style="width:55px; cursor:hand;" maxlength="10" onkeydown="MascararData(this)" onkeypress="BlockKeybord()" onblur="ValidaData(this)" alt="Calendario" showOn="button" locale="pt_BR"/>			
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="69%">&nbsp;Empresa:<br/>
					<!-- <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboEmpresaSelecionado}" id="cboEmpresa" name="cboEmpresa" style="width:325px" onchange="fnCarregaCombo(this.id, false)" dynamic="true"> -->
			            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboEmpresaSelecionado}" id="cboEmpresa" name="cboEmpresa" style="width:325px" dynamic="true">
			            	<f:selectItem itemLabel="Selecione" itemValue="" />
				            <f:selectItems value="#{CadOsDadosContabeisBean.cboEmpresa}" />
  						</p:selectOneMenu>
					</td>
					<td align="left">Código Evento:<br/>
						<p:inputText id="txtEvento" name="txtEvento" styleClass="txtReadyOnly" type="text" style="width:100px" value="#{CadOsDadosContabeisBean.strNmCanalOrig}" readonly="true"/>
					</td>        
				</tr>
				<tr>
					<td colspan="8" >Área Complementar:<br/>
						<div id="dvAreaComplementar" name="dvAreaComplementar">
				            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboAreaCompSelecionado}" id="cboAreaComp" name="cboAreaComp" style="width:325px" dynamic="true">
				            	<f:selectItem itemLabel="Selecione" itemValue="" />
					            <f:selectItems value="#{CadOsDadosContabeisBean.cboAreaComp}" />
	  						</p:selectOneMenu>							            
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="8">
						<table width="100%" border="0">
							<tr>
								<td colspan="8" width="20%">Código Nível 3<br/>
									<p:inputText id="txtBuscaN3" name="txtBuscaN3" type="text" value="#{CadOsDadosContabeisBean.txtBuscaN3}" size="6"/>
									<p:commandButton value="buscar" onclick="FnBuscaN3()"></p:commandButton>		                       
								</td>     
							</tr>

							<tr>
								<td valign="bottom" width="20%">Conta Contábil:<br/>
						            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboCtaContabilSelecionado}" id="cboCtaContabil" name="cboCtaContabil" style="width:120px;" disabled="false" dynamic="true">
						            	<f:selectItem itemLabel="Selecione" itemValue="" />
							            <f:selectItems value="#{CadOsDadosContabeisBean.cboCtaContabil}" />
			  						</p:selectOneMenu>							            									
								</td>    
							</tr>

							<tr>
								<td colspan="8" width="20%">Categoria nível 1:<br/>
									<div id="divCatgNv1" name="divCatgNv1">
							            <p:selectOneMenu disabled="#{CadOsDadosContabeisBean.cboCatgNv1Disabled}" value="#{CadOsDadosContabeisBean.cboCatgNv1Selecionado}" id="cboCatgNv1" name="cboCatgNv1" style="width:150px" dynamic="true">
							            	<f:selectItem itemLabel="Selecione" itemValue="" />
								            <f:selectItems value="#{CadOsDadosContabeisBean.cboCatgNv1}"/>
	  									</p:selectOneMenu>							                                    
									</div>
								</td>     
							</tr>
							<tr>               
								<td colspan="8">Categoria nível 2:<br/>
									<div id="divCatgNv2" name="divCatgNv2">
							            <p:selectOneMenu disabled="#{CadOsDadosContabeisBean.cboCatgNv2Disabled}" value="#{CadOsDadosContabeisBean.cboCatgNv2Selecionado}" id="cboCatgNv2" name="cboCatgNv2" style="width:360px" dynamic="true">
							            	<f:selectItem itemLabel="Selecione" itemValue="" />
								            <f:selectItems value="#{CadOsDadosContabeisBean.cboCatgNv2}" />
	  									</p:selectOneMenu>										                        
									</div>
								</td>                    
							</tr>            
						</table>
					</td>
				</tr>

				<tr>
					<td colspan="8">Categoria nível 3:<br/>
			            <!-- <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboCatgNv3Selecionado}" id="cboCatgNv3" name="cboCatgNv3" style="width:500px" onchange="FnBuscaN3CBO()" dynamic="true"> -->
			            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboCatgNv3Selecionado}" id="cboCatgNv3" name="cboCatgNv3" style="width:500px" dynamic="true">
			            	<f:selectItem itemLabel="Selecione" itemValue="" />
				            <f:selectItems value="#{CadOsDadosContabeisBean.cboCatgNv3}" />
						</p:selectOneMenu>						
					</td>
				</tr>
				<tr>
					<td colspan="8">
						<table width="100%"  border="0">
							<tr>
								<td colspan="1" width="45%">Linha Negócio - Nível 1:<br/>
						            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboLinhaNego1Selecionado}" id="cboLinhaNego1" name="cboLinhaNego1" style="width:auto" onchange="fnCarregaCombo(this.id,false)" dynamic="true">
						            	<f:selectItem itemLabel="Selecione" itemValue="" />
							            <f:selectItems value="#{CadOsDadosContabeisBean.cboLinhaNego1}" />
									</p:selectOneMenu>									
								</td>
								<td width="55%">Linha Negócio - Nível 2:<br/>
									<div id="divLinhaNego2" name="divLinhaNego2">
							            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboLinhaNego2Selecionado}" id="cboLinhaNego2" name="cboLinhaNego2" disabled="true" style="width:248px;" dynamic="true">
							            	<f:selectItem itemLabel="Selecione" itemValue="" />
								            <f:selectItems value="#{CadOsDadosContabeisBean.cboLinhaNego2}" />
										</p:selectOneMenu>										                        
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="8">
						<table width="100%" border="0">
							<tr>
								<td width="45%">Fator de Risco:<br/>
						            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboFatorRiscoSelecionado}" id="cboFatorRisco" name="cboFatorRisco" style="width:250px;" dynamic="true">
						            	<f:selectItem itemLabel="Selecione" itemValue="" />
							            <f:selectItems value="#{CadOsDadosContabeisBean.cboFatorRisco}" />
									</p:selectOneMenu>									
								</td>
								<td>Tipo Captura:<br/>
						            <p:selectOneMenu value="#{CadOsDadosContabeisBean.cboTpCapturaSelecionado}" id="cboTpCaptura" dynamic="true">
						            	<f:selectItem itemLabel="Selecione" itemValue="" />
							            <f:selectItems value="#{CadOsDadosContabeisBean.cboTpCaptura}" />
									</p:selectOneMenu>									
								</td>                 
							</tr>
						</table>
					</td>

				</tr>
				<tr>
					<td colspan="8">
						<table width="100%" align="center" border="0">
							<tr>
								<td>Centro Contábil UNIORG:<br/><p:inputText value="#{CadOsDadosContabeisBean.txtCtrCntbOUR}" id="txtCtrCntbOUR" styleClass="txtReadyOnly" type="text" maxlength="50" readonly="true" /></td>
								<td>Centro Origem UNIORG:<br/><p:inputText value="#{CadOsDadosContabeisBean.txtCtrOrigOUR}" id="txtCtrOrigOUR"   styleClass="txtReadyOnly" type="text" maxlength="50" readonly="true" /></td>
								<td>Ponto de Venda:<br/><p:inputText value="#{CadOsDadosContabeisBean.txtPTVD}" id="txtPTVD"               styleClass="txtReadyOnly" type="text" maxlength="30" readonly="true" /></td>                    
							</tr>
						</table>
					</td>

				</tr>
			</table>

			<table border="0" width="100%">
				<tr style="height:20px"><td ></td></tr>
				<tr><td><b>Causa do Evento</b></td></tr>    
				<tr>
					<td colspan="2">
						<p:inputText styleClass="txtReadyOnly" id="txtCausaEvento" name="txtCausaEvento" type="text" style="width:90%" value="#{CadOsDadosContabeisBean.strCausaEvento}" readonly="true"/>&nbsp;&nbsp;
						<p:commandButton id="btnGeraCausaEvento" type="button" value="Gerar" onclick="fnGeraCausaEvento();" />
						<p:inputText id="hdAction" name="hdAction" type="hidden" value="#{CadOsDadosContabeisBean.strAction}" />
						<p:inputText id="hdTpLanc" name="hdTpLanc" type="hidden" value="#{CadOsDadosContabeisBean.strTipoLanc}" />
						<p:inputText id="hdContOnLoad" name="hdContOnLoad" type="hidden" value="#{CadOsDadosContabeisBean.contOnLoad}" />

					</td>
				</tr>
				<tr style="height:5px"><td ></td></tr>
			</table>

		</h:form>
	</fieldset>
</h:body> 

</ui:define></ui:composition>