<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

<f:event listener="#{Contabilizacao.verificarPermissao}" type="preRenderView" />

		<h:head>

			<h:outputStylesheet name="../css/hy_style.css" />
			<title>HY - Ocorrôncias Especiais</title>

			<script type="text/javascript">
				//<![CDATA[

				//parent.titulo.location.href = 'Titulo.asp?strTitulo="  Ordem de Serviço nº <%=strNrSeqOs %> - Aprovar Dados Contábeis"';
				//parent.rodape.location.replace("HY_BtnGenerico.asp?strButton=Aprovar/Aprovar@Recusar/Recusar@Imprimir/Imprimir@Voltar/Voltar");

				function Voltar() {
					history.back(0);
				}

				function Aprovar() {
					var objFrm = document.forms[0];

					if (objFrm['j_id_6:txtHdNrSeqNoti'].value == '6010'
							|| objFrm['j_id_6:txtHdNrSeqNoti'].value == '6030') {
						console.log('value: ',
								objFrm['j_id_6:txtHdNrSeqNoti'].value);
						if (confirm('Deseja aprovar o Lançamento Contábil?')) {
							// objFrm.txtHdAction.value = 'A';
							document.getElementById('actionBtn').click();
							objFrm.submit();
						}
					} else {
						alert('Não foi possível aprovar o Lançamento Contábil.\nWorkFlow inválido.');
					}
				}

				function Recusar() {
					window
							.showModalDialog(
									'hyb_contabilizacao_pop.xhtml?strNrSeqOs=<%=strNrSeqOs%>',
									null,
									'dialogHeight:250px;dialogWidth:530px; center: Yes; resizable:no; status: No;')
					parent.principal.location.href = 'hyb_contabilizacao.xhtml?strNrSeqOs=#{Contabilizacao.strNrSeqOs}';
				}

				function Imprimir() {
					window.print();
				}

				//]]>
			</script>

		</h:head>

		<h:body>

			<h:form>

				<fieldset class="PanelTitle">
					<table width="100%" border="0"
						style="background-color: Red; color: White">
						<tr>
							<td colspan="6">Pesquisa OS > Dados Contábeis</td>
						</tr>
						<tr style="font-weight: bold">
							<td>Status: <!-- <%=objRsOs("SITUACAO").Value %> --> <!-- objRsOs("SITUACAO").Value -->
								<h:outputText value="#{Contabilizacao.objRsOs.SITUACAO}"></h:outputText>
							</td>
							<td>WorkFlow: <!-- <%=objRsOs("CD_NOTI").Value %> - --> <!-- objRsOs("CD_NOTI").Value -->
								<h:outputText value="#{Contabilizacao.objRsOs.CD_NOTI}"></h:outputText>
								<!-- <%=objRsOs("NM_NOTI").Value %> --> <!-- objRsOs("NM_NOTI").Value -->
								<h:outputText value="#{Contabilizacao.objRsOs.NM_NOTI}"></h:outputText>
							</td>
						</tr>
						<tr style="background-color: red; height: 1px;">
							<td colspan="8"></td>
						</tr>
					</table>
					<table width="100%">
						<!--
    <tr>
        <td></td>
        <td width="20%"align="right">
            <p:input id="Radio1" type="radio" name="rdoCont"/>
        </td>
        <td>Aprovar Dados Contábeis</td>
    </tr>
    <tr>
        <td>Valor Envolvido:&nbsp;
            <p:inputText style="width:100px"/>
        </td>
        <td align="right">
            <input id="Checkbox2" type="radio" name="rdoCont"/>
        </td>
        <td>Recusar Contabilização</td>
    </tr>
    -->
						<tr height="30">
							<td>Valor Envolvido: <!-- value="<%=objRsOs("VL_ENVOLVIDO").Value -->
								<p:inputText style="width:100px" readonly="true"
									value="#{Contabilizacao.objRsOs.VL_ENVOLVIDO}" />
							</td>
						</tr>
						<tr style="background: gray">
							<td colspan="3"></td>
						</tr>
					</table>
					<table width="100%" border="0" cellpadding="4" cellspacing="1">
						<tr>
							<td>Data Lançamento<br />Contabilização:<br /> <!-- value="<%=objRsOs("DT_CONTABILIZACAO").Value -->
								<p:inputText style="width:100px" readonly="true"
									value="#{Contabilizacao.objRsOs.DT_CONTABILIZACAO}" />
							</td>
							<td valign="bottom">Conta Contábil:<br /> <!-- value="<%=objRsOs("CONTA_CONTABIL").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.CONTA_CONTABIL}" />
							</td>
							<td valign="middle">Status Report: I - Inserido</td>
						</tr>
						<tr>
							<td>Empresa:<br /> <!-- value="<%=objRsOs("EMPRESA").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.EMPRESA}" />
							</td>
							<td>Área Complementar:<br /> <!-- value="<%=objRsOs("AREA_COMPL").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.AREA_COMPL}" />
							</td>

							<td>Código Evento:<br /> <!-- value="<%=objRsOs("CANAL_ORIG_CNTB").Value -->
								<p:inputText style="width:100px" readonly="true"
									value="#{Contabilizacao.objRsOs.CANAL_ORIG_CNTB}" />
							</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="2">Categoria nível 1:<br /> <!-- value="<%=objRsOs(" CATEG_N1").Value -->
								<p:inputText style="width:425px" readonly="true"
									value="#{Contabilizacao.objRsOs.CATEG_N1}" />
							</td>
						</tr>
						<tr>
							<td colspan="3">Categoria nível 2:<br /> <!-- value="<%=objRsOs(" CATEG_N2").Value -->
								<p:inputText style="width:425px" readonly="true"
									value="#{Contabilizacao.objRsOs.CATEG_N2}" />
							</td>
						</tr>
						<tr>
							<td colspan="3">Categoria nível 3:<br /> <!-- value="<%=objRsOs(" CATEG_N3").Value> -->
								<p:inputText style="width:100px" readonly="true"
									value="#{Contabilizacao.objRsOs.CATEG_N3}" />
							</td>
						</tr>
						<tr>
							<td>Linha Negócio - Nível 1:<br /> <!-- value="<%=objRsOs(" LINHA_NEGO_N1").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.LINHA_NEGO_N1}" />
							</td>
							<td>Linha Negócio - Nível 2:<br /> <!-- value="<%=objRsOs(" LINHA_NEGO_N2").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.LINHA_NEGO_N2}" />
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Fator de Risco:<br /> <!-- value="<%=objRsOs(" FATOR_RISCO").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.FATOR_RISCO}" />
							</td>
							<td>Tipo Captura:<br /> <p:inputText style="width:200px"
									value="A - Automática" />
							</td>
						</tr>
						<tr>
							<td>Centro Contábil UNIORG:<br /> <!-- value="<%=objRsOs(" CENTRO_CONTABIL").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.CENTRO_CONTABIL}" />
							</td>
							<td>Centro Origem UNIORG:<br /> <!-- value="<%=objRsOs(" CENTRO_ORIGEM").Value -->
								<p:inputText style="width:200px" readonly="true"
									value="#{Contabilizacao.objRsOs.CENTRO_ORIGEM}" />
							</td>
							<td>Ponto de Venda:<br /> <!-- value="<%=objRsOs(" PONTO_VENDA").Value -->
								<p:inputText style="width:100px" readonly="true"
									value="#{Contabilizacao.objRsOs.PONTO_VENDA}" />
							</td>
						</tr>
					</table>

					<p:inputText id="txtHdNrSeqNoti" name="txtHdNrSeqNoti"
						readonly="true" type="hidden"
						value="#{Contabilizacao.objRsOs.CD_NOTI}" />

					<p:commandButton type="button" value="Aprovar" onclick="Aprovar()" />

					<p:commandButton value="Reprovar" update="display"
						oncomplete="PF('dlg').show()" />

					<p:commandButton type="button" value="Imprimir"
						onclick="Imprimir()" />

					<p:dialog modal="true" width="85%" height="85%" resizable="true"
						widgetVar="dlg" header="Values" showEffect="clip">
						<p:panelGrid width="100%" id="display" columnClasses="label,value">
							<iframe id="ifrmOs" width="100%" height="100%" frameborder="0"
								scrolling="no"
								src="HY_Contabilizacao_IFrame.xhtml?strNrSeqOs=#{Contabilizacao.strNrSeqOs}"></iframe>
						</p:panelGrid>
					</p:dialog>

				</fieldset>
			</h:form>

			<p:commandButton id="actionBtn" style="display:none;" value="Test"
				actionListener="#{Contabilizacao.setAction}" />

		</h:body>
	</ui:define>
</ui:composition>
