<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
	<h:head>
		<title>HY - Ocorrências Especiais</title>
		<style type="text/css">
		    html {
		       overflow: hidden;
		    }
		</style>
			<link rel="Stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen"/>
			<link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" media="screen"/>
			<script type="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
			<script type="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
			<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
		<script type="text/javascript" language="javascript">
			//<![CDATA[
				//parent.parent.rodape.location.replace('HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar@Voltar/Voltar');
				
				function Voltar(){
				
					window.history.back();
				}
				
				window.onload = function()
				{
					Resize();
				}

				function Resize()
				{
					//window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;	
                    //window.parent.document.all['ifrmNovaOs'].height=417;
				}
						
						
				function MostraDivCbo(strIdObj, strDivId1)
				{
					var cbo = document.getElementById(strIdObj);
					var div1 = document.getElementById(strDivId1);
				    
					if(cbo || div1)
						if(cbo.value == 0)
							div1.style.display = 'none';            
						else
							div1.style.display = 'block';           
				     
				     
					Resize();       
				}
				
				function fnValidaHora(obj)
				{
					var strHora
					
					strHora = "0000" + obj.value;
					strHora = strHora.substring(strHora.length - 4, strHora.length);
					
					if (parseInt(strHora.substring(0, strHora.length - 2)) > 24)
					{
						alert("Hora inválida.");
						obj.focus();
						return false;
					}
					
					if (parseInt(strHora.substring(strHora.length - 2, strHora.length)) > 59)
					{
						alert("Hora inválida.");
						obj.focus();
						return false;
					}
					
					obj.value = strHora.substring(0, strHora.length - 2) + ":" + strHora.substring(strHora.length - 2, strHora.length);
				}
				
				function Salvar()
				{
				    var strClafFraud = document.forms[0].CboClafFrau.value;
				
				    //-- Verifica se o usuário selecionou um ponto de Venda para 'Auxilio Terceiro'
                    if(strClafFraud == "1")
                    {
                        if (document.forms[0].txtHdCD_UOR.value == "")
                        {
                            alert("Selecione um Ponto de Venda.");
                            document.getElementById('txtAgenClieAjud').focus();
                            return;
                        }
                    }
				
					SalvarOperacao();
					var intClfFraud = document.forms[0].CboClafFrau.value;
					
					document.forms[0].action = "HY_CadastroOs_CCredito.asp?TpAcao=Salvar&NrSeqDetalhe=<%=strNrSeqId%>&qsCanal=<%=CD_CANAL%>&clfFraud=" + intClfFraud;
					document.forms[0].method = "post";
					document.forms[0].submit();
				}
				
				//------------------------ Funcoes Novas ------------------------------------
				function MostraDivCboClafFrau(strIdObj, strDivId1)
				{
					var cbo = document.getElementById(strIdObj);
					var div1 = document.getElementById(strDivId1);

					if(cbo || div1)
						if(cbo.value != 1)
						{
						    document.getElementById('txtHdCD_UOR').value = '';
							div1.style.display = 'none';
					    }
							else
							div1.style.display = 'block';
							document.getElementById("txtAgenClieAjud").value = "";

					Resize();
				}
				
				function PesquisarPV(strReturn,strMsg)
                {    
                    var tb;
                    var row;
                    var cell;
                    
                    var rdoPV =document.getElementById('rdoPV');
                    var rdoDepto =document.getElementById('rdoDepto');
                    
                    var strCdUor;
                    var strToUor
                    
                    var strXml;
                    var objXml;
                    
                    tb = document.getElementById('tbPV');

                    
                    
                    //document.body.innerHTML = strReturn;
                    if (strReturn.indexOf('xHY') != -1)
                    {
                        location.href = 'HY_Erro.asp?strErro=' + strReturn;
                        return;
                    }
                    
                    if (strReturn == '0' )
                    {
                        alert(strMsg + ' não encontrado!');
                        
                        document.forms[0].txtHdCD_UOR.value = '';
                        document.forms[0].txtHdTP_UOR.value = '';
                        document.forms[0].txtHdNM_UOR.value = '';
                        
                        if (tb.rows.length == 2)
                        {
                            //-- Se não retornou valores, exclui resultado de ultima pesquisa válida
                            tb.deleteRow(1);
                        }
                        return;
                    }
                    
                    
                    
                    //-- Limpa resultado de pesquisa anterior
                    if (tb.rows.length == 2)
                    {
                        tb.deleteRow(1);
                    }
                    objXml = new ActiveXObject('Microsoft.XMLDOM');
        		    objXml.async = 'false';
        		    objXml.loadXML(strReturn);               
                    
                    for (i=0;i<objXml.getElementsByTagName("NM_REDE").length;i++){
            		    
        			    row = tb.insertRow();
        			    
        			    //REDE
        		        cell = row.insertCell();
        		        cell.innerHTML = objXml.getElementsByTagName("NM_REDE")[i].childNodes[0].nodeValue;
        		        
        		        //Regional
        		        cell = row.insertCell();
        		        cell.innerHTML = objXml.getElementsByTagName("NM_REGI")[i].childNodes[0].nodeValue;
        		              
        		        //Input Hidden
        		        cell = row.insertCell();
        		        cell.style.display = 'none';
        		        cell.innerHTML = '<input  id="txtCD_UOR-' + i + '" type = "hidden" name=txtCD_UOR-' + i + '" value="'+objXml.getElementsByTagName("CD_UOR")[i].childNodes[0].nodeValue + '"/>';
        		        cell = row.insertCell();
        		        cell.style.display = 'none';
        		        cell.innerHTML = '<input  id="txtNM_UOR-' + i + '" type = "hidden" name=txtNM_UOR-' + i + '" value="'+objXml.getElementsByTagName("NM_UOR")[i].childNodes[0].nodeValue + '"/>';
        		        cell = row.insertCell();
        		        cell.style.display = 'none';
        		        cell.innerHTML = '<input id="txtTP_UOR-' + i + '" type = "hidden" name=txtTP_UOR-' + i + '" value="'+objXml.getElementsByTagName("TP_UOR")[i].childNodes[0].nodeValue + '"/>';
        		        
        		        
        		        strCdUor = objXml.getElementsByTagName("CD_UOR")[i].childNodes[0].nodeValue;
        			    if (strCdUor.length == 1)
        			        {strCdUor = '000' + strCdUor;}
        			    else if (strCdUor.length == 2)
        			        {strCdUor = '00' + strCdUor;}
        			    else if (strCdUor.length == 3)
        			        {strCdUor = '0' + strCdUor;}
        			    
        			    //PV
        			    cell = row.insertCell();
        			    cell.innerHTML = '<b>' + strCdUor + ' - ' + objXml.getElementsByTagName("NM_UOR")[i].childNodes[0].nodeValue + '</b>';
        			
        			    document.forms[0].txtHdCD_UOR.value = objXml.getElementsByTagName("CD_UOR")[i].childNodes[0].nodeValue;
        			    document.forms[0].txtHdTP_UOR.value = objXml.getElementsByTagName("TP_UOR")[i].childNodes[0].nodeValue;
        			    document.forms[0].txtHdNM_UOR.value = objXml.getElementsByTagName("NM_UOR")[i].childNodes[0].nodeValue;
        			   
                }
        }
				//]]>	
	</script>
	</h:head>
	<h:body class="PanelTitle">
		<h:form name="frmEventoDetalheCCredito" id="frmEventoDetalheCCredito" method="post">
		<p:inputText type="hidden" name="hdnCdCanal" id="hdnCdCanal" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strCdCanal}"/>
		<p:inputText type="hidden" name="hdnSeqCartao" id="hdnSeqCartao" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strSeqCartao}"/>
		<p:inputText type="hidden" name="hdnSeqEvento" id="hdnSeqEvento" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strSeqEvento}"/>
		<p:inputText type="hidden" name="hdnSeqConta" id="hdnSeqConta" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strSeqConta}"/>
		<table width="100%" border="0" style="background-color:red; color:White">
			<tr>
				<td colspan="2">Eventos > <h:outputText value="#{param['qsEvento']}" /> > <h:outputText value="#{param['qsCanal']}" />
				</td>
				<td><b>Nº OS:&#160;&#160;<h:outputText value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strNrSeqOs}"/></b></td>
			</tr>
			<tr>
				<td colspan="6"><b>Detalhes do Cartão de Crédito</b></td>
			</tr>
			<tr>
				<td><b>Titular:&#160;&#160;<h:outputText value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strTitular }"/></b></td>
				<td><b>Nº Cartão:&#160;&#160;<h:outputText value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strCartao}"/></b></td>
				<td><b>CPF/CNPJ:&#160;&#160;<h:outputText value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strCPF_CNPJ}"/></b></td>
			</tr>
			<tr style="background-color: red; height:1px;">
				<td colspan="8"></td>
			</tr>
		</table>
		<table>
			<tr style="height:3px">
				<td></td>
			</tr>
		</table>
		<!-- DADOS INICIAIS -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color:red; height:1px">
				<td></td>
			</tr>
			<tr style="background-color:red; color:White; height:20px">
				<td valign="middle">
					&#160;<h:graphicImage align="absmiddle" src="../images/seta_vermelha.gif" /> &#160;<b>Dados 
						Iniciais</b>
				</td>
			</tr>
		</table>
		<fieldset>
			<table width="100%" border="0">
				<tr>
					<td width="17%">Data Emissão:</td>
					<td width="18%"><p:inputText styleClass="txtReadyOnly" 
										   id="txtDtEmissao" 
										   name="txtDtEmissao" 
										   style="width:80px" 
										   value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strDtEmissao}"
										   readonly="true"/></td>
					<td width="23%">Data Ativação:</td>
					<td width=""><p:inputText styleClass="txtReadyOnly" 
										id="txtDtAtivacao" 
										name="txtDtAtivacao" 
										style="width:80px" 
										value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strDtAtivacao}"
										readonly="true"/></td>
				</tr>
				<tr>
					<td width="">Data Cancelamento:</td>
					<td><p:inputText styleClass="txtReadyOnly" 
							   id="txtDtCancelamento" 
							   name="txtDtCancelamento"
							   style="width:80px" 
							   value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strDtCancel}"
							   readonly="true"/></td>
					<td>Log Colaborador Solicitante:</td>
					<td><p:inputText styleClass="txtReadyOnly" 
							   id="txtLogColaborador"
							   name="txtLogColaborador" 
							   style="width:80px" 
							   value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strLoginColab}"
							   readonly="true"/></td>
				</tr>
				<tr>
					<td>Endereço Enviado:</td>
					<td colspan="3"><p:inputText styleClass="txtReadyOnly" 
										   id="txtEndEnviado" 
										   name="txtEndEnviado"
										   style="width:250px" 
										   value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strEndEnviado}"
										   readonly="true"/></td>
				</tr>
			</table>
			<hr style="color:gray" />
			<table>
				<tr>
                    <td width="23%">Classificação da Fraude </td>
                    <td>
                      <p:selectOneMenu name="CboClafFrau" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.cboClafFrau}" id="CboClafFrau" onchange="MostraDivCboClafFrau('CboClafFrau','divCSegClafFrau')">
                         <c:when
								test="#{ not empty CadastroOSCCreditoBean.objRsCboClafFrau }">
								<c:forEach items="#{CadastroOSCCreditoBean.objRsCboClafFrau}"
									var="unidade" varStatus="status">
                         			<f:selectItem itemLabel="#{unidade.DS_CLAF_FRAU}" itemValue="#{unidade.nr_claf_frau}" /> 
                         		</c:forEach>
						 </c:when> 
                      </p:selectOneMenu >
                     			 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="divCSegClafFrau"><!--  if CInt("0" & intFragClafFrau) <> CInt("1") then Response.Write "none" End If%>" -->
			                <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <fieldset><legend><b>Ponto de Venda</b></legend>
                                        <table width="" border="0">
                                            <tr>
                                            <td  width="60">No. PV:</td>
                                                <td>
                                                    <p:inputText id="txtAgenClieAjud" name="txtAgenClieAjud" binding="#{npv}"  style="width:60px" maxlength="4" onKeyPress="BlockKeybord()" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strAgenClieAjud}"/>&#160;&#160;</td>
                                                <td>    
                                                     <h:commandLink action="#{CadastroOSCCreditoBean.getElementosParaPesquisa(npv.value)}"><p:graphicImage id="imgPV"
														value="../images/lupa.gif"
														style="cursor:hand" alt="Pesquisar"/>
													</h:commandLink></td>  
                                            </tr>
                                        </table>
                                        <table id="tbPV" width="100%" border="0" cellpadding="0" cellspacing="0">    
                                            <tr height="20" style="background:gray; color:White; font-weight:bold">
                                                <td width="20%">&#160;Rede</td>
                                                <td width="40%">Regional</td>
                                                <td width="">PV</td>
                                            </tr>    
                                            
                                        </table>
                                        <p:inputText id="txtHdCD_UOR" name="txtHdCD_UOR" type="hidden" />
                                        <p:inputText id="txtHdNM_UOR" name="txtHdNM_UOR" type="hidden" />
                                        <p:inputText id="txtHdTP_UOR" name="txtHdNM_UOR" type="hidden" />
                                        </fieldset>        
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                  </tr>
			</table>
		</fieldset>
		<table>
			<tr style="height:3px">
				<td></td>
			</tr>
		</table>
		<!-- EXTRATO -->
			<table width="100%" border="0" cellpadding="1" cellspacing="1" ID="Table1">
				<tr style="background-color:red; height:1px">
					<td></td>
				</tr>
				<tr style="background-color:red; color:White; height:20px">
					<td valign="middle">
						&#160;<h:graphicImage align="absmiddle" src="../images/seta_vermelha.gif" /> &#160;<b>Extrato</b>
					</td>
				</tr>
			</table>
			<fieldset class="PanelTitle">
				<table ID="Table2">
					<tr>
						<td>Nº Conta:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
								   id="txtNrConta" 
								   name="txNrConta"
								   value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strConta}"
								   readonly="true"/></td>
						<td>Tipo Conta:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
									id="txtTpConta" 
									name="txtTpConta"
									value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strTpConta}"
									readonly="true"/></td>
					</tr>
					<tr>
						<td>Data Abertura:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
						           id="txtDtAbertura" 
						           name="txtDtAbertura" 
						           value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strDtAbertura}"
						           readonly="true"/></td>
						<td>Gerente:</td>
						<td><p:inputText styleClass="txtReadyOnly" 
								   id="txtNmGerente" 
								   name="txtNmGerente" 
								   value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strNmGerente}"
								   readonly="true"/></td>
					</tr>
				</table>
			</fieldset>
			<table ID="Table3">
				<tr style="height:3px">
					<td></td>
				</tr>
			</table>
		<!-- FRAGILIZAÇÃO  -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color:red; height:1px">
				<td></td>
			</tr>
			<tr style="background-color:red; color:White; height:20px">
				<td valign="middle">
					&#160;<h:graphicImage align="absmiddle" src="../images/seta_vermelha.gif" /> &#160;<b>Fragilização 
						do Cartão de Crédito (POC)</b>
				</td>
			</tr>
		</table>
		<fieldset>
			<table>
				<tr>
					<td>Local:<br />
						<p:selectOneMenu id="cboLocal" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.cboLocal}" name="cboLocal">
								<c:when
									test="#{ not empty CadastroOSCCreditoBean.objRsCbo }">
									<c:forEach items="#{CadastroOSCCreditoBean.objRsCbo}"
										var="unidade" varStatus="status">
										<f:selectItem itemLabel="#{unidade.NOME}" itemValue="#{unidade.CODIGO}" /> 
									</c:forEach>
								 </c:when> 
							</p:selectOneMenu >
					</td>
				</tr>
			</table>
			<div id="divFragil" styleClass="#{(CadastroOSCCreditoBean.cadastroOSCCredito.intFragLocal == 0)?'display:none': '' }">
				<table>
					<tr>
						<td>Horário Compreendido:</td>
						<td colspan="3">
							<p:inputText id="txtHrCompInicio" 
							       name="txtHrCompInicio" 
							       style="width:40px"
							       maxlength="4"
							       onkeypress="BlockKeybord()"
							       onBlur="return fnValidaHora(this)"
							       value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strFragHrInicio}"/>&#160;à&#160; 
							<p:inputText id="txtHrCompFinal" 
							       name="txtHrCompFinal" 
							       style="width:40px"
							       maxlength="4"
							       onkeypress="BlockKeybord()"
							       onBlur="return fnValidaHora(this)"
							       value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strFragHrFinal}"/>
						</td>
					</tr>
					<tr>
						<td>Código Agência:</td>
						<td><p:inputText id="txtCodAgencia" 
						           name="txtCodAgencia" 
						           maxlength="4"
						           style="width:40px"
						           value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strFragCodAgen}"/></td>
						<td>Descrição Agência:</td>
						<td><p:inputText id="txtDescrAgencia" 
						           name="txtDescrAgencia" 
						           maxlength="30"
						           style="width:130px"
						           value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strFragNmAgen}"/></td>
					</tr>
					<tr>
						<td>Data Ocorrênia POC:</td>
						<td><p:calendar showOn="button" id="txtDtOcorrencia" name="txtDtOcorrencia" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strFragDtOcorr}" mask="99/99/9999" pattern="dd/MM/yyyy" locale="pt_BR" readonly="true" align="absbottom" alt="Calendario" style="cursor:hand;" >
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:calendar></td>
						<td>Nº Terminal:</td>
						<td><p:inputText id="txtNrTerminal" 
						           name="txtNrTerminal" 
						           onkeypress="BlockKeybord()"
						           maxlength="6"
						           value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strFragNrTerm}"/></td>
					</tr>
					<tr>
						<td>Possui Sensor:</td>
						<td>
							<p:selectOneMenu id="cboSensor" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.cboSensor}" name="cboSensor">
									<f:selectItem itemLabel="Não" itemValue="0" />
									<f:selectItem itemLabel="Sim" itemValue="1" />
							</p:selectOneMenu >
						</td>
					</tr>
					<tr>
						<td>Outros:</td>
						<td><p:inputText id="txtOutros" 
						           name="txtOutros" 
						           maxlength="30"
						           value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strFragOutros}"/></td>
					</tr>
				</table>
			</div>
		</fieldset>
		<table>
			<tr style="height:3px">
				<td></td>
			</tr>
		</table>
		<!-- DADOS DO LOCAL DA FRAUDE -->
		<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr style="background-color:red; height:1px">
				<td></td>
			</tr>
			<tr style="background-color:red; color:White; height:20px">
				<td valign="middle">
					&#160;<h:graphicImage align="absmiddle" src="../images/seta_vermelha.gif" /> &#160;<b>Local 
						da Fraude</b>
				</td>
			</tr>
		</table>
		<fieldset>
			<table width="100%" border="0">
				<tr>
					<td width="15%">Local da Ocorrência:</td>
					<td width="18%"><p:inputText id="txtFraudeLocal" 
					                       name="txtFraudeLocal"
					                       style="width:180px" 
					                       maxlength="30"
					                       value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strLocalFraude}"/></td>
										<td width="">Valor:</td>
					<td><p:inputText id="txtFraudeValor"
					           name="txtFraudeValor" 
					           style="width:80px;text-align:right" 
					           onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
					           maxlength="14"
					           value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strValorFraude}"/></td>
                       
				</tr>
				<tr>
					<td >Data:</td>
					<td>
								<p:calendar id="txtFraudeDt" value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strDtFraude}"
					            readonly="true" name="txtFraudeDt" mask="99/99/9999" pattern="dd/MM/yyyy" locale="pt_BR" showOn="button" align="absbottom" src="../images/calendario.gif" alt="Calendario" style="cursor:hand;">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:calendar></td>
					<td>Saldo Devedor:</td>
					<td><p:inputText id="txtFraudeSldDevedor"
					           name="txtFraudeSldDevedor" 
					           style="width:80px;text-align:right" 
					           onkeypress="BlockKeybord(); fnMascaraValor(this,2);"
					           maxlength="14"
					           value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strSldDevFraude}"/></td>
				</tr>
				<tr>
					<td>Estabelecimentos:</td>
					<td colspan="3"><p:inputText id="txtFraudeEstab"
					                       name="txtFraudeEstab" 
					                       style="width:270px" 
					                       maxlength="30"
					                       value="#{CadastroOSCCreditoBean.cadastroOSCCredito.strEstabFraude}"/></td>
				</tr>
			</table>
		</fieldset>
		
		
		
		<!--#include file="../Inc/HY_Contestacao.inc"-->
		</h:form>
	</h:body>
</ui:define></ui:composition>
