<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:head>
			<title>HY - Ocorrências Especiais</title>
			<link rel="Stylesheet" href="../css/hy_style.css" type="text/css"
				media="screen" />
			<script type="text/javascript" src="../javascript/hy_funcoes.js"></script>
			<script type="text/javascript">
				//<![CDATA[

				/* 		parent.parent.titulo.location.href = 'Titulo.asp?strTitulo="<%=strTitulo%> - <%=strNrOs%> - Risco Potencial - Lançamento Analítico"';
				 parent.parent.rodape.location
				 .replace("HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar@Voltar/Voltar");
				 */
				function AbreTelaAnalitico(idOs, idTranFrau, idProd, nmProd,
						vlTran) {
					document.getElementById('frmRiscPoten').action = 'HY_CadOS_DetalheRiscoPot_An.xhtml?strTitulo=#{cadosDetalheRiscopot.strTitulo}&strNrSeqOs='
							+ idOs
							+ '&idTranFrau='
							+ idTranFrau
							+ '&idProd='
							+ idProd + '&nmProd=' + nmProd;
					document.getElementById('hdnVlTran').value = vlTran;
					document.getElementById('frmRiscPoten').submit();
				}

				function Voltar() {
					document.getElementById('frmRiscPoten').action = 'HY_CadOs_Risco_Potencial.xhtml?strTitulo=#{cadosDetalheRiscopot.strTitulo}&strNrSeqOs='
							+ '#{cadosDetalheRiscopot.strTitulo}';
					document.getElementById('frmRiscPoten').submit();
				}

				function Salvar() {
					if (fnValidaCampo()) {
						var strDados;
						var intRadio = 0;

						if (document.getElementById('Radio1').checked)
							intRadio = 1;
						//Envia para a página asp dados para a montagem da tabela
						xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
						xmlHTTP.Open('POST',
								'HY_CadOS_DetalheRiscoPot_P_exe.xhtml', false);
						strDados = '<root>' + '<nrSeqOS>'
								+ '#{cadosDetalheRiscopot.strTitulo}'
								+ '</nrSeqOS>' + '<in_ress>' + intRadio
								+ '</in_ress>' + '</root>';

						xmlHTTP.Send(strDados);

						//Pega o retorno da página asp
						sTabela = xmlHTTP.responseText;

						if (sTabela == "True")
							alert('Registro atualizado com sucesso.');
						else
							alert('Não foi possível atualizar o registro.');
					}
				}
				function fnValidaCampo() {
					if (!document.getElementById('Radio1').checked
							&& !document.getElementById('Radio2').checked) {
						alert('Selecione o tipo de ressarcimento.')
						document.getElementById('Radio1').focus();
						return false;
					}
					return true;
				}

				function Resize() {
					window.parent.document.all['ifrmNovaOs'].height = 400;
				}

				//]]>
			</script>
		</h:head>
		<h:body styleClass="PanelTitle">
			<h:form id="frmRiscPoten" method="post">
				<table width="102%" border="0"
					style="background-color: Red; color: White">
					<tr>
						<td>Risco Potencial > Detalhes > Lançamento Analítico</td>
					</tr>
				</table>

				<div id="divOverFlow"
					style="overflow: auto; width: 100%; height: 150px;" align="left">
					<table width="99%" cellpadding="0" cellspacing="1">
						<tr
							style="background-color: gray; font-weight: bold; color: White">
							<td class="GridItemFixed" align="center" colspan="1" rowspan="1">Descrição
								Produto</td>
							<td align="center" colspan="1" rowspan="1">&nbsp;Exclusão
								(R$)&nbsp;</td>
							<td align="center" colspan="1" rowspan="1">Recuperação<br />&nbsp;do
								Mês (R$)&nbsp;
							</td>
							<td align="center" colspan="1" rowspan="1">Recuperação<br />&nbsp;Fora
								do Mês (R$)&nbsp;
							</td>
							<td align="center" colspan="1" rowspan="1">&nbsp;Complementação
								OS&nbsp;</td>
							<td align="center" colspan="1" rowspan="1">&nbsp;Transitório
								(R$)&nbsp;</td>
							<td align="center" colspan="1" rowspan="1">&nbsp;Negado
								(R$)&nbsp;</td>
							<td align="center" colspan="1" rowspan="1"></td>
						</tr>

						<p:dataTable var="unidade" value="#{cadosDetalheRiscopot.objRsProdCorp}" >

							<p:column headerText="NM_OPER">
								<h:outputText value="#{unidade.NM_OPER}" />
							</p:column>
							<p:column headerText="VL_EXCL_PRCL">
								<p:inputText styleClass="txtReadyOnly"
											id="Text1" type="text" style="width:60px"
											value="#{unidade.VL_EXCL_PRCL == null? 0 : unidade.VL_EXCL_PRCL}" />
							</p:column>
							<p:column headerText="VL_RECR_MES_PRCL">
								<p:inputText styleClass="txtReadyOnly"
											id="Text2" type="text" style="width:60px"
											value="#{unidade.VL_RECR_MES_PRCL == null? 0 : unidade.VL_RECR_MES_PRCL}" />
							</p:column>
							<p:column headerText="VL_RECR_FORA_MES_PRCL">
								<p:inputText styleClass="txtReadyOnly"
											id="Text3" type="text" style="width:60px"
											value="#{unidade.VL_RECR_FORA_MES_PRCL == null? 0 : unidade.VL_RECR_FORA_MES_PRCL}" />	
							</p:column>
							<p:column headerText="VL_COMP">
								<p:inputText styleClass="txtReadyOnly"
											id="Text4" type="text" style="width:60px"
											value="#{unidade.VL_COMP == null? 0 : unidade.VL_COMP}" />
							</p:column>
							<p:column headerText="VL_TRST">
								<p:inputText styleClass="txtReadyOnly"
											id="Text9" type="text" style="width:60px"
											value="#{unidade.VL_TRST == null? 0 : unidade.VL_TRST}" />
							</p:column>
							<p:column headerText="VL_NEGA">
								<p:inputText styleClass="txtReadyOnly"
											id="Text12" type="text" style="width:60px"
											value="#{unidade.VL_TRST == null? 0 : unidade.VL_NEGA}" />
							</p:column>
							<p:column headerText="Analítico">
								<p:button id="Button2" type="button"
											value="Analítico"
											onclick="AbreTelaAnalitico('#{cadosDetalheRiscopot.strNrOs}', unidade.NR_SEQU_TRAN_FRAU_CNAL, unidade.NR_SEQU_TIPO_OPER_TRAN, unidade.NM_OPER, unidade.VL_TRAN)" />
							</p:column>
						</p:dataTable>
							
						<p:dataTable var="unidade" value="#{cadosDetalheRiscopot.objRsProdAux}">
					
							<p:column headerText="NM_OPER">
								<h:outputText value="#{unidade.NM_PROD_AUXI}" />
							</p:column>
							<p:column headerText="VL_EXCL_PRCL">
								<p:inputText styleClass="txtReadyOnly"
											id="Text5" type="text" style="width:60px"
											value="#{unidade.VL_EXCL_PRCL == null? 0 : unidade.VL_EXCL_PRCL}" />
							</p:column>
							<p:column headerText="VL_RECR_MES_PRCL">
								<p:inputText styleClass="txtReadyOnly"
											id="Text6" type="text" style="width:60px"
											value="#{unidade.VL_RECR_MES_PRCL == null? 0 : unidade.VL_RECR_MES_PRCL}" />
							</p:column>
							<p:column headerText="VL_RECR_FORA_MES_PRCL">
								<p:inputText styleClass="txtReadyOnly"
											id="Text7" type="text" style="width:60px"
											value="#{unidade.VL_RECR_FORA_MES_PRCL == null? 0 : unidade.VL_RECR_FORA_MES_PRCL}" />
							</p:column>
							<p:column headerText="VL_COMP">
								<p:inputText styleClass="txtReadyOnly"
											id="Text8" type="text" style="width:60px"
											value="#{unidade.VL_COMP == null? 0 : unidade.VL_COMP}" />
							</p:column>
							<p:column headerText="VL_TRST">
								<p:inputText styleClass="txtReadyOnly"
											id="Text10" type="text" style="width:60px"
											value="#{unidade.VL_TRST == null? 0 : unidade.VL_TRST}" />
							</p:column>
							<p:column headerText="VL_NEGA">
								<p:inputText styleClass="txtReadyOnly"
											id="Text11" type="text" style="width:60px"
											value="#{unidade.VL_NEGA == null? 0 : unidade.VL_NEGA}" />
							</p:column>
							<p:column headerText="Analítico">
								<p:button id="Button1" type="button"
											value="Analítico"
											onclick="AbreTelaAnalitico('#{cadosDetalheRiscopot.strNrOs}', unidade.CD_PROD_AUXI, unidade.NM_PROD_AUXI, unidade.CD_PROD_AUXI, unidade.VL_TRAN)" />							</p:column>
						</p:dataTable>	
					</table>
				</div>
				<table>
					<tr style="height: 5px">
						<td></td>
					</tr>
					<tr>
						<td><b>Ressarcimento:</b></td>
						#{cadosDetalheRiscopot.validardoRessarc()}
						<p:selectOneRadio id="rdoRessarc"
							value="#{cadosDetalheRiscopot.rdoRessarc}">
								<f:selectItem itemLabel="Aprovado" itemValue="1" />
								<f:selectItem itemLabel="Negado" itemValue="2" />
						</p:selectOneRadio>
					</tr>
				</table>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
