<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">
		<h:head>
		<title></title>
		<link rel="Stylesheet" href="../css/hy_style.css" type="text/css"
			media="screen" />
		<script language="javascript" src="../javascript/hy_funcoes.js"></script>

		<script type="text/javascript">
			//<![CDATA[

			function Adicionar(iReg) {
				document.forms['frmCC'].hdnRegistro.value = iReg;
				document.forms['frmCC'].submit();
			}

			//]]>
		</script>

		</h:head>
		<h:body>
			<h:form id="frmCC" action="hyb_cadastroos_pesquisacontacd.xhtml"
				method="post">
				<fieldset class="PanelTitle">

					<p:panelGrid id="pgPanel1" rendered="#{param['produto'] == 1}">
						<table width="100%" border="0"
							style="background-color: Red; color: White">
							<tr>
								<td colspan="6">Eventos > Adicionar Cartão de Débito</td>
							</tr>
							<tr>
								<td><b>Resultado da Pesquisa</b></td>
								<td><b>Nº da OS:&#160;&#160;2007000000</b></td>
							</tr>
							<tr style="background-color: red; height: 1px;">
								<td colspan="8"></td>
							</tr>
						</table>
						<table border="0" width="100%">
							<tr style="background-color: Silver; color: black">
								<td width="30%"><b>Nº Cartão</b></td>
								<td width="22%"><b>Titular</b></td>
								<td colspan="2"><b>CPF/CNPJ</b></td>
							</tr>
							<!-- <h:outputText value="#{PesquisaContaCD.FillTblCartPart()}"/> -->
							<tr>

								<td>#{PesquisaContaCD.cadastroPesquisaContaCD.NRCARTAO}</td>
								<p:inputText type="hidden" id="hdnCartaoiCont"
									name="hdnCartaoiCont"
									value="#{PesquisaContaCD.cadastroPesquisaContaCD.NRCARTAO}" />

								<td>#{PesquisaContaCD.cadastroPesquisaContaCD.TITULAR}</td>
								<p:inputText type="hidden" id="hdnTitulariCont"
									name="hdnTitulariCont"
									value="#{PesquisaContaCD.cadastroPesquisaContaCD.TITULAR}" />

								<td>#{PesquisaContaCD.cadastroPesquisaContaCD.CPFCNPJ}</td>
								<p:inputText type="hidden" id="hdnCfpCnpjiCont"
									name="hdnCfpCnpjiCont"
									value="#{PesquisaContaCD.cadastroPesquisaContaCD.CPFCNPJ}" />

								<td align="right"><p:inputText type="button"
										onclick="Adicionar(iCont)" value="+"
										style="width:20px; text-align:center" /></td>
							</tr>

						</table>
					</p:panelGrid>

					<p:panelGrid id="pgPanel2" rendered="#{param['produto'] == 2}">
						<table width="100%" border="0"
							style="background-color: Red; color: White">
							<tr>
								<td colspan="6">Eventos > Adicionar Conta Bancária</td>
							</tr>
							<tr>
								<td><b>Resultado da Pesquisa</b></td>
								<td><b>Nº da OS:2007000000</b></td>
							</tr>
							<tr style="background-color: red; height: 1px;">
								<td colspan="8"></td>
							</tr>
						</table>

						<table border="0" width="100%">
							<tr style="background-color: Silver; color: black">
								<td width="20%"><b>Nº Conta</b></td>
								<td width="15%"><b>Tipo</b></td>
								<td width="22%"><b>Titular</b></td>
								<td colspan="2"><b>CPF/CNPJ</b></td>
							</tr>
							<!-- <h:outputText value="#{PesquisaContaCD.FillTblContaPart()}"/> -->
							<tr>
								<td>#{PesquisaContaCD.cadastroPesquisaContaCD.NRCARTAO}</td>
								<td>#{PesquisaContaCD.cadastroPesquisaContaCD.TIPO}</td>
								<td>#{PesquisaContaCD.cadastroPesquisaContaCD.TITULAR}</td>
								<td>#{PesquisaContaCD.cadastroPesquisaContaCD.CPFCNPJ}</td>
								<td align="right"><p:inputText type="button" value="+"
										style="width:20px; text-align:center" /></td>
							</tr>
						</table>
					</p:panelGrid>
				</fieldset>
				<table>
					<tr>
						<td>Obs: O resultado da pesquisa refere-se aos CPF/CNPJ dos
							participantes da ocorrência</td>
					</tr>
				</table>
				<p:inputText type="hidden" id="hdnRegistro" name="hdnRegistro"
					value="-1" />
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
