<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

		<h:head>
			<title></title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>

			<script type="text/javascript">
	//<![CDATA[
	function ValidarOS()

	{
		var txtOcorEspec = parent.document.iframeOS.frmNos['frmNos:txtOcorEspec'].value;
		if (txtOcorEspec == '') {
			alert('Preencha o número da Ordem de Serviço');
			parent.document.iframeOS.frmNos['frmNos:txtOcorEspec'].focus;
			return;
		}
		
		parent.document.iframeOS.frmNos['frmNos:txtOcorEspec'].disabled= true;
		parent.document.iframeOS.frmNos['frmNos:txthdPesqOs'].value = parent.document.iframeOS.frmNos['frmNos:txtOcorEspec'].value;
		parent.document.iframeOS.frmNos['frmNos:txtOcorEspec'].disabled= false;
		/* document.getElementById('frm:btnSubmitForm').click();
		document.forms[0].submit(); */
		
		validaOSRemoteCommand([]);
	}
	
	window.onload = function()
	{
		if (parent.document.iframeOS.frmNos['frmNos:txtOcorEspec'].value != '' )
	    {
			//parent.document.iframeDest.frmDestinatario['frmDestinatario:txtDestinatario'].disabled = false;
			parent.document.frm['txtMesg'].disabled = true;
			parent.document.frm['frm:txtPrazRet'].disabled= false;
			parent.document.frm['frm:cboTpNotificacao'].disabled= false;
			parent.document.iframeOS.frmNos['frmNos:txtOcorEspec'].disabled= true;
			parent.document.iframeDest.frmDestinatario['frmDestinatario:txtDestinatario'].value;
	    }	
	}

	//]]>
</script>
		</h:head>
		<h:body class="PanelTitle">

<h:form id="frmNos" name="frmNos">

<table width="100%" border="0">
    <tr>
        <td width="22%">N&#176; O.S:</td>
        <td><p:inputText id="txtOcorEspec" name="txtOcorEspec" type="text" style="width:100px" maxlength="10" value="#{AdmWorkflowNotificacaoManualBean.txtOcorEspec}" />
       <p:remoteCommand name="validaOSRemoteCommand" actionListener="#{AdmWorkflowNotificacaoManualBean.validaOS}" />
        <p:graphicImage value="../images/lupa.gif" style="cursor:pointer;" onclick="ValidarOS()" />
        </td>
        
    </tr> 
</table>

<p:inputText id="txtHdAction" name="txtHdAction" type="hidden" value="P" />
<p:inputText id="txthdPesqOs" name="txthdPesqOs" type="hidden" value="#{AdmWorkflowNotificacaoManualBean.strNrOS}" />
<p:inputText id="txthdPesqNrNoti" name="txthdPesqNrNoti" type="hidden" value="#{AdmWorkflowNotificacaoManualBean.strNrNotiAnt}" />

</h:form>
		</h:body>
</html>
