<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/templates/template.xhtml">
       
             <ui:define name="content" >


<h:head>
	<title></title>
	<script type="text/javascript">
	//<![CDATA[

		window.onload = function() {
			redirect();
		};
		
	//]]>
	</script>
</h:head>

<h:body>

<!-- Redireciona se tiver dados no retorno -->
 <h:form id="redirectForm" method="post">
	<p:remoteCommand name="redirect" actionListener="#{hyb_excel_pesquisa_resultado_bean.redirect}" />
</h:form>
    
</h:body>
</ui:define>
</ui:composition>
