<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">


		<h:head>
			<title>HYB - Ocorrências Especiais</title>

			<style>
				.styleRow {
					background: red;
					color: white;
					font-weight: bold;
				}
			</style>
		</h:head>
		<h:body class="PanelTitle">
			<h:form id="form" name="form">
				<!-- CABEÇALHO -->
				<p:dataTable var="result" value="#{relOSCustoTotalOSBean.objRsRelat}"
					rowStyleClass="styleRow" rowIndexVar="index" id="tableCustoTotalOs" emptyMessage="Não existem dados para o período selecionado.">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="10"
								headerText="Superintendência de Ocorrências Especiais"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="10"
								headerText="Relatório Custo Total OS´s"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column colspan="5"
								headerText="Período: #{relOSCustoTotalOSBean.strDtIni} até #{relOSCustoTotalOSBean.strDtFim}"
								style="align:center" />
							<p:column colspan="5"
								headerText="Área: GOE"
								style="align:center" />
						</p:row>
						<p:row>
							<p:column headerText="" style="align:center" />
							<p:column headerText="N° OS" style="align:center" />
							<p:column headerText="Status" style="align:center" />
							<p:column headerText="Data Abertura" style="align:center" />
							<p:column headerText="Data Encerramento" style="align:center" />
							<p:column headerText="Valor Envolvido" style="align:center" />
							<p:column headerText="Valor Perda" style="align:center" />
							<p:column headerText="Custo Fixo" style="align:center" />
							<p:column headerText="Custo Variável" style="align:center" />
							<p:column headerText="Custo OS" style="align:center" />
						</p:row>
					</p:columnGroup>
					
					<p:column>
						<h:outputText style="width:30px" value="#{index + 1}" />
					</p:column>
					<p:column>
						<h:outputText value="#{result.NR_SEQU_ORDE_SERV}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.NM_SITU_ORDE_SERV}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.DT_ABER_ORDE_SERV}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.DT_ENCERRAMENTO}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.VL_ENVO_FORMATADO}" />
					</p:column>

					<p:column>
						<h:outputText value="#{result.VL_PERD_EFET_FORMATADO}" />
					</p:column>

					<p:column>
						<h:outputText value=" " />
					</p:column>

					<p:column>
						<h:outputText value=" " />
					</p:column>

					<p:column>
						<h:outputText value="#{result.VL_CUST_ORDE_DE_SERV_FORMATADO}" />
					</p:column>

					<!--RODAPE-->

				</p:dataTable>

				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<!-- <p:dataExporter type="xls" target="tableCustoTotalOs"
						fileName="OCESP_Relatorio" /> -->
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="tableCustoTotalOs"
						fileName="OCESP_Relatorio"
						fontName="Calibri" cellFontColor="#000000" cellFontSize="150"
						cellFontStyle="NORMAL" encoding="UTF-8"
						  postProcessor="#{relOSCustoTotalOSBean.postProcessExcel}" /> <!-- -->
				</h:commandLink>
			</h:form>
			<script type="text/javascript">
				//<![CDATA[
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
							//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{relOSCustoTotalOSBean.strDtIni}&pDtFim=#{relOSCustoTotalOSBean.strDtFim}','_self');
					},5000); 
				 }
					function Voltar() {
						history.back();
					}
					function LimparUrl(){
						history.pushState(null, '', '');
					}
	
					function Imprimir() {
						window.print();
					}
				//]]>
			</script>
		</h:body>
</ui:composition>
