<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
    	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/santander.css" media="screen"/>
    	<script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	
		<script type="text/javascript">
        	//<![CDATA[
				function Resize(){
					window.parent.document.all['ifrmOs'].height=400;
				}				
				
				function Recusar(){
				    if('#{aprovarOSIframeBean.objRsModel.CD_NOTI}' != '2010'){
				        alert('Não foi possível completar a operação.\nPara recusar uma OS, seu status deve ser igual P - Planejada!');
				        return;
				    }
				    
				    if (document.getElementById('frm:txtMotivoRecusa').value.length < 10){
				        alert('Não foi possível recusar a Os.\nEntre com o motivo da recusa.\nO texto deve ter mais de 10 caracteres.')
				        return;
				    }
				    chamarRecusar();
				}

				function Aprovar(){
				    if('#{aprovarOSIframeBean.objRsModel.CD_NOTI}' == '2010'){
				        if ('#{aprovarOSIframeBean.equipAtribTotal}' == '0'){
				            alert('Não foi possível completar a operação.\nNenhum recurso foi atribuído à equipe responsável pela Ordem de Serviço!');
				            return;
				        }
					    chamarAprovar();
				    }else{
				        alert('Não foi possível completar a operação.\nPara aprovar uma OS, seu status deve ser igual P - Planejada!');
				        return;
				    }
				}  
		    //]]>
		</script>
    </h:head>
 
    <h:body class="PanelTitle" style="height:100%" onload="Resize()">
	    <h:form id="frm">
			<table width="100%" border="0" style="background-color:Red; color:White">
			    <tr>
			        <td colspan="6">Pesquisa OS > Recusar OS</td>
			    </tr>
			    <tr style=" font-weight:bold">
			        <td>Nº OS:</td>
			        <td><h:outputText value="#{aprovarOSIframeBean.objRsModel.CODIGO}"></h:outputText></td>
			        <td>Status:</td>
			        <td><h:outputText value="#{aprovarOSIframeBean.objRsModel.SITUACAO}"></h:outputText></td>
			        <td align="right">
			        	<p:commandButton id="btVoltar" value="Voltar" onclick="parent.parent.parent.PF('btn-dialog').hide()" style="margin-right:10px;" />
			        	
			        	<p:commandButton type="button" id="btAprovarOS" value="Aprovar OS" onclick="Aprovar()" style="margin-right:10px;" />
			        	<p:remoteCommand name="chamarAprovar" update="frm" action="#{aprovarOSIframeBean.aprovarOS}" />
			        	
    					<p:commandButton type="button" id="btRecusarOS" value="Recusar OS" onclick="Recusar()" style="margin-right:10px;" />
    					<p:remoteCommand name="chamarRecusar" update="frm" actionListener="#{aprovarOSIframeBean.recusarOS}" />
    					
    					<p:remoteCommand name="chamarAtualizar" update="@form" />
    				</td>
			    </tr>
			    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
			</table>
			<table width="100%" border="0" >
			    <tr>
			        <td colspan="6">
			            Motivo da Recusa:<br />
			            <p:inputTextarea id="txtMotivoRecusa" name="txtMotivoRecusa" rows="10" cols="20" value="#{aprovarOSIframeBean.objRsModel.MOT_REC_APROV}" style="width:99%; height:150px"></p:inputTextarea>
			        </td>
			    </tr>
			</table>
		</h:form>
    </h:body>
</html>