<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">




		<h:head>
			<title>Ocorrências Especiais</title>
			<link rel="Stylesheet" href="../css/hy_style.css" type="text/css"
				media="screen" />
			<link rel="stylesheet" href="../css/hy_calendar.css" media="screen" />
			<script language="javascript" src="../javascript/hy_funcoes.js"></script>
			<script type="text/javascript" src="../javascript/hy_calendario.js"></script>
			
			<style>
				body{
					padding:10px;
					overflow:hidden;
				}
			</style>
			
			<script type="text/javascript">
				//<![CDATA[

				function Fechar() {
					window.close();
				}

				//]]>
			</script>
		</h:head>

		<h:body class="PanelTitle">
			<h:form id="frm-lanchr" method="post">
			<p:remoteCommand name="atualizarRemoteCommand" update="@all"/>
				<table width="100%" border="0"
					style="background-color: Red; color: White">
					<tr>
						<td colspan="6">Atribuir Equipe à OS > Lançar horas
							trabalhadas</td>
					</tr>
					<tr>
						<td><b>Nome: <h:outputText
									value="#{CadOsEquipatribBean.strNome}" /></b></td>
						<td><b>Nº da OS: <h:outputText
									value="#{CadOsEquipatribBean.strNrSeqOs}" /></b></td>
						<td align="right"><p:commandButton id="btnFechar"
								type="button" value="Fechar" onclick="Fechar()" /></td>
					</tr>
					<tr style="background-color: red; height: 1px;">
						<td colspan="8"></td>
					</tr>
				</table>	
				
			</h:form>
			<iframe id="ifrmLancHr"
				src="hyb_cados_equipatrib_lanchr_iframe.xhtml?strNrSeqOs=#{CadOsEquipatribBean.strNrSeqOs}"
				scrolling="no" frameborder="0" height="150" width="100%"></iframe>
		</h:body>
</html>
