<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <title></title>
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javascript" language="javascript">
		//<![CDATA[
		parent[0].location.search = "strTitulo=Nova OS - #{cadOsMenuBean.strNrSeqOs} - Participação no Processo";
		parent.PF("statusDialog").hide();
				
		window.onload = function () {
			Resize();
		}

		
		function Resize(){
			
			setTimeout(function(){
				window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;
				
			}, 500);
			//window.parent.document.all['ifrmNovaOs'].height=400;	
		}
		
		function Excluir(sq_parp, nrSeqOs){
			console.log(nrSeqOs, "nrSeqOs");
		    excluirRemoteCommand([{name: 'sq_parp', value: sq_parp}]);
		}
		
		function PesquisaEnvolvidos(number){
			switch (number) {
			case 1:
				parent.PF('statusDialog').show();
				refreshFuncionarioNrOS();				
				PF('pesquisa-envolvida-equipe').show();
				break;
			case 2:
				parent.PF('statusDialog').show();
				refreshClienteNrOS();
				PF('pesquisa-envolvida-cliente').show();
				break;
			case 4:
				parent.PF('statusDialog').show();
				refreshNaoClienteNrOS();
				PF('pesquisa-envolvida-naocliente').show();
				break;
			default:
				break;
			}			
		}
		
		function AbreDetalhes(beanName, url) {
			clearBeanRemoteCommand([{name: 'beanName', value: beanName}, {name: 'pageName', value: url}]);
		}
		
		//]]>
	</script>
	<style>.hide{height: 0; width: 0; padding: 0; border: none;}</style>
</h:head>
<h:body >
	
	<f:event type="preRenderView" listener="#{facesContext.externalContext.response.setHeader('Cache-Control', 'no-cache, no-store')}" />
	
	<ui:param name="strNrSeqOs" value="#{strNrSeqOs}"/>	
	<h:form name="frmParticipante" id="frmParticipante" action="HY_CadOs_Participacao_Processo.asp?strNrSeqOs=#{strNrSeqOs}" method="post">		
	
		<p:remoteCommand action="#{cadosParticipacaoProcessoBeanBean.clearBean}" name="clearBeanRemoteCommand" update="@all"/>
		<p:remoteCommand action="#{cadosParticipacaoProcessoBeanBean.excluir}" name="excluirRemoteCommand" update="@all"/>
		<p:remoteCommand action="#{cadosParticipacaoProcessoBeanBean.reloadObjects}" name="reloadObjectsRemoteCommand" update="@all"/>	
<!-- 	<p:fieldset > -->
	<table><tr style="height:5px"><td ></td></tr></table>
<!-- 	<p:fieldset> -->
		<legend>Pessoas Relacionadas ao Processo</legend>
		<table>
		    <tr>
		        <td>
		        	<p:commandButton id="Button10" type="button" value="Adicionar" onclick="PesquisaEnvolvidos(1);" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" onstart="parent.PF('statusDialog').show();" oncomplete="parent.PF('statusDialog').hide();">
		        	</p:commandButton>
		        	<p:dialog id="dialogEquipe" appendToBody="true" header="" widgetVar="pesquisa-envolvida-equipe" height="300" width="680" resizable="no">
		        		<p:ajax event="close"  listener="#{cadastroosPesquisaEquipeBean.limparCampos}" update="@form" onsuccess="#{cadosParticipacaoProcessoBeanBean.fillTblPart(1)}" onstart="parent.PF('statusDialog').show();" oncomplete="parent.PF('statusDialog').hide();"/>
		        		<!-- frmParticipante:dialogEquipe -->
		        		<h:form id="modalEquipe">
		        			<p:inputText value="#{cadOsMenuBean.strNrSeqOs}" id="nros" name="nros" styleClass="hide" readonly="true"></p:inputText>
							<iframe id="IFrmPopUpPartFuncionario" src="hyb_cadastroos_pesquisaequipe.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}" frameborder="0" width="100%" style="min-height: 300px" scrolling="auto"></iframe>
						</h:form>
					</p:dialog>
		        </td>
		    </tr>
		</table>
		    <p:dataTable tableStyle="table-layout:auto" paginator="false" value="#{cadosParticipacaoProcessoBeanBean.objRsParticipColaboradores}" var="participColaboradores" emptyMessage="">
		    	<p:column headerText="Tipo">
			        <h:outputText value="#{participColaboradores.TP_PESSOA}"/>
			    </p:column>
			    <p:column headerText="Matrícula">
			        <h:outputText value="#{participColaboradores.MATRICULA}"/>
			    </p:column>
			    <p:column headerText="Colaborador">
			    	<h:outputText value="#{participColaboradores.NOME}"/>
			    </p:column>
			    <p:column headerText="Cargo">
			    	<h:outputText value="#{participColaboradores.CARGO}"/>
			    </p:column>
			    <p:column headerText="CPF">
			    	<h:outputText value="#{participColaboradores.CPF_CNPJ}"/>
			    </p:column>
			    <p:column headerText="Segmentação">
			    	<h:outputText value="#{participColaboradores.SEGMENTO}"/>
			    </p:column>
			    <p:column headerText="Participação">
			    	<h:outputText value="#{participColaboradores.PARTICIPACAO}"/>
			    </p:column>
			    <p:column>
		    		<p:commandButton type="button" value="Detalhes" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" onclick="AbreDetalhes('CadastroosDetalheEnvolvFuncBean', 'hyb_cadastroos_detalheenvolvfunc.xhtml?NrSeqPart=#{participColaboradores.SQ_PARP}')" />
		    	</p:column>
			    <p:column>
					<p:commandButton icon="btn-excluir" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" styleClass="btn-limpar" id="btExcluir" onclick="Excluir('#{participColaboradores.SQ_PARP}', '#{cadOsMenuBean.strNrSeqOs}')" title="Excluir Colaborador da OS"/>
			    </p:column>
		    </p:dataTable>
	<!-- </p:fieldset> -->
	
	<table><tr style="height:5px"><td ></td></tr></table>
	 
	<!-- <p:fieldset> -->
		<legend>Cliente(s) do Banco</legend>
		<table border="0" width="auto">
		    <tr>
		        <td>
		        	<p:commandButton id="btnPesqClie" type="button" value="Adicionar" onclick="PesquisaEnvolvidos(2);" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" onstart="parent.PF('statusDialog').show();" oncomplete="parent.PF('statusDialog').hide();"/>
			        	<p:dialog id="dialogCliente" appendToBody="true" header="" widgetVar="pesquisa-envolvida-cliente" height="300" width="680" resizable="no" >
			        		<p:ajax event="close" listener="#{cadastroosPesquisaClienteBean.limparCampos}" update="@form" onsuccess="#{cadosParticipacaoProcessoBeanBean.fillTblPart(2)}" onstart="parent.PF('statusDialog').show();" oncomplete="parent.PF('statusDialog').hide();"/>
			        		<!-- frmParticipante:dialogCliente-->
			        		<h:form id="modalCliente">
			        			<p:inputText value="#{cadOsMenuBean.strNrSeqOs}" name="nros" styleClass="hide" readonly="true"></p:inputText>
								<iframe id="IFrmPopUpPartCliente" src="hyb_cadastroos_pesquisacliente.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}" frameborder="0" width="100%" style="min-height: 300px" scrolling="auto"></iframe>
							</h:form>
						</p:dialog>
		        </td>
		    </tr>
		</table>
		<p:dataTable tableStyle="table-layout:auto" paginator="false" value="#{cadosParticipacaoProcessoBeanBean.objRsParticipClientes}" var="participClientes" emptyMessage="">
			<p:column headerText="Tipo">
				<h:outputText value="P#{participClientes.TP_PESSOA}"/>
			</p:column>
			<p:column headerText="CPF">
		    	<h:outputText value="#{participClientes.CPF_CNPJ}"/>
		    </p:column>
		    <p:column headerText="Cliente">
		    	<h:outputText value="#{participClientes.NOME}"/>
		    </p:column>
		    <p:column headerText="Segmentação">
		    	<h:outputText value="#{participClientes.SEGMENTO}"/>
		    </p:column>
		    <p:column headerText="Participação">
		    	<h:outputText value="#{participClientes.PARTICIPACAO}"/>
		    </p:column>
		    <p:column >
		    	<p:commandButton type="button" value="Detalhes" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" onclick="AbreDetalhes('CadastroOsDetalheEnvolvClieBean', 'hyb_cadastroos_detalheenvolvclie.xhtml?NrSeqPart=#{participClientes.SQ_PARP}')" />
		   	</p:column>
		    <p:column >
				<p:commandButton icon="btn-excluir" styleClass="btn-limpar" id="btExcluir" onclick="Excluir('#{participClientes.SQ_PARP}', '#{cadOsMenuBean.strNrSeqOs}')" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" title="Excluir Cliente da OS"/>
		    </p:column>
		</p:dataTable>
	<!-- </p:fieldset> -->
	
	<table><tr style="height:5px"><td ></td></tr></table>
	
	<!-- <p:fieldset> -->
		<legend>Não Cliente(s) do Banco/Outros</legend>
		<table border="0" width="auto">
		    <tr>
		        <td>
		        	<p:commandButton id="Button1" type="button" value="Adicionar" onclick="PesquisaEnvolvidos(4);" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" onstart="parent.PF('statusDialog').show();" oncomplete="parent.PF('statusDialog').hide();"/>
		        	
			        	<p:dialog id="dialogNaoCliente" appendToBody="true" header="" widgetVar="pesquisa-envolvida-naocliente" height="300" width="680" resizable="no">
			        		<p:ajax event="close" listener="#{cadastroosPesquisaNaoClienteBean.limparCampos}" update="@form" onsuccess="#{cadosParticipacaoProcessoBeanBean.fillTblPart(4)}" onstart="parent.PF('statusDialog').show();" oncomplete="parent.PF('statusDialog').hide();"/>
			        		<!-- frmParticipante:dialogNaoCliente -->
			        		<h:form id="modalNaoCliente">
			        			<p:inputText value="#{cadOsMenuBean.strNrSeqOs}" name="nros" styleClass="hide" readonly="true"></p:inputText>
								<iframe id="IFrmPopUpPartNaoCliente" src="hyb_cadastroos_pesquisanaocliente.xhtml?strNrSeqOs=#{cadOsMenuBean.strNrSeqOs}" frameborder="0" width="100%" style="min-height: 300px" scrolling="auto"></iframe>
							</h:form>
						</p:dialog>
		        </td>
				<td>
		        	<p:commandButton id="Button2" type="button" value="Cadastrar" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" onclick="AbreDetalhes('CadastroOsDetalheEnvolvNaoClienteBean', 'hyb_cadastroos_detalheenvolvnaocliente.xhtml?strNrSeqOs=#{cadosParticipacaoProcessoBeanBean.strNrSeqOs}')"/>
		        </td>
		  	</tr>
		</table>
		<p:dataTable tableStyle="table-layout:auto" paginator="false" value="#{cadosParticipacaoProcessoBeanBean.objRsParticipNaoClientes}" var="participNaoClientes" rowIndexVar="idx" emptyMessage="">
			<p:column headerText="Tipo">
				<h:outputText value="P#{participNaoClientes.TP_PESSOA}"></h:outputText>
			</p:column>
			<p:column headerText="CPF">
		    	<h:outputText value="#{participNaoClientes.CPF_CNPJ}"/>
		    </p:column>
		    <p:column headerText="Não Cliente/Outros">
		    	<h:outputText value="#{participNaoClientes.NOME}"/>
		    </p:column>
		     <p:column headerText="Participação">
		    	<h:outputText value="#{participNaoClientes.PARTICIPACAO}"/>
		    </p:column>
		    <p:column >
		    	<p:commandButton value="Detalhes" disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" onclick="AbreDetalhes('CadastroOsDetalheEnvolvNaoClienteBean', 'hyb_cadastroos_detalheenvolvnaocliente.xhtml?NrSeqPart=#{participNaoClientes.SQ_PARP}')"/>
		   	</p:column>
		    <p:column >
				<p:commandButton icon="btn-excluir" styleClass="btn-limpar" id="btExcluir" onclick="Excluir('#{participNaoClientes.SQ_PARP}', '#{cadOsMenuBean.strNrSeqOs}')"  disabled="#{cadosParticipacaoProcessoBeanBean.desabilitarCampos}" title="Excluir Cliente da OS"/>
		    </p:column>
		</p:dataTable>
		<p:remoteCommand action="#{cadosParticipacaoProcessoBeanBean.clearBean}" name="clearBeanRemoteCommand" />
	<!-- </p:fieldset> -->
		
	<!-- </p:fieldset> -->
	
	<p:remoteCommand name="refreshFuncionarioNrOS" action="#{cadastroosPesquisaEquipeBean.refreshFuncionarioNrOS(cadOsMenuBean.strNrSeqOs)}" />
	<p:remoteCommand name="refreshClienteNrOS" action="#{cadastroosPesquisaClienteBean.refreshClienteNrOS(cadOsMenuBean.strNrSeqOs)}" />
	<p:remoteCommand name="refreshNaoClienteNrOS" action="#{cadastroosPesquisaNaoClienteBean.refreshNaoClienteNrOS(cadOsMenuBean.strNrSeqOs)}" />
	</h:form>
</h:body>
</html>