<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml">
<h:head>
    <title></title>
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
</h:head>
<h:body class="PanelTitle">
    <script type="text/javascript">
        //<![CDATA[
        parent.PF("statusDialog").hide();
        parent[0].location.search = "strTitulo=Alterar OS - #{cadOsMenuBean.strNrSeqOs} - Valores Envolvidos";
        	
	    function Salvar() {
	    	callSalvar();
	    }
	
	    function fnCalculaValorEnvolvido(){
	    
	        var dblAuxValEnvolv;
	        var dblValEnvolv;
	        var dblValRecup;
	        var dblValExcl;
	        var dblValPrej;
	        var dblValNegado;
	        var dblValTransit;
	        var dblValEvitado;
	        
	        if (document.getElementById('frm:txtPerdEfet').value=='') 
	            dblValPrej = 0;
	        else
	            dblValPrej = parseFloat(replace(replace(document.getElementById('frm:txtPerdEfet').value, '.', ''),',','.'));
	        
	        if (document.getElementById('frm:txtValEnvol').value=='') 
	            dblValEnvolv = 0;
	        else
	            dblValEnvolv = parseFloat(replace(replace(document.getElementById('frm:txtValEnvol').value, '.', ''),',','.'));
	
	        if (document.getElementById('frm:txtValRec').value=='') 
	            dblValRecup = 0;
	        else
	            dblValRecup = parseFloat(replace(replace(document.getElementById('frm:txtValRec').value, '.', ''),',','.'));
	        
	        if (document.getElementById('frm:txtValExcl').value=='') 
	            dblValExcl = 0;
	        else
	            dblValExcl = parseFloat(replace(replace(document.getElementById('frm:txtValExcl').value, '.', ''),',','.'));
	            
	        if (document.getElementById('frm:txtValNegado').value=='') 
	            dblValNegado = 0;
	        else
	            dblValNegado = parseFloat(replace(replace(document.getElementById('frm:txtValNegado').value, '.', ''),',','.'));
	    
	        if (document.getElementById('frm:txtValTransit').value=='') 
	            dblValTransit = 0;
	        else
	            dblValTransit = parseFloat(replace(replace(document.getElementById('frm:txtValTransit').value, '.', ''),',','.'));
	        
	        if (document.getElementById('frm:txtValEvitado').value=='') 
	            dblValEvitado = 0;
	        else
	            dblValEvitado = parseFloat(replace(replace(document.getElementById('frm:txtValEvitado').value, '.', ''),',','.'));
	
	        dblAuxValEnvolv = (dblValPrej - dblValRecup) + dblValExcl + dblValRecup + dblValNegado + dblValEvitado;
	        
	        if (dblAuxValEnvolv != dblValEnvolv) {
	            alert('A somatória dos valores não é igual ao Valor Envolvido.');
	            return false;
	        }
	        
	        return true;
	    }
	    
		//]]>
	</script>  
	<h:form id="frm" method="post" >
	<table> 
	    <tr valign="top">
	        <td width='50%'>
	            <table border="0" cellpadding="1" cellspacing="1">
	                <tr>
	                    <td width="20%">Valor Envolvido:</td>

	                    <td width="80%" >
	                        <p:inputText style="text-align:right" id="txtValEnvol" name="txtValEnvol" value="#{cadOsRiscoPotencialBean.objRsRiscoPotencial.VL_TRAN}" onkeypress="BlockKeybord();fnMascaraValor(this,2);" tabindex="1" maxlength="14" styleClass="txtReadyOnly" readonly="true" >
	                        </p:inputText>
	                    </td>
	                </tr>
	                <tr>
	                    <td nowrap="nowrap">Valor Recuperado:</td>
	                    <td>
	                        <p:inputText id="txtValRec" style="text-align:right" name="txtValRec" value="#{cadOsRiscoPotencialBean.objRsRiscoPotencial.VL_RECR}" onkeypress="BlockKeybord();fnMascaraValor(this,2);fnCalculaValorEnvolvido();" tabindex="2" maxlength="14" styleClass="txtReadyOnly" readonly="true" >
	                        </p:inputText>    
	                    </td>
	                </tr>  
	                <tr>
	                    <td nowrap="nowrap">Valor Excluído:</td>
	                    <td>
	                        <p:inputText id="txtValExcl" name="txtValExcl" style="text-align:right" value="#{cadOsRiscoPotencialBean.objRsRiscoPotencial.VL_EXCL_EVIT}" onkeypress="BlockKeybord();fnMascaraValor(this,2);" tabindex="3" maxlength="14" styleClass="texto" >
	                        </p:inputText> 
	                    </td>
	                </tr>
	                <tr>
	                    <td nowrap="nowrap">Valor Negado:</td>
	                    <td>
	                        <p:inputText id="txtValNegado" name="txtValNegado" style="text-align:right" value="#{cadOsRiscoPotencialBean.objRsRiscoPotencial.VL_NEGA}" onkeypress="BlockKeybord();fnMascaraValor(this,2);" tabindex="4" maxlength="14" styleClass="texto" >
	                        </p:inputText> 
	                    </td>
	                </tr>
	                <tr>
	                    <td nowrap="nowrap">Valor Transitório:</td>
	                    <td>
	                    	<!-- Value desse campo vem do VL_TRST, mas setado como 0 sempre -->
	                        <p:inputText id="txtValTransit" name="txtValTransit" style="text-align:right" value="0,00" onkeypress="BlockKeybord();fnMascaraValor(this,2);" tabindex="5" maxlength="14" styleClass="txtReadyOnly" readonly="true" >
	                        </p:inputText>
	                    </td>    
	                </tr>                     
	                <tr>
	                    <td nowrap="nowrap">Perda Efetiva / Prejuízo:</td>
	                    <td>
	                        <p:inputText id="txtPerdEfet" name="txtPerdEfet" style="text-align:right" value="#{cadOsRiscoPotencialBean.dblValPerdEfet}" onkeypress="BlockKeybord();fnMascaraValor(this,2);" tabindex="6" maxlength="14" styleClass="txtReadyOnly" readonly="true" >
	                        </p:inputText>
	                    </td>
	                </tr>
	                <tr>
	                    <td nowrap="nowrap">Valor Evitado:</td>
	                    <td>
	                        <p:inputText id="txtValEvitado" name="txtValEvitado" style="text-align:right" value="#{cadOsRiscoPotencialBean.objRsRiscoPotencial.VL_TRST}" onkeypress="BlockKeybord();fnMascaraValor(this,2);" tabindex="7" maxlength="14" styleClass="texto" >
	                        </p:inputText>
	                    </td>
	                </tr>
	                <tr>
	                    <td nowrap="nowrap">Risco Potencial:</td>
	                    <td>
	                        <p:inputText id="txtPerdPoten" name="txtPerdPoten" style="text-align:right" value="0,00" onkeypress="BlockKeybord();fnMascaraValor(this,2);" tabindex="8" maxlength="14" styleClass="txtReadyOnly" readonly="true"/>
	                    </td>
	                </tr>
	            </table>            
	        </td>               
	    </tr>
	</table>
	
	<p:commandButton actionListener="#{cadOsRiscoPotencialBean.salvar}" style="float:right; margin: 12px;" value="Salvar" id="salvar"></p:commandButton>
	
	</h:form>
</h:body>
</html>