<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
       xmlns:jsp="http://java.sun.com/JSP/Page"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:p="http://primefaces.org/ui"
       xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
       template="/templates/template.xhtml">

       <ui:define name="content">

             <h:head>
                    <link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
                           type="text/css" media="screen" />
                    <link rel="stylesheet"
                           href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
                    <script language="javascript"
                           src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
                    <script language="javascript"
                           src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
                    <script type="text/javascript"
                           src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
             </h:head>


             <ui:insert name="javaScriptReference" />

             <script type="text/javascript">
       //<![CDATA[  
		/*window.onload = function() {
					reloadRemoteCommand();
				}*/    	   
    	   
function BlockKeybord()
{
       if((event.keyCode < 48) || (event.keyCode > 57))
       {
             event.returnValue = false;
       }
}
             function ValidaData(obj)
{
    if (obj.value != '')
    {        
        if(!isDateString(obj.value))
        {
            alert('Data inválida!');
            obj.value = '';
            obj.focus();            
            return;
        }   
    }    
}

function fnMascaraCpfCnpj(objCpfCnpj)
{
    var strCpfCnpj = replace(replace(replace(objCpfCnpj.value,'/',''),'-',''),'.','');
    var objCpfCnpj = document.getElementById('frmPesquisa:txtCpfEnvolvido');

    if(strCpfCnpj.length == 11)
    {
        strCpfCnpj=strCpfCnpj.replace(/\D/g,"");          
        strCpfCnpj=strCpfCnpj.replace(/(\d{3})(\d)/,"$1.$2");
        strCpfCnpj=strCpfCnpj.replace(/(\d{3})(\d)/,"$1.$2");       
                                                 
        strCpfCnpj=strCpfCnpj.replace(/(\d{3})(\d{1,2})$/,"$1-$2");
        objCpfCnpj.value = strCpfCnpj;
        return true;
    }
    else if(strCpfCnpj.length == 14)
    {
        strCpfCnpj=strCpfCnpj.replace(/\D/g,"");
        strCpfCnpj=strCpfCnpj.replace(/^(\d{2})(\d)/,"$1.$2");
        strCpfCnpj=strCpfCnpj.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3");
        strCpfCnpj=strCpfCnpj.replace(/\.(\d{3})(\d)/,".$1/$2");
        strCpfCnpj=strCpfCnpj.replace(/(\d{4})(\d)/,"$1-$2");
        objCpfCnpj.value = strCpfCnpj;
        return true;
    }
    else if(strCpfCnpj.length != 0)
    {
        alert('CPF ou CNPJ inválido.');
        objCpfCnpj.value = '';
        return false;
    }
    
    
  
    
    
    
    
}
//]]>
</script>
             <h:body styleClass="PanelTitle">

			<style>
				.PesquisaOsFieldset .ui-fieldset-content>table {
				       margin-bottom: 0
				}
			</style>
                    <table cellSpacing="0" cellPadding="0" width="100%" border="0">
                           <tbody>
                                  <tr bgColor="#c02000">
                                        <td class="txt_white" style="height: 20px"><b>&nbsp;&nbsp;Pesquisar
                                                      OS</b></td>
                                  </tr>
                           </tbody>
                    </table>
                    

                    <h:form id="frmPesquisa" name="frmPesquisa" method="post">
                 		   <p:remoteCommand name="reloadRemoteCommand" actionListener="#{pesquisaOsBean.reload}" update="@form" process="@this"/>
                    
                           <table width="100%" border="0" cellspacing="6">
                                  <tr height="25">
                                        <td width="22%">Nº OS:</td>
                                        <td><p:inputText id="txtNrSeqOs" name="txtNrSeqOs"
                                                      value="#{pesquisaOsBean.txtNrSeqOs}" type="text"
                                                      onkeypress="BlockKeybord()" maxlength="10" /></td>
                                        <td>Status da OS:</td>
                                        <td width="30%"><p:selectOneMenu id="cboSituacaoOs"
                                                      value="#{pesquisaOsBean.cboSituacaoOsSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems
                                                             value="#{pesquisaOsBean.cboSituacaoOs}"
                                                             var="situacao"
                                                             itemLabel="#{situacao.CODIGO} - #{situacao.NOME}"
                                                             itemValue="#{situacao.CODIGO}" />                                                             
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Fase Análise OS:</td>
                                        <td><p:selectOneMenu id="cboFaseOs"
                                                      value="#{pesquisaOsBean.cboFaseOsSelecionada}">
                                                      <f:selectItem itemLabel="Todas" itemValue="" />
                                                      <f:selectItems 
                                                      		value="#{pesquisaOsBean.cboFaseOs}"
                                                      		var="fase"
                                                            itemLabel="#{fase.NOME}"
                                                            itemValue="#{fase.CODIGO}" />
                                               </p:selectOneMenu></td>
                                        <td>Criticidade OS:</td>
                                        <td><p:selectOneMenu id="cboCriticidadeOs"
                                                      value="#{pesquisaOsBean.cboCriticidadeOsSelecionada}">
                                                      <f:selectItem itemLabel="Todas" itemValue="" />
                                                      <f:selectItems
                                                             value="#{pesquisaOsBean.cboCriticidadeOs}"
                                                             var="criticidade"
                                                             itemLabel="#{criticidade.NOME}"
                                                             itemValue="#{criticidade.CODIGO}"/>
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Custo OS:</td>
                                        <td><p:inputText id="txtCustoOsIni" name="txtCustoOsIni"
                                                      value="#{pesquisaOsBean.txtCustoOsIni}" type="text"
                                                      style="width:50px; text-align:right"
                                                      onkeypress="if(event.wich &lt; 48 || event.wich &gt; 57) return false;"
                                                      maxlength="9" />,00 
                                                      à <p:inputText id="txtCustoOsFin"
                                                      name="txtCustoOsFin" value="#{pesquisaOsBean.txtCustoOsFin}"
                                                      type="text" style="width:50px; text-align:right"
                                                      onkeypress="if(event.wich &lt; 48 || event.wich &gt; 57) return false;"
                                                      maxlength="9" />,00</td>
                                  </tr>
                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>
                                  <tr height="25">
                                        <td>CPF/ CNPJ do envolvido:</td>
                                        <td><p:inputText id="txtCpfEnvolvido" name="txtCpfEnvolvido"
                                                      value="#{pesquisaOsBean.txtCpfEnvolvido}" type="text"
                                                      maxlength="14" style="width:100%"
                                                      onblur="fnMascaraCpfCnpj(this)" /></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Nome do Envolvido:</td>
                                        <td><p:inputText id="txtNomeEnvolvido"
                                                      name="txtNomeEnvolvido"
                                                      value="#{pesquisaOsBean.txtNomeEnvolvido}" type="text"
                                                      style="width:100%" maxlength="80" /></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Penalidade:</td>
                                        <td><p:selectOneMenu id="cboPenalidade"
                                                      value="#{pesquisaOsBean.cboPenalidadeSelecionada}">
                                                      <f:selectItem itemLabel="Todas" itemValue="" />
                                                      <f:selectItems
                                                             value="#{pesquisaOsBean.cboPenalidade}"
                                                             var="penalidade"
                                                             itemLabel="#{penalidade.NOME}"
                                                             itemValue="#{penalidade.CODIGO}" />
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Motivo Penalidade:</td>
                                        <td colspan="2"><p:selectOneMenu id="cboMotivoPenalidade"
                                                      value="#{pesquisaOsBean.cboMotivoPenalidadeSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems
                                                             value="#{pesquisaOsBean.cboMotivoPenalidade}"
                                                             var="motpena"
                                                             itemLabel="#{motpena.NOME}"
                                                             itemValue="#{motpena.CODIGO}"/>
                                               </p:selectOneMenu></td>
                                  </tr>

                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Nº Matrícula Analista Designado:</td>
                                        <td><p:inputText id="txtMatrAnDesig"
                                                      value="#{pesquisaOsBean.txtMatrAnDesig}" name="txtMatrAnDesig"
                                                      type="text" style="width:100%" maxlength="10" /></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Nome Analista<br />Designado:
                                        </td>
                                        <td colspan="2"><p:inputText id="txtNomeAnDesig"
                                                      value="#{pesquisaOsBean.txtNomeAnDesig}" name="txtNomeAnDesig"
                                                      type="text" style="width:100%" maxlength="50" /></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Situação Recurso:</td>
                                        <td><p:selectOneMenu id="cboSituacaoRec"
                                                      value="#{pesquisaOsBean.cboSituacaoRecSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems
                                                             value="#{pesquisaOsBean.cboSituacaoRec}"
															 var="situacaorec"
                                                             itemLabel="#{situacaorec.NOME}"
                                                             itemValue="#{situacaorec.CODIGO}" />
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>
                                  <tr height="25">

                                        <td>Canal de Origem:</td>
                                        <td colspan="2"><p:selectOneMenu id="cboCanalOrigem"
                                                      value="#{pesquisaOsBean.cboCanalOrigemSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems
                                                             value="#{pesquisaOsBean.cboCanalOrigem}"
                                                             var="canalorigem"
                                                             itemLabel="#{canalorigem.NOME}"
                                                             itemValue="#{canalorigem.CODIGO}" />
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Evento:</td>
                                        <td colspan="2"><p:selectOneMenu id="cboEvento"
                                                      value="#{pesquisaOsBean.cboEventoSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems 
                                                      	value="#{pesquisaOsBean.cboEvento}"
                                                      	var="evento"
                                                        itemLabel="#{evento.NOME}"
                                                        itemValue="#{evento.CODIGO}" />
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Canal:</td>
                                        <td colspan="2"><p:selectOneMenu id="cboCanalSelecionada"
                                                      value="#{pesquisaOsBean.cboCanalSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems
                                                             value="#{pesquisaOsBean.cboCanal}"
                                                             var="canalselecionada"
                                                             itemLabel="#{canalselecionada.NOME}"
                                                             itemValue="#{canalselecionada.CODIGO}"/>
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Produto Corporativo:</td>
                                        <td colspan="2"><p:selectOneMenu id="cboPCorp"
                                                      value="#{pesquisaOsBean.cboPCorpSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems value="#{pesquisaOsBean.cboPCorp}"
                                                      		 var="pcorp"
                                                             itemLabel="#{pcorp.NOME}"
                                                             itemValue="#{pcorp.CODIGO}" />
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Produto Auxiliar:</td>
                                        <td colspan="2"><p:selectOneMenu id="cboPAux"
                                                      value="#{pesquisaOsBean.cboPAuxSelecionada}">
                                                      <f:selectItem itemLabel="Todos" itemValue="" />
                                                      <f:selectItems value="#{pesquisaOsBean.cboPAux}"
                                                      		 var="paux"
                                                             itemLabel="#{paux.NOME}"
                                                             itemValue="#{paux.CODIGO}" />
                                               </p:selectOneMenu></td>
                                  </tr>
                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>
                                  <tr height="25">
                                        <td colspan="3"><p:selectBooleanCheckbox
                                                      value="#{pesquisaOsBean.chkInteresseCom}"
                                                      itemLabel="Interesse Comercial" /></td>
                                  </tr>
                                  <tr height="25">
                                        <td colspan="3"><p:selectBooleanCheckbox
                                                      value="#{pesquisaOsBean.chkRessarcimento}"
                                                      itemLabel="Ressarcimento" /></td>
                                  </tr>
                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Período da Pesquisa:</td>
                                        <td colspan="3"><p:calendar id="txtPeriPesqIni"
                                                      value="#{pesquisaOsBean.txtPeriPesqIni}" mask="99/99/9999"
                                                      pattern="dd/MM/yyyy" locale="pt_BR" showOn="button">
                                                      
                                               </p:calendar> &nbsp; até &nbsp; <p:calendar id="txtPeriPesqFin"
                                                      value="#{pesquisaOsBean.txtPeriPesqFin}" mask="99/99/9999"
                                                      pattern="dd/MM/yyyy" showOn="button">
                                               </p:calendar></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Data do Evento:</td>
                                        <td colspan="3"><p:calendar id="txtDataEventoIni"
                                                      value="#{pesquisaOsBean.txtDataEventoIni}" mask="99/99/9999"
                                                      pattern="dd/MM/yyyy" showOn="button">
                                                      <f:convertDateTime pattern="dd/MM/yyyy" />
                                               </p:calendar> &nbsp; até &nbsp; <p:calendar id="txtDataEventoFin"
                                                      value="#{pesquisaOsBean.txtDataEventoFin}" mask="99/99/9999"
                                                      pattern="dd/MM/yyyy" showOn="button">
                                                      <f:convertDateTime pattern="dd/MM/yyyy" />
                                               </p:calendar></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Data POC:</td>
                                        <td colspan="3"><p:calendar id="txtDataPocIni"
                                                      value="#{pesquisaOsBean.txtDataPocIni}" mask="99/99/9999"
                                                      pattern="dd/MM/yyyy" showOn="button">
                                                      <f:convertDateTime pattern="dd/MM/yyyy" />
                                               </p:calendar> &nbsp; até &nbsp; <p:calendar id="txtDataPocFin"
                                                      value="#{pesquisaOsBean.txtDataPocFin}" mask="99/99/9999"
                                                      pattern="dd/MM/yyyy" showOn="button">
                                                      <f:convertDateTime pattern="dd/MM/yyyy" />
                                               </p:calendar></td>
                                  </tr>
                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Cidade:</td>
                                        <td><p:inputText id="txtCidade" name="txtCidade"
                                                      value="#{pesquisaOsBean.txtCidade}" type="text" /></td>
                                        <td>Estado (Sigla):</td>
                                        <td><p:inputText id="txtEstado" name="txtEstado"
                                                      value="#{pesquisaOsBean.txtEstado}" type="text" maxlength="2" />
                                        </td>

                                  </tr>
                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>
                                  <tr height="25">
                                        <td>Código Departamento:</td>
                                        <td><p:inputText id="txtCdDepto"
                                                      value="#{pesquisaOsBean.txtCdDepto}" name="txtCdDepto"
                                                      type="text" style="width:73%" maxlength="7"
                                                      onkeypress="if(event.wich &lt; 48 || event.wich &gt; 57) return false;" /></td>
                                        <td>Nome Departamento:</td>
                                        <td><p:inputText id="txtNmDetpo"
                                                      value="#{pesquisaOsBean.txtCdDepto}" name="txtNmDetpo"
                                                      type="text" style="width:90%" maxlength="45" /></td>
                                  </tr>
                                  <tr style="background-color: Gray; height: 1px">
                                        <td colspan="8"></td>
                                  </tr>

                                  <tr height="25">
                                        <td>Unidade (Tipo/Número):</td>
                                        <td><p:inputText id="txtTpPv" name="txtTpPv"
                                                      value="#{pesquisaOsBean.txtTpPv}" type="text" style="width:25px"
                                                      maxlength="3"
                                                      onkeypress="if(event.wich &lt; 48 || event.wich &gt; 57) return false;" />&nbsp;
                                                       &nbsp; 
                                               <p:inputText id="txtCdPv" name="txtCdPv"
                                                      value="#{pesquisaOsBean.txtCdPv}" type="text" style="width:30px"
                                                      maxlength="4"
                                                      onkeypress="if(event.wich &lt; 48 || event.wich &gt; 57) return false;" />&nbsp;&nbsp;
                                        </td>
                                        <td>Nome Unidade:</td>
                                        <td><p:inputText id="txtNmPv" name="txtNmPv"
                                                      value="#{pesquisaOsBean.txtNmPv}" type="text" style="width:90%"
                                                      maxlength="45" />&nbsp;&nbsp;</td>
                                  </tr>
                           </table>
                           <table width="100%">
                                  <tr>
                                        <td>Texto de Abertura da OS:<br /> <p:inputTextarea
                                                      id="txtTextoAbertura" value="#{pesquisaOsBean.txtTextoAbertura}"
                                                      name="txtTextoAbertura" cols="20" rows="6"
                                                      style="text-align:left;width:50%;height:50" />
                                        </td>
                                  </tr>
                           </table>

						   <table width="100%" class="bg-red w-100 align-right">
				            	<tr height="25">
				                	<td align="right">	
			              			                           
			                            <p:commandButton 
			                                  value="Pesquisar"
			                                  action="#{pesquisaOsBean.pesquisar}">                                                                
			                           </p:commandButton>
			                           
			                                
		                           </td>
	                           </tr>
                           </table>
                                                      
                   </h:form>

             </h:body>
       </ui:define>
</ui:composition>
