<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

		<h:head>
			<title></title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
			<script type="text/javascript">
	//<![CDATA[
	window.onload = function()
	{		
	
/* 		if (document.forms[0].txtOcorEspec.value != '' )
	    {
			document.getElementById('frm:txtHdRetEmail').value = document.getElementById('frm:txtHdRetEmail').parentElement.value + '';
			document.getElementById('frm:txtDestinatario').value = document.getElementById('frm:txtHdRetEmail').parentElement.value;
			document.getElementById('frm:txtMesg').parentElement.disabled= false;
			document.getElementById('frm:txtPrazRet').parentElement.disabled= false;
			document.getElementById('frm:cboTpNotificacao').parentElement.disabled= true;
	    }	 */

	}
	
	function Pesquisar() {
		window.showModalDialog('hyb_adm_workflow_notificacao_pesq_email.xhtml',null,'dialogHeight:380px;dialogWidth:650px;center: Yes; resizable:no; status: No; scroll:Yes;');
	}
	
	function FormataEmail() //formata com ";" no final da string

	{
	    if (document.getElementById('frm:txtDestinatario').value != '')
	    {
	        var strEmailDest = document.getElementbyId('frm:txtDestinatario').value;
	        if (strEmailDest.substr(strEmailDest.length - 1) != ';')
	            {document.getElementById('frm:txtDestinatario').value = document.getElementById('frm:txtDestinatario').value + ';';}
	            
	        window.document.getElementById('frm:txtHdRetEmail').parentElement.value = document.getElementById('frm:txtDestinatario').value;
	    }    
	    else
	    {
	    	window.document.getElementById('frm:txtHdRetEmail').parentElement.value = document.getElementById('frm:txtDestinatario').value;
	    }
	}

	//]]>
</script>
		</h:head>
		<h:body class="PanelTitle">
			<h:form id="frmDestinatario" name="frmDestinatario" method="post">
				<table width="100%" border="0">
					<tr>
						<td width="22%">Destinatário:</td>
						<td>
						<p:inputTextarea id="txtDestinatario"
								rows="5" cols="30" maxlength="10"
								value=""
								counterTemplate="{0} characters remaining." autoResize="false" style="height:50px;width:80%;text-align:left"></p:inputTextarea>
							<p:graphicImage value="../images/lupa.gif" style="cursor:pointer;" onclick="Pesquisar()" /></td>
					</tr>
				</table>
	
			</h:form>
		</h:body>
</html>