<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>

	<title>HY - Ocorrências Especiais</title>
	
</h:head>

<h:body>
<!-- Random element with rendered=false, to override a PrimeFaces bug, which doesn't let the Javascript run -->
<p:inputText rendered="false" />


<!-- TEST
<h:outputText value="#{hy_redirect_bean.strAmbiente}"></h:outputText><br/>
<h:outputText value="#{hy_redirect_bean.strServer}"></h:outputText> -->
	
</h:body>

</ui:define></ui:composition>