<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">
	<ui:define name="content">

		<h:head>
			<meta http-equiv="Content-Type"
				content="text/html; charset=ISO-8859-1" />
			<title></title>
			<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
				type="text/css" media="screen" />
			<link rel="stylesheet"
				href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
			<script language="javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
			<script language="javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
			<script type="text/javascript"
				src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>



			<script type="text/javascript">
				//<![CDATA[
				// parent.rodape.location.replace("HY_BtnGenerico.asp?strButton=Salvar/Salvar@Reenviar/Reenviar@Detalhes/VerDetalhes");

				function Salvar() {
					var count = 0;
					var AuxNoti = '';
					var blnRet = false;

					if (document.querySelectorAll('input[id$="ChkNoti_input"]').length == 0) {
						return blnRet;
					}

					if (document.querySelectorAll('input[id$="ChkNoti_input"]').length > 1) {

						for (var i = 0; i < document
								.querySelectorAll('input[id$="ChkNoti_input"]').length; i++) {
							intNoti = document
									.querySelectorAll('input[id$="ChkNoti_input"]')[i];
							if (intNoti.checked) {
								nrNoti = document
										.querySelectorAll('input[id$="ChkNotiId"]')[i].value;
								AuxNoti = AuxNoti + nrNoti + '|';
								++count;
							}
						}
						if (count > 0) {
							document.getElementById('txtHdAction').value = 'A';
							document.getElementById('txthdAuxRet').value = AuxNoti;
							console.log("COunt 0 Submeter pagina " + AuxNoti);
							//document.forms[0].action = 'HY_Adm_Workflow_Notificacao_Pesq.asp'
							//document.forms[0].submit();
							btnSalvar([ {
								name : 'txthdAuxRet',
								value : AuxNoti
							} ]);
							//document.getElementById('frm').submit();
						}
					} else {
						if (document
								.querySelector('input[id$="ChkNoti_input"]').checked) {

							nrNoti = document
									.querySelector('input[id$="ChkNotiId"]').value;
							AuxNoti = AuxNoti + nrNoti + '|';
							document.forms[0].txtHdAction.value = 'A';
							document.forms[0].txthdAuxRet.value = AuxNoti;
							//document.forms[0].action = 'HY_Adm_Workflow_Notificacao_Pesq.asp'
							//document.forms[0].submit();
							btnSalvar([ {
								name : 'txthdAuxRet',
								value : AuxNoti
							} ]);
							//document.getElementById('frm').submit();
						}

					}
				}

				function Reenviar()

				{
					var retorno = verifyCheckboxes(1)

					if (retorno) {
						document.frm.txthdAuxRet.value = document.frm.txthdCkNoti.value;
						/* document.forms[0].action = 'HY_Adm_Workflow_Notificacao_Pesq.asp' */
						document.frm.txtHdAction.value = 'R';
						//document.forms[0].submit();
						btnReenviar([ {
							name : 'txthdAuxRet',
							value : document.frm.txthdCkNoti.value
						}, {
							name : 'txtHdAuxAreaOs',
							value : document.frm.txthdAuxAreaOs.value
						} ])
					}
				}

				function verifyCheckboxes(min) {
					var count = 0;
					var blnRet = false;

					if (document
							.querySelectorAll('input[name$="ChkNoti_input"]').length == 0) {
						return blnRet;
					}

					if (document
							.querySelectorAll('input[name$="ChkNoti_input"]').length > 1) {

						for (var i = 0; i < document
								.querySelectorAll('input[name$="ChkNoti_input"]').length; i++) {
							intChkNoti = document
									.querySelectorAll('input[name$="ChkNoti_input"]')[i];
							if (intChkNoti.checked) {
								document.getElementById('txthdCkNoti').value = document
										.querySelectorAll('input[name$="ChkNotiId"]')[i].value;
								document.getElementById('txthdAuxAreaOs').value = document
										.querySelectorAll('input[name$="txtHdAreaOs"]')[i].value;
								++count;
							}
						}
						if (count > 0 && count <= min) {
							blnRet = true
						} else {
							if (count < 1) {
								alert('Favor selecionar um item!')
							} else {
								alert('Favor selecionar somente um item!')
							}
						}
						return blnRet;
					} else {
						if (document
								.querySelector('input[name$="ChkNoti_input"]').checked) {
							document.getElementById('txthdCkNoti').value = document
									.querySelector('input[name$="ChkNotiId"]').value;
							document.getElementById('txthdAuxAreaOs').value = document
									.querySelector('input[name$="txtHdAreaOs"]').value;
							blnRet = true;
							return blnRet;
						} else {
							alert('Favor selecionar um item!');
						}
					}
				}

				function VerDetalhes()

				{
					var retorno = verifyCheckboxes(1);

					if (retorno) {
						AbreUrl('HYB_Adm_WorkFlow_Noificacao_Reenvia.xhtml?strNrSeqNoti='
								+ document.frm.txthdCkNoti.value);
						/* window.open('HY_Adm_WorkFlow_Noificacao_Reenvia.xhtml?strNrSeqNoti=' + document.forms[0].txthdCkNoti.value, '_self', ''); */
					}

				}

				function Pesquisar() {
					document.getElementById("txtHdAction").value = 'P';
					btnPesquisar();
					//document.getElementById('frm').submit();
				}

				function VerificaData(aObj) {
					if (aObj.value != '')
						if (!isDateString(aObj.value)) {
							alert("Data inválida.");
							aObj.focus();
						}
				}
				//]]>
			</script>
		</h:head>

		<h:body>

			<iframe
				src="titulo.xhtml?strTitulo= Administração - Workflow - Pesquisar Notificação"
				frameborder="0" width="100%" height="27"></iframe>
			<br/>
			<h:form id="frm" name="frm">
				<p:fieldset styleClass="PanelTitle">
					<table width="auto" border="0" cellpadding="1" cellspacing="1">
						<tr>
							<td>Período:</td>
							<td>
								<!-- <h:inputText id="txtDtInicio" name="txtDtInicio" maxlength="10" onblur="VerificaData(this);" type="text" styleClass="width:60px" /> -->
								<!-- onclick="displayCalendar(document.forms[0].txtDtInicio,'dd/mm/yyyy',this)" -->
								<p:calendar id="popup"
									value="#{AdmWorkflowNotificacaoPesq.txtDtInicio}"
									pattern="dd/MM/yyyy" mask="true" style="width:60px"
									showOn="button" /> <!-- <h:graphicImage name="/images/calendario.gif" styleClass="cursor:hand" align="absbottom" alt="Calendario" />&nbsp;até&nbsp; -->


								<!-- <h:inputText id="txtDtFim" name="txtDtFim" maxlength="10" onblur="VerificaData(this);" type="text" styleClass="width:60px" /> -->
								<p:calendar id="popup2"
									value="#{AdmWorkflowNotificacaoPesq.txtDtFim}"
									pattern="dd/MM/yyyy" mask="true" style="width:60px"
									showOn="button" /> <!-- <h:graphicImage align="absbottom" name="/images/calendario.gif"  alt="Calendario" styleClass="cursor:hand;" onclick="document."/> -->
							</td>
							<td align="right">&nbsp;&nbsp;&nbsp; <h:graphicImage
									value="../images/lupa.gif" alt="Pesquisar"
									onclick="Pesquisar();" style="cursor:pointer" />
							</td>

							<p:remoteCommand name="btnPesquisar" update="@form"
								action="#{AdmWorkflowNotificacaoPesq.pesquisar}" />
						</tr>
					</table>
				</p:fieldset>
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr height="25"
						style="background-color: gray; color: White; font-weight: bold">
						<td></td>
						<td>Data Envio</td>
						<td>Remetente</td>
						<td>OS</td>
						<td>Status do envio</td>
						<td></td>
					</tr>

					<ui:repeat value="#{AdmWorkflowNotificacaoPesq.objRsNotiManuais}"
						var="objRsNotiManual" varStatus="status">
						<tr height="25" style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">
							<td align="center"><input type="hidden" name="ChkNotiId"
								id="ChkNotiId" value="#{objRsNotiManual.NR_SEQU_NOTI_MANL_ENVI}" />
								<p:selectBooleanCheckbox type="hidden" name="ChkNoti"
									id="ChkNoti" label="Basic"
									disabled="#{objRsNotiManual.IN_ENVI_RETN == '1'}" /></td>
							<td><h:outputText value="#{objRsNotiManual.DATA}" /></td>
							<td><h:outputText
									value="#{objRsNotiManual.NM_RECU_OCOR_ESPC}" /></td>
							<td><h:outputText
									value="#{objRsNotiManual.NR_SEQU_ORDE_SERV}" /></td>

							<td><h:outputText
									value="#{objRsNotiManual.CD_SITU_ENVI == '1'? 'Năo Enviado': 'Enviado'}" /></td>
							<td><h:inputText id="txtHdAreaOs" name="txtHdAreaOs"
									type="hidden" value="#{objRsNotiManual.CD_AREA}"
									style="display: none;" /></td>
						</tr>
					</ui:repeat>

				</table>
				<p:row
					rendered="#{AdmWorkflowNotificacaoPesq.objRsNotiManuais.isEmpty()}">
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" align="center">Nenhum registro encontrado.</td>
						</tr>
					</table>
				</p:row>
				<br/>
				<table width="100%" class="bg-red w-100 align-right">
	            	<tr height="25">
	                	<td align="right">	
							<p:commandButton value="Salvar" type="button"
								styleClass="btn_110; cursor:hand" onclick="Salvar();" />
							<p:remoteCommand name="btnSalvar" update="@form"
								actionListener="#{AdmWorkflowNotificacaoPesq.salvar}" />
			
							<p:commandButton value="Reenviar" type="button"
								styleClass="btn_110; cursor:hand" onclick="Reenviar();" />
							<p:remoteCommand name="btnReenviar" update="@form"
								actionListener="#{AdmWorkflowNotificacaoPesq.reenviar}" />
			
							<p:commandButton value="Detalhes" type="button"
								styleClass="btn_110; cursor:hand" onclick="VerDetalhes();" />
						</td>
					</tr>
				</table>

				<!-- Inputs ocultos -->
				<input id="txthdCkNoti" name="txthdCkNoti" type="hidden" value="" />
				<input id="txtHdAction" name="txtHdAction" type="hidden" value="" />
				<input id="txthdAuxRet" name="txthdAuxRet" type="hidden" value="" />
				<input id="txthdAuxAreaOs" name="txthdAuxAreaOs" type="hidden"
					value="" />

			</h:form>
		</h:body>

	</ui:define>
</ui:composition>