<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >
<h:head>
	<title></title>
</h:head>
<h:body class="PanelTitle" style="height:100%">
	<iframe src="titulo.xhtml?strTitulo=" frameborder="0" width="100%" height="27"></iframe>
	<table width="100%">
		<tr>
			<td width="20" id="tdErro"></td>
			<td style="font-size:15px"><b>.:: Erro ::.</b></td>
		</tr>
		<tr height="50">
		<td width="20" ></td>
			 <td><h:outputText value="#{param['strErro']}" /></td>
		</tr>
		<tr>
		<td width="20" ></td>
			<td align=""><input id="Button1" type="button" value="Voltar" onclick="history.back(0);"/></td>
		</tr>		
	</table>
</h:body>
</ui:define></ui:composition>