<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>	    
    <h:outputStylesheet name="css/hy_style.css"/>
    <h:outputStylesheet name="css/hy_calendar.css"/>
    <h:outputScript name="javascript/hy_funcoes.js"/>
    <h:outputScript name="javascript/formchek.js"/>
    <h:outputScript name="javascript/hy_calendario.js"/>
    
   	<title>Administração - Gerencial</title> 
   	<style>
   		.adm-log-tabela tr:nth-child(odd) {
   			background-color: #e8e8e8;
   		}
   		section {
   			margin: 15px 5px;
   		}
   	</style>   	
   	<script>
  	//<![CDATA[
   		
  		// valida o período
  		function VerificaPeriodo() {
  			var perInicio = document.getElementById('frm:txtPerInicio_input');
  			var perFim = document.getElementById('frm:txtPerFim_input');
  			
  			if (perFim.value != '' && perInicio.value == '' ) {
  				alert ('Favor digitar o período inicial.')
  				perFim.focus();
  				return false;
  			}
  			if (document.getElementById('frm:txtPerFim_input').value != '') {
  				var splitDateI = perInicio.value.split("/");
  	  			var splitDateF = perFim.value.split("/");
  	  			
  	  			var dateI = new Date(splitDateI[2] + "-" + splitDateI[1] + "-" + splitDateI[0]);
  	  			var dateF = new Date(splitDateF[2] + "-" + splitDateF[1] + "-" + splitDateF[0]);
  	  			
  				if (dateF < dateI) {
  					alert ('Período Final não pode ser menor que o Período Inicial.')
  					perFim.value = '';
  					perFim.focus();
  					return false;
  				}
  			}
  			return true;
    	}
   		
   		function Pesquisar() {
   			   			
   			if(!VerificaPeriodo()) {
   				return;
   			}
   			
   			pesquisarRemoteCommand();
		}
   		   		
   		//function Imprimir() {   			
   		//	window.location.href = 'hy_imprimirLog.xhtml?qsPerInicio=' + document.getElementById('frm:txtPerInicio_input').value + '&qsPerFim=' + document.getElementById('frm:txtPerFim_input').value + '&qsCodUsua=' + document.getElementById('frm:txtCodUsua').value + '&qsCodAcaoUsua=' + document.getElementById('frm:cboAcaoUsua_input').value; 
   		//}
   		
   		function Imprime()
		{
			window.open("hyb_imprimirlog.xhtml", "", null, null);

		}
   		
   	//]]>
   	</script>
   </h:head>
   
 <h:body styleClass="PanelTitle" style="height: 100%">
 <iframe src="titulo.xhtml?strTitulo=Administração - Log de Ações" frameborder="0" width="100%" height="27"></iframe>
	<h:form id="frm" name="frm" method="post">
		<section>
			<p:outputLabel for="txtPerInicio" value="Período: " />
			<p:calendar id="txtPerInicio" value="#{hyAdmLogBean.dteInicio}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" style="margin-right: 10px" />
	     	<p:calendar id="txtPerFim" value="#{hyAdmLogBean.dteFim}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" showOn="button" mode="popup" style="margin-right: 10px" />	     
		</section>
		<section>
			<p:outputLabel for="txtCodUsua" value="Login usuário: " />
			<p:inputText id="txtCodUsua" name="txtCodUsua" maxlength="8" value="#{hyAdmLogBean.strCodUsua}" />
		</section>
		<section>
			<p:outputLabel for="cboAcaoUsua" value="Descrição da ação: " />
			<p:selectOneMenu id="cboAcaoUsua" value="#{hyAdmLogBean.strCboAcaoUsua}" style="width:125px">	            
	    			<f:selectItem itemLabel="Todos" itemValue='' />
	    			<f:selectItems value="#{hyAdmLogBean.objRsAcaoUsua}" var="rsAcaoUsa" itemLabel="#{rsAcaoUsa.usuaNome}" itemValue="#{rsAcaoUsa.usuaCod}" />
	        </p:selectOneMenu>
 			<p:graphicImage value="../images/lupa.gif" alt="Pesquisar Operação Corporativa" onclick="Pesquisar()" style="cursor: hand; margin-left: 10px"/>
		</section>
		
		<table class="tableImprime" style="display:none;" width="100%" cellpadding="1" cellspacing="1" border= "0">
			<tr><td height="20" align="center" style="FONT-SIZE: 12pt;"><b>Superintendência de Ocorrências Especiais</b></td></tr>
			<tr><td height="50" align="center" style="FONT-SIZE: 12pt;"><b>Gerência Geral de Ocorrências Especiais – Internas – GOI</b></td></tr>
			<tr><td height="20" align="center" style="FONT-SIZE: 12pt;"><b>Relatório de Controle de Log</b></td></tr>
		</table>
		
    	<p:dataTable
	    	paginator="true"
			paginatorPosition="bottom"
			rows="8"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
			currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
            value="#{hyAdmLogBean.objRsAdmLog}"
            emptyMessage="Nenhum registro encontrado"
            var="rsAdmLog">
            
            <p:column styleClass="align-center" headerText="Data Ação">
                <h:outputText value="#{rsAdmLog.DT_ACAO}"></h:outputText>
            </p:column>
            
            <p:column styleClass="align-center" headerText="Hora Ação">
	   			<h:outputText value="#{rsAdmLog.DT_HORA}"></h:outputText>
            </p:column>
            
            <p:column styleClass="align-center" headerText="Login Usuário">
	   			<h:outputText value="#{rsAdmLog.COD_USUARIO}"></h:outputText>
            </p:column>
            
            <p:column styleClass="align-center" headerText="Descrição da Ação">
	   			<h:outputText value="#{rsAdmLog.NM_ACAO}"></h:outputText>
            </p:column>
            
            <p:column styleClass="align-center" colspan="2" headerText="Nº OS">
	   			<h:outputText value="#{rsAdmLog.NR_OS}"></h:outputText>
            </p:column>
        
        </p:dataTable>
        
		<p:commandButton styleClass="btnImprimir" style="float:right; margin-top:10px;" type="" value="Imprimir" onclick="Imprime()" />
		
		<p:remoteCommand name="pesquisarRemoteCommand" update="@form" actionListener="#{hyAdmLogBean.pesquisar}" />
	</h:form>
</h:body>
</ui:define></ui:composition>