<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Recusar Relatório de Proposiçăo</title>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
	<h:outputScript name="javascript/calendario.js" />
	
	<script type="text/javascript">
		//<![CDATA[
			/* function window.onload (){
				Resize();
			} */
			
			/* function window.unload(){
			    Voltar();
			} */
			
			function Resize(){
			    window.parent.document.all['ifrmOs'].height=this.document.body.scrollHeight;	
			}
			
			function Voltar(){
			    //document.forms[0].action = 'HY_Aprovar_Rel_Prop.asp?strNrSeqOs=<%=strNrSeqOs%>'
			    //document.forms[0].target = 'principal';
			    //document.forms[0].submit()
			    window.close();
			}
			
			function Recusar(){       
			    if(document.forms[0].txtHdNrSeqNoti.value != '4010'){
			        alert('Năo foi possível recusar Relatório de Proposiçăo.\nWorkFlow Inválido!\nRelatório de Proposiçăo já aprovado ou ainda năo foi enviado para aprovaçăo.');
			        return;
			    }
			    
			    
			    if (document.forms[0].querySelector("textarea[id$='txtMotivoRecusa']").value.length < 10){
			        alert('Năo foi possível recusar o Relatório de Proposiçăo.\nEntre com o motivo da recusa.\nO texto deve ter mais de 10 caracteres.')
			        return;
			    }    
			    
			    document.forms[0].txtHdAction.value = 'R';
			    /* document.forms[0].submit(); */
			    btnRecusar();
			    
			}
		//]]>
	</script>
</h:head>

<h:body class="PanelTitle" onload="Resize()">
	<h:form action="HY_Aprovar_Rel_Prop_IFrame.asp" method="post">
		<table width="100%" border="0" style="background-color:red; color:white">
		    <tr>
		        <td colspan="6">Pesquisa OS > Recusar Relatório de Proposiçăo</td>
		    </tr>
		    <tr style=" font-weight:bold">
		        <td>Nº OS:</td>
		        <td><h:outputText value="#{hybAprovarRelPropIframeBean.objRsOs.CODIGO}" /></td>
		        <td>Status:</td>
		        <td><h:outputText value="#{hybAprovarRelPropIframeBean.objRsOs.SITUACAO}" /></td>
		        <td align="right">
		        	<p:commandButton id="Button2" type="button" value="Voltar" style="width:65px" onclick="Voltar()" />&nbsp;            
		            
		            <p:commandButton id="Button3" type="button" value="Recusar" style="width:65px" onclick="Recusar()" />
					<p:remoteCommand name="btnRecusar" action="#{hybAprovarRelPropIframeBean.recusar}" /></td>
		    </tr>
		    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
		</table>
		<table width="100%" border="0" >
		    <tr>
		        <td colspan="6">
		            Motivo da Recusa:<br />
		            <p:inputTextarea  id="txtMotivoRecusa" name="txtMotivoRecusa" cols="20" rows="2" style="width:99%; height:150px" value="#{hybAprovarRelPropIframeBean.objRsOs.TX_ENCERRAMENTO}"></p:inputTextarea>
		        </td>
		    </tr>
		</table>
		
		<!-- Inputs ocultos -->
		<input id="txtHdNrSeqNoti" name="txtHdNrSeqNoti" type="hidden" value="#{hybAprovarRelPropIframeBean.objRsOs.CD_NOTI}"/>
		<input id="txtHdSituOs" name="txtHdSituOs" type="hidden" value="#{hybAprovarRelPropIframeBean.objRsOs.CD_SITU}"/>
		<input id="txtHdNrSeqOs" name="txtHdNrSeqOs" type="hidden" value="#{hybAprovarRelPropIframeBean.strNrSeqOs}"/>
		<input id="txtHdAction" name="txtHdAction" type="hidden" />
	</h:form>
</h:body>

</ui:define></ui:composition>