<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
    	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
    	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
    	
		<script type="text/javascript">
        	//<![CDATA[	
			//parent.parent.titulo.location.href = 'Titulo.asp?strTitulo="Tramite"';
			//parent.parent.rodape.location.replace("Botoes.asp?strBotao=DetalheRO");
			//parent.parent.rodape.location.replace("HY_BtnGenerico.asp?strIFrame=ifrmNovaOs&strButton=Salvar/Salvar");
			
			//function MostrarConteudo(NrOS, NrTramite,strReadOnly){
	    	//	parent.location.href = "hyb_cad_tramite_menu.xhtml?strNrOs=" + NrOS + "&NrTramite=" + NrTramite + "&strReadOnly=" + strReadOnly ;
			//}
			
		    var includeQuery = parent.document.location.search.indexOf("limpar=true") > 0;
			function chamarRemote() {
				//desabilitaInputs();
				if ("#{cadTramite.lever}" == "false") {
				 	HabilitaCampos();
					document.getElementById('frm:queryReg').value = parent.document.getElementById('headerTabs:queryReg').value;
					document.getElementById('frm:queryPlan').value = parent.document.getElementById('headerTabs:queryPlan').value;
					document.getElementById('frm:queryRet').value = parent.document.getElementById('headerTabs:queryRet').value;
					document.getElementById('frm:queryDest').value = parent.document.getElementById('headerTabs:queryDest').value;
				    
					/* document.getElementById('frm:txtOS').addEventListener('focusout', function(e) {
				 		parent.document.getElementById("headerTabs:queryOs").value = e.target.value;
				 	});
				 	
				 	document.getElementById('frm:txtNroTramite').addEventListener('focusout', function(e) {
				 		parent.document.getElementById("headerTabs:queryTramite").value = e.target.value;
				 	});
				 	
				 	document.getElementById('frm:txtDestino').addEventListener('focusout', function(e) {
				 		parent.document.getElementById("headerTabs:queryDest").value = e.target.value;
				 	}); */
				 	
				    parent.mountDataToInput();
				}
			    callLimparOs();
				document.getElementById('frm:txtOsField').value = document.getElementById('frm:txtOS').value;
		 		desabilitaInputs();
				
			}
			
			function selectDateEvent(e, el) {
				el.value = e.target.value;
			}
			
			function PreencherTramite() {
				var idTramite = document.getElementById('frm:txtOS');
				if (idTramite.value == ''){
					alert('Por favor preencher Número da OS');
					return;
				}

				if (idTramite.value == '0') {
					return;
				}
				
				HabilitaCampos();
				preencheNrTramite();
				document.getElementById('frm:txtNroTramite').disabled=true;
				desabilitaInputs();
			}
			
			function Salvar() {
				
				includeQuery = "false";
				
				console.log("includeQuery: ", includeQuery);
				if (document.getElementById('frm:txtOS').value == 0) {
			        alert('Selecione a OS');
			        return;
			    }
			
			    if (document.getElementById('frm:txtDtReg_input').value =='') {
			        alert("Digite a Data de Registro.");
			        return;
			    }
			
				if (document.getElementById('frm:txtDtRetPla_input').value =='') {
			        alert("Digite a Data de Retorno Planejado.");
			        return;
			    }


				if (DataMaior(document.getElementById('frm:txtDtReg_input').value,document.getElementById('frm:txtDtRetPla_input').value)==true){
			        alert("Data de retorno planejado deve ser maior ou igual a data de registro");
			        return;
	    		}

				if (document.getElementById('frm:txtDtRet_input').value!=''){
					if (DataMaior(document.getElementById('frm:txtDtReg_input').value,document.getElementById('frm:txtDtRet_input').value)==true){
					    alert("Data de retorno deve ser maior ou igual a data de registro");
					    return;
					}
				}
				
				if ("#{cadTramite.checkOSStatus}" == "A" || parent.document.getElementById('headerTabs:checkOS').value == "A") {
					if (!confirm('Deseja alterar o Trâmite?')) {
					    return;
					}
					
					HabilitaCampos();
					chamarAlterar();
					callChangeOSVar();
					callLimparOs();
					alert('Trâmite alterado com sucesso!');
					desabilitaInputs();
					//parent.document.forms[0].submit();
					//parent.document.location.reload();
				} else {
					if (!confirm('Deseja incluir novo Trâmite?')) {
				    	return;
					}
					
					HabilitaCampos();
					chamarSalvar();
					callChangeOSVar();
					callLimparOs();
					alert('Trâmite incluído com sucesso!');
					desabilitaInputs();
					
					//parent.document.forms[0].submit();
					// Reload na página
					//parent.document.location.reload();
				}
				
			}
			
			function DataMaior(data1, data2){
				var date1 = new Date(data1.split('/').reverse().join('/'));
				var date2 = new Date(data2.split('/').reverse().join('/'));
				if(date1 > date2)
					return true;
			}
			
			function MascararData(obj)
			{
			    if(obj.value.length == 2)
			    {
			        obj.value += '/';
			    }
			    if(obj.value.length == 5)
			    {
			        obj.value += '/';
			    }
			}
			
			function refreshTab() {
				refreshTab();
			}

			function HabilitaCampos(){
				document.getElementById('frm:txtOS').disabled=false;
				document.getElementById('frm:txtNroTramite').disabled=false;
				document.getElementById('frm:txtDtReg_input').disabled=false;
				document.getElementById('frm:txtDtRetPla_input').disabled=false;
				document.getElementById('frm:txtDtRet_input').disabled=false;
			}
			
			function desabilitaInputs() {
				document.getElementById('frm:txtNroTramite').disabled=true;
			    document.getElementById('frm:txtDtReg_input').disabled=true;
			    document.getElementById('frm:txtDtRetPla_input').disabled=true;
			    document.getElementById('frm:txtDtRet_input').disabled=true;
			}
			
			function updateMenuInput() {
				HabilitaCampos();
				parent.document.getElementById('headerTabs:queryReg').value = document.getElementById('frm:queryReg').value;
				parent.document.getElementById('headerTabs:queryPlan').value = document.getElementById('frm:queryPlan').value;
				parent.document.getElementById('headerTabs:queryRet').value = document.getElementById('frm:queryRet').value;
				desabilitaInputs();
				
			}
			
			function activateForm() {
				HabilitaCampos();
				chamarActivate();
				desabilitaInputs();
			}
			
		    //]]>
		</script>
    </h:head>
 
    <h:body class="PanelTitle" onload="chamarRemote()" style="height:100%; width:97%;">
	    <h:form id="frm" name="frm">
			<fieldset  style="width:100%">
				<table border="0" width="" >
				    <tr>
				        <td>Número da OS:</td>
						<td>
							<p:inputText value="#{cadTramite.strOS}" id="txtOS" name="txtOS" onchange="document.getElementById('frm:txtOsField').value = this.value"/>
							<p:inputText type="hidden" id="txtOsField" value="#{cadTramite.strOSField}"></p:inputText>
						</td>
						<td width="50" align="right">
							<p:graphicImage onclick="PreencherTramite();" value="../images/lupa.gif" alt="Pesquisar" align="absmiddle" style="cursor:hand"/>
						</td>
				    </tr>
				    <tr>
				        <td>Número do Trâmite:</td>
						<td><p:inputText value="#{cadTramite.strNumeroTra}" id="txtNroTramite" name="txtNroTramite" style="width:40px" /></td>
				    </tr>
				    <tr>
				        <td>Data de Registro:</td>
				        <td>
				        	<p:calendar value="#{cadTramite.strDataRegistro}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" id="txtDtReg" name="txtDtReg" showOn="button" mode="popup" popupIconOnly="true" align="absbottom" alt="Calendario" style="cursor:hand;" >
				        		
				        	</p:calendar>
				        </td>
				    </tr>
				    <tr>
				        <td>Data de Retorno Planejado:</td>
				        <td>
				        	<p:calendar value="#{cadTramite.strDtRetPlanejado}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" id="txtDtRetPla" name="txtDtRetPla" showOn="button" mode="popup" popupIconOnly="true" align="absbottom" alt="Calendario" style="cursor:hand;">
				        		
				        	</p:calendar>
				        </td>
				    </tr>
				    <tr>
				        <td>Data de Retorno:</td>
				        <td>
				        	<p:calendar value="#{cadTramite.strDtRetorno}" pattern="dd/MM/yyyy" mask="true" mindate="01/01/2000" maxdate="31/12/2100" id="txtDtRet" name="txtDtRet" showOn="button" mode="popup" popupIconOnly="true" align="absbottom" alt="Calendario" style="cursor:hand;">
				        		
				        	</p:calendar>
				        </td>
				    </tr>
				    <tr>
				        <td>Destinatário:</td>
						<td><p:inputText value="#{cadTramite.strDestino}" id="txtDestino" name="txtDestino"/></td>
				    </tr>
				</table>
				<table border="0">
					<tr>
						<td>	
						<iframe id="iDados" name="iDados" frameborder="0" style="width:100%; height:0"></iframe>
						</td>
					</tr>
				</table>
		        	<p:inputText type="hidden" id="queryDest" name="queryDest" value="#{tramiteMenuBean.destData}"></p:inputText>
				
		        	<p:remoteCommand name="chamarSalvar" update="@form" actionListener="#{cadTramite.salvar}" />
		        	<p:remoteCommand name="chamarAlterar" update="@form" actionListener="#{cadTramite.alterar}" />
		        	<p:remoteCommand name="preencheNrTramite" update="txtNroTramite" oncomplete="desabilitaInputs()" actionListener="#{cadTramite.preencheNrTramite}" />
		        	<p:remoteCommand name="callRemoteCheckOs" actionListener="#{cadTramite.changeCheckOs}" />
		        	<p:remoteCommand name="callLimparOs" update="txtOS" actionListener="#{cadTramite.limparCampoOs}" />
		        	<p:remoteCommand name="chamarActivate" update="@form" actionListener="#{cadTramite.activateBean}" />
		        	<p:remoteCommand name="callChangeOSVar" update="@form" actionListener="#{cadTramite.changeOsVar}" />
		        	
		        	<p:commandButton type="button" update="@form" ajax="true" id="btSalvar" value="Salvar" onclick="Salvar()" style="width:95px; margin-right:10px; float:right;" />
		        	
		        	<p:inputText style="display:none;" type="text" id="queryReg" name="queryReg" value="#{tramiteMenuBean.dataRegData}"></p:inputText>
			       	<p:inputText style="display:none;" type="text" id="queryPlan" name="queryPlan" value="#{tramiteMenuBean.dataPlanData}"></p:inputText>
			       	<p:inputText style="display:none;" type="text" id="queryRet" name="queryRet" value="#{tramiteMenuBean.dataRetData}"></p:inputText>
			       
			</fieldset>
		</h:form>
    </h:body>
   </html>
