<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="../templates/template.xhtml"> -->
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="../templates/template.xhtml">

<!-- <ui:define name="content"> -->
<h:head>
    <title></title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javascript">
	//<![CDATA[
			
			parent[0].location.search = "strTitulo=#{cadOsMenuBean.strTitulo} - #{cadOsMenuBean.strNrSeqOs} - Dados Iniciais"
			parent.PF("statusDialog").hide();
		
			function Salvar(){
				console.log("salvar");
				if (ValidaFase()){
					//document.getElementById("formDadosInicias:txtHdAction").value == "S"; // S - salvar)
					console.log("fim salvar");
					console.log("#{cadosDadosIniciaisBean.txtHdFlgEnvRO}");
					btnSalvar();
					//document.forms[0].submit();
				} 
			}
			
			function Aprovar(){   
				
			    if (document.getElementById("formDadosInicias:txtHdCdNoti").value == '2010'){
			        alert('Esta Ordem de Serviço já está em aprovaçăo!');
			        return;
			    }
			    
			    //alert(document.forms[0].txtHdSituOs.value)
			    if (document.getElementById("formDadosInicias:txtHdCdNoti").value == '1010' || document.getElementById("formDadosInicias:txtHdCdNoti").value == '2030')
			    {
			        if(confirm('Deseja Enviar a OS para aprovaçăo?\nEsta açăo impedirá a ediçăo da OS até que seja aprovada ou recusada!'))
				    {
			        	document.getElementById("formDadosInicias:txtHdCdNoti").value = "A" // S - salvar)
			        	btnAprovar();
				        //document.forms[0].submit();
				    }
			    }
			    else 
			    {
			        alert('Esta Ordem de Serviço já está aprovada!')
			        
				}
			}
		
			
			function Resize(){
			    //alert(window.parent.document.body.scrollHeight)
			    //alert(this.document.body.scrollHeight)
			    //window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;	
			    //window.parent.document.all['ifrmNovaOs'].height=window.parent.document.body.scrollHeight;	
				//window.parent.document.all['ifrmNovaOs'].height=417;	
			}
			
			function ValidaFase(){
				console.log("valida fase");
				//formDadosInicias
			    if (document.getElementById("formDadosInicias:txtHdCdSituacao").value == 'E'){
			    	
			        if (document.getElementById("formDadosInicias:cboFaseAnalise_input").value != '5'){
				        alert('Fase Análise da OS năo permitida.\nFavor alterar a opçăo!');
				        document.getElementById("formDadosInicias:cboFaseAnalise_input").focus();
				        return false;
			        }
			    }
			    else {
			        if (document.getElementById("formDadosInicias:cboFaseAnalise_input").value == '5'){
				        alert('Fase Análise da OS năo permitida.\nFavor alterar a opçăo!');
				        document.forms[0].cboFaseAnalise.focus();
			        	return false;
			        }    
			    }
			    console.log("fim valida fase");
			    return true;
			}
			
			function AprovarOs(){
				PF('btn-aprovar').show();
			    //window.showModalDialog('HY_AprovarOs.asp?strNrSeqOs=<%=objRsOs("CODIGO").Value%>',null,'dialogHeight:250px;dialogWidth:530px; center: Yes; resizable:no; status: No;');
			    document.getElementById("j_id_c:txtHdAction").value = "";
			    //document.forms[0].submit();
			    btnAprovarOs();
			}
			
			function EncerrarOs(){
			    parent.document.location = "hyb_EncerrarOsMenu.xhtml?strNrSeqOs=#{cadosDadosIniciaisBean.objRsOs.CODIGO}"
			}
			
			function SelEnvRO(obj){
				console.log(obj, "obj");
			   /*  if (obj == "rdoROs"){
			        document.getElementById("formDadosInicias:txtHdFlgEnvRO").value = "0";
			    }
			
			    if (obj == "rdoROn"){
			    	document.getElementById("formDadosInicias:txtHdFlgEnvRO").value = "1";
			    } */
			}
			
			var texto = new String();
			function Maxlength(obj, intQntC){
				if ((intQntC - obj.value.length) > 0)
			    {
			        texto = obj.value
			    }  
				
			    if ((intQntC - obj.value.length) <= 0)
			    {
			        obj.value = texto
			    }
			}
			
			function CancelarOS(){
				if (document.getElementById('j_id_c:txtSoliCancOs').value == 0){
					if (document.getElementById('TRJustCanc').style.display == "none"){
						document.getElementById('TRJustCanc').style.display = "";	
						document.getElementById('JustCanc').style.display = "";	
					}
					else{				
						if (document.getElementById('txtJustCanc').value == ''){
							alert('Para solicitar o cancelamento de uma OS é obrigatório o preenchimento do campo, Justificar Cancelamento!');				
						}
						else{
							document.getElementById("j_id_c:txtHdAction").value = "C"; // C - Cancelar OS)
							//document.forms[0].submit();
							btnCancelarOs();
						}
					}
				}
				else{
					alert('Já existe uma solicitaçăo de cancelamento para esta Ordem de Serviço!');
			        return;
				}
			}
	//]]>
	</script>
</h:head>
<h:body class="PanelTitle">
<h:form id="formDadosInicias">
<table border="0" width="100%" id="tb">
    <tr style="height:5px"><td ></td></tr>
    <tr>
        <td width="18%" style="font-size:11px">Número da OS:</td>
        <td width="28%" style="font-size:18px"><b><h:outputText value="#{cadosDadosIniciaisBean.objRsOs.CODIGO}"/></b></td>
		<td width="20%" style="font-size:11px">Envia OS p/ RO?</td>
		<td width="20%">			
			<p:selectOneRadio id="rdoRO" value="#{cadosDadosIniciaisBean.txtHdFlgEnvRO}" disabled="#{cadosDadosIniciaisBean.desabilitarCampos}">
			            <f:selectItem itemLabel="Sim" itemValue="0" />
			            <f:selectItem itemLabel="Năo" itemValue="1" />
			 </p:selectOneRadio>
        </td>
		<td colspan="2" width="14%"></td>
    </tr>
    <tr style="height:15px"><td ></td></tr>
    <tr>    
        <td width="18%" style="font-size:11px">Status da OS:</td>
        <td width="28%" style="font-size:14px"><b><h:outputText value="#{cadosDadosIniciaisBean.objRsOs.SITUACAO}"/></b></td> 
		<td width="20%" style="font-size:11px">OS Provisionada?:&#160;&#160;</td>
		<td width="20%">
			<p:row rendered="#{cadosDadosIniciaisBean.qtOsProvisao == 1}">
				<p:row rendered="#{cadosDadosIniciaisBean.objRsOsProvisao.SITUACAO == '4'}">
					<span style="font-size:11px"><b>Sim</b></span>
				</p:row>
				<p:row rendered="#{cadosDadosIniciaisBean.objRsOsProvisao.SITUACAO != '4'}">
					<span style="font-size:11px"><b>Năo</b></span>
				</p:row>
			</p:row>
			<p:row rendered="#{cadosDadosIniciaisBean.qtOsProvisao != 1}">
				<span style="font-size:11px"><b>Năo</b></span>
			</p:row>
			&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Valor:&#160;&#160;
		</td>
		<td colspan="2" width="14%">
			<p:row rendered="#{cadosDadosIniciaisBean.qtOsProvisao == 1}">
				<p:row rendered="#{cadosDadosIniciaisBean.objRsOsProvisao.SITUACAO == '4'}">
					<span style="font-size:11px"><b>R$:&#160; <h:outputText value="#{cadosDadosIniciaisBean.objRsOsProvisao.VALOR}"></h:outputText></b></span>
				</p:row>
				<p:row rendered="#{cadosDadosIniciaisBean.objRsOsProvisao.SITUACAO != '4'}">
					<span style="font-size:11px"><b>-</b></span>
				</p:row>
           	</p:row>
			<p:row rendered="#{cadosDadosIniciaisBean.qtOsProvisao != 1}">
				<span style="font-size:11px"><b>-</b></span>
           	</p:row>
        </td>
    </tr>
    <tr style="height:15px"><td colspan="6"></td></tr>
    <tr>
        <td width="18%" style="font-size:11px">WorkFlow:</td>
        <td colspan="5" width="82%" style="font-size:14px"><b><h:outputText value="#{cadosDadosIniciaisBean.objRsOs.CD_NOTI}" /> - <h:outputText value="#{cadosDadosIniciaisBean.objRsOs.NM_NOTI}"/></b></td>
    </tr>
    <tr style="height:15px"><td ></td></tr>
    <tr>
        <td width="18%">Criticidade da OS:</td>
        <td width="28%">
        	<p:selectOneMenu id="cboCriticidade" value="#{cadosDadosIniciaisBean.objRsOs.CRITICIDADE}" disabled="#{cadosDadosIniciaisBean.desabilitarCampos}">
			    <f:selectItem itemLabel="..." itemValue="" />
			    <f:selectItems value="#{cadosDadosIniciaisBean.objRsCriticidadeOs}" var="objRsCriticidadeOs" itemLabel="#{objRsCriticidadeOs.NOME}" itemValue="#{objRsCriticidadeOs.CODIGO}"  />
			</p:selectOneMenu>
        </td>
        <td width="20%">Fase Análise da OS:</td>
        <td colspan="3" width="39%">
        <!-- cadosDadosIniciaisBean.objRsOs.CD_SITUACAO == 'E' ? '5' : -->
        	<p:selectOneMenu  id="cboFaseAnalise" value="#{cadosDadosIniciaisBean.objRsOs.FASE_ANALISE}" style="width:100px" onchange="ValidaFase();" disabled="#{cadosDadosIniciaisBean.desabilitarCampos}" >			    
			    <f:selectItem itemLabel="..." itemValue="" />
			    <f:selectItems value="#{cadosDadosIniciaisBean.objRsFaseAnaliseOs}" var="objRsFaseAnaliseOs" itemLabel="#{objRsFaseAnaliseOs.NOME}" itemValue="#{objRsFaseAnaliseOs.CODIGO}"  />
			</p:selectOneMenu>
        </td>
    </tr>
	<tr style="height:15px"><td ></td></tr>
	<tr>
        <td width="18%" style="font-size:11px">Causa Raiz:</td>
        <td colspan="5" width="82%">
        
        	<p:selectOneMenu  id="cboCausaRaiz" value="#{cadosDadosIniciaisBean.objRsCausaRaizOs.CODIGO}" style="width:550px" disabled="#{cadosDadosIniciaisBean.desabilitarCampos}">			    
			    <f:selectItem itemLabel="..." itemValue="" />
			    <f:selectItems value="#{cadosDadosIniciaisBean.objRsCausaRaiz}" var="objRsCausaRaiz" itemLabel="#{objRsCausaRaiz.DESCRICAO}" itemValue="#{objRsCausaRaiz.CODIGO}"  />			    
			</p:selectOneMenu>            
        </td>
    </tr>
	<tr style="height:15px"><td ></td></tr>
	<tr>
		<td width="18%">Tipo Lançamento:</td>
		<td colspan="5" width="82%">
			<p:selectOneMenu  id="cboTpMani" value="#{cadosDadosIniciaisBean.objRsOut.CD_MANI}" style="width:100px;" disabled="true">	
				<f:selectItem itemLabel="TM01" itemValue="" />						    
			    <f:selectItems value="#{cadosDadosIniciaisBean.objRs}" var="objRs" itemLabel="#{objRs.DE_TIPO_MANI}" itemValue="#{objRs.SQ_TIPO_MANI}"  />			    
			</p:selectOneMenu>
		</td>
	</tr>
	<tr id="TRJustCanc" style="height:15px; display:none"><td></td></tr>
	<tr>		
        <td id="JustCanc" colspan="6" style="display:none"><b>Justificar Cancelamento*</b><br/>
            <textarea id="txtJustCanc" name="txtJustCanc" style="text-align:left;width:100%;height:65" onKeyDown="Maxlength(this, 255)" cols="20" rows="5"></textarea>
        </td>    
	</tr>
	
	<p:row rendered="#{cadosDadosIniciaisBean.qtOsRejeicao == 1}">
		<c:if test="#{cadosDadosIniciaisBean.objRsRejeicaoOs.TXTREJEICAO != '' and cadosDadosIniciaisBean.objRsRejeicaoOs.DATA != '' and cadosDadosIniciaisBean.objRsRejeicaoOs.USUARIO != ''}">
			<tr>		
				<td id="JustRepCanc" colspan="6" style="display:" disabled="disabled"><b>Justificar Reprovação de Cancelamento de OS*</b><br/>
					<p:inputTextarea disabled="disabled" id="txtJustRepCanc" name="txtJustRepCanc" style="text-align:left;height:65;width:100%" onKeyDown="Maxlength(this, 255)" cols="20" rows="5" value="#{cadosDadosIniciaisBean.objRsRejeicaoOs.TXTREJEICAO}"></p:inputTextarea>
				</td>    
			</tr>
			<tr style="height:5px"><td ></td></tr>
		</c:if>
		
		<c:if test="#{cadosDadosIniciaisBean.objRsRejeicaoOs.TXTREJEICAO == '' || cadosDadosIniciaisBean.objRsRejeicaoOs.DATA == '' || cadosDadosIniciaisBean.objRsRejeicaoOs.USUARIO == ''}">
			<tr id="TRJustRepCanc" style="height:15px; display:none"><td></td></tr>
			<tr>		
				<td id="JustRepCanc" colspan="6" style="display:none" disabled="disabled"><b>Justificar Reprovaçăo de Cancelamento de OS*</b><br/></td>
			</tr>
		</c:if>
		
	</p:row>
</table>

<table><tr style="height:3px"><td ></td></tr></table>
<hr />
<table><tr style="height:3px"><td ></td></tr></table>
<table><tr><td ><b>Perfil Usuário</b></td></tr></table>
<table border="0" width="100%">    
    <tr style="height:5px"><td ></td></tr>
    <tr>
        <td width="8%">Nome:</td>
        <td width="42%"><h:outputText value="#{cadosDadosIniciaisBean.objRsUsuario.nomeUsuario}"/></td>
        <td width="15%">Área de Atuação:</td>
        <td>
        	<p:selectOneMenu  id="cboArea" value="#{cadosDadosIniciaisBean.objRsAreaOs.CODIGO}" style="width:100px" disabled="#{cadosDadosIniciaisBean.objRsOsContab.SITUACAO == '2' || cadosDadosIniciaisBean.objRsOsContab.SITUACAO == '3' || cadosDadosIniciaisBean.desabilitarCampos}">
			    <f:selectItems value="#{cadosDadosIniciaisBean.objRsArea}" var="objRsArea" itemLabel="#{objRsArea.NOME}" itemValue="#{objRsArea.CODIGO}"  />			    
			</p:selectOneMenu>
        </td>
    </tr>
    <tr style="height:15px"><td ></td></tr>
    <tr>
        <td>Login:</td>
        <td><h:outputText value="#{cadosDadosIniciaisBean.objRsUsuario.loginUsuario}"/></td>
        <td>Matrícula:</td>
        <td><h:outputText value="#{cadosDadosIniciaisBean.objRsUsuario.matriculaUsuario}"/></td>
    </tr>    
</table>
<p:inputText id="txtHdNrSeqOs" name="txtHdNrSeqOs" type="hidden" value="#{cadosDadosIniciaisBean.objRsOs.CODIGO}"/>

<p:inputText id="txtHdCdNoti" name="txtHdCdNoti" type="hidden" value="#{cadosDadosIniciaisBean.objRsOs.CD_NOTI}"/>
<p:inputText id="txtHdCdSituacao" name="txtHdCdSituacao" type="hidden" value="#{cadosDadosIniciaisBean.objRsOs.CD_SITUACAO}" />
<p:inputText id="txtTitulo" name="txtTitulo" type="hidden" value="#{cadosDadosIniciaisBean.strTitulo}"/>

<p:inputText id="txtSoliCancOs" name="txtSoliCancOs" type="hidden" value="#{cadosDadosIniciaisBean.objRsSoliCancOs.VALOR}"/>

<p:row rendered="#{!cadosDadosIniciaisBean.desabilitarCampos}">
<div class="row-buttons">
	<p:commandButton value="Salvar" styleClass="btn_110" style="cursor:hand" type="button" onclick="Salvar()" />
	<p:remoteCommand name="btnSalvar" action="#{cadosDadosIniciaisBean.salvar}" />
	
	<p:commandButton value="Enviar Aprovaçăo" styleClass="btn_110" style="cursor:hand" onclick="Aprovar();" type="button"  />
	<p:remoteCommand name="btnAprovar" action="#{cadosDadosIniciaisBean.aprovar}" />
	
	<p:commandButton value="Aprovar OS" styleClass="btn_110" style="cursor:hand" onclick="AprovarOs()" type="button" />
	<p:dialog header="hyb_AprovarOs.xhtml?strNrSeqOs=#{cadosDadosIniciaisBean.objRsOs.CODIGO}" widgetVar="btn-aprovar" modal="true" height="250" width="530" resizable="no">
		<h:outputText value="Página aqui." />
	</p:dialog>
	<p:remoteCommand name="btnAprovarOs" action="#{cadosDadosIniciaisBean.aprovarOs}" />
	
	<p:commandButton value="Encerrar OS" styleClass="btn_110" style="cursor:hand" onclick="EncerrarOs();" type="button" />
	
	<p:commandButton value="Cancelar OS" styleClass="btn_110" style="cursor:hand" onclick="CancelarOS();" type="button" />
	<p:remoteCommand name="btnCancelarOs" action="#{cadosDadosIniciaisBean.cancelarOs}" />
</div>
</p:row>

</h:form>
</h:body>
<!-- </ui:define>
</ui:composition> -->
</html>

