<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

	

		<h:head>
			<title>HYB - Ocorrências Especiais</title>
		</h:head>

		<h:body class="PanelTitle">

			<h:form id="form">
				<p:dataTable id="tabelaFraudeInternaPeriodo" var="result"
					value="#{RelosFraudeInternaPeriodoBean.objRsRelat}"
					rowIndexVar="index"
					emptyMessage="Não exitem dados para o período selecionado.">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="14" align="center" style="font-size: medium;"
								headerText="Superintendência de Ocorrências Especiais" />
						</p:row>
						<p:row>
							<p:column colspan="14" align="center" style="font-size: medium;"
								headerText="Relatório Fraudes Internas por Período" />
						</p:row>
						<p:row>
							<p:column colspan="14" align="center" style="font-size: x-small;"
								headerText="Período: #{RelosFraudeInternaPeriodoBean.strDtIni} até #{RelosFraudeInternaPeriodoBean.strDtFim}" />
						</p:row>
						<p:row>
							<p:column
								headerText="Tipo de Ocorrências Eventos" />
							<p:column headerText=""></p:column>
							<p:column colspan="4" headerText="Agência" />
							<p:column colspan="4" headerText="Administração Central" />
							<p:column colspan="4" headerText="TOTAL" />
						</p:row>
						<p:row>
							<p:column headerText=""></p:column>
							<p:column headerText=""></p:column>
							<p:column headerText="Quantidade" />
							<p:column headerText="Valor Envolvido" />
							<p:column headerText="Valor Recuperado" />
							<p:column headerText="Perda Efetiva" />
							<p:column headerText="Quantidade" />
							<p:column headerText="Valor Envolvido" />
							<p:column headerText="Valor Recuperado" />
							<p:column headerText="Perda Efetiva" />
							<p:column headerText="Quantidade" />
							<p:column headerText="Valor Envolvido" />
							<p:column headerText="Valor Recuperado" />
							<p:column headerText="Perda Efetiva" />

						</p:row>
					</p:columnGroup>


					<c:set var="objRsRelat"
						value="#{RelosFraudeInternaPeriodoBean.objRsRelat}" />
					<c:choose>
						<c:when test="#{objRsRelat == ''}">
							<p:column>
								<h:outputText value="#{index + 1}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.NM_EVEN}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.QNT_AGEN}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_ENVO_AGEN_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_RECR_AGEN_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_PERD_EFET_AGEN_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.QNT_ADMC}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_ENVO_ADMC_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_RECR_ADMC_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_PERD_EFET_ADMC_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.QNTD_TOTAL}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_ENVO_TOTAL_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_RECR_TOTAL_FORMATADO}" />
							</p:column>

							<p:column>
								<h:outputText value="#{result.VL_PERD_EFET_TOTAL_FORMATADO}" />
							</p:column>

						</c:when>

						<c:otherwise>

						</c:otherwise>
					</c:choose>

					<!--RODAPE-->

					<p:columnGroup type="footer" >
						<p:row>
							<p:column colspan="2" footerText="TOTAL" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_QNT_AGEN()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_ENVO_AGEN()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_RECR_AGEN()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_PERD_EFET_AGEN()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_QNT_ADMC()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_ENVO_ADMC()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_RECR_ADMC()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_PERD_EFET_ADMC()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_QNTD_TOTAL()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_ENVO_TOTAL()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_RECR_TOTAL()}" />
							<p:column
								footerText="#{RelosFraudeInternaPeriodoBean.dblTotal_VL_PERD_EFET_TOTAL()}" />
						</p:row>
						<!-- <p:row>
							<p:column colspan="2"
								footerText="#{RelosFraudeInternaPeriodoBean.now()}" />
							<p:column colspan="12"
								footerText="Superintêndencia de
								Ocorrências Especiais" />
						</p:row> -->
					</p:columnGroup>
				</p:dataTable>
				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<!-- <p:dataExporter type="xls" target="tabelaFraudeInternaPeriodo"
						fileName="OCESP_Relatorio" /> -->
						
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="tabelaFraudeInternaPeriodo"
						fileName="OCESP_Relatorio"
						fontName="Calibri" cellFontColor="#000000" cellFontSize="150"
						cellFontStyle="NORMAL" encoding="UTF-8"
						postProcessor="#{RelosFraudeInternaPeriodoBean.postProcessExcel}" />
				</h:commandLink>
			</h:form>

			<script type="text/javascript">
				//<![CDATA[ 
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
						//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{RelosFraudeInternaPeriodoBean.strDtIni}&pDtFim=#{RelosFraudeInternaPeriodoBean.strDtFim}','_self');
					},5000); 
				 }
					function Voltar() {
						history.back();
					}
	
					function Imprimir() {
						window.print();
					}
					function LimparUrl(){
						history.pushState(null, '', '');
					}
				//]]>
			</script>

		</h:body>
</ui:composition>
