<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

    <h:head>
    	<h:outputStylesheet name="css/hy_style.css" />
    	<h:outputScript name="javascript/hy_funcoes.js" />
    	<h:outputScript name="javascript/hy_calendario.js" />
		<script type="text/javascript">
        	//<![CDATA[	
				/* function window.onload (){
					Resize();
				} */
				
				function Resize(){
				    //window.parent.document.all['ifrmOs'].height=this.document.body.scrollHeight;	
					window.parent.document.all['ifrmOs'].height=400;	
				}		
				function Voltar(){
				    window.close();
				}
				
				function Excluir(){
				    if('#{excluirOSIframeBean.objRs.SITUACAO}' == 'EX'){
				        alert('Esta Ordem de Seviço já está Excluída!');
				        return;
				    }
				    
				    if (document.getElementById('frm:txtMotivoExclusao').value.length < 10){
				        alert('Não foi possível excluir a Os.\nEntre com o motivo da exclusão.\nO texto deve ter mais de 10 caracteres.')
				        return;
				    }
				    				    
				    //document.getElementById('frm:txtHdAction').value = 'E';
				    //document.forms[0].submit();
				    chamarExclusao();
				}
		    //]]>
		</script>
    </h:head>
 
    <h:body class="PanelTitle" style="height:100%" onload="Resize()">
	    <h:form id="frm">
			<table width="100%" border="0" style="background-color:Red; color:White">
			    <tr>
			        <td colspan="6">Pesquisa OS > Excluir OS</td>
			    </tr>
			    <tr style=" font-weight:bold">
			        <td>Nº OS:</td>
			        <td>#{excluirOSIframeBean.objRs.CODIGO}</td>
			        <td>Status:</td>
			        <td>#{excluirOSIframeBean.objRs.SITUACAO}</td>
			        <td align="right">
			        	<p:commandButton type="button" id="btVoltar" value="Voltar" oncomplete="Voltar()" style="width:65px; margin-right:10px;" />
			        	
			        	<p:remoteCommand name="chamarExclusao" actionListener="#{excluirOSIframeBean.excluirOS}" />
    					<p:commandButton type="button" id="btExcluirOS" value="Excluir" onclick="Excluir()" style="width:95px; margin-right:10px;" />
    				</td>
			    </tr>
			    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
			</table>
			<table width="100%" border="0" >
			    <tr>
			        <td colspan="6">
			            Motivo da Exclusão:<br />
			            <p:inputTextarea id="txtMotivoExclusao" name="txtMotivoExclusao" rows="10" cols="50" value="#{excluirOSIframeBean.objRs.MOT_REC_EXCL}"></p:inputTextarea>
			        </td>
			    </tr>
			</table>
		</h:form>
    </h:body>
</ui:define></ui:composition>