<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<meta http-equiv="Pragma"       content="no-cache"/>
	<meta http-equiv="Expires"      content="mon, 3 january 2000 00:00:01 gmt"/>
	<h:outputStylesheet name="css/hy_style.css" />
	<title>Anexar Arquivo</title>
</h:head>

<h:body class="PanelTitle">

	<h:form id="frmImport">
	
		<iframe id="ifrmImpArq"
				name="ifrmImpArq"
				src="#{ImportarArquivoBean.srcIfrmImpArq}"
				scrolling="no"
				frameborder="0"
				width="100%">
		</iframe>
			
		<p:inputText type="hidden" id="strAnexoField" value="#{ImportarArquivoBean.strAnexo}"></p:inputText>
		<p:inputText type="hidden" id="strSeqOsField" value="#{ImportarArquivoBean.strSeqOs}"></p:inputText>
		<p:inputText type="hidden" id="strSeqTreiField" value="#{ImportarArquivoBean.strSeqTrei}"></p:inputText>
			
	</h:form>	
	
</h:body>

</html>