<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="../templates/template.xhtml">


<h:head>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script type="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javascript" language="javascript">
				//<![CDATA[
			
			    parent[0].location.search = "strTitulo=#{cadOsMenuBean.strTitulo} - #{cadOsMenuBean.strNrSeqOs} - Dados Iniciais"
			    parent.PF("statusDialog").hide();
					
				function LimpaOficio() {
					
					var cboOrigemOs = document.getElementById("form:cboOrigemOS_input").value.split("=")
					var cboOrigemOsSelecionado = cboOrigemOs[0]
					var intRdoOficio;
					var itemchecked = false;
					
					if (document.getElementById("trOficio") == null) {
						return false;
					}
					
					for (var i = 0; i < 3; i++) {
						intRdoOficio = document
								.getElementById("form:rdoOficio:" + [ i ]);
						if (intRdoOficio.checked) {
							if (cboOrigemOsSelecionado != 9) {
								document.getElementById("form:rdoOficio:"
										+ [ i ]).value = '';
							} else {
								itemchecked = true;
							}
						}
					}
					if (!itemchecked) {
						return false;
					} else {
						return true;
					}
				}

				function LimpaLynx() {
					
					var cboOrigemOs = document.getElementById("form:cboOrigemOS_input").value.split("=")
					var cboOrigemOsSelecionado = cboOrigemOs[0]
					var intRdoLynx;
					var itemchecked = false;
					
					if (document.getElementById("trLynx") == null) {
						return false;
					}
					
					for (var i = 0; i < 2; i++) {
						intRdoLynx = document.getElementById("form:rdoLynx:"
								+ [ i ]);

						if (intRdoLynx.checked) {
							if (cboOrigemOsSelecionado != 6) {
								document
										.getElementById("form:rdoLynx:" + [ i ]).value = '';
							} else {
								itemchecked = true;
							}
						}
					}
					if (!itemchecked) {
						return false;
					} else {
						return true;
					}
				}

				function LimpaMonitInst() {
					var cboOrigemOs = document.getElementById("form:cboOrigemOS_input").value.split("=")
					var cboOrigemOsSelecionado = cboOrigemOs[0]
					var intRdoMonitInst;
					var itemchecked = false;
					
					if (document.getElementById("trMonitInst") == null) {
						return false;
					}
					
					for (var i = 0; i < 2; i++) {
						intRdoMonitInst = document
								.getElementById("form:rdoMonitInst:" + [ i ]).value;
						if (intRdoMonitInst.checked) {
							if (cboOrigemOsSelecionado != 7) {
								document.getElementById("form:rdoMonitInst:"
										+ [ i ]).value = '';
							} else {
								itemchecked = true;
							}
						}
					}
					if (!itemchecked) {
						return false;
					} else {
						return true;
					}
				}

				function LimpaOutros() {
					
					if (document.getElementById("trOutrosMeios") == null) {
						return false;
					}
					
					document.getElementById("form:chkInte_input").checked = false;
					document.getElementById("form:chkIntra_input").checked = false;
					document.getElementById("form:chkEmail_input").checked = false;
					document.getElementById("form:chkEmail_input").checked = false;
					document.getElementById("form:chkTele_input").checked = false;
					document.getElementById("form:chkMalote_input").checked = false;
					document.getElementById("form:chkDenuncia_input").checked = false;
					document.getElementById("form:chkDepartamento_input").checked = false;
					document.getElementById("form:chkAgencia_input").checked = false;
				}

				
				function Salvar() {
					
					var cboOrigemOs = document.getElementById("form:cboOrigemOS_input").value.split("=")
					var cboOrigemOsSelecionado = cboOrigemOs[0]
					
					if (cboOrigemOsSelecionado === "" ) {
						alert('Favor preencher o Canal!');
						return;
					}
					
 
					if (cboOrigemOsSelecionado == 6) {
						LimpaOficio()
						LimpaMonitInst()
						LimpaOutros()

						var validaLynx = LimpaLynx();
						if (validaLynx == false) {
							alert('Favor preencher Lynx.');
							return;
						}

					} else if (cboOrigemOsSelecionado == 7) {
						LimpaOficio()
						LimpaLynx()
						LimpaOutros()

						var validaMonit = LimpaMonitInst();
						if (validaMonit == false) {
							alert('Favor preencher Monitoramento Institucional.');
							return;
						}

					} else if (cboOrigemOsSelecionado == 9) {
						LimpaLynx()
						LimpaMonitInst()
						LimpaOutros()

						var validaOfico = LimpaOficio();
						if (validaOfico == false) {
							alert('Favor preencher Ofício.');
							return;
						}

					} else if (cboOrigemOsSelecionado == 10) {
						LimpaLynx()
						LimpaMonitInst()
						LimpaOficio()

						
						if (document.getElementById("trOutrosMeios") != null) {

							if (document.getElementById("form:chkInte_input").checked == true) {
								document.getElementById("form:chkInte_input").value = 1;
							} else {
								document.getElementById("form:chkInte_input").value = 0;
							}

							if (document.getElementById("form:chkIntra_input").checked == true) {
								document.getElementById("form:chkIntra_input").value = 1;
							} else {
								document.getElementById("form:chkIntra_input").value = 0;
							}

							if (document.getElementById("form:chkEmail_input").checked == true) {
								document.getElementById("form:chkEmail_input").value = 1;
							} else {
								document.getElementById("form:chkEmail_input").value = 0;
							}

							if (document.getElementById("form:chkTele_input").checked == true) {
								document.getElementById("form:chkTele_input").value = 1;
							} else {
								document.getElementById("form:chkTele_input").value = 0;
							}

							if (document.getElementById("form:chkMalote_input").checked == true) {
								document.getElementById("form:chkMalote_input").value = 1;
							} else {
								document.getElementById("form:chkMalote_input").value = 0;
							}

							if (document.getElementById("form:chkDenuncia_input").checked == true) {
								document.getElementById("form:chkDenuncia_input").value = 1;
							} else {
								document.getElementById("form:chkDenuncia_input").value = 0;
							}

							if (document.getElementById("form:chkDepartamento_input").checked == true) {
								document.getElementById("form:chkDepartamento_input").value = 1;
							} else {
								document.getElementById("form:chkDepartamento_input").value = 0;
							}

							if (document.getElementById("form:chkAgencia_input").checked == true) {
								document.getElementById("form:chkAgencia_input").value = 1;
							} else {
								document.getElementById("form:chkAgencia_input").value = 0;
							}
							
						}
						

					} else if (cboOrigemOsSelecionado == 0) {
						LimpaLynx()
						LimpaMonitInst()
						LimpaOficio()
						LimpaOutros()

					} else if (cboOrigemOsSelecionado < 6
							|| cboOrigemOsSelecionado > 10
							|| cboOrigemOsSelecionado == 8) {
						LimpaLynx()
						LimpaMonitInst()
						LimpaOficio()
						LimpaOutros()
					}
  
					salvarCanalOrigem();
					
					/* document.forms[0].action=
					document.forms[0].submit(); */
				}
				
				function alterar() {
					var cboOrigemOs = document.getElementById("form:cboOrigemOS_input").value.split("=")
					var cboOrigemOsSelecionado = cboOrigemOs[0]
					
					alterarCombo();		
					
				}
				//]]>
			</script>

</h:head>
<h:body class="PanelTitle">
	<h:form id="form" method="post">
		<table id="tabelaCampos" width="100%">

			<p:outputPanel rendered="true">
				<tr>
					<td><p:outputLabel for="cboOrigemOS"
							value="Canal de Origem da Ocorrência: "></p:outputLabel></td>
					<td><p:selectOneMenu id="cboOrigemOS" onchange="alterar()"
							value="#{CadosCanalOrigemBean.cboCanalOrigemSelecionada}"
							disabled="#{CadosCanalOrigemBean.desabilitar}">
							<f:selectItem itemLabel="Selecione" itemValue="" dynamic="true" />
							<f:selectItems
								value="#{CadosCanalOrigemBean.objRsAdmCnalOrig.entrySet()}"
								var="uni" itemvalue="#{uni.keySet()}" itemLabel="#{uni.value}" />
						</p:selectOneMenu></td>
				</tr>
			</p:outputPanel>
			<tr id="exibirCampos">
				<p:outputPanel rendered="#{CadosCanalOrigemBean.trOficio}">
					<tr id="trOficio">
						<td align="center" colspan="4">
							<table width="60%">
								<tr>
									<p:selectOneRadio id="rdoOficio"
										value="#{CadosCanalOrigemBean.TP_OFCI}"
										disabled="#{CadosCanalOrigemBean.desabilitar}">
										<f:selectItem itemLabel="Central de Soluções - CS"
											itemValue="C" />
										<f:selectItem itemLabel="SS" itemValue="S" />
										<f:selectItem itemLabel="IN" itemValue="I" />
									</p:selectOneRadio>
								</tr>
							</table>
						</td>
					</tr>
				</p:outputPanel>

				<p:outputPanel rendered="#{CadosCanalOrigemBean.trLynx}">
					<tr id="trLynx">
						<p:selectOneRadio id="rdoLynx"
							value="#{CadosCanalOrigemBean.TP_MONI_LYNX}"
							disabled="#{CadosCanalOrigemBean.desabilitar}">
							<td align="right"><f:selectItem
									itemLabel="Monitoramento Externo" itemValue="E" /></td>
							<td align="right"><f:selectItem
									itemLabel="Monitoramento Interno" itemValue="I" /></td>
						</p:selectOneRadio>
					</tr>
				</p:outputPanel>

				<p:outputPanel rendered="#{CadosCanalOrigemBean.trMonitInst}">
					<tr id="trMonitInst">
						<p:selectOneRadio id="rdoMonitInst"
							value="#{CadosCanalOrigemBean.IN_MINSTR}"
							disabled="#{CadosCanalOrigemBean.desabilitar}">
							<td align="right"><f:selectItem itemLabel="E-mail:"
									itemValue="E" /></td>
							<td align="right"><f:selectItem itemLabel="Outros:"
									itemValue="O" /></td>
						</p:selectOneRadio>
					</tr>
				</p:outputPanel>

				<p:outputPanel rendered="#{CadosCanalOrigemBean.trOutrosMeios}">
					<tr id="trOutrosMeios">
						<td align="center" colspan="4">
							<table>
								<tr>
									<p:selectBooleanCheckbox id="chkInte" name="chkInte"
										value="#{CadosCanalOrigemBean.IN_OMINTE}" itemLabel="Internet"
										disabled="#{CadosCanalOrigemBean.desabilitar}" />
									<p:selectBooleanCheckbox id="chkIntra" name="chkIntra"
										value="#{CadosCanalOrigemBean.IN_OMINTR}"
										disabled="#{CadosCanalOrigemBean.desabilitar}"
										itemLabel="Intranet" />
									<p:selectBooleanCheckbox id="chkEmail" name="chkEmail"
										value="#{CadosCanalOrigemBean.IN_OMINSTR}"
										disabled="#{CadosCanalOrigemBean.desabilitar}"
										itemLabel="E-mail" />
									<p:selectBooleanCheckbox id="chkTele" name="chkTele"
										value="#{CadosCanalOrigemBean.IN_OMTELE}"
										disabled="#{CadosCanalOrigemBean.desabilitar}"
										itemLabel="Telefone" />

								</tr>
								<tr>
									<!-- Esses valores tem de ser booleanos -->
									<p:selectBooleanCheckbox id="chkMalote" name="chkMalote"
										value="#{CadosCanalOrigemBean.IN_OMMALT}"
										disabled="#{CadosCanalOrigemBean.desabilitar}"
										itemLabel="Malote - Caixa Jurídica" />
									<p:selectBooleanCheckbox id="chkDenuncia" name="chkDenuncia"
										value="#{CadosCanalOrigemBean.IN_OMDENC}"
										disabled="#{CadosCanalOrigemBean.desabilitar}"
										itemLabel="Denúnia Anônima" />
									<p:selectBooleanCheckbox id="chkDepartamento"
										name="chkDepartamento"
										value="#{CadosCanalOrigemBean.IN_OMDEPT}"
										disabled="#{CadosCanalOrigemBean.desabilitar}"
										itemLabel="Departamentos" />
									<p:selectBooleanCheckbox id="chkAgencia" name="chkAgencia"
										value="#{CadosCanalOrigemBean.IN_OMAGEN}"
										disabled="#{CadosCanalOrigemBean.desabilitar}"
										itemLabel="Agências" />
								</tr>
							</table>
						</td>
					</tr>
				</p:outputPanel>
			</tr>

			<tr style="height: 5px">
				<td></td>
			</tr>
		</table>

		<table width="100%">
			<tr>
				<td>
					<div class="row-buttons">
						<p:row rendered="#{!CadosCanalOrigemBean.desabilitar}">
							<p:outputPanel>
								<p:commandButton type="button" onclick="Salvar()" id="btnSalvar"
									value="Salvar" styleClass="btn_110" style="cursor:hand" />
							</p:outputPanel>
						</p:row>
					</div>

				</td>
			</tr>
		</table>

		<p:inputText id="txtHdSeqOs" name="txtHdSeqOs" type="hidden"
			value="#{CadosCanalOrigemBean.strNrSeqOs}" />

		<p:remoteCommand name="alterarCombo"
			actionListener="#{CadosCanalOrigemBean.exibirCampos}" update="@form" />

		<p:remoteCommand name="salvarCanalOrigem"
			actionListener="#{CadosCanalOrigemBean.salvar}" />
	</h:form>
</h:body>





</html>
