<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<f:event listener="#{excluirOSBean.verificarPermissao}" type="preRenderView" />
    <h:head>
    	<h:outputStylesheet name="css/hy_style.css" />
    	<h:outputScript name="javascript/hy_funcoes.js" />
    </h:head>
 
    <h:body class="PanelTitle" style="height:100%">
	    <iframe id="ifrmOs" width="100%" height="0%" frameborder="0" scrolling="no" src="hyb_excluiros_iframe.xhtml?strNrSeqOs=#{excluirOSBean.strNrSeqOs}"></iframe>
    </h:body>
</ui:define></ui:composition>
