
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">
		<h:head>
			<title></title>
			<link rel="Stylesheet" href="../css/hy_style.css" type="text/css"
				media="screen" />
			<script type="text/javascript" src="../javascript/hy_funcoes.js"></script>

		</h:head>
		<h:body>
			<iframe src="#{PesquisaContaCD.srcIFrame}" id="IFrmPopUp"
				frameborder="0" width="100%"></iframe>
		</h:body>

	</ui:define>
</ui:composition>

