<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">
<!-- 	<ui:define name="content"> -->
<h:head>
	<title>HY - Ocorrências Especiais</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<script language="javascript">
		//<![CDATA[
		function Imprime() {
			with (document.all) {
				tblImprimirSup.style.display = 'none';
				window.print();
				tblImprimirSup.style.display = 'inline-table';
			}
		}
		
		//]]>
	</script>
	<style type="text/css">
	.row-even{
		background-color:"#ccc";
	}
	.row-odd{
		background-color:"#fff";
	}
	</style>
</h:head>

<h:body leftmargin="0" topmargin="0" bottommargin="0">
	<table style="background: red" width="100%" border="0" cellspacing="0"
		cellpadding="0" id="tblImprimirSup" height="50">
		<tr>
			<td align="center"><input name="btnImprimir" type="button"
				id="btnImprimir" value="Imprimir" onClick="Imprime();" />&#160;&#160;&#160;
				<input name="btnFechar" type="button" id="btnFechar"
				value=" Fechar " onClick="javascript:window.close();" /></td>
		</tr>
	</table>
	<table width="90%" border="0" height="98%" cellpadding="0"
		cellspacing="0" align="center">
		<tr>
			<!--CABEÃALHO-->
			<td height="15%">
				<table width="100%" border="0">
					<tr>
						<td colspan="3" width="99%" align="right"><p:graphicImage
								value="../images/img_topo_logo.gif" height="40" /></td>
					</tr>
					<tr>
						<td rowspan="2" width="10%">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td><font size="2" face="Arial, Helvetica, sans-serif"><h:outputText
												value="#{RastreabilidadeBean.objRs[0].DATA_ATUAL}" /></font></td>
								</tr>
								<tr>
									<td><font size="2" face="Arial, Helvetica, sans-serif"><h:outputText
												value="#{RastreabilidadeBean.objRs[0].HORA_ATUAL}" /></font></td>
								</tr>
							</table>
						</td>
						<td align="center" class="RelTitulo"><strong>SISTEMA
								DE OCORRÊNCIAS ESPECIAIS</strong></td>
						<td rowspan="2" align="center" width="10%" class="RelTxt">RASTREABILIDADE<br />O.S
						</td>
					</tr>
					<tr>
						<td rowspan="2" align="center" class="RelTitulo"><strong>ORDEM
								DE SERVIÇO Nº <h:outputText
									value="#{RastreabilidadeBean.strNrSeqOs}" />
						</strong></td>
					</tr>
				</table>
				<table width="99%" height="5px" class="RelTxt2" cellpadding="0"
					cellspacing="0">
					<tr>
						<td><hr /></td>
					</tr>
				</table>

			</td>
		</tr>
		<!--FIM CABECALHO-->
		<tr>
			<!--CORPO RELATORIO-->
			<td colspan="3" valign="top">

				<table width="100%" cellpadding="0" cellspacing="0">
					<tr height="25"
						style="background: gray; color: #FFFFFF; font-weight: bold">
						<td width="7%"></td>
						<td width="15%">Data</td>
						<td width="20%">Status</td>
						<td width="">WorkFlow</td>
					</tr>

					<p:repeat value="#{RastreabilidadeBean.objRs}" var="objRs"
						varStatus="status">
						<tr height="25" style="background-color: ${status.even ? '#eee': '#fff'}">
							<p:column rendered="#{status.last == true}">
								<td><span style="color: Red"><b>Inicio</b></span></td>
							</p:column>

							<p:column rendered="#{status.first == true}">
								<td><span style="color: Red"><b>Atual</b></span></td>
							</p:column>

							<p:column
								rendered="#{status.first == false &amp;&amp; status.last == false}">
								<td><span style="color: Red"><b></b></span></td>
							</p:column>

							<td><span
								style="font-weight: #{status.index== 0? 'bold': ''}"> <h:outputText
										value="#{objRs.DATA}" /></span></td>
							<td><span
								style="font-weight: #{status.index== 0? 'bold': ''}"><h:outputText
										value="#{objRs.CD_SITUACAO}" /> - (<h:outputText
										value="#{objRs.NM_SITUACAO}" />)</span></td>
							<td><span
								style="font-weight: #{status.index== 0? 'bold': ''}">
								<h:outputText value="#{objRs.NOTIFICACAO}" /></span></td>
						</tr>
					</p:repeat>

				</table>
				<table>
					<tr>
						<td height="30"></td>
					</tr>
				</table>
			</td>
		</tr>

<tr>
		<!--RODAPE-->

		<table width="99%" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td><hr style="width: 90%;" /></td>
				</tr>
			</tbody>
		</table>
		<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
			<tbody>
				<tr>
					<td width="15%" align="center"><font size="1"
						face="Arial, Helvetica, sans-serif">Login:#{RastreabilidadeBean.LOGIN_USUARIO}</font></td>
					<td align="center"><font size="1"
						face="Arial, Helvetica, sans-serif">Superintendência de
							Ocorrências Especiais</font></td>
					<td align="center" width="15%"><font size="1"
						face="Arial, Helvetica, sans-serif">1/1</font></td>
				</tr>
			</tbody>
		</table>

<h:form>
			<p:remoteCommand name="limparSessaoRemoteCommand"
                                        actionListener="#{RastreabilidadeBean.cleanSession}" />
</h:form>
</tr>
</table>

</h:body>
<!-- 	</ui:define> -->
</html>
