<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">
<h:head>	    
    <h:outputStylesheet name="css/hy_style.css"/>
    
   	<title>Ocorrência Especiais</title> 
   	<style>  
   		h1, h2, p {
   			text-align: center;
   		}	
   		h1 { margin-top: 20px }	
   		tr { text-align: center; height: 25px; }
   	</style>

</h:head>
   
<h:body class="PanelTitle" style="height: 100%">
	<h:form id="frm" name="frm" method="post">
		<div>
			<h1>#{relosEncerradaCanalBean.strNmRelat}</h1>        
			<p style="font-size:x-small;"><b>Período: #{relosEncerradaCanalBean.strDtIni} até #{relosEncerradaCanalBean.strDtFim}</b></p>
		</div>
		
        <h2>#{relosEncerradaCanalBean.strTitulo}</h2>
		<table style="width: 100%">
	        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
	            <td>N° OS</td>
	            <td>Data<br />Abertura</td>
	            <td>Data<br />Evento</td>
	            <td>Data<br />Encerramento</td>
	            <td>Agência</td>
	            <td>C/C</td>
	            <td>Cliente</td>
	            <td>PF<br />PJ</td>
	            <td>Valor<br />Envolvido</td>
	            <td>Valor<br />Prejuízo</td>
	            
	            <c:if test="#{relosEncerradaCanalBean.intCanal == 37}">
					<td>Analista</td>
				</c:if>	
				<c:if test="#{relosEncerradaCanalBean.intCanal == 6}">
					<td>IP Cliente</td>
					<td>IP Fraude</td>
				</c:if>
				<c:if test="#{relosEncerradaCanalBean.intCanal == 20}">
					<td>Telefone Cliente</td>
					<td>Telefone Fraude</td>
				</c:if>
	        </tr>
	        
	        <c:choose>
			    <c:when test="#{ not empty relosEncerradaCanalBean.objRelat }">
				    <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
		    			<tr>
							<td>#{rsRelat.getnOS()}</td>
							<td>#{rsRelat.getDataAbertura()}</td>						
							<td>#{rsRelat.getDataEvento()}</td>						
							<td>#{rsRelat.getDataEncerramento()}</td>						
							<td>#{rsRelat.getAgencia()}</td>						
							<td>#{rsRelat.getCc()}</td>						
							<td>#{rsRelat.getCliente()}</td>						
							<td>#{rsRelat.getPfPj()}</td>						
							<td>#{rsRelat.getValorEnvolvido()}</td>						
							<td>#{rsRelat.getValorPrejuizo()}</td>
							
							<c:if test="#{relosEncerradaCanalBean.intCanal == 37}">
								<td>#{rsRelat.getAnalista()}</td>
							</c:if>	
							<c:if test="#{relosEncerradaCanalBean.intCanal == 6}">
								<td>#{rsRelat.getIpCliente()}</td>
								<td>#{rsRelat.getIpFraude()}</td>
							</c:if>	
							<c:if test="#{relosEncerradaCanalBean.intCanal == 20}">
								<td>#{rsRelat.getTelefoneCliente()}</td>
								<td>#{rsRelat.getTelefoneFraude()}</td>
							</c:if>				
			        	</tr>
		    		</c:forEach>
				</c:when>
			    <c:otherwise>
				    <tr style="text-align: center"><td colspan="17"><b>Não existem dados para o período selecionado.</b></td></tr>
				</c:otherwise> 
			</c:choose>
		</table>
				
		<br /> <br /><br />
		
		<c:if test="#{relosEncerradaCanalBean.intCanal == 37}">
			<h2>Dados Específicos Cartão Débito</h2>
			<table style="width: 100%">
		        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
		            <td>N° OS</td>
		            <td>Cliente ajudado<br />por 3°</td>
		            <td>Nome Agência</td>
		            <td>Cartão Recebido</td>
		            <td>Cartão Retido</td>
		            <td>Interesse<br />Comercial</td>
		        </tr>
		        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
	    			<tr>
						<td>#{rsRelat.getnOS()}</td>
						<td>#{rsRelat.getClienteAjudado()}</td>						
						<td>#{rsRelat.getNomeAgencia()}</td>						
						<td>#{rsRelat.getCartaoRecebido()}</td>						
						<td>#{rsRelat.getCartaoRetido()}</td>						
						<td>#{rsRelat.getInteresse()}</td>		
		        	</tr>
	    		</c:forEach>
	        </table>
	        
	        <br /> <br /><br />
	        
	        <h2>Dados Específicos POC</h2>
			<table style="width: 100%">
		        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
		            <td>N° OS</td>
		            <td>Fragilização<br />do Cartão</td>
		            <td>Horário<br />Compreendido</td>
		            <td>Código<br />Agência</td>
		            <td>Descrição<br />Agência</td>
		            <td>Data<br />Ocorrência<br />POC</td>
		            <td>N° Terminal</td>
		            <td>Possui<br />Sensor</td>
		            <td>Outros</td>
		            <td>Nome do Estabelecimento</td>
		        </tr>
		        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
	    			<tr>
						<td>#{rsRelat.getnOS()}</td>
						<td>#{rsRelat.getFragilizacao()}</td>						
						<td>#{rsRelat.getHorario()}</td>						
						<td>#{rsRelat.getCodigoAgencia()}</td>						
						<td>#{rsRelat.getDescricaoAgencia()}</td>						
						<td>#{rsRelat.getDataOcorrenciaPoc()}</td>		
						<td>#{rsRelat.getnTerminal()}</td>		
						<td>#{rsRelat.getPossuiSensor()}</td>		
						<td>#{rsRelat.getOutros()}</td>		
						<td>#{rsRelat.getNomeEstabelecimento()}</td>		
		        	</tr>
	    		</c:forEach>
	        </table>
		<br /> <br /><br />
		</c:if>	
		
		<h2>Dados Cartão de Segurança</h2>
			<table style="width: 100%">
		        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
		            <td>N° OS</td>
		            <td>Solicitação</td>
		            <td>Ativação</td>
		            <td>Cancelamento</td>
		            <td>Data Evento</td>
		            <td>Indeferidas</td>
		            <td>Cliente<br />Informou<br />pop up?</td>
		            <td>Ressarcido/Negado</td>
		        </tr>
		        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
	    			<tr>
	    				<td>#{rsRelat.getnOS()}</td>
						<td>#{rsRelat.getSolicitacao()}</td>
						<td>#{rsRelat.getAtivacao()}</td>						
						<td>#{rsRelat.getCancelamento()}</td>						
						<td>#{rsRelat.getDataEvento()}</td>						
						<td>#{rsRelat.getIndeferidas()}</td>						
						<td>#{rsRelat.getClienteInformou()}</td>		
						<td>#{rsRelat.getRessarcido()}</td>			
		        	</tr>
	    		</c:forEach>
	        </table>
		
		<br /> <br /><br />
		
		<h2>Débitos Efetivados</h2>
		<table style="width: 100%">
	        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
	            <td>N° OS</td>
	            <td>Tipo de Produto</td>
	            <td>Operações</td>
	            <td>Quantidade</td>
	        </tr>
	        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
    			<tr>
    				<td>#{rsRelat.getnOS()}</td>
					<td>#{rsRelat.getTipoProduto()}</td>
					<td>#{rsRelat.getOperacoes()}</td>						
					<td>#{rsRelat.getQuantidade()}</td>		
	        	</tr>
    		</c:forEach>
        </table>
	
		<br /> <br /><br />
		
		<h2>Créditos Efetivados</h2>
		<table style="width: 100%">
	        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
	            <td>N° OS</td>
	            <td>Tipo de Produto</td>
	            <td>Operações</td>
	            <td>Quantidade</td>
	        </tr>
	        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
    			<tr>
    				<td>#{rsRelat.getnOS()}</td>
					<td>#{rsRelat.getTipoProduto()}</td>
					<td>#{rsRelat.getOperacoes()}</td>						
					<td>#{rsRelat.getQuantidade()}</td>		
	        	</tr>
    		</c:forEach>
        </table>
	
		<br /> <br /><br />
		
		<h2>Valores a abater do Prejuízo - EXCLUSÕES</h2>
		<table style="width: 100%">
	        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
	            <td>N° OS</td>
	            <td>Operações</td>
	            <td>Quantidade</td>
	        </tr>
	        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
    			<tr>
    				<td>#{rsRelat.getnOS()}</td>
					<td>#{rsRelat.getOperacoes()}</td>						
					<td>#{rsRelat.getQuantidade()}</td>		
	        	</tr>
    		</c:forEach>
        </table>
	
		<br /> <br /><br />
		
		<h2>Valores a abater do Prejuízo - RECUPERAÇÕES</h2>
		<table style="width: 100%">
	        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
	            <td>N° OS</td>
	            <td>Operações</td>
	            <td>Quantidade</td>
	        </tr>
	        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
    			<tr>
    				<td>#{rsRelat.getnOS()}</td>
					<td>#{rsRelat.getOperacoes()}</td>						
					<td>#{rsRelat.getQuantidade()}</td>		
	        	</tr>
    		</c:forEach>
        </table>
	
		<br /> <br /><br />
		
		<h2> Contestação - Débito</h2>
		<table style="width: 100%">
	        <tr style="background: red; color: white; font-weight: bold;"> 
	            <td>Operações</td>
	            <td>Valor Total</td>
	            <td>Percentual</td>
	        </tr>
	        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
    			<tr>
					<td>#{rsRelat.getOperacoes()}</td>						
    				<td>#{rsRelat.getValorTotal()}</td>
					<td>#{rsRelat.getPercentual()}</td>		
	        	</tr>
	        	
	        	<c:set var="dblTotlExcl" value="${dblTotlExcl + rsRelat.getValorPrejuizo()}"/>
	        	<c:set var="dblTotlRec" value="${dblTotlRec + rsRelat.getValorEnvolvido()}"/>
	        	<c:set var="dblTotl" value="${dblTotl + rsRelat.getValorTotal()}"/>
    		</c:forEach>
    		
    		<tr>
    			<td style="text-align: right; border-top: 1px solid #000"><b>Total </b></td>
    			<td style="border-top: 1px solid #000">#{dblTotl}</td>
    			<td style="border-top: 1px solid #000"></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td style="text-align: right"><b>Total Recuperado</b></td>
    			<td>#{dblTotlRec}</td>
    		</tr>
    		<tr>
    			<td></td>
    			<td style="text-align: right"><b>Total Excluído</b></td>
    			<td>#{dblTotlExcl}</td>
    		</tr>
    		<tr>
    			<td></td>
    			<td style="text-align: right"><b>Total Prejuízo</b></td>
    			<td>#{dblTotl - dblTotlRec - dblTotlExcl}</td>
    		</tr>
        </table>
        
        <br /> <br /><br />
		
		<h2> Contestação - Crédito</h2>
		<table style="width: 100%">
	        <tr style="background: red; color: white; font-weight: bold; text-align: center"> 
	            <td>Operações</td>
	            <td>Valor Total</td>
	            <td>Percentual</td>
	        </tr>
	        <c:forEach items="#{relosEncerradaCanalBean.objRelat}" var="rsRelat" varStatus="status">
    			<tr>
					<td>#{rsRelat.getOperacoes()}</td>						
    				<td>#{rsRelat.getValorTotal()}</td>
					<td>#{rsRelat.getPercentual()}</td>		
	        	</tr>
	        	<c:set var="dblTotlExcl" value="${dblTotlExcl + rsRelat.getValorPrejuizo()}"/>
	        	<c:set var="dblTotlRec" value="${dblTotlRec + rsRelat.getValorEnvolvido()}"/>
	        	<c:set var="dblTotl" value="${dblTotl + rsRelat.getValorTotal()}"/>
    		</c:forEach>
    		<tr>
    			<td style="text-align: right; border-top: 1px solid #000"><b>Total </b></td>
    			<td style="border-top: 1px solid #000">#{dblTotl}</td>
    			<td style="border-top: 1px solid #000"></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td style="text-align: right"><b>Total Recuperado</b></td>
    			<td>#{dblTotlRec}</td>
    		</tr>
    		<tr>
    			<td></td>
    			<td style="text-align: right"><b>Total Excluído</b></td>
    			<td>#{dblTotlExcl}</td>
    		</tr>
    		<tr>
    			<td></td>
    			<td style="text-align: right"><b>Total Prejuízo</b></td>
    			<td>#{dblTotl - dblTotlRec - dblTotlExcl}</td>
    		</tr>
        </table>
	
		<br /> <br /><br />
		
		<p style="margin-bottom: 10px">Superintêndencia de Ocorrências Especiais</p>
	</h:form>
		
    <script type="text/javascript">
	    function Voltar(){
	        history.back();
	    }
	    
	    function Imprimir(){
	        window.print();
	    }
    </script>
</h:body>
	</ui:define>
</ui:composition>