<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

	<ui:define name="content">
<h:head>
    <title></title>
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    <script language="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
    
    <script>
    //<![CDATA[
    	//parent.titulo.location.href = 'Titulo.xhtml?strTitulo="Administração - Gerencial"';
		//parent.rodape.location.replace("HY_BtnGenerico.xhtml?strButton="); 
    	
    	function Esperar(){
    		document.body.style.cursor = "wait";
    	}
    	
		function limparSessaoPesquisar(){
			document.body.style.cursor = "wait";
			limparSessaoPesquisarRemoteCommand();
		}
    //]]>	
    </script>
    
</h:head>
<h:body class="PanelTitle" style="height:100%">
	<iframe src="titulo.xhtml?strTitulo=Administração - Gerencial" frameborder="0" width="100%" height="27"></iframe>
<table border="0">
    <tr height="25">
        <td width="5"></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_cnal_orig.xhtml">
            <h:outputText style="cursor:pointer" value="Canal de Origem"></h:outputText>
            </h:outputLink>
            
        </td>
    </tr>
    <tr height="25">
        <td width="5"></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_pena.xhtml">
            <h:outputText style="cursor:pointer" value="Penalidade"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
    <tr height="25">
        <td width="5"></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_mot_pena.xhtml">
            <h:outputText style="cursor:pointer" value="Motivo Penalidade"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
    <tr height="25">
        <td></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_eventos.xhtml">
            <h:outputText style="cursor:pointer" value="Evento"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
    <tr height="25">
        <td width="5"></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_canais.xhtml">
            <h:outputText style="cursor:pointer" value="Canal"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
    <tr height="25">
        <td width="5"></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_pcorp.xhtml">
            <h:outputText style="cursor:pointer" value="Operaçőes Corporativas"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
    <tr height="25">
        <td width="5"></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_paux.xhtml">
            <h:outputText style="cursor:pointer" value="Operaçőes Auxiliares"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
    <tr height="25">
        <td width="5"></td>
        <td>
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink value="javascript:ExibirObj('divRecurso')">
            <h:outputText style="cursor:pointer" value="Recurso OCESP"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
</table>
<div id="divRecurso" style="display:none">
<table border="0">
    <tr height="18">
        <td width="20"></td>
        <td valign="top">
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="Esperar()" value="hyb_adm_ger_manut_rec_cad.xhtml">
            <h:outputText style="cursor:pointer" value="Cadastrar"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
    <tr height="18">
        <td width="20"></td>
        <td valign="top">
            <p:graphicImage value="../images/seta_d.gif" style="cursor:pointer"/>
            <h:outputLink onclick="limparSessaoPesquisar();" value="hyb_adm_ger_manut_rec_pesq.xhtml">
            <h:outputText style="cursor:pointer" value="Pesquisar"></h:outputText>
            </h:outputLink>
        </td>
    </tr>
</table>
</div>
<h:form>
			<p:remoteCommand name="limparSessaoPesquisarRemoteCommand"
                                        actionListener="#{admGerManutRecPesqBean.cleanSession}" />
</h:form>
</h:body>
</ui:define>
</ui:composition>