<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns="http://www.w3.org/1999/xhtml" >
<h:head>
    <title>HY - Ocorrências Especiais</title>
    <link rel="Stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen"/>
    <script type="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
    <script type="javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript">
	//<![CDATA[
		function Pesquisar()	{
			btnPesquisar();
			parent.parent.PF("statusDialog").show();
		}

		function Fechar(strNrSeqOs) {   
			parent.PF('pesquisa-envolvida-naocliente').hide();
		}
		
		function GravarParticipantejs(index){
			console.log("GravarParticipantejs", index);
			btnGravarParticipante([{name: "indice", value: index}]);
		}
	//]]>
	</script>
</h:head>
<h:body>
<h:form id="frmPesqPart" method="post">
<table width="100%" border="0" style="background-color:Red; color:White">
    <tr>
        <td colspan="6">Participação do Processo > Adicionar Participante</td>
    </tr>
    <tr>
        <td><b>Filtros para Pesquisa</b></td>
        <td><b>Nº da OS: <h:outputText value="#{cadOsMenuBean.strNrSeqOs}"/></b></td>
    </tr>
    <tr style="background-color: red; height:1px;"><td colspan="8"></td></tr>    
</table>
<p:fieldset styleClass="PanelTitle">
<table border="0" width="100%" >
    <tr>
        <td  width="20px">Nome:</td>
        <td colspan="4">
        	<p:inputText id="txtNomePart" name="txtNomePart" value="#{cadastroosPesquisaNaoClienteBean.strNome}" style="width:250px;"/>
        </td>        
    </tr>
    <tr>
        <td colspan="4">
          <p:selectOneRadio id="rdoTipoCli" value="#{cadastroosPesquisaNaoClienteBean.strTipo}">
	            <f:selectItem itemLabel="Pessoa Física" itemValue="F" />
	            <f:selectItem itemLabel="Pessoa Jurídica" itemValue="J"/>
        	</p:selectOneRadio>
          
        </td>
    </tr>
    <tr>
        <td>CPF/CNPJ:</td>
        <td>
        	<p:inputText id="txtCpfCnpj" name="txtCpfCnpj" maxlength="14" value="#{cadastroosPesquisaNaoClienteBean.strDocto}" style="width:100px;" onkeypress="BlockKeybord()">
        		<p:keyFilter regEx="/[\d]/" />
        	</p:inputText>
        </td>        
        <td align="right" colspan="2">
        	<h:graphicImage value="../images/lupa.gif" style="cursor:pointer" alt="Pesquisar" onclick="Pesquisar()"/>
        </td>
        <p:remoteCommand name="btnPesquisar" action="#{cadastroosPesquisaNaoClienteBean.FillTblPart}" update="pesquisa-naoclientes"></p:remoteCommand>
    </tr>
</table>   
<p:dataTable id="pesquisa-naoclientes"  paginator="false" value="#{cadastroosPesquisaNaoClienteBean.objRsParticipNaoClientes}" var="participNaoClientes" emptyMessage="#{cadastroosPesquisaNaoClienteBean.emptyMsg? 'Nenhum registro encontrado.' : ''}" rowIndexVar="index">
	<p:column headerText="CPF/CNPJ">
		<h:outputText value="#{participNaoClientes.CPF_CNPJ}"/>
	</p:column>
	<p:column headerText="Não Cliente/Outros">
		<h:outputText value="#{participNaoClientes.NM_PARP}"/>
	</p:column>
	<p:column headerText="Participação" colspan="2">
		<p:selectOneMenu id="cboDesig" value="#{participNaoClientes.CBO_DESIG}">
			<f:selectItems value="#{cadastroosPesquisaNaoClienteBean.objRsItemsCombo}" var="item" itemValue="#{item.CODIGO}" itemLabel="#{item.NOME}"></f:selectItems>
		</p:selectOneMenu>
	</p:column>
	<p:column headerText="" >
		<p:commandButton value="+" onclick="GravarParticipantejs(#{index})" />
		<p:remoteCommand name="btnGravarParticipante" action="#{cadastroosPesquisaNaoClienteBean.GravarParticipante}" update="@form"></p:remoteCommand>
	</p:column>
</p:dataTable>
</p:fieldset>
<table width="100%">
    <tr>
        <td align="right"><p:commandButton type="button" value="Voltar" style="text-align:center" onclick="Fechar();"/></td>
    </tr>
</table>

</h:form>
</h:body>
</html>
