<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


		<h:head>
			<h:outputStylesheet name="css/hy_style.css" />

			<title>HY - Ocorrência Especiais</title>
			<style>
</style>
		</h:head>

		<h:body class="PanelTitle" style="height: 100%">
			<h:form id="form">
				<p:dataTable var="os" value="#{RelOsDadosContabeisROBean.relatorio}"
					rowStyleClass="styleRow" rowIndexVar="rowIndex"
					id="relatorioPrimeiro"
					emptyMessage="Não exitem dados para o período selecionado.">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="17" style="align:center"
								headerText="Superintendência de Ocorrências Especiais" />
						</p:row>
						<p:row>
							<p:column colspan="17" style="align:center"
								headerText="Dados Contábeis – Riscos Operacionais" />
						</p:row>
						<p:row></p:row>	
					
						<p:row>
							<p:column colspan="17" style="align:center"
								headerText="Período: #{RelOsDadosContabeisROBean.strDtIni} até #{RelOsDadosContabeisROBean.strDtFim}" />
						</p:row>
						<p:row></p:row>
						<p:row>
							<p:column rowspan="2" colspan="5" headerText="Identificação do Evento" />
							<p:column rowspan="2" colspan="4" headerText="Localização da área de Ocorrência do Evento" />
							<p:column rowspan="2" colspan="8" headerText="Classificação / Descrição do Risco" />
						</p:row>
						<p:row>
						</p:row>
						<p:row >
							<p:column   headerText="   " style="align:center" />
							<p:column    styleClass="titulo-vermelho" headerText="N° OS" style="align:center" />
							<p:column    headerText="Status Evento" style="align:center" />
							<p:column    headerText="Evento" style="align:center" />
							<p:column    headerText="Área" style="align:center" />
							<p:column    headerText="Empresa" style="align:center" />
							<p:column    headerText="Linha Negócio Nível 1" style="align:center" />
							<p:column    headerText="Linha Negócio Nível 2" style="align:center" />
							<p:column    headerText="Código PV" style="align:center" />
							<p:column    headerText="Categoria Atividade Nível 1"
								style="align:center" />
							<p:column    headerText="Categoria Atividade Nível 2"
								style="align:center" />
							<p:column    headerText="Categoria Atividade Nível 3"
								style="align:center" />
							<p:column    headerText="Código Categoria Atividade Nível 3"
								style="align:center" />
							<p:column    headerText="Fator Risco" style="align:center" />
							<p:column    headerText="Data Ocorrência" style="align:center" />
							<p:column    headerText="Data Detecção" style="align:center" />
							<p:column    headerText="Data Encerramento" style="align:center" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{rowIndex + 1}" />
					</p:column>
					<p:column>
						<h:outputText value="#{os.nOs}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.statusEvento}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.evento}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.area}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.empresa}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.linha1}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.linha2}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.codigoPV}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.categoria1}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.categoria2}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.categoria3}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.codigoCategoria}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.fatorRisco}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.dataOcorrencia}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.dataDeteccao}" />
					</p:column>
					<p:column>

						<h:outputText value="#{os.dataEncerramento}" />
					</p:column>
					
				</p:dataTable>

				<p:dataTable var="os"
						value="#{RelOsDadosContabeisROBean.relatorio}"
						rowStyleClass="styleRow" rowIndexVar="rowIndex"
						id="relatorioSegundo"
						emptyMessage="Não exitem dados para o período selecionado.">
							<p:columnGroup type="header">
								<p:row>
									<p:column colspan="8" headerText="Dados Quantitativos" style="align:center" />
									<p:column colspan="2" headerText="Conciliação Contábil" style="align:center" />
									<p:column colspan="2" headerText="Campos Adicionais" style="align:center"/>
								</p:row>
								<p:row>
									<p:column headerText="   " style="align:center" />
									<p:column headerText="N° OS" style="align:center" />
									<p:column headerText="Valor Envolvido" style="align:center" />
									<p:column headerText="Valor Evitado" style="align:center" />
									<p:column headerText="Valor Recuperado" style="align:center" />
									<p:column headerText="Valor Recuperado Seguro" style="align:center" />
									<p:column headerText="Valor Perda Efetiva" style="align:center" />
									<p:column headerText="Data Pagamento Seguro" style="align:center" />
									<p:column headerText="Conta Contábil da Perda" style="align:center" />
									<p:column headerText="Data Contabilização do Evento da Perda" style="align:center" />
									<p:column headerText="Causa do Evento" style="align:center" />
									<p:column headerText="Valor Excluído" style="align:center" />
								</p:row>
							</p:columnGroup>
						<p:column>
							
							<h:outputText value="#{rowIndex + 1}" />
						</p:column>
						<p:column>
							<h:outputText value="#{os.nOs}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.valorEnvolvido}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.valorEvitado}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.valorRecuperado}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.valorSeguro}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.valorPerdaEfetiva}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.dataPagamento}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.contaContabil}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.dataContabilizacao}" />
						</p:column>
						<p:column>
							
							<h:outputText value="#{os.causaEvento}" />
						</p:column>
					<p:column>

						<h:outputText value="#{os.valorExcluido}" />
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="2" footerText="Total Valores"
								style="align:center" />
							<p:column footerText="0" style="align:center" />
							<p:column footerText="0" style="align:center" />
							<p:column footerText="0" style="align:center" />
							<p:column footerText="" style="align:center" />
							<p:column footerText="0" style="align:center" />
							<p:column colspan="4" footerText="" style="align:center" />
							<p:column footerText="0" style="align:center" />

						</p:row>
					</p:columnGroup>
				</p:dataTable>


				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="relatorioPrimeiro,relatorioSegundo"
						fileName="OCESP_Relatorio" fontName="Calibri" cellFontColor="#000000" cellFontSize="150"
						cellFontStyle="NORMAL" encoding="UTF-8"
						postProcessor="#{RelOsDadosContabeisROBean.postProcessExcel}" datasetPadding="3"/>
				</h:commandLink>
				<p:remoteCommand actionListener="#{RelOsDadosContabeisROBean.now()}" update="@form"/>
			</h:form>
			
			

			<script type="text/javascript">
			//<![CDATA[
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
							//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{RelOsDadosContabeisROBean.strDtIni}&pDtFim=#{RelOsDadosContabeisROBean.strDtFim}','_self');
					},5000); 
				 } 
			function Voltar() {
				history.back();
			}

			function Imprimir() {
				window.print();
			}
			function LimparUrl(){
				history.pushState(null, '', '');
			}
			//]]>
    </script>
		</h:body>
</ui:composition>