<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
  
<h:head>
	<title></title>
	<link rel="Stylesheet" href="#{request.contextPath}/css/hy_style.css"
		type="text/css" media="screen" />
	<link rel="stylesheet"
		href="#{request.contextPath}/css/hy_calendar.css" media="screen" />
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script language="javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<style type="text/css">
.ui-paginator.ui-paginator-top {
	display: none;
}

.ui-widget-content .ui-datatable-empty-message {
	font-weight: bold;
	text-align: center;
	color: #000;
}
</style>

	<ui:insert name="javaScriptReference" />
	<script type="text/javascript">
//<![CDATA[

/* function window.onload ()
{
	Resize();
}

function Resize()
{
    window.parent.document.all['ifrmEquipAtrib'].height=this.document.body.scrollHeight;	
} */
//]]>
</script>
</h:head>
<h:body class="PanelTitle">
	<h:form id="frm-adicionar" method="post">
		<table border="0" width="">
			<tr>
				<td>CPF:</td>
				<td><p:inputText id="txtCpf" name="txtCpf" style="width:75px;"
						onkeypress="fnMascaraCPF(this);"
						value="#{CadOsEquipatribBean.strCpf}" /></td>
				<td width="10"></td>
				<td>Nº Matrícula:</td>
				<td><p:inputText id="txtMatricula" name="txtMatricula"
						onkeypress="BlockKeybord()" style="width:75px;" maxlength="10"
						value="#{CadOsEquipatribBean.strMatricula}" /></td>
				<td width="10"></td>
				<td>Nome:</td>
				<td><p:inputText id="txtNome" name="txtNome"
						style="width:216px;" maxlength="50"
						value="#{CadOsEquipatribBean.strNome}" /></td>
				<td colspan="2"></td>
				<td align="right"><p:commandLink
						action="#{CadOsEquipatribBean.consultarRecurso}"
						update="checkboxDT" >
						<p:graphicImage id="imgPV" value="../images/lupa.gif"
													alt="Pesquisar" />
						</p:commandLink></td>


			</tr>
		</table>

	<p:dataTable id="checkboxDT" var="objRsCadOs"
			value="#{CadOsEquipatribBean.objRsPesquisados}"
			rowKey="#{objRsCadOs.strMatricula}" style="margin-bottom:0"
			emptyMessage="Nenhum Recurso Encontrado!" rows="8" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
			currentPageReportTemplate="{startRecord} de {endRecord} do Total de {totalRecords}"
			selection="#{CadOsEquipatribBean.objRsAdicionados}">
			<p:column selectionMode="multiple"
				style="width:16px;text-align:center" />
			<p:column style="witdh:15%" headerText="Matrícula">
				<h:outputText value="#{objRsCadOs.strMatricula}" />
			</p:column>
			<p:column style="witdh:20%" headerText="CPF">
				<h:outputText value="#{objRsCadOs.strCpf}" />
			</p:column>
			<p:column style="witdh:45%" headerText="Nome">
				<h:outputText value="#{objRsCadOs.strNome}" />
			</p:column>
			<p:column headerText="Cargo">
				<h:outputText value="#{objRsCadOs.strCargo}" />
			</p:column>
		</p:dataTable>
		<table border="0" width="100%">
				<tr>
				<td align="right"><p:commandButton value="Adicionar"
						action="#{CadOsEquipatribBean.adicionar}"
						update="frm-adicionar:checkboxDT"/></td>
			</tr>
		</table>

			<p:inputText id="txtHdAction" name="txtHdAction"  value="#{CadOsEquipatribBean.txtHdAction}" type="hidden" /> 
		<p:inputText id="strNrSeqOs" name="strNrSeqOs" type="hidden"
			value="strNrSeqOs" />
		<p:inputText id="txtHdAddParam" name="txtHdAddParam" type="hidden" />
		
		
		<p:defaultCommand target="tirarAcaoBtn"/>
			<p:commandButton id="tirarAcaoBtn" process="@none" style="display:none;" global="false" />
		
	</h:form>
</h:body>

</html>

