<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />

	<script type="text/javascript">
		//<![CDATA[

		function Imprime()
		{
			/* Função que esconde o help de configuração , o botão imprimir e o botão fechar,
			envia os dados para a impressora.
			*/

			window.document.all['btnImprimir'].style.display = 'none';
			window.document.all['btnFechar'].style.display = 'none';
			document.getElementById('divMenuEsquerdo').style.display = 'none';
			document.getElementsByClassName('header')[0].style.display = 'none';
			
			window.print();
			
			window.document.all['btnImprimir'].style.display = 'inline';		
			window.document.all['btnFechar'].style.display = 'inline';
			document.getElementById('divMenuEsquerdo').style.display = 'inline-block';
			document.getElementsByClassName('header')[0].style.display = 'block';
		}

		//]]>
	</script>

</h:head>

<h:body class="PanelTitle">
	<div id="divRelatorio">
		<table style="background:red" width="100%" border="0" cellspacing="0" cellpadding="0" id="tblImprimirSup" height="50">
			<tr> 
				<td align="center">
					<p:commandButton name="btnImprimir" type="button" id="btnImprimir" value="Imprimir" style="margin-right:10px;" onclick="Imprime()"/>&nbsp;&nbsp;&nbsp;
					<p:commandButton name="btnFechar" type="button" id="btnFechar" value=" Fechar " onclick="javascript:window.close();"/>&nbsp;&nbsp;&nbsp;
				</td>
			</tr>
		</table>

		<!--Cabeçalho-->
		<table cellspacing="1" cellpadding="1" border="0" width="100%">
			<tr>
				<td width="20%"><p:graphicImage alt="Pesquisar Superior Imediato" value="../images/img_topo_logo.gif" style="cursor:hand"/></td>
				<td colspan="6" width="60%" class="" align="right"></td>
			</tr>
		</table>

		<table width="100%" border="0">
			<tr>		
				<td height="30"> </td>
			</tr>
		</table>

		<table width="100%" cellpadding="1" cellspacing="1" border= "0">
			<tr><td height="20" align="center" style="FONT-SIZE: 12pt;"><b>Superintendência de Ocorrências Especiais</b></td></tr>
			<tr><td height="50" align="center" style="FONT-SIZE: 12pt;"><b>Gerência Geral de Ocorrências Especiais – Internas – GOI</b></td></tr>
			<tr><td height="20" align="center" style="FONT-SIZE: 12pt;"><b>Relatório de Controle de Log</b></td></tr>
		</table>

		<table width="100%" border="0"><tr><td height="15"></td></tr></table>

		<table width="80%" cellpadding="1" cellspacing="1" border= "0" align="center">
			<h:panelGroup rendered="#{!empty ImprimirLogBean.objRsAdmLog}">				
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr height="20" style=" background-color:gray; color:White; font-weight:bold">
						<td>Data Ação</td>
						<td>Hora Ação</td>
						<td>Login Usuário</td>
						<td>Descrição da Ação</td>
						<td>Nº OS</td>
					</tr>

					<p:repeat value="#{hyAdmLogBean.objRsAdmLog}" var="admlog" varStatus="status">
						<tr height="20" style="#{(status.index mod 2 eq 0) ? 'background: #FFFFFF' : 'background: #E8E8E8'}">        
							<td><h:outputText value="#{admlog.DT_ACAO}"/></td>
							<td><h:outputText value="#{admlog.DT_HORA}"/></td>
							<td><h:outputText value="#{admlog.COD_USUARIO}"/></td>
							<td><h:outputText value="#{admlog.NM_ACAO}"/></td>
							<td><h:outputText value="#{admlog.NR_OS}"/></td>
						</tr>
					</p:repeat>		

				</table>
			</h:panelGroup>	
				

	        <h:panelGroup rendered="#{empty ImprimirLogBean.objRsAdmLog}">
	            <table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td valign="top" align="center">Nenhum registro encontrado.</td>
					</tr>
				</table>
	        </h:panelGroup>	
		</table>
		
		<table width="100%" border="0">
			<td height="200"></td>
		</table>

		<!--Rodapé-->
		<table width="100%" border="0">
			<tr>
				<td>
					<h:outputText value="#{ImprimirLogBean.dtNow}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" timeZone="GMT-3"/>
					</h:outputText> 
				</td>
				<td colspan="6" align="center">Superintendência de Ocorrências Especiais</td>
				<td align="right">1</td>
			</tr>
		</table>

	</div>
	
</h:body>


</ui:define></ui:composition>