<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">
<h:head>
	<title>HY - Ocorrências Especiais</title>
	<link type="text/css" rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/hy_style.css" />
	<link type="text/css" rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/hy_calendar.css" />

	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>

	<script type="text/javascript" language="javascript">
		//<![CDATA[
		function Salvar() {
			/* 				    var strXml;
			 var objXmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
			 var strReturn; 
			
			
			 if (strReturn.toUpperCase().indexOf('XHY')!=-1)
			 {        
			 location.href = "HY_Erro.xhtml?strErro=" + strReturn;
			 return;
			 }
			 else if (strReturn == 'true')
			 {
			 alert('Dados Salvos com Sucesso!');
			 }
			 else
			 {
			 alert('Erro: Não foi possível salvar os dados!');
			 }  */
			//salvarRemoteCommand();				    
		}

		function MascararData(obj) {
			if (obj.value.length == 2) {
				obj.value += '/';
			}
			if (obj.value.length == 5) {
				obj.value += '/';
			}
		}

		function ValidaData(obj) {
			if (obj.value != '' && obj.value != '__/__/____') {
				if (!isDateString(obj.value)) {
					alert('Data inválida!');
					obj.value = '';
					obj.focus();
					return;
				}
			}
		}

		/*******************************************************/
		var texto = new String();
		function Contar(Campo, td, intQntC) {
			document.getElementById(td).innerText = intQntC
					- Campo.value.length + ' caracteres restantes.'

			if ((intQntC - Campo.value.length) > 0) {
				texto = Campo.value
			}
		}

		function Maxlength(obj, intQntC) {
			if ((intQntC - obj.value.length) <= 0) {
				obj.value = texto
			}
		}
		/**********************************************************/

		//]]>
	</script>


</h:head>
<h:body>
	<h:form id="form">
		<table width="100%" border="0"
			style="background-color: Red; color: White">

			<tr>
				<td colspan="">Eventos > Fraudes Operacionais > Produtos
					Fraudados</td>
				<td align="right"><b>Nº OS:&#160;&#160;<h:outputText
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_SEQU_ORDE_SERV}" /></b></td>
			</tr>
			<tr>
				<td colspan="2"><b><h:outputText
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.DESC_TRAN }" /></b></td>
			</tr>
			<tr>
				<td><b>Valor Fraude: R$<h:outputText
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.VL_TRAN}" />
				</b></td>
				<td align="right" colspan="">
					<p:commandButton id="Button1"
						value="Voltar" onclick="parent.PF('detalhe-produto-fo-fe').hide();" />&#160;&#160; 
					<p:commandButton
						id="Button2" value="Salvar"
						action="#{CadastroOsDetalheProdutoFOBean.salvar}" />
				</td> 
			</tr>
			<tr style="background-color: red; height: 1px;">
				<td colspan="8"></td>
			</tr>
		</table>

		<fieldset class="PanelTitle">
			<legend>
				<strong>Informações Gerais</strong>
			</legend>
			<table width="100%">
				<tr>
					<td width="18%">Local Fraude:</td>
					<td><p:inputText id="NM_LOCA_TRAN" style="width:300px"
							maxlength="30"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NM_LOCA_TRAN }" /></td>
				</tr>
				<tr>
					<td>Espécie:</td>
					<td><p:selectOneMenu id="TP_ESPE"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_ESPE}"
							style="width:150px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Dinheiro" itemValue="1" />
							<f:selectItem itemLabel="Cheque" itemValue="2" />
							<f:selectItem itemLabel="Bens" itemValue="3" />
						</p:selectOneMenu></td>
				</tr>
				<tr>
					<td colspan="2">Texto Adicional<br /> <p:inputTextarea
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TX_DADO_COMP}"
							counter="display" counterTemplate="{0} caracteres restantes."
							cols="20" rows="2" style="width:99%; height:100px; resize: none"
							maxlength="150"></p:inputTextarea> <h:outputText id="display" />
					</td>
				</tr>
				<tr>
					<td id="td1" align="right" colspan="2">
						<!-- <% if isnull(len(objRs("TX_DADO_COMP"))) then Response.Write "150 caracteres restantes." else response.write 150 - len(objRs("TX_DADO_COMP")) & " caracteres restantes." end if }" -->
					</td>
				</tr>
			</table>
		</fieldset>

		<table class="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<fieldset class="PanelTitle">
			<legend>
				<strong>Abertura de Conta</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td colspan="2">Forma de Abertura da Conta<br /> <p:selectOneMenu
							id="TP_ABER_CNTA"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_ABER_CNTA}">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem
								itemLabel="Abertura Fraudulenta de Conta Consquista"
								itemValue="1" />
							<f:selectItem itemLabel="Abertura Fraudulenta de Conta Indicação"
								itemValue="2" />
							<f:selectItem itemLabel="Abertura Fraudulenta de Conta"
								itemValue="3" />
							<f:selectItem
								itemLabel="Abertura Fraudulenta de Conta Espontânea"
								itemValue="4" />
							<f:selectItem
								itemLabel="Abertura Fraudulenta de Conta Prospectada"
								itemValue="5" />
							<f:selectItem itemLabel="Alteração Fraudulenta de Titulares"
								itemValue="6" />
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>Confirmado Endereço de Referência?</td>
					<td><p:selectOneRadio id="IN_CONF_ENDE_REFE"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.IN_CONF_ENDE_REFE}">
							<f:selectItem itemLabel="Sim" itemValue="1" />
							<f:selectItem itemLabel="Não" itemValue="0" />
						</p:selectOneRadio></td>
				</tr>
				<tr>
					<td>Documentação do Processo Completa?</td>
					<td><p:selectOneRadio id="IN_DOCT_PROC_COPT"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.IN_DOCT_PROC_COPT}">
							<f:selectItem itemLabel="Sim" itemValue="1" />
							<f:selectItem itemLabel="Não" itemValue="0" />
						</p:selectOneRadio></td>
				</tr>
			</table>

		</fieldset>

		<table class="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - CHEQUES -->
		<fieldset class="PanelTitle">
			<legend>
				<strong>Cheques</strong>
			</legend>
			<table width="100%" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td width="100">Nome Favorecido:</td>
					<td><p:inputText id="NM_CLIE_FAVD" style="width:150px"
							maxlength="20"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NM_CLIE_FAVD }" /></td>
					<td width="88">Data Pagamento:</td>
					<td><p:calendar id="DT_PGTO_CHEQ"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.DT_PGTO_CHEQ }"
							showOn="button" align="absbottom" src="../images/calendario.gif"
							alt="Calendario" style="cursor:hand;" onkeypress="BlockKeybord()"
							onblur="ValidaData(this)"
							onclick="displayCalendar(document.forms[0].DT_PGTO_CHEQ,'dd/mm/yyyy',this);"
							locale="pt_BR" pattern="dd/MM/yyyy" mask="true"
							mindate="01/01/2000" maxdate="31/12/2100" /></td>
					<td></td>
				</tr>
				<tr>
					<!--td>Valor Cheque:</td>
        <td><p:inputText id="Text5"   /></td-->
					<td>Nº Cheque:</td>
					<td><p:inputText id="NR_CHEQ" style="width:150px"
							maxlength="15"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_CHEQ }"
							onkeypress="BlockKeybord()" /></td>

				</tr>
				<tr>
					<td>Tipo Fraude:</td>
					<td colspan="4"><p:selectOneMenu id="TP_FRAU_CHEQ"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_FRAU_CHEQ}">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Liquidação de Cheque Fabricado no Caixa"
								itemValue="1" />
							<f:selectItem
								itemLabel="Liquidação de Cheque com Assinatura Falsificada no Caixa"
								itemValue="2" />
							<f:selectItem
								itemLabel="Liquidação de Cheque Fabricado na Compensação"
								itemValue="3" />
							<f:selectItem
								itemLabel="Liquidação de Cheque com Assinatura Falsificada na Compensação"
								itemValue="4" />
							<f:selectItem
								itemLabel="Liquidação de Cheque Adulterado no Caixa"
								itemValue="5" />
							<f:selectItem
								itemLabel="Liquidação de Cheque Adulterado na Compensação"
								itemValue="6" />
							<f:selectItem
								itemLabel="Fraudes na Guarda e Entrega de talonários de Cheques na Agência"
								itemValue="7" />
							<f:selectItem
								itemLabel="Furto/ Roubo/ Extravio de Talonários e/ou Cheques"
								itemValue="8" />
							<f:selectItem itemLabel="Desvio da Finalidade do Cheque"
								itemValue="9" />
						</p:selectOneMenu></td>
				</tr>
				<tr>
					<td>Canal Pagamento:</td>
					<td><p:selectOneMenu id="TP_CNAL_PGTO"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_CNAL_PGTO}"
							style="width:150px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Caixa" itemValue="1" />
							<f:selectItem itemLabel="Compensação" itemValue="2" />
						</p:selectOneMenu></td>
				</tr>
			</table>

		</fieldset>

		<table styleClass="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - DEPÓSITOS -->
		<fieldset styleClass="PanelTitle">
			<legend>
				<strong>Depósitos</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td width="">Nº Depósito:</td>
					<td><p:inputText id="NR_DEPO" maxlength="10"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_DEPO }"
							onkeypress="BlockKeybord()" /></td>
				</tr>
				<tr>
					<td width="">Sub-Produto:</td>
					<td><p:selectOneMenu id="TP_SUBP_DEPO"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_SUBP_DEPO}">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Envelope" itemValue="1" />
							<f:selectItem itemLabel="Cheques Fraudados/ Roubados"
								itemValue="2" />
							<f:selectItem
								itemLabel="Tentativas de Cheques Fraudados / Roubados"
								itemValue="3" />
							<f:selectItem itemLabel="Armadilha para Retenção de Envelope"
								itemValue="4" />
						</p:selectOneMenu></td>
				</tr>
				<tr>
					<td width="">Forma Depósito:</td>
					<td><p:selectOneMenu id="TP_FORM_DEPO"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_FORM_DEPO}">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem
								itemLabel="Fraude em Equipamento de Auto Atendimento"
								itemValue="1" />
							<f:selectItem itemLabel="Fraude Caixa" itemValue="2" />
							<f:selectItem itemLabel="Fraude em REB" itemValue="3" />
						</p:selectOneMenu></td>
				</tr>
				<!--tr>
        <td width="">Espécie:</td>
        <td>
            <p:selectOneMenu id="TP_ESPE_00">
                <option value="">Selecione</option>
                <option value="1">Cheque</option>                            
                <option value="2">Dinheiro</option>
            </p:selectOneMenu>
        </td>        
    </tr-->
				<tr>
					<td>Nº Agência:</td>
					<td><p:inputText id="NM_BANC_CRED_00"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NM_BANC_CRED_00}"
							maxlength="4" onkeypress="BlockKeybord()" /></td>
				</tr>
				<tr>
					<td>Nº Equipamento:</td>
					<td><p:inputText id="NR_EQPT_DEPO" maxlength="10"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_EQPT_DEPO }"
							onkeypress="BlockKeybord()" /></td>
				</tr>
			</table>

		</fieldset>

		<table styleClass="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - DÉBITOS -->
		<fieldset styleClass="PanelTitle">
			<legend>
				<strong>Débitos</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td width="">Nº Débito:</td>
					<td><p:inputText styleClass="" id="NR_DEBT" maxlength="10"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_DEBT }"
							onkeypress="BlockKeybord()" /></td>
					<td>Descrição:</td>
					<td><p:inputText styleClass="" id="NM_DEBT"
							style="width:300px" maxlength="50"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NM_DEBT }" /></td>
				</tr>
				<tr>
					<td>Código:</td>
					<td><p:inputText styleClass="" id="CD_DEBT" maxlength="10"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.CD_DEBT }" /></td>
				</tr>
			</table>

		</fieldset>

		<table styleClass="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - TÍTULOS -->
		<fieldset styleClass="PanelTitle">
			<legend>
				<strong>Títulos</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td>Nº Título:</td>
					<td><p:inputText id="NR_TITU" style="width:250px"
							maxlength="48"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_TITU }"
							onkeypress="BlockKeybord()" /></td>
					<!--td>Tipo Cobrança:</td>
        <td>
            <p:selectOneMenu id="Select14">
                <option value="">...</option>
                <option value="1">Com Registro</option>                            
                <option value="2">Sem Registro</option>
            </p:selectOneMenu>
        </td-->
				</tr>
				<tr>
					<td>Nome Cedente:</td>
					<td><p:inputText id="NM_CEDE_TITU" style="width:250px"
							maxlength="30"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NM_CEDE_TITU }" /></td>
				</tr>
				<tr>
					<td>Floating:</td>
					<td><p:selectOneMenu id="TP_FLOAT"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_FLOAT}"
							style="width:100px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="D+0" itemValue="1.0" />
							<f:selectItem itemLabel="D+1" itemValue="2.0" />
							<f:selectItem itemLabel="D+2" itemValue="3.0" />
							<f:selectItem itemLabel="D+3" itemValue="4.0" />
							<f:selectItem itemLabel="D+4" itemValue="5.0" />
							<f:selectItem itemLabel="D+5" itemValue="6.0" />
						</p:selectOneMenu></td>
				</tr>
				<tr>
					<td>Sub-Produto:</td>
					<td><p:selectOneMenu id="TP_SUBP"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_SUBP}"
							style="width:250px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Código de Barras / Linha digitável"
								itemValue="1" />
							<f:selectItem itemLabel="Pago com cheque Fraudado / Roubado"
								itemValue="2" />
							<f:selectItem itemLabel="Título com Autenticação Falsa"
								itemValue="3" />
						</p:selectOneMenu></td>
					<!--td>Canal da Fraude:</td>
        <td>
            <p:selectOneMenu id="Select4">
                <option value="">...</option>
                <option value="1">Caixa</option>                            
                <option value="2">Autoatendimento</option>
            </p:selectOneMenu>
        </td-->
				</tr>
			</table>

		</fieldset>

		<table styleClass="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - CDC/LEASING/GRAVAME -->
		<fieldset styleClass="PanelTitle">
			<legend>
				<strong>CDC/Leasing/Gravame</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td>Nº CDC/Leasing/Gravame:</td>
					<td><p:inputText id="NR_CDC_LEAS_GRVM" style="width:100px"
							maxlength="10"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_CDC_LEAS_GRVM }"
							onkeypress="BlockKeybord()" /></td>
					<td>Nome Operador:</td>
					<td><p:inputText id="NM_OPED_CDC_LEAS_GRVM"
							style="width:250px" maxlength="50"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NM_OPED_CDC_LEAS_GRVM }" /></td>
				</tr>
				<tr>
					<td>Valor Contrato (R$):</td>
					<td><p:inputText id="VL_CNTA_CDC_LEAS_GRVM"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.VL_CNTA_CDC_LEAS_GRVM}"
							style="width:100px" maxlength="14"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2);" /></td>
					<td>Filial:</td>
					<td><p:inputText id="NM_BANC_CRED_01"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NM_BANC_CRED_01}"
							style="width:250px" maxlength="15"
							action="#{CadastroOsDetalheProdutoFOBean.formatNM_BANC_CREDRight()}" /></td>
				</tr>
				<tr>
					<td>Valor em Aberto (R$):</td>
					<td><p:inputText id="VL_ABER_CDC_LEAS_GRVM"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.VL_ABER_CDC_LEAS_GRVM}"
							style="width:100px" maxlength="14"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2);" /></td>

					<td>Nº Parcela:</td>
					<td><p:inputText id="NR_PARC_CDC_LEAS_GRVM" style="width:80px"
							maxlength="3"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.NR_PARC_CDC_LEAS_GRVM }"
							onkeypress="BlockKeybord()" /></td>
				</tr>
				<tr>
					<td>Valor Pago (R$):</td>
					<td><p:inputText id="VL_PAGO_CDC_LEAS_GRVM"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.VL_PAGO_CDC_LEAS_GRVM}"
							style="width:100px" maxlength="14"
							onkeypress="BlockKeybord(); fnMascaraValor(this,2);" /></td>
					<td>Canal Origem:</td>
					<td><p:selectOneMenu id="TP_CNAL_ORIG_CDC_LEAS_GRVM"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_CNAL_ORIG_CDC_LEAS_GRVM}"
							style="width:80px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Agência" itemValue="1" />
							<f:selectItem itemLabel="Lojas" itemValue="2" />
						</p:selectOneMenu></td>
				</tr>
			</table>

		</fieldset>

		<table styleClass="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - OPERAÇÕES DE CRÉDITO FRAUDULENTAS -->
		<fieldset styleClass="PanelTitle">
			<legend>
				<strong>Operações de Crédito Fraudulenta</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td><p:selectOneMenu id="TP_OPER_FRAU"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_OPER_FRAU}"
							style="width:200px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Empréstimo Pessoal" itemValue="1" />
							<f:selectItem itemLabel="Consignado INSS" itemValue="2" />
							<f:selectItem itemLabel="Consignado Folha" itemValue="3" />
							<f:selectItem itemLabel="Conta Garantida" itemValue="4" />
							<f:selectItem itemLabel="Capital de Giro" itemValue="5" />
							<f:selectItem itemLabel="Desconto Cheque" itemValue="6" />
							<f:selectItem itemLabel="Desconto Duplicata" itemValue="7" />
							<f:selectItem itemLabel="Outros" itemValue="8" />
						</p:selectOneMenu></td>

					<!--td>Canal:</td>
        <td>
            <p:selectOneMenu id="Select16">
                <option value="">...</option>
                <option value="1">Auto Atendimento</option>
                <option value="2">Credenciados</option>
                <option value="3">Agências</option>
            </p:selectOneMenu>
        </td-->
				</tr>
			</table>

		</fieldset>

		<table styleClass="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - GOLPES AUTO ATENDIMENTO-->
		<fieldset styleClass="PanelTitle">
			<legend>
				<strong>Golpes Auto-Atendimento</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td><p:selectOneMenu id="TP_FRAU_AUTO_ATEN"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_FRAU_AUTO_ATEN}"
							style="width:200px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Extravio de Numerário" itemValue="1" />
							<f:selectItem itemLabel="Outros" itemValue="2" />
						</p:selectOneMenu></td>
				</tr>
			</table>

		</fieldset>

		<table styleClass="PanelTitle" width="100%">
			<tr height="8">
				<td></td>
			</tr>
		</table>

		<!-- FRAUDES OPERACIONAIS - OUTRAS FRAUDES -->
		<fieldset styleClass="PanelTitle">
			<legend>
				<strong>Outras Fraudes</strong>
			</legend>
			<table width="" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td><p:selectOneMenu id="TP_OUTR_FRAU"
							value="#{CadastroOsDetalheProdutoFOBean.cadastroOSDetalheProdutoFO.TP_OUTR_FRAU}"
							style="width:200px">
							<f:selectItem itemLabel="Tipo da Fraude..." itemValue="" />
							<f:selectItem itemLabel="Roubo" itemValue="1" />
							<f:selectItem itemLabel="Furto Qualificado" itemValue="2" />
							<f:selectItem itemLabel="Fraudes em Seguros" itemValue="3" />
							<f:selectItem itemLabel="Diferenças Contábeis" itemValue="4" />
							<f:selectItem itemLabel="Extravio de Documentos" itemValue="5" />
							<f:selectItem itemLabel="Outros" itemValue="6" />

						</p:selectOneMenu></td>
				</tr>

			</table>

		</fieldset>

	</h:form>
</h:body>
</html>
