<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">


		<h:body>
			<style>
.relosFraudeEncerradaDatatable {
	margin: 10px 0;
}

.relosFraudeEncerradaPanelGrid {
	text-align: center;
	width: 100%;
}

.relosFraudeEncerradaPanelGrid tr, .relosFraudeEncerradaPanelGrid .ui-panelgrid-cell
	{
	border: 0;
}
</style>

			<h:form id="form">

				<p:dataTable styleClass="relosFraudeEncerradaDatatable"
					id="tableRelOsFraudeEncerrada"
					emptyMessage="Não exitem dados para o período selecionado."
					var="objRelat" value="#{relosFraudeEncerradaBean.objRsRelat}"
					sortBy="#{objRelat.CANAL}" varStatus="index">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="6" style="align:center"
								headerText="Superintendência de Ocorrências Especiais" />
						</p:row>
						<p:row></p:row>
						<p:row>
							<p:column colspan="6" style="align:center"
								headerText="Relatório Fraudes Encerradas" />
						</p:row>
						<p:row></p:row>

						<p:row>
							<p:column colspan="6" style="align:center"
								headerText="Período: #{relosFraudeEncerradaBean.strDtIni} até #{relosFraudeEncerradaBean.strDtFim}" />
						</p:row>
						<p:row></p:row>
						<p:row rendered="#{not empty relosFraudeEncerradaBean.objRsRelat}">
							<p:column headerText="Banco" />
							<p:column headerText="Quantidade" />
							<p:column headerText="Valor Risco Potencial" />
							<p:column headerText="Valor Envolvido" />
							<p:column headerText="Valor Prejuízo" />
							<p:column headerText="Canal" />
						</p:row>
					</p:columnGroup>
					

					<p:summaryRow>
						<p:column colspan="1" style="text-align:right">
							<h:outputText value="Total:" />
						</p:column>
						<p:column colspan="2">
							<h:outputText
								value="#{relosFraudeEncerradaBean.quantidadeTotal(objRelat.CANAL)}" />
						</p:column>
						<p:column colspan="2">
							<h:outputText
								value="R$ #{relosFraudeEncerradaBean.valorTotal(objRelat.CANAL)}" />
						</p:column>
					</p:summaryRow>
					<c:if test="#{relosFraudeEncerradaBean.size() == index}">
						<p:columnGroup type="footer">
							<p:row>
								<p:column colspan="1" style="text-align:right"
									footerText="Total Geral: ">
								</p:column>
								<p:column 
									footerText="#{relosFraudeEncerradaBean.quantidadeTotalGeral()}">
								</p:column>
								<p:column></p:column>
								<p:column 
									footerText="R$ #{relosFraudeEncerradaBean.valorTotalGeral()}">
								</p:column>
								<p:column></p:column>
							</p:row>
						</p:columnGroup>
					</c:if>

				</p:dataTable>

				<h:commandLink id="download">
					<h:outputText>Download</h:outputText>
					<f:setPropertyActionListener value="false"
						target="#{exporterBean.customExporter}" />
					<pe:exporter type="xlsx" target="tableRelOsFraudeEncerrada"
						fileName="OCESP_Relatorio" fontName="Calibri"
						cellFontColor="#000000" cellFontSize="150" cellFontStyle="NORMAL"
						encoding="UTF-8"
						postProcessor="#{relosFraudeEncerradaBean.postProcessExcel}" />
				</h:commandLink>

			</h:form>
			<script>
				//<![CDATA[
				 window.onload = function() {
					document.getElementById('form:download').click();
					document.body.innerHTML = '<h1>Aguarde.Requisição está sendo processada...<h1>';
					 window.setTimeout(function(){
						//window.open('hyb_relatorioos.xhtml','_self');
						 window.open('hyb_relatorioos.xhtml?pDtIni=#{relosFraudeEncerradaBean.strDtIni}&pDtFim=#{relosFraudeEncerradaBean.strDtFim}','_self');
					},5000); 
				 }
				function Voltar() {
					history.back();
				}

				function Imprimir() {
					window.print();
				}
				function LimparUrl(){
					history.pushState(null, '', '');
				}
				//]]>
			</script>

		</h:body>

</ui:composition>