<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title></title>
	<h:outputStylesheet name="css/hy_style.css" />
	<h:outputStylesheet name="css/hy_calendar.css" />
	<h:outputScript name="javascript/hy_funcoes.js" />
	<h:outputScript name="javascript/hy_calendario.js" />
	<h:outputScript name="javascript/hy_paginacao.js" />
	
	<script type="text/javascript">
        //<![CDATA[
        	
			function AtribuiEmail()
			{
			    var strEmailDest = document.getElementById('frm:txtNmEmail').value;
			    document.getElementById('frm:txthdNmEmail').value = document.getElementById('frm:txtNmEmail').value;
 			
			}
             	
        //]]>
    </script>
    
</h:head>


<h:body class="PanelTitle">

	<h:form id="frm" method="post" name="frm">
	  
	  <!--table width="100%" border="0" cellpadding="1" cellspacing="1">
	  <tr style="background-color:red; height:1px"><td></td></tr>
	  <tr style="background-color:red; color:White; height:20px">
	  <td valign="middle">
	  &nbsp;<img align="absmiddle" src="../images/seta_vermelha.gif"/>
	  &nbsp;<b>Pesquisa de E-mail</b>
	  </td>
	  </tr>    
	  </table-->
	  
	  <fieldset class="PanelTitle">
	    <table border="0" cellpadding="1" cellspacing="1" width="100%">
	      <tr>
	        <td width="22%">Destinatário:</td>
	        <td colspan="2">
	          <p:inputText id="txtNmFunc" name="txtNmFunc" style="width:250px" type="text" value="#{AdmWorkflowNotificacaoManualBean.txtNmFunc}"/>
	        </td>
	      </tr>
	
	      <tr>
	        <td width="22%">E-mail</td>
	        <td colspan="2">
	          <p:inputTextarea id="txtNmEmail" name="txtNmEmail" onblur="AtribuiEmail()" style="text-align:left;width:80%;height:50" value="#{AdmWorkflowNotificacaoManualBean.txtNmEmail}"/>
	        </td>
	      </tr>
	    </table>
	
	  </fieldset>
	
	  <iframe border="1" frameborder="0" height="250" id="ifrmEmail" name="ifrmEmail" scrolling="no" src="hyb_adm_workflow_notificacao_pesq_email_iframe.xhtml" width="100%"></iframe>
	
	  <p:inputText id="txthdCkFunc" name="txthdCkFunc" style="display: none" value=""/>
	  <p:inputText id="txthdNmEmail" name="txthdNmEmail" style="display: none" value=""/>
	  
	</h:form>

</h:body> 
</html>