<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
    <title></title>
    <h:outputStylesheet name="css/hy_style.css" />
    <h:outputStylesheet name="css/hy_calendar.css" media="screen"/>
	<h:outputScript name="javascript/hy_funcoes.js" />
	<h:outputScript name="javascript/hy_calendario.js" />
	
	<script type="text/javascript">
		//<![CDATA[
			//parent.parent.titulo.location.href = 'Titulo.asp?strTitulo="WorkFlow - Pesquisar Notificaçőes Manuais - Detalhes"';
			//parent.parent.rodape.location.replace("HY_BtnGenerico.asp?strButton=Voltar/Voltar");
			
			
			/*function window.onload (){
				//Resize();
			}*/
			
			function Resize(){
			    //window.parent.document.all['ifrmNovaOs'].height=this.document.body.scrollHeight;	
				window.parent.document.all['ifrmNovaOs'].height=400;	
			}
			
			
			function Voltar(){
			  	window.open("hyb_adm_workflow_notificacao_pesq.xhtml", '_self', '');    
			}
		//]]>
	</script>
			
</h:head>

<h:body class="PanelTitle">
<h:form id="frm" name="frm">

<table border="0" width="100%">

</table>

<ui:repeat value="#{AdmWorkflowNoificacaoReenviaBean.objRsNotiEnvs}" var="objRsNotiEnv">
	<p:fieldset>
		<table width="100%" border="0">
		    <tr>
		        <td width="30%">Nº O.S:</td>
		        <td><h:inputText id="txtNrOS" type="txtNrOS" style="width:100px" value="#{objRsNotiEnv.NR_SEQU_ORDE_SERV}" readonly="true" /></td>
		    </tr>
		    <tr>
		        <td>Destinatário:</td>
		        <td><h:inputText id="txtDestinatario" type="txtDestinatario" style="width:250px" value="#{AdmWorkflowNoificacaoReenviaBean.strDest}" readonly="true" /></td>
		        <!-- <%=Left(strDest, len(strDest)-1)%> -->
		    </tr>    
		    <tr>
		        <td>Tipo:</td>
		        <td><h:inputText id="txtTipo" type="txtTipo" style="width:300px" value="#{objRsNotiEnv.NM_NOTI}" readonly="true" /></td>
		    </tr>
		    <tr>
		        <td>Prazo de Retorno:</td>
		        <td><h:inputText id="txtPrzRet" type="txtPrzRet" value="#{objRsNotiEnv.DATA_RET}" readonly="true" /></td>
		    </tr>
		    <tr><td></td></tr>
		    <tr>
		        <td colspan="2">Mensagem:<br />
		            <p:inputTextarea id="TextArea1" cols="20" rows="2" style="width:100%; height:200px" readonly="true" value="#{objRsNotiEnv.TX_MESG}"></p:inputTextarea>        
		        </td>
		    </tr>
		
		</table>
	</p:fieldset>
</ui:repeat>


<table><tr style="height:2px"><td ></td></tr></table> 
	<iframe id="ifrmInfAnex" 
			name="ifrmInfAnex" 
			src="hyb_adm_workFlow_notificacao_reenvia_iframe.xhtml?strNrSeqNoti=#{AdmWorkflowNoificacaoReenviaBean.strNrSeqNoti}"
			scrolling="no"                       
			frameborder="0" 
			width="100%" 
			border="1"
			height="150">
	</iframe>
	<!-- HY_Adm_WorkFlow_Noificacao_Reenvia_IFrame.asp?strNrSeqNoti=<%=strNrSeq%> -->
	
	<!-- Inputs ocultos -->
	<input id="txthdInfSeqOs" name="txthdInfSeqOs" type="hidden" value="strNrSeq" />
	
	<p:commandButton value="Voltar" styleClass="btn_110" style="cursor:hand" onclick="Voltar();" />
</h:form>
</h:body>
</ui:define></ui:composition>