<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

<!-- 	<ui:define name="content"> -->

<h:head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/hy_style.css"
		media="screen" />
	<link type="text/css" rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/hy_calendar.css"
		media="screen" />
	<script type="text/javaScript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	<script type="text/javaScript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
	<script type="text/javaScript"
		src="#{facesContext.externalContext.requestContextPath}/javascript/formchek.js"></script>

	<style type="text/css">
.ui-widget-content {
	border: none;
}

.ui-widget-content ul {
	list-style-type: none;
	padding: 0;
}
</style>

	<ui:insert name="javaScriptReference" />

	<script type="text/javascript">
		//<![CDATA[
		parent[0].location.search = "strTitulo=#{cadOsMenuBean.strTitulo} - #{cadOsMenuBean.strNrSeqOs} - Açőes Complementares";

		window.onload = function() {
			parent.PF("statusDialog").hide();
			Resize();
		}

		function Resize() {
			window.parent.document.all['ifrmNovaOs'].height = this.document.body.scrollHeight;
			//window.parent.document.all['ifrmNovaOs'].height=400;	
		}

		
		function VerificaData(aObj) {
			if (aObj.value!='' && aObj.value!='__/__/____')
				if (!isDateString(aObj.value)) {
					alert("Data inválida.");
					aObj.focus();
				}
		}

		function MascararData(obj) {
			if (obj.value.length == 2) {
				obj.value += '/';
			}
			if (obj.value.length == 5) {
				obj.value += '/';
			}
		}

		//]]>
	</script>
</h:head>
<h:body class="PanelTitle">


	<h:form id="frm" name="frm" method="post">

		<table>
			<tr>
				<td><b>Autoridade Policial</b></td>
			</tr>
		</table>
		<p:dataList var="rsCadOsAcoesCompl"
			value="#{cadOsAcoesComplBean.objRsCadOsAcoesCompl}">
			<table>
				<tr>
					<td width="16"></td>
					<td>Nº B.O.:</td>
					<td><p:inputText id="txtNrBo" name="txtNrBo"
							style="width:150px" value="#{rsCadOsAcoesCompl.intNrBo}"
							maxlength="20"
							disabled="#{cadOsAcoesComplBean.desabilitarCampos}" /></td>
				</tr>
				<tr>
					<td></td>
					<td>Delegacia:</td>
					<td><p:inputText id="txtNmDelegacia" name="txtNmDelegacia"
							style="width:150px" value="#{rsCadOsAcoesCompl.strNmDelegacia}"
							maxlength="30"
							disabled="#{cadOsAcoesComplBean.desabilitarCampos}" /></td>
				</tr>
				<tr>
					<td></td>
					<td>Data Registro:</td>
					<td><p:calendar id="button"
							value="#{rsCadOsAcoesCompl.dteRegistro}" pattern="dd/MM/yyyy"
							mask="99/99/9999" locale="pt_BR" showOn="button"
							onblur="VerificaData(this)"
							disabled="#{cadOsAcoesComplBean.desabilitarCampos}" /></td>
				</tr>
			</table>

			<table>
				<tr style="height: 20px">
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><b>Forum</b></td>
				</tr>
			</table>
			<table width="" border="0" cellpadding="1" cellspacing="1">
				<tr>
					<td width="16"></td>
					<td>Existe Processo Jurídico?</td>
					<td><h:panelGrid style="margin-bottom:10px"
							cellpadding="5">
							<p:selectOneRadio id="existeProcessoJuridico"
								value="#{rsCadOsAcoesCompl.intInProcJuri}"
								disabled="#{cadOsAcoesComplBean.desabilitarCampos}">
								<f:selectItem itemLabel="Sim" itemValue="1" />
								<f:selectItem itemLabel="Não" itemValue="0" />
							</p:selectOneRadio>
						</h:panelGrid></td>
				</tr>
				<tr>
					<td></td>
					<td>Forum:</td>
					<td><p:inputText id="txtNmForum" name="txtNmForum"
							style="width:160px" value="#{rsCadOsAcoesCompl.strNmForum}"
							maxlength="30"
							disabled="#{cadOsAcoesComplBean.desabilitarCampos}" /></td>
				</tr>
			</table>
		</p:dataList>

		<p:inputText id="txtHdSeqOs" name="txtHdSeqOs" type="hidden"
			value="#{cadOsAcoesComplBean.txtHdSeqOs}"
			disabled="#{cadOsAcoesComplBean.desabilitarCampos}" />

		<p:row rendered="#{!cadOsAcoesComplBean.desabilitarCampos}">
			<div class="row-buttons">
				<p:commandButton value="Salvar" id="salvar" name="salvar"
					action="#{cadOsAcoesComplBean.CadOSAcoesComplAction}" />
			</div>
		</p:row>


	</h:form>


</h:body>

<!-- 	</ui:define> -->
</html>

