<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/templates/template.xhtml"> <ui:define name="content" >

<h:head>
	<h:outputStylesheet name="css/hy_style.css" />

</h:head>

<h:body class="PanelTitle">

	<h:form enctype="multipart/form-data" id="frm">
		<p:inputText id="txthdImpTpAnexo" name="txthdImpTpAnexo" type="hidden" value="#{AnexarArquivoBean.strTpAnexo}" />
		<iframe id="ifrmImpArq" 
				name="ifrmImpArq" 
				src="hyb_anexararquivo_iframe.xhtml"
				scrolling="no" 
				frameborder="0" 
				width="100%" 
				height="80">
		</iframe>
	</h:form>		

</h:body>


</ui:define></ui:composition>