<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
<h:head>
    <title></title>
    <link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css" type="text/css" media="screen" />
   	<link rel="stylesheet" href="#{request.contextPath}/css/hy_calendar.css" type="text/css" media="screen" />
   	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_funcoes.js"></script>
   	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/javascript/hy_calendario.js"></script>
	
	<script type="text/javascript">
		//<![CDATA[
			var intFlagSalvar = 0;
			function SetFlagSalvar(){
			    intFlagSalvar = 1;
			}
			
			function Salvar(){
				 btnSalvar();
				 alert("Histórico de retorno alterado com sucesso!")
				 // document.forms[0].submit();
			}
				
			function Voltar(){
				window.parent.location.href ="hyb_cad_tramite_menu.xhtml?strNrOs=#{cadTramite.strOSField}&NrTramite=#{cadTramite.strNumeroTra}&strReadOnly=#{cadTramite.strReadOnly}";  
			}
			
			function loadFrame() {
				if ("#{cadTramite.lever}" == "false") {
					document.getElementById('frmRet:txtEntrada').addEventListener('focusout', function(e) {
				 		parent.document.getElementById("headerTabs:queryHistret").value = e.target.value;
				 	});
				 	
				 	console.log('laod ret');
					parent.mountDataToInput();
				}
				
			}
			
		//]]>
	</script>
</h:head>
<h:body class="PanelTitle" onload="loadFrame();">
	<h:form id="frmRet">
		
	    <p:remoteCommand name="btnSalvar" update="txtEntrada" actionListener="#{cadTramite.salvarRetorno}" />
    
		<table border="0" width="100%">
		    <tr style="height:2px"><td></td></tr>
		    <tr>
		        <td><b>Histórico Retorno</b><br/>
		            <p:inputTextarea value="#{cadTramite.strHistRetorno}" id="txtEntrada" name="txtEntrada" cols="20" rows="5" counter="txtEntradaCount" style="text-align:left;width:99%;height:130;" maxlength="2000" counterTemplate="{0} caracteres restantes." autoResize="false" onchange="SetFlagSalvar()"></p:inputTextarea>
		        </td>
		    </tr>
		    <tr>        
		        <td align="right" id="td1"> 
		        	<h:outputText id="txtEntradaCount" />
		        </td>
		    </tr>
		    <tr style="height:5px"><td ></td></tr>
		</table>
		
		<table>
			<tr>
				<td>
				</td>
			</tr>
		</table>
		
		<table style="float:right;">
		  <tr>
		    <td>
		    	<p:commandButton type="button" value="Salvar" styleClass="btn_110" onclick="Salvar();" />
				<p:commandButton type="button" value="Voltar" styleClass="btn_110" onclick="Voltar();" />
		    </td>
		  </tr>
		</table>
	</h:form>
</h:body>
</html>