<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<p:ajaxStatus onstart="PF('statusDialog').show()"
		oncomplete="PF('statusDialog').hide()" />

	<p:dialog id="statusDialog" widgetVar="statusDialog" modal="true"
		draggable="false" closable="false" resizable="false"
		showHeader="false" styleClass="loading">
		<p:graphicImage value="/images/aguarde.gif" />
	</p:dialog>

</ui:composition>