<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">


		<h:head>
			<title>Insert title here</title>
			<h:outputStylesheet name="css/HY_Style.css" />
			<h:outputScript name="javascript/HY_Funcoes.js" />

			<script type="text/javascript">
	//<![CDATA[
		//strAmbiente = Left(Trim(UCase(strF6_BF_Ambiente)), 8)
		
		function redirect (strAmbiente){
			strAmbiente = "PRODUCAO"
				switch(strAmbiente) {
				  case DESENVOL:		
						strServer = "http://pjavawebdes.isbanbr.corp/hyb/"
						break;
				  case PI:
						strServer = "http://pjavawebpi.isbanbr.corp/hyb/"
						break;
				  case PROVA IN:
					  strServer = "http://pjavawebpi.isbanbr.corp/hyb/"
							break;
				  case "HOMOLOGA"
						strServer = "http://pjavawebhml.santanderbr.pre.corp/hyb/"
						break;
				  case "PRODUCAO":
						strServer = "http://pjavawebfuser.santanderbr.corp/hyb/"
				    	break;
						default:
							strServer = "google.com";
						//]]>
		}
		</script>

		</h:head>
		<h:body>


		</h:body>


	</ui:define>
</ui:composition>
