<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:jsp="http://java.sun.com/JSP/Page"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                >

<h:head>

	<title>HY - Ocorrências Especiais</title>
	
<script type="text/javascript">
//<![CDATA[
	
	window.open("#{redirectBanespaBean.strServer}",'AUCWindow', ' toolbar=no, status=yes, menubar=yes, resizable=yes, scrollbars=yes, top=0, width=1000, height=670') ;

//]]>
</script>
		
</h:head>

<h:body>


	
</h:body>
</html>