<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


<h:head>
    <title></title>
	<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
				type="text/css" media="screen" />
	<script type="text/javascript">
        //<![CDATA[			
        	
	    //]]>
	</script>
</h:head>
<h:body>
	<h:form>
	    <p:growl id="messages" showDetail="true" />
     
   	 	<!--<p:fileUpload value="#{testeB.file}" mode="simple" skinSimple="true"/>-->
   	 	 
   	 	<p:fileUpload id="txtArquivo" 
  			name="txtArquivo" 
  			skinSimple="true"
 			fileUploadListener="#{testeB.upload}"
  			label="Escolher arquivo"
  			sizeLimit="1024000"
  			invalidSizeMessage="O arquivo enviado ultrapassa o limite de 1MB permitido para envio de arquivos do Portal Corporativo, favor verificar!"/>

   	 	 
    	 
   		<br /> <br />
     
    	<p:commandButton value="Submit" ajax="false" action="#{testeB.deletarFile}" disabled="false" />
	</h:form>

</h:body>
</html>
