<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
	
	<h:head>
		<title></title>
 		<link rel="stylesheet" href="#{request.contextPath}/css/hy_style.css"
             type="text/css" media="screen" />
		
	</h:head>
	<h:body leftmargin="1" topmargin="1" rightmargin="1" bottommargin="1"
		bgproperties="fixed" style="margin: 0; height: 20px;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr bgcolor="#C02000">
				<td style="height: 20px; color:white; padding-left:10px"><b>
						<h:outputText value="#{tituloBean.strTitulo}"></h:outputText>
				</b></td>
			</tr>
		</table>
	</h:body>
</html>
