<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:head>
			<title>Siglas de Acessos</title>
			<link rel="stylesheet" type="text/css"
				href="../css/Estilo.css" media="screen" />
			<link rel="stylesheet" type="text/css"
				href="../css/EstiloAbas.css" media="screen" />

			<script type="text/javascript" src="../javascript/funcoes.js"></script>

		</h:head>
		<h:body>
			<h:form method="post" action="">
				<table width="100%" align="center" border="0"
					styleClass="PanelTitle">
					<tr>
						<td>
							<fieldset>
								<table width="100%" align="center" border="0"
									styleClass="PanelTitle">
									<tr>
										<td styleClass="filtro">Dados da Sigla de Acesso</td>
									</tr>
								</table>
								<table width="100%" align="center" border="0"
									styleClass="PanelTitle">
									<tr>
										<td styleClass="filtro" width="20%" align="left">Sigla de
											Acesso</td>
										<td width="20%" align="left"><p:inputText
												name="txtSiglaAcesso" size="15" maxlength="15"
												value="#{upvBean.upvMock.strSiglaWindows}" disabled="true"></p:inputText></td>
										<td styleClass="filtro" width="10%" align="left">Status</td>
										<td width="50%" align="left"><h:outputText
												name="txtStatus" size="15" maxlength="15"
												value="#{upvBean.upvMock.strStatus}" disabled="true"></h:outputText></td>
									</tr>
									<tr>
										<td styleClass="filtro" width="20%" align="left">
											Matrícula</td>
										<td width="20%" align="left"><h:outputText
												name="txtMatricula" size="15" maxlength="15"
												value="#{upvBean.upvMock.strMatricula}" disabled="true">
											</h:outputText></td>
										<td styleClass="filtro" width="10%" align="left">Nome</td>
										<td width="50%" align="left"><h:outputText name="txtNome"
												size="30" maxlength="30" value="#{upvBean.upvMock.strNome}"
												disabled="true"></h:outputText></td>
									</tr>
									<tr>
										<td styleClass="filtro" width="20%" align="left">Cargo</td>
										<td width="20%" align="left"><h:outputText
												name="txtCargo" size="30" maxlength="30"
												value="#{upvBean.upvMock.strCargo}" disabled="true"></h:outputText></td>
										<td width="20%" align="left" styleClass="Filtro">Perfil
											Padrão Atual</td>
										<td width="40%"><h:outputText name="txtPerf" size="15"
												maxlength="15" value="#{upvBean.upvMock.strPerfilAtual}"
												disabled="true"></h:outputText></td>
									</tr>
								</table>
							</fieldset>
						</td>
					</tr>
				</table>
				<table id="tblUsuOthersAlt" width="100%" align="center" border="0"
					styleClass="PanelTitle" style="display: none">
					<tr>
						<td>
							<fieldset>
								<table width="100%" align="center" border="0">
									<tr>
										<td align="left" width="90%" styleClass="filtro">Perfil
											Padrão Windows &#160; <select id="strPerfilOther"
											onChange="fnAtualizaHidden(this.value);">
												<option value="-1">-- Selecione --</option>
												<h:outputText
													value="#{Upv_PerfPortalSiglasAcessosBean.strCbxPerfisPadraoAlt}" />
										</select>
										</td>
									</tr>
								</table>
							</fieldset>
						</td>
					</tr>
				</table>
				<table id="tblUsuOthers" width="100%" align="center" border="0"
					styleClass="PanelTitle">
					<tr>
						<td>
							<fieldset>
								<table width="100%" align="center" border="0">
									<tr>
										<td align="left" width="90%" styleClass="filtro">Perfil
											Padrão Windows sugerido&#160;&#160;&#160;<p:inputText
												name="txtPOG"
												value="#{Upv_PerfPortalSiglasAcessosBean.strPerfilSugerido}"
												disabled="true"></p:inputText>
										</td>
										<td align="left" width="10%">Alterar <h:graphicImage
												src="../images/ico_alt.gif" style="cursor: hand" alt="Alterar"
												onClick="fnAlterar()">
                                    
                                        &#160;
                                    </h:graphicImage>
										</td>
									</tr>
								</table>
							</fieldset>
						</td>
					</tr>
				</table>
				<table id="tblUsuAdm" width="100%" align="center" border="0"
					class="PanelTitle">
					<tr>
						<td><p:fieldset>
								<table width="100%" align="center" border="0">
									<tr>
										<td align="left" width="90%" class="filtro">Perfil Padrão
											Windows &#160; <select id="strPerfil"
											onChange="fnAtualizaHidden(this.value);">
												<h:outputText
													value="#{Upv_PerfPortalSiglasAcessosBean.strCbxPerfisPadrao}" />
										</select>
										</td>
									</tr>
								</table>
							</p:fieldset></td>
					</tr>
				</table>
				<p:inputText type="hidden" id="hdnPerf" name="hdnPerf"
					value="#{Upv_PerfPortalSiglasAcessosBean.strPerfilSugerido}" />
				<p:inputText type="hidden" id="hdnCodPerf" name="hdnCodPerf"
					value="#{Upv_PerfPortalSiglasAcessosBean.strCodPerfilSugerido}" />
				<p:inputText type="hidden" id="hdnTpRec" name="hdnTpRec"
					value="#{Upv_PerfPortalSiglasAcessosBean.strTipoRec}" />
				<p:inputText type="hidden" id="hdnSiglaAcess" name="hdnSiglaAcess"
					value="#{Upv_PerfPortalSiglasAcessosBean.strSiglaWindows}" />
				<p:inputText type="hidden" id="hdnMatricula" name="hdnMatricula"
					value="#{Upv_PerfPortalSiglasAcessosBean.strMatricula}" />
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>

