BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    SCROLLBAR-FACE-COLOR: #ffffff;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #666666;
    COLOR: #000000;
    SCROLLBAR-3DLIGHT-COLOR: #666666;
    SCROLLBAR-ARROW-COLOR: #cc0000;
    PADDING-TOP: 0px;
    SCROLLBAR-TRACK-COLOR: #d8d8d8;
    FONT-FAMILY: verdana;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
    SCROLLBAR-BASE-COLOR: #ffffff;
}

.Radio
{
    border:0px;
    background-color:#E8E8E8;
}	

.form
{
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #808080 1px solid;
    BORDER-BOTTOM: #808080 1px solid;
    FONT-FAMILY: Arial;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='', EndColorStr='');
}

.txt_white
{
    COLOR: #ffffff;
}
.txt_red
{
    COLOR: #ff0000;
}
.txt_gray
{
    FONT-SIZE: 9pt;
    COLOR: #999999;
    FONT-FAMILY: Arial;
}
.txt_gray_bold
{
    FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: tahoma;
}
.txt_dark_red
{
    COLOR: #740101;
}
A
{
    COLOR: #000000;
    TEXT-DECORATION: none;
}
A:hover
{
    COLOR: #000000;
    TEXT-DECORATION:none;
}

IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
}
FORM
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}
INPUT
{		
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: tahoma;
    BACKGROUND-COLOR: #ffffff;
}
SELECT
{
    BORDER-RIGHT: #cccccc solid;
    BORDER-TOP: #cccccc solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #cccccc solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc solid;
    FONT-FAMILY: tahoma;
    BACKGROUND-COLOR: #ffffff;
}
TD
{
    FONT-SIZE: 11px;
    FONT-FAMILY: tahoma;
}
LEGEND
{
    FONT-SIZE: 11px;
    FONT-FAMILY: tahoma;
    color: Black;
    
}
.tbDetalhes
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ebebeb;
}
A.paginacao
{
    COLOR: #666666;
    TEXT-DECORATION: none;
}
A.paginacao:hover
{
    COLOR: #666666;
    TEXT-DECORATION: none;
}
.HeaderLista
{
	HEIGHT:18;
	BORDER-RIGHT: black solid; 
	BORDER-TOP: black solid; 
	BORDER-LEFT: black solid; 
	BORDER-BOTTOM: black solid;
}
.DetalheLista
{
	background-color:"#ffffff";
	height:17; 
}

.HeaderCol
{
    background-image:url(..\imagens\px_vermelho.gif);
    COLOR: #ffffff;
}
.PanelTitle
{
	 FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#E8E8E8', EndColorStr='#FFFFFF');
}
.PanelTitle2
{
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: xx-small;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='RED', EndColorStr='#F29088');
    WIDTH: 100%;
    COLOR: white;
    FONT-FAMILY: Verdana;
    bottom:auto;
}
.pontilhado

{
	BACKGROUND-POSITION: center center;
   BACKGROUND-IMAGE: url(../Imagens/bkg_pontilhado_ib.gif);
   BACKGROUND-REPEAT: repeat-x;
}

.BorderTxtArea
{
    BORDER-RIGHT: #ebebeb 2px solid;
    BORDER-TOP: #ebebeb 2px solid;
    FONT-SIZE: 7pt;
    BORDER-LEFT: #ebebeb 2px solid;
    BORDER-BOTTOM: #ebebeb 2px solid;
}
.LnFtPrt
{
    FONT-SIZE: 6pt;
    LINE-HEIGHT: 8px
}
.LnFtPrtBorderLT
{
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #000000 1px solid;
    LINE-HEIGHT: 10px;
}
.LnFtPrtBorderRT
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 6pt;
    LINE-HEIGHT: 10px;
}
.LnFtPrtBorder
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 6pt;
    BORDER-LEFT: #000000 1px solid;
    LINE-HEIGHT: 10px;
    BORDER-BOTTOM: #000000 1px solid;
}
.LnFtPrtBorderLRT
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #000000 1px solid;
    LINE-HEIGHT: 10px;
}
.LnFtPrtBorderLTB
{
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 6pt;
    BORDER-LEFT: #000000 1px solid;
    LINE-HEIGHT: 10px;
    BORDER-BOTTOM: #000000 1px solid;
}
.LnFtPrtBorderRTB
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 6pt;
    LINE-HEIGHT: 10px;
    BORDER-BOTTOM: #000000 1px solid;
}
.LnFtPrtBorderLRB
{
    BORDER-RIGHT: #000000 1px solid;
    FONT-SIZE: 6pt;
    BORDER-LEFT: #000000 1px solid;
    LINE-HEIGHT: 10px;
    BORDER-BOTTOM: #000000 1px solid;
}
.Filtro
{
    FONT-WEIGHT: bold;
}

.link_menu
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT:normal;
    FONT-SIZE: 7pt;
    MARGIN-BOTTOM: 0px;
    COLOR: #000000;
    LINE-HEIGHT: 100%;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none;
}
.link_lista_trabalho
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 0px;
    COLOR: #000000;
    LINE-HEIGHT: 100%;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none;
}
.cabecalho_lista_trabalho
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
.combo_trabalho
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
.botao_trabalho
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px solid;
    COLOR: #000000;
    BORDER-BOTTOM: 0px solid;
    FONT-FAMILY: Verdana;
}
.campo_trabalho
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
.campo_preenchimento
{
    BACKGROUND-COLOR: #DEEFE3;
}

.texto_trabalho
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 0px;
    COLOR: #000000;
    LINE-HEIGHT: 100%;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
}
.texto_negrito_trabalho
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 0px;
    COLOR: #000000;
    LINE-HEIGHT: 100%;
    FONT-FAMILY: Verdana;
}
.texto_italico_trabalho
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 0px;
    COLOR: #000000;
    LINE-HEIGHT: 100%;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana;
}
.link_menu_vertical
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT:normal;
    FONT-SIZE: 7pt;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR:Black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
}
.tabela_trabalho
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #dfdfdf;
}
.tabela_cabecalho_trabalho
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #c0c0c0;
    TEXT-ALIGN: center;
}
.tabela_cabecalho_trabalho_escuro
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #999999;
    TEXT-ALIGN: center;
}
.tabela_linhas_trabalho
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #dfdfdf;
}
.tabela_linhas_negrito_trabalho
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #dfdfdf;
}
.tabela_linhas_link_trabalho
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #dfdfdf;
    TEXT-DECORATION: none;
}
.tabela_linhas_trabalho_claro
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eaeaea;
}
.tabela_linhas_negrito_trabalho_claro
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eaeaea;
}
.tabela_linhas_trabalho_escuro
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #bcbcbc;
}
.tabela_linhas_negrito_trabalho_escuro
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #bcbcbc;
}
.tabela_trabalho_rel
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: white;
}
.tabela_cabecalho_trabalho_rel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center;
}
.tabela_linhas_trabalho_rel
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white;
}
.tabela_linhas_negrito_trabalho_rel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white;
}
.tabela_linhas_trabalho_claro_rel
{
    FONT-SIZE: 9pt;
    COLOR: #808080;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white;
}
.tabela_linhas_trabalho_escuro_rel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white;
}
.clsLabel2
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 11px;
}
.clsLabel
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
}
.clsTitulo1
{
    BACKGROUND-COLOR: #B40000;
    COLOR: #ebebeb;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 12px;
    FONT-WEIGHT: 800;
    TEXT-ALIGN: right;
}
.clsTitulo2
{
    BACKGROUND-COLOR: #B40000;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 12px;
    FONT-WEIGHT: 800;
    TEXT-ALIGN: left;
}
.clsTitulo3
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}
.clsTitulo4
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold;
}
.clsTitulo
{
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
}
.clsLabel3
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10pt;
}
.clsLabel4
{
    COLOR: #000000;
    FONT-FAMILY: arial, Verdana;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
}
.clsLabel5
{
    COLOR: #B40000;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10px;
    FONT-WEIGHT: 900;
}
.clsLabel6
{
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
}
.clsTitulo5
{
    COLOR:#000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
}
input
{
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10px;
}
select
{
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10px;
}
.clsLabel7
{
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10px;
    FONT-STYLE: bold;
}
.clsLabel8
{
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10px;
}
.clsTitulo7
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #ffffff;
}
TR.TableLight
{
    COLOR: #666666;
    FONT-FAMILY: Verdana;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #f3f3f3;
}
.texto
{
    COLOR: #666666;
}
TR.TableDark
{
    COLOR: black;
    BACKGROUND-COLOR: #dcdcdc;
}
TR.TableRed
{
    COLOR: white;
    BACKGROUND-COLOR: #d7382d;
}
.tblDetalhe
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ebebeb;
}
.textoBtn
{
    FONT-FAMILY: Arial, Verdana,;
    COLOR: #ffffff;
	border-style: solid; 
	background-color: #cccccc;
}

.spanLink
{
	cursor:hand;
	color:black;	
}

.txtReadyOnly
{
    background-color:#DEEFE3;   	 	
}
.RelTitulo
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
 
}
.RelSubTitulo
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
 
}
.RelTxt
{
	font-family: Arial;
	font-size: 10px;
	color: #000000;

 
}
.RelTxt2
{
	font-family: Arial;
	font-size: 2px;
}
/*Trava a coluna da esquerda*/
.GridItemFixed
{	 	
	font-weight:bold;
	position:relative;
	left: expression(document.getElementById("divOverFlow").scrollLeft-1); /*IE5+ only*/
	z-index: 10;
}

/*Trava o Header*/
.GridItemFixedHeader
{	 	
	font-weight:bold;
	position:relative;
	top: expression(document.getElementById("divOverFlow").scrollTop-1); /*IE5+ only*/
	z-index: 10;
}

.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
}

.space_dataTable{
	padding: 10 0;
}

.btn-excluir{
	background-image: url("../images/btn_excluir_ib.gif") !important;
	padding:5px;
}

.btn-limpar{
	background: none !important;
	border-color: transparent !important;
	border:0;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
    border: 0 !important;
}
.row-inputTop{display:flex; flex-direction: row; justify-content: flex-start; margin: 10px 0;}
.row-buttons{display:flex; flex-direction: row; justify-content: flex-end; margin-top: 10px 0;}
.row-buttons button{margin: 0 4px;}


.row-buttons-center{display:flex; flex-direction: row; justify-content: space-between; margin: 10px 0;}
.row-buttons-center button{margin: 0 4px;}

.row-buttons1-center{display:flex; flex-direction: row; justify-content: space-between; margin: 10px 0;}
.row-buttons1-center button{margin: 0 4px; flex-grow:1}