
        .container {
            width: 100%;
            float: left;
        }
        
        .col {
            padding: 10px;
            box-sizing: border-box;
        }
        
        .col-25 {
            width: 25%;
            min-height: 100px;
            float: left;
        }
        
        .col-33 {
            width: 33%;
            min-height: 100px;
            float: left;
        }
        
        .col-33:last-child {
            width: 34%;
        }
        
        .col-50 {
            float: left;
            width: 50%;
            min-height: 100px;
        }
        
           .col-75 {
            float: left;
            width: 75%;
            min-height: 100px;
        }
        
          .col-80 {
            float: left;
            width: 80%;
            min-height: 100px;
        }
        
        .row {
            float: left;
            width: 100%;
            position: relative;
            box-sizing: border-box;
        }
        
        .line-input {
            float: left;
            width: 100%;
            position: relative;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        
        label {
            float: left;
            width: 100%;
            margin-bottom: 3px;
            font-size: 12px;
        }
        
/* margin */
.m-auto { margin: auto; }
.m-1 { margin: 1.2em; }
.m-2 { margin: 1.5em; }
.m-3 { margin: 2em; }
.m-4 { margin: 2.5em; }
.m-5 { margin: 3em; }

.mt-1 { margin-top: 1.2em; }
.mt-2 { margin-top: 1.5em; }
.mt-3 { margin-top: 2em; }
.mt-4 { margin-top: 2.5em; }
.mt-5 { margin-top: 3em; }

.mr-1 { margin-right: 1.2em; }
.mr-2 { margin-right: 1.5em; }
.mr-3 { margin-right: 2em; }
.mr-4 { margin-right: 2.5em; }
.mr-5 { margin-right: 3em; }

.mb-1 { margin-bottom: 1.2em; }
.mb-2 { margin-bottom: 1.5em; }
.mb-3 { margin-bottom: 2em; }
.mb-4 { margin-bottom: 2.5em; }
.mb-5 { margin-bottom: 3em; }

.ml-1 { margin-left: 1.2em; }
.ml-2 { margin-left: 1.5em; }
.ml-3 { margin-left: 2em; }
.ml-4 { margin-left: 2.5em; }
.ml-5 { margin-left: 3em; }


/* padding */
.p-1 { padding: 1.2em; }
.p-2 { padding: 1.5em; }
.p-3 { padding: 2em; }

.pt-1 { padding-top: 1.2em; }
.pt-2 { padding-top: 1.5em; }
.pt-3 { padding-top: 2em; }

.pr-1 { padding-right: 1.2em; }
.pr-2 { padding-right: 1.5em; }
.pr-3 { padding-right: 2em; }

.pb-1 { padding-bottom: 1.2em; }
.pb-2 { padding-bottom: 1.5em; }
.pb-3 { padding-bottom: 2em; }

.pl-1 { padding-left: 1.2em; }
.pl-2 { padding-left: 1.5em; }
.pl-3 { padding-left: 2em; }


/* alinhamento de textos */

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }


/* fontes */
.f-small { font-size: .8em; }
.f-big { font-size: 1.2em; }

.f-light { font-weight: light }
.f-bold { font-weight: bold; }

/* border */
.b-none { border: none !important; }